{% extends "admin/base.html" %}

{% load static %}
{% block uname %}
{{user.username}}
{% endblock uname %}
{% block content %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .control-label{
        margin-bottom:15px;
        font-size:12px;
        border:1px solid #EDEDEE;
        display:block;
        cursor:default;
        background-color:white;
        border-radius:10px;
        padding:5px;
    }
    caption{

        font-size:15px;
        padding:3px;
    }
    .label {
        color: black;
        min-width:200px;
        text-align:right;
        float:left;
        margin-left:5px;
    }
    label{
        max-width:100%;
        font-weight:bold;
    }
    .suit-columns1{
        width:100%;
    }

    .container-fluid
    {
        padding-right:0px;
        padding-left:0px;
        *zoom:1;
    }
    .container-fluid:before,.container-fluid:after
    {
        display:table;
        content:"";
        line-height:0;
    }
    .container-fluid:after
    {
        clear:both;
    }

    .col-md-12, .col-md-4 , .col-md-3 , .col-md-6{
        position: relative;
        min-height: 1px;
        padding-right: .9375rem;
        padding-left: .9375rem;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-4, .col-md-3, .col-md-6{
        float:left;
        width: 30%;
    }
    .col-md-3 {
        width: 24%;
        padding-left:5px;
        padding-right:5px;
    }
    .col-md-6 {
        width: 45%;
    }

    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1.42857143;


    }

    .fa{
        font-size:25px;

    }
    a{
        text-decoration:none;

    }










</style>

<style>


.info-box {
    cursor: pointer;
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}
.bg-aqua {
    background-color: #00c0ef !important;
}
.info-box-content {
    text-align: center;
    vertical-align: middle;
    display: inherit;
}
.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}
.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.bg-red, .bg-yellow, .bg-aqua, .bg-green{
    color: #fff !important;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}
.bg-red {
    background-color: #dd4b39 !important;
}
.bg-green {
    background-color: #00a65a !important;
}
.info-box {
    cursor: pointer;
}
.bg-yellow {
    background-color: #f39c12 !important;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    text-align:center;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.no-padding {
    padding: 0 !important;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;

}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;

}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.box-body>.table {
    margin-bottom: 0;

}
.box-title{
    font-size:13px !important;
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
#myChart{
    width:100% !important;
    height:100% !important;
    font-size:20px !important;
    display: block;
    vertical-align: baseline;
    background-color:#fff;
}
p {
    margin: 0 0 10px;
}
.text-center{
    text-align:center;
    font-size:15px;
}
.graph_div{
    background-color: #fff;
    margin-right: 10px;
    padding-top:10px;

}
.right_graph_div{
    float: left;
    width: 40%;
    margin-left:0px;
    height:350px;
}
#piechart_3d{
    width:100%;
    height:100%;
}
g >text{
    font-size:15px;
}
.age_div{
    float: left;
    width: 100%;
    margin-top: 10px;
}
.loan_div{
    float: left;
    width: 100%;

    margin-top: 10px;
    height:400px;
}
.suit-columns1 .row.remove-padding {
    margin-left: 0 !important;
    margin-right: 0;
    padding: 0 20px;
}









</style>

<div class="suit-columns1">

    <div style="float:left;width:100%;" class="container-fluid">
        <div class=" remove-padding">


            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="/user-data/total_employee/" style="color:#000;">
                    <div class="info-box">
                                     <span class="info-box-icon bg-aqua">
                                            <i class="fa fa-user"></i>
                                     </span>
                        <div class="info-box-content">
                                <span class="info-box-text">
                                        Total <br/>Employee Under B.A.
                                </span>
                            <span class="info-box-number">{{Total_B_A}}</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a style="color:#000;">
                    <div class="info-box">
                                    <span class="info-box-icon bg-yellow">
                                        <i class="fa fa-file-text-o"></i>
                                    </span>
                        <div class="info-box-content">
                                <span class="info-box-text">
                                        Unique <br/> B.A. Shared Count
                                </span>
                            <span class="info-box-number">{{unique_share_B_A}}</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a style="color:#000;">
                    <div class="info-box">
                                        <span class="info-box-icon bg-yellow">
                                            <i class="fa fa-file-text-o"></i>
                                        </span>
                        <div class="info-box-content">
                                    <span class="info-box-text">
                                            Actual <br/> Register
                                    </span>
                            <span class="info-box-number">{{reg_share}}</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a style="color:#000;">
                    <div class="info-box">
                                    <span class="info-box-icon bg-yellow">
                                        <i class="fa fa-file-text-o"></i>
                                    </span>
                        <div class="info-box-content">
                                <span class="info-box-text">
                                        Total <br/> B.A. Subscription<br/> Count
                                </span>
                            <span class="info-box-number">{{total_BA_sub}}</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a style="color:#000;">
                    <div class="info-box">
                                    <span class="info-box-icon bg-yellow">
                                        <i class="fa fa-file-text-o"></i>
                                    </span>
                        <div class="info-box-content">
                                <span class="info-box-text">
                                        Total <br/> B.A. Approved<br/> Count
                                </span>
                            <span class="info-box-number">{{total_BA_app}}</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="/user-data/associatewise-shared-details/" style="color:#000;">
                    <div class="info-box">
                                    <span class="info-box-icon bg-red" style="background-color:#3e344f !important">
                                <i class="fa fa-inr"></i>
                                    </span>
                        <div class="info-box-content">
                                <span class="info-box-text">
                                        Total <br/> B.A. Subscription<br/> Amount
                                </span>
                            <span class="info-box-number">{{total_BA_sub_amt}}</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="/user-data/associatewise-approved-details/" style="color:#000;">
                    <div class="info-box">
                                    <span class="info-box-icon bg-red" style="background-color:#3e344f !important">
                                <i class="fa fa-inr"></i>
                                    </span>
                        <div class="info-box-content">
                                <span class="info-box-text">
                                        Total <br/> B.A. Approved<br/> Amount
                                </span>
                            <span class="info-box-number">{{total_approved_amount}}</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="/user-data/monthwise_data_subscription/" style="color:#000;">
                    <div class="info-box">
                                    <span class="info-box-icon bg-yellow">
                                        <i class="fa fa-file-text-o"></i>
                                    </span>
                        <div class="info-box-content">
                                <span class="info-box-text">
                                        Total <br/> B.A. Shared Count
                                </span>
                            <span class="info-box-number">{{total_user_share_app_data}}</span>
                        </div>
                    </div>
                </a>
            </div>


             <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="/user-data/upload_payment_csv/" style="color:#000;">
                    <div class="info-box">
                                    <span class="info-box-icon bg-yellow">
                                        <i class="fa fa-file-text-o"></i>
                                    </span>
                        <div class="info-box-content">
                                <span class="info-box-text">
                                    Upload Payment CSV
                                </span>
                        </div>
                    </div>
                </a>
            </div>


        </div>

    </div>

<!--    <h3>Upload Payment csv file here *</h3>-->
<!--    <form action="/user-data/csv" method="POST" enctype="multipart/form-data" class="form-horizontal">-->
<!--        {% csrf_token %}-->
<!--        <div class="form-group">-->
<!--            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File:</label>-->
<!--            <div class="col-md-8">-->
<!--                <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">-->
<!--            </div>-->
<!--        </div>-->
<!--        <br>-->
<!--        <div class="form-group">-->
<!--            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">-->
<!--                &emsp; &emsp;&emsp;&emsp;&emsp;<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-upload"-->
<!--                                                                    style="margin-right:5px;"></span>Upload-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--    <br>-->
<!--&lt;!&ndash;    <form action="/user-data/sample_csv" >&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">&ndash;&gt;-->

<!--&lt;!&ndash;                <button type="submit" class="btn btn-success">&ndash;&gt;-->
<!--&lt;!&ndash;                    Download Sample&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;    </form>&ndash;&gt;-->

<!--</div>-->


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>-->
<!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->

<!--<script src="{% static 'js/chartsjs/Chart.js' %}"></script>-->
<!--<script src="{% static 'css/chartsjs/Chart.css' %}"></script>-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<!--&lt;!&ndash;        <div style="float:left;width:60%;" class="container-fluid">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                <div class="col-sm-6 col-xs-12 graph_div">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="box">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="box-header">&ndash;&gt;-->
<!--&lt;!&ndash;                        <h3 class="box-title">Age group of loan disbursed</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                        <p class="text-center"><strong>Salary Range of Loan Disbursed</strong></p>&ndash;&gt;-->
<!--&lt;!&ndash;                        <canvas id="myChart1"></canvas>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;<div style="float:left;width:60%;" class="container-fluid">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="">&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                <div class="col-sm-6 col-xs-12 graph_div">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="box">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="box-header">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="box-title">Total Loan Completed count</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="text-center"><strong>By all Recovery Members</strong></p>&ndash;&gt;-->
<!--&lt;!&ndash;                <canvas id="loan-completed"></canvas>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<br>-->
<!--&lt;!&ndash;<div style="float:left;width:60%;" class="container-fluid">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="">&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                <div class="col-sm-6 col-xs-12 graph_div">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="box">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="box-header">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="box-title">Total Recovered Amount</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="text-center"><strong>By all Recovery Members</strong></p>&ndash;&gt;-->
<!--&lt;!&ndash;                <canvas id="total_recovery_amount"></canvas>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="row">-->


<!--<form action="/user-data/user_daterange_CSVdownload/" method="POST">-->
<!--    {% csrf_token %}-->
<!--          &ensp;&ensp;&ensp;Start Date: <input type="date" name="start_date">&nbsp &nbsp-->
<!--            <br>-->
<!--            &ensp;&ensp;&ensp;&ensp; End Date:<input type="date" name="end_date">-->

<!--            <br>-->
<!--        &emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;&ensp;<input class="btn btn-primary" type="submit" value="Download">-->
<!--        </form>-->

<!--</div>-->
<!--</div>-->

<!--<script>-->


<!--&lt;!&ndash;var ctx = document.getElementById('myChart1');&ndash;&gt;-->
<!--&lt;!&ndash;        var myChart = new Chart(ctx, {&ndash;&gt;-->
<!--&lt;!&ndash;            type: 'bar',&ndash;&gt;-->
<!--&lt;!&ndash;            data: {&ndash;&gt;-->
<!--&lt;!&ndash;                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],&ndash;&gt;-->
<!--&lt;!&ndash;                datasets: [{&ndash;&gt;-->
<!--&lt;!&ndash;                    label: '# Defaulter\'s Payment Per Day By Members',&ndash;&gt;-->
<!--&lt;!&ndash;                    data: [12, 19, 3, 5, 2, 3],&ndash;&gt;-->
<!--&lt;!&ndash;                    backgroundColor: [&ndash;&gt;-->
<!--&lt;!&ndash;                        'rgba(255, 99, 132, 0.2)',&ndash;&gt;-->
<!--&lt;!&ndash;                        'rgba(54, 162, 235, 0.2)',&ndash;&gt;-->
<!--&lt;!&ndash;                        'rgba(255, 206, 86, 0.2)',&ndash;&gt;-->
<!--&lt;!&ndash;                        'rgba(75, 192, 192, 0.2)',&ndash;&gt;-->
<!--&lt;!&ndash;                        'rgba(153, 102, 255, 0.2)',&ndash;&gt;-->
<!--&lt;!&ndash;                        'rgba(255, 159, 64, 0.2)'&ndash;&gt;-->
<!--&lt;!&ndash;                    ],&ndash;&gt;-->
<!--&lt;!&ndash;                    borderColor: [&ndash;&gt;-->
<!--&lt;!&ndash;                        'rgba(255, 99, 132, 1)',&ndash;&gt;-->
<!--&lt;!&ndash;                        'rgba(54, 162, 235, 1)',&ndash;&gt;-->
<!--&lt;!&ndash;                        'rgba(255, 206, 86, 1)',&ndash;&gt;-->
<!--&lt;!&ndash;                        'rgba(75, 192, 192, 1)',&ndash;&gt;-->
<!--&lt;!&ndash;                        'rgba(153, 102, 255, 1)',&ndash;&gt;-->
<!--&lt;!&ndash;                        'rgba(255, 159, 64, 1)'&ndash;&gt;-->
<!--&lt;!&ndash;                    ],&ndash;&gt;-->
<!--&lt;!&ndash;                    borderWidth: 1&ndash;&gt;-->
<!--&lt;!&ndash;                }]&ndash;&gt;-->
<!--&lt;!&ndash;            },&ndash;&gt;-->
<!--&lt;!&ndash;            options: {&ndash;&gt;-->
<!--&lt;!&ndash;                scales: {&ndash;&gt;-->
<!--&lt;!&ndash;                    yAxes: [{&ndash;&gt;-->
<!--&lt;!&ndash;                        ticks: {&ndash;&gt;-->
<!--&lt;!&ndash;                            beginAtZero: true&ndash;&gt;-->
<!--&lt;!&ndash;                        }&ndash;&gt;-->
<!--&lt;!&ndash;                    }]&ndash;&gt;-->
<!--&lt;!&ndash;                }&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->
<!--&lt;!&ndash;        });&ndash;&gt;-->

<!--var ctx = document.getElementById('myChart');-->
<!--        var myChart = new Chart(ctx, {-->
<!--            type: 'bar',-->
<!--            data: getData(),-->
<!--            options: {-->
<!--                scales: {-->
<!--                    yAxes: [{-->
<!--                        ticks: {-->
<!--                            beginAtZero: true-->
<!--                        }-->
<!--                    }]-->
<!--                }-->
<!--            }-->
<!--        });-->
<!--function getData(){-->
<!--    var jsonData = $.ajax({-->
<!--        type:'get',-->
<!--        url: '/recovery/recovery_amount/',-->
<!--        dataType: 'json',-->
<!--        success: function(data){-->
<!--            tempData = JSON.parse(data)-->
<!--            d = tempData['datasets'][0]-->
<!--            var finalData = {-->
<!--            type: 'bar',-->
<!--            data: {-->
<!--                labels:tempData['labels'],-->
<!--                datasets:[{-->
<!--                    label: d['label'],-->
<!--                    data: d['data'],-->
<!--                    backgroundColor: d['backgroundColor'],-->
<!--                    borderColor: d['borderColor'],-->
<!--                    borderWidth: d['borderWidth']-->
<!--                }]-->
<!--            },-->
<!--            options: {-->
<!--                scales: {-->
<!--                    yAxes: [{-->
<!--                        ticks: {-->
<!--                            beginAtZero:true-->
<!--                            }-->
<!--                        }]-->
<!--                    }-->
<!--                }-->
<!--            }-->
<!--            var ctx = document.getElementById("myChart");-->
<!--            var myChart = new Chart(ctx,finalData);-->

<!--            return finalData;-->
<!--        }-->
<!--    });-->
<!--}-->









<!--</script>-->

<!--<script>-->
<!--var ctx = document.getElementById('loan-completed');-->
<!--        var data_list=[]-->


<!--        var completed = new Chart(ctx, {-->
<!--            type: 'bar',-->
<!--            data: getData(),-->
<!--            options: {-->
<!--                scales: {-->
<!--                    yAxes: [{-->
<!--                        ticks: {-->
<!--                            beginAtZero: true-->
<!--                        }-->
<!--                    }]-->
<!--                }-->
<!--            }-->
<!--        });-->
<!--function getData(){-->
<!--    var jsonData = $.ajax({-->
<!--        type:'get',-->
<!--        url: '/recovery/get_completed_recovery_amount/',-->
<!--        dataType: 'json',-->
<!--        success: function(data){-->
<!--            tempData = JSON.parse(data)-->
<!--&lt;!&ndash;            console.log("temp data",tempData)&ndash;&gt;-->
<!--            d = tempData['datasets'][0]-->

<!--            var finalData = {-->
<!--            type: 'bar',-->

<!--            data: {-->
<!--                labels:tempData['labels'],-->
<!--                datasets:[{-->
<!--                    label:  d['label'],-->
<!--                    data: tempData['datasets'][0]['data'],-->
<!--                    backgroundColor: d['backgroundColor']-->
<!--                }]-->
<!--            },-->

<!--            options: {-->
<!--                scales: {-->
<!--                    yAxes: [{-->
<!--                        ticks: {-->
<!--                            beginAtZero:true-->
<!--                            }-->
<!--                        }]-->
<!--                    }-->
<!--                }-->
<!--            }-->

<!--            var ctx = document.getElementById("loan-completed");-->
<!--            var completed = new Chart(ctx,finalData);-->
<!--            return finalData;-->
<!--        }-->
<!--    });-->
<!--}-->














<!--</script>-->
<!--<script>-->

<!--var ctx = document.getElementById('totaldefaulter');-->
<!--        var totaldefaulter = new Chart(ctx, {-->
<!--            type: 'doughnut',-->
<!--            data: getData(),-->
<!--            options: {-->
<!--                scales: {-->
<!--                    yAxes: [{-->
<!--                        ticks: {-->
<!--                            beginAtZero: true-->
<!--                        }-->
<!--                    }]-->
<!--                }-->
<!--            }-->
<!--        });-->
<!--function getData(){-->

<!--    var jsonData = $.ajax({-->
<!--        type:'get',-->
<!--        url: '/recovery/total_defaulter/',-->
<!--        dataType: 'json',-->
<!--        success: function(data){-->
<!--            tempData = JSON.parse(data)-->
<!--            d = tempData['datasets'][0]-->
<!--            temp =tempData['labels']-->
<!--            var finalData = {-->
<!--            type: 'doughnut',-->
<!--            data: {-->
<!--                labels: temp,-->
<!--                datasets:[{-->
<!--                    label: "Population (millions)",-->
<!--                    data: d['data'][0],-->
<!--                    backgroundColor: d['backgroundColor']-->
<!--                }]-->
<!--            },-->
<!--            options: {-->
<!--                scales: {-->
<!--                    yAxes: [{-->
<!--                        ticks: {-->
<!--                            beginAtZero:true-->
<!--                            }-->
<!--                        }]-->
<!--                    }-->
<!--                }-->
<!--            }-->
<!--            var ctx = document.getElementById("totaldefaulter");-->
<!--            var totaldefaulter = new Chart(ctx,finalData);-->
<!--            return finalData;-->
<!--        }-->
<!--    });-->
<!--}-->















<!--</script>-->


<!--&lt;!&ndash;<script>&ndash;&gt;-->
<!--&lt;!&ndash;var ctx = document.getElementById('total_recovery_amount');&ndash;&gt;-->
<!--&lt;!&ndash;        var data_list=[]&ndash;&gt;-->

<!--&lt;!&ndash;        var total_recovery_amount = new Chart(ctx, {&ndash;&gt;-->
<!--&lt;!&ndash;            type: 'bar',&ndash;&gt;-->
<!--&lt;!&ndash;            data: getData(),&ndash;&gt;-->
<!--&lt;!&ndash;            options: {&ndash;&gt;-->
<!--&lt;!&ndash;                scales: {&ndash;&gt;-->
<!--&lt;!&ndash;                    yAxes: [{&ndash;&gt;-->
<!--&lt;!&ndash;                        ticks: {&ndash;&gt;-->
<!--&lt;!&ndash;                            beginAtZero: true&ndash;&gt;-->
<!--&lt;!&ndash;                        }&ndash;&gt;-->
<!--&lt;!&ndash;                    }]&ndash;&gt;-->
<!--&lt;!&ndash;                }&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->
<!--&lt;!&ndash;        });&ndash;&gt;-->
<!--&lt;!&ndash;function getData(){&ndash;&gt;-->
<!--&lt;!&ndash;    var jsonData = $.ajax({&ndash;&gt;-->
<!--&lt;!&ndash;        type:'get',&ndash;&gt;-->
<!--&lt;!&ndash;        url: '/recovery/recovery_amount_v2/',&ndash;&gt;-->
<!--&lt;!&ndash;        dataType: 'json',&ndash;&gt;-->
<!--&lt;!&ndash;        success: function(data){&ndash;&gt;-->
<!--&lt;!&ndash;            tempData = JSON.parse(data)&ndash;&gt;-->
<!--&lt;!&ndash;            d = tempData['datasets'][0]&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            d2 = tempData['datasets'][1]&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            console.log("temp data",tempData)&ndash;&gt;-->
<!--&lt;!&ndash;            var finalData = {&ndash;&gt;-->
<!--&lt;!&ndash;            type: 'bar',&ndash;&gt;-->
<!--&lt;!&ndash;            data: {&ndash;&gt;-->
<!--&lt;!&ndash;                labels:tempData['labels'],&ndash;&gt;-->
<!--&lt;!&ndash;                datasets:[{&ndash;&gt;-->
<!--&lt;!&ndash;                    label: d['label'],&ndash;&gt;-->
<!--&lt;!&ndash;                    data: d['data'],&ndash;&gt;-->
<!--&lt;!&ndash;                    backgroundColor: d['backgroundColor'],&ndash;&gt;-->
<!--&lt;!&ndash;                    borderColor: d['borderColor'],&ndash;&gt;-->
<!--&lt;!&ndash;                    borderWidth: d['borderWidth']&ndash;&gt;-->
<!--&lt;!&ndash;                }]&ndash;&gt;-->
<!--&lt;!&ndash;            },&ndash;&gt;-->

<!--&lt;!&ndash;            options: {&ndash;&gt;-->
<!--&lt;!&ndash;                scales: {&ndash;&gt;-->
<!--&lt;!&ndash;                    yAxes: [{&ndash;&gt;-->
<!--&lt;!&ndash;                        ticks: {&ndash;&gt;-->
<!--&lt;!&ndash;                            beginAtZero:true&ndash;&gt;-->
<!--&lt;!&ndash;                            }&ndash;&gt;-->
<!--&lt;!&ndash;                        }]&ndash;&gt;-->
<!--&lt;!&ndash;                    }&ndash;&gt;-->
<!--&lt;!&ndash;                }&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->

<!--&lt;!&ndash;            var ctx = document.getElementById("total_recovery_amount");&ndash;&gt;-->
<!--&lt;!&ndash;            var total_recovery_amount = new Chart(ctx,finalData);&ndash;&gt;-->

<!--&lt;!&ndash;            return finalData;&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;    });&ndash;&gt;-->
<!--&lt;!&ndash;}&ndash;&gt;-->


<!--&lt;!&ndash;</script>&ndash;&gt;-->

{% endblock %}
