
{% extends "admin/base.html" %}
{% block content %}

{% load static %}


    <h3>Upload Payment csv file here *</h3>
    <form action="/user-data/csv" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File:</label>
            <div class="col-md-8">
                <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                &emsp; &emsp;&emsp;&emsp;&emsp;<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-upload"
                                                                    style="margin-right:5px;"></span>Upload
                </button>
            </div>
        </div>
    </form>
    <br>
<!--    <form action="/user-data/sample_csv" >-->

<!--        <div class="form-group">-->
<!--            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">-->

<!--                <button type="submit" class="btn btn-success">-->
<!--                    Download Sample-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->

<!--    </form>-->

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="{% static 'js/chartsjs/Chart.js' %}"></script>
<script src="{% static 'css/chartsjs/Chart.css' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--        <div style="float:left;width:60%;" class="container-fluid">-->
<!--            <div class="">-->
<!--&lt;!&ndash;                <div class="col-sm-6 col-xs-12 graph_div">&ndash;&gt;-->
<!--                <div class="box">-->
<!--                    <div class="box-header">-->
<!--                        <h3 class="box-title">Age group of loan disbursed</h3>-->
<!--                        <p class="text-center"><strong>Salary Range of Loan Disbursed</strong></p>-->
<!--                        <canvas id="myChart1"></canvas>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--<div style="float:left;width:60%;" class="container-fluid">-->
<!--    <div class="">-->
<!--        &lt;!&ndash;                <div class="col-sm-6 col-xs-12 graph_div">&ndash;&gt;-->
<!--        <div class="box">-->
<!--            <div class="box-header">-->
<!--                <h3 class="box-title">Total Loan Completed count</h3>-->
<!--                <p class="text-center"><strong>By all Recovery Members</strong></p>-->
<!--                <canvas id="loan-completed"></canvas>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<br>
<!--<div style="float:left;width:60%;" class="container-fluid">-->
<!--    <div class="">-->
<!--        &lt;!&ndash;                <div class="col-sm-6 col-xs-12 graph_div">&ndash;&gt;-->
<!--        <div class="box">-->
<!--            <div class="box-header">-->
<!--                <h3 class="box-title">Total Recovered Amount</h3>-->
<!--                <p class="text-center"><strong>By all Recovery Members</strong></p>-->
<!--                <canvas id="total_recovery_amount"></canvas>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="row">


<form action="/user-data/user_daterange_CSVdownload/" method="POST">
    {% csrf_token %}
          &ensp;&ensp;&ensp;Start Date: <input type="date" name="start_date">&nbsp &nbsp
            <br>
            &ensp;&ensp;&ensp;&ensp; End Date:<input type="date" name="end_date">

            <br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;&ensp;<input class="btn btn-primary" type="submit" value="Download">
        </form>

</div>
</div>

<script>


<!--var ctx = document.getElementById('myChart1');-->
<!--        var myChart = new Chart(ctx, {-->
<!--            type: 'bar',-->
<!--            data: {-->
<!--                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],-->
<!--                datasets: [{-->
<!--                    label: '# Defaulter\'s Payment Per Day By Members',-->
<!--                    data: [12, 19, 3, 5, 2, 3],-->
<!--                    backgroundColor: [-->
<!--                        'rgba(255, 99, 132, 0.2)',-->
<!--                        'rgba(54, 162, 235, 0.2)',-->
<!--                        'rgba(255, 206, 86, 0.2)',-->
<!--                        'rgba(75, 192, 192, 0.2)',-->
<!--                        'rgba(153, 102, 255, 0.2)',-->
<!--                        'rgba(255, 159, 64, 0.2)'-->
<!--                    ],-->
<!--                    borderColor: [-->
<!--                        'rgba(255, 99, 132, 1)',-->
<!--                        'rgba(54, 162, 235, 1)',-->
<!--                        'rgba(255, 206, 86, 1)',-->
<!--                        'rgba(75, 192, 192, 1)',-->
<!--                        'rgba(153, 102, 255, 1)',-->
<!--                        'rgba(255, 159, 64, 1)'-->
<!--                    ],-->
<!--                    borderWidth: 1-->
<!--                }]-->
<!--            },-->
<!--            options: {-->
<!--                scales: {-->
<!--                    yAxes: [{-->
<!--                        ticks: {-->
<!--                            beginAtZero: true-->
<!--                        }-->
<!--                    }]-->
<!--                }-->
<!--            }-->
<!--        });-->

var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: getData(),
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
function getData(){
    var jsonData = $.ajax({
        type:'get',
        url: '/recovery/recovery_amount/',
        dataType: 'json',
        success: function(data){
            tempData = JSON.parse(data)
            d = tempData['datasets'][0]
            var finalData = {
            type: 'bar',
            data: {
                labels:tempData['labels'],
                datasets:[{
                    label: d['label'],
                    data: d['data'],
                    backgroundColor: d['backgroundColor'],
                    borderColor: d['borderColor'],
                    borderWidth: d['borderWidth']
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                            }
                        }]
                    }
                }
            }
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx,finalData);

            return finalData;
        }
    });
}









</script>

<script>
var ctx = document.getElementById('loan-completed');
        var data_list=[]


        var completed = new Chart(ctx, {
            type: 'bar',
            data: getData(),
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
function getData(){
    var jsonData = $.ajax({
        type:'get',
        url: '/recovery/get_completed_recovery_amount/',
        dataType: 'json',
        success: function(data){
            tempData = JSON.parse(data)
<!--            console.log("temp data",tempData)-->
            d = tempData['datasets'][0]

            var finalData = {
            type: 'bar',

            data: {
                labels:tempData['labels'],
                datasets:[{
                    label:  d['label'],
                    data: tempData['datasets'][0]['data'],
                    backgroundColor: d['backgroundColor']
                }]
            },

            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                            }
                        }]
                    }
                }
            }

            var ctx = document.getElementById("loan-completed");
            var completed = new Chart(ctx,finalData);
            return finalData;
        }
    });
}














</script>
<script>

var ctx = document.getElementById('totaldefaulter');
        var totaldefaulter = new Chart(ctx, {
            type: 'doughnut',
            data: getData(),
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
function getData(){

    var jsonData = $.ajax({
        type:'get',
        url: '/recovery/total_defaulter/',
        dataType: 'json',
        success: function(data){
            tempData = JSON.parse(data)
            d = tempData['datasets'][0]
            temp =tempData['labels']
            var finalData = {
            type: 'doughnut',
            data: {
                labels: temp,
                datasets:[{
                    label: "Population (millions)",
                    data: d['data'][0],
                    backgroundColor: d['backgroundColor']
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                            }
                        }]
                    }
                }
            }
            var ctx = document.getElementById("totaldefaulter");
            var totaldefaulter = new Chart(ctx,finalData);
            return finalData;
        }
    });
}















</script>

{% endblock %}
