{% extends "Ecom/test_base.html" %}
{% block uname %}
{{user.username}}
{% endblock uname %}

{% block content %}
<body>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    {% if msg %}
                    <b><p>{{ msg }}</p></b><br><br>
                    {% endif %}
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                               <form action="/recovery/add-user-function/" method="post">{% csrf_token %}
                            <div class="row">
                               <div class="col-2">
                                    Enter Username:
                               </div>
                                <div class="col-4">
                                    <input name="username" placeholder="Enter username" type="text">
                                </div>
                            </div>
                                   <br>
                                    <div class="row">
                               <div class="col-2">
                                   Enter Password:
                               </div>
                                <div class="col-4">
                                        <input name="password" placeholder="Enter password" type="password">
                                </div>
                            </div>
                                   <br>
                                         <div class="row">
                               <div class="col-2">
                                     Select Team:
                               </div>
                                <div class="col-4">
                                    <select name="team" style="width:75%;">
                                    {% if teams %}
                                    {% for team in teams %}
                                    <option value="{{team}}">{{team}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                                </div>
                            </div>
                                   <br>


                            <input type="submit" value="submit">
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
{% endblock %}