
{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<div class="page-body">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-header">
               <div id="wait"
                  style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;">
                  <div class="preloader3 loader-block" id="loader">
                     <div class="circ1"></div>
                     <div class="circ2"></div>
                     <div class="circ3"></div>
                     <div class="circ4"></div>
                  </div>
               </div>
            </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Name</th>
                                                <th>Order Text</th>
                                                <th>Installment</th>


                                            </tr>
                                            </thead>


                                            {% if recovery_obj %}

                                            {% for data in recovery_obj %}



                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>{{data.user.username}}</td>
                                                <td>{{data.order_details.order_text}}</td>
                                                <td>{{data.installment}}</td>

                                            </tr>

                                            {% endfor %}
                                            {% endif %}


                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4"><button class="btn btn-primary" onclick="call_data()">Assign Already Exist Orders</button></div>
                        <div class="col-4"></div>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>

<script>


function call_data(){


	$(document).ajaxStart(function () {
		$("#wait").css("display", "block");
	});

	$.ajax({
		type: "POST",
		data: {
		},
		url: "/recovery/create_already_present_order_entry/",
		success: function (data) {

			var data = JSON.parse(data);
			if (data['msg']) {
				alert(data['msg']);
			} else {
				alert("Something Went Wrong");
			}


		}



	});

	$(document).ajaxComplete(function () {
		$("#wait").css("display", "none");
	});


}


</script>

{% endblock %}
