{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Calling Status</th>
                                                <th>Remark</th>
                                                <th>Next Call Time</th>
                                                <th>Next Call Actual Datetime</th>
                                                <th>Call Desc</th>
                                                <th>Next Call Status</th>
                                                <th>Expected Payment Date</th>

                                            </tr>
                                            </thead>
                                            {% if call_data %}
                                            {% for data in call_data %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>{{data.calling_status}}</td>
                                                <td>{{data.remark.remark_title}}</td>
                                                <td>{{data.next_call_time}}</td>
                                                <td>{{data.next_call_actual_Datetime}}</td>
                                                <td>{{data.call_desc}}</td>
                                                <td>{{data.next_call_status}}</td>
                                                <td>{{data.expected_payment_date}}</td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>
{% endblock %}