
{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <form action="/recovery/call_all_data/" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary" style="float:right;" type="submit" >
                            All
                        </button>
                     </form>

                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>User</th>
                                                <th>Call Count</th>



                                            </tr>
                                            </thead>

                                            {% if data %}

                                            {% for key , value  in data.items %}


                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>{{key}}</td>
                                                <td>{{value}}</td>



                                            </tr>

                                            {% endfor %}
                                            {% endif %}


                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>

{% endblock %}
