
{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<div class="page-body">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-header">
            </div>
            <div class="card-block">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="slide"></div>
                     <div class="tab-content">
                        <div class="tab-pane active" id="home7" role="tabpanel">
                           <div class="dt-responsive table-responsive">
                              <table id="table-style-hover"
                                 class="table table-striped table-hover table-bordered nowrap">
                                 <thead>
                                    <tr>
                                       <th>Sr.no</th>
                                       <th>Order Text</th>
                                       <th>Installment</th>
                                       <th>Pending Installment Amount</th>
                                       <th>Customer</th>
                                       <th>Recovery Status</th>
                                       <th>Recovery Member</th>
                                    </tr>
                                 </thead>
                                 {% if data %}
                                 {% for recovery in data %}
                                 <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><a href="/recovery/contact_master_data/{{recovery.order_details.id}}/">{{recovery.order_details.order_text}}</a></td>
                                    <td><a href="/ecom/order_details_related_data/{{recovery.order_details.id}}/">{{recovery.installment}}</a></td>
                                    <td>{{recovery.pending_installment_amount}}</td>
                                    <td>{{recovery.order_details.user.username}}</td>
                                    <td><a class="primary" data-target="#myModal" data-toggle="modal" href="#"
                                       onclick="call_modal('{{recovery.id}}', '{{recovery.order_details.user.username}}', '{{recovery.recovery_status}}')" title="Change Status">{{recovery.recovery_status}}</a></td>
                                    <td>{{recovery.user.username}}</td>
                                 </tr>
                                 {% endfor %}
                                 {% endif %}
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="styleSelector">
   </div>
</div>
<!--   Remarks Modal         -->
<div class="modal fade" id="myModal">
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
            <b>Change Status and Add Payment</b>
            <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
            </button>
         </div>
         <form action="" class="form-horizontal" method="POST">
            {% csrf_token %}
            <!-- Modal body -->
            <div class="modal-body">
               <div class="row">
                  <div class="col-4">
                     <b><label>UserName</label></b>
                  </div>
                  <div class="col-sm-6">
                     <input type="text" id="username" name="username" class="form-control text-center"
                        disabled>
                  </div>
               </div>
               <br>
               <div class="row">
                  <div class="col-4">
                     <b><label>Recovery Status</label></b>
                  </div>
                  <div class="col-sm-6">
                     <select class="col-xs-12 form-control text-center" id="recovery_status" name="recovery_status">
                        <option value="" selected disabled>Select Recovery Status</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                     </select>
                  </div>
               </div>
               <br>
               <div class="row">
                  <div class="col-4">
                     <b><label>Payment Id</label></b>
                  </div>
                  <div class="col-sm-6">
                     <input type="text" id="payment_id" name="payment_id" class="form-control text-center"
                        placeholder="Enter Payment Order Id" value="">
                  </div>
               </div>
               <br>
               <div class="row">
                  <div class="col-4">
                     <b><label>Completed Date</label></b>
                  </div>
                  <div class="col-sm-6">
                     <input type="date" id="completed_date" name="completed_date" class="form-control text-center">
                  </div>
               </div>
               <br>
               <div class="modal-footer">
                  <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                     id="save" name="save" onclick="Call_data_save()" type="button">Save
                  </button>
                  <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                     type="button">Close
                  </button>
               </div>
               <input class="col-xs-10" hidden="" id="recovery_id" name="recovery_id" type="text">
            </div>
         </form>
      </div>
   </div>
</div>
<script>
   function call_modal(recovery_id, username, recovery_status) {
                  var datetime = new Date();
                  document.getElementById('recovery_id').value = recovery_id;
                  document.getElementById('username').value = username;
                  document.getElementById('completed_date').valueAsDate = datetime;

              }

              <!--Recovery call data save-->
              function Call_data_save() {

                  var recovery_id = document.getElementById('recovery_id').value;
                  var recovery_status = document.getElementById('recovery_status').value;
                  var payment_id = document.getElementById('payment_id').value;
                  var completed_date = document.getElementById('completed_date').value;


                  $.ajax({
                      type: "get",
                      data: {
                          'recovery_id': recovery_id,
                          'recovery_status': recovery_status,
                          'payment_id': payment_id,
                          'completed_date': completed_date
                      },
                      url: "/recovery/recovery_call_change_status/",
                      success: function(data) {
                          var data = JSON.parse(data);

                           if (data['msg']){

                              alert(data['msg']);

                              document.getElementById('recovery_id').value = "";
                              document.getElementById('recovery_status').value = "";
                              document.getElementById('payment_id').value = "" ;
                              document.getElementById('completed_date').value = "";


                          }
                          else
                          {
                           alert("Something Went Wrong ");

                          }

                      }
                  });
              }


</script>
{% endblock %}

