{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ msg }}</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>

                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                        <div class="row">
                                            <div class="col-2">
                                                   Enter Commission Percent:
                                            </div>

                                            <div class="col-4">
                                                <div class="input-group">
                                                    <input type="text" placeholder="Enter commission" class="form-control" name="title" id="commission1" onkeypress="return isNumber(event)" required>
                                                </div>
                                            </div>
                                        </div>



                                         <div class="row">
                                            <div class="col-2">
                                                   Select Status:
                                            </div>

                                            <div class="col-4">
                                                <div class="input-group">
                                                    <select name="status"
                                                        class="form-control form-control-primary"
                                                        style="width: 100px;length: 50px;" id="status1" required>
                                                        <option value="Deactive">Deactive</option>
                                                        <option value="Active">Active</option>

                                                </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-3">

                                            </div>

                                            <div class="col-4">
                                                <div class="input-group">
                                                     <input
                                                        type="button"
                                                        class="btn btn-primary waves-effect waves-light m-r-10"
                                                        value="ADD" onclick="create_data()">
                                                </div>
                                            </div>
                                        </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">

                                        <thead>
                                        <tr>
                                            <th>Sr.no</th>
                                            <th>Commission Percent</th>
                                            <th>Status</th>
                                            <th>Edit</th>

                                        </tr>
                                        </thead>

                                        <tbody id="tbody">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header"
                 style="background-color: #ccc; color: blue; size: 10px">
                Commission
                <button type="button" style="color: red" class="close"
                        data-dismiss="modal">&times;
                </button>
            </div>



                <!-- Modal body -->
                <div class="modal-body">


                    <div class="form-group">
                        <label class="col-sm-4"
                               style="text-align: left" for="form-field-1">Commison Percent</label>

                        <div class="col-sm-8">
                            <input type="text" value="" required=""
                                   name="txtclothtype1" id="commission" class="col-xs-12"/>
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="col-sm-4"-->
<!--                               style="text-align: left" for="form-field-1">Description</label>-->

<!--                        <div class="col-sm-8">-->
<!--                            <input type="text" value="" required=""-->
<!--                                   name="txtclothtype1" id="description" class="col-xs-12"/>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-4"
                               style="text-align: left">Status</label>
                        <div class="col-sm-8">
                            <select class="col-xs-12 "name="cmdst"
                                    id="status">

                                <option value="Deactive">Deactive</option>
                                <option value="Active">Active</option>

                            </select>
                        </div>
                    </div>
                </div>

                      <input type="hidden" value="0"
                             name="txtclothtype1" id="id" class="col-xs-12"/>
                <!-- Modal footer -->
                <div class="modal-footer">
                     <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                            id="btnsendmsg" name="btnsendmsg" onclick="Call_data_save()" type="button">Save
                    </button>
                    <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                            type="button">Close
                    </button>

                </div>



        </div>
    </div>
</div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>



<script>

    function table(){

     $.ajax({
                    type: "POST",
                    data: {

                    },
                    url: "/recovery/commission_view/",
                    success: function(data) {

                    	$("#table-style-hover").find("tr:not(:first)").empty();
                        var data = JSON.parse(data);
                        var length = data['len']
                        var commission_data = data['commission_data']

                        for(var i=0; i<length;i++){
                            var sr_no = i + 1
                            var commission_id = commission_data[i].commission_id;
                            var commission_percent = commission_data[i].commission_percentage;

                            var status = commission_data[i].status;



                            var button = '<button type="button" class="btn btn-outline-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"  data-target="#myModal" data-toggle="modal" onclick="call_model(' + "'" + commission_id + "','" + commission_percent + "','" + status + "')" +'"' + 'data-modal="modal-13"<i class="icofont icofont-plus m-r-5"></i> Edit </button>'

                           $("#tbody").append("<tr><td>" + sr_no + "</td><td>" + commission_percent + "</td><td>" + status + "</td><td>"+ button + "</td></tr>")

                        }

                    },
                    error: function(data) {

                }
                });


                }


</script>


<script>
   function create_data(){

    var commission1 = document.getElementById('commission1').value
    var status1 = document.getElementById('status1').value

     $.ajax({
                    type: "POST",
                    data: {
                        'commission1': commission1,
                        'status': status1,


                    },
                    url: "/recovery/create_commission/",
                    success: function(data) {
                        table()

                        document.getElementById('commission1').value = "";
                        document.getElementById('status1').value = "";


                        var data = JSON.parse(data);
                        if(data['msg']){
                        alert(data['msg']);
                        }
                        else{
                        alert("Something Went Wrong");
                        }

                    },
                    error: function(data) {

                }
                });

    }
</script>



<script>
            function call_model(id,commission_percent,status) {

                document.getElementById('id').value = id;
                document.getElementById('commission').value = commission_percent;

            }
</script>

<script>
            <!--Recovery call data save-->
            function Call_data_save() {
                var id = document.getElementById('id').value;
                var commission = document.getElementById('commission').value;
                var status = document.getElementById('status').value;
                 console.log("status======", status);

                $.ajax({
                    type: "POST",
                    data: {
                        'id': id,
                        'commission': commission,
                        'status': status,

                    },
                    url: "/recovery/commission_update/",
                    success: function(data) {
                    console.log("--success",data);

                    },

                });

            }

</script>

<script>
function isCharacter(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 64 && charCode < 91){
        return true;
    }
    if (charCode > 96 && charCode < 123){
        return true;
    }
    if (charCode == 95) {
    return true;
    }
    return false;
}


</script>

<script>
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode == 46 || (charCode > 47 && charCode < 58)) {
        return true;
    }
    return false;
}

</script>



<script>
window.onload = function() {
 table()

};
</script>

{% endblock %}
