
{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<div class="page-body">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-header">
            </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Contact Name</th>
                                                <th>Contact Number</th>


                                            </tr>
                                            </thead>


                                            {% if contact_master_obj %}

                                            {% for data in contact_master_obj %}



                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>{{data.contact_name}}</td>
                                                <td>{{data.contact_no}}</td>

                                            </tr>

                                            {% endfor %}
                                            {% endif %}


                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>



{% endblock %}
