{% extends "recovery/base.html" %}
{% load mathfilters %}
{% block uname %}
{{user.username}}
{% endblock uname %}

{% block content %}
{% if contacts %}
<h3><strong>All Mobile Contact Details</strong></h3>
<hr>
{% for contact in contacts %}
<h4>{{contact}}</h4>
{% endfor %}
{% endif %}
{% endblock %}