

{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<style>
   table, td, th {
   border: 1px solid black;
   }
</style>
<div class="page-body">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-header">
            </div>
            <div class="card-block">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="slide"></div>
                     <div class="tab-content">
                        <div class="tab-pane active" id="home7" role="tabpanel">
                           <div class="dt-responsive table-responsive">
                              <table id="table-style-hover"
                                 class="table table-striped table-hover table-bordered nowrap">
                                 <thead>
                                    <tr>
                                       <th>Sr.no</th>
                                       <th>Name</th>
                                       <th>Number</th>
                                       <th>Amount</th>
                                       <th>Order Text</th>
                                       <th>Installment</th>
                                       <th>Call Count</th>
                                       <th>Recovery Status</th>
                                    </tr>
                                 </thead>
                                 {% if data %}
                                 {% for recovery, count in data.items %}
                                 <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>
                                       <a href="/recovery/contact_master_data/{{recovery.order_details.id}}/">{{count.1}}</a>
                                    </td>
                                    <td>
                                       <a class="primary" data-target="#myModal" data-toggle="modal" href="#"
                                          onclick="call_modal('{{recovery.id}}', '{{recovery.order_details.user.username}}')" title="My Remark">
                                       {{recovery.order_details.user.username}}</a>
                                    </td>
                                    <td>{{recovery.pending_installment_amount}}</td>
                                    <td>
                                       <a href="/ecom/order_details_related_data/{{recovery.order_details.id}}/">{{recovery.order_details.order_text}}</a>
                                    </td>
                                    <td>
                                       <a class="primary" data-target="#payment" data-toggle="modal" href="#"
                                          onclick="call_payment('{{recovery.order_details.id}}', '{{count.1}}', ' {{recovery.order_details.user.username}}', '{{recovery.order_details.order_text}}')">{{recovery.installment}}</a>
                                    </td>
                                    <td>
                                       <a href="/recovery/call_data/{{recovery.id}}/">{{count.0}}</a>
                                    </td>
                                    <td>{{recovery.recovery_status}}</td>
                                 </tr>
                                 {% endfor %}
                                 {% endif %}
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="styleSelector">
   </div>
</div>
<!--   Remarks Modal         -->
<div class="modal fade" id="myModal">
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
            Add Calling Details
            <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
            </button>
         </div>
         <form action="" class="form-horizontal" method="POST">
            {% csrf_token %}
            <!-- Modal body -->
            <div class="modal-body">
               <div class="row">
                  <div class="col-4">
                     <b><label>UserName</label></b>
                  </div>
                  <div class="col-sm-6">
                     <input type="text" id="username" name="username" class="form-control text-center"
                        disabled>
                  </div>
               </div>
               <br>
               <div class="row">
                  <div class="col-4">
                     <b><label>Remark</label></b>
                  </div>
                  <div class="col-sm-6">
                     <select class="col-xs-12 form-control text-center" id="remark" name="remark" required>
                        {% for r in remark %}
                        <option value="{{r.id}}">{{r.remark_title}}</option>
                        {% endfor %}
                     </select>
                  </div>
               </div>
               <br>
               <div class="row">
                  <div class="col-4">
                     <b><label>Next Calling Time</label></b>
                  </div>
                  <div class="col-sm-6">
                     <select class="col-xs-12 form-control text-center" id="next_call_time" name="next_call_time" required>
                        <option value="8:00 AM">8:00 AM</option>
                        <option value="8:30 AM">8:30 AM</option>
                        <option value="9:00 AM">9:00 AM</option>
                        <option value="9:30 AM">9:30 AM</option>
                        <option value="10:00 AM">10:00 AM</option>
                        <option value="10:30 AM">10:30 AM</option>
                        <option value="11:00 AM">11:00 AM</option>
                        <option value="11:30 AM">11:30 AM</option>
                        <option value="12:00 PM">12:00 PM</option>
                        <option value="12:30 PM">12:30 PM</option>
                        <option value="13:00 PM">1:00 PM</option>
                        <option value="13:30 PM">1:30 PM</option>
                        <option value="14:00 PM">2:00 PM</option>
                        <option value="14:30 PM">2:30 PM</option>
                        <option value="15:00 PM">3:00 PM</option>
                        <option value="15:30 PM">3:30 PM</option>
                        <option value="16:00 PM">4:00 PM</option>
                        <option value="16:30 PM">4:30 PM</option>
                        <option value="17:00 PM">5:00 PM</option>
                        <option value="17:30 PM">5:30 PM</option>
                        <option value="18:00 PM">6:00 PM</option>
                        <option value="18:30 PM">6:30 PM</option>
                        <option value="19:00 PM">7:00 PM</option>
                        <option value="19:30 PM">7:30 PM</option>
                        <option value="20:00 PM">8:00 PM</option>
                     </select>
                  </div>
               </div>
               <br>
               <div class="row">
                  <div class="col-4">
                     <b><label>Expected Payment Date</label></b>
                  </div>
                  <div class="col-sm-6">
                     <input class="form-control text-center" id="payment_date" name="payment_date"
                        type="date" value="">
                  </div>
               </div>
               <br>
               <div class="modal-footer">
                  <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                     onclick="Call_data_save()" type="button">Save
                  </button>
                  <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                     type="button">Close
                  </button>
               </div>
               <input class="col-xs-10" hidden="" id="recovery_id" name="recovery_id" type="text"
                  value="">
            </div>
         </form>
      </div>
   </div>
</div>
<!--   Payamount Modal        -->
<div class="modal fade" id="payment">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header" style="background-color:#ccc; color: blue; size: 10px">
            Payment Information
            <button class="close" data-dismiss="modal" style="color:red" type="button">&times;
            </button>
         </div>
         <div class="modal-body">
            <center>
               <table>
                  <thead>
                     <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Order Text</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td id="name"></td>
                        <td id="number"></td>
                        <td id="order_text"></td>
                     </tr>
                  </tbody>
               </table>
            </center>
            <br>
            <br>
            <center>
               <table>
                  <thead>
                     <tr>
                        <th>Date</th>
                        <th>Pay Status</th>
                        <th>Credit Amount</th>
                        <th>Remaining Amount</th>
                     </tr>
                  </thead>
                  <tbody id="tbody">
                     <tr>
                     </tr>
                  </tbody>
               </table>
            </center>
         </div>
         <div class="modal-footer">
            <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
               type="button">Close
            </button>
         </div>
      </div>
   </div>
</div>
<script>
   function call_modal(recovery_id, username) {
                  var datetime = new Date();
                  document.getElementById('recovery_id').value = recovery_id;
                  document.getElementById('username').value = username;
                  document.getElementById('payment_date').valueAsDate = datetime;

              }

              <!--Recovery call data save-->
              function Call_data_save() {

                  var recovery_id = document.getElementById('recovery_id').value;
                  var remark = document.getElementById('remark').value;
                  var next_call_time = document.getElementById('next_call_time').value;
                  var payment_date = document.getElementById('payment_date').value;


                  $.ajax({
                      type: "get",
                      data: {
                          'recovery_id': recovery_id,
                          'remark': remark,
                          'next_call_time': next_call_time,
                          'payment_date': payment_date,

                      },
                      url: "/recovery/recovery_call_history/",
                      success: function(data) {
                          var data = JSON.parse(data);
                         if (data['msg']){

                                alert(data['msg']);
                         }

                           else
                            {
                             alert("Something Went Wrong ");

                            }

                      }
                  });
              }


</script>
<script>
   function call_payment(order_details_id, name, number, order_text){

         document.getElementById('name').innerHTML = name;
         document.getElementById('number').innerHTML = number;
         document.getElementById('order_text').innerHTML = order_text;


       $.ajax({
                   type: "post",
                   data: {
                       'order_details_id': order_details_id,

                   },
                   url: "/recovery/show_slab_data/",
                   success: function(data) {

                              $("#tbody").empty();

                       var data = JSON.parse(data);
                       var slab_list = data['slab_list']
                       var len = data['len']


                       for(var i=0; i<=len; i++){

                       var date = slab_list[i]['Date']
                       var pay_status = slab_list[i]['Pay_Status']
                       var credit_amount = slab_list[i]['Credit_Amount']
                       var remaining  = slab_list[i]['Remaining_Amount']
                       var status = ""
                       if (pay_status=="paid"){
                        var status = pay_status.fontcolor( "green" ).bold();

                       }

                        if (pay_status=="unpaid"){
                        var status = pay_status.fontcolor( "#FFBF00" ).bold();

                       }



                        $("#tbody").append("<tr><td>" + date + "</td><td>" + status + "</td><td>" + credit_amount + "</td><td>" + remaining  +  "</td></tr>")


                       }


                   }
               });

   }
</script>
{% endblock %}

