{% extends "recovery/base.html" %}
{% load mathfilters %}
{% block uname %}
{{user.username}}                                                                {% endblock uname %}

{% block content %}
{% load static %}

<div class="row">
    <form action="" method="post">
        <div class="col-xs-12" style="margin-top:20px">
									{% csrf_token %}
            <label class="col-xs-3">Forward Name:</label>
            <select class="col-xs-4" name="forward_user_id">
                {% for i in users %}
                <option value="{{i.id}}">{{i.username}}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="forward_recovery_id" value="{{recovery.id}}">
            <div class="col-xs-3">
                <button type="submit"
                        class="fa fa-arrow-right btn btn-secondary btn btn-success"
                        id="btnsendmsg" name="btnsendmsg">Forward
                </button>
            </div>


        </div>
    </form>

    <div class="col-xs-12">

        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            Results for " Loan Application Details "
        </div>

        <!-- div.table-responsive -->

        <!-- div.dataTables_borderWrap -->
        <div>
            <table class="table table-bordered table-striped" id="dynamic-table">
                <thead>
                <tr>
                    <th>Use Name</th>
                    <th>Name</th>
                    <th>Loan Application Id</th>
                    <th>Loan Amount</th>
                </tr>
                </thead>
                <tr>
                    <td>{{recovery.loan_transaction.user.username}}</td>
                    <td>{{recovery.loan_transaction.user_personal.name}}</td>
                    <td>{{recovery.loan_transaction.loan_application_id}}</td>
                    <td>{{recovery.loan_transaction.loan_scheme_id}}</td>

                </tr>

            </table>
        </div>
    </div>
</div>
{% endblock %}