
{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                  {% if request.user|has_group:"Recovery Supervisor" %}
                                                <th>User</th>
                                                {% endif %}
                                                <th>Incentive Amount</th>
                                                <th>Date</th>
                                                <th>Type</th>



                                            </tr>
                                            </thead>

                                            {% if data %}

                                            {% for i in data %}


                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                {% if request.user|has_group:"Recovery Supervisor" %}
                                                <td>{{i.0}}</td>
                                                {% endif %}
                                                <td>{{i.1}}</td>
                                                <td>{{i.2}}</td>
                                                <td>{{i.3}}</td>



                                            </tr>

                                            {% endfor %}
                                            {% endif %}


                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>

{% endblock %}
