{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

{% load static %}

<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

</head>


<div class="card">
        <div class="row">
<div class="col-sm-12">
<div class="card-block">

          <div class="tab-content">
              <div class="tab-pane active" id="home7" role="tabpanel">

                     <div class="row">
                         <div class="col-2">
                              Select Date :
                         </div>

                             <div class="col-4">

                                    <input type="text" class="form-control" name="datepicker" id="datepicker" required/>

                             </div>


                        <div class="col-4">
                      <center><input type="submit" id="myBtn" class="btn btn-primary" value="Get Graph" style="float:;"
                   onclick="call_data()"></center>
                            </div>
                         </div>

              </div>
          </div>
    </div>
</div>
</div>
</div>


<br>
<br>
<br>
<br>

<div class="card" id="graph" style="display:None">


<div class="row">
                <div class="col-4">
                    <div class="container-fluid">
                            <div class="">
                                <div class="box">
                                    <div class="box-header">
                                        <center>
                                        <h3 class="box-title">Incentive Amount</h3>
                                        <h6 class="text-center"><strong>Incentive Amount per user</strong></h6></center>
                                        <canvas id="incentive_amount_chart"></canvas>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-2"></div>
                 <div class="col-4" style="float:right;">
                    <div class="container-fluid">
                            <div class="">
                                <div class="box">
                                    <div class="box-header">
                                        <center>
                                        <h3 class="box-title">Recovery Amount</h3>
                                        <h6 class="text-center"><strong>Recovery Amount per user</strong></h6></center>
                                        <canvas id="recovery_amount_chart"></canvas>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>


        <div class="row">
            <div class="col-3"></div>
            <div class="col-4">
         <div class="container-fluid">
                <div class="">
                    <div class="box">
                        <div class="box-header">
                            <center>
                            <h3 class="box-title">Recovery Count</h3>
                            <h6 class="text-center"><strong>Recovery Count per user</strong></h6></center>
                            <canvas id="recovery_count_chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
                </div>
            <div class="col-3"></div>

        </div>
</div>

<script>
   $(document).ready(function () {
//change selectboxes to selectize mode to be searchable
   $("select").select2();
});

</script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="{% static 'js/chartsjs/Chart.js' %}"></script>
<script src="{% static 'css/chartsjs/Chart.css' %}"></script>





<script>
    $("#datepicker").datepicker( {
    format: "yyyy-mm",
    startView: "months",
    minViewMode: "months"
});
</script>

<script>
    function call_data(){
        var month = document.getElementById('datepicker').value
        console.log("month", month);

        document.getElementById('graph').style = false;


       incentive_pie_chart(month);
       recovery_pie_chart(month);
       recovery_count_chart(month);



    }
</script>

<script>

    function incentive_pie_chart(month){

    $.ajax({
            type: "POST",
            data: {
            "month": month
            },
            url: "/recovery/incentive_pie_chart/",
            success: function(data){

            var graph_data = JSON.parse(data);

            var labels_data = graph_data['labels']
            var backgroundColor_data = graph_data['new_colour_list']
            var amount_data = graph_data['incentive_amount_list']

              var ctx = document.getElementById("incentive_amount_chart").getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'pie',
              data: {
                labels: labels_data,
                datasets: [{
                  backgroundColor: backgroundColor_data,
                  data: amount_data
                }]
              }
            });





           }

        });

    }

</script>

<script>

    function recovery_pie_chart(month){
    $.ajax({
            type: "POST",
             data: {
            "month": month
            },
            url: "/recovery/recovery_pie_chart/",
            success: function(data){

            var graph_data = JSON.parse(data);
            console.log('')
            var labels_data = graph_data['labels']
            var backgroundColor_data = graph_data['new_colour_list']
            var recovery_amount_data = graph_data['recovery_amount_list']

            var ctx = document.getElementById("recovery_amount_chart").getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'pie',
              data: {
                labels: labels_data,
                datasets: [{
                  backgroundColor: backgroundColor_data,
                  data: recovery_amount_data
                }]
              }
            });





           }

        });
        }


</script>

<script>
    function recovery_count_chart(month){

    $.ajax({
            type: "POST",
             data: {
            "month": month
            },
            url: "/recovery/recovery_count_chart/",
            success: function(data){

            var graph_data = JSON.parse(data);

            var labels_data = graph_data['labels']
            var backgroundColor_data = graph_data['new_colour_list']
            var recovery_count = graph_data['recovery_count_list']

              var ctx = document.getElementById("recovery_count_chart").getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'pie',
              data: {
                labels: labels_data,
                datasets: [{
                  backgroundColor: backgroundColor_data,
                  data: recovery_count
                }]
              }
            });


           }

        });

        }


</script>


{% endblock %}
