

{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<div class="page-body">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-header">
               <div id="wait"
                  style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;">
                  <div class="preloader3 loader-block" id="loader">
                     <div class="circ1"></div>
                     <div class="circ2"></div>
                     <div class="circ3"></div>
                     <div class="circ4"></div>
                  </div>
               </div>
            </div>
            <div class="card-block">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="slide"></div>
                     <div class="tab-content">
                        {% if msg %}
                        {{msg}}
                        {% endif %}
                        <div class="row">
                           <div class="col-4">
                              <select name="updated_status" id="member"
                                 class="form-control form-control-primary"
                                 style="width:300px;length:100px;">
                                 <option selected disabled value=""><--- Select Member ---> </option>
                                 {% for member in recovery_team %}
                                 {{member}}
                                 <option value="{{member}}" >{{member}}</option>
                                 {% endfor %}
                              </select>
                           </div>
                           <div class="col-4">
                              <button type="button" id="button" onclick="call_data();" class="btn btn-primary">
                              Assign Defaulters To Other Member
                              </button>
                           </div>
                        </div>
                        <div class="tab-pane active" id="home7" role="tabpanel">
                           <br>
                           <div class="dt-responsive table-responsive">
                              <table id="table-style-hover"
                                 class="table table-striped table-hover table-bordered nowrap">
                                 <thead>
                                    <tr>
                                       <th>
                                          <input type="checkbox" name="akash1" id="select-all"
                                             onclick="select_all();">&nbsp;All
                                       </th>
                                       <th>Sr.no</th>
                                       <th>User</th>
                                       <th>Order Details</th>
                                       <th>Installment</th>
                                       <th>pending_installment_amount</th>

                                    </tr>
                                 </thead>
                                 {% if recovery_obj %}
                                 <tbody>
                                    {% for recovery in recovery_obj %}
                                    <tr>
                                       <td>
                                          <form>
                                             <input type="checkbox" id="checkbox" name="akash"
                                                value="{{recovery.order_details.id}}">
                                          </form>
                                       </td>
                                       <td>{{forloop.counter}}</td>
                                       <td>{{recovery.user.username}}</td>
                                       <td>{{recovery.order_details.order_text}}</td>
                                       <td>{{recovery.installment}}</td>
                                       <td>{{recovery.pending_installment_amount}}</td>


                                    </tr>
                                    {% endfor %}
                                 </tbody>
                                 {% endif %}
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


<script>
	document.getElementById('button').display = true;

//   On refresh make all unselected
var checkboxes = document.getElementsByName('akash');
console.log("checkboxes=====", checkboxes);
for (var checkbox of checkboxes) {
	checkbox.checked = false;
}
// make select all uncheck
var check = document.getElementsByName('akash1');
console.log("check=====", check);
for (var checkbox of check) {
	checkbox.checked = false;

}



// change status function
function call_data() {
    var member = document.getElementById('member').value;
    if (member == ""){
    alert("Select Member first !!!")
    return false }

	var id_list = [];
	$.each($("input[name='akash']:checked"), function () {
		id_list.push($(this).val());
	});
	length = id_list.length;

	if (length == 0) {
		alert("Please Select Order...");
	} else {


		if (confirm("Are you want to Assign selected order's ?")) {

			$(document).ajaxStart(function () {
				$("#wait").css("display", "block");
			});


			console.log("id-list====", id_list);
			$.ajax({
				type: "POST",
				data: {
					'id_list': id_list,
                     'member':member
				},
				url: "/recovery/assign_move_defaulters/",
				success: function (data) {

					var data = JSON.parse(data);
					if(data['msg']){
					alert(data['msg']);
					}
					else{
					alert("Something Went Wrong");
					}


				}



			});
			$(document).ajaxComplete(function () {
				$("#wait").css("display", "none");
			});
		} else {
			return false;
		}

	}




}

// Select all function
document.getElementById('select-all').onclick = function () {
		var checkboxes = document.getElementsByName('akash');
		for (var checkbox of checkboxes) {
			checkbox.checked = this.checked;
		}
	}


</script>


{% endblock %}

