{% extends "recovery/base.html" %}
{% load mathfilters %}
{% block uname %}
				{{user.username}}																{% endblock uname %}

{% block content %}
{% load static %}

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {
				//initiate dataTables plugin
				var myTable =
				$('#dynamic-table')
				//.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
				.DataTable( {
					bAutoWidth: false,
					"aoColumns": [
					  { "bSortable": false },
					  null, null,null,null,null,null,null,null,
					  { "bSortable": false }
					],
					"aaSorting": [],


					//"bProcessing": true,
			        //"bServerSide": true,
			        //"sAjaxSource": "http://127.0.0.1/table.php"	,

					//,
					//"sScrollY": "200px",
					//"bPaginate": true,

					//"sScrollX": "100%",
					//"sScrollXInner": "120%",
					//"bScrollCollapse": true,
					//Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
					//you may want to wrap the table inside a "div.dataTables_borderWrap" element

					//"iDisplayLength": 50


					select: {
						style: 'multi'
					}
			    } );



				$.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

				new $.fn.dataTable.Buttons( myTable, {
					buttons: [
					  {
						"extend": "colvis",
						"text": "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>Show/hide columns</span>",
						"className": "btn btn-white btn-primary btn-bold",
						columns: ':not(:first):not(:last)'
					  },
					  {
						"extend": "copy",
						"text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
						"className": "btn btn-white btn-primary btn-bold"
					  },
					  {
						"extend": "csv",
						"text": "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>Export to CSV</span>",
						"className": "btn btn-white btn-primary btn-bold"
					  },
					  {
						"extend": "excel",
						"text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
						"className": "btn btn-white btn-primary btn-bold"
					  },
					  {
						"extend": "pdf",
						"text": "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
						"className": "btn btn-white btn-primary btn-bold"
					  },
					  {
						"extend": "print",
						"text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
						"className": "btn btn-white btn-primary btn-bold",
						autoPrint: false,
						message: 'This print was produced using the Print button for DataTables'
					  }
					]
				} );
				myTable.buttons().container().appendTo( $('.tableTools-container') );

				//style the message box
				var defaultCopyAction = myTable.button(1).action();
				myTable.button(1).action(function (e, dt, button, config) {
					defaultCopyAction(e, dt, button, config);
					$('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
				});


				var defaultColvisAction = myTable.button(0).action();
				myTable.button(0).action(function (e, dt, button, config) {

					defaultColvisAction(e, dt, button, config);


					if($('.dt-button-collection > .dropdown-menu').length == 0) {
						$('.dt-button-collection')
						.wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
						.find('a').attr('href', '#').wrap("<li />")
					}
					$('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
				});

				////

				setTimeout(function() {
					$($('.tableTools-container')).find('a.dt-button').each(function() {
						var div = $(this).find(' > div').first();
						if(div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
						else $(this).tooltip({container: 'body', title: $(this).text()});
					});
				}, 500);





				myTable.on( 'select', function ( e, dt, type, index ) {
					if ( type === 'row' ) {
						$( myTable.row( index ).node() ).find('input:checkbox').prop('checked', true);
					}
				} );
				myTable.on( 'deselect', function ( e, dt, type, index ) {
					if ( type === 'row' ) {
						$( myTable.row( index ).node() ).find('input:checkbox').prop('checked', false);
					}
				} );




				/////////////////////////////////
				//table checkboxes
				$('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

				//select/deselect all rows according to table header checkbox
				$('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function(){
					var th_checked = this.checked;//checkbox inside "TH" table header

					$('#dynamic-table').find('tbody > tr').each(function(){
						var row = this;
						if(th_checked) myTable.row(row).select();
						else  myTable.row(row).deselect();
					});
				});

				//select/deselect a row when the checkbox is checked/unchecked
				$('#dynamic-table').on('click', 'td input[type=checkbox]' , function(){
					var row = $(this).closest('tr').get(0);
					if(this.checked) myTable.row(row).deselect();
					else myTable.row(row).select();
				});



				$(document).on('click', '#dynamic-table .dropdown-toggle', function(e) {
					e.stopImmediatePropagation();
					e.stopPropagation();
					e.preventDefault();
				});



				//And for the first simple table, which doesn't have TableTools or dataTables
				//select/deselect all rows according to table header checkbox
				var active_class = 'active';
				$('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
					var th_checked = this.checked;//checkbox inside "TH" table header

					$(this).closest('table').find('tbody > tr').each(function(){
						var row = this;
						if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
						else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
					});
				});

				//select/deselect a row when the checkbox is checked/unchecked
				$('#simple-table').on('click', 'td input[type=checkbox]' , function(){
					var $row = $(this).closest('tr');
					if($row.is('.detail-row ')) return;
					if(this.checked) $row.addClass(active_class);
					else $row.removeClass(active_class);
				});



				/********************************/
				//add tooltip for small view action buttons in dropdown menu
				$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

				//tooltip placement on right or left
				function tooltip_placement(context, source) {
					var $source = $(source);
					var $parent = $source.closest('table')
					var off1 = $parent.offset();
					var w1 = $parent.width();

					var off2 = $source.offset();
					//var w2 = $source.width();

					if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
					return 'left';
				}




				/***************/
				$('.show-details-btn').on('click', function(e) {
					e.preventDefault();
					$(this).closest('tr').next().toggleClass('open');
					$(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
				});
				/***************/





				/**
				//add horizontal scrollbars to a simple table
				$('#simple-table').css({'width':'2000px', 'max-width': 'none'}).wrap('<div style="width: 1000px;" />').parent().ace_scroll(
				  {
					horizontal: true,
					styleClass: 'scroll-top scroll-dark scroll-visible',//show the scrollbars on top(default is bottom)
					size: 2000,
					mouseWheelLock: true
				  }
				).css('padding-top', '12px');
				*/

							//chosen plugin inside a modal will have a zero width because the select element is originally hidden
				//and its width cannot be determined.
				//so we set the width after modal is show
				$('#modal-form').on('shown.bs.modal', function () {
					if(!ace.vars['touch']) {
						$(this).find('.chosen-container').each(function(){
							$(this).find('a:first-child').css('width' , '210px');
							$(this).find('.chosen-drop').css('width' , '210px');
							$(this).find('.chosen-search input').css('width' , '200px');
						});
					}
				})


			})





function call_modal(id,mobileno){
	var datetime=new Date();
	document.getElementById('txtrecovery_id').value=id;
	document.getElementById('mobileno').value=mobileno;
	document.getElementById('txtex_payment_date').valueAsDate=datetime;

}


function Call_data_save(){
var recovery_id = document.getElementById('txtrecovery_id').value;
var ex_payment_date = document.getElementById('txtex_payment_date').value;
var call_desc = document.getElementById('call_desc').value;
var cmd_remark = document.getElementById('cmd_remark').value;
var next_call_time=document.getElementById('next_call_time').value;
  $.ajax({

                             type: "get",
                             data: {
                                  'recovery_id': recovery_id,
                                  'ex_payment_date':ex_payment_date,
                                  'call_desc':call_desc,
                                  'cmd_remark':cmd_remark,
                                  'next_call_time':next_call_time

                                },
                             url: "/recovery/recovery_call_hostory/",
                             success: function (data) {
                            alert(data.is_taken);

                          }
                     });
}

		</script>
<div class="row">


									<div class="col-xs-12">

										<div class="clearfix">
											<div class="pull-right tableTools-container"></div>
										</div>
										<div class="table-header">
											Results for " Day Wise  Defaulter's List "
										</div>

										<!-- div.table-responsive -->

										<!-- div.dataTables_borderWrap -->
										<div>
<table class="table table-bordered table-striped" id="dynamic-table">
     <thead><tr>
         <th>Sr.No</th>
         <th>Name</th>
         <th>Call Count</th>
         <th>Mobile No</th>
         <th>Loan id</th>
         <th>Loan Amount</th>
         <th>Balance Amount</th>
         <th>Loan Start Date</th>
         <th>Loan End Date</th>
         <th>Recovery</th>
       </tr></thead>
	{% if data %}
     {% for key,values in data.items %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="/recoverydata_on_month/{{key}}/">{{values.0}}</a></td>
            <td>{{values.6}}</td>
            <td><a class="primary" href="#" data-toggle="modal" onclick="call_modal('{{values.8}}','{{values.1}}')"
                   data-target="#myModal">{{values.1}}</a></td>
			<td><a href="/recovery-user-all-details/{{values.10}}/" >{{values.2}}</a></td>
			<td><a href="/user_particular_loanWise_call_history/{{values.8}}/"> {{values.3}}</a></td>
            <td><strong style="color:#8B0000">{{values.7}}</strong></td>
			<td>{{values.11}}</td>
			<td>{{values.12}}</td>
			<td><a href="/recovery_user_referance/{{values.9}}/">{{values.5}}</a></td>
        </tr>
     {% endfor %}
 </table>
                                            <!-- The Modal -->
						<div class="modal fade" id="myModal">
						<div class="modal-dialog">
							<div class="modal-content">

								<!-- Modal Header -->
								<div class="modal-header"
									style="background-color: #ccc; color: blue; size: 10px">
									Add Calling Details
									<button type="button" style="color: red" class="close"
										data-dismiss="modal">&times;</button>
								</div>

								<form class="form-horizontal" action=""
									method="POST">
									{% csrf_token %}
									<!-- Modal body -->
									<div class="modal-body">

										<div class="form-group" >
										<label class="col-sm-4"
											style="text-align: left" >User Name</label>
										<div class="col-sm-8">
												<input type="text" readonly style="border:0px"  value=""
													name="mobileno" id="mobileno" class="col-xs-12" />

										</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4"
												style="text-align: left" for="form-field-1">Remark</label>

											<div class="col-sm-8">
												<select class="col-xs-12 " class="form-control" name="cmd_remark"
												id="cmd_remark">
                                                {% for r in remark %}
												<option value="{{r.id}}">{{r.remark_title}}</option>
                                                    {% endfor %}

											</select>
											</div>
										</div>
										<div class="form-group" >
										<label class="col-sm-4"
											style="text-align: left" >Next Calling Time</label>
										<div class="col-sm-8">
											<select  class="col-xs-12" name="next_call_time" id="next_call_time">
												<option value="8:00 AM">8:00 AM</option>
												<option value="8:30 AM">8:30 AM</option>
												<option value="9:00 AM">9:00 AM</option>
												<option value="9:30 AM">9:30 AM</option>
												<option value="10:00 AM">10:00 AM</option>
												<option value="10:30 AM">10:30 AM</option>
												<option value="11:00 AM">11:00 AM</option>
												<option value="11:30 AM">11:30 AM</option>
												<option value="12:00 PM">12:00 PM</option>
												<option value="12:30 PM">12:30 PM</option>
												<option value="13:00 PM">1:00 PM</option>
												<option value="13:30 PM">1:30 PM</option>
												<option value="14:00 PM">2:00 PM</option>
												<option value="14:30 PM">2:30 PM</option>
												<option value="15:00 PM">3:00 PM</option>
												<option value="15:30 PM">3:30 PM</option>
												<option value="16:00 PM">4:00 PM</option>
												<option value="16:30 PM">4:30 PM</option>
												<option value="17:00 PM">5:00 PM</option>
												<option value="17:30 PM">5:30 PM</option>
												<option value="18:00 PM">6:00 PM</option>
												<option value="18:30 PM">6:30 PM</option>
												<option value="19:00 PM">7:00 PM</option>
												<option value="19:30 PM">7:30 PM</option>
												<option value="20:00 PM">8:00 PM</option>


											</select>

										</div>
										</div>
                                        <div class="form-group">
											<label class="col-sm-4"
												style="text-align: left" for="form-field-1">Expected Payment Date</label>

											<div class="col-sm-8">
												<input type="date"  value=""
													name="txtex_payment_date" id="txtex_payment_date" class="col-xs-12" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4"
												style="text-align: left" for="form-field-1">Call Description</label>

											<div class="col-sm-8">
												<textarea type="date"  value=""
														  name="call_desc" id="call_desc" class="col-xs-12" ></textarea>
											</div>
										</div>
									</div>




									<!-- Modal footer -->
									<div class="modal-footer">
										<button type="button" onclick="Call_data_save()"
											class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
											id="btnsendmsg" name="btnsendmsg">Save</button>
										<button type="button"
											class="btn btn-secondary fa fa-times btn btn-danger"
											data-dismiss="modal">Close</button>

									</div>


<input type="text" hidden=""  value=""
													name="txtrecovery_id" id="txtrecovery_id" class="col-xs-10" />

								</form>
							</div>
						</div>
					</div>


                                        </div>
                                    </div>
</div>
{% endif %}
{% endblock %}