
{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
{% load static %}
<style>
    .card-block{
    height: 125px;

    }
    a{color:#334860;}

   .fa {
  color: #7b8087;
}


   .fas {
  color: #7b8087;
}

.feather {
  color: #7b8087;
}

h4 {
    font-size : 1.5vw;
    display: inline-block;
}

.col-8 {
    text-align: center;

}

#myChart{
    width:100% !important;
    height:80% !important;
    font-size:20px !important;
    display: block;
    vertical-align: baseline;
    background-color:#fff;
}


</style>


<div class="page-body">
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/recovery/recovery_topper_all_data/Ecom/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8 text-center">
                                <h4 class="text-c-yellow f-w-600 text-center"
                                    style="font-size : 1.3vw;">{% if Ecom %}{{Ecom.1}}{% endif %}</h4><br>
                                <h4 class="text-c-yellow f-w-600 text-center"
                                     style="font-size : 1.3vw;">{% if Ecom %}{{Ecom.0}}{% endif %}</h4>
                                <h6 class="">Ecom Recovery Topper</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-rupee fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/recovery/recovery_topper_all_data/Loan/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8 text-center">
                                <h4 class="text-c-yellow f-w-600 text-center"
                                    style="font-size : 1.3vw;">{% if Loan %}{{Loan.1}}{% endif %}</h4><br>
                                <h4 class="text-c-yellow f-w-600 text-center"
                                   style="font-size : 1.3vw;">{% if Loan %}{{Loan.0}}{% endif %}</h4>
                                <h6 class="">Loan Recovery Topper</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-rupee fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}



