{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>User</th>
                                                {% if type == "Ecom" %}
                                                <th>Order Text</th>
                                                {% endif %}
                                                  {% if type == "Loan" %}
                                                <th>Loan Application Id</th>
                                                {% endif %}
                                                <th>Amount</th>
                                                <th>Recovery Status</th>


                                            </tr>
                                            </thead>
                                            {% if type == "Ecom" %}
                                            {% if recovery_obj %}
                                            {% for recovery in recovery_obj %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{recovery.order_details.user.username}}</td>
                                                <td><a href="/ecom/order_details_related_data/{{recovery.order_details.id}}/">{{recovery.order_details.order_text}}</a></td>
                                                <td>{{recovery.pending_installment_amount}}</td>
                                                <td>{{recovery.recovery_status}}</td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                            {% endif %}


                                             {% if type == "Loan" %}
                                            {% if recovery_obj %}
                                            {% for recovery in recovery_obj %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{recovery.loan_application_id.user.username}}</td>
                                                <td><a href="/defaulter-all-details/{{recovery.loan_application_id.id}}/">{{recovery.loan_application_id.loan_application_id}}</a></td>
                                                <td>{{recovery.pending_installment_amount}}</td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                            {% endif %}



                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>
{% endblock %}