{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<style>
    .pass_show{position: relative}

    .pass_show .ptxt {

        position: absolute;

        top: 50%;

        right: 10px;

        z-index: 1;

        color: #f36c01;

        margin-top: -10px;

        cursor: pointer;

        transition: .3s ease all;

    }

    .pass_show .ptxt:hover{color: #333333;}




</style>

<body onload="fun();"></body>
<div class="container">
    <form action="/ecom/reset_password/" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <label>User List</label>
                        <div class="form-group pass_show">
                            <select class="form-control form-control-primary" name="seller_name" required style="width: 300px;length: 300px;">
                                <option disabled selected="True" value="">---Select Seller here---
                                </option>
                                {% if user_list %}
                                {% for user_list in user_list %}
                                <option value='{{user_list.username}}'>{{user_list.username}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>

                        </div>

                        <label>New Password</label>
                        <div class="form-group pass_show">
                            <input class="form-control" id="new_password" name="new_password" placeholder="New Password"
                                   type="password">
                        </div>
                        <label>Confirm Password</label>
                        <div class="form-group pass_show">
                            <input type="password" id="confirm_password" class="form-control"
                                   placeholder="Confirm Password">
                        </div>
                        <input type="checkbox" onclick="myFunction()">Show Password
                        <br>
                        <strong><span id='message'>{{message}}</span></strong>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 " style="">

            <button class="btn btn-sm btn-danger col-xs-offset-4">
                <i class="ace-icon fa fa-times"></i>
                Close
            </button>
            <button class="btn btn-sm btn-success col-xs-offset-4"
                    id="myBtn" style="margin-right: 1%!important;" type="submit">
                <i class="ace-icon fa fa-times"></i>
                Submit
            </button>
        </div>
    </form>
</div>


<script>

<!--validating password-->
function fun(){
console.log('inside function ssssssssssss');




$('#new_password, #confirm_password').on('keyup', function () {
  if ($('#new_password').val() == $('#confirm_password').val()) {
    $('#message').html('Matching').css('color', 'green');
     document.getElementById("myBtn").disabled = false;
     console.log('inside if');
  } else{
    $('#message').html('Not Matching').css('color', 'red');
    document.getElementById("myBtn").disabled = true;
    console.log('inside else');
    }
     });


}

function myFunction() {
  var x = document.getElementById("new_password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}


</script>

{% endblock %}