{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order Text</th>
                                                <th>Installment</th>

                                                <th>Pay Amount</th>
                                                <th>Total Quantity</th>
                                                <th>Total Amount</th>
                                                <th>Customer</th>

                                            </tr>
                                            </thead>
                                            {% if data %}
                                            {% for recovery in data %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/recovery/contact_master_data/{{recovery.order_details.id}}/">{{recovery.order_details.order_text}}</a></td>
                                                <td><a href="/ecom/order_details_related_data/{{recovery.order_details.id}}/">{{recovery.installment}}</a></td>

                                                <td>{{recovery.order_details.pay_amount}}</td>
                                                <td>{{recovery.order_details.total_quantity}}</td>
                                                <td>{{recovery.order_details.total_amount}}</td>
                                                <td>{{recovery.order_details.user.username}}</td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>


{% endblock %}