{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>User</th>
                                                <th>Order Text</th>
                                                <th>Recovered Amount</th>
                                                <th>Recovery Status</th>
                                            </tr>
                                            </thead>
                                            {% if incentive_data %}
                                            {% for incentive in incentive_data %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{incentive.recovery.order_details.user.username}}</td>
                                                <td><a href="/ecom/order_details_related_data/{{incentive.recovery.order_details.id}}/">{{incentive.recovery.order_details.order_text}}</a></td>
                                                <td>{{incentive.recovery.pending_installment_amount}}</td>
                                                <td>{{incentive.recovery.recovery_status}}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>
{% endblock %}