
{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">


                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>User</th>
                                                <th>Status</th>



                                            </tr>
                                            </thead>


                                            {% if data %}

                                            {% for key , value  in data.items %}



                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td><a href="" data-target="#myModal" data-modal="modal-13"
                                                        data-toggle="modal" onclick="call_modal('{{value.1}}','{{key}}','{{value.0}}')">{{key}}</a></td>
                                                {% if value.0 == "Active" %}
                                                <td><b><p class="text-success">{{value.0}}</p></b></td>
                                                {% else %}
                                                 <td><b><p class="text-danger">{{value.0}}</p></b></td>
                                                {% endif %}



                                            </tr>

                                            {% endfor %}
                                            {% endif %}


                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>


<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header"
                 style="background-color: #ccc; color: blue; size: 10px">
                User
                <button type="button" style="color: red" class="close"
                        data-dismiss="modal">&times
                </button>
            </div>



                <!-- Modal body -->
                <div class="modal-body">


                    <div class="form-group">
                        <label class="col-sm-4"
                               style="text-align: left" for="form-field-1">User</label>
                        <div class="col-4">
                             <input class="col-xs-12" id="key" name="txtclothtype1" readonly style="border:0px"
                                   type="text" value=""/>
                        </div>

<!--                        <div class="col-sm-8">-->
<!--                            <input type="" value="{{key}}"-->
<!--                                   name="txtclothtype1" id="key" class="col-xs-12"/>-->
<!--                        </div>-->
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4"
                               style="text-align: left">Status</label>
                        <div class="col-sm-8">
                            <select class="col-xs-12 "name="cmdst"
                                    id="status">

                                <option value="True">Active</option>
                                <option value="False">Deactive</option>

                            </select>
                        </div>
                    </div>



                </div>

                      <input type="hidden" value="0"
                             name="txtclothtype1" id="id" class="col-xs-12"/>
                <!-- Modal footer -->
                <div class="modal-footer">
                     <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                            id="btnsendmsg" name="btnsendmsg" onclick="Call_data_save()" type="button">Save
                    </button>
                    <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                            type="button">Close
                    </button>

                </div>



        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script>
            function call_modal(id,key,value) {
                document.getElementById('id').value = id;

                console.log("iddd",id)
                document.getElementById('key').value = key;
                document.getElementById('value').value = value;

            }
</script>
<script>
            function Call_data_save() {
            console.log("call_data_save")
                var id = document.getElementById('id').value;
                console.log("iddddddddddddddddddd",id)
                var status = document.getElementById('status').value;
                 console.log("status======", status);

                $.ajax({
                    type: "POST",
                    data: {
                        'id': id,
                        'status': status,

                    },
                    url: "/recovery/user_status_update/",
                    success: function(data) {
                    console.log("--success",data);
                         document.getElementById('product_parameter').value = data;
                    },
                    error: function(data) {

                }
                });

            }

</script>

{% endblock %}