<style>
    .card-block{
    height: 125px;

    }
    a{color:#334860;}

   .fa {
  color: #7b8087;
}


   .fas {
  color: #7b8087;
}

.feather {
  color: #7b8087;
}

h4 {
    font-size : 1.6vw;
    display: inline-block;
}

.col-8 {
    text-align: center;

}


</style>

<div class="page-body">
    <p class="h4 text-primary text-center">Ecom Admin Dashboard</p>
    <br>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total_buyer/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8 text-center">
                                <center id="total_buyer_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600 text-center"
                                    id="total_buyer"></h4>
                                <h6 class="">Total Buyer</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-user f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/order_wise_month_wise_orders/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="orders_count_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="orders_count">
                                </h4>
                                <h6 class="">No of Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-shopping-cart fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellerwise_amount_invoice/">

                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="final_seller_amount_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="final_seller_amount"></h4>
                                <h6 class="">Total Purchasing Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-rupee fa-2x"></i>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/monthwise_order_amount/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="order_amount_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="order_amount"></h4>
                                <h6 class="">Total Sell Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-rupee fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sells_count/">

                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">

                                <h4 class="text-c-yellow f-w-600"
                                    id=""></h4>
                                <h6 class="">Sales Count</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-circle-o-notch fa-2x"></i>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/credit_repayment_details/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="total_credit_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="total_credit"></h4>
                                <h6 class="">Total credit Used</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-credit-card fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecomapi/user_wallet_amount_details/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="wallet_amount_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="wallet_amount"></h4>
                                <h6 class="">Wallet Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-wallet fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total_profit_amount/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="profit_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="profit"></h4>

                                <h6 class=""> Gross Profit</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-chart-line  fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/net_profit/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="net_profit_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="net_profit">
                                </h4>
                                <h6 class="">Net Profit</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-chart-line fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/net_pay/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="net_pay_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="net_pay"></h4>
                                <h6 class="">Net Payable</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-arrow-up fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/net_receivables/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="net_receivables_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="net_receivables"></h4>
                                <h6 class="">Net Receivables</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-arrow-down fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total_seller/total/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="total_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600" id="total_orders"></h4>
                                <h6 class="">Total Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-shopping-cart fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total_seller/initiated/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="initiated_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="initiated_orders"></h4>

                                <h6 class="">Initiated Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-hourglass-start fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total_seller/placed/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="placed_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600" id="placed_orders"></h4>

                                <h6 class="">Placed Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-cart-plus fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/logistic_delivery_reverse_packed_count/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="packed_logistics_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="packed_logistics_orders"></h4>
                                <h6 class="">Packed Logistics Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-box fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total_seller/dispatched/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="dispatch_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="dispatch_orders"></h4>

                                <h6 class="">Dispatched Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-truck fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/logistic_delivery_reverse_in_transit_count/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="in_transit_logistics_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="in_transit_logistics_orders"></h4>
                                <h6 class="">In_Transit Logistics Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-shipping-fast fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total_seller/delivered/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="delivered_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="delivered_orders"></h4>
                                <h6 class="">Delivered Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-door-closed fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total_seller/undelivered/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="undelivered_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="undelivered_orders"></h4>
                                <h6 class="">Undelivered Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-door-open fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <a href="/ecom/total_seller/cancelled/">
                <div class="card">

                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="cancelled_order_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="cancelled_order"></h4>

                                <h6 class="">Cancelled Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-window-close fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>

                </div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecomapi/seller_return_order_history/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="return_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="return_orders"></h4>
                                <h6 class="">Return Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-undo fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecomapi/seller_return_request_order/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="return_request_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="return_request"></h4>
                                <h6 class="">Return Request Pending</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-envelope-open fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/all_pending_order_details/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="p_p_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="p_p">
                                </h4>
                                <h6 class=""> Pending Order</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-shopping-cart fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecomapi/logistic_delivery_reverse_count/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="logistics_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="logistics_orders"></h4>

                                <h6 class="">Logistics Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-dolly-flatbed fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/get_total_over_dues_amount/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="over_dues_total_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="over_dues_total"></h4>
                                <h6 class="">Total Due</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-bug fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/month_wise_shipping_fees/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="shipping_fees_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="shipping_fees"></h4>
                                <h6 class="">Shipping Charges</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-money fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/month_wise_conv_fees/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="Convinient_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="Convinient">
                                </h4>
                                <h6 class="">Convenience Charge</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-money fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/submittedproducts/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="submitted_products_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="submitted_products"></h4>
                                <h6 class="">Products Pending Approval</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-envelope-open fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total-sellers/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="sellers_count_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>

                                <h4 class="text-c-yellow f-w-600" id="sellers_count"></h4>
                                <h6 class="">Total Number of Sellers</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-user f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/order_payment_monthwise/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="total_repayment_amount_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="total_repayment_amount"></h4>
                                <h6 class="">Total repayment Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-rupee fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/product_list">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="all_products_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600" id="all_products"></h4>

                                <h6 class="">Total No of Products</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-shopping-cart fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total_users/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="total_users_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="total_users"></h4>
                                <h6 class="">Total Users</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-address-card fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card flex-fill">
                <a href="/ecom/unsused_credit/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="total_unused_credit_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="total_unused_credit"></h4>
                                <h6 class="">Total Unused Credit</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-credit-card fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/penalty_amount/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="total_penalty_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="total_penalty">
                                </h4>
                                <h6 class="">Total Penalty</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-ban fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/user_wise_amount/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="payment_amount_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="payment_amount">
                                </h4>
                                <h6 class="">Cash Payment</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-rupee fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/monthwise_cod/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="cod_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="cod">
                                </h4>
                                <h6 class="">COD Count</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-circle-o-notch fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
    <div class="card">
        <a href="/ecom/monthwise_cod_order_amount/">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">
                        <center id="cod_amount_loader">
                            <div class="sk-chase">
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                            </div>
                        </center>
                        <h4 class="text-c-yellow f-w-600"
                            id="cod_amount">
                        </h4>
                        <h6 class="">COD Amount</h6>
                    </div>
                    <div class="col-4 text-right">
                        <i class="fa fa-rupee fa-2x"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-c-blue">
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="text-white m-b-0">View</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/dispatch_delivered_box/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h6 class="text-center" style="font-size:20px;">
                                    Seller Invoice
                                </h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-file-invoice fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/monthwise_placed_mfpl_order">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="mfpl_placed_order_details_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600" id="mfpl_placed_order_details"></h4>

                                <h6 class="">MFPL Placed Order Details</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-cart-plus fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/logistics_order_details/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="packed_mfpl_logistics_order_details_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="packed_mfpl_logistics_order_details"></h4>
                                <h6 class="">MFPL Packed Logistics Order Details</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-box fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
         <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/userloan-application-list-new/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="new_loan_submitted_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="new_loan_submitted"></h4>
                                <h6 class="">New Loans Application</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-question fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
         <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/LoanAppData/loanapplication/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="all_loan_application_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="all_loan_application"></h4>
                                <h6 class="">Total Loan Applied</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-file fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/LoanAppData/loanapplication/?q=&status__exact=APPROVED">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="approved_loan_application_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="approved_loan_application"></h4>
                                <h6 class="">Total Loans Approved</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-check fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/LoanAppData/loanapplication/?q=&status__exact=REJECTED">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="rejected_loan_application_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="rejected_loan_application"></h4>
                                <h6 class="">Total Loan Rejected</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-close fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
          <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/LoanAppData/loanapplication/?q=&status__exact=COMPLETED">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="completed_loan_amount_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="completed_loan_amount"></h4>
                                <h6 class="">Completed Loan Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-inr fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
          <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/monthwise_loanapplication_all_disbursed/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="disbursed_amount_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="disbursed_amount"></h4>
                                <h6 class="">Disbursed Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-inr fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
         <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/LoanAppData/loanapplication/?q=&status__exact=APPROVED">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="due_amount_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="due_amount"></h4>
                                <h6 class="">Due Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-file-invoice fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

          <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="#">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="installment_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="installment"></h4>
                                <h6 class="">Installment (Received)</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-bar-chart fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
          <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/LoanAppData/loanapplication/?q=&status__exact=COMPLETED">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="completed_loan_profit_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="completed_loan_profit"></h4>
                                <h6 class="">Completed Loan Profit</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-line-chart fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
          <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/LoanAppData/loanapplication/?q=&status__exact=COMPLETED">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="completed_loan_count_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="completed_loan_count"></h4>
                                <h6 class="">Completed Loan Count</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-circle-o-notch fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
         <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/loan-app-data/over_due_actual_list/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="overdue_amount_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="overdue_amount"></h4>
                                <h6 class="">Overdue Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-bug fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
         <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/loan-app-data/over_due_list/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="overdue_count_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="overdue_count"></h4>
                                <h6 class="">Overdue Count</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-bug fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
         <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="#">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="delinquency_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="delinquency"></h4>
                                <h6 class="">Delinquency %</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-percent fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
         <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="#">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="net_profit_loader_1">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="net_profit_1"></h4>
                                <h6 class="">Net Profit</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-line-chart fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/phonepe_order/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="phone_pe_cancel_order_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="phone_pe"></h4>
                                <h6 class="">PhonePe Cancel Order</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-close fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


    </div>
</div>

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    <script src="/static/cdn/js/jquery(1.9.1).min.js"></script>
<!--<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"-->
<!--      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="-->
<!--      rel="stylesheet"/>-->

<link crossorigin="anonymous" href="/static/cdn/css/all(5.15.1).min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      rel="stylesheet"/>

<script>

   $(document).ready(function () {
  set_group('Ecom Admin')
})
</script>
<script src="/static/ecom/js/dashboard_data.js"></script>