<style>
    .card-block{
    height: 125px;

    }
    a{color:#334860;}

   .fa {
  color: #7b8087;
}


   .fas {
  color: #7b8087;
}

.feather {
  color: #7b8087;
}

h4 {
    font-size : 1.6vw;
    display: inline-block;
}

.col-8 {
    text-align: center;

}






</style>

<div class="page-body">
    <p class="h4 text-primary text-center">Ecom Manager Dashboard</p>
    <br>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total_seller/total/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                 <center id="total_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600" id="total_orders">
                                    {{total_orders}}
                                </h4>
                                <h6 class="">Total Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-shopping-cart fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total_seller/initiated/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="initiated_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="initiated_orders">
                                    {{initiated_orders}}</h4>

                                <h6 class="">Initiated Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-hourglass-start fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total_seller/placed/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                 <center id="placed_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600" id="placed_orders">
                                    {{placed_orders}}</h4>

                                <h6 class="">Placed Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-cart-plus fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total_seller/dispatched/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="dispatch_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="dispatch_orders">
                                    {{dispatch_order}}</h4>

                                <h6 class="">Dispatched Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellers-all-orders/pending/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                 <center id="p_p_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="p_p">
                                    {{pending_orders}}</h4>
                                <h6 class="">Yet To be Dispatched Order</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-truck fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecomapi/logistic_delivery_reverse_count/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                 <center id="logistics_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="logistics_orders">
                                    {{logistics_orders}}</h4>

                                <h6 class="">Logistics Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-dolly-flatbed fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/logistic_delivery_reverse_packed_count/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                  <center id="packed_logistics_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="packed_logistics_orders">
                                    {{logistics_orders}}</h4>
                                <h6 class="">Packed Logistics Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-box fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/logistic_delivery_reverse_in_transit_count/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="in_transit_logistics_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="in_transit_logistics_orders">
                                    {{logistics_orders}}</h4>
                                <h6 class="">In_Transit Logistics Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-shipping-fast fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <a href="/ecom/total_seller/cancelled/">
                <div class="card">

                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                  <center id="cancelled_order_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="cancelled_order">
                                    {{cancelled_order}}</h4>

                                <h6 class="">Cancelled Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-window-close fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>

                </div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecomapi/seller_return_order_history/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="return_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="return_orders">
                                    {{return_orders}}</h4>
                                <h6 class="">Return Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-undo fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total_seller/delivered/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                 <center id="delivered_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="delivered_orders">
                                    {{delivered_orders}}</h4>
                                <h6 class="">Delivered Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-door-closed fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total-sellers/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                 <center id="sellers_count_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600" id="sellers_count"></h4>
                                <h6 class="">Total Number of Sellers</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-user f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/product_list">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="all_products_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600" id="all_products">
                                    {{all_products}}</h4>

                                <h6 class="">Total No of Products</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-shopping-cart fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total_users/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                 <center id="total_users_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="total_users">
                                    {{total_users}}</h4>
                                <h6 class="">Total Users</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-address-card fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total_buyer/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                 <center id="total_buyer_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="total_buyer">
                                    {{total_users}}</h4>
                                <h6 class="">Total Buyer</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-user f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/dispatch_delivered_box/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h6 class="">
                                    <h5 style="font-size:20px;">Seller Invoice</h5>
                                </h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-file-invoice fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
   $(document).ready(function () {
  set_group('Ecom Manager')
})
</script>

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    <script src="/static/cdn/js/jquery(1.9.1).min.js"></script>
<!--<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"-->
<!--      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="-->
<!--      rel="stylesheet"/>-->

<link crossorigin="anonymous" href="/static/cdn/css/all(5.15.1).min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      rel="stylesheet"/>
<script src="/static/ecom/js/dashboard_data.js"></script>
