<style>
    .card-block{
    height: 125px;

    }
    a{color:#334860;}

   .fa {
  color: #7b8087;
}


   .fas {
  color: #7b8087;
}

.feather {
  color: #7b8087;
}

h4 {
    font-size : 1.6vw;
    display: inline-block;
}

.col-8 {
    text-align: center;

}










</style>

<div class="page-body">
    <p class="h4 text-primary text-center">Ecom Team Dashboard</p>
    <br>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/product_list">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                 <center id="all_products_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600" id="all_products">
                                    {{all_products}}</h4>
                                <h6 class="">Total Products</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/submittedproducts/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="submitted_products_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="submitted_products">
                                    {{submitted_products}}</h4>
                                <h6 class="">Pending Approvals</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/category_product/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">

                                <h4 class="text-c-yellow f-w-600">
                                    {{product_category}}</h4>
                                <h6 class="">All category</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total-sellers/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                 <center id="sellers_count_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>

                                <h4 class="text-c-yellow f-w-600" id="sellers_count">{{sellers_count}}</h4>
                                <h6 class="">Total Sellers</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-user f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
   $(document).ready(function () {
  set_group('Ecom Team')
})
</script>
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    <script src="/static/cdn/js/jquery(1.9.1).min.js"></script>
<!--<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"-->
<!--      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="-->
<!--      rel="stylesheet"/>-->

<link crossorigin="anonymous" href="/static/cdn/css/all(5.15.1).min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      rel="stylesheet"/>
<script src="/static/ecom/js/dashboard_data.js"></script>