<style>
    .card-block{
    height: 125px;

    }
    a{color:#334860;}

   .fa {
  color: #7b8087;
}


   .fas {
  color: #7b8087;
}

.feather {
  color: #7b8087;
}

h4 {
    font-size : 1.6vw;
    display: inline-block;
}

.col-8 {
    text-align: center;

}

</style>

<div class="page-body">
    <p class="h4 text-primary text-center">Accounts Dashboard</p>
    <br>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/dispatch_delivered_box/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h6 class="">
                                    <h5 style="font-size:20px;">Seller Invoice</h5>
                                </h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-file-invoice fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script src="/static/cdn/js/jquery(3.2.1).min.js"></script>

<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
<link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>

<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>-->
<script src="/static/cdn/js/select2(4.0.13).min.js"></script>

<!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<script src="/static/cdn/js/jquery(1.10.2).min.js"></script>

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<link href="/static/cdn/css/font-awesome(4.7.0).min.css" rel="stylesheet"/>

<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">-->
<link href="/static/cdn/css/datepicker(1.2.0).min.css" rel="stylesheet">


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>-->
<script src="/static/cdn/js/bootstrap-datepicker(1.2.0).min.js"></script>


<script>
   $(document).ready(function () {
  set_group('Account Dashboard')
})
</script>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<script src="/static/cdn/js/jquery(1.9.1).min.js"></script>

<!--<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"-->
<!--      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="-->
<!--      rel="stylesheet"/>-->

<link crossorigin="anonymous" href="/static/cdn/css/all(5.15.1).min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      rel="stylesheet"/>


