{% load static %}
<style>
    .card-block{
    height: 125px;

    }
    a{color:#334860;}

   .fa {
  color: #7b8087;
}


   .fas {
  color: #7b8087;
}

.feather {
  color: #7b8087;
}

h4 {
    font-size : 1.5vw;
    display: inline-block;
}

.col-8 {
    text-align: center;

}

#myChart{
    width:100% !important;
    height:80% !important;
    font-size:20px !important;
    display: block;
    vertical-align: baseline;
    background-color:#fff;
}


</style>


<div class="page-body">
    <p class="h4 text-primary text-center">Ecom Recovery Supervisor Dashboard</p>
    <br>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/recovery/defaulter_installment_data/none/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8 text-center">
                                <center id="defaulter_count_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600 text-center"
                                    id="defaulter_count"></h4>
                                <h6 class="">Defaulter Count</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-bug fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/recovery/monthwise_defaulter_amount/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8 text-center">
                                <center id="defaulter_amount_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600 text-center"
                                    id="defaulter_amount"></h4>
                                <h6 class="">Defaulter Balance Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-bug fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/recovery/monthwise_recovery_installment_data/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8 text-center">
                                <center id="recovery_count_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600 text-center"
                                    id="recovery_count"></h4>
                                <h6 class="">Recovery Count</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-circle-o-notch fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/recovery/monthwise_incentive_data/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8 text-center">
                                <center id="insentive_amount_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600 text-center"
                                    id="insentive_amount"></h4>
                                <h6 class="">Incentive Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-line-chart fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/recovery/recovery_topper_all_data/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8 text-center">
                                <center id="insentive_topper_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600 text-center"
                                    id="insentive_topper_name" style="font-size : 1.3vw;"></h4><br>
                                <h4 class="text-c-yellow f-w-600 text-center"
                                    id="insentive_topper" style="font-size : 1.3vw;"></h4>
                                <h6 class="">Recovery Topper</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-rupee fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/recovery/call_topper_data/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8 text-center">
                                <center id="call_topper_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600 text-center"
                                    id="call_topper_name" style="font-size : 1.3vw;"></h4><br>
                                <h4 class="text-c-yellow f-w-600 text-center"
                                    id="call_topper" style="font-size : 1.3vw;"></h4>
                                <h6 class="">Call Topper</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-phone fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/recovery/call_all_data/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8 text-center">
                                <center id="call_count_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600 text-center"
                                    id="call_count"></h4>
                                <h6 class="">Call Count</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-circle-o-notch fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

         <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/recovery/recovery_monthwise/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8 text-center">
                                <center id="recovery_amount_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600 text-center"
                                    id="recovery_amount"></h4>
                                <h6 class="">Recovery Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-line-chart fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>





    </div>
</div>

<div class="card">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-block">

                <div class="tab-content">
                    <div class="tab-pane active" id="home7" role="tabpanel">

                        <div class="row">
                            <div class="col-2">
                                Select Date :
                            </div>

                            <div class="col-4">

                                <input type="text" class="form-control" name="datepicker" id="datepicker" required>

                            </div>


                            <div class="col-4">
                                                            <center>
                                                                <input type="submit" id="myBtn" class="btn btn-primary" value="Get Graph"
                                                                       onclick="graph()">
                                                            </center>
                                                        </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<br>
<div class="container-fluid">
    <div class="">
        <div class="box">
            <div class="box-header">
                <center>
                    <h3 class="box-title">Recovered Amount</h3>
                    <h6 class="text-center"><strong>Recovery Amount per user</strong></h6></center>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>



<div class="card p-20" style="width:100%">
<div class="row">

    <div class="col-4" id="chart1">

        <div class="container-fluid">
            <div class="">
                <div class="box">
                    <div class="box-header">
                        <center>
                            <h3 class="box-title">Incentive Amount</h3>
                            <h6 class="text-center"><strong>Incentive Amount per user</strong></h6></center>
                        <canvas id="incentive_amount_chart"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-2"></div>
    <div class="col-4" id="chart2">

        <div class="container-fluid">
            <div class="">
                <div class="box">
                    <div class="box-header">
                        <center>
                            <h3 class="box-title">Recovery Amount</h3>
                            <h6 class="text-center"><strong>Recovery Amount per user</strong></h6></center>
                        <canvas id="recovery_amount_chart"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>



<div class="row" id="chart3">
    <div class="col-3"></div>
    <div class="col-4">

        <div class="container-fluid">
            <div class="">
                <div class="box">
                    <div class="box-header">
                        <center>
                            <h3 class="box-title">Recovery Count</h3>
                            <h6 class="text-center"><strong>Recovery Count per user</strong></h6></center>
                        <canvas id="recovery_count_chart"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-3"></div>
</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'js/chartsjs/Chart.js' %}"></script>
<script src="{% static 'css/chartsjs/Chart.css' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>





<script>
    $("#datepicker").datepicker( {
    format: "yyyy-mm",
    startView: "months",
    minViewMode: "months"
});

</script>


<script>

    window.onload = function() {

         graph()

        };

     function graph(){

     var month = document.getElementById('datepicker').value

     console.log("month", month);
     if (month != ""){
         console.log(" inside if");

        call_data(month);


     }

     else{
      console.log(" inside else ");

        var MyDate = new Date();
        console.log("-----------", MyDate)

<!--        MyDate.setDate(MyDate.getDate() + 20);-->


        new_date = MyDate.getFullYear() + '-' + ('0' + (MyDate.getMonth()+1)).slice(-2)
        console.log('new_date======', new_date);
        call_data(new_date)


         }
     }


    function call_data(month){
        console.log("inside call data month=====", month);

       incentive_pie_chart(month)
       recovery_pie_chart(month)
       recovery_count_chart(month)
       getData(month)


    }


    function incentive_pie_chart(month){

             console.log("inside incentive_pie_chart month=====", month);

            $.ajax({
                    type: "POST",
                    data: {
                    "month": month
                    },
                    url: "/recovery/incentive_pie_chart/",
                    success: function(data){


                    var graph_data = JSON.parse(data);

                    var labels_data = graph_data['labels']
                    var backgroundColor_data = graph_data['new_colour_list']
                    var amount_data = graph_data['incentive_amount_list']

                     var ctx = document.getElementById("incentive_amount_chart").getContext('2d');
                    var myChart = new Chart(ctx, {
                      type: 'pie',
                      data: {
                        labels: labels_data,
                        datasets: [{
                          backgroundColor: backgroundColor_data,
                          data: amount_data
                        }]
                      }
                    });


                   }

                });

    }


    function recovery_pie_chart(month){

             console.log("inside recovery_pie_chart month=====", month);
            $.ajax({
                    type: "POST",
                     data: {
                    "month": month
                    },
                    url: "/recovery/recovery_pie_chart/",
                    success: function(data){


                    var graph_data = JSON.parse(data);
                    var labels_data = graph_data['labels']
                    var backgroundColor_data = graph_data['new_colour_list']
                    var recovery_amount_data = graph_data['recovery_amount_list']

                    var ctx = document.getElementById("recovery_amount_chart").getContext('2d');
                    var myChart = new Chart(ctx, {
                      type: 'pie',
                      data: {
                        labels: labels_data,
                        datasets: [{
                          backgroundColor: backgroundColor_data,
                          data: recovery_amount_data
                        }]
                      }
                    });




                   }

                });
        }



    function recovery_count_chart(month){

    console.log("inside recovery_count_chart month=====", month);

            $.ajax({
                    type: "POST",
                     data: {
                    "month": month
                    },
                    url: "/recovery/recovery_count_chart/",
                    success: function(data){


                    var graph_data = JSON.parse(data);

                    var labels_data = graph_data['labels']
                    var backgroundColor_data = graph_data['new_colour_list']
                    var recovery_count = graph_data['recovery_count_list']

                    var ctx = document.getElementById("recovery_count_chart").getContext('2d');
                    var myChart = new Chart(ctx, {
                      type: 'pie',
                      data: {
                        labels: labels_data,
                        datasets: [{
                          backgroundColor: backgroundColor_data,
                          data: recovery_count
                        }]
                      }
                    });


                   }

                });

        }




                            var ctx = document.getElementById('myChart');
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: getData(),
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    }
                                }
                            });
                    function getData(month){
                        var jsonData = $.ajax({
                             type: "POST",
                             data: {
                            "month": month
                            },
                            url: '/recovery/recovery_amount/',
                            dataType: 'json',
                            success: function(data){
                                tempData = JSON.parse(data)
                                d = tempData['datasets'][0]
                                var finalData = {
                                type: 'bar',
                                data: {
                                    labels:tempData['labels'],
                                    datasets:[{
                                        label: d['label'],
                                        data: d['data'],
                                        backgroundColor: d['backgroundColor'],
                                        borderColor: d['borderColor'],
                                        borderWidth: d['borderWidth']
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero:true
                                                }
                                            }]
                                        }
                                    }
                                }
                                var ctx = document.getElementById("myChart");
                                var myChart = new Chart(ctx,finalData);

                                return finalData;
                            }
                        });
                    }



</script>
<script>
   $(document).ready(function () {
  set_group('Recovery Supervisor')
})
</script>


<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    <script src="/static/cdn/js/jquery(1.9.1).min.js"></script>
<!--<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"-->
<!--      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="-->
<!--      rel="stylesheet"/>-->

<link crossorigin="anonymous" href="/static/cdn/css/all(5.15.1).min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      rel="stylesheet"/>
<script src="/static/ecom/js/dashboard_data.js"></script>
