<style>
    .card-block{
    height: 125px;

    }
    a{color:#334860;}

   .fa {
  color: #7b8087;
}


   .fas {
  color: #7b8087;
}

.feather {
  color: #7b8087;
}

h4 {
    font-size : 1.6vw;
    display: inline-block;
}

.col-8 {
    text-align: center;

}























</style>

<div class="page-body" onload="set_group('Akash')">
    <p class="h4 text-primary text-center">NPCI Admin Dashboard</p>
    <br>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/npci/category_description/amount/npci/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8 text-center">
                                <center id="npci_amount_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600 text-center"
                                    id="npci_amount"></h4>
                                <h6 class="">NPCI Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-rupee fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/npci/category_description/count/npci/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="npci_count_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="npci_count">
                                </h4>
                                <h6 class="">NPCI Count</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-rupee fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/npci/category_description/amount/npci_receive/">

                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="npci_receive_amount_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="npci_receive_amount"></h4>
                                <h6 class="">NPCI Receive Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-rupee fa-2x"></i>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/npci/category_description/count/npci_receive/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="npci_receive_count_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="npci_receive_count"></h4>
                                <h6 class="">NPCI Receive Count</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-rupee fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/npci/category_description/amount/credit/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="credit_recharge_amount_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="credit_recharge_amount"></h4>
                                <h6 class="">Credit Recharge Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-rupee fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/npci/category_description/count/credit/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="credit_recharge_count_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="credit_recharge_count"></h4>
                                <h6 class="">Credit Recharge Count</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-rupee fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/npci/category_description/amount/wallet/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="wallet_recharge_amount_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="wallet_recharge_amount"></h4>
                                <h6 class="">Wallet Recharge Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-rupee fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/npci/category_description/count/wallet/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="wallet_recharge_count_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="wallet_recharge_count"></h4>

                                <h6 class="">Wallet Recharge Count</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-rupee  fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/npci/monthwise_repayment/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="repayment_amount_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="repayment_amount"></h4>

                                <h6 class="">Repayment</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-rupee  fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


    </div>


</div>


<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    <script src="/static/cdn/js/jquery(1.9.1).min.js"></script>
<!--<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"-->
<!--      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="-->
<!--      rel="stylesheet"/>-->

<link crossorigin="anonymous" href="/static/cdn/css/all(5.15.1).min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      rel="stylesheet"/>
<script>
$(document).ready(function () {
   // put Ajax here.
      load_data_1();
      load_data_2();
      set_group("NPCI Admin")

});

const load_data_1 = () =>{
 $.ajax({
         url: "/npci/dashboard_amount_count_data/",
         type: 'GET',
         dataType: 'json', // added data type
         success: function (res, status) {
            process_data_1(res)
         },
         error: function (data) {
            console.log("process_data1===========", data)
         }
      });
   }


const process_data_1 = (data) => {

console.log("data",data)
$("#npci_amount").html(data.total_sum);
$("#npci_amount_loader").remove()

$("#npci_count").html(data.total_count);
$("#npci_count_loader").remove()

$("#npci_receive_amount").html(data.cash_sum);
$("#npci_receive_amount_loader").remove()

$("#npci_receive_count").html(data.cash_count);
$("#npci_receive_count_loader").remove()

$("#credit_recharge_amount").html(data.credit_sum);
$("#credit_recharge_amount_loader").remove()


$("#credit_recharge_count").html(data.credit_count);
$("#credit_recharge_count_loader").remove()


$("#wallet_recharge_amount").html(data.wallet_sum);
$("#wallet_recharge_amount_loader").remove()



$("#wallet_recharge_count").html(data.wallet_count);
$("#wallet_recharge_count_loader").remove()

}

const load_data_2 = () =>{
 $.ajax({
         url: "/npci/dashboard_data_1/",
         type: 'GET',
         dataType: 'json', // added data type
         success: function (res, status) {
            process_data_2(res)
         },
         error: function (data) {
            console.log("process_data1===========", data)
         }
      });
   }

const process_data_2 = (data) => {

console.log("data",data)
$("#repayment_amount").html(data.repayment_amount);
$("#repayment_amount_loader").remove()

}









</script>