<style>
    .card-block{
    height: 125px;

    }
    a{color:#334860;}

   .fa {
  color: #7b8087;
}


   .fas {
  color: #7b8087;
}

.feather {
  color: #7b8087;
}

h4 {
    font-size : 1.6vw;
    display: inline-block;
}

.col-8 {
    text-align: center;

}











</style>

<div class="page-body">
    <p class="h4 text-primary text-center">Seller Dashboard</p>
    <br>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellers-all-orders/total/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="total_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600" id="total_orders">
                                    {{total_orders}}
                                </h4>
                                <h6 class="">Total Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-shopping-cart fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellers-all-orders/placed/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="placed_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600" id="placed_orders">
                                    {{placed_orders}}</h4>

                                <h6 class="">Placed Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-cart-plus fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/logistic_delivery_reverse_packed_count/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="packed_logistics_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="packed_logistics_orders">
                                    {{logistics_orders}}</h4>
                                <h6 class="">Packed Logistics Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-box fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellers-all-orders/dispatched/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="dispatch_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="dispatch_orders">
                                    {{dispatch_order}}</h4>

                                <h6 class="">Dispatched Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-truck fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/logistic_delivery_reverse_in_transit_count/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="in_transit_logistics_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="in_transit_logistics_orders">
                                    {{logistics_orders}}</h4>
                                <h6 class="">In_Transit Logistics Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-shipping-fast fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellers-all-orders/delivered/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="delivered_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="delivered_orders">
                                    {{delivered_orders}}</h4>
                                <h6 class="">Delivered Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-door-closed fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellers-all-orders/undelivered/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="undelivered_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="undelivered_orders">
                                    {{delivered_orders}}</h4>
                                <h6 class="">Undelivered Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-door-open fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <a href="/ecom/sellers-all-orders/cancelled/">
                <div class="card">

                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="cancelled_order_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="cancelled_order"></h4>

                                <h6 class="">Cancelled Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-window-close fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>

                </div>
            </a>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecomapi/return_seller_order_list/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="return_confirm_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="return_confirm">
                                    {{return_confirm}}</h4>
                                <h6 class="">Return Confirm Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-undo fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecomapi/seller_return_order_history/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="return_orders_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="return_orders">
                                    {{return_orders}}</h4>
                                <h6 class="">Return Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-undo fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellers-all-orders/pending/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="p_p_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="p_p"></h4>
                                <h6 class="">Yet To be Dispatched Order</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-truck fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/product_list">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="all_products_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600" id="all_products">
                                    {{all_products}}</h4>

                                <h6 class="">Total No of Products</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-shopping-cart fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellers-product_status_count/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="total_product_details1_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>

                                <h4 class="text-c-yellow f-w-600" id="total_product_details1">
                                    {{total_product_details}}
                                </h4>

                                <h6 class="">Total Product Details</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-shopping-cart fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellerwise_paid_pending_invoice/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h6 class="">Invoices</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-file-invoice fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <a href="/ecom/sellerwise_amount_invoice/">
                <div class="card">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="bill_amount_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="bill_amount">
                                    {{exchange_request}}</h4>
                                <h6 class="">Bill Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-rupee fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-3 col-md-6">

            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <center id="total_payment_received_loader">
                                <div class="sk-chase">
                                    <div class="sk-chase-dot"></div>
                                    <div class="sk-chase-dot"></div>
                                    <div class="sk-chase-dot"></div>
                                    <div class="sk-chase-dot"></div>
                                    <div class="sk-chase-dot"></div>
                                    <div class="sk-chase-dot"></div>
                                </div>
                            </center>
                            <h4 class="text-c-yellow f-w-600"
                                id="total_payment_received">
                                {{exchange_request}}</h4>
                            <h6 class="">Total Payment Received</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-rupee fa-2x"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-yellow">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/month_wise_sellers_penalty/{{request.user}}/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="total_penalty_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="total_penalty">
                                </h4>
                                <h6 class="">Total Penalty</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-ban fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <center id="net_due_loader">
                                <div class="sk-chase">
                                    <div class="sk-chase-dot"></div>
                                    <div class="sk-chase-dot"></div>
                                    <div class="sk-chase-dot"></div>
                                    <div class="sk-chase-dot"></div>
                                    <div class="sk-chase-dot"></div>
                                    <div class="sk-chase-dot"></div>
                                </div>
                            </center>
                            <h4 class="text-c-yellow f-w-600"
                                id="net_due">
                                {{exchange_request}}</h4>
                            <h6 class="">Net Due</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-rupee fa-2x"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
                {% block username %}

            {% if user.username == "MFPL" %}

                <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/monthwise_placed_mfpl_order">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="mfpl_placed_order_details_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600" id="mfpl_placed_order_details"></h4>

                                <h6 class="">MFPL Placed Order Details</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-cart-plus fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/logistics_order_details/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <center id="packed_mfpl_logistics_order_details_loader">
                                    <div class="sk-chase">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </center>
                                <h4 class="text-c-yellow f-w-600"
                                    id="packed_mfpl_logistics_order_details"></h4>
                                <h6 class="">MFPL Packed Logistics Order Details</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fas fa-box fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        {% endblock username %}
    </div>
</div>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script src="/static/cdn/js/jquery(3.2.1).min.js"></script>

<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
<link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>

<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>-->
<script src="/static/cdn/js/select2(4.0.13).min.js"></script>

<!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<script src="/static/cdn/js/jquery(1.10.2).min.js"></script>

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<link href="/static/cdn/css/font-awesome(4.7.0).min.css" rel="stylesheet"/>

<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">-->
<link href="/static/cdn/css/datepicker(1.2.0).min.css" rel="stylesheet">


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>-->
<script src="/static/cdn/js/bootstrap-datepicker(1.2.0).min.js"></script>


<script>
   $(document).ready(function () {
  set_group('Account Dashboard')
})
</script>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<script src="/static/cdn/js/jquery(1.9.1).min.js"></script>

<!--<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"-->
<!--      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="-->
<!--      rel="stylesheet"/>-->

<link crossorigin="anonymous" href="/static/cdn/css/all(5.15.1).min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      rel="stylesheet"/>
<script src="/static/ecom/js/dashboard_data.js"></script>
