{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<style>
    .card-block{
    height: 125px;

    }
    a{color:#334860;}

   .fa {
  color: #7b8087;
}


   .fas {
  color: #7b8087;
}

.feather {
  color: #7b8087;
}

h4 {
    font-size : 1.6vw;
    display: inline-block;
}

.col-8 {
    text-align: center;

}

</style>

<div class="page-body">

    {% if dashboard == "EcomAdmin" %}
    {% include 'Ecom/dashboard/ecom_admin_dashboard.html' %}
    {% endif %}

    {% if dashboard == "Seller" %}
    {% include 'Ecom/dashboard/seller_dashboard.html' %}
    {% endif %}

    {% if dashboard == "Accounts" %}
    {% include 'Ecom/dashboard/ecom_accounts_dashboard.html' %}
    {% endif %}

    {% if dashboard == "EcomManager" %}
    {% include 'Ecom/dashboard/ecom_manager_dashboard.html' %}
    {% endif %}

    {% if dashboard == "Recovery Supervisor" %}
    {% include 'Ecom/dashboard/ecom_recovery_supervisor_dashboard.html' %}
    {% endif %}

    {% if dashboard == "Recovery Team" %}
    {% include 'Ecom/dashboard/ecom_recovery_team_dashboard.html' %}
    {% endif %}

     {% if dashboard == "Recovery Head" %}
    {% include 'Ecom/dashboard/ecom_recovery_head_dashboard.html' %}
    {% endif %}

    {% if dashboard == "NPCIAdmin" %}
    {% include 'Ecom/dashboard/npci_admin.html' %}
    {% endif %}


</div>

{% endblock %}