{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Premium Due Date</th>
                                                <th>Premium Expiry Date</th>
                                                <th>Premium Taken Date</th>
                                                <th>Type</th>
                                                <th>Sub Type</th>
                                                <th>Amount</th>
                                                <th>Insurance Name</th>
                                                <th>Policy Name</th>
                                                <th>Policy Number</th>
                                                <th>User</th>
                                                <th>Created Date</th>
                                                <th>Updated Date</th>
                                                <th>Pdf</th>

                                            </tr>
                                            </thead>
                                            {% if insurance_obj %}
                                            {% for insurance in insurance_obj %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>
                                                    {{insurance.premium_due_date}}
                                                </td>
                                                <td>{{insurance.premium_expiry_date}}
                                                </td>
                                                <td>{{insurance.premium_taken_date}}</td>
                                                <td>{{insurance.type}}</td>
                                                <td>{{insurance.sub_type}}</td>
                                                <td>{{insurance.amount}}</td>
                                                <td>{{insurance.insurance_name}}</td>
                                                <td>{{insurance.policy_name}}</td>
                                                <td>{{insurance.policy_number}}</td>
                                                <td>{{insurance.user_insurance.user.username}}</td>
                                                <td>{{insurance.created_date}}</td>
                                                <td>{{insurance.updated_date}}</td>
                                                {% if insurance.pdf_url %}
                                                <td><a href="/{{insurance.pdf_url}}/"><input id="mru" type="button"
                                                                                          class="btn btn-primary"
                                                                                          value="Download Pdf"
                                                                                          style="float:right;display:;"></a></td>
                                                {% else %}
                                                <td><input id="mrual" type="button" onclick="myfunction()"
                                                                                          class="btn btn-primary"
                                                                                          value="Download Pdf"
                                                                                          style="float:right;display:;">
                                                <p id="demo"></p></td>

                                                {% endif %}


                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
function myfunction() {
  document.getElementById("mrual").style.display = "none";
  document.getElementById("demo").innerHTML = "No insurance pdf available";
}
</script>
{% endblock %}

