{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<head>
   <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
       <script src="/static/cdn/js/jquery(3.2.1).min.js"></script>
<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
<link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>

<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>-->
<script src="/static/cdn/js/select2(4.0.13).min.js"></script>
</head>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    Search By :<br><br> <select name="search_by"
                                                                id="search"
                                                                onchange="choose_option()"
                                                                required>
                                    <option value="" disabled selected="true">--select---</option>
                                    {% if request.user|has_group:"EcomAdmin" or request.user|has_group:"EcomCustomerCare" or request.user|has_group:"EcomManager" %}

                                    <option value="user_name">User Name</option>
                                    <option value="policy_number">Policy Number</option>

                                      {% endif %}


                                </select>
                                    <br><br>
                                    {% if msg %}
                                    <h5 class="text-center" style="margin-top:2%;color:red;">{{msg}}</h5>
                                    {% endif %}

                                    <div id="search_user_name" style="display:none">
                                        <form action="/insurance/search_insurance/Order/" method="post"
                                              enctype="multipart/form-data">{% csrf_token %}
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Enter User Name:
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                                name="name"
                                                                placeholder="Enter User Name"
                                                                type="text" required>
                                                        <input type="hidden" name="status" value="user_name">
                                                    </p>
                                                </div>

                                            </div>


                                            <br>

                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                    type="submit"
                                                    class="btn btn-primary waves-effect waves-light m-r-10"
                                                    value="Search" onsubmit="enable_table();">
                                        </form>
                                    </div>


                                    <div id="search_policy_number" style="display:none">
                                        <form action="/insurance/search_insurance/Order/" method="post"
                                              enctype="multipart/form-data">{% csrf_token %}
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Enter Policy Number :
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                                name="name"
                                                                placeholder="Enter Policy Number"
                                                                type="text" required>
                                                        <input type="hidden" name="status" value="policy_number">
                                                    </p>
                                                </div>

                                            </div>


                                            <br>

                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                    type="submit"
                                                    class="btn btn-primary waves-effect waves-light m-r-10"
                                                    value="Search" onsubmit="enable_table();">
                                        </form>
                                    </div>
                                    <br><br>



                                    <br><br>



                                    <br><br>


                                    {% if all_data %}

                                    <div class="dt-responsive table-responsive"><br>

                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>

                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Premium Due Date</th>
                                                <th>Premium Expiry Date</th>
                                                <th>Premium Taken Date</th>
                                                <th>Type</th>
                                                <th>Sub Type</th>
                                                <th>Amount</th>
                                                <th>Insurance Name</th>
                                                <th>Policy Name</th>
                                                <th>Policy Number</th>
                                                <th>User</th>
                                                <th>Created Date</th>
                                                <th>Updated Date</th>
                                                <th>Pdf</th>


                                            </tr>
                                            </thead>

                                            <tr>
                                                {% for insurance in all_data %}


                                                <td>{{forloop.counter}}</td>
                                                <td>
                                                    {{insurance.premium_due_date}}
                                                </td>
                                                <td>{{insurance.premium_expiry_date}}
                                                </td>
                                                <td>{{insurance.premium_taken_date}}</td>
                                                <td>{{insurance.type}}</td>
                                                <td>{{insurance.sub_type}}</td>
                                                <td>{{insurance.amount}}</td>
                                                <td>{{insurance.insurance_name}}</td>
                                                <td>{{insurance.policy_name}}</td>
                                                <td>{{insurance.policy_number}}</td>
                                                <td>{{insurance.user_insurance.user.username}}</td>
                                                <td>{{insurance.created_date}}</td>
                                                <td>{{insurance.updated_date}}</td>
                                                 {% if insurance.pdf_url %}
                                                <td><a href="/{{insurance.pdf_url}}/"><input id="mru" type="button"
                                                                                          class="btn btn-primary"
                                                                                          value="Download Pdf"
                                                                                          style="float:right;display:;"></a></td>
                                                {% else %}
                                                <td><input id="mrual" type="button" onclick="myfunction()"
                                                                                          class="btn btn-primary"
                                                                                          value="Download Pdf"
                                                                                          style="float:right;display:;">
                                                <p id="demo"></p></td>

                                                {% endif %}


                                            </tr>
                                            {% endfor %}


                                        </table>

                                    </div>
                                    {% endif %}

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>

var option = document.getElementById("search").value;
if(option == 'user_name'){
document.getElementById("search_user_name").style.display = "";
document.getElementById("search_policy_number").style.display = "none";

}
if(option == 'policy_number'){
document.getElementById("search_user_name").style.display = "none";
document.getElementById("search_policy_number").style.display = "";

}


function choose_option(){
var option = document.getElementById("search").value;
    if(option == 'user_name'){
    document.getElementById("search_user_name").style.display = "";
    document.getElementById("search_policy_number").style.display = "none";

    }

    if(option == 'policy_number'){
    document.getElementById("search_user_name").style.display = "none";
    document.getElementById("search_policy_number").style.display = "";

    }



}

function call_disable()
{
console.log("akash");
document.getElementById("akash").style.display = "none";
}


</script>
<!--<script>-->

<!--var table_data = document.getElementById("table-style-hover")-->
<!--if (table_data){-->
<!--console.log("inside fun============");-->
<!--var x = document.getElementById("change_order_status").async-->
<!--if (x){-->
<!--var change_status = document.getElementById("change_order_status").value;-->
<!-- console.log("change_status", change_status);-->
<!-- if(change_status){-->

<!-- alert("if");-->

<!-- }-->
<!-- else{-->

<!-- alert("else");-->
<!-- }-->
<!-- }-->

<!--}-->


<!--</script>-->

<script>
    function asdf(oid){

    var change_status = document.getElementById("change_order_status").value;
    if(change_status){

        var status = change_status;
        var order_id = oid;

        $.ajax({
        type: "POST",
        data: {
            'status': status,
            'order_id':order_id
        },
        url: "/ecom/change_status1/",
        success: function(data){

        var data = JSON.parse(data);

        console.log(data);

        if (data['status']== 'success'){

            alert("Status Changed Successfully!!!");

        }
        else
        {
         alert("Something Went Wrong ");

        }

        }
        });


    }
     else{

     alert("Select status first");

     }

    }
</script>
<script>
   $(document).ready(function () {

//change selectboxes to selectize mode to be searchable
   $("select").select2();
});


</script>
<script>
function myfunction() {
  document.getElementById("mrual").style.display = "none";
  document.getElementById("demo").innerHTML = "No insurance pdf available";
}
</script>

{% endblock %}
