{% extends "Ecom/emails/base.html" %}
{% block tbody %}
    <tr>
        <td class="content-block">

            <p xmlns="http://www.w3.org/1999/html"></p>
            <p>Hello Logistics,</p>
            <p>Your Order is placed Successfully.</p>
            <br/>
            <p><b>Order ID :</b> {{order.order_text}}</p>
            <p><b>Order Amount:</b> {{order.total_amount}}</p>

            <br>
            <p></p>
        </td>
    </tr>
{% endblock %}