{% extends "Ecom/emails/base.html" %}
{% block tbody %}
<tr>
    <td class="content-block">

        <p xmlns="http://www.w3.org/1999/html"></p>
        <p>Dear {{seller_name|title}},</p>
        <p>We are delighted to welcome you to the Creditkart family. Your On-boarding has been completed successfully.
            Attached below is the link of your dashboard, as well as your credentials. </p>
        <p><b>Dashboard link :</b> {{ dashboard_link }}</p>
        <p><b>Username :</b> {{ username }}</p>
        <p><b>Password:</b> {{password}}</p>
        <p>To maintain the security of your account, we suggest you reset your password.</p>
        <p>Reach out to us at <b>+91 {{ customer_number }}</b> in case of queries or help.</p>
        <p>We look forward to working with you.</p><br><br>
        <p>Regards,</p>
        <p>Team CreditKart</p>

    </td>
</tr>
{% endblock %}