{% extends "Ecom/emails/base.html" %}
{% block tbody %}
    <tr>
        <td class="content-block">
            {{data}}
            <p xmlns="http://www.w3.org/1999/html"></p>

            <br/>
        </td>
    </tr>
{% endblock %}