<metadata>
    <BASE-PLUS-REPORT-FILE>
        <BASE-PLUS-REPORTS>
            <BASE-PLUS-REPORT>
                <HEADER>
                    <DATE-OF-REQUEST>24-01-2022 19:19:54</DATE-OF-REQUEST>
                    <PREPARED-FOR>ANAND PROPERTY FINANCE LIMITED</PREPARED-FOR>
                    <PREPARED-FOR-ID>NBF0003092</PREPARED-FOR-ID>
                    <DATE-OF-ISSUE>28-01-2022</DATE-OF-ISSUE>
                    <REPORT-ID>ANAN220128CR370393347</REPORT-ID>
                    <BATCH-ID>312962330220128</BATCH-ID>
                    <STATUS>SUCCESS</STATUS>
                </HEADER>
                <REQUEST>
                    <NAME>
                        <![CDATA[DIBYALATA SAIKIA]]>
                    </NAME>
                    <DOB>15-08-1974</DOB>
                    <AGE-AS-ON></AGE-AS-ON>
                    <PAN>
                        <![CDATA[BZIPO6181K]]>
                    </PAN>
                    <EMAIL-1>dibyalata@gmail.com</EMAIL-1>
                    <GENDER>Female</GENDER>
                    <ADDRESS-1>
                        <![CDATA[W O NIKHIL SAIKIA VILL 15 NO JALONI GRANT_  AMRJYOTI GAON PO LILAPUR DIST DIBRUGARH 786602 AS DIBRUGARH 786602 AS]]>
                    </ADDRESS-1>
                    <PHONE-1>6668962316</PHONE-1>
                    <BRANCH>
                        <![CDATA[3008]]>
                    </BRANCH>
                    <KENDRA>
                        <![CDATA[1234]]>
                    </KENDRA>
                    <MBR-ID>
                        <![CDATA[NBF0003092]]>
                    </MBR-ID>
                    <CREDT-INQ-PURPS-TYP>ACCT-ORIG</CREDT-INQ-PURPS-TYP>
                    <CREDT-INQ-PURPS-TYP-DESC>JLG INDIVIDUAL</CREDT-INQ-PURPS-TYP-DESC>
                    <CREDIT-INQUIRY-STAGE>PRE-DISB</CREDIT-INQUIRY-STAGE>
                    <CREDT-RPT-ID>345</CREDT-RPT-ID>
                    <CREDT-REQ-TYP>INDV</CREDT-REQ-TYP>
                    <CREDT-RPT-TRN-DT-TM>NBF0003092</CREDT-RPT-TRN-DT-TM>
                    <LOS-APP-ID>
                        <![CDATA[b0Yf0000003fL7xEA456]]>
                    </LOS-APP-ID>
                    <LOAN-AMOUNT>200000</LOAN-AMOUNT>
                </REQUEST>
                <PERSONAL-INFO-VARIATION>
                    <NAME-VARIATIONS>
                        <VARIATION>
                            <VALUE>
                                <![CDATA[DIBYALATA SAIKIA]]>
                            </VALUE>
                            <REPORTED-DATE>30-11-2019</REPORTED-DATE>
                        </VARIATION>
                    </NAME-VARIATIONS>
                    <ADDRESS-VARIATIONS>
                        <VARIATION>
                            <VALUE>
                                <![CDATA[W/O NIKHIL SAIKIA VILL- 15 NO JALONI GRANT_ AMRJYOTI GAON PO LILAPUR DIST DIBRUGARH 786602 AS]]>
                            </VALUE>
                            <REPORTED-DATE>30-11-2019</REPORTED-DATE>
                        </VARIATION>
                        <VARIATION>
                            <VALUE>
                                <![CDATA[MADHUPUR TINIALI; MADHUPUR TINIALI; DHADUMIA; ; DHADUMIA 786610 AS]]>
                            </VALUE>
                            <REPORTED-DATE>05-11-2019</REPORTED-DATE>
                        </VARIATION>
                        <VARIATION>
                            <VALUE>
                                <![CDATA[MADHUPUR TINIALI; MADHUPUR TINIALI; DHADUMIA; ; TIPLING BAHDHARI 786610 AS]]>
                            </VALUE>
                            <REPORTED-DATE>05-11-2019</REPORTED-DATE>
                        </VARIATION>
                        <VARIATION>
                            <VALUE>
                                <![CDATA[W/O NIKHIL SAIKIA 15 NO JALONI GRANT,  TIPLING WARD NO :1 DULIA-AS 786602 AS]]>
                            </VALUE>
                            <REPORTED-DATE>31-10-2019</REPORTED-DATE>
                        </VARIATION>
                        <VARIATION>
                            <VALUE>
                                <![CDATA[15 NO JALONI PO BHADOIPANCHALI 786191 AS]]>
                            </VALUE>
                            <REPORTED-DATE>30-11-2019</REPORTED-DATE>
                        </VARIATION>
                    </ADDRESS-VARIATIONS>
                    <PAN-VARIATIONS>
                        <VARIATION>
                            <VALUE>
                                <![CDATA[BZIPO6181K]]>
                            </VALUE>
                            <REPORTED-DATE>30-11-2019</REPORTED-DATE>
                        </VARIATION>
                    </PAN-VARIATIONS>
                    <DRIVING-LICENSE-VARIATIONS />
                    <DATE-OF-BIRTH-VARIATIONS>
                        <VARIATION>
                            <VALUE>
                                <![CDATA[19-02-1978]]>
                            </VALUE>
                            <REPORTED-DATE>05-11-2019</REPORTED-DATE>
                        </VARIATION>
                        <VARIATION>
                            <VALUE>
                                <![CDATA[15-08-1974]]>
                            </VALUE>
                            <REPORTED-DATE>30-11-2019</REPORTED-DATE>
                        </VARIATION>
                    </DATE-OF-BIRTH-VARIATIONS>
                    <VOTER-ID-VARIATIONS />
                    <PASSPORT-VARIATIONS />
                    <PHONE-NUMBER-VARIATIONS>
                        <VARIATION>
                            <VALUE>
                                <![CDATA[5581569266]]>
                            </VALUE>
                            <REPORTED-DATE>30-11-2019</REPORTED-DATE>
                        </VARIATION>
                        <VARIATION>
                            <VALUE>
                                <![CDATA[5699891164]]>
                            </VALUE>
                            <REPORTED-DATE>30-11-2019</REPORTED-DATE>
                        </VARIATION>
                        <VARIATION>
                            <VALUE>
                                <![CDATA[5626964869]]>
                            </VALUE>
                            <REPORTED-DATE>31-10-2019</REPORTED-DATE>
                        </VARIATION>
                    </PHONE-NUMBER-VARIATIONS>
                    <RATION-CARD-VARIATIONS />
                    <EMAIL-VARIATIONS>
                        <VARIATION>
                            <VALUE>
                                <![CDATA[NJTQO8406@SRI.COM]]>
                            </VALUE>
                            <REPORTED-DATE>31-10-2019</REPORTED-DATE>
                        </VARIATION>
                    </EMAIL-VARIATIONS>
                </PERSONAL-INFO-VARIATION>
                <SECONDARY-MATCHES />
                <ACCOUNTS-SUMMARY>
                    <DERIVED-ATTRIBUTES>
                        <INQURIES-IN-LAST-SIX-MONTHS>0</INQURIES-IN-LAST-SIX-MONTHS>
                        <LENGTH-OF-CREDIT-HISTORY-YEAR>6</LENGTH-OF-CREDIT-HISTORY-YEAR>
                        <LENGTH-OF-CREDIT-HISTORY-MONTH>2</LENGTH-OF-CREDIT-HISTORY-MONTH>
                        <AVERAGE-ACCOUNT-AGE-YEAR>3</AVERAGE-ACCOUNT-AGE-YEAR>
                        <AVERAGE-ACCOUNT-AGE-MONTH>0</AVERAGE-ACCOUNT-AGE-MONTH>
                        <NEW-ACCOUNTS-IN-LAST-SIX-MONTHS>0</NEW-ACCOUNTS-IN-LAST-SIX-MONTHS>
                        <NEW-DELINQ-ACCOUNT-IN-LAST-SIX-MONTHS>0</NEW-DELINQ-ACCOUNT-IN-LAST-SIX-MONTHS>
                    </DERIVED-ATTRIBUTES>
                    <PRIMARY-ACCOUNTS-SUMMARY>
                        <PRIMARY-NUMBER-OF-ACCOUNTS>5</PRIMARY-NUMBER-OF-ACCOUNTS>
                        <PRIMARY-ACTIVE-NUMBER-OF-ACCOUNTS>5</PRIMARY-ACTIVE-NUMBER-OF-ACCOUNTS>
                        <PRIMARY-OVERDUE-NUMBER-OF-ACCOUNTS>3</PRIMARY-OVERDUE-NUMBER-OF-ACCOUNTS>
                        <PRIMARY-SECURED-NUMBER-OF-ACCOUNTS>0</PRIMARY-SECURED-NUMBER-OF-ACCOUNTS>
                        <PRIMARY-UNSECURED-NUMBER-OF-ACCOUNTS>0</PRIMARY-UNSECURED-NUMBER-OF-ACCOUNTS>
                        <PRIMARY-UNTAGGED-NUMBER-OF-ACCOUNTS>0</PRIMARY-UNTAGGED-NUMBER-OF-ACCOUNTS>
                        <PRIMARY-CURRENT-BALANCE>5,57,644</PRIMARY-CURRENT-BALANCE>
                        <PRIMARY-SANCTIONED-AMOUNT>4,67,000</PRIMARY-SANCTIONED-AMOUNT>
                        <PRIMARY-DISBURSED-AMOUNT>4,67,000</PRIMARY-DISBURSED-AMOUNT>
                    </PRIMARY-ACCOUNTS-SUMMARY>
                    <SECONDARY-ACCOUNTS-SUMMARY>
                        <SECONDARY-NUMBER-OF-ACCOUNTS>0</SECONDARY-NUMBER-OF-ACCOUNTS>
                        <SECONDARY-ACTIVE-NUMBER-OF-ACCOUNTS>0</SECONDARY-ACTIVE-NUMBER-OF-ACCOUNTS>
                        <SECONDARY-OVERDUE-NUMBER-OF-ACCOUNTS>0</SECONDARY-OVERDUE-NUMBER-OF-ACCOUNTS>
                        <SECONDARY-SECURED-NUMBER-OF-ACCOUNTS>0</SECONDARY-SECURED-NUMBER-OF-ACCOUNTS>
                        <SECONDARY-UNSECURED-NUMBER-OF-ACCOUNTS>0</SECONDARY-UNSECURED-NUMBER-OF-ACCOUNTS>
                        <SECONDARY-UNTAGGED-NUMBER-OF-ACCOUNTS>0</SECONDARY-UNTAGGED-NUMBER-OF-ACCOUNTS>
                        <SECONDARY-CURRENT-BALANCE>0</SECONDARY-CURRENT-BALANCE>
                        <SECONDARY-SANCTIONED-AMOUNT>0</SECONDARY-SANCTIONED-AMOUNT>
                        <SECONDARY-DISBURSED-AMOUNT>0</SECONDARY-DISBURSED-AMOUNT>
                    </SECONDARY-ACCOUNTS-SUMMARY>
                </ACCOUNTS-SUMMARY>
                <RESPONSES>
                    <RESPONSE>
                        <LOAN-DETAILS>
                            <ACCT-NUMBER>XXXX</ACCT-NUMBER>
                            <CREDIT-GUARANTOR>XXXX</CREDIT-GUARANTOR>
                            <ACCT-TYPE>Business Loan Priority Sector Others</ACCT-TYPE>
                            <DATE-REPORTED>30-11-2019</DATE-REPORTED>
                            <OWNERSHIP-IND>Individual</OWNERSHIP-IND>
                            <ACCOUNT-STATUS>Active</ACCOUNT-STATUS>
                            <DISBURSED-AMT>62,000</DISBURSED-AMT>
                            <DISBURSED-DT>16-09-2013</DISBURSED-DT>
                            <LAST-PAYMENT-DATE>19-11-2018</LAST-PAYMENT-DATE>
                            <OVERDUE-AMT>0</OVERDUE-AMT>
                            <WRITE-OFF-AMT>0</WRITE-OFF-AMT>
                            <CURRENT-BAL>60,604</CURRENT-BAL>
                            <COMBINED-PAYMENT-HISTORY>
                                Nov:2019,XXX/STD|Oct:2019,XXX/STD|Sep:2019,XXX/STD|Aug:2019,XXX/STD|Jul:2019,XXX/STD|Jun:2019,DDD/DDD|May:2019,XXX/STD|Apr:2019,XXX/STD|Mar:2019,XXX/STD|Feb:2019,XXX/STD|Jan:2019,XXX/STD|Dec:2018,XXX/STD|Nov:2018,XXX/STD|Oct:2018,XXX/STD|Sep:2018,XXX/STD|Aug:2018,XXX/STD|Jul:2018,XXX/STD|Jun:2018,XXX/STD|May:2018,XXX/STD|Apr:2018,000/STD|Mar:2018,000/STD|Feb:2018,000/STD|Jan:2018,000/STD|Dec:2017,DDD/DDD|Nov:2017,DDD/DDD|Oct:2017,000/STD|Sep:2017,000/STD|Aug:2017,000/STD|Jul:2017,000/STD|Jun:2017,000/STD|May:2017,000/STD|Apr:2017,000/STD|Mar:2017,000/STD|Feb:2017,000/STD|Jan:2017,000/STD|Dec:2016,000/STD|
                            </COMBINED-PAYMENT-HISTORY>
                            <MATCHED-TYPE>PRIMARY</MATCHED-TYPE>
                            <LINKED-ACCOUNTS />
                            <SECURITY-DETAILS />
                            <WRITTEN-OFF_SETTLED-STATUS>Restructured due to COVID-19</WRITTEN-OFF_SETTLED-STATUS>
                        </LOAN-DETAILS>
                    </RESPONSE>
                    <RESPONSE>
                        <LOAN-DETAILS>
                            <ACCT-NUMBER>XXXX</ACCT-NUMBER>
                            <CREDIT-GUARANTOR>XXXX</CREDIT-GUARANTOR>
                            <ACCT-TYPE>Business Loan Priority Sector Agriculture</ACCT-TYPE>
                            <DATE-REPORTED>30-11-2019</DATE-REPORTED>
                            <OWNERSHIP-IND>Individual</OWNERSHIP-IND>
                            <ACCOUNT-STATUS>Active</ACCOUNT-STATUS>
                            <DISBURSED-AMT>0</DISBURSED-AMT>
                            <DISBURSED-DT>27-07-2016</DISBURSED-DT>
                            <LAST-PAYMENT-DATE>28-08-2019</LAST-PAYMENT-DATE>
                            <WRITE-OFF-AMT>0</WRITE-OFF-AMT>
                            <CURRENT-BAL>53,135</CURRENT-BAL>
                            <COMBINED-PAYMENT-HISTORY>
                                Nov:2019,XXX/SUB|Oct:2019,XXX/SUB|Sep:2019,XXX/SUB|Aug:2019,XXX/SUB|Jul:2019,XXX/SUB|Jun:2019,XXX/SUB|May:2019,XXX/SUB|Apr:2019,XXX/SUB|Mar:2019,XXX/SUB|Feb:2019,XXX/SUB|Jan:2019,XXX/SUB|Dec:2018,XXX/STD|Nov:2018,XXX/STD|Oct:2018,XXX/STD|Sep:2018,XXX/STD|Aug:2018,XXX/STD|Jul:2018,XXX/STD|Jun:2018,XXX/STD|May:2018,XXX/STD|Apr:2018,XXX/STD|Mar:2018,XXX/STD|Feb:2018,XXX/STD|Jan:2018,XXX/STD|Dec:2017,XXX/STD|Nov:2017,XXX/STD|Oct:2017,XXX/STD|Sep:2017,XXX/STD|Aug:2017,XXX/STD|Jul:2017,XXX/STD|Jun:2017,XXX/STD|May:2017,XXX/STD|Apr:2017,XXX/STD|Mar:2017,XXX/STD|Feb:2017,XXX/STD|Jan:2017,XXX/STD|Dec:2016,XXX/STD|
                            </COMBINED-PAYMENT-HISTORY>
                            <MATCHED-TYPE>PRIMARY</MATCHED-TYPE>
                            <LINKED-ACCOUNTS />
                            <SECURITY-DETAILS />
                            <SUIT-FILED_WILFUL-DEFAULT>No Suit filed</SUIT-FILED_WILFUL-DEFAULT>
                            <WRITTEN-OFF_SETTLED-STATUS>Restructured due to COVID-19</WRITTEN-OFF_SETTLED-STATUS>
                        </LOAN-DETAILS>
                    </RESPONSE>
                    <RESPONSE>
                        <LOAN-DETAILS>
                            <ACCT-NUMBER>XXXX</ACCT-NUMBER>
                            <CREDIT-GUARANTOR>XXXX</CREDIT-GUARANTOR>
                            <ACCT-TYPE>Mudra Loans Shishu / Kishor / Tarun</ACCT-TYPE>
                            <DATE-REPORTED>31-10-2019</DATE-REPORTED>
                            <OWNERSHIP-IND>Guarantor</OWNERSHIP-IND>
                            <ACCOUNT-STATUS>Active</ACCOUNT-STATUS>
                            <DISBURSED-AMT>3,50,000</DISBURSED-AMT>
                            <DISBURSED-DT>05-07-2018</DISBURSED-DT>
                            <LAST-PAYMENT-DATE>27-09-2019</LAST-PAYMENT-DATE>
                            <INSTALLMENT-AMT>6,041/Monthly</INSTALLMENT-AMT>
                            <OVERDUE-AMT>12,116</OVERDUE-AMT>
                            <WRITE-OFF-AMT>0</WRITE-OFF-AMT>
                            <CURRENT-BAL>3,16,015</CURRENT-BAL>
                            <COMBINED-PAYMENT-HISTORY>
                                Oct:2019,XXX/STD|Sep:2019,XXX/STD|Aug:2019,DDD/DDD|Jul:2019,XXX/STD|Jun:2019,DDD/DDD|May:2019,XXX/STD|Apr:2019,XXX/STD|Mar:2019,XXX/STD|Feb:2019,XXX/STD|Jan:2019,XXX/STD|Dec:2018,DDD/DDD|Nov:2018,XXX/STD|Oct:2018,XXX/STD|Sep:2018,XXX/STD|Aug:2018,XXX/STD|
                            </COMBINED-PAYMENT-HISTORY>
                            <MATCHED-TYPE>PRIMARY</MATCHED-TYPE>
                            <LINKED-ACCOUNTS />
                            <SECURITY-DETAILS>
                                <SECURITY-DETAIL>
                                    <SECURITY-TYPE>Property</SECURITY-TYPE>
                                    <SECURITY-VALUE>0</SECURITY-VALUE>
                                    <PROPERTY-ADDRESS></PROPERTY-ADDRESS>
                                </SECURITY-DETAIL>
                            </SECURITY-DETAILS>
                            <SUIT-FILED_WILFUL-DEFAULT>No Suit filed</SUIT-FILED_WILFUL-DEFAULT>
                            <WRITTEN-OFF_SETTLED-STATUS>Restructured due to COVID-19</WRITTEN-OFF_SETTLED-STATUS>
                            <ACTUAL-PAYMENT>79,934</ACTUAL-PAYMENT>
                        </LOAN-DETAILS>
                    </RESPONSE>
                    <RESPONSE>
                        <LOAN-DETAILS>
                            <ACCT-NUMBER>XXXX</ACCT-NUMBER>
                            <CREDIT-GUARANTOR>XXXX</CREDIT-GUARANTOR>
                            <ACCT-TYPE>JLG Individual</ACCT-TYPE>
                            <DATE-REPORTED>31-07-2018</DATE-REPORTED>
                            <OWNERSHIP-IND>Primary</OWNERSHIP-IND>
                            <ACCOUNT-STATUS>Active</ACCOUNT-STATUS>
                            <DISBURSED-AMT>25,000</DISBURSED-AMT>
                            <DISBURSED-DT>27-02-2016</DISBURSED-DT>
                            <LAST-PAYMENT-DATE>30-12-2017</LAST-PAYMENT-DATE>
                            <CLOSED-DATE>30-12-2017</CLOSED-DATE>
                            <INSTALLMENT-AMT>660/BiWeekly</INSTALLMENT-AMT>
                            <OVERDUE-AMT>0</OVERDUE-AMT>
                            <WRITE-OFF-AMT>0</WRITE-OFF-AMT>
                            <CURRENT-BAL>0</CURRENT-BAL>
                            <COMBINED-PAYMENT-HISTORY>
                                Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|Sep:2017,XXX/XXX|Aug:2017,000/XXX|Jul:2017,000/XXX|Jun:2017,XXX/XXX|May:2017,000/XXX|Apr:2017,000/XXX|Mar:2017,000/XXX|Feb:2017,000/XXX|Jan:2017,000/XXX|Dec:2016,000/XXX|Nov:2016,000/XXX|Oct:2016,000/XXX|Sep:2016,000/XXX|Aug:2016,000/XXX|Jul:2016,000/XXX|Jun:2016,000/XXX|May:2016,013/XXX|Apr:2016,003/XXX|Mar:2016,000/XXX|
                            </COMBINED-PAYMENT-HISTORY>
                            <MATCHED-TYPE>PRIMARY</MATCHED-TYPE>
                            <LINKED-ACCOUNTS />
                            <CREDIT-LIMIT>25,000</CREDIT-LIMIT>
                            <SECURITY-DETAILS />
                            <REPAYMENT-TENURE>48</REPAYMENT-TENURE>
                        </LOAN-DETAILS>
                    </RESPONSE>
                    <RESPONSE>
                        <LOAN-DETAILS>
                            <ACCT-NUMBER>XXXX</ACCT-NUMBER>
                            <CREDIT-GUARANTOR>XXXX</CREDIT-GUARANTOR>
                            <ACCT-TYPE>JLG Individual</ACCT-TYPE>
                            <DATE-REPORTED>05-11-2019</DATE-REPORTED>
                            <OWNERSHIP-IND>Primary</OWNERSHIP-IND>
                            <ACCOUNT-STATUS>Active</ACCOUNT-STATUS>
                            <DISBURSED-AMT>30,000</DISBURSED-AMT>
                            <DISBURSED-DT>30-12-2017</DISBURSED-DT>
                            <LAST-PAYMENT-DATE>31-10-2019</LAST-PAYMENT-DATE>
                            <INSTALLMENT-AMT>780/Other</INSTALLMENT-AMT>
                            <OVERDUE-AMT>0</OVERDUE-AMT>
                            <WRITE-OFF-AMT>0</WRITE-OFF-AMT>
                            <CURRENT-BAL>1,27,890</CURRENT-BAL>
                            <COMBINED-PAYMENT-HISTORY>
                                Nov:2019,000/XXX|Oct:2019,000/XXX|Sep:2019,000/XXX|Aug:2019,000/XXX|Jul:2019,000/XXX|Jun:2019,000/XXX|May:2019,000/XXX|Apr:2019,011/XXX|Mar:2019,000/XXX|Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|Oct:2018,000/XXX|Sep:2018,000/XXX|Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,XXX/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|
                            </COMBINED-PAYMENT-HISTORY>
                            <MATCHED-TYPE>PRIMARY</MATCHED-TYPE>
                            <LINKED-ACCOUNTS />
                            <CREDIT-LIMIT>30,000</CREDIT-LIMIT>
                            <SECURITY-DETAILS />
                            <REPAYMENT-TENURE>24</REPAYMENT-TENURE>
                        </LOAN-DETAILS>
                    </RESPONSE>
                </RESPONSES>
                <INQUIRY-HISTORY>
                    <HISTORY>
                        <MEMBER-NAME>XXXX</MEMBER-NAME>
                        <INQUIRY-DATE>03-03-2020</INQUIRY-DATE>
                        <PURPOSE>OTHER</PURPOSE>
                        <OWNERSHIP-TYPE>PRIMARY</OWNERSHIP-TYPE>
                        <AMOUNT>0</AMOUNT>
                        <REMARK></REMARK>
                    </HISTORY>
                    <HISTORY>
                        <MEMBER-NAME>XXXX</MEMBER-NAME>
                        <INQUIRY-DATE>02-03-2020</INQUIRY-DATE>
                        <PURPOSE>OTHER</PURPOSE>
                        <OWNERSHIP-TYPE>PRIMARY</OWNERSHIP-TYPE>
                        <AMOUNT>2,00,000</AMOUNT>
                        <REMARK></REMARK>
                    </HISTORY>
                    <HISTORY>
                        <MEMBER-NAME>XXXX</MEMBER-NAME>
                        <INQUIRY-DATE>28-02-2020</INQUIRY-DATE>
                        <PURPOSE>Auto Loan (Personal)</PURPOSE>
                        <OWNERSHIP-TYPE>PRIMARY</OWNERSHIP-TYPE>
                        <AMOUNT>111</AMOUNT>
                        <REMARK></REMARK>
                    </HISTORY>
                    <HISTORY>
                        <MEMBER-NAME>XXXX</MEMBER-NAME>
                        <INQUIRY-DATE>28-02-2020</INQUIRY-DATE>
                        <PURPOSE>OTHER</PURPOSE>
                        <OWNERSHIP-TYPE>PRIMARY</OWNERSHIP-TYPE>
                        <AMOUNT>2,00,000</AMOUNT>
                        <REMARK></REMARK>
                    </HISTORY>
                    <HISTORY>
                        <MEMBER-NAME>XXXX</MEMBER-NAME>
                        <INQUIRY-DATE>27-02-2020</INQUIRY-DATE>
                        <PURPOSE>Personal Loan</PURPOSE>
                        <OWNERSHIP-TYPE>PRIMARY</OWNERSHIP-TYPE>
                        <AMOUNT>111</AMOUNT>
                        <REMARK></REMARK>
                    </HISTORY>
                    <HISTORY>
                        <MEMBER-NAME>XXXX</MEMBER-NAME>
                        <INQUIRY-DATE>26-02-2020</INQUIRY-DATE>
                        <PURPOSE>OTHER</PURPOSE>
                        <OWNERSHIP-TYPE>PRIMARY</OWNERSHIP-TYPE>
                        <AMOUNT>2,00,000</AMOUNT>
                        <REMARK></REMARK>
                    </HISTORY>
                    <HISTORY>
                        <MEMBER-NAME>XXXX</MEMBER-NAME>
                        <INQUIRY-DATE>25-02-2020</INQUIRY-DATE>
                        <PURPOSE>OTHER</PURPOSE>
                        <OWNERSHIP-TYPE>PRIMARY</OWNERSHIP-TYPE>
                        <AMOUNT>2,00,000</AMOUNT>
                        <REMARK></REMARK>
                    </HISTORY>
                    <HISTORY>
                        <MEMBER-NAME>XXXX</MEMBER-NAME>
                        <INQUIRY-DATE>25-02-2020</INQUIRY-DATE>
                        <PURPOSE>Microfinance Business Loan</PURPOSE>
                        <OWNERSHIP-TYPE>PRIMARY</OWNERSHIP-TYPE>
                        <AMOUNT>111</AMOUNT>
                        <REMARK></REMARK>
                    </HISTORY>
                    <HISTORY>
                        <MEMBER-NAME>XXXX</MEMBER-NAME>
                        <INQUIRY-DATE>13-02-2020</INQUIRY-DATE>
                        <PURPOSE>OTHER</PURPOSE>
                        <OWNERSHIP-TYPE>PRIMARY</OWNERSHIP-TYPE>
                        <AMOUNT>2,00,000</AMOUNT>
                        <REMARK></REMARK>
                    </HISTORY>
                    <HISTORY>
                        <MEMBER-NAME>XXXX</MEMBER-NAME>
                        <INQUIRY-DATE>13-02-2020</INQUIRY-DATE>
                        <PURPOSE>OTHER</PURPOSE>
                        <OWNERSHIP-TYPE>PRIMARY</OWNERSHIP-TYPE>
                        <AMOUNT>2,00,000</AMOUNT>
                        <REMARK></REMARK>
                    </HISTORY>
                    <HISTORY>
                        <MEMBER-NAME>XXXX</MEMBER-NAME>
                        <INQUIRY-DATE>10-02-2020</INQUIRY-DATE>
                        <PURPOSE>Auto Loan (Personal)</PURPOSE>
                        <OWNERSHIP-TYPE>PRIMARY</OWNERSHIP-TYPE>
                        <AMOUNT>111</AMOUNT>
                        <REMARK></REMARK>
                    </HISTORY>
                    <HISTORY>
                        <MEMBER-NAME>XXXX</MEMBER-NAME>
                        <INQUIRY-DATE>10-02-2020</INQUIRY-DATE>
                        <PURPOSE>Auto Loan (Personal)</PURPOSE>
                        <OWNERSHIP-TYPE>PRIMARY</OWNERSHIP-TYPE>
                        <AMOUNT>111</AMOUNT>
                        <REMARK></REMARK>
                    </HISTORY>
                    <HISTORY>
                        <MEMBER-NAME>XXXX</MEMBER-NAME>
                        <INQUIRY-DATE>31-01-2020</INQUIRY-DATE>
                        <PURPOSE>Auto Loan (Personal)</PURPOSE>
                        <OWNERSHIP-TYPE>PRIMARY</OWNERSHIP-TYPE>
                        <AMOUNT>111</AMOUNT>
                        <REMARK></REMARK>
                    </HISTORY>
                    <HISTORY>
                        <MEMBER-NAME>XXXX</MEMBER-NAME>
                        <INQUIRY-DATE>30-01-2020</INQUIRY-DATE>
                        <PURPOSE>OTHER</PURPOSE>
                        <OWNERSHIP-TYPE>PRIMARY</OWNERSHIP-TYPE>
                        <AMOUNT>2,00,000</AMOUNT>
                        <REMARK></REMARK>
                    </HISTORY>
                    <HISTORY>
                        <MEMBER-NAME>XXXX</MEMBER-NAME>
                        <INQUIRY-DATE>24-01-2020</INQUIRY-DATE>
                        <PURPOSE>OTHER</PURPOSE>
                        <OWNERSHIP-TYPE>PRIMARY</OWNERSHIP-TYPE>
                        <AMOUNT>100</AMOUNT>
                        <REMARK></REMARK>
                    </HISTORY>
                </INQUIRY-HISTORY>
                <SCORES>
                    <SCORE>
                        <SCORE-TYPE>PERFORM CONSUMER 2.0</SCORE-TYPE>
                        <SCORE-VALUE>489</SCORE-VALUE>
                        <SCORE-FACTORS>SF02||||</SCORE-FACTORS>
                    </SCORE>
                </SCORES>
            </BASE-PLUS-REPORT>
        </BASE-PLUS-REPORTS>
    </BASE-PLUS-REPORT-FILE>
</metadata>