{% extends "recovery/base.html" %}
{% load mathfilters %}
{% block uname %}
{{user.username}}                                                                {% endblock uname %}

{% block content %}
{% load static %}

<!-- inline scripts related to this page -->
<script type="text/javascript">
			jQuery(function($) {
				//initiate dataTables plugin
				var myTable =
				$('#dynamic-table')
				//.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
				.DataTable( {
					bAutoWidth: false,
					"aoColumns": [
					  { "bSortable": false },
					  null, null,
					  { "bSortable": false }
					],
					"aaSorting": [],


					//"bProcessing": true,
			        //"bServerSide": true,
			        //"sAjaxSource": "http://127.0.0.1/table.php"	,

					//,
					//"sScrollY": "200px",
					//"bPaginate": true,

					//"sScrollX": "100%",
					//"sScrollXInner": "120%",
					//"bScrollCollapse": true,
					//Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
					//you may want to wrap the table inside a "div.dataTables_borderWrap" element

					//"iDisplayLength": 50


					select: {
						style: 'multi'
					}
			    } );



				$.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

				new $.fn.dataTable.Buttons( myTable, {
					buttons: [
					  {
						"extend": "colvis",
						"text": "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>Show/hide columns</span>",
						"className": "btn btn-white btn-primary btn-bold",
						columns: ':not(:first):not(:last)'
					  },
					  {
						"extend": "copy",
						"text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
						"className": "btn btn-white btn-primary btn-bold"
					  },
					  {
						"extend": "csv",
						"text": "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>Export to CSV</span>",
						"className": "btn btn-white btn-primary btn-bold"
					  },
					  {
						"extend": "excel",
						"text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
						"className": "btn btn-white btn-primary btn-bold"
					  },
					  {
						"extend": "pdf",
						"text": "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
						"className": "btn btn-white btn-primary btn-bold"
					  },
					  {
						"extend": "print",
						"text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
						"className": "btn btn-white btn-primary btn-bold",
						autoPrint: false,
						message: 'This print was produced using the Print button for DataTables'
					  }
					]
				} );
				myTable.buttons().container().appendTo( $('.tableTools-container') );

				//style the message box
				var defaultCopyAction = myTable.button(1).action();
				myTable.button(1).action(function (e, dt, button, config) {
					defaultCopyAction(e, dt, button, config);
					$('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
				});


				var defaultColvisAction = myTable.button(0).action();
				myTable.button(0).action(function (e, dt, button, config) {

					defaultColvisAction(e, dt, button, config);


					if($('.dt-button-collection > .dropdown-menu').length == 0) {
						$('.dt-button-collection')
						.wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
						.find('a').attr('href', '#').wrap("<li />")
					}
					$('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
				});

				////

				setTimeout(function() {
					$($('.tableTools-container')).find('a.dt-button').each(function() {
						var div = $(this).find(' > div').first();
						if(div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
						else $(this).tooltip({container: 'body', title: $(this).text()});
					});
				}, 500);





				myTable.on( 'select', function ( e, dt, type, index ) {
					if ( type === 'row' ) {
						$( myTable.row( index ).node() ).find('input:checkbox').prop('checked', true);
					}
				} );
				myTable.on( 'deselect', function ( e, dt, type, index ) {
					if ( type === 'row' ) {
						$( myTable.row( index ).node() ).find('input:checkbox').prop('checked', false);
					}
				} );




				/////////////////////////////////
				//table checkboxes
				$('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

				//select/deselect all rows according to table header checkbox
				$('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function(){
					var th_checked = this.checked;//checkbox inside "TH" table header

					$('#dynamic-table').find('tbody > tr').each(function(){
						var row = this;
						if(th_checked) myTable.row(row).select();
						else  myTable.row(row).deselect();
					});
				});

				//select/deselect a row when the checkbox is checked/unchecked
				$('#dynamic-table').on('click', 'td input[type=checkbox]' , function(){
					var row = $(this).closest('tr').get(0);
					if(this.checked) myTable.row(row).deselect();
					else myTable.row(row).select();
				});



				$(document).on('click', '#dynamic-table .dropdown-toggle', function(e) {
					e.stopImmediatePropagation();
					e.stopPropagation();
					e.preventDefault();
				});



				//And for the first simple table, which doesn't have TableTools or dataTables
				//select/deselect all rows according to table header checkbox
				var active_class = 'active';
				$('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
					var th_checked = this.checked;//checkbox inside "TH" table header

					$(this).closest('table').find('tbody > tr').each(function(){
						var row = this;
						if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
						else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
					});
				});

				//select/deselect a row when the checkbox is checked/unchecked
				$('#simple-table').on('click', 'td input[type=checkbox]' , function(){
					var $row = $(this).closest('tr');
					if($row.is('.detail-row ')) return;
					if(this.checked) $row.addClass(active_class);
					else $row.removeClass(active_class);
				});



				/********************************/
				//add tooltip for small view action buttons in dropdown menu
				$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

				//tooltip placement on right or left
				function tooltip_placement(context, source) {
					var $source = $(source);
					var $parent = $source.closest('table')
					var off1 = $parent.offset();
					var w1 = $parent.width();

					var off2 = $source.offset();
					//var w2 = $source.width();

					if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
					return 'left';
				}




				/***************/
				$('.show-details-btn').on('click', function(e) {
					e.preventDefault();
					$(this).closest('tr').next().toggleClass('open');
					$(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
				});
				/***************/





				/**
				//add horizontal scrollbars to a simple table
				$('#simple-table').css({'width':'2000px', 'max-width': 'none'}).wrap('<div style="width: 1000px;" />').parent().ace_scroll(
				  {
					horizontal: true,
					styleClass: 'scroll-top scroll-dark scroll-visible',//show the scrollbars on top(default is bottom)
					size: 2000,
					mouseWheelLock: true
				  }
				).css('padding-top', '12px');
				*/

							//chosen plugin inside a modal will have a zero width because the select element is originally hidden
				//and its width cannot be determined.
				//so we set the width after modal is show
				$('#modal-form').on('shown.bs.modal', function () {
					if(!ace.vars['touch']) {
						$(this).find('.chosen-container').each(function(){
							$(this).find('a:first-child').css('width' , '210px');
							$(this).find('.chosen-drop').css('width' , '210px');
							$(this).find('.chosen-search input').css('width' , '200px');
						});
					}
				})


			})



</script>
<div class="row">


    <div class="col-xs-12">

        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            Results for " Months Wise Defaulter's Recovery Details"
        </div>

        <!-- div.table-responsive -->

        <!-- div.dataTables_borderWrap -->
        <div>


<form action="/loan-app-data/rbl_save_data/" class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="inline-related dynamic-loan_loan_personal_details" id="loan_loan_profession_details-10"
         style="width:100%">
        <h3><b>Analytics History:</b>&nbsp;<span class="inline_label"></span></h3>
        <fieldset class="module aligned first">

            <div class="form-row control-group">
                <div class="form-group col-sm-6">
                    <div class="control-label"><label class=" col-sm-2" for="id_total_work_experience"><b>Pan Mobile
                        Count:</b></label>
                        </label></div>
                    <div class="controls"><a href="/loan-app-data/pan_count_view/{{users.user_personal.pan_number}}/"> <strong style="color:red">{{pancount}} </strong>&nbsp;
                    </a></div>
                </div>

                <div class="form-group col-sm-6">
                    <div class="control-label"><label class=" col-sm-2" for="id_total_work_experience"><b>Over Due:</b></label>
                        </label></div>
                    <div class="controls"><strong style="color:red">{{overdue_count}}</strong>&nbsp;</div>
                </div>
                <div class="form-group col-sm-6">
                    <div class="control-label"><label class=" col-sm-2"
                                                      for="id_total_work_experience"><b>DPD:</b></label>
                        </label></div>
                    <div class="controls"><strong style="color:red">{{user_dpd}}</strong>&nbsp;</div>
                </div>
                <div class="form-group col-sm-6">
                    <div class="control-label"><label class="col-sm-2" for="id_current_empolyer_name"><b>SMS
                        Details:</b> </label></div>
                    <div class="controls">Credit & Debit SMS Count <strong style="color:green">{{smscount}}</strong>
                        With Balance <strong style="color:green">{{balance}}</strong></div>
                </div>

                <div class="form-group col-sm-6">
                    <div class="control-label"><label class="col-sm-2" for="id_current_designation"><b>Loan Details:</b>
                    </label></div>
                    <div class="controls"><a
                            href="/user_wise_loan_details/{{users.user}}/"> No of Loan <strong style="color:black">{{user_loancount_list}}</strong>
                        with Transaction <strong style="color:black">{{user_transaction_list}}</strong></a></div>
                </div>

                <div class="form-group col-sm-6">
                    <div class="control-label"><label class="col-sm-2" for="id_working_from"><b>Referance Details:</b>
                    </label></div>
                    <div class="controls">&nbsp;<a href="/user_referance/{{users.loan_application_id}}/">
                        <strong>{{NOT_FOUND}}</strong></a></div>
                </div>

            </div>
        </fieldset>
    </div>

     <div class="inline-related dynamic-loan_loan_personal_details" style="width:100%">
            <h3><b>Face Match:</b>&nbsp;<span class="inline_label"></span></h3>


            <fieldset class="module aligned first">
                <div class="">

                    <table class="table table-bordered table-striped" id="dynamic-table-1">
                        <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Pan Eid Score</th>
                            <th>Pan Selfie Score</th>
                            <th>Eid Selfie Score</th>

                        </tr>
                        </thead>
                        {% if facematch %}

                        {% for fmatch in facematch %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{fmatch.pan_eid_score}}</td>
                            <td>{{fmatch.pan_selfie_score}}</td>
                            <td>{{fmatch.eid_selfie_score}}</td>

                        </tr>
                        {% endfor %}
                        {% else %}
                        <div class="col-sm-6">
                            <label> No Details Found</label>

                        </div>
                        {% endif %}
                    </table>

                </div>
            </fieldset>

        </div>


        <div class="inline-related dynamic-loan_loan_personal_details" style="width:100%">
            <h3><b>Text Match:</b>&nbsp;<span class="inline_label"></span></h3>


            <fieldset class="module aligned first">
                <div class="">

                    <table class="table table-bordered table-striped" id="dynamic-table-2">
                        <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Company Name</th>
                            <th>Company Score</th>
                            <th>Pan Name</th>
                            <th>Pan Score</th>
                            <th>Pan Eid Name</th>
                            <th>Pan Eid Score</th>
                            <th>Pan Salary Name</th>
                            <th>Pan Salary Score</th>
                            <th>Salary Month</th>
                            <th>Salary Amount</th>

                        </tr>
                        </thead>
                        {% if textmatch %}

                        {% for tmatch in textmatch %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{tmatch.company_name}}</td>
                            <td>{{tmatch.company_score}}</td>
                            <td>{{tmatch.pan_name}}</td>
                            <td>{{tmatch.pan_score}}</td>
                            <td>{{tmatch.pan_eid_name}}</td>
                            <td>{{tmatch.pan_eid_score}}</td>
                            <td>{{tmatch.pan_salary_name}}</td>
                            <td>{{tmatch.pan_salary_score}}</td>
                            <td>{{tmatch.salary_month}}</td>
                            <td>{{tmatch.salary_amount}}</td>

                        </tr>
                        {% endfor %}
                        {% else %}
                        <div class="col-sm-6">
                            <label> No Details Found</label>

                        </div>
                        {% endif %}
                    </table>

                </div>
            </fieldset>

        </div>
    <div class="inline-group" id="loan_loan_personal_details-group">
        <h2></h2>
        <input id="id_loan_loan_personal_details-TOTAL_FORMS" name="loan_loan_personal_details-TOTAL_FORMS"
               type="hidden"
               value="1"/>
        <input id="id_loan_loan_personal_details-INITIAL_FORMS" name="loan_loan_personal_details-INITIAL_FORMS"
               type="hidden"
               value="0"/>
        <input id="id_loan_loan_personal_details-MIN_NUM_FORMS" name="loan_loan_personal_details-MIN_NUM_FORMS"
               type="hidden"
               value="0"/>
        <input id="id_loan_loan_personal_details-MAX_NUM_FORMS" name="loan_loan_personal_details-MAX_NUM_FORMS"
               type="hidden"
               value="1"/>

        <div class="inline-related dynamic-loan_loan_personal_details" style="width:100%">
            <h3><b>User:</b>&nbsp;<span class="inline_label"></span></h3>


            <fieldset class="module aligned first">
                <div class="">
                    <div class="form-row control-group">
                        <div class="control-label"><label class=" col-sm-2" for="id_bank_name"><b>User:</b> </label>
                        </div>
                        <div class="controls">
                            {{users.user.username}}

                        </div>
                    </div>

                </div>
            </fieldset>

        </div>


        <div class="inline-related dynamic-loan_loan_personal_details" style="width:100%">
            <h3><b>Delayed Payment Days:</b>&nbsp;<span class="inline_label"></span></h3>


            <fieldset class="module aligned first">
                <div class="">
                    <!--                    <div class="form-row control-group">-->
                    <!--                        <div class="control-label"><label class=" col-sm-2" for="id_bank_name"><b>User:</b> </label>-->
                    <!--                    </div>-->
                    <table class="table table-bordered table-striped" id="dynamic-table">
                        <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Loan Application Id</th>
                            <th>Amount</th>
                            <th>DPD</th>
                            <th>Status</th>

                        </tr>
                        </thead>
                        {% if dpd_list %}

                        {% for dpd in dpd_list %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{dpd.0}}</td>
                            <td>{{dpd.2}}</td>
                            {% if dpd.1 is None %}
                            <td>0</td>
                            {% else %}
                            <td style="color: red;">{{dpd.1}}</td>
                            {% endif %}
                            <td>{{dpd.3}}</td>

                        </tr>
                        {% endfor %}
                        {% else %}
                        <div class="col-sm-6">
                            <label> No Details Found</label>

                        </div>
                        {% endif %}
                    </table>

                </div>
            </fieldset>

        </div>


        <div class="inline-related dynamic-loan_loan_personal_details  col-sm-12" id="loan_loan_personal_details-0"
             style="width:100%">
            <h3><b>Personal Details:</b>&nbsp;<span class="inline_label"></span></h3>

            <fieldset class="module aligned first">

                <div class="form-row control-group">

                    <div class="col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_name" style="margin-top:60px"><b>Name:</b>
                        </label></div>
                        <div class="controls"><strong>{{users.user_personal.name}}</strong>
                            <img alt="Not selfe Photo " height="150" src="{{users_images}}"
                                 style="margin-left:300px;border:1px solid" width="150"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_pan_number"><b>PAN Card:</b> </label>
                        </div>
                        <div class="controls input-group">{{users.user_personal.pan_number}} &nbsp;&nbsp;

                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_date_of_birth"><b>Date of Birth:</b>
                        </label></div>
                        <div class="controls">{{users.user_personal.birthdate}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_marital_status"><b>Marital
                            Status:</b> </label></div>
                        <div class="controls">{{users.user_personal.marital_status}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_occupation"><b>Occupation:</b>
                        </label></div>
                        <div class="controls">{{users.user_personal.occupation}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_annual_income"><b>Month Income:</b>
                        </label></div>
                        <div class="controls">{{users.user_personal.monthly_income}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_mobile_number"><b>Mobile Number:</b>
                        </label></div>
                        <div class="controls">{{users.user_personal.mobile_no}}</div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_mobile_number"><b>Alt Mobile
                            Number:</b>
                        </label></div>
                        <div class="controls">{{users.user_personal.alt_mobile_no}}</div>
                    </div>


                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_pan_number"><b>Old Equfix Score:</b>
                        </label></div>
                        <div class="controls input-group"><strong>{{equfix_score}} &nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-success" onclick="equfix_pull()"
                                        type="button">Pull Credit Score</button>
<!--                                  <button class="btn btn-sm btn-info" onclick="equfix_show()"-->
<!--                                          type="button">Equfix Show</button>-->

                              </span>

                            <input class="form-control" id="uid" readonly style="border:0px;color:#000;font-size:30px">

                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_address"><b>Current Address:</b>
                        </label>
                        </div>
                        <div class="controls">{{users.current_address.address}}</div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_address"><b>City:</b> </label>
                        </div>
                        <div class="controls">{{users.current_address.city}}</div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_address"><b>state:</b> </label>
                        </div>
                        <div class="controls">{{users.current_address.state}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_pin_code"><b>Pincode:</b> </label>
                        </div>
                        <div class="controls">{{users.current_address.pin_code}}</div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_pin_code"><b>Total Apply:</b>
                        </label></div>
                        <div class="controls"><strong style="color:green">{{user_count}}</strong></div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_pin_code"><b>Total Overdue &
                            Defaulter %:</b> </label></div>
                        <div class="controls"><strong style="color:red">{{overdue}}</strong></div>
                    </div>

                </div>

            </fieldset>
        </div>

        <div class="inline-related dynamic-loan_loan_personal_details" id="loan_loan_profession_details-0"
             style="width:100%">
            <h3><b>Professional Details:</b>&nbsp;<span class="inline_label"></span></h3>
            <fieldset class="module aligned first">

                <div class="form-row control-group">

                    <!--                    <div class="form-group col-sm-6">-->
                    <!--                        <div class="control-label"><label class=" col-sm-2" for="id_total_work_experience"><b>Work-->
                    <!--                            Expereince:</b></label>-->
                    <!--                            </label>-->
                    <!--                        </div>-->
                    <!--                        <div class="controls">{{users.total_work_experience}}</div>-->
                    <!--                    </div>-->

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_current_empolyer_name"><b>Cuurent
                            Employer
                            Name:</b> </label></div>
                        <div class="controls">{{users.user_professional.company_name}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_current_designation"><b>Current
                            Designation:</b>
                        </label></div>
                        <div class="controls">{{users.user_professional.company_designation}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_work_email_id"><b>Work Email:</b>
                        </label></div>
                        <div class="controls">{{users.user_professional.company_email_id}}</div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_work_address"><b>Work Landline
                            No:</b>
                        </label></div>
                        <div class="controls">{{users.user_professional.company_landline_no}}</div>
                    </div>

                    <!--                    <div class="form-group col-sm-6">-->
                    <!--                        <div class="control-label"><label class="col-sm-2" for="id_working_from"><b>Working From:</b>-->
                    <!--                        </label></div>-->
                    <!--                        <div class="controls">{{users.working_from}}</div>-->
                    <!--                    </div>-->


                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_work_address"><b>Work Address:</b>
                        </label></div>
                        <div class="controls">{{users.user_professional.company_address}}</div>
                    </div>


                </div>
            </fieldset>
        </div>


        <div class="inline-related dynamic-loan_loan_personal_details" style="width:100%">
            <h3><b>Documents Details:</b>&nbsp;<span class="inline_label"></span></h3>
            <fieldset class="module aligned first">


                <div class="">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div>

                            <div class="col-xs-6" id="">
                                <ul class="list-inline ace-thumbnails clearfix">
                                    <li>
                                        <a data-rel="colorbox" href="{{ company_id }}"
                                           title="Company Id Card">
                                            <img alt="Not Photo"
                                                 src="{{ company_id  }}"/>
                                        </a>
                                        <div class="tags">
												<span class="label-holder">
													<span class="label label-warning arrowed-in">Company Id Card</span>
												</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div id="lightgallery" style="width: 500px">
                                            <a href="{{salary_slip }}">
                                                <img src="{{ salary_slip }}"/>
                                            </a>

                                            <div class="tags">
												<span class="label-holder">
													<span class="label label-warning arrowed-in">Salary Slip</span>
												</span>
                                            </div>
                                        </div>


                                    </li>

                                    <li>
                                        <a data-rel="colorbox" href="{{pan}}" title="PAN Card">
                                            <img alt="Not Photo" src="{{pan}}"/>
                                        </a>
                                        <div class="tags">
												<span class="label-holder">
													<span class="label label-warning arrowed-in">PAN Card</span>
												</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->


            </fieldset>
        </div>


        <div class="inline-related dynamic-loan_loan_personal_details" style="width:100%">
            <h3><b>Loan Status:</b>&nbsp;<span class="inline_label"></span></h3>
            <fieldset class="module aligned first">
                <div class="form-row control-group">
                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_ifsc_code"><b>Repayment Amount:</b>
                        </label></div>
                        <div class="controls">
                            {{users.loan_scheme_id}}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_ifsc_code"><b>Status:</b> </label>
                        </div>
                        <div class="controls">
                            <select id="id_status" name="id_status">
                                <option selected="" value="">{{users.status}}</option>
                                <option value="PRE_APPROVED">Pre_Approved</option>
                                <option value="APPROVED">Approved</option>
                                <option value="CANCELLED">Cancelled</option>
                                <option value="ON_HOLD">On_hold</option>
                                <option value="REJECTED">Rejected</option>
                                <option value="PENDING">Pending</option>
                                <option value="PROCESS">Process</option>
                                <option value="SUBMITTED">Submitted</option>
                            </select>&nbsp;&nbsp;&nbsp;
                            {% if users.status == "REJECTED" %}
                            <strong style="color:red">This Profile is {{users.status}}</strong>
                            {% else %}

                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_ifsc_code"><b>On Hold Time in
                            Day:</b> </label>
                        </div>
                        <div class="controls">
                            <select id="onhold_time" name="onhold_time">
                                <option value="None">None</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="60">60</option>
                                <option value="90">90</option>

                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_ifsc_code"><b>Reason:</b> </label>
                        </div>
                        <div class="controls">
                              <select id="Reason" name="Reason">
                                <option value="None">None</option>
                                <option value="Selfie">Issue in Selfie</option>
                                <option value="Company I'd">Company Id</option>
                                <option value="Salary slip">Salary Slip</option>
                                <option value="Insufficient_credit_history">Insufficient Credit History</option>

                            </select>


                            <!--                            <input class="btn btn-primary btn-large" name="save" type="submit" value="Save"/>&nbsp;-->
                        </div>


                        <input name="user_loan_application_id" type="hidden" value="{{users.loan_application_id}}"/>

                    </div>
                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_ifsc_code"><b>Other Reason:</b>
                        </label></div>
                        <div class="controls">
                            <textarea class="col-xs-12" id="ReasonText" name="ReasonText"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_ifsc_code"><b>Limit Loan Amount:</b>
                        </label>
                        </div>
                        <div class="controls">
                            <select id="autolimit" name="autolimit">
                                <option value="0">None</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>

                            </select>


                            <input class="btn btn-primary btn-large" name="save" type="submit" value="Save"/>&nbsp;
                        </div>

                        <input type="hidden", name="recovery" value="False">
                        <input name="user_loan_application_id" type="hidden" value="{{users.loan_application_id}}"/>

                    </div>

                </div>

            </fieldset>

            <input class="col-xs-12" id="updatesu" readonly
                   style="border:0px;color:#000;font-size:25px;width:100%;color:green">


        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4 class="modal-title">Salary Slip</h4>
                </div>
                <div class="modal-body"><img alt="Not Photo" class="zoom" src="{{ salary_slip  }}"
                                             style=""/>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
    $(document).ready(function() {
        $("#lightgallery").lightGallery();
    });








    </script>


    <!--    <input class="btn btn-primary btn-large" type="submit" name="save" value="Save"/>&nbsp;-->
    <!--    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-large">Back</a>-->
</form>
        </div>
    </div>
</div>
{% endblock %}