{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="clearfix">
                <div class="pull-right tableTools-container"></div>
            </div>
            <div>
                <div class="well">
                    <div class="container">
                        <h4>
                            Loan Application Data Report Download
                        </h4>
                        <br>
                        <form action="/lendbox/lendbox_application_report/" method="POST">
                            {% csrf_token %}
                            Start_date: <input type="date" name="start_date" required>&nbsp &nbsp
                            End_date:<input type="date" name="end_date" required>&nbsp &nbsp
                            Status :
                            <select name="status" class="text-center" required>

                                <option value="" style="display: none">---Select status---</option>
                                <option value="initiated">initiated</option>
                                <option value="success">success</option>
                                <option value="error">error</option>
                                <option value="all">all</option>

                            </select>
                            &nbsp &nbsp
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

