{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<div class="page-body" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-sm-12">
            {{msg}}
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <form action="{% url "lendbox_bulk_upload" %}" method="POST" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
                    <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
                    <input type="submit" value="Upload">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}


