{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>Credit Limit</th>
                                                <th>Used Credit</th>
                                                <th>Remaining</th>
                                            </tr>
                                            </thead>
                                            {% if credits %}
                                            {% for total_credit, payment in credits.items %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{total_credit}}</td>
                                                <td>{{payment.0}}</td>

                                                <td>
                                                   {{payment.1}}
                                                </td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div id="styleSelector">
    </div>


    {% endblock %}