{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>Payment Details</h5>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">

                                <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">

                                        <thead>
                                        <tr>
                                            <th>Sr.no</th>
                                            <th>Order Id</th>
                                            <th>Transaction ID</th>
                                            <th>PG Transaction ID</th>
                                            <th>Status</th>
                                            <th>Category</th>
                                            <th>Type</th>
                                            <th>Amount</th>
                                            <th>Date</th>
                                            <th>Response Code</th>


                                        </tr>
                                        </thead>
                                        <tbody>


                                        {% if payment %}
                                        {% for payment in payment%}

                                        <tr>

                                            <td class="pro-name">
                                                <h6>{{forloop.counter}}</h6>

                                            </td>

                                            <td>{{payment.order_id}}</td>
                                            <td>{{payment.transaction_id}}</td>
                                            <td>{{payment.pg_transaction_id}}</td>
                                            <td>{{payment.status}}</td>
                                            <td>{{payment.category}}</td>
                                            <td>{{payment.type}}</td>
                                            <td>{{payment.amount}}</td>
                                            <td>{{payment.date}}</td>
                                            <td>{{payment.response_code}}</td>


                                        </tr>
                                        {% endfor %}
                                        {% endif %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="md-overlay"></div>

    </div>
</div>
{% endblock %}
