{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>Monthwise Payment Details</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            <tr>
                                                <th>Sr. no.</th>
                                                <th>Month</th>
                                                <th>Repayment Amount</th>

                                            </tr>
                                            </thead>
                                            {% if MainData %}
                                            {% for Month, Amount in MainData.items %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/ecom/order_payment_datewise/{{Month}}/">{{Month}}</a></td>
                                                <td>{{Amount.0}}</td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
