{% extends "Ecom/test_base.html" %}
{% block username %}
    {{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>Order Details</h5>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">

                                <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                    <thead>
                                    <tr>
                                         <th>Sr.no</th>
                                            <th>Order text</th>
                                            <th>Delivery Charges</th>
                                            <th>total_quantity</th>
                                            <th>total_amount</th>
                                            <th>status</th>
                                            <th>created_date</th>
                                            <th>address</th>
                                            <th>Credit</th>
                                            <th>Credit used</th>
                                            <th>View</th>


                                    </tr>
                                    </thead>
                                    <tbody>


                                        {% if order %}
                                        {% for order_details, delivery_charge in order.items %}

                                    <tr>

                                        <td class="pro-name">
                                            <h6>{{forloop.counter}}</h6>

                                        </td>

                                        <td>{{order_details.order_text}}</td>
                                            <td>{{delivery_charge}}</td>
                                            <td>{{order_details.total_quantity}}</td>
                                            <td>{{order_details.total_amount}}</td>
                                            <td>{{order_details.status}}</td>
                                            <td>{{order_details.created_date}}</td>
                                            <td>{{order_details.address.city}}</td>
                                            <td>{{order_details.credit.credit}}</td>
                                            <td>{{order_details.credit.used_credit}}</td>
                                            <td><a href="/ecom/order_details_payment/{{order_details.id}}">View repayment</a></td>

                                    </tr>
                                    {% endfor %}
                                    {% endif %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="md-overlay"></div>

</div>
</div>

{% endblock %}
