{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <!--                    <h5>Dispatch Order</h5>-->

                </div>
                <div class="card-block">
                    <div class="dt-responsive table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <!--                                <div class="dt-responsive table-responsive">-->
                                <table id="table-style-hover"
                                       class="table table-striped table-hover table-bordered nowrap">
                                    <!--                                <table id="e-product-list"-->


                                    <thead>
                                    <tr>
                                        <th>Sr.no</th>
                                        <th>Date</th>
                                        <th>Total Amount</th>
                                        <th>Return Amount</th>
                                        <th>Exchange Amount</th>

                                    </tr>
                                    </thead>
                                    {% if MainData%}
                                    {% for date, amount in MainData.items %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{date}}</td>
                                        <td><a href="/ecom/seller_amount/{{date}}/">{{amount.0}}</a></td>
                                        <td><a href="/ecom/seller_return_order_count/{{date}}/return_orders/">{{amount.1}}</a>
                                        </td>
                                        <td><a href="/ecom/seller_return_order_count/{{date}}/exchange_orders/">{{amount.2}}</a>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-overlay">
    </div>
</div>
{% endblock %}
