{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <!--                    <h5>Dispatch Order</h5>-->

                </div>
                <div class="card-block">
                    <div class="dt-responsive table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <!--                                <div class="dt-responsive table-responsive">-->
                                <table id="table-style-hover"
                                       class="table table-striped table-hover table-bordered nowrap">

                                    <thead>
                                    <tr>
                                        <th>Sr.no</th>
                                        <th>Unique Order Id</th>
                                        <th>Order Id</th>
                                        <th>Quantity</th>
                                        <th>Amount</th>
                                        <th>Total_amount</th>
                                        <th>Status</th>
                                        <th>Created_date</th>
                                        <th>Updated_date</th>
                                    </tr>
                                    </thead>
                                    {% if orders %}
                                    {% for order in orders %}
                                    <tr>
                                        <td class="pro-name">
                                            <h6>{{forloop.counter}}</h6>

                                        </td>

                                        <td>{{order.unique_order_id}}</td>
                                        <td>{{order.order_id}}</td>
                                        <td>{{order.quantity}}</td>
                                        <td>{{order.amount}}</td>
                                        <td>{{order.total_amount}}</td>
                                        <td>{{order.status}}</td>
                                        <td>{{order.created_date}}</td>
                                        <td>{{order.updated_date}}</td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="md-overlay"></div>

</div>
{% endblock %}
