{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<style>
div.polaroid {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}

p {
  font-weight: bold;
  font-size: 15px;
  }

span{
    font-weight: normal;
    font-size: 15px;
    }























</style>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script src="/static/cdn/js/jquery(3.2.1).min.js"></script>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">


            <div class="card polaroid">

                <div class="card-body ">
                    <form action="/ecom/sell_csv/" method="POST">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-sm-4">
                                <center> Select From Date :</center>
                                <br>
                                <input type="date" class="form-control text-center" name="from_date" required>
                            </div>
                            <div class="col-sm-4">
                                <center>Select UpTo Date :</center>
                                <br>
                                <input type="date" class="form-control text-center" name="to_date" required>
                            </div>
                            <div class="col-sm-4 text-center">
                                <br>
                                <br>
                                <button type="submit" class="text-center btn btn-primary">Get CSV</button>
                            </div>
                        </div>
                    </form>

                    <br>
                    <center class="h7">OR</center>
                    <br>
                    <form action="/ecom/sell_csv/" method="POST">
                        {% csrf_token %}

                        <div class="row mt-2">
                            <div class="col-sm-6 text-center">
                                <center>Select Month :</center>
                                <br>
                                <input type="text" class="form-control text-center" name="month" id="datepicker" required/>
                            </div>

                            <div class="col-sm-6 text-center">
                                <br>
                                <br>
                                <button type="submit" class="text-center btn btn-primary">Get CSV</button>
                            </div>
                        </div>
                    </form>


                </div>


            </div>


        </div>
    </div>
</div>
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">-->
<link href="/static/cdn/css/datepicker(1.2.0).min.css" rel="stylesheet">


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>-->
<script src="/static/cdn/js/bootstrap-datepicker(1.2.0).min.js"></script>


<script>
    $("#datepicker").datepicker( {
    format: "mm-yyyy",
    startView: "months",
    minViewMode: "months"
});






</script>
{% endblock %}
