{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order Text</th>
                                                <th>Credit</th>
                                                <th>Paid Amount</th>
                                                <th>Remaining Amount</th>
                                                <th>Total Quantity</th>
                                                <th>Total Amount</th>
                                                <th>Date</th>
                                                <th>Address</th>
                                                <th>Status</th>
                                                <th>Credit Status</th>

                                            </tr>
                                            </thead>
                                            {% if orders %}
                                            {% for order, payment in orders.items %}

                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>{{order.order_text}}</td>

                                                <td>{{order.credit.actual_used}}</td>
                                                <td>{{payment.0}}</td>
                                                <td>{{payment.1}}</td>

                                                <td>{{order.total_quantity}}</td>
                                                <td>{{order.total_amount}}</td>
                                                <td>{{order.date}}</td>
                                                <td>{{order.address.city}}</td>
                                                <td>{{order.status}}</td>
                                                <td>{{order.credit_status}}</td>

                                            </tr>

                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
