{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>Exchange Order</h5>

                </div>
                <div class="card-block">
                    <div class="dt-responsive table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <!--                                <div class="dt-responsive table-responsive">-->
                                <table id="table-style-hover"
                                       class="table table-striped table-hover table-bordered nowrap">
                                    <!--                                <table id="e-product-list"-->

                                    <thead>
                                    <tr>
                                        <th>Sr.no</th>
                                        <th>Unique Order Id</th>
                                        <th>Order Id</th>
                                        <th>Quantity</th>
                                        <th>Amount</th>
                                        <th>Total_amount</th>
                                        <th>Status</th>
                                        <th>Created_date</th>
                                        <th>Updated_date</th>
                                    </tr>
                                    </thead>
                                    {% if exchange_orders %}
                                    {% for order in exchange_orders %}
                                    <tr>

                                        <td class="pro-name">
                                            <h6>{{forloop.counter}}</h6>

                                        </td>

                                        <td>{{order.order.unique_order_id}}</td>
                                        <td>{{order.order.order_id}}</td>
                                        <td>{{order.order.quantity}}</td>
                                        <td>{{order.order.amount}}</td>
                                        <td>{{order.order.total_amount}}</td>
                                        <td>{{order.order.status}}</td>
                                        <td>{{order.order.created_date}}</td>
                                        <td>{{order.order.updated_date}}</td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="md-overlay"></div>

</div>
{% endblock %}
