{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-block">
                    <div class="dt-responsive table-responsive">
                        <div class="table-content">
                            <div class="project-table">

                                <table id="table-style-hover"
                                       class="table table-striped table-hover table-bordered nowrap">


                                    <thead>
                                    {% if orders %}
                                    <tr>
                                        <th>Sr.no</th>
                                        <th>Seller</th>
                                        <th>Order Count</th>
                                    </tr>
                                    </thead>

                                    {% for seller, count in orders.items %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>

                                        <td>{{seller.username}}</td>
                                        <td><a href="/ecom/seller_return_order/{{count.1}}/{{seller}}/{{count.2}}/">{{count.0}}</a>
                                        </td>


                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                    {% if order %}
                                    <tr>
                                        <th>Sr.no</th>

                                        <th>Order Count</th>
                                    </tr>
                                    </thead>

                                    {% for seller, count in order.items %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td><a href="/ecom/seller_return_order/{{count.1}}/{{seller}}/{{count.2}}">{{count.0}}</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="md-overlay">

    </div>
</div>
{% endblock %}
