{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">


                </div>
                <div class="card-block">
                    <div class="dt-responsive table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <!--                                <div class="dt-responsive table-responsive">-->
                                <table id="table-style-hover"
                                       class="table table-striped table-hover table-bordered nowrap">
                                    <!--                                <table id="e-product-list"-->



                                    <thead>
                                     {% if sellers %}
                                    <tr>

                                        <th>Sr.no</th>
                                        <th>Date</th>
                                        <th>Seller</th>
                                        <th>Dispatch Amount</th>
                                        <th>Delivered Amount</th>
                                    </tr>
                                    </thead>

                                    {% for seller, types in sellers.items %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{types.2}}</td>
                                        <td>{{seller.username}}</td>
                                        <td><a href="/ecom/seller_dispatch_details/{{types.2}}/{{seller}}/Dispatch/">{{types.0}}</a></td>
                                         <td><a href="/ecom/seller_dispatch_details/{{types.2}}/{{seller}}/Delivered/">{{types.1}}</a></td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                    {% if seller %}
                                    <tr>

                                        <th>Sr.no</th>
                                        <th>Date</th>
                                        <th>Dispatch Amount</th>
                                        <th>Delivered Amount</th>
                                    </tr>
                                    </thead>

                                    {% for seller, types in seller.items %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{types.2}}</td>
                                        <td><a href="/ecom/seller_dispatch_details/{{types.2}}/{{seller}}/Dispatch/">{{types.0}}</a></td>
                                         <td><a href="/ecom/seller_dispatch_details/{{types.2}}/{{seller}}/Delivered/">{{types.1}}</a></td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="md-overlay"></div>
</div>
{% endblock %}
