{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <!--                    <h5>Dispatch Order</h5>-->

                </div>
                <div class="card-block">
                    <div class="dt-responsive table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <!--                                <div class="dt-responsive table-responsive">-->
                                <table id="table-style-hover"
                                       class="table table-striped table-hover table-bordered nowrap">
                                    <!--                                <table id="e-product-list"-->


                                    <thead>
                                    <tr>
                                        <th>Sr.no</th>
                                        <th>Seller</th>
                                        <th>Order Count</th>

                                    </tr>
                                    </thead>
                                    {% if exchange_orders %}
                                    {% for seller, count in exchange_orders.items %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>

                                        <td>{{seller.username}}</td>
                                        <td>
                                            <a href="/ecom/seller_exchange_order/{{count.1}}/{{seller}}/">{{count.0}}</a>
                                        </td>


                                    </tr>
                                    {% endfor %}
                                    {% endif %}

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>
</div>
{% endblock %}