{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>user</th>
                                                <th>Credit Given</th>
                                                <th>Used Credit</th>
                                                <th>Repayment</th>
                                                <th>Outstanding Credit</th>

                                            </tr>
                                            </thead>
                                            {% if credits %}
                                            {% for user, payment in credits.items %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{user}}</td>
                                                <td><a href="/ecom/sellerwise_order_credit_details/{{user}}/">{{payment.0}}</a>
                                                </td>
                                                <td>{{payment.1}}
                                                </td>
                                                <td>
                                                    <a href="/ecom/sellerwise_order_payment_details/{{user}}/">{{payment.2}}</a>
                                                </td>
                                                <td>
                                                    {{payment.3}}
                                                </td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div id="styleSelector">
    </div>
</div>

{% endblock %}