{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>Mobile Number</th>
                                                <th>Name</th>
                                                <th>Total Credit</th>
                                                <th>Used Credit</th>
                                                <th>Total Used</th>
                                                <th>Remaning Credit</th>
                                                <th>Status</th>
                                                <th>Created Date</th>

                                            </tr>
                                            </thead>
                                            {% if credit_objects %}
                                            {% for name,credit in credit_objects.items %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{credit.0.user.username}}</td>
                                                <td>{{credit.1}}</td>
                                                <td>{{credit.0.credit}}</td>
                                                <td>{{credit.0.used_credit}}</td>
                                                <td>{{credit.2}}</td>
                                                <td>{{credit.0.balance_credit}}</td>
                                                <td>{{credit.0.status}}</td>
                                                <td>{{credit.0.created_date}}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="styleSelector">
</div>


{% endblock %}