{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<body onload="call_data()">
<input type="hidden" value="{{type}}" id="type">
<div class="card">
    <div class="card-block">
        <center>
            {% if type == "count" %}
            <h3>Count Graph</h3>
            {% else %}
            <h3>Amount Graph</h3>
            {% endif %}
        </center>

        <br>
        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>
</body>
<!--<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>-->
<script src="/static/cdn/js/chart(2.8.0).js"></script>

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>-->
<script src="/static/cdn/js/jquery(1.10.2).min.js" type="text/javascript"></script>

<!--<script>-->
<!--    function call_data() {-->
<!--    var type =  document.getElementById("type").value;-->
<!--        $.ajax({-->
<!--            type: "POST",-->
<!--            data: {-->
<!--                "type" : type-->
<!--            },-->
<!--            url: "/npci/npci_graph_data/",-->
<!--            success: function(data) {-->
<!--                var graph_data = JSON.parse(data);-->
<!--                var ctx = document.getElementById('myChart').getContext('2d');-->
<!--                for (var i = 1; i <= 2; i++) {-->
<!--                    var chart = new Chart(ctx, {-->
<!--                        // The type of chart we want to create-->
<!--                        type: 'line',-->
<!--                        // The data for our dataset-->
<!--                        data: {-->
<!--                            labels: graph_data['date_list'],-->
<!--                            datasets: [{-->
<!--                                    label: 'Total',-->
<!--                                    backgroundColor: '#FF0000',-->
<!--                                    borderColor: '#FF0000',-->
<!--                                    borderWidth: '2',-->
<!--                                    data: graph_data['all_recharge_list']-->
<!--                                },-->
<!--                                {-->
<!--                                    label: 'Mobile Recharge',-->
<!--                                    backgroundColor: '#00FFFF',-->
<!--                                    borderColor: '#00FFFF',-->
<!--                                    borderWidth: '2',-->
<!--                                    data: graph_data['mobile_recharge_list']-->
<!--                                },-->
<!--                                {-->
<!--                                    label: 'DTH Recharge',-->
<!--                                    backgroundColor: '#0000FF',-->
<!--                                    borderColor: '#0000FF',-->
<!--                                    borderWidth: '2',-->
<!--                                    data: graph_data['dth_recharge_list']-->
<!--                                },-->
<!--                                {-->
<!--                                    label: 'Mobile Postpaid',-->
<!--                                    backgroundColor: '#800080',-->
<!--                                    borderColor: '#800080',-->
<!--                                    borderWidth: '2',-->
<!--                                    data: graph_data['postpaid_mobile_list']-->
<!--                                },-->
<!--                                {-->
<!--                                    label: 'Electric Bill',-->
<!--                                    backgroundColor: '#FFFF00',-->
<!--                                    borderColor: '#FFFF00',-->
<!--                                    borderWidth: '2',-->
<!--                                    data: graph_data['electric_bill_list']-->
<!--                                },-->
<!--                                {-->
<!--                                    label: 'Landline Bill',-->
<!--                                    backgroundColor: '#00FF00',-->
<!--                                    borderColor: '#00FF00',-->
<!--                                    borderWidth: '2',-->
<!--                                    data: graph_data['landline_bill_list']-->
<!--                                },-->
<!--                                {-->
<!--                                    label: 'Gas Bill',-->
<!--                                    backgroundColor: '#FFA500',-->
<!--                                    borderColor: '#FFA500',-->
<!--                                    borderWidth: '2',-->
<!--                                    data: graph_data['gas_bill_list']-->
<!--                                },-->
<!--                                {-->
<!--                                    label: 'Water Bill',-->
<!--                                    backgroundColor: '#800000',-->
<!--                                    borderColor: '#800000',-->
<!--                                    borderWidth: '2',-->
<!--                                    data: graph_data['water_bill_list']-->
<!--                                },-->
<!--                                {-->
<!--                                    label: 'Broadband Bill',-->
<!--                                    backgroundColor: '#C0C0C0',-->
<!--                                    borderColor: '#C0C0C0',-->
<!--                                    borderWidth: '2',-->
<!--                                    data: graph_data['broadband_bill_list']-->
<!--                                },-->
<!--                                {-->
<!--                                    label: 'Insurance Bill',-->
<!--                                    backgroundColor: '#000000',-->
<!--                                    borderColor: '#000000',-->
<!--                                    borderWidth: '2',-->
<!--                                    data: graph_data['insurance_bill_list']-->
<!--                                },-->
<!--                            ]-->
<!--                        },-->
<!--                        // Configuration options go here-->
<!--                        options: {-->
<!--                            scales: {-->
<!--                                xAxes: [{-->
<!--                                    scaleLabel: {-->
<!--                                        display: true,-->
<!--                                        labelString: 'Date',-->
<!--                                        fontSize: 15,-->
<!--                                        fontColor: 'black'-->
<!--                                    },-->
<!--                                    ticks: {-->
<!--                                        beginAtZero: true,-->
<!--                                        fontColor: 'black'-->
<!--                                    },-->
<!--                                }],-->
<!--                                yAxes: [{-->
<!--                                    id: 'y-axis-1',-->
<!--                                    type: 'linear',-->
<!--                                    display: true,-->
<!--                                    position: 'left',-->
<!--                                    scaleLabel: {-->
<!--                                        display: true,-->
<!--                                        labelString: 'Recharge',-->
<!--                                        fontSize: 15,-->
<!--                                        fontColor: 'black'-->
<!--                                    },-->
<!--                                    ticks: {-->
<!--                                        beginAtZero: true,-->
<!--                                        fontColor: 'black'-->
<!--                                    },-->
<!--                                }]-->
<!--                            },-->
<!--                            elements: {-->
<!--                                line: {-->
<!--                                    fill: false,-->
<!--                                    hover: true,-->
<!--                                },-->
<!--                            }-->
<!--                        }-->
<!--                    });-->
<!--                }-->
<!--            }-->
<!--        });-->
<!--    }-->
<!--	-->


<!--</script>-->
<script>
	function call_data() {
           var type =  document.getElementById("type").value;

       $.ajax({
            type: "POST",
            data: {
                "type" : type
            },
            url: "/npci/npci_graph_data/",
            success: function(data) {
               var graph_data = JSON.parse(data);
               console.log("data",graph_data)
               var ctx = document.getElementById('myChart').getContext('2d');
               var chart = new Chart(ctx, {
                   // The type of chart we want to create
                   type: 'line',
                   // The data for our dataset
                   data: {
                       labels: graph_data["date_list"],
                       datasets: [{
                                    label: 'Total',
                                    backgroundColor: '#4E387E',
                                    borderColor: '#4E387E',
                                    borderWidth: '2',
                                    data: graph_data['all_recharge_list']
                                },
                                {
                                    label: 'Mobile Recharge',
                                    backgroundColor: '#00FFFF',
                                    borderColor: '#00FFFF',
                                    borderWidth: '2',
                                    data: graph_data['mobile_recharge_list']
                                },
                                {
                                    label: 'DTH Recharge',
                                    backgroundColor: '#0000FF',
                                    borderColor: '#0000FF',
                                    borderWidth: '2',
                                    data: graph_data['dth_recharge_list']
                                },
                                {
                                    label: 'Mobile Postpaid',
                                    backgroundColor: '#800080',
                                    borderColor: '#800080',
                                    borderWidth: '2',
                                    data: graph_data['postpaid_mobile_list']
                                },
                                {
                                    label: 'Electric Bill',
                                    backgroundColor: '#FFFF00',
                                    borderColor: '#FFFF00',
                                    borderWidth: '2',
                                    data: graph_data['electric_bill_list']
                                },
                                {
                                    label: 'Landline Bill',
                                    backgroundColor: '#00FF00',
                                    borderColor: '#00FF00',
                                    borderWidth: '2',
                                    data: graph_data['landline_bill_list']
                                },
                                {
                                    label: 'Gas Bill',
                                    backgroundColor: '#FFA500',
                                    borderColor: '#FFA500',
                                    borderWidth: '2',
                                    data: graph_data['gas_bill_list']
                                },
                                {
                                    label: 'Water Bill',
                                    backgroundColor: '#800000',
                                    borderColor: '#800000',
                                    borderWidth: '2',
                                    data: graph_data['water_bill_list']
                                },
                                {
                                    label: 'Broadband Bill',
                                    backgroundColor: '#C0C0C0',
                                    borderColor: '#C0C0C0',
                                    borderWidth: '2',
                                    data: graph_data['broadband_bill_list']
                                },
                                {
                                    label: 'Insurance Bill',
                                    backgroundColor: '#000000',
                                    borderColor: '#000000',
                                    borderWidth: '2',
                                    data: graph_data['insurance_bill_list']
                                },
                            ],
                   },
                   // Configuration options go here
                   options: {
                       scales: {
                           xAxes: [{
                               scaleLabel: {
                                   display: true,
                                   labelString: 'Date',
                                   fontSize: 15,
                                   fontColor: 'red'
                               },
                               ticks: {
                                   beginAtZero: true,
                                   fontColor: 'red'
                               },
                           }],
                           yAxes: [{
                               id: 'y-axis-1',
                               type: 'linear',
                               display: true,
                               position: 'left',
                               scaleLabel: {
                                   display: true,
                                   labelString: 'Recharge',
                                   fontSize: 15,
                                   fontColor: 'red'
                               },
                               ticks: {
                                   beginAtZero: true,
                                   fontColor: 'red'
                               },
                           }]
                       },
                       elements: {
                           line: {
                               fill: false,
                               hover: true,
                           },
                       }
                   }
               });
           }
       });
   }



</script>
{% endblock %}

