{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table class="table table-striped table-hover table-bordered nowrap"
                                               id="table-style-hover">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Number</th>
                                                <th>Operator code</th>
                                                <th>Account</th>
                                                <th>Amount</th>
                                                <th class="text-danger">Defaulter Amount</th>
                                                <th>Bill verify ID</th>
                                                <th>Client ID</th>
                                                <th>Recharge ID</th>
                                                <th>Payment Mode</th>
                                                <th>Service Category</th>
                                                <th>Service Type</th>
                                                <th>Status</th>
                                                <th>User Name</th>
                                                <th>Credit use</th>
                                                <th>Wallet use</th>
                                                <th>Created Date</th>


                                            </tr>
                                            </thead>

                                            {% if data %}

                                            {% for obj,defaulter_amount in data.items %}


                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>{{obj.number}}</td>
                                                <td>{{obj.operatorcode}}</td>
                                                <td>{{obj.account}}</td>
                                                <td>{{obj.amount}}</td>
                                                <td class="text-danger">{{defaulter_amount}}</td>
                                                <td>{{obj.bill_verify_id}}</td>
                                                <td>{{obj.client_id}}</td>
                                                <td>{{obj.recharge_id}}</td>
                                                <td>{{obj.payment_mode}}</td>
                                                <td>{{obj.service_category}}</td>
                                                <td>{{obj.service_type}}</td>
                                                <td>{{obj.status}}</td>
                                                <td>{{obj.user.username}}</td>
                                                <td>{{obj.credit.actual_used}}</td>
                                                <td>{{obj.wallet.used_amount}}</td>
                                                <td>{{obj.created_date}}</td>


                                            </tr>

                                            {% endfor %}
                                            {% endif %}


                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>

{% endblock %}