{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<style>
div.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

p {
  font-weight: bold;
  font-size: 15px;
  }

    span{
  font-weight: normal;
  font-size: 15px;
  }































































</style>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">

                <div class="card-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3 text-right "></div>
                            <div class="col-sm-6">

                                <select class="form-control " name="search_by" id="search_by" onchange="select_id()"
                                        style="text-align-last: center;" required>
                                    <option style="display:none;" value="">--- Search Recharge by ---</option>
                                    <option value="order_id">Order ID</option>
                                    <option value="transaction_id">Transaction ID</option>

                                </select>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-sm-3 text-right "></div>
                            <div class="col-sm-6">
                                <input type="text" id="ip" name="id" class="form-control text-center"
                                       placeholder="Enter input here" required>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-sm-3 text-right "></div>
                            <div class="col-sm-6">
                                <input type="button"
                                       class="form-control text-center btn btn-primary" value="Submit"
                                       onclick="check_id()">
                            </div>
                        </div>

                    </div>

                    <br>
                    <br>
                    <br>
                    <div class="card-header h4 text-danger text-center d-none" id="error">{{message}}</div>

                    <div class="row d-none" id="data">
                        <div class="col-sm-1 "></div>
                        <div class="col-sm-10 ">

                            <div class="card-header h4 text-success text-center">Record found</div>
                            <div class="card polaroid">

                                <div class="card-body ">

                                    <div class="row">
                                        <div class="col-sm-6 pl-5 ">
                                            <p>Order ID : <span id="order_id"></span></p>
                                            <p>Transaction ID: <span id="transaction_id"></span></p>
                                            <p>PG Transaction ID : <span id="pg_transaction_id"></span></p>
                                            <p>Status : <span id="status"></span></p>
                                            <p>Amount : <span id="amount"></span></p>
                                            <p>Category: <span id="category"></span></p>
                                            <p>Platform Type: <span id="platform_type"></span></p>
                                            <p>Created Date : <span id="create_date"></span></p>

                                        </div>
                                        <div class="col-sm-6 pl-5">
                                            <p>Type : <span id="type"></span></p>
                                            <p>Description : <span id="description"></span></p>
                                            <p>Pay Source : <span id="pay_source"></span></p>
                                            <p>Payment Mode : <span id="mode"></span></p>
                                            <p>product_type : <span id="product_type"></span></p>
                                            <p>Date : <span id="date"></span></p>
                                            <p>Updated Date : <span id="update_date"></span></p>

                                        </div>
                                    </div>

                                </div>


                            </div>
                            <br>
                            <br>


                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>
<script>
    function select_id(){
    id = $("#search_by").val()
    if (id == 'order_id')
    {
    $("#ip").val('')
    $("#ip").attr("placeholder", "Enter Order ID");
    }
    else if (id == 'transaction_id')
    {
        $("#ip").val('')

    $("#ip").attr("placeholder", "Enter Transaction ID");
    }
    else
    {
    $("#ip").attr("placeholder", "Enter input here");

    }

    }



        function check_id(){

        search_by = $("#search_by").val()
        if (search_by != "")
        {
        id  = $("#ip").val()
        if (id != "")
        {


        $.ajax({
                    type: "POST",
                    data: {
                        'id': id,
                        'search_by': search_by,

                    },
                    url: "/npci/search_payment_data/",
                    success: function(data) {
                    console.log("--success",data);
                     var data = JSON.parse(data);

                     if(data["message"] != "success"){
                     $("#error").attr('class', 'text-center h5 text-danger');

                      $("#error").html(data.message);

                    $("#data").attr('class', 'd-none');
                     return false
                     }
                    var data = data["data"]
                    if (data != ""){
                    $("#error").attr('class', 'd-none');
                    $("#data").attr('class', 'row');
                    $("#order_id").html(data.order_id);
                    $("#transaction_id").html(data.transaction_id);
                    $("#pg_transaction_id").html(data.pg_transaction_id);
                    $("#status").html(data.status);
                    $("#amount").html(data.amount);
                    $("#category").html(data.category);
                    $("#mode").html(data.mode);
                    $("#type").html(data.type);
                    $("#description").html(data.description);
                    $("#date").html(data.date);
                    $("#create_date").html(data.create_date);
                    $("#update_date").html(data.update_date);
                    $("#pay_source").html(data.pay_source);
                    $("#product_type").html(data.product_type);
                    $("#platform_type").html(data.platform_type);


                    }



                    },
                    error: function(data) {

                    }
                });



        }
        else
        {
        alert("enter id first")
        }
        }
        else
        {
        alert("select recharge search by")
        }
        }





















































</script>

{% endblock %}