{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<style>
div.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

p {
  font-weight: bold;
  font-size: 15px;
  }

    span{
  font-weight: normal;
  font-size: 15px;
  }


</style>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">

                <div class="card-block">
                    <div class="container">
                        <form action="/npci/search_recharge_data/" method="POST"> {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-3 text-right "></div>
                                <div class="col-sm-6">

                                    <select class="form-control " name="search_by" id="search_by" onchange="select_id()"
                                            style="text-align-last: center;" required>
                                        <option style="display:none;" value="">--- Search Recharge by ---</option>
                                        <option value="recharge_id">Recharge ID</option>
                                        <option value="client_id">Client ID</option>
                                        <option value="mobile">Recharged Mobile Number</option>
                                        <option value="user">User Mobile NUmber</option>
                                    </select>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-sm-3 text-right "></div>
                                <div class="col-sm-6">
                                    <input type="text" id="ip" name="id" class="form-control text-center"
                                           placeholder="Enter input here" required>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-sm-3 text-right "></div>
                                <div class="col-sm-6">
                                    <input type="submit"
                                           class="form-control text-center btn btn-primary" value="Submit">
                                </div>
                            </div>
                        </form>

                    </div>

                    <br>
                    <br>
                    <br>
                    <p class="" id="error"></p>
                    <div class="row" id="data">
                        <div class="col-sm-1 "></div>
                        <div class="col-sm-10">
                            {% if message == "success" %}
                            <div class="card-header h4 text-success text-center">Record found</div>
                            {% for npci in data %}
                            <div class="card-header h4 text-primary text-center">Recharge / Bill</div>

                            <div class="card polaroid">

                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-sm-6 pl-5 ">
                                            <p>Number : <span id="number">{{npci.number}}</span></p>
                                            <p>Operator Code : <span id="operatorcode">{{npci.operatorcode}}</span></p>
                                            <p>Account : <span id="account">{{npci.account}}</span></p>
                                            <p>Amount : <span id="amount">{{npci.amount}}</span></p>
                                            <p>Auth : <span id="auth">{{npci.auth}}</span></p>
                                            <p>Service Category : <span
                                                    id="service_category">{{npci.service_category}}</span></p>
                                            <p>Credit: <span id="credit">{{npci.credit}}</span></p>
                                            <p>Balance Credit: <span id="balance_credit">{{npci.balance_credit}}</span>
                                            </p>
                                            <p>Used Credit: <span id="used_credit">{{npci.used_credit}}</span></p>

                                            <p>Created Date : <span id="created_date">{{npci.date}}</span></p>

                                        </div>
                                        <div class="col-sm-6 pl-5">
                                            <p>Bill verify ID : <span id="bill_verify_id">{{npci.bill_verify_id}}</span>
                                            </p>
                                            <p>Client ID : <span id="client_id">{{npci.client_id}}</span></p>
                                            <p>Recharge ID : <span id="recharge_id">{{npci.recharge_id}}</span></p>
                                            <p>User : <span id="user">{{npci.user}}</span></p>
                                            <p>Payment Mode : <span id="payment_mode">{{npci.payment_mode}}</span></p>
                                            <p>Status : <span id="status">{{npci.status}}</span></p>
                                            <p>Repayment : <span id="repayment">{{npci.repayment}}</span></p>

                                            <p>Wallet : <span id="wallet">{{npci.wallet}}</span></p>
                                            <p>Wallet Balance Amount : <span id="wallet_balance_amount">{{npci.wallet_balance_amount}}</span>
                                            </p>

                                        </div>
                                    </div>

                                </div>


                            </div>
                            {% if npci.payment_list %}
                            <div class="card-header h4 text-warning text-center">Payments</div>

                            {% for payment in npci.payment_list %}
                            <br>
                            <div class="card polaroid">

                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-sm-6 pl-5 ">
                                            <p>order_id : <span>{{payment.0}}</span></p>
                                            <p>status : <span>{{payment.1}}</span></p>
                                            <p>pay_source : <span>{{payment.2}}</span></p>
                                            <p>mode : <span>{{payment.7}}</span></p>


                                        </div>
                                        <div class="col-sm-6 pl-5">
                                            <p>platform_type : <span>{{payment.3}}</span>
                                            </p>
                                            <p>product_type : <span>{{payment.4}}</span></p>
                                            <p>amount : <span>{{payment.5}}</span></p>
                                            <p>category : <span>{{payment.6}}</span></p>


                                        </div>
                                    </div>

                                </div>


                            </div>


                            {% endfor %}
                            {% endif %}
                            {% endfor %}
                            <br>
                            <br>
                            {% else %}
                            <div class="card-header h4 text-danger text-center">{{message}}</div>

                            {% endif %}

                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>
<script>
    function select_id(){
    id = $("#search_by").val()
    if (id == 'recharge_id')
    {
    $("#ip").val('')
    $("#ip").attr("placeholder", "Enter Recharge ID");
    }
    else if (id == 'client_id')
    {
        $("#ip").val('')

    $("#ip").attr("placeholder", "Enter Client ID");
    }
    else if (id == 'user')
    {
        $("#ip").val('')

    $("#ip").attr("placeholder", "Enter user number");
    }
    else if (id == 'mobile')
    {
        $("#ip").val('')

    $("#ip").attr("placeholder", "Enter recharged mobile number");
    }
    else
    {
    $("#ip").attr("placeholder", "Enter input here");

    }

    }



        function check_id(){

        search_by = $("#search_by").val()
        if (search_by != "")
        {
        id  = $("#ip").val()
        if (id != "")
        {


        $.ajax({
                    type: "POST",
                    data: {
                        'id': id,
                        'search_by': search_by,

                    },
                    url: "/npci/search_recharge_data/",
                    success: function(data) {
                    console.log("--success",data);
                     var data = JSON.parse(data);

                     if(data["message"] != "success"){
                     $("#error").attr('class', 'text-center h5 text-danger');

                      $("#error").html(data.message);

                    $("#data").attr('class', 'd-none');
                     return false
                     }

                    if (data != ""){
                    $("#error").attr('class', 'd-none');
                    $("#data").attr('class', 'row');
                    $("#number").html(data.number);
                    $("#operatorcode").html(data.operatorcode);
                    $("#account").html(data.account);
                    $("#amount").html(data.amount);
                    $("#auth").html(data.auth);
                    $("#credit").html(data.credit);
                    $("#service_category").html(data.service_category);
                    $("#created_date").html(data.created_date);
                    $("#bill_verify_id").html(data.bill_verify_id);
                    $("#client_id").html(data.client_id);
                    $("#recharge_id").html(data.recharge_id);
                    $("#user").html(data.user);
                    $("#payment_mode").html(data.payment_mode);
                    $("#wallet").html(data.wallet);
                    $("#status").html(data.status);
                    $("#updated_date").html(data.updated_date);

                    $("#card_body").clone()

                    }



                    },
                    error: function(data) {

                    }
                });



        }
        else
        {
        alert("enter id first")
        }
        }
        else
        {
        alert("select recharge search by")
        }
        }





















































</script>

{% endblock %}