

{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<style>
   div.polaroid {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
   }
   p {
   font-weight: bold;
   font-size: 15px;
   }
   span{
   font-weight: normal;
   font-size: 15px;
   }
</style>
<div class="page-body">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-block">
               <div class="container">
                  <form action="/ecom/accounts_report/" method="POST">
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-3 text-center">
                           <label>Select Start Date</label>
                           <input type="date" name="start_date" class="form-control text-center" required>
                        </div>
                        <div class="col-3 text-center">
                           <label>Select End Date</label>
                           <input type="date" class="form-control text-center" name="end_date" required>
                        </div>
                        <div class="col-3 text-center">
                           <label>Select Order Status</label>
                           <select name="status" class="form-control " style="text-align-last: center;" required>
                              <option value="" disabled selected>Select Status</option>
                              <option value="initiated">initiated</option>
                              <option value="placed">placed</option>
                              <option value="accepted">accepted</option>
                              <option value="packing">packing</option>
                              <option value="packed">packed</option>
                              <option value="s_dispatched">s_dispatched</option>
                              <option value="cancelled">cancelled</option>
                              <option value="pending">pending</option>
                              <option value="shipped">shipped</option>
                              <option value="in_transit">in_transit</option>
                              <option value="dispatched">dispatched</option>
                              <option value="delivered">delivered</option>
                              <option value="undelivered">undelivered</option>
                              <option value="return">return</option>
                              <option value="exchange">exchange</option>
                              <option value="all">All</option>
                           </select>
                        </div>
                        <div class="col-3 text-center">
                           <label>Get Result</label>
                           <input class="form-control text-center btn btn-primary" type="submit" value="Submit">
                        </div>
                     </div>
                  </form>
               </div>
               <div class="row" id="data">
                  <div class="col-sm-1 "></div>
                  <div class="col-sm-10">
                     {% if msg %}
                     <div class="card-header h4 text-success text-center">{{msg}}</div>
                     {% endif %}
                  </div>
               </div>
               {% if order %}
               <div class="tab-content">
                  <div class="tab-pane active" id="home7" role="tabpanel">
                     <form method="POST" action="/ecom/return_orders_csv/{{id_list}}/">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-md" style="float:right;"> Download CSV</button>
                     </form>
                     <br>
                     <br>
                     <br>
                     <div class="dt-responsive table-responsive">
                        <table id="table-style-hover"
                           class="table table-striped table-hover table-bordered nowrap">
                           <thead>
                              <tr>
                                 <th>Order Id</th>
                                 <th>Unique Order Id</th>
                                 <th>Delivery Charges</th>
                                 <th>Quantity</th>
                                 <th>Amount</th>
                                 <th>Total Amount</th>
                                 <th>Date</th>
                                 <th>Status</th>
                                 <th>Seller Name</th>
                                 <th>Customer number</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for order in order %}
                              <tr>
                                 <td>{{order.order_id}}</td>
                                 <td>{{order.unique_order_id}}</td>
                                 <td>{{order.delivery_charges.amount}}</td>
                                 <td>{{order.quantity}}</td>
                                 <td>{{order.amount}}</td>
                                 <td>{{order.total_amount}}</td>
                                 <td>{{order.created_date}}</td>
                                 <td>{{order.status}}</td>
                                 <td>{{order.product_details.user.username}}</td>
                                 <td>{{order.oderdetails_order.all.0.user.username}}</td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </div>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="styleSelector">
   </div>
</div>
{% endblock %}

