
{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<style>
   p{font-size:1.1vw}
   .card_style
   {
   width:70%;
   border-style:solid;
   border-width:1px;
   text-align:center;
   padding:2%;
   }
   .card-header{
   font-size:1.2vw;
   }
</style>
<body>
   <link rel="stylesheet" type="text/css" href="/static/ecom/assets/pages/list-scroll/list.css">
   <div class="page-body">
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-header">
               </div>
               <div class="card-block">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="row " style="  justify-content: center;">
                           <div class="card card_style" id="customer_info_card">
                              <div class="card-header"><b>Orders Repayment</b></div>
                              <div class="row mb-2">
                                 <div class="col-sm-3 text-right">
                                    <label>Order Text :</label>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="text" id="order_text" class="form-control text-center"
                                       placeholder="Enter Order Text here">
                                 </div>
                              </div>
                              <div class="row mb-2">
                                 <div class="col-sm-3 text-right">
                                    <label>Transaction Id :</label>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="text" id="transaction_id" class="form-control text-center"
                                       placeholder="Enter Transaction Id here">
                                 </div>
                              </div>
                              <div class="row mb-2">
                                 <div class="col-sm-3 text-right">
                                    <label>Amount :</label>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="text" id="amount" class="form-control text-center"
                                       placeholder="Enter Amount here"   onkeypress="return isNumber(event)">
                                 </div>
                              </div>
                              <div class="row mb-2">
                                 <div class="col-sm-3 text-right">
                                    <label>Date :</label>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="date" id="date" class="form-control text-center"
                                       placeholder="Enter Amount here">
                                 </div>
                              </div>
                              <div class="row mb-1">
                                 <div class="col-4"></div>
                                 <div class="col-4 text-center">
                                    <input class="form-control text-center btn btn-primary" onclick="call_data()" id='submit' type="submit" value="Make Repayment">
                                 </div>
                                 <div class="col-3"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>
<script>
   function isNumber(evt) {
       evt = (evt) ? evt : window.event;
       var charCode = (evt.which) ? evt.which : evt.keyCode;
       if (charCode > 31 && (charCode < 48 || charCode > 57)) {
           return false;
       }
       return true;
   }

</script>
<script>
   function call_data(){

     var order_text = document.getElementById('order_text').value;
     var transaction_id = document.getElementById('transaction_id').value;
     var amount = document.getElementById('amount').value;
     var date = document.getElementById('date').value;

     if (order_text == ""){
       alert('Enter Order Text');


     }

     else if(transaction_id == ""){
        alert('Enter Transaction Id');

     }

     else if(amount == ""){
        alert('Enter amount');

     }

     else if(date == ""){
        alert('Select Date');

     }

     else {


     $.ajax({
                  type: "POST",
                  data: {
                      'order_text' : order_text,
                      'transaction_id' : transaction_id,
                      'amount' : amount,
                      'date' : date,

                  },
                  url: "/ecom/add_repayment_entry/",
                 success: function(data) {
                   var data = JSON.parse(data);



                    if(data['msg']){



                       alert(data['msg']);

                       if (data['msg'] == "Repayment Added Successfully..."){

                        document.getElementById('order_text').value = "";
                         document.getElementById('transaction_id').value = "";
                         document.getElementById('amount').value="";
                       document.getElementById('date').value="";
                       }


                    }

                    else{
                    alert('Something Went Wrong');

                    }

                  }
                  });
                  }

   }
</script>
{% endblock %}

