{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Date</th>
                                                <th>Amount</th>
                                                <th>Paid Amount</th>
                                                <th>Pending Amount</th>
<!--                                                <th>Get Invoice</th>-->


                                            </tr>
                                            </thead>

                                            {% if data %}
                                            {% for date, count in data.items %}
                                             <tr>

                                                <td>{{forloop.counter}}</td>



                                                 <td><a href="/ecom/seller_bill/{{date}}/{{seller}}/{{count.3}}/">{{date}}</a></td>

                                                 <td>{{count.0}}</td>
                                                 <td>{{count.1}}</td>
                                                 <td>{{count.2}}</td>

<!--                                                  <td>  <form action="/ecom/seller_bill/{{date}}/{{username}}/" >-->
<!--                                                        <input-->
<!--                                                                type="submit"-->
<!--                                                                class="btn btn-primary waves-effect waves-light m-r-10"-->
<!--                                                                value="Get Invoice">-->
<!--                                                    </form>-->

<!--                                                </td>-->

                                            </tr>


                                            {% endfor %}
                                            {% endif %}


                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id=" styleSelector">
    </div>
</div>

{% endblock %}