{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<style>
      .card-block{
    height: 125px;

    }
     a{color:#334860;}



   .fa {
  color: #7b8087;
}


   .fas {
  color: #7b8087;
}

</style>

<div class="page-body">
    <div class="row">

        <div class="col-xl-3 col-md-6">
            <div class="card">
                 <a href="/ecom/monthwise_report_for_accounts/dispatched/">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">

                                <h4 class="text-c-yellow f-w-600">{{dispatch_order}}</h4>
                            <h6 class="">Dispatch Orders</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-shopping-cart fa-2x"></i>
                        </div>
                    </div>
                </div>
                 </a>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/monthwise_report_for_accounts/delivered/">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="text-c-yellow f-w-600">
                                {{delivered_order}}</h4>
                            <h6 class="">Delivered Orders</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-shopping-cart fa-2x"></i>
                        </div>
                    </div>
                </div>
                </a>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellerwise_paid_pending_invoice/">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8" >


                            <h6 class="">Sellerwise Invoice</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fas fa-file-invoice fa-2x"></i>
                        </div>
                    </div>
                </div>
                    </a>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}