{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <form action="/ecom/invoice/" method="POST">
                                    {% csrf_token %}
                                        <div class="row">
                                             <div class="col-3">
                                          Date: &nbsp &nbsp<input type="date" name="date" style="margin-top:10%;" width="100%" required>
                                             </div>
                                                  <div class="col-6">
                                         Seller:
                                            <select name="seller" required>

                                                {% if sellers %}
                                                {% for seller in sellers %}

                                               <option>{{seller}}</option>
                                                {% endfor %}

                                                {% endif %}

                                            </select>&nbsp &nbsp
                                                  </div>
                                        </div>

                                        <br>
                                        <br>

                                        <input class="btn btn-primary" type="submit" value="Submit">

                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>




{% endblock %}