{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ msg }}</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form class="md-float-material card-block"
                                          action="/ecom/invoice_data/{{invoice_id}}/" method="post"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b><p>Enter Invoice ID</p></b>

                                              <input disabled
                                                        type="text" id="invoice_id" name="invoice_id" placeholder="Invoice ID" value="{{invoice_id}}">



                                            </div>
                                            <div class="col-sm-6">
                                                <b><p>Enter Order ID</p></b>
                                                <input style="width:220px;" type="text" name="order_id"
                                                       placeholder="Enter Order ID" value="NA" required>

                                            </div>
                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b><p>Enter Transcation ID</p></b>
                                                <input style="width:220px;" type="text" name="transcation_id"
                                                       placeholder="Enter Transcation ID" value="NA" required>

                                            </div>
                                            <div class="col-sm-6">
                                                <b><p>Enter PG Transcation ID</p></b>
                                                <input style="width:220px;" type="text" name="pg_transcation_id"
                                                       placeholder="PG Transcation ID" value="NA" required>

                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b><p>Enter Amount</p></b>
                                                <input style="width:220px;" type="text" name="amount"
                                                       placeholder="Amount"
                                                       title="Allowed integers only"
                                                       onkeypress="return isNumber(event)" required>


                                            </div>

                                            <div class="col-sm-6">
                                                <b><p>Enter Date</p></b>

                                                <input style="width:220px;" type="date" name="date"
                                                       required>

                                            </div>


                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b><p>Select Status</p></b>
                                                <select style="width:220px;"
                                                        class="mdb-select md-form colorful-select dropdown-primary"
                                                        name="status" id="status" searchable="Search here.." required>
                                                    <option id="status_id" value="">--Select Status--</option>
                                                    <option value="initiated">Initiated</option>
                                                    <option value="success" selected>Success</option>
                                                    <option value="failed">Failed</option>
                                                    <option value="cancelled">Cancelled</option>
                                                    <option value="cancelled_m">Cancelled Manually</option>
                                                    <option value="success_m">Successful Manually</option>
                                                    <option value="pending">Pending</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-6">
                                                <b><p>Select Category</p></b>
                                                <select style="width:220px;"
                                                        class="mdb-select md-form colorful-select dropdown-primary"
                                                        name="category" id="category" searchable="Search here.."
                                                        required>
                                                    <option value="" id="category_id">--Select Category--</option>
                                                    <option value="dispatched">Dispatched</option>
                                                    <option value="delivered" selected>Delivered</option>

                                                </select>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b><p>Select Payment Mode</p></b>
                                                <select style="width:220px;"
                                                        class="mdb-select md-form colorful-select dropdown-primary"
                                                        name="mode" id="mode" searchable="Search here.." required>
                                                    <option id="mode_id" value="">--Select Payment Mode--</option>
                                                    <option value="NB" selected>Net Banking</option>
                                                    <option value="DC">Debit Card</option>
                                                    <option value="CC">Credit Card</option>
                                                    <option value="UPI">UPI</option>
                                                    <option value="PPI">Wallet</option>
                                                    <option value="RWT">Rzpay_Wallet</option>
                                                    <option value="C">Cash</option>
                                                    <option value="NA">Cancel</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-6">
                                                <b><p>Select Payment Type</p></b>
                                                <select style="width:220px;"
                                                        class="mdb-select md-form colorful-select dropdown-primary"
                                                        name="type" id="type" searchable="Search here.."
                                                        required>
                                                    <option id="type_id" value="">--Select Payment Type--</option>
                                                    <option value="Cash">Cash</option>
                                                    <option value="Account" selected>Account</option>
                                                    <option value="App">App</option>


                                                </select>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="row">


                                            <div class="col-sm-6">
                                                <b><p>Enter Description</p></b>
                                                <textarea id="description" name="description"
                                                          placeholder="Enter Description..."
                                                          rows="4" cols="75"></textarea>


                                            </div>
                                        </div>

                                        <br>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-center m-t-20">
                                                    <button type="submit" onclick="check();"
                                                            class="btn btn-primary waves-effect waves-light m-r-10">
                                                        Save
                                                    </button>
                                                    <button type="reset"
                                                            class="btn btn-warning waves-effect waves-light">
                                                        Discard
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}

<!--function data(){-->
<!--    var invoice=document.getElementById('invoice_id').value;-->

<!--        console.log('invoice id',invoice);-->

<!--}-->




</script>
<script>
    function check()
    {

    console.log('sonal')
    var category=document.getElementById('category_id').value;
    var mode=document.getElementById('mode_id').value;
    var type=document.getElementById('type_id').value;
    var status=document.getElementById('status_id').value;

    if(document.getElementById('category').value==category)
    {
    return false;
    }

    if(document.getElementById('mode').value==mode)
    {
    return false;
    }

    if(document.getElementById('type').value==type)
    {
    return false;
    }

    if(document.getElementById('status').value==status)
    {
    return false;
    }

    }





</script>

{% endblock %}
