<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" href="/static/cdn/css/bootstrap(4.3.1).min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>


  @media print { @page { margin: 0; }
   body { margin: 1.6cm; } }

#gridview {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
 #gridview th {

        border: 1px solid #000000;
       text-align: center;
       padding: 0px 0px 0px 0px;
        margin:0px;
        height: 0px;
        font-size: 13px;
    }

#gridview td {
        border: 1px solid #000000;
        text-align: center;
       padding: 0px 0px 0px 0px;
        margin:0px;
        height: 10px;
        font-size: 12px;
    }

 #gridview tr:nth-child(even) {
        font-size: 10px;
    }
#gridview table th {
        font-size: 10px;
    }
.table_row{


     border: 1.5px solid #000000;
        text-align: center;
       padding: 1px 1px 1px 1px;
        margin:1px;
        height: 25px;
        font-size: 50px;
}

#placed_order{


    background-color: #dddddd;
     border: 1.5px solid #000000;
        text-align: center;
       padding: 1px 1px 1px 1px;
        margin:1px;
        height: 25px;
        font-size: 50px;
}

#cancel_order{

     background-color: #dddddd;
     border: 1.5px solid #000000;
        text-align: center;
       padding: 1px 1px 1px 1px;
        margin:1px;
        height: 25px;
        font-size: 50px;
}

#return_order{


     background-color: #dddddd;
     border: 1.5px solid #000000;
        text-align: center;
       padding: 1px 1px 1px 1px;
        margin:1px;
        height: 25px;
        font-size: 50px;
}

#undelivered_order{


     background-color: #dddddd;
    border: 1.5px solid #000000;
        text-align: center;
       padding: 1px 1px 1px 1px;
        margin:1px;
        height: 25px;
        font-size: 50px;
}

.empty{


     background-color: #FFFFFF;
    border: 0.5px solid #000000;
        text-align: center;
       padding: 0.5px 0.5px 0.5px 0.5px;
        margin:1px;
        height: 10px;
        font-size: 10px;
}

#table_header{


     background-color: #09b3c4;
    border: 0.5px solid #000000;
        text-align: center;
       padding: 0.5px 0.5px 0.5px 0.5px;
        margin:1px;
        height: 10px;
        font-size: 10px;
}

.table table-responsive invoice-table invoice-total{
        float: right;

}

    </style>

</head>
<body>

<div class="row" style="margin-top:2%;display:">
    <div class="col-sm-12">
        <button id="print_button"
                onclick="print_page();"
                style="float:right;"
                class="btn btn-primary waves-effect waves-light m-r-10"
        >Print
        </button>
    </div>
</div>
<div class="container text-center ">

    <b>Tax Invoice</b>

    </div>

<div class="row">

    <div class="col-sm-6" style="margin-top:2%;margin-left:2%;">To,<br><img
            src="/static/ecom/images/creditkart.png"
            width="100" height="90"
            class="m-b-10" alt=""><br><br>

        <label style="font-weight:normal;font-size:11px;">The Creditkart<br>
            Mudrakwik Fintech PVT LTD</label><br><label
                style="font-size:10px;"><label style="font-size:9px;">13,
            14, 15 & 16, Downtown City Vista,
            Kharadi, Pune 411014</label><br>Email - info@thecreditkart.com, Contact -
            +919807289807<br>GST Number : 27AAMCM8395H1ZQ<br>CIN:
            U72900PN2019PTC185691</label>

    </div>
    <div class="col-sm-6" style="margin-top:5%;margin-left:-5%;">

        {% if seller_amount %}
        <b style="font-size:12px;float:right;">Invoice Number : {{seller_amount.invoice_id}}


            <br><label style="font-size:10px;"> Date : {{seller_amount.date}}</label> <br><br><label
                    style="text-align:right;text-align:start;">

                <label style="font-size:12px;font-weight:normal;">From,</label><br>

                <label style="font-size:12px;font-weight:normal;">Name :
                    {{seller_name}}</label><br>

                <label style="font-size:12px;font-weight:normal;">Address :
                    {{address}}</label><br>

                <label style="font-size:12px;font-weight:normal;">GST No :
                    {{gst_no}}</label><br>

            </label></b>


        {% endif %}
    </div>
</div>
<div class="card">

    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table  id="gridview">

                    <thead>


                    <tr class="table-primary">


                        <th>Order ID</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total Price</th>
                        <th>Tax</th>
                        <th>Total Amount</th>
                    </tr>

                    <tr id="placed_order">
                        <th colspan="7">Placed Order</th>
                    </tr>
                    </thead>
                    <tbody>
                    <input id="id1" type="hidden" value="{{user}}">
                    {% if invoice %}
                    {% for orders, data in invoice.items %}
                    <tr>

                        <td>{{orders.unique_order_id}}</td>
                        <td>{{orders.product_details.product_id.name}}</td>
                        <td>{{data.0}}</td>
                        <td>{{data.1}}</td>
                        <td>{{data.2}}</td>
                        <td>{{data.3}}</td>
                        <td>{{data.4}}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    <tr id="table_row">


                        <td colspan="4"><b>Total Amount</b></td>

                        <td><b>{{total_price}}</b></td>
                        <td><b>{{final_tax}}</b></td>
                        <td><b>{{final_amount}}</b></td>
                    </tr>
                    <tr class="empty">
                        <th colspan="7"></th>
                    </tr>


                    <tr id="return_order">
                        <th colspan="7">Return Order</th>
                    </tr>
                    {% if return_invoice %}
                    {% for orders, data in return_invoice.items %}
                    <tr>

                        <td>{{orders.unique_order_id}}</td>
                        <td>{{orders.product_details.product_id.name}}</td>
                        <td>{{data.0}}</td>
                        <td>{{data.1}}</td>
                        <td>{{data.2}}</td>
                        <td>{{data.3}}</td>
                        <td>{{data.4}}</td>
                    </tr>
                    {% endfor %}
                    <tr class="table_row">


                        <td colspan="6"><b>Total Amount</b></td>


                        <td><b>{{return_final_amount}}</b></td>
                    </tr>
                    {% endif %}
                    <tr class="empty">
                        <th colspan="7"></th>
                    </tr>

                    <tr id="undelivered_order">
                        <th colspan="7">Undelivered Order</th>
                    </tr>

                    {% if undelivered_invoice %}
                    {% for orders, data in undelivered_invoice.items %}
                    <tr>

                        <td>{{orders.unique_order_id}}</td>
                        <td>{{orders.product_details.product_id.name}}</td>
                        <td>{{data.0}}</td>
                        <td>{{data.1}}</td>
                        <td>{{data.2}}</td>
                        <td>{{data.3}}</td>
                        <td>{{data.4}}</td>
                    </tr>
                    {% endfor %}
                    <tr class="table_row">


                        <td colspan="6"><b>Total Amount</b></td>


                        <td><b>{{undelivered_final_amount}}</b></td>
                    </tr>
                    {% endif %}
                    <tr class="empty">
                        <th colspan="7"></th>
                    </tr>
                    <tr id="cancel_order">
                        <th colspan="7">Cancelled Order</th>
                    </tr>
                    {% if cancel_invoice %}
                    {% for orders_cancel, data in cancel_invoice.items %}
                    <tr>

                        <td>{{orders_cancel.order.unique_order_id}}</td>
                        <td>{{orders_cancel.order.product_details.product_id.name}}</td>
                        <td>{{orders_cancel.order.quantity}}</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>{{data}}</td>
                    </tr>
                    {% endfor %}
                    <tr class="table_row">


                        <td colspan="6"><b>Total Amount</b></td>


                        <td><b>{{cancel_final_amount}}</b></td>
                    </tr>
                    {% endif %}


                    </tbody>
                </table>
            </div>
        </div>

    </div>


</div>
<br>
<div class="col-sm-12" style="float:right;margin-right:20px;">
    <table style="float:right;">

        <tr>
            <th>Placed Order Amount :</th>
            <th>{{final_amount}}</th>
        </tr>

        <tr>
            <th>Return Order Amount :</th>
            <th>- {{return_final_amount}}</th>
        </tr>
        <tr>
            <th>Undelivered Order Amount :</th>
            <th>- {{undelivered_final_amount}}</th>
        </tr>
        <tr>
            <th>Cancelled Order Amount :</th>
            <th>- {{cancel_final_amount}}</th>
        </tr>
        <tr>
            <th>Final Amount :</th>
            <th>{{final_final_amount}}</th>
        </tr>


    </table>

</div>


<br>
<br>
<br>
<br>
<br>

<div class="col-sm-12">
    <div class="row">

        <div class="col-sm-4" style="font-size:10px;">Invoice Amount in Words</div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="font-size:10px;">{{final_amount_in_word}}</div>
    </div>
    <br>

    </div>
</div>


<div class="col-sm-12">
    <div class="row">

        <div class="col-sm-4" style="text-align:center;">Signature & Stamp</div>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>

</body>

<script>

            function print_page(){
			var ButtonControl = document.getElementById("print_button");
			 ButtonControl.style.visibility = "hidden";

			window.print();


		}


</script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>