{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Order ID</th>
                                            <th>Date</th>
                                            <th>Quantity</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if order_data %}
                                        {% for order in order_data %}
                                        <tr>

                                            <td class="pro-name">
                                                    <a>{{order.order.product_details.product_id.name}}</a>
                                            </td>
                                            <td class="pro-name">

                                                {{order.order.order_id}}
                                            </td>

                                            <td class="pro-name">
                                                {{order.order.created_date}}
                                            </td>
                                            <td class="pro-name">
                                                {{order.order.quantity}}
                                            </td>
                                            <td class="pro-name">
                                                {{order.order.status}}
                                                <!--<a href="#!" class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="icofont icofont-delete-alt"></i></a>-->
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-overlay"></div>
    </div>
</div>
{% endblock %}