{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<head>
    <link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>
    <script src="/static/cdn/js/select2(4.0.13).min.js"></script>
           <script src="/static/cdn/js/jquery(3.2.1).min.js"></script>

</head>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="form-group">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    Search By :<br><br> <select name="search_by"
                                                                id="search"
                                                                onchange="choose_option()"
                                                                class="form-control form-control-primary"

                                                                required>
                                    <option value="" disabled selected="true">--select---</option>
                                    <option value="payment">Payments</option>
                                    <option value="order">Order</option>
                                    <option value="product_details">Product Details</option>



                                </select>
                                    <br><br>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="payment_data" style="display:none">
<div class="card">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-block">

            <div class="tab-content">

                    <div class="container">
                        <h4>
                            Payment Data Report Download
                        </h4>
                        <br>
                        <form action="/ecom/get_csv/" method="POST">
                            {% csrf_token %}
                        <div class="row">
                            <div class="col-4">
                            Start_date: <input name="start_date" type="date">&nbsp &nbsp
                            </div>
                            <div class="col-4">
                            End_date:<input name="end_date" type="date">&nbsp &nbsp
                            </div>
                            <div class="col-4">
                            Status :
                            <select name="status">
                                {% for status in payment_status %}
                                <option name="Hold">{{status}}</option>
                                {% endfor %}
                            </select>
                            </div>
                            </div>
                            &nbsp &nbsp
                            <center><input class="btn btn-primary" type="submit" value="Submit"></center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div id="payment_csv" style="display:none">
{% if csv_list %}
<div class="card">
    <div class="row">
        <div class="col-sm-12">

                <div class="card-block">
                    <div class="container">
                        <h4>
                            Generated Report
                        </h4>
                        <br>
                        <div class="table-responsive">
                            <div class="table-content">
                                <div class="project-table">
                                    <div class="dt-responsive table-responsive">
                                        <table class="table table-striped table-hover table-bordered nowrap"
                                               id="table-style-hover">
                                            <thead>
                                            <tr>
                                                <th>Payments</th>
                                                <th>Requested Date</th>
                                                <th>Format</th>
                                                <th>Status</th>
                                                <th>Download</th>
                                                <th>Regenerate</th>
                                            </tr>
                                            </thead>
                                            {% if csv_list %}
                                            {% for csv_data in csv_list %}

                                            <tbody>
                                            <tr>
                                                <td>{{csv_data.start_date|date:"Y-m-d"}} to
                                                    {{csv_data.end_date|date:"Y-m-d"}}
                                                </td>
                                                <td>{{csv_data.created_date}}</td>
                                                <td>CSV</td>
                                                <td>{{csv_data.status}}</td>
                                                {% if csv_data.check_file_exist %}
                                                <td>
                                                    <h6>
                                                        <a href="/media/csv/{{csv_data.file_path}}/"><input
                                                            class="btn btn-primary"
                                                            type="button"
                                                            value="Download CSV"></a>

                                                    </h6>
                                                </td>
                                                {% else %}
                                                <td><br><input class="btn btn-warning"
                                                               onclick="call_data(  '{{csv_data.start_date|date:'Y-m-d'}}', '{{csv_data.end_date|date:'Y-m-d'}}', '{{csv_data.status}}', '{{csv_data.id}}' );"
                                                               type="button"
                                                               value="Regenerate CSV">
                                                </td>
                                                {% endif %}
                                                {% if csv_data.check_file_exist %}

                                                <td><input id="new{{forloop.counter}}" class="btn btn-warning"
                                                               onclick="call_new_data(  '{{csv_data.start_date|date:'Y-m-d'}}', '{{csv_data.end_date|date:'Y-m-d'}}', '{{csv_data.status}}', '{{csv_data.id}}' ,'download{{forloop.counter}}','new{{forloop.counter}}');"
                                                               type="button"
                                                               value="Regenerate CSV">
                                                        <a href="/media/csv/{{csv_data.file_path}}/"><input id="download{{forloop.counter}}" type="button"
                                                            class="btn btn-primary"
                                                            value="Download CSV" style="display: none;"></a>
                                                </td>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="md-overlay"></div>
        </div>
    </div>
</div>
{% endif %}
</div>
<div id="order_data" style="display:none">
<div class="card">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-block">

            <div class="tab-content">

                    <div class="container">
                        <h4>
                            Order Data Report Download
                        </h4>
                        <br>
                        <form action="/ecom/get_order_csv/" method="POST">
                            {% csrf_token %}
                        <div class="row">
                            <div class="col-4">
                            Start_date: <input name="start_date" type="date">&nbsp &nbsp
                            </div>
                            <div class="col-4">
                            End_date:<input name="end_date" type="date">&nbsp &nbsp
                            </div>
                            <div class="col-4">
                            Status :
                            <select name="status">
                                {% for status in order_status %}
                                <option name="Hold">{{status}}</option>
                                {% endfor %}
                            </select>
                            </div>
                            </div>
                            &nbsp &nbsp
                            <center><input class="btn btn-primary" type="submit" value="Submit"></center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div id="order_csv" style="display:none">
{% if order_csv_list %}
<div class="card">
    <div class="row">
        <div class="col-sm-12">

                <div class="card-block">
                    <div class="container">
                        <h4>
                            Generated Report
                        </h4>
                        <br>
                        <div class="table-responsive">
                            <div class="table-content">
                                <div class="project-table">
                                    <div class="dt-responsive table-responsive">
                                        <table class="table table-striped table-hover table-bordered nowrap"
                                               id="table-style-hover1">
                                            <thead>
                                            <tr>
                                                <th>Order</th>
                                                <th>Requested Date</th>
                                                <th>Format</th>
                                                <th>Status</th>
                                                <th>Download</th>
                                                <th>Regenerate</th>

                                            </tr>
                                            </thead>
                                            {% if order_csv_list %}
                                            {% for csv_data in order_csv_list %}

                                            <tbody>
                                            <tr>
                                                <td>{{csv_data.start_date|date:"Y-m-d"}} to
                                                    {{csv_data.end_date|date:"Y-m-d"}}
                                                </td>
                                                <td>{{csv_data.created_date}}</td>
                                                <td>CSV</td>
                                                <td>{{csv_data.status}}</td>
                                                {% if csv_data.check_file_exist %}
                                                <td>
                                                    <h6><a href="/media/csv/{{csv_data.file_path}}/"><input
                                                            class="btn btn-primary"
                                                            type="button"
                                                            value="Download CSV"></a>

                                                    </h6>
                                                </td>
                                                {% else %}
                                                <td><input class="btn btn-warning"
                                                               onclick="call_order_data(  '{{csv_data.start_date|date:'Y-m-d'}}', '{{csv_data.end_date|date:'Y-m-d'}}', '{{csv_data.status}}', '{{csv_data.id}}' );"
                                                               type="button"
                                                               value="Regenerate CSV">
                                                </td>
                                                {% endif %}
                                                 {% if csv_data.check_file_exist %}

                                                <td><input id="order{{forloop.counter}}" class="btn btn-warning"
                                                               onclick="call_order1_data(  '{{csv_data.start_date|date:'Y-m-d'}}', '{{csv_data.end_date|date:'Y-m-d'}}', '{{csv_data.status}}', '{{csv_data.id}}' ,'down{{forloop.counter}}','order{{forloop.counter}}');"
                                                               type="button"
                                                               value="Regenerate CSV">
                                                        <a href="/media/csv/{{csv_data.file_path}}/"><input id="down{{forloop.counter}}" type="button"
                                                            class="btn btn-primary"
                                                            value="Download CSV" style="display: none;"></a>
                                                </td>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="md-overlay"></div>
        </div>
    </div>
</div>
{% endif %}
</div>
<div id="product_details_data" style="display:none">
<div class="card">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-block">

            <div class="tab-content">

                    <div class="container">
                        <h4>
                            Product Details Data Report Download
                        </h4>
                        <br>
                        <form action="/ecom/get_product_details_csv/" method="POST">
                            {% csrf_token %}
                        <div class="row">
                            <div class="col-4">
                            Start_date: <input name="start_date" type="date">&nbsp &nbsp
                            </div>
                            <div class="col-4">
                            End_date:<input name="end_date" type="date">&nbsp &nbsp
                            </div>
                            <div class="col-4">
                            Status :
                            <select name="status">
                                {% for status in product_details_status %}
                                <option name="Hold">{{status}}</option>
                                {% endfor %}
                            </select>
                            </div>
                            </div>
                            &nbsp &nbsp
                            <center><input class="btn btn-primary" type="submit" value="Submit"></center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div id="product_details_csv" style="display:none">
{% if product_details_csv_list %}
<div class="card">
    <div class="row">
        <div class="col-sm-12">

                <div class="card-block">
                    <div class="container">
                        <h4>
                            Generated Report
                        </h4>
                        <br>
                        <div class="table-responsive">
                            <div class="table-content">
                                <div class="project-table">
                                    <div class="dt-responsive table-responsive">
                                        <table class="table table-striped table-hover table-bordered nowrap"
                                               id="table-style-hover2">
                                            <thead>
                                            <tr>
                                                <th>Product Details</th>
                                                <th>Requested Date</th>
                                                <th>Format</th>
                                                <th>Status</th>
                                                <th>Download</th>
                                                <th>Regenerate</th>
                                            </tr>
                                            </thead>
                                            {% if product_details_csv_list %}
                                            {% for csv_data in product_details_csv_list %}

                                            <tbody>
                                            <tr>
                                                <td>{{csv_data.start_date|date:"Y-m-d"}} to
                                                    {{csv_data.end_date|date:"Y-m-d"}}
                                                </td>
                                                <td>{{csv_data.created_date}}</td>
                                                <td>CSV</td>
                                                <td>{{csv_data.status}}</td>
                                                {% if csv_data.check_file_exist %}
                                                <td>
                                                    <h6><a href="/media/csv/{{csv_data.file_path}}/"><input
                                                            class="btn btn-primary"
                                                            type="button"
                                                            value="Download CSV"></a>

                                                    </h6>
                                                </td>
                                                {% else %}
                                                <td><br><input class="btn btn-warning"
                                                               onclick="call_product_details_data('{{csv_data.start_date|date:'Y-m-d'}}', '{{csv_data.end_date|date:'Y-m-d'}}', '{{csv_data.status}}', '{{csv_data.id}}' );"
                                                               type="button"
                                                               value="Regenerate CSV">
                                                </td>
                                                {% endif %}
                                                <td><input id="product{{forloop.counter}}" class="btn btn-warning"
                                                               onclick="call_product_data('{{csv_data.start_date|date:'Y-m-d'}}', '{{csv_data.end_date|date:'Y-m-d'}}', '{{csv_data.status}}', '{{csv_data.id}}' ,'number{{forloop.counter}}','product{{forloop.counter}}');"
                                                               type="button"
                                                               value="Regenerate CSV">
                                                        <a href="/media/csv/{{csv_data.file_path}}/"><input id="number{{forloop.counter}}" type="button"
                                                            class="btn btn-primary"
                                                            value="Download CSV" style="display: none;"></a>
                                                </td>
                                                {% endfor %}
                                                {% endif %}
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="md-overlay"></div>
        </div>
    </div>
</div>
{% endif %}
</div>
<script>
    function call_data( start_date, end_date, status, get_id) {
        console.log(get_id);
        console.log(start_date);
        console.log(end_date);

        $.ajax({
					type: "POST",
					data: {
                        'obj_id' : get_id,
						'start_date': start_date,
						'end_date': end_date,
						 'status' : status,
					},
					url: "/ecom/get_csv/",
					success: function (data) {
                        alert("Please refresh the page");
						}
				});
    }


</script>
<script>
    function call_new_data( start_date, end_date, status, get_id,new_id,old_id) {
        console.log(get_id);
        console.log(start_date);
        console.log(end_date);

        $.ajax({
					type: "POST",
					data: {
                        'obj_id' : get_id,
						'start_date': start_date,
						'end_date': end_date,
						 'status' : status,
					},
					url: "/ecom/get_csv/",
					success: function (data) {
					         document.getElementById(old_id).style.display = "none";
                                document.getElementById(new_id).style.display = "";
						}
				});
    }


</script>
<script>
    function call_order1_data( start_date, end_date, status, get_id,download,get_csv) {
        console.log(get_id);
        console.log(start_date);
        console.log(end_date);

        $.ajax({
					type: "POST",
					data: {
                        'obj_id' : get_id,
						'start_date': start_date,
						'end_date': end_date,
						 'status' : status,
					},
					url: "/ecom/get_csv/",
					success: function (data) {
					console.log("download",download)
					            document.getElementById(get_csv).style.display = "none";
                                document.getElementById(download).style.display = "";
						}
				});
    }


</script>
<script>
    function call_product_data( start_date, end_date, status, get_id,regenerate_id,download_id) {
        console.log(get_id);
        console.log(start_date);
        console.log(end_date);
        console.log(status);

        $.ajax({
					type: "POST",
					data: {
                        'obj_id' : get_id,
						'start_date': start_date,
						'end_date': end_date,
						 'status' : status,
					},
					url: "/ecom/get_csv/",
					success: function (data) {
					         document.getElementById(download_id).style.display = "none";
                              document.getElementById(regenerate_id).style.display = "";
                              console.log("val",val)

						}
				});
    }


</script>
<script>
    function call_order_data( start_date, end_date, status, get_id) {
        console.log(get_id);
        console.log(start_date);
        console.log(end_date);

        $.ajax({
					type: "POST",
					data: {
                        'obj_id' : get_id,
						'start_date': start_date,
						'end_date': end_date,
						 'status' : status,
					},
					url: "/ecom/get_order_csv/",
					success: function (data) {
                        alert("Please refresh the page");
						}
				});
    }


</script>
<script>
    function call_product_details_data( start_date, end_date, status, get_id) {
        console.log(get_id);
        console.log(start_date);
        console.log(end_date);

        $.ajax({
					type: "POST",
					data: {
                        'obj_id' : get_id,
						'start_date': start_date,
						'end_date': end_date,
						 'status' : status,
					},
					url: "/ecom/get_product_details_csv/",
					success: function (data) {
                        alert("Please refresh the page");
						}
				});
    }


</script>
<script>

var option = document.getElementById("search").value;
console.log("option",option)
if(option == 'payment'){
document.getElementById("payment_data").style.display = "";
document.getElementById("payment_csv").style.display = "";
document.getElementById("order_data").style.display = "none";
document.getElementById("order_csv").style.display = "none";
document.getElementById("product_details_data").style.display = "none";
document.getElementById("product_details_csv").style.display = "none";
}
if(option == 'order'){
<!--document.getElementById("search_order_by_mobile").style.display = "";-->
document.getElementById("payment_data").style.display = "none";
document.getElementById("payment_csv").style.display = "none";
document.getElementById("order_data").style.display = "";
document.getElementById("order_csv").style.display = "";
document.getElementById("product_details_data").style.display = "none";
document.getElementById("product_details_csv").style.display = "none";
}
if(option == 'product_details'){
document.getElementById("payment_data").style.display = "none";
document.getElementById("payment_csv").style.display = "none";
document.getElementById("order_data").style.display = "none";
document.getElementById("order_csv").style.display = "none";
document.getElementById("product_details_data").style.display = "";
document.getElementById("product_details_csv").style.display = "";
}


function choose_option(){
var option = document.getElementById("search").value;
    if(option == 'payment'){
    document.getElementById("payment_data").style.display = "";
    document.getElementById("payment_csv").style.display = "";
    document.getElementById("order_data").style.display = "none";
    document.getElementById("order_csv").style.display = "none";
    document.getElementById("product_details_data").style.display = "none";
    document.getElementById("product_details_csv").style.display = "none";
    }

    if(option == 'order'){
    document.getElementById("payment_data").style.display = "none";
    document.getElementById("payment_csv").style.display = "none";
    document.getElementById("order_data").style.display = "";
    document.getElementById("order_csv").style.display = "";
    document.getElementById("product_details_data").style.display = "none";
    document.getElementById("product_details_csv").style.display = "none";
    }
   if(option == 'product_details'){
    document.getElementById("payment_data").style.display = "none";
    document.getElementById("payment_csv").style.display = "none";
    document.getElementById("order_data").style.display = "none";
    document.getElementById("order_csv").style.display = "none";
    document.getElementById("product_details_data").style.display = "";
    document.getElementById("product_details_csv").style.display = "";
    }


}

function call_disable()
{
console.log("mrunali");
document.getElementById("mrunali").style.display = "none";
}


</script>
{% endblock %}
