{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<head>
    <link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>
    <script src="/static/cdn/js/select2(4.0.13).min.js"></script>
           <script src="/static/cdn/js/jquery(3.2.1).min.js"></script>

</head>

<div class="card">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-block">

            <div class="tab-content">

                    <div class="container">
                        <h4>
                            Seller Invoice Download
                        </h4>
                        <br>
                        <form action="/ecom/seller_amount_invoice_new/" method="POST">
                            {% csrf_token %}
                        <div class="row">
                            <div class="col-4">
                            Start_date: <input name="start_date" type="date">&nbsp &nbsp
                            </div>
                            <div class="col-4">
                            End_date:<input name="end_date" type="date">&nbsp &nbsp
                            </div>
                            <div class="col-4">
                            Seller :
                            <select name="Seller">
                                {% for seller in sellers %}
                                <option name="Hold">{{seller}}</option>
                                {% endfor %}
                            </select>
                            </div>
                            </div>
                            &nbsp &nbsp
                            <center><input class="btn btn-primary" type="submit" value="Submit"></center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div id="payment_csv" style="display:none">-->
{% if invoice_list %}
<div class="card">
    <div class="row">
        <div class="col-sm-12">

                <div class="card-block">
                    <div class="container">
                        <h4>
                            Generated Report
                        </h4>
                        <br>
                        <div class="table-responsive">
                            <div class="table-content">
                                <div class="project-table">
                                    <div class="dt-responsive table-responsive">
                                        <table class="table table-striped table-hover table-bordered nowrap"
                                               id="table-style-hover">
                                            <thead>
                                            <tr>
                                                <th>Seller Invoice</th>
                                                <th>Requested Date</th>
                                                <th>Format</th>
                                                <th>Status</th>
                                                <th>Download</th>
                                                <th>Regenerate Invoice</th>
                                            </tr>
                                            </thead>
                                            {% if invoice_list %}
                                            {% for invoice_data in invoice_list %}

                                            <tbody>
                                            <tr>
                                                <td>{{invoice_data.start_date|date:"Y-m-d"}} to
                                                    {{invoice_data.end_date|date:"Y-m-d"}}
                                                </td>
                                                <td>{{invoice_data.created_date}}</td>
                                                <td> PDF </td>
                                                <td>{{invoice_data.seller}}</td>
                                                {% if invoice_data.check_file_exist %}
                                                <td>
                                                    <h6><a href="/media/invoice/{{invoice_data.file_path}}/"><input
                                                            class="btn btn-primary"
                                                            type="button"
                                                            value="Download Invoice"></a>

                                                    </h6>
                                                </td>
                                                {% else %}
                                                <td><input class="btn btn-warning"
                                                               onclick="call_data(  '{{invoice_data.start_date|date:'Y-m-d'}}', '{{invoice_data.end_date|date:'Y-m-d'}}', '{{invoice_data.status}}', '{{invoice_data.id}}' );"
                                                               type="button"
                                                               value="Regenerate Invoice">
                                                </td>
                                                {% endif %}
                                                <td><input id ="invoice{{forloop.counter}}" class="btn btn-warning"
                                                               onclick="call_data_22(  '{{invoice_data.start_date|date:'Y-m-d'}}', '{{invoice_data.end_date|date:'Y-m-d'}}', '{{invoice_data.seller}}', '{{invoice_data.id}}','number{{forloop.counter}}','invoice{{forloop.counter}}' );"
                                                               type="button"
                                                               value="Regenerate Invoice">

                                                <a href="/media/invoice/{{csv_data.file_path}}/"><input id="number{{forloop.counter}}" type="button"
                                                            class="btn btn-primary"
                                                                                                    value="Download CSV" style="display: none;"></a></td>

                                                {% endfor %}
                                                {% endif %}
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="md-overlay"></div>
        </div>
    </div>
</div>
{% endif %}

<script>
    function call_data( start_date, end_date, seller, get_id) {
        console.log(get_id);
        console.log(start_date);
        console.log(end_date);

        $.ajax({
					type: "POST",
					data: {
                        'obj_id' : get_id,
						'start_date': start_date,
						'end_date': end_date,
						 'Seller' : seller,
					},
					url: "/ecom/seller_amount_invoice_new/",
					success: function (data) {
                        alert("Please refresh the page");
						}
				});
    }


</script>
<script>
    function call_data_22( start_date, end_date, seller, get_id,regenerate_id,download_id) {
        console.log("---===777",get_id);
        console.log(start_date);
        console.log(end_date);

        $.ajax({
					type: "POST",
					data: {
                        'obj_id' : get_id,
						'start_date': start_date,
						'end_date': end_date,
						 'Seller' : seller,
					},
					url: "/ecom/seller_amount_invoice_new/",
					success: function (data) {
                        console.log("----=-=-=")
                        console.log(regenerate_id)
                        console.log(download_id)
                         document.getElementById(download_id).style.display = "none";
                         document.getElementById(regenerate_id).style.display = "";
                          console.log("val",val)

						}
				});
    }


</script>
{% endblock %}
