
<style>
.center {
  margin: auto;
  width: 100%;

  padding: 6px;
}


table, td, th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

p {
  margin-top:1%;
  margin-left:-5%;
}
</style>
<body onload="test()"></body>
{% if seller_amount %}
{% for seller_amount in seller_amount %}

<div class="page-body">

    <div class="container">



        <div class="card">
            <div class="row">

                <div class="col-sm-12" style="margin-top:2%;">



                </div>
            </div>



            <div id="DivIdToPrint">
                <div class="container text-center ">

                    <b>Tax Invoice</b>

                </div>
                <div class="row">
                    <div class="col-sm-6" style="margin-top:2%;margin-left:2%;">
                        <td>
                            <span>To,</span><br>
                            <img
                                    src="https://ecom.thecreditkart.com/static/ecom/images/creditkart.png"
                                    width="90" height="60"
                                     alt=""><br><br>


                            <label style="font-weight:normal;font-size:11px;">The Creditkart<br>
                                Mudrakwik Fintech PVT LTD</label><br><label
                                style="font-size:10px;"><label style="font-size:9px;">13,
                            14, 15 & 16, Downtown City Vista,
                            Kharadi, Pune 411014</label><br>Email - info@thecreditkart.com, Contact -
                            +919807289807<br>GST Number : 27AAMCM8395H1ZQ<br>CIN:
                            U72900PN2019PTC185691</label>
                        </td>
                    </div>
                    <div class="col-sm-6" >
                        <p>
                        {% if seller_amount %}
                        <b style="font-size:12px;float:right;">Invoice Number : {{seller_amount.invoice_id}}


                            <br><label style="font-size:10px;"> Date : {{seller_amount.created_date}}</label> <br><br><label
                                    style="text-align:right;text-align:start;">


                                <label style="font-size:12px;font-weight:normal;">From,</label><br>

                                <label style="font-size:12px;font-weight:normal;">Name :
                                    {{seller_name}}</label><br>

                                <label style="font-size:12px;font-weight:normal;">Address :
                                    {{address}}</label><br>
                                <label style="font-size:12px;font-weight:normal;">GST No :
                                    {{gst_no}}</label><br>

                            </label></b>


                        {% endif %}
                        </p>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table  invoice-detail-table">
                                    <thead>
                                    <tr class="thead-default">

                                        <th>Order ID</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Total Price</th>
                                        <th>Tax</th>
                                        <th>Total Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <input id="id1" type="hidden" value="{{user}}">

                                    {% if invoice %}
                                    {% for key,value in invoice.items %}
                                    {% if key == seller_amount.invoice_id %}
                                    {% if value %}
                                    {% for orders, data in value.items %}


                                    <tr>
                                        <td>{{orders.unique_order_id}}</td>
                                        <td>{{orders.product_details.product_id.name}}</td>
                                        <td>{{data.0}}</td>
                                        <td>{{data.1}}</td>
                                        <td>{{data.2}}</td>
                                        <td>{{data.3}}</td>
                                        <td>{{data.4}}</td>

                                    </tr>

                                    {% endfor %}
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-responsive invoice-table invoice-total">
                            <tbody>
                            <tr>
                                <th>Total Amount:</th>
                                {% if final_amount  %}
                                  {% for key,value in final_amount.items %}
                                    {% if key == seller_amount.invoice_id %}
                                    {% if value %}
                                <td>{{value}}</td>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </tr>
                            <tr>


                                <th>Total amount paid till date :</th>


                                {% if payment %}
                                {% for key, value in payment.items %}
                                {% if key == seller_amount.invoice_id %}
                                {% if value %}

                                <td>{{value}}</td>
                                {% else %}
                                <td>0.0</td>
                                {% endif %}
                                 {% endif %}
                                {% endfor %}
                                {% endif %}

                            </tr>
                            <tr>


                                <th>Amount to Pay :</th>


                                {% if amount_to_pay %}
                                {% for key, value in amount_to_pay.items %}
                                 {% if key == seller_amount.invoice_id %}

                                    {% if value %}

                                <td>{{value}}</td>
                                    {% else%}
                                <td>0.0</td>

                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% endif %}


                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                  <div class="card-block">
                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <h6 style="text-align:center"><b>Payment Details</b></h6>
                        <br>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home7" role="tabpanel">
                                <div class="dt-responsive table-responsive">

                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        <thead>
                                        <tr class="thead-default">
                                            <th>Sr.No</th>
                                            <th>Order ID</th>
                                            <th>Transaction Id</th>
                                            <th>Category</th>
                                            <th>Amount</th>
                                            <th>Date</th>

                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% if payment_details %}
                                        {% for key , value in payment_details.items %}
                                        {% if key == seller_amount.invoice_id %}
                                        {% if value %}
                                         {% for payment in value %}

                                        <tr>

                                            <td>{{forloop.counter}}</td>
                                            <td>{{payment.order_id}}</td>
                                            <td>{{payment.transaction_id}}</td>
                                            <td>{{payment.category}}</td>
                                            <td>{{payment.amount}}</td>
                                            <td>{{payment.date}}</td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                        {% endif %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

              <div class="card-block">
            <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <h6 style="text-align:center"><b>Cancelled Orders</b></h6>
                        <br>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home" role="tabpanel">
                                <div class="dt-responsive table-responsive">

                                    <table id="table-style-hover1"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        <thead>
                                        <tr class="thead-default">
                                            <th>Order ID</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Total Price</th>
                                        <th>Tax</th>
                                        <th>Total Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% if cancel_invoice %}
                                    {% for key,value in cancel_invoice.items %}
                                    {% if key == seller_amount.invoice_id %}
                                    {% if value %}
                                    {% for orders, data in value.items %}




                                    <tr>
                                        <td>{{orders.unique_order_id}}</td>
                                        <td>{{orders.product_details.product_id.name}}</td>
                                        <td>{{data.0}}</td>
                                        <td>{{data.1}}</td>
                                        <td>{{data.2}}</td>
                                        <td>{{data.3}}</td>
                                        <td>{{data.4}}</td>

                                    </tr>

                                    {% endfor %}
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>



        <div class="card-block">
            <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <h6 style="text-align:center"><b>Return Orders</b></h6>
                        <br>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <div class="dt-responsive table-responsive">

                                    <table id="table-style-hover2"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        <thead>
                                        <tr class="thead-default">
                                            <th>Order ID</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Total Price</th>
                                        <th>Tax</th>
                                        <th>Total Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                     {% if return_invoice %}
                                    {% for key,value in return_invoice.items %}
                                    {% if key == seller_amount.invoice_id %}
                                    {% if value %}
                                    {% for orders, data in value.items %}





                                    <tr>
                                        <td>{{orders.unique_order_id}}</td>
                                        <td>{{orders.product_details.product_id.name}}</td>
                                        <td>{{data.0}}</td>
                                        <td>{{data.1}}</td>
                                        <td>{{data.2}}</td>
                                        <td>{{data.3}}</td>
                                        <td>{{data.4}}</td>

                                    </tr>

                                    {% endfor %}
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>


            <div class="card-block">
            <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <h6 style="text-align:center"><b>UnDelivered Orders</b></h6>
                        <br>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home3" role="tabpanel">
                                <div class="dt-responsive table-responsive">

                                    <table id="table-style-hover3"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        <thead>
                                        <tr class="thead-default">
                                            <th>Order ID</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Total Price</th>
                                        <th>Tax</th>
                                        <th>Total Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if undelivered_invoice %}
                                    {% for key,value in undelivered_invoice.items %}
                                    {% if key == seller_amount.invoice_id %}
                                    {% if value %}
                                    {% for orders, data in value.items %}



                                    <tr>
                                        <td>{{orders.unique_order_id}}</td>
                                        <td>{{orders.product_details.product_id.name}}</td>
                                        <td>{{data.0}}</td>
                                        <td>{{data.1}}</td>
                                        <td>{{data.2}}</td>
                                        <td>{{data.3}}</td>
                                        <td>{{data.4}}</td>

                                    </tr>


                                    {% endfor %}
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


    </div>

    </div>



        </div>

    </div>










{% endfor %}
{% endif %}




