{% extends "admin/base.html" %}

{% block content %}
{% if users %}
<table class="table table-bordered table-striped">
     <thead><tr>
         <th>User</th>
         <th>Loan Amount</th>
         <th>Loan Repayment Amount</th>
         <th>Loan Application Id</th>
         <th>Status</th>
     </tr></thead>
     {% for user in users %}
        <tr>
            <td><a href="{% url 'user_loan_profile' id=user.user.id %}">{{user.user}}</a></td>
            <td>{{user.user.loan_amount}}</td>
            <td>{{user.loan_repayment_amount}}</td>
            <td>{{user.loan_application_id}}</td>
            <td>{{user.status}}</td>
        </tr>
     {% endfor %}
 </table>
{% else %}
<div class="alert alert-block alert-info">
    <p>No loan data found</p>
</div>
{% endif %}
{% endblock %}