{% extends "admin/base.html" %}
{% load mathfilters %}
{% block content %}


				<form class="form-horizontal" action="/tasks/cibil_score_static/"
									method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									<!-- Modal body -->
									<div class="modal-body">

										<P><strong>ENTER ALL IN CAPITALS</strong></P>
										<p style="color:green">Cibil Score : <strong>{{score}}</strong></p>


										<div class="form-group">
											<label class="col-sm-4"
												style="text-align: left">First Name:</label>

											<div class="col-sm-8">
												  <input name="firstname" required class="col-xs-12">
		</div>
										</div>
											<div class="form-group">
											<label class="col-sm-4"
												style="text-align: left">Address:</label>

											<div class="col-sm-8">
												  <input name="address" required class="col-xs-12">
		</div>
										</div>
											<div class="form-group">
											<label class="col-sm-4"
												style="text-align: left">Birth of date:</label>

											<div class="col-sm-8">
												  <input type="date" name="bod" required class="col-xs-12">
		</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4"
												style="text-align: left">Gender:</label>

											<div class="col-sm-8">
												<select name="gender">
													<option value="Male">Male</option>
													<option value="Female">Female</option>
												</select>

		</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4"
												style="text-align: left">Pancard No:</label>

											<div class="col-sm-8">
												  <input maxlength="10" minlength="10" name="pancardno" required class="col-xs-12">
		</div>
										</div>




						<div class="form-group">
											<label class="col-sm-4"
												style="text-align: left">Pin Code No:</label>

											<div class="col-sm-8">
												  <input maxlength="6" minlength="6" name="pincodeno" required class="col-xs-12">
		</div>
										</div>


									</div>

									<!-- Modal footer -->
									<div class="modal-footer">
										<button type="submit"
											class="fa fa-check btn btn-secondary btn btn-success"
											id="" name="">Save</button>

									</div>



								</form>


{% endblock %}