{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>User Name</th>
                                                 <th>User</th>
                                                <th>LoanApplication Id</th>


                                                <th>Loan Start Date</th>
                                                 <th>Loan End Date</th>
                                                 <th>Status</th>

                                            </tr>
                                            </thead>
                                            {% for user in users %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/defaulter-all-details/{{user.id}}/">{{user.user_personal.name}}</a></td>
                                                <td>{{user.user.username}}</td>
                                                <td>{{user.loan_application_id}}</td>


                                                <td>
                                                    {% if user.loan_start_date %}
                                                        {{user.loan_start_date | date:'d M Y'}}
                                                    {% else %}
                                                        NA
                                                    {% endif %}
                                                </td>
                                                <td>{{user.loan_end_date | date:'d M Y'}}</td>
                                                <td>&nbsp;<a href="/user_referance/{{user.loan_application_id}}/"> {{user.status}}</a></td>
                                            </tr>
                                    {% endfor %}

                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
