

{% extends "admin/base.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
   .control-label{
   margin-bottom:15px;
   font-size:12px;
   border:1px solid #EDEDEE;
   display:block;
   cursor:default;
   background-color:white;
   border-radius:10px;
   padding:5px;
   }
   caption{
   font-size:15px;
   padding:3px;
   }
   .label {
   color: black;
   min-width:200px;
   text-align:right;
   float:left;
   margin-left:5px;
   }
   label{
   max-width:100%;
   font-weight:bold;
   }
   .suit-columns1{
   width:100%;
   }
   .container-fluid
   {
   padding-right:0px;
   padding-left:0px;
   *zoom:1;
   }
   .container-fluid:before,.container-fluid:after
   {
   display:table;
   content:"";
   line-height:0;
   }
   .container-fluid:after
   {
   clear:both;
   }
   .col-md-12, .col-md-4 , .col-md-3 , .col-md-6{
   position: relative;
   min-height: 1px;
   padding-right: .9375rem;
   padding-left: .9375rem;
   }
   .col-md-12 {
   width: 100%;
   }
   .col-md-4, .col-md-3, .col-md-6{
   float:left;
   width: 30%;
   }
   .col-md-3 {
   width: 24%;
   padding-left:5px;
   padding-right:5px;
   }
   .col-md-6 {
   width: 45%;
   }
   body {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   line-height: 1.42857143;
   }
   .fa{
   font-size:25px;
   }
   a{
   text-decoration:none;
   }
</style>
<style>
   .info-box {
   cursor: pointer;
   }
   .info-box {
   display: block;
   min-height: 90px;
   background: #fff;
   width: 100%;
   box-shadow: 0 1px 1px rgba(0,0,0,0.1);
   border-radius: 2px;
   margin-bottom: 15px;
   }
   .bg-aqua {
   background-color: #00c0ef !important;
   }
   .info-box-content {
   text-align: center;
   vertical-align: middle;
   display: inherit;
   }
   .info-box-content {
   padding: 5px 10px;
   margin-left: 90px;
   }
   .progress-description, .info-box-text {
   display: block;
   font-size: 14px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   }
   .info-box-number {
   display: block;
   font-weight: bold;
   font-size: 18px;
   }
   .bg-red, .bg-yellow, .bg-aqua, .bg-green{
   color: #fff !important;
   }
   .info-box-icon {
   border-top-left-radius: 2px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 2px;
   display: block;
   float: left;
   height: 90px;
   width: 90px;
   text-align: center;
   font-size: 45px;
   line-height: 90px;
   background: rgba(0,0,0,0.2);
   }
   .bg-red {
   background-color: #dd4b39 !important;
   }
   .bg-green {
   background-color: #00a65a !important;
   }
   .info-box {
   cursor: pointer;
   }
   .bg-yellow {
   background-color: #f39c12 !important;
   }
   .box {
   position: relative;
   border-radius: 3px;
   background: #ffffff;
   border-top: 3px solid #d2d6de;
   margin-bottom: 20px;
   width: 100%;
   box-shadow: 0 1px 1px rgba(0,0,0,0.1);
   }
   .box-header {
   color: #444;
   display: block;
   padding: 10px;
   position: relative;
   text-align:center;
   }
   .box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
   display: inline-block;
   font-size: 18px;
   margin: 0;
   line-height: 1;
   }
   .no-padding {
   padding: 0 !important;
   }
   .box-body {
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   border-bottom-right-radius: 3px;
   border-bottom-left-radius: 3px;
   padding: 10px;
   }
   .table {
   width: 100%;
   max-width: 100%;
   margin-bottom: 20px;
   }
   table {
   background-color: transparent;
   }
   table {
   border-spacing: 0;
   border-collapse: collapse;
   }
   .table-responsive {
   min-height: .01%;
   overflow-x: auto;
   }
   .box-body>.table {
   margin-bottom: 0;
   }
   .box-title{
   font-size:13px !important;
   }
   .box-header.with-border {
   border-bottom: 1px solid #f4f4f4;
   }
   #myChart{
   width:100% !important;
   height:100% !important;
   font-size:20px !important;
   display: block;
   vertical-align: baseline;
   background-color:#fff;
   }
   p {
   margin: 0 0 10px;
   }
   .text-center{
   text-align:center;
   font-size:15px;
   }
   .graph_div{
   background-color: #fff;
   margin-right: 10px;
   padding-top:10px;
   }
   .right_graph_div{
   float: left;
   width: 40%;
   margin-left:0px;
   height:350px;
   }
   #piechart_3d{
   width:100%;
   height:100%;
   }
   g >text{
   font-size:15px;
   }
   .age_div{
   float: left;
   width: 100%;
   margin-top: 10px;
   }
   .loan_div{
   float: left;
   width: 100%;
   margin-top: 10px;
   height:400px;
   }
   .suit-columns1 .row.remove-padding {
   margin-left: 0 !important;
   margin-right: 0;
   padding: 0 20px;
   }
</style>
<div class="suit-columns1">
   <div style="float:left;width:100%;" class="container-fluid">
      <div class=" remove-padding">
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="/LoanAppData/loanapplication/" style="color:#000;">
               <div class="info-box">
                  <span class="info-box-icon bg-yellow">
                  <i class="fa fa-file-text-o"></i>
                  </span>
                  <div class="info-box-content">
                     <span class="info-box-text">
                     Total <br/>Loans Applied
                     </span>
                     <span class="info-box-number" id="applied_loan_count">{{applied_loan_count}}</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="/LoanAppData/loanapplication/?q=&status__exact=APPROVED" style="color:#000;">
               <div class="info-box">
                  <span class="info-box-icon bg-green">
                  <i class="fa fa-check"></i>
                  </span>
                  <div class="info-box-content">
                     <span class="info-box-text">
                     Total <br/>Loans Approved
                     </span>
                     <span class="info-box-number" id="approved_loan_count">{{approved_loan_count}}</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="/LoanAppData/loanapplication/?q=&status__exact=REJECTED" style="color:#000;">
               <div class="info-box">
                  <span class="info-box-icon bg-red">
                  <i class="fa fa-close"></i>
                  </span>
                  <div class="info-box-content">
                     <span class="info-box-text">
                     Total <br/>Loans Rejected
                     </span>
                     <span class="info-box-number" id="rejected_loan_count">{{rejected_loan_count}}</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
               <span class="info-box-icon bg-green" style="background-color: #f70d7d !important;">
               <i class="fa fa-credit-card" aria-hidden="true"></i>
               </span>
               <div class="info-box-content">
                  <span class="info-box-text">
                  Due Amount
                  </span>
                  <span class="info-box-number" id="due_amount">{{due_amount}}</span>
               </div>
            </div>
         </div>
      </div>
      <div class=" remove-padding">
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="/userloan-application-list-new-pre-approved/" style="color:#000;">
               <div class="info-box">
                  <span class="info-box-icon bg-red" style="background-color:#009688 !important">
                  <i class="fa fa-inr"></i>
                  </span>
                  <div class="info-box-content">
                     <span class="info-box-text" >
                     Pre Approved
                     </span>
                     <span class="info-box-number" id="pre_approved_count">{{loan_pre_approved_count}}</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="" style="color:#000;">
               <div class="info-box">
                  <span class="info-box-icon bg-green" style="background-color: #f70d7d !important;">
                  <i class="fa fa-inr"></i>
                  </span>
                  <div class="info-box-content">
                     <span class="info-box-text">Amount <br/> Disbursed</span>
                     <span class="info-box-number" id="amount_disbursed">{{amount_disbursed}}</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="/loan-app-data/get_all_active_user/" style="color:#000;">
               <div class="info-box">
                  <span class="info-box-icon bg-red" style="background-color:#3e344f !important">
                  <i class="fa fa-inr"></i>
                  </span>
                  <div class="info-box-content">
                     <span class="info-box-text">
                     Completed Loans <br>Amount
                     </span>
                     <span class="info-box-number" id="loan_complete_amount">{{loan_complete_amount}}</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="" style="color:#000;">
               <div class="info-box">
                  <span class="info-box-icon bg-green" style="background-color: #009688 !important;">
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
                  </span>
                  <div class="info-box-content">
                     <span class="info-box-text">
                     Installment <br>(Received)
                     </span>
                     <span class="info-box-number" id="approved_received">{{approved_received}}</span>
                  </div>
               </div>
            </a>
         </div>
      </div>
      <div class=" remove-padding">
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="/auth/user/" style="color:#000;">
               <div class="info-box">
                  <span class="info-box-icon bg-aqua">
                  <i class="fa fa-user"></i>
                  </span>
                  <div class="info-box-content">
                     <span class="info-box-text">Users</span>
                     <span class="info-box-number" id="user_count">{{user_count}}</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="/loan-app-data/get_all_active_user/" style="color:#000;">
               <div class="info-box">
                  <span class="info-box-icon bg-aqua"  style="background-color: #009688 !important;">
                  <i class="fa fa-circle-o-notch"></i>
                  </span>
                  <div class="info-box-content">
                     <span class="info-box-text">Completed Loan <br> Count</span>
                     <span class="info-box-number" id="loan_complete_count">{{loan_complete_count}}  </span>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
               <span class="info-box-icon bg-green">
               <i class="fa fa-line-chart"></i>
               </span>
               <div class="info-box-content">
                  <span class="info-box-text">
                     <Complet></Complet>
                     ed Loans <br> Profit
                  </span>
                  <span class="info-box-number"id="loan_complete_amount_profit">{{loan_complete_amount_profit}}</span>
               </div>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="/userloan-application-list-new-process/" style="color:#000;">
               <div class="info-box">
                  <span class="info-box-icon bg-green" style="background-color: #f70d7d !important;">
                  <i class="fa fa-question" aria-hidden="true"></i>
                  </span>
                  <div class="info-box-content">
                     <span class="info-box-text">
                     New Loan Application
                     </span>
                     <span class="info-box-number" id="new_application_count">{{new_application_count}}</span>
                  </div>
               </div>
            </a>
         </div>
      </div>
      <div class=" remove-padding">
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="" style="color:#000;">
               <div class="info-box">
                  <span class="info-box-icon bg-green">
                  <i class="fa fa-line-chart"></i>
                  </span>
                  <div class="info-box-content">
                     <span class="info-box-text">Net Profit</span>
                     <span class="info-box-number" id="net_profit">{{net_profit}}</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="/payment/income_expense_payments_monthwise/" style="color:#000;">
               <div class="info-box">
                  <span class="info-box-icon bg-green">
                  <i class="fa fa-line-chart"></i>
                  </span>
                  <div class="info-box-content">
                     <span class="info-box-text">Subscription Amount</span>
                     <span class="info-box-number" id="sub_amount">{{sub_amount}}</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="/payment/income_expense_payments_monthwise/" style="color:#000;">
               <div class="info-box">
                  <span class="info-box-icon bg-aqua"  style="background-color: #009688 !important;">
                  <i class="fa fa-circle-o-notch"></i>
                  </span>
                  <div class="info-box-content">
                     <span class="info-box-text">
                     Subscription Count
                     </span>
                     <span class="info-box-number" id="sub_count">{{sub_count}}</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="" style="color:#000;">
               <div class="info-box">
                  <span class="info-box-icon bg-yellow">
                  <i class="fa fa-percent" aria-hidden="true"></i>
                  </span>
                  <div class="info-box-content">
                     <span class="info-box-text">
                     Delinquency  %
                     </span>
                     <span class="info-box-number" id="delinquency_percent">{{delinquency_percent}}</span>
                  </div>
               </div>
            </a>
         </div>
      </div>
      <div class=" remove-padding">
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="/loan-app-data/over_due_list/" style="color:#000;">
               <div class="info-box">
                  <span class="info-box-icon bg-yellow" >
                  <i class="fa fa-bug" aria-hidden="true"></i>
                  </span>
                  <div class="info-box-content">
                     <span class="info-box-text">
                     Overdue Loans Count
                     </span>
                     <span class="info-box-number" id="Over_Due_Count">{{Over_Due_Count}}</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="/loan-app-data/over_due_list/" style="color:#000;">
               <div class="info-box">
                  <span class="info-box-icon bg-red">
                  <i class="fa fa-bug"></i>
                  </span>
                  <div class="info-box-content">
                     <span class="info-box-text">Overdue Loans <br>Amount</span>
                     <span class="info-box-number" id="over_due_amount">  {{over_due_amount}}</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="/loan-app-data/defaulter-list/" style="color:#000;">
               <div class="info-box">
                  <span class="info-box-icon bg-yellow" >
                  <i class="fa fa-bug"></i>
                  </span>
                  <div class="info-box-content">
                     <span class="info-box-text">
                     Defaulter Count
                     </span>
                     <span class="info-box-number" id="defaulter_count">{{defaulter_count}}</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="/loan-app-data/defaulter-list/" style="color:#000;">
               <div class="info-box">
                  <span class="info-box-icon bg-red">
                  <i class="fa fa-bug"></i>
                  </span>
                  <div class="info-box-content">
                     <span class="info-box-text">
                     Defulter Balance <br> Amount
                     </span>
                     <span class="info-box-number" id="defaulter_balance_amount">{{defaulter_balance_amount}}</span>
                  </div>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
   $(document).ready(function () {
   	// put Ajax here.

   	setTimeout(function () {
   		loan_data_1()
   	}, 100); // milliseconds

   	setTimeout(function () {
   		loan_data_2()
   	}, 100); // milliseconds

   	setTimeout(function () {
   		loan_data_3()
   	}, 100); // milliseconds

   	setTimeout(function () {
   		loan_data_4()
   	}, 100); // milliseconds

   });

</script>
<script >
   function loan_data_1() {

   	$.ajax({
   		url: "/dashboard/get_dashboard_data_1/",
   		type: 'GET',
   		dataType: 'json', // added data type
   		success: function (res, status) {

   			process_data(res)
   		},
   		error: function (data) {
   			console.log("===========", data)
   		}
   	});
   }

   // process data and display
   function process_data(data) {

   document.getElementById("rejected_loan_count").innerText = data.rejected_loan_count;
   document.getElementById("applied_loan_count").innerText = data.applied_loan_count;
   document.getElementById("approved_loan_count").innerText = data.approved_loan_count;
   document.getElementById("pre_approved_count").innerText = data.pre_approved_count;


   }

</script>
<script >
   function loan_data_2() {
   	$.ajax({
   		url: "/dashboard/get_dashboard_data_2/",
   		type: 'GET',
   		dataType: 'json', // added data type
   		success: function (res, status) {
   			process_data2(res)
   		},
   		error: function (data) {
   			console.log("===========", data)
   		}
   	});
   }

   // process data and display
   function process_data2(data) {
   document.getElementById("due_amount").innerText = data.due_amount;
   document.getElementById("amount_disbursed").innerText = data.amount_disbursed;
   document.getElementById("loan_complete_amount").innerText = data.loan_complete_amount;
   document.getElementById("approved_received").innerText = data.approved_received;
   document.getElementById("user_count").innerText = data.user_count;

   }
</script>
<script >
   function loan_data_3() {
   	$.ajax({
   		url: "/dashboard/get_dashboard_data_3/",
   		type: 'GET',
   		dataType: 'json', // added data type
   		success: function (res, status) {
   			process_data3(res);
   		},
   		error: function (data) {
   			console.log("====process_data3=======", data)
   		}
   	});
   }

   // process data and display
   function process_data3(data) {
   document.getElementById("new_application_count").innerText = data.new_application_count;
   document.getElementById("loan_complete_amount_profit").innerText = data.loan_complete_amount_profit;
   document.getElementById("loan_complete_count").innerText = data.loan_complete_count;
   document.getElementById("net_profit").innerText = data.net_profit;
   document.getElementById("sub_amount").innerText = data.sub_amount;
   document.getElementById("delinquency_percent").innerText = data.delinquency_percent;

   }
</script>
<script >
   function loan_data_4() {

   	$.ajax({
   		url: "/dashboard/get_dashboard_data_4/",
   		type: 'GET',
   		dataType: 'json', // added data type
   		success: function (res, status) {
   			process_data4(res)
   		},
   		error: function (data) {
   			console.log("===========", data)
   		}
   	});
   }

   // process data and display
   function process_data4(data) {

   document.getElementById("defaulter_count").innerText = data.defaulter_count;
   document.getElementById("over_due_amount").innerText = data.over_due_amount;
   document.getElementById("defaulter_balance_amount").innerText = data.defaulter_balance_amount;
   document.getElementById("Over_Due_Count").innerText = data.Over_Due_Count;
   document.getElementById("sub_count").innerText = data.sub_count;

   }

</script>
{% endblock %}

