{% extends "Ecom/test_base.html" %}
{% load mathfilters %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-sm-12">
            <div style="text-align:right">
                <form action="/loan-app-data/get_over_due_csv/">
                    <input type="submit" value="Download CSV">
                </form>
            </div>

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>

                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>User Name</th>
                                                <th>User</th>
                                                <th>LoanApplication Id</th>
                                                <th>Disbursed Amount</th>
                                                <th>Apply Amount</th>
                                                <th>Approved Amount</th>
                                                <th>Recived Amount</th>
                                                <th>Balance Amount</th>
                                                <th>Loan Start Date</th>
                                                <th>Loan End Date</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            {% for user in users %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/user-all-details/{{user.0.id}}/">{{user.0.user_personal.name}}</a>
                                                </td>
                                                <td><a href="/UserAccounts/userloantransaction/{{user.0.id}}/change/">{{user.0.user.username}}</a>
                                                </td>
                                                <td>{{user.0.loan_application_id}}</td>
                                                <td>{{user.0.approved_amount | mul:90 | div:100}}</td>
                                                <td><strong>{{user.0.loan_scheme_id}}</strong></td>
                                                <td><strong>{{user.0.approved_amount}}</strong></td>
                                                <td>{{user.1}}</td>
                                                <td><strong style="color:#8B0000">{{user.0.approved_amount
                                                    |sub:user.1}}</strong></td>
                                                <td>
                                                    {% if user.0.loan_start_date %}
                                                    {{user.0.loan_start_date | date:'d M Y'}}
                                                    {% else %}
                                                    NA
                                                    {% endif %}
                                                </td>
                                                <td>{{user.0.loan_end_date | date:'d M Y'}}</td>
                                                <td>&nbsp;<a href="/user_referance/{{user.0.user_id}}/">
                                                    {{user.0.status}}</a></td>
                                            </tr>
                                            {% endfor %}
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
