{% extends "Ecom/test_base.html" %}
{% load mathfilters %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>User Name</th>
                                                <th>User</th>
                                                <th>LoanApplication Id</th>
                                                <th>Disbursed Amount</th>
                                                <th>Approved Amount</th>
                                                <th>First Due</th>
                                                <th>Second Due</th>
                                                <th>Third Due</th>
                                                <th>Loan Start Date</th>
                                                <th>Loan End Date</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            {% for user in users %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/user-all-details/{{user.loan.id}}/">{{user.loan.user_personal.name}}</a>
                                                </td>
                                                <td>
                                                    <a href="/UserAccounts/userloantransaction/{{user.loan.id}}/change/">{{user.loan.user.username}}</a>
                                                </td>
                                                <td>{{user.loan.loan_application_id}}</td>
                                                <td>{{user.loan.approved_amount | mul:90 | div:100}}</td>
                                                <td><strong>{{user.loan.approved_amount}}</strong></td>
                                                <td>{{user.first_slab_amount}}</td>
                                                <td>{{user.second_slab_amount}}</td>
                                                <td>{{user.third_slab_amount}}</td>
                                                <td>
                                                    {% if user.loan.loan_start_date %}
                                                    {{user.loan.loan_start_date | date:'d M Y'}}
                                                    {% else %}
                                                    NA
                                                    {% endif %}
                                                </td>
                                                <td>{{user.loan.loan_end_date | date:'d M Y'}}</td>
                                                <td>&nbsp;<a href="/user_referance/{{user.loan.user_id}}/">
                                                    {{user.loan.status}}</a></td>
                                            </tr>
                                            {% endfor %}
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
