{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
{% load static %}


<div class="page-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="clearfix">
                <div class="pull-right tableTools-container"></div>
            </div>
            <div>
                <div class="card">
                    <div class="card-block" >
                        <h4 style="text-align:center;">
                            Loan Application Data Report Download
                        </h4>
                        <br>
                        <form action="/loan-app-data/get_all_loans_data/" method="POST">
                            {% csrf_token %}
                            Start_date: <input type="date" name="start_date">&nbsp &nbsp
                            End_date:<input type="date" name="end_date">&nbsp &nbsp
                            Status :
                            <select name="status">
                                {% for status in status %}
                                <option name="Hold">{{status}}</option>
                                {% endfor %}
                            </select>
                            &nbsp &nbsp
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </form>

                    </div>
                </div>
                <br>
                <div class="card">

                    <div class="card-block">
                        <h4 style="text-align:center;">
                            Get all loan data till now for status
                        </h4>
                        <br>
                        <form action="/loan-app-data/get_all_loan_with_status/" method="POST" style="text-align:center;">
                            {% csrf_token %}
                            Status :
                            <select name="loan_status">
                                {% for status in status %}
                                <option name="{{status}}">{{status}}</option>
                                {% endfor %}
                            </select>
                            &nbsp &nbsp
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </form>
                    </div>
                </div>
                <br>

            </div>
        </div>
    </div>
</div>
{% endblock %}