{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form action="/ecom/cod_payment/" method="post">{% csrf_token %}
                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                               <th>Sr.No</th>
                                                 <th>User Name</th>
                                                  <th>Loan Amount</th>
                                                 <th>Mobile Number</th>

                                            </tr>
                                            </thead>
                                            {% for full_name_list, username_list,loan_amount_of_all in active_users %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/user_wise_loan_details/{{username_list}}/">{{full_name_list|upper}}</a></td>
                                                <td>{{loan_amount_of_all}}</td>
                                                <td>{{username_list}}</td>

                                            </tr>
                                            {% endfor %}


                                        </table>

                                    </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
