{% extends "admin/change_form.html" %}
{% load i18n %}

{% block form_top %}
  {% if not is_popup %}
    <p>{% trans "Select User." %}</p>
  {% else %}
    <p>{% trans "Enter a username and password." %}</p>
  {% endif %}
{% endblock %}

{% block footer %}
    {{ block.super }}

    {% if cl.has_filters %}
        <script type="text/javascript">
            // Handle change list filter null values
            Suit.$('.search-filter').suitSearchFilters();
        </script>
    {% endif %}

    <script>

        // Handel page on load change's

        // Get label for annual income
        $body = $("body");

        var label = $("label[for='id_loan_loan_personal_details-0-annual_income']").html()
        $('#id_loan_loan_personal_details-0-name').prop('required', true)

        // Handel on change event of personal details occupation
        $('#id_loan_loan_personal_details-0-occupation').on('change', function(){
            if(this.value == 'SALARIED'){
                $("label[for='id_loan_loan_personal_details-0-annual_income']").html('Yearly Salary:')
                $('.field-gst_number').hide()
                $('#loan_loan_company_details-0').hide()
            }
            else{
                $("label[for='id_loan_loan_personal_details-0-annual_income']").html('Annual Income:')
                $('.field-gst_number').show()
                $('#loan_loan_company_details-0').show()
            }
        })

        // Handel on change event of professional email id
        $('#id_loan_loan_professional_details-0-work_email_id').on('change', function(){

            $.ajax({
                type:'GET',
                url : '/user_account/email-validate-ajax/',
                data : {
                    email_id:this.value,
                },
                success : function(data) {
                    if(data == 'True'){

                    }
                    else{
                        alert('Enter a valid email address')
                        $('#id_loan_loan_professional_details-0-work_email_id').val('')
                    }
                },
                failure : function(result){

                },
                beforeSend: function(){
                    $body.addClass("loading");
                },
                complete: function(){
                    $body.removeClass("loading");
                },
            });

        })

        // Handel on change event of company email address
        $('#id_loan_loan_company_details-0-company_work_email_id').on('change', function(){

            $.ajax({
                type:'GET',
                url : '/user_account/email-validate-ajax/',
                data : {
                    email_id:this.value,
                },
                success : function(data) {
                    if(data == 'True'){

                    }
                    else{
                        alert('Enter a valid email address')
                        $('#id_loan_loan_company_details-0-company_work_email_id').val('')
                    }
                },
                failure : function(result){

                },
                beforeSend: function(){
                    $body.addClass("loading");
                },
                complete: function(){
                    $body.removeClass("loading");
                },
            });

        })

    </script>

{% endblock %}