{% extends "admin/change_list.html" %}

{% load i18n admin_list suit_list %}
{% block content %}
<div id="content-main">

    {% block object-tools %}
        <ul class="object-tools" hidden>
            {% block object-tools-items %}
            <li style="list-style: outside none;">
                <a class="btn btn-success" href="">
                    {% trans "Download CSV" %}
                </a>
            </li>
            {% endblock %}
        </ul>
    {% endblock %}

    {% if cl.formset and cl.formset.errors %}
        <p class="errornote">
            {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}

    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
        {% block search %}{% search_form cl %}{% endblock %}
        {% block date_hierarchy %}{% if cl.date_hierarchy %}{% date_hierarchy cl %}{% endif %}{% endblock %}



        <form id="changelist-form" method="post"{% if cl.formset and cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
            {% if cl.formset %}
            <div>{{ cl.formset.management_form }}</div>
            {% endif %}

            {% block result_list %}
            {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
            {% result_list cl %}
            {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
            {% endblock %}
            {% block pagination %}{% pagination cl %}{% endblock %}
        </form>
    </div>
</div>

{% endblock %}

{% block footer %}
    {{ block.super }}

    {% if cl.has_filters %}
        <script type="text/javascript">
            // Handle change list filter null values
            Suit.$('.search-filter').suitSearchFilters();
        </script>
    {% endif %}
{% endblock %}