{% extends "admin/base_site.html" %}
{% block content %}

<div class="well">
        <form action="" method="get" class="form-inline">
            <label>Date From </label>
                {{form.date_from}}
            <label>Date To</label>
                {{form.date_to}}
            <label>User</label>
                {{form.user}}
            <button type="submit" class="btn btn-primary " data-loading-text="Searching...">Search</button>
            <a class="btn btn-default" href="{% url 'cibil_score_report' %}" >Reset</a>
        </form>
    </div>

{% if user_cibil_data %}
<table class="table table-bordered table-striped">
     <thead><tr>
         <th>User</th>
         <th>Cibil Scorename</th>
         <th>Cibil Scoredata</th>
         <th>Cibil Score</th>
         <th>Cibil Reason 1</th>
         <th>Cibil Reason  2</th>
     </tr></thead>
     {% for cibil_data in user_cibil_data %}
        <tr>
            <td><a href="/CibilMaster/usercibildata/{{cibil_data.id}}/change/">{{cibil_data.user.username}}</a></td>
            <td>{{cibil_data.cibil_scorename}}</td>
            <td>{{cibil_data.cibil_scoredata}}</td>
            <td>{{cibil_data.cibil_score}}</td>
            <td>{{cibil_data.reason_1}}</td>
            <td>{{cibil_data.reason_2}}</td>
        </tr>
     {% endfor %}
 </table>
{% else %}
<div class="alert alert-block alert-info">
    <p>No loan data found</p>
</div>

{% endif %}
{% endblock %}
