{% extends "admin/base_site.html" %}

{% block content %}

<div class="">
    <form action="" method="get" class="form-inline">
        <label>Date From </label>
            {{form.date_from}}
        <label>Date To</label>
            {{form.date_to}}
        <button type="submit" class="btn btn-primary " data-loading-text="Searching...">Search</button>
        <a class="btn btn-default" href="{% url 'reports' %}" >Reset</a>
        <a class="btn btn-success" href="/export/export-reports/{% if request.GET.date_from %}{{request.GET.date_from}}{% else %}NA{% endif %}/{% if request.GET.date_to %}{{request.GET.date_to}}{% else %}NA{% endif %}" style="float:right;">Download CSV </a>
    </form>
</div>

{% if loan_objects %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>Registration Date</th>
                <th>Mobile Number</th>
                <th>Name</th>
                <th>PAN Number</th>
                <th>Loan Application ID</th>
                <th>Applied On</th>
                <th>Approved On</th>
                <th>Total Repayments Rs</th>
                <th>Due Date</th>
                <th>Mudra Score</th>
                <th>Reference 1 (Name)</th>
                <th>Reference 1 (Number)</th>
                <th>Reference 2 (Name)</th>
                <th>Reference 2 (Number)</th>
            </tr>
        </thead>
        {% for loan_object in loan_objects %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{loan_object.user.date_joined}}</td>
                <td>
                    <a href="/auth/user/{{loan_object.user.id}}/change/" target="_blank">
                        {{loan_object.user.username}}
                    </a>

                </td>
                <td>
                    {% if loan_object.name %}
                    <a href="/auth/user/{{loan_object.user.id}}/change/" target="_blank">
                        {{loan_object.name}}
                    </a>
                    {% else %}
                        NA
                    {% endif %}
                </td>
                <td>{{loan_object.pan_number}}</td>
                <td>{{loan_object.loan_application_id}}</td>
                <td>{{loan_object.created_date|date:"Y-m-d h:s:m"}}</td>
                <td>
                    {% if loan_object.loan_application_start_date %}
                        {{loan_object.loan_application_start_date|date:"Y-m-d h:s:m"}}
                    {% else %}
                        NA
                    {% endif %}
                </td>
                <td>
                    {% if loan_object.total_repayment %}
                        {{loan_object.total_repayment}}
                    {% else %}
                        0.00
                    {% endif %}
                </td>
                <td>
                    {% if loan_object.loan_due_date %}
                        {{loan_object.loan_due_date|date:"Y-m-d h:s:m"}}
                    {% else %}
                        NA
                    {% endif %}
                </td>

                
                <td>{{loan_object.user_mudra_score}}</td>
                <td>{{loan_object.reference_name_1}}</td>
                <td>{{loan_object.reference_num_1}}</td>
                <td>{{loan_object.reference_name_2}}</td>
                <td>{{loan_object.reference_num_2}}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <div class="alert alert-block alert-info">
        <p>No loan data found</p>
    </div>
{% endif %}

{% endblock %}