{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ msg }}</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide">


                            </div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form action="/loan-app-data/create_loan_banner/"
                                          class="md-float-material card-block" enctype="multipart/form-data"
                                          method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b><p>Select Banner Image</p></b>
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input class="form-control"
                                                           name="banner_image"
                                                           placeholder=""
                                                           required
                                                           type="file">

                                                </div>

                                            </div>
                                            <div class="col-sm-6">
                                                <b><p>Select Status </p></b>
                                                <select class="form-control form-control-primary"
                                                        name="status" required>
                                                    <option disabled selected>---Select Status---</option>
                                                    <option value="True">True</option>
                                                    <option value="False">False</option>

                                                </select>

                                            </div>

                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b><p>Select Type </p></b>
                                                <select class="form-control form-control-primary"
                                                        name="type" required>
                                                    <option disabled selected>---Select Type---</option>
                                                    <option value="App">App</option>
                                                    <option value="Web">Web</option>
                                                    <option value="Both">Both</option>

                                                </select>

                                            </div>
                                            <div class="col-sm-6">
                                                <b><p>Select Priority </p></b>
                                                <select class="form-control form-control-primary"
                                                        name="priority" required>
                                                    <option disabled selected>---Select Priority---</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>

                                                </select>

                                            </div>


                                        </div>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">

                                                <b><p>Select Start Date </p></b>
                                                <input name="start_date" type="date">


                                                </select>

                                            </div>
                                            <div class="col-sm-6">

                                                <b><p>Select End Date </p></b>
                                                <input name="end_date" type="date">


                                                </select>

                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <b><p>Select Banner Type </p></b>
                                                    <select class="form-control form-control-primary"
                                                            name="banner_type" required>
                                                        <option disabled selected>---Select Type---</option>
                                                        <option value="loan">loan</option>
                                                        <option value="insurance">insurance</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <b><p>Description </p></b>
                                                    <textarea cols="50" id="description" name="description"
                                                              rows="4"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-center m-t-20">
                                                    <button class="btn btn-primary waves-effect waves-light m-r-10"
                                                            type="submit">
                                                        Save
                                                    </button>
                                                    <button class="btn btn-warning waves-effect waves-light"
                                                            type="reset">
                                                        Discard
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
   $(document).ready(function () {
//change selectboxes to selectize mode to be searchable
   $("select").select2();
});




</script>

{% endblock %}