{% extends "recovery/base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{%block content%}

<!-- page specific plugin scripts -->
<script src="{% static 'js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'js/jquery.dataTables.bootstrap.min.js'%}"></script>
<script src="{% static 'js/dataTables.select.min.js'%}"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    <!-- loan paging first and then loan data-->

        jQuery(function($) {
            //initiate dataTables plugin

            var myTable =
            $('#dynamic-table')
            //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
            .DataTable( {
                bAutoWidth: false,
                "aoColumns": [
                  { "bSortable": false },
                  null, null,null, null, null,null, null,null, null,
                  { "bSortable": false }
                ],
                "aaSorting": [],

                // Show all rows
                aLengthMenu: [
                    [10,25, 50, 100, 200, -1],
                    [10 ,25, 50, 100, 200, "All"]
                ],

                //iDisplayLength: -1, //Displays All records by default




                //"bProcessing": true,
                //"bServerSide": true,
                //"sAjaxSource": "http://127.0.0.1/table.php"	,

                //,
                //"sScrollY": "200px",
                //"bPaginate": true,

                //"sScrollX": "100%",
                //"sScrollXInner": "120%",
                //"bScrollCollapse": true,
                //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
                //you may want to wrap the table inside a "div.dataTables_borderWrap" element

                //"iDisplayLength": 50


                select: {
                    style: 'multi'
                }
            } );



            $.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

            new $.fn.dataTable.Buttons( myTable, {
                buttons: [
                  {
                    "extend": "colvis",
                    "text": "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>Show/hide columns</span>",
                    "className": "btn btn-white btn-primary btn-bold",
                    columns: ':not(:first):not(:last)'
                  },
                  {
                    "extend": "copy",
                    "text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                  },
                  {
                    "extend": "csv",
                    "text": "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>Export to CSV</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                  },
                  {
                    "extend": "excel",
                    "text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                  },
                  {
                    "extend": "pdf",
                    "text": "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                  },
                  {
                    "extend": "print",
                    "text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
                    "className": "btn btn-white btn-primary btn-bold",
                    autoPrint: false,
                    message: 'This print was produced using the Print button for DataTables'
                  }
                ]
            } );
            myTable.buttons().container().appendTo( $('.tableTools-container') );

            //style the message box
            var defaultCopyAction = myTable.button(1).action();
            myTable.button(1).action(function (e, dt, button, config) {
                defaultCopyAction(e, dt, button, config);
                $('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
            });


            var defaultColvisAction = myTable.button(0).action();
            myTable.button(0).action(function (e, dt, button, config) {

                defaultColvisAction(e, dt, button, config);


                if($('.dt-button-collection > .dropdown-menu').length == 0) {
                    $('.dt-button-collection')
                    .wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
                    .find('a').attr('href', '#').wrap("<li />")
                }
                $('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
            });

            ////

            setTimeout(function() {
                $($('.tableTools-container')).find('a.dt-button').each(function() {
                    var div = $(this).find(' > div').first();
                    if(div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
                    else $(this).tooltip({container: 'body', title: $(this).text()});
                });
            }, 500);





            myTable.on( 'select', function ( e, dt, type, index ) {
                if ( type === 'row' ) {
                    $( myTable.row( index ).node() ).find('input:checkbox').prop('checked', true);
                }
            } );
            myTable.on( 'deselect', function ( e, dt, type, index ) {
                if ( type === 'row' ) {
                    $( myTable.row( index ).node() ).find('input:checkbox').prop('checked', false);
                }
            } );




            /////////////////////////////////
            //table checkboxes
            $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

            //select/deselect all rows according to table header checkbox
            $('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function(){
                var th_checked = this.checked;//checkbox inside "TH" table header

                $('#dynamic-table').find('tbody > tr').each(function(){
                    var row = this;
                    if(th_checked) myTable.row(row).select();
                    else  myTable.row(row).deselect();
                });
            });

            //select/deselect a row when the checkbox is checked/unchecked
            $('#dynamic-table').on('click', 'td input[type=checkbox]' , function(){
                var row = $(this).closest('tr').get(0);
                if(this.checked) myTable.row(row).deselect();
                else myTable.row(row).select();
            });



            $(document).on('click', '#dynamic-table .dropdown-toggle', function(e) {
                e.stopImmediatePropagation();
                e.stopPropagation();
                e.preventDefault();
            });



            //And for the first simple table, which doesn't have TableTools or dataTables
            //select/deselect all rows according to table header checkbox
            var active_class = 'active';
            $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
                var th_checked = this.checked;//checkbox inside "TH" table header

                $(this).closest('table').find('tbody > tr').each(function(){
                    var row = this;
                    if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                    else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
                });
            });

            //select/deselect a row when the checkbox is checked/unchecked
            $('#simple-table').on('click', 'td input[type=checkbox]' , function(){
                var $row = $(this).closest('tr');
                if($row.is('.detail-row ')) return;
                if(this.checked) $row.addClass(active_class);
                else $row.removeClass(active_class);
            });



            /********************************/
            //add tooltip for small view action buttons in dropdown menu
            $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

            //tooltip placement on right or left
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                //var w2 = $source.width();

                if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
                return 'left';
            }




            /***************/
            $('.show-details-btn').on('click', function(e) {
                e.preventDefault();
                $(this).closest('tr').next().toggleClass('open');
                $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
            });
            /***************/





            /**
            //add horizontal scrollbars to a simple table
            $('#simple-table').css({'width':'2000px', 'max-width': 'none'}).wrap('<div style="width: 1000px;" />').parent().ace_scroll(
              {
                horizontal: true,
                styleClass: 'scroll-top scroll-dark scroll-visible',//show the scrollbars on top(default is bottom)
                size: 2000,
                mouseWheelLock: true
              }
            ).css('padding-top', '12px');
            */

            //chosen plugin inside a modal will have a zero width because the select element is originally hidden
            //and its width cannot be determined.
            //so we set the width after modal is show
            $('#modal-form').on('shown.bs.modal', function () {
                if(!ace.vars['touch']) {
                    $(this).find('.chosen-container').each(function(){
                        $(this).find('a:first-child').css('width' , '210px');
                        $(this).find('.chosen-drop').css('width' , '210px');
                        $(this).find('.chosen-search input').css('width' , '200px');
                    });
                }
            })

        })







</script>


<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">jQuery dataTables</h3>

        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            Results for "Defaulter's List"
        </div>

        <!-- div.table-responsive -->

        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">

                <thead>
                <tr>
                    <th class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace"/>
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th>User Name</th>
                    <th>User</th>
                    <th>LoanApplication Id</th>
                    <th>Disbursed Amount</th>
                    <th>Repayment Amount</th>
                    <th>Received Amount</th>
                    <th>Balance Amount</th>
                    <th>Loan Start Date</th>
                    <th>Loan End Date</th>
                    <th>Status</th>
                    <!--                            <th></th>-->

                </tr>
                </thead>

                <tbody>

                {% if users %}
                {% for user in users %}
                <tr>
                    <td class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace" id="checkbox" name="checkbox" value="{forloop.counter}"
                                   onclick="get_selected_checkedbox_data()"/>
                            <span class="lbl"></span>
                        </label>
                    </td>

                    <td>
                        <a href="/user-all-details/{{user.id}}/" name="mobile-number">{{user.name}}</a>
                    </td>
                    <td class="hidden-480"><a
                            href="/UserAccounts/userloantransaction/{{user.id}}/change/">{{user.user}}</a></td>
                    <td id="loan_application_id">{{user.loan_application_id}}</td>
                    <td>{{user.loan_amount}}</td>
                    <td><strong>{{user.loan_repayment_amount}}</strong></td>
                    <td>{{user.total_repayment}}</td>
                    <td><strong style="color:#8B0000">{{user.loan_repayment_amount|sub:user.total_repayment}}</strong>
                    </td>
                    <td>
                        {% if user.loan_application_start_date %}
                        {{user.loan_application_start_date | date:'d M Y'}}
                        {% else %}
                        NA
                        {% endif %}
                    </td>
                    <td>{{user.loan_due_date | date:'d M Y'}}</td>
                    <!--                        <td>&nbsp;<a href="/user_referance/{{user.user_id}}/"> {{user.status}}</a></td>-->

                    <td class="hidden-480">
                            <span class="label label-sm label-warning">&nbsp;<a href="/user_referance/{{user.user_id}}/"
                                                                                style="color: white !important;"> {{user.status}}</a></span>
                    </td>

                    <!--                        <td>-->
                    <!--                            <div class="hidden-sm hidden-xs action-buttons">-->
                    <!--                                <a class="blue" href="#">-->
                    <!--                                    <i class="ace-icon fa fa-search-plus bigger-130"></i>-->
                    <!--                                </a>-->

                    <!--                                <a class="green" href="#">-->
                    <!--                                    <i class="ace-icon fa fa-pencil bigger-130"></i>-->
                    <!--                                </a>-->

                    <!--                                <a class="red" href="#">-->
                    <!--                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>-->
                    <!--                                </a>-->
                    <!--                            </div>-->

                    <!--                            <div class="hidden-md hidden-lg">-->
                    <!--                                <div class="inline pos-rel">-->
                    <!--                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown"-->
                    <!--                                            data-position="auto">-->
                    <!--                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>-->
                    <!--                                    </button>-->

                    <!--                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">-->
                    <!--                                        <li>-->
                    <!--                                            <a href="#" class="tooltip-info" data-rel="tooltip" title="View">-->
                    <!--                                                <span class="blue">-->
                    <!--                                                    <i class="ace-icon fa fa-search-plus bigger-120"></i>-->
                    <!--                                                </span>-->
                    <!--                                            </a>-->
                    <!--                                        </li>-->

                    <!--                                        <li>-->
                    <!--                                            <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">-->
                    <!--                                                <span class="green">-->
                    <!--                                                    <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>-->
                    <!--                                                </span>-->
                    <!--                                            </a>-->
                    <!--                                        </li>-->

                    <!--                                        <li>-->
                    <!--                                            <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">-->
                    <!--                                                <span class="red">-->
                    <!--                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>-->
                    <!--                                                </span>-->
                    <!--                                            </a>-->
                    <!--                                        </li>-->
                    <!--                                    </ul>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </td>-->
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-block alert-info">
                <p>No Defaulters Found</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>


<!--Modal Call-->

<div class="col-xs-12" style="margin: 1% !important;">
    <a href="#modal-form" role="button" class="btn  btn-info  btn-xs no-radius" data-toggle="modal">
        <i class="ace-icon fa fa-envelope smaller-90"></i>
        Send Message to Selected
        <!--<span class="label label-inverse arrowed-in">6+</span>-->
    </a>
    <a href="#modal-form2" role="button" class="btn  btn-info  btn-xs no-radius" data-toggle="modal">
        <i class="ace-icon fa fa-envelope smaller-90"></i>
        Send Message to All
        <!--<span class="label label-inverse arrowed-in">6+</span>-->
    </a>
</div>


<!--							SMS	Modal -->
<div id="modal-form" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">Please Enter a message for defaulter</h4>
            </div>


            <div style="margin: 1%;!important">
                <h3>Message</h3>
                <!--                    <h4>Select all users</h4><input type="checkbox" class="" name="select_all_checkbox" id="select_all_checkbox" onclick="selectall(this)"/>-->


            </div>

            <textarea id="message" class="autosize-transition form-control"></textarea>


            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Cancel
                </button>

                <button class="btn btn-sm btn-primary" onclick="myFunction()" data-dismiss="modal">
                    <i class="ace-icon fa fa-check"></i>
                    Send
                </button>
            </div>
        </div>
    </div>
    <!-- PAGE CONTENT ENDS -->
</div><!-- /.col -->

<!--							SMS	Modal2 -->
<div id="modal-form2" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">Please Enter a message for defaulter</h4>
            </div>


            <div style="margin: 1%;!important">
                <h3>Message</h3>
                <!--                    <h4>Select all users</h4><input type="checkbox" class="" name="select_all_checkbox" id="select_all_checkbox" onclick="selectall(this)"/>-->


            </div>

            <textarea id="message2" class="autosize-transition form-control"></textarea>


            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Cancel
                </button>

                <button class="btn btn-sm btn-primary" onclick="sendall()" data-dismiss="modal">
                    <i class="ace-icon fa fa-check"></i>
                    Send
                </button>
            </div>
        </div>
    </div>
    <!-- PAGE CONTENT ENDS -->
</div><!-- /.col -->


<script type="text/javascript">
            if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");









</script>

<script src="{% static 'js/bootstrap.min.js''}"></script>

<!-- page specific plugin scripts -->
<!--		<script src="{% static 'js/jquery.dataTables.min.js'%}"></script>-->


<script src="{% static 'js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'js/buttons.flash.min.js'%}"></script>
<script src="{% static 'js/buttons.html5.min.js'%}"></script>
<script src="{% static 'js/buttons.print.min.js'%}"></script>
<script src="{% static 'js/buttons.colVis.min.js'%}"></script>

<script src="{% static 'my_app/example.jpg' %}"></script>


<!-- ace scripts -->
<script src="{% static 'js/ace-elements.min.js'%}"></script>
<script src="{% static 'js/ace.min.js'%}"></script>

<script>
<!--get the message-->
        var message = '';
        var values = '';

                function get_selected_checkedbox_data(){
                $("input[name='checkbox']").click(function(){
                     var values = new Array();
                           $.each($("input[name='checkbox']:checked"), function() {
                               var data = $(this).parents('tr:eq(0)');
                               values.push({'Loan App Id':$(data).find('td:eq(4)').text()});
                           });

                           console.log(values);


                     });
                 }



</script>
<script>
    <!--             Get loan application id from selected(checked) checkboxes        -->
                     function myFunction() {

                        message = document.getElementById("message").value;
                             var values = [];
                               $.each($("input[name='checkbox']:checked"), function() {
                                   var data = $(this).parents('tr:eq(0)');
                                   values.push($(data).find('td:eq(2)').text()); //get mobile number
                                });

                            var loan_application_id =values
                            var data = {
                                defaulter_message: message,
                                mobile_number_list: values
                            }
                            console.log("send all",data)

                            Send_defaulter_sms_ajax(data,message,values);
                        }



</script>
<script>

             <!--             Get all  mobile number from table       -->
                     function sendall() {

                        message = document.getElementById("message2").value;

                            var data = {
                                defaulter_message: message,

                            }
                            console.log(data);


                            Send_defaulter_sms_ajax_v2(data,message);
                        }

    <!--         Send the message and the selected checked box data using ajax    -->
                        function Send_defaulter_sms_ajax(data,message,values){
                            var message = message
                            var mobile_number_list = values
                            console.log(data,values)

                             $.ajax({
                                    type: "post",
                                    dataType: 'json',
                                    contentType: 'application/json',

                                    url: "/user_account/send_multiple_sms_ajax/",
                                    data: JSON.stringify(data),
                                    success: function (data) {
                                        alert(data.response);
                                        }
                             });
                        }


    <!--         Send the message and the selected checked box data using ajax    -->
                        function Send_defaulter_sms_ajax_v2(data,message){
                            var message = message


                             $.ajax({
                                    type: "post",
                                    dataType: 'json',
                                    contentType: 'application/json',

                                    url: "/user_account/send_multiple_sms_ajax_v2/",
                                    data: JSON.stringify(data),
                                    success: function (data) {
                                        alert(data.response);
                                        }
                             });
                        }




</script>
<script>
           function selectall(source) {
              a = document.getElementById('select_all_checkbox').checked;
              if(a)
                {
                    alert("checked");
                    checkboxes = document.getElementsByName('checkbox');
                  for(var i=0, n=checkboxes.length;i<n;i++) {
                    checkboxes[i].checked = source.checked;

                   }
<!--                   console.log(checkboxes);-->
                }
                else{
                    alert("select all checkbox is not selected");
                }

            }








</script>

<!--&lt;!&ndash;         Send the message and the selected checked box data using ajax    &ndash;&gt;-->
<!--                    function Send_defaulter_sms_ajax(data,message,values){-->
<!--                    alert(data)-->
<!--                    var message = message-->
<!--                    var mobile_number_list = values-->
<!--                     $.ajax({-->

<!--                            type: "post",-->
<!--                            data: {-->
<!--                                 'message': message,-->
<!--                                 'mobile_number_list':mobile_number_list,-->
<!--                                 'data':data,-->

<!--                               },-->
<!--                            url: "/recovery/send_multiple_sms_ajax/",-->
<!--                            success: function (data) {-->
<!--                           alert(data.is_taken);-->

<!--                         }-->
<!--                    });-->
{%endblock%}