{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>Date</th>
                                                <th>Disbursed Amount</th>
                                                <th>Repayment Amount</th>


                                            </tr>
                                            </thead>
                                           {% if loan_data %}
                                            {% for date , amount in loan_data.items %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{date}}</td>
                                                {% if amount.0 == None or amount.1 == None %}
                                                <td>0</td>
                                                {% else %}
                                                <td><a href="/userloan_application_all_disbursed/{{date}}/">{{amount.0}}</a></td>
                                                {% endif %}
                                                <td><a href="/loan-app-data/repayment-by-date/{{date}}/">{{amount.1}}</a></td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
