{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>

        <th>Amount</th>
        <th>Transaction Date</th>
        <th>Loan ID</th>
        <th>Transaction type</th>
        <th>Status</th>
        <th>Order ID</th>
        <th>Username</th>
    </tr>
    </thead>
    {% if user %}
        {% for user in users %}
    <tr>
        <td>{{user.Amount}}</td>
        <td>{{user.transaction_date}}</td>
        <td>{{user.LoanApplicationId}}</td>
        <td>{{user.type}}</td>
        <td>{{user.status}}</td>
        <td>{{user.Order_id}}</td>
        <td>{{user.Username}}</td>
    </tr>
    {% endfor %}
    {% endif %}

                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
