
{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
{% load static %}


<style>
    p{font-size:1.1vw}
    .card_style
    {
    width:100%;
    border-style:solid;
    border-width:1px;
    text-align:center;
    padding:2%;
    }

    .card-header{
    font-size:1.2vw;
    }

</style>



<body>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<form action="/loan-app-data/rbl_save_data_pre_approved/" class="form-horizontal" method="post">
    {% csrf_token %}
<div class="inline-related dynamic-loan_loan_personal_details" id="loan_loan_profession_details-10"
         style="width:100%">

    <div class="card card_style mb-2" id="customer_info_card">
         <h4><b>Analytics History:</b>&nbsp;<span class="inline_label"></span></h4>
        <br>
        <div class="dt-responsive table-responsive">
        <table class="table table-bordered">
            <tr>
                 <td style="width:30%">User</td>
                <td style="width:70%"> {{users.user.username}}</td>
            </tr>
            <tr>
                <td style="width:30%">Pan Mobile Count</td>
                <td style="width:70%"><a href="/loan-app-data/pan_count_view/{{users.user_personal.pan_number}}/"><strong style="color:red">{{pancount}}</strong>&nbsp;</a>
                </td>
            </tr>
            <tr>
                <td style="width:30%">Over Due</td>
                <td style="width:70%"><strong style="color:red">{{overdue_count}}</strong></td>
            </tr>
             <tr>
                <td style="width:30%">DPD</td>
                <td style="width:70%"><strong style="color:red">{{user_dpd}}</strong></td>
            </tr>
            <tr>
                <td style="width:30%">SMS Details</td>
                <td style="width:70%">Credit & Debit SMS Count <strong style="color:green">{{smscount}}</strong>
                                                With Balance <strong style="color:green">{{balance}}</strong>
                </td>
            </tr>
             <tr>
                <td style="width:30%">Loan Details</td>
                <td style="width:70%"><a href="/user_wise_loan_details/{{users.user}}/"> No of Loan <strong style="color:black">{{user_loancount_list}}</strong>
                                                with Transaction <strong style="color:black">{{user_transaction_list}}</strong></a>
                </td>
            </tr>
             <tr>
                <td style="width:30%">Referance Details</td>
                <td style="width:70%"><a href="/user_referance/{{users.loan_application_id}}/">
                                                <strong>{{NOT_FOUND}}</strong></a></td>
            </tr>

        </table>
        </div>

    </div>


    <div class="card mb-2" style="border-style:solid;border-width:1px;width:100%">
            <div class="text-center">
               <h4><b style="height:50px">Reference Details</b></h4>
            </div>
            <table class="table table-bordered table-striped" id="dynamic-table">
                <thead>
                <tr>
                    <th>Colleague Name</th>
                    <th>Colleague Number</th>
                    <th>Colleague Email</th>
                    <th>Relative Name</th>
                    <th>Relative Number</th>
                    <th>Relative Relation</th>
                </tr>
                </thead>
                <tr>

                    <td>{{users.reference_id.colleague_name}}</td>
                    <td>{{users.reference_id.colleague_mobile_no}}</td>
                    <td>{{users.reference_id.colleague_email_id}}</td>
                    <td>{{users.reference_id.relative_name}}</td>
                    <td>{{users.reference_id.relative_mobile_no}}</td>
                    <td>{{users.reference_id.relationships}}</td>
                </tr>

            </table>
    </div>

    <input id="id_loan_loan_personal_details-TOTAL_FORMS" name="loan_loan_personal_details-TOTAL_FORMS"
               type="hidden"
               value="1"/>
        <input id="id_loan_loan_personal_details-INITIAL_FORMS" name="loan_loan_personal_details-INITIAL_FORMS"
               type="hidden"
               value="0"/>
        <input id="id_loan_loan_personal_details-MIN_NUM_FORMS" name="loan_loan_personal_details-MIN_NUM_FORMS"
               type="hidden"
               value="0"/>
        <input id="id_loan_loan_personal_details-MAX_NUM_FORMS" name="loan_loan_personal_details-MAX_NUM_FORMS"
               type="hidden"
               value="1"/>




    <div class="card card_style mb-2">
         <h4><b>Delayed Payment Days</b>&nbsp;<span class="inline_label"></span></h4>
             <div class="dt-responsive table-responsive">
          <table id="table-style-hover2" class="table table-striped table-hover table-bordered nowrap">
                        <thead>
                        <tr>
                             <th>Sr.No</th>
                            <th>Loan Application Id</th>
                            <th>User Amount</th>
                            <th>Approved Amount</th>
                            <th>DPD</th>
                            <th>Status</th>

                        </tr>
                        </thead>
                       {% if dpd_list %}
                        <tbody>
                         {% for dpd in dpd_list %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{dpd.0}}</td>
                            <td>{{dpd.2}}</td>
                            <td>{{dpd.4}}</td>
                            {% if dpd.1 is None %}
                            <td>0</td>
                            {% else %}
                            <td style="color: red;">{{dpd.1}}</td>
                            {% endif %}
                            <td>{{dpd.3}}</td>

                        </tr>
                        {% endfor %}
                        </tbody>
                        {% endif %}

          </table>
    </div>
    </div>

    <div class="card card_style mb-2">
         <h4><b>Personal Details</b>&nbsp;<span class="inline_label"></span></h4>
        <br>
        <div class="dt-responsive table-responsive">
        <table  class="table table-bordered">
            <tr>
                <td style="width:30%">Name</td>
                <td style="width:70%"><strong>{{users.user_personal.name}}</strong>
                      <img alt="Not selfe Photo " height="100" src="{{users_images}}"
                                 style="margin-left:100px;border:1px solid" width="100"/>
                </td>
            </tr>
             <tr>
                <td style="width:30%">PAN Card Name</td>
                 {% if pancard_matching_percentage >= 50.00 %}
                 <td><strong style="color:green">{{pancard_name}}&nbsp;-&nbsp;{{pancard_matching_percentage}}&nbsp;%</strong></td>
                 {% else %}
                 <td><strong style="color:red">{{pancard_name}}&nbsp;-&nbsp;{{pancard_matching_percentage}}&nbsp;%</strong></td>
                 {% endif %}
            </tr>

            <tr>
                <td style="width:30%">PAN Card</td>
                <td style="width:70%">{{users.user_personal.pan_number}} &nbsp;-&nbsp; {{pan_card_no}}  &nbsp;-&nbsp; {{pan_card_no_per}}&nbsp;{% if pan_card_no_per != None %}%{% endif %}</td>
            </tr>
            <tr>
                <td style="width:30%">Date of Birth</td>
                <td style="width:70%">{{users.user_personal.birthdate}}</td>
            </tr>

            <tr>
                <td style="width:30%">Marital Status:</td>
                <td style="width:70%">{{users.user_personal.marital_status}}</td>
            </tr>

            <tr>
                <td style="width:30%">Occupation</td>
                <td style="width:70%">{{users.user_personal.occupation}}</td>
            </tr>

            <tr>
                <td style="width:30%">Month Income</td>
                <td style="width:70%">{{users.user_personal.monthly_income}} &nbsp;-&nbsp; {{monthly_income}}  &nbsp;-&nbsp; {{mi_number_count}}&nbsp;{% if mi_number_count != None %}%{% endif %}</td>
            </tr>

            <tr>
                <td style="width:30%">Mobile Number</td>
                <td style="width:70%">{{users.user_personal.mobile_no}}</td>
            </tr>

            <tr>
                <td style="width:30%">Alt Mobile Number</td>
                <td style="width:70%">{{users.user_personal.alt_mobile_no}}</td>
            </tr>

            <tr>
                <td style="width:30%">Old Equfix Score</td>
                <td style="width:70%"><strong>{{equfix_score}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                </td>
            </tr>

            <tr>
                <td style="width:30%">Current Address</td>
                <td style="width:70%">{{users.current_address.address}}</td>
            </tr>

              <tr>
                <td style="width:30%">City</td>
                <td style="width:70%">{{users.current_address.city}}</td>
            </tr>

            <tr>
                <td style="width:30%">State</td>
                <td style="width:70%">{{users.current_address.state}}</td>
            </tr>


            <tr>
                <td style="width:30%">Pincode</td>
                <td style="width:70%">{{users.current_address.pin_code}} &nbsp;-&nbsp; {{pincode_no}}  &nbsp;-&nbsp; {{pincode_number_count}}&nbsp;{% if pincode_number_count != None %}%{% endif %}</td>
            </tr>

            <tr>
                <td style="width:30%">Total Apply</td>
                <td style="width:70%"><strong style="color:green">{{user_count}}</strong></td>
            </tr>

             <tr>
                <td style="width:30%">Total Overdue &
                            Defaulter %</td>
                <td style="width:70%"><strong style="color:red">{{overdue}}</strong></td>
            </tr>

        </table>
        </div>
    </div>

      <div class="card card_style mb-2">
         <h4><b>Professional Details</b>&nbsp;<span class="inline_label"></span></h4>
        <br>
          <div class="dt-responsive table-responsive">
        <table  class="table table-bordered">
            <tr>
                <td style="width:30%">Current Employer Name</td>
                <td style="width:70%">{{users.user_professional.company_name}}</td>
            </tr>

             <tr>
                <td style="width:30%">Current Designation</td>
                <td style="width:70%">{{users.user_professional.company_designation}}</td>
            </tr>

            <tr>
                <td style="width:30%">Work Email</td>
                <td style="width:70%">{{users.user_professional.company_email_id}}</td>
            </tr>

            <tr>
                <td style="width:30%">Work Landline No</td>
                <td style="width:70%">{{users.user_professional.company_landline_no}}</td>
            </tr>

             <tr>
                <td style="width:30%">Work Address</td>
                <td style="width:70%">{{users.user_professional.company_address}}</td>
            </tr>

        </table>
          </div>
      </div>

    <div class="card card_style mb-2">
         <h4><b>Documents Details</b>&nbsp;<span class="inline_label"></span></h4>
         <div class="row" id="limg">
            <a href="{{company_id}}" class="col-sm-4">
               <div   id="company_id">
                  <img src="{{company_id}}" width="100%" height="200">
                  <span class="label label-warning arrowed-in">Company Id</span>
               </div>
            </a>
            <a href="{{salary_slip}}" class="col-sm-4">
               <div id="salary_slip">
                  <img src="{{salary_slip}}" width="100%" height="200">
                  <span class="label label-warning arrowed-in">Salary Slip</span>
                </div>
            </a>
           <a href="{{pan}}" class="col-sm-4">
               <div id="pan">
                  <img src="{{pan}}" width="100%" height="200">
                  <span class="label label-warning arrowed-in">Pan</span>

               </div>
           </a>
         </div>
      </div>

          <div class="card mb-2" style="border-style:solid;border-width:1px;width:100%">
            <div class="text-center">
               <h4><b style="height:50px">Order Details</b></h4>
            </div>
            <table class="table table-bordered table-striped" id="dynamic-table_1">
                <thead>
                <tr>
                    <th>Total Order</th>
                    <th>Credit Order</th>
                    <th>Cash Order</th>
                    <th>Cod Order</th>
                    <th>Total Delay Days</th>
                </tr>
                </thead>
                <tr>
                    <td><h4 class="text-c-yellow f-w-600 text-center" id="total_order"></h4></td>
                    <td><h4 class="text-c-yellow f-w-600 text-center" id="credit_order"></h4></td>
                    <td><h4 class="text-c-yellow f-w-600 text-center" id="cash_order"></h4></td>
                    <td><h4 class="text-c-yellow f-w-600 text-center" id="cod_order"></h4></td>
                    <td><h4 class="text-c-yellow f-w-600 text-center" id="delay_days"></h4></td>
                </tr>

            </table>
      </div>


    <div class="card card_style mb-2">
         <h4><b>Payment Details</b>&nbsp;<span class="inline_label"></span></h4>
             <div class="dt-responsive table-responsive">
          <table id="table-style-hover3" class="table table-striped table-hover table-bordered nowrap">
                        <thead>
                        <tr>
                             <th>Sr.No</th>
                                            <th>Order ID</th>
                                            <th>Transaction Id</th>
                                            <th>Category</th>
                                            <th>Amount</th>
                                            <th>Date</th>

                        </tr>
                        </thead>
                      {% if payment_details %}
                                        {% for payment in payment_details %}

                                        <tr>

                                            <td>{{forloop.counter}}</td>
                                            <td>{{payment.order_id}}</td>
                                            <td>{{payment.transaction_id}}</td>
                                            <td>{{payment.category}}</td>
                                            <td>{{payment.amount}}</td>
                                            <td>{{payment.date}}</td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}


          </table>
    </div>
    </div>

    <div class="card card_style mb-2">
                                    <div class="card-header"><b>Payment Slab Information</b></div>
                                     <br>
                                    {% if payment_slab %}
                                    {%for slab in payment_slab %}

                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">
                                            <p><b>Date</b> : {{slab.date}}</p>
                                            <p><b>Approved Amount</b> : {{slab.approved_amount}}</p>
                                            <p><b>Pay Status</b> : {{slab.pay_status}}</p>
                                            <br>
                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">

                                            <p><b>Time</b> : {{slab.time}}</p>
                                            <p><b>Remaining Amount</b> : {{slab.remaining_amount}}</p>
                                            <p><b>Is Overdue</b> : {{slab.is_overdue}}</p>
                                        </div>
                                    </div>
                                    {%endfor%}
                                    {%endif%}
                                </div>


     <div class="card card_style mb-2">
         <h4><b>Loan Status</b>&nbsp;<span class="inline_label"></span></h4>
        <br>
         <div class="dt-responsive table-responsive">
        <table  class="table table-bordered ">
            <tr>
                <td style="width:30%">Repayment Amount</td>
                <td style="width:70%">{{users.loan_scheme_id}}</td>
            </tr>
            <tr>
                <td style="width:30%">Loan Start Date</td>
                <td style="width:70%">{{users.loan_start_date}}</td>
            </tr>
            <tr>
                <td style="width:30%">Loan End Date</td>
                <td style="width:70%">{{users.loan_end_date}}</td>
            </tr>

            <tr>
                <td style="width:30%">Approved Amount</td>
                <td style="width:70%">{{users.approved_amount}}
                </td>
            </tr>

             <tr>
                <td style="width:30%">User Status</td>
                <td style="width:70%">{{users.user_status}}
                </td>
            </tr>


             <tr>
                <td style="width:30%">Status</td>
                <td style="width:70%"><select id="id_status" name="id_status" style="width:30%" disabled>
                                <option selected="" value="">{{users.status}}</option>
                                <option value="PRE_APPROVED">Pre_Approved</option>
                                <option value="APPROVED">Approved</option>
                                <option value="CANCELLED">Cancelled</option>
                                <option value="ON_HOLD">On_hold</option>
                                <option value="REJECTED">Rejected</option>
                                <option value="PENDING">Pending</option>
                                <option value="PROCESS">Process</option>
                                <option value="SUBMITTED">Submitted</option>
                            </select>&nbsp;&nbsp;&nbsp;
                            {% if users.status == "REJECTED" %}
                            <strong style="color:red">This Profile is {{users.status}}</strong>
                            {% else %}

                            {% endif %}
                </td>
            </tr>

            <tr>
                <td style="width:30%">On Hold Time in Day</td>
                <td style="width:70%">  <select id="onhold_time" name="onhold_time" style="width:30%" disabled>
                                <option value="None">None</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="60">60</option>
                                <option value="90">90</option>

                            </select>
                </td>
            </tr>

            <tr>
                <td style="width:30%">Reason</td>
                <td style="width:70%"><select id="Reason" name="Reason" style="width:30%" disabled>
                                <option value="None">None</option>
                                <option value="Selfie">Issue in Selfie</option>
                                <option value="Company I'd">Company Id</option>
                                <option value="Salary slip">Salary Slip</option>
                                <option value="Insufficient_credit_history">Insufficient Credit History</option>

                            </select>
                </td>
            </tr>

             <tr>
                <td style="width:30%">Other Reason</td>
                <td style="width:70%"> <textarea class="col-xs-12" id="ReasonText" name="ReasonText" disabled></textarea></td>
            </tr>


        </table>


            <input class="btn btn-primary btn-large w-25" name="save" type="submit" value="Save" disabled>

            <input type="hidden" name="recovery" value="False">
             <input name="user_loan_application_id" type="hidden" value="{{users.loan_application_id}}"/>

         </div>


     </div>
                      {% if users.status == "APPROVED" and users.user_status == "Accept" %}

    <div class="card card_style mb-2">
         <h4><b>Loan Agreement</b>&nbsp;<span class="inline_label"></span></h4>
        <br>
          <div class="dt-responsive table-responsive">
        <table  class="table table-bordered">
            <tr>
                <td style="width:30%">Loan agreement</td>
                <td style="width:70%"><button type="button"  onclick="window.open('/{{file}}')">View</button></td>
            </tr>



        </table>
          </div>
       {% endif %}

</div>
</form>
</body>



<script>
$(document).ready(function () {
		// put Ajax here.
			delay_days_fun();
			});
      function equfix_pull(){
           var loan_application_id = '{{users.loan_application_id}}'
           if (loan_application_id){
                $.ajax({
                    type:'GET',
                    async:false,
                    // url : '/equfix_dy_API/',
                    url : '/crif/get_score/',
                    data : {
                        loan_application_id:loan_application_id
                    },
                    success : function(data) {

                        alert("Credit score:"+data.is_taken)
                        setTimeout(cibil_show, 10000);

                    },
                    failure : function(result){

                    },
                    beforeSend: function(){
                    },
                    complete: function(){
                    },
                });
            }else{
                alert('Enter valid pan card')
            }
        }

function equfix_show(){
var user_id = '{{users.user_id}}'
  $.ajax({

         type: "get",
         data: {
              'userid': user_id,
            },
         url: "/user_account/cibilscore/",
         success: function (data) {
        $("#uid").val(data.is_taken)

      }
 });
}

   function delay_days_fun(){
   var user_id = '{{users.user_id}}'
   $.ajax({

      type: "get",
      data: {
           'userid': user_id,
         },
      url: "/loan-app-data/delay_days/",
      success: function (data) {
           document.getElementById("total_order").innerText = data.total_order;
           document.getElementById("cash_order").innerText = data.cash_order;
           document.getElementById("credit_order").innerText = data.credit_order;
           document.getElementById("cod_order").innerText = data.cod_order;
           document.getElementById("delay_days").innerText = data.delay_days;
   }
   });
   }


</script>




{% endblock %}