{% extends "admin/base_site.html" %}
{% block content %}
    <div class="">
        <form action="." method="get" class="form-inline">
            <label>Date From</label>
            {{form.date_from}}
            <label>Date To</label>
            {{form.date_to}}
            <!--<label>User</label>-->
            <!--{{form.user}}-->
            <button type="submit" class="btn btn-primary " data-loading-text="Searching...">Search</button>
            <a class="btn btn-default" href="{% url 'expense_detail' id=user.id  %}" >Reset</a>
        </form>
    </div>
     <table class="table table-bordered">
         <tr>
             <th>User</th>
             <th>Expense</th>
             <th>Income</th>
         </tr>
         <tr>
             <td>{{user}}</td>
             <td>{{expense}}</td>
             <td>{{income}}</td>
         </tr>
     </table>
{% endblock %}