{% extends "admin/base_site.html" %}
{% block content %}

{% if loan_objects %}
<table class="table table-bordered table-striped">
     <thead><tr>
         <th>Name</th>
         <th>Mobile Number</th>
         <th>Email Id</th>
     </tr></thead>
     {% for obj in loan_objects %}
        {% if obj.personal_object %}
        <tr>
            <td><a href="{% url 'user_loan_profile' id=obj.personal_object.user.id%}">{{obj.personal_object.name}}</a></td>
            <td>{{obj.personal_object.mobile_number}}</td>
            <td>{{obj.professional_object.work_email_id}}</td>
        </tr>
        {% endif %}
     {% endfor %}
 </table>
{% else %}
<div class="alert alert-block alert-info">
    <p>No loan data found</p>
</div>

{% endif %}
{% endblock %}