{% load staticfiles %}



<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

<!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->


<body>
<link rel="stylesheet" type="text/css" href="/static/ecom/assets/pages/list-scroll/list.css">
<div class="page-body">

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row " style="  justify-content: center;">

                                <input type="hidden" id="user" value="{{user}}">

                                <div class="card card_style" id="customer_info_card">

                                    <div class="card-header"><b>Loan Agreement</b></div>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-11" style="text-align:left;">

                                            {% if data %}
                                            {% for i in data %}
                                            <p><b>Name</b> : {{i.0}}</p>
                                            <p><b>Loan Application Id</b> : {{i.1}}</p>
                                            <p><b>Pan Card</b> : {{i.2}}</p>
                                            <p><b>Contact Number</b> : {{i.3}}</p>
                                            <p><b>Amount</b> : {{i.4}}</p>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-14" style="text-align:left;">
                                    <p style="text-align:left;">
                                        <b>Date</b>
                                        <i>{{i.6| date:"Y-m-d"}}</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span style="float:right;">
                                            <b>Signature</b>
                                             <i>{{i.5}}</i>
                                        </span>
                                    </p>



                                      {% endfor %}
                                    {% endif %}
                                        </div>
                                    </div>


                                </div>









                            </div>
                        </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<style>
    p{font-size:14px}
    .card_style
    {
    width:70%;

    border-width:1px;
    text-align:center;
    padding:2%;
    }

    .card-header{
    font-size:20px;
    }



</style>


