{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>

                                                 <th>User Name</th>
                                                <th>Loan Application Id</th>
                                                <th>Loan Start Date</th>
                                                <th>Loan End Date</th>
                                                <th>Loan Amount</th>
                                                <th>Repayment Amount</th>
                                                <th>Payment?</th>
                                                <th>Amount</th>
                                                <th>Loan Status</th>

                                            </tr>
                                            </thead>
                                           {% if loans %}
                                                {% for loan, data in loans.items %}
                                                {% if data.5 == "less_payment" %}
                                                <tr style="color:red">
                                                    {% else %}
                                                    <tr>
                                                {% endif %}
                                                    <td><a href="/user-all-details/{{loan.id}}/" title="Applications View">{{data.0}}</a></td>
                                                    <td><a href="/LoanAppData/loanapplication/{{loan.id}}/change/" title="My Profile old ">{{loan.loan_application_id}}</a></td>
                                                    <td>{{data.1}}</td>
                                                    <td>{{data.2}}</td>
                                                    <td>{{data.3}}</td>
                                                    <td>{{data.4}}</td>
                                                    <td>{{data.5}}</td>
                                                    <td>{{data.6}}</td>
                                                    <td>{{data.7}}</td>
                                                </tr>
                                                {% endfor %}

                                            {% endif %}

                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
