{% extends "admin/base.html" %}
{% load mathfilters %}
{% block content %}

 <div class="inline col-xs-12">

         <label class="col-sm-2"  >Date </label>
     <div class="col-sm-4"><input type="date" onchange="todayorder()" name="outdate" id="outdate" class="col-xs-12" value="">
                                        </div>
</div>
<div id="datetodayid"></div>
    <script>
				window.onload=getdatevalue();
function getdatevalue(){
	var today=new Date();
	document.getElementById('outdate').valueAsDate = today;
	todayorder();
}


function todayorder(){

var datetoday=$('#outdate').val();
$.ajax({
type:'get',
url:'/user_account/userloanlist/',
 data: {
          'datetoday': datetoday

        },
        datatype:'html',
    success: function (data) {
    $('#datetodayid').html(data);
    }

});
}
</script>



{% endblock %}