{% extends "admin/change_form.html" %}
{% load i18n %}
{% block submit_buttons_bottom %}


    {{ block.super }}
    <br/>
    <button type="button" id="id_btn_pull_cibil" class="btn btn-high">Pull Cibil</button>
    <button type="button" id="id_btn_deactivate_user" class="btn btn-high">
        {% if original.user.is_active %}
            Deactivate User
        {% else %}
            Activate User
        {% endif %}
    </button>
    <p>Rejected loans {{rejected_loan}}</p>

{% endblock %}
{% block content %}



{{block.super}}

{% endblock %}

{% block footer %}
    {{ block.super }}

    {% if cl.has_filters %}
        <script type="text/javascript">
            // Handle change list filter null values
            Suit.$('.search-filter').suitSearchFilters();
        </script>
    {% endif %}

    <script>

        // Handle page on load change's

        // Get label for annual income
        $body = $("body");
        $(function(){
            var status = $("#id_status").val();

            if (status != 'SUBMITTED'){

               // $('#id_status option:not(:selected)').attr('disabled', true);

            }
            else {
                $("#id_status").prop('disabled', false);

            }
        });

        $('#id_btn_deactivate_user').click(function(){

            user_id = $('#id_user').val()
            status = '{{original.user.is_active}}'

            if (confirm('Are you sure want deactivate user ?')) {
                $.ajax({
                    type:'GET',
                    url : '/user_account/user_status/',
                    data : {
                        user_id:user_id,
                        status:status
                    },
                    success : function(data) {
                        if (data=='true'){
                            alert('User activated successfully')
                            location.reload();
                        }
                        else if (data=='false'){
                            alert('User de-activated successfully')
                            location.reload();
                        }
                        else if (data=='error'){
                            alert('Something went wrong')
                            location.reload();
                        }
                        else{
                            alert('Something went wrong!')
                            location.reload();
                        }
                    },
                    failure : function(result){

                    },
                    beforeSend: function(){
                        $body.addClass("loading");
                    },
                    complete: function(){
                        $body.removeClass("loading");
                    },
                });
            }
        })

        $('#id_btn_pull_cibil').click(function(){
            user_id = $('#id_user').val()
            pan_card = $('#id_pan_number').val()

            $.ajax({
                type:'GET',
                url : '/user_account/admin-pull-cibil/',
                data : {
                    user_id:user_id,
                    pan_card:pan_card,
                },
                success : function(data) {
                    if (data){
                       alert('Cibil is proccessing')
                    }
                    else{
                        alert('Something went wrong')
                    }
                },
                failure : function(result){

                },
                beforeSend: function(){
                    $body.addClass("loading");
                },
                complete: function(){
                    $body.removeClass("loading");
                },
            });


        });


       // Handle on change event of user loan profile
        $('#id_user').on('change', function(){
            user_id = this.value.toString()
            $.ajax({
                type:'GET',
                url : '/user_account/get-user-loan-profile-ajax/',
                data : {
                    user_id:this.value,
                },
                success : function(data) {
                    if (data == 'False'){
                        alert('User Loan Profile is not yet completed!')
                        window.location.href = "/UserAccounts/userloantransaction/"
                    }
                    else{
                        var json = $.parseJSON(data);

                        $('#id_pan_number').val(json['pan_number'])
                        $('#id_name').val(json['name'])
                        $('#id_date_of_birth').val(json['date_of_birth'])
                        $('#id_marital_status').val(json['marital_status'])
                        $('#id_occupation').val(json['occupation'])

                        if(json['occupation'] == 'SALARIED'){
                            $('.field-work_address').hide()
                            $('.field-company_name').hide()
                            $('.field-company_type').hide()
                            $('.field-gst_number').hide()
                            $('.field-number_of_directors').hide()
                            $('.field-company_work_email_id').hide()
                            $('.field-company_incorporation_date').hide()
                            $('.field-company_incorporation_date').hide()
                            $('.field-number_of_employees').hide()
                        }
                        if(json['occupation'] == 'SELF_EMPLOYED'){
                            $('.field-total_work_experience').hide()
                            $('.field-current_empolyer_name').hide()
                            $('.field-current_designation').hide()
                            $('.field-work_email_id').hide()
                            $('.field-working_from').hide()
                            $('.field-id_card_photo').hide()
                            $('.field-work_address').hide()
                        }

                        $('#id_annual_income').val(json['annual_income'])
                        $('#id_mobile_number').val(json['mobile_number'])
                        $('#id_address').val(json['address'])
                        $('#id_pin_code').val(json['pin_code'])
                        $('#id_total_work_experience').val(json['total_work_experience'])
                        $('#id_current_empolyer_name').val(json['current_empolyer_name'])
                        $('#id_current_designation').val(json['current_designation'])
                        $('#id_work_email_id').val(json['work_email_id'])
                        $('#id_working_from').val(json['working_from'])
                        //$('#id_id_card_photo').val(json['id_card_photo'])
                        $('#id_work_address').val(json['work_address'])

                        $('#id_company_name').val(json['company_name'])
                        $('#id_company_type').val(json['company_type'])
                        $('#id_gst_number').val(json['gst_number'])
                        $('#id_number_of_directors').val(json['number_of_directors'])
                        $('#id_company_work_email_id').val(json['company_work_email_id'])
                        $('#id_company_incorporation_date').val(json['company_incorporation_date'])
                        $('#id_company_incorporation_date').val(json['company_incorporation_date'])
                        $('#id_number_of_employees').val(json['number_of_employees'])

                        $('#id_bank_name').val(json['bank_name'])
                        $('#id_account_number').val(json['account_number'])
                        $('#id_ifsc_code').val(json['ifsc_code'])


                        console.log(json['total_work_experience'])
                    }
                },
                failure : function(result){

                },
                beforeSend: function(){
                    $body.addClass("loading");
                },
                complete: function(){
                    $body.removeClass("loading");
                },
            });

        })





    </script>

{% endblock %}