{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% load static %}
{% block uname %}
{{user.username}}
{% endblock uname %}
{% block content %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .control-label{
        margin-bottom:15px;
        font-size:12px;
        border:1px solid #EDEDEE;
        display:block;
        cursor:default;
        background-color:white;
        border-radius:10px;
        padding:5px;
    }
    caption{

        font-size:15px;
        padding:3px;
    }
    .label {
        color: black;
        min-width:200px;
        text-align:right;
        float:left;
        margin-left:5px;
    }
    label{
        max-width:100%;
        font-weight:bold;
    }
    .suit-columns1{
        width:100%;
    }

    .container-fluid
    {
        padding-right:0px;
        padding-left:0px;
        *zoom:1;
    }
    .container-fluid:before,.container-fluid:after
    {
        display:table;
        content:"";
        line-height:0;
    }
    .container-fluid:after
    {
        clear:both;
    }

    .col-md-12, .col-md-4 , .col-md-3 , .col-md-6{
        position: relative;
        min-height: 1px;
        padding-right: .9375rem;
        padding-left: .9375rem;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-4, .col-md-3, .col-md-6{
        float:left;
        width: 30%;
    }
    .col-md-3 {
        width: 24%;
        padding-left:5px;
        padding-right:5px;
    }
    .col-md-6 {
        width: 45%;
    }

    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1.42857143;


    }

    .fa{
        font-size:25px;

    }
    a{
        text-decoration:none;

    }





</style>

<style>


.info-box {
    cursor: pointer;
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}
.bg-aqua {
    background-color: #00c0ef !important;
}
.info-box-content {
    text-align: center;
    vertical-align: middle;
    display: inherit;
}
.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}
.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.bg-red, .bg-yellow, .bg-aqua, .bg-green{
    color: #fff !important;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}
.bg-red {
    background-color: #dd4b39 !important;
}
.bg-green {
    background-color: #00a65a !important;
}
.info-box {
    cursor: pointer;
}
.bg-yellow {
    background-color: #f39c12 !important;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    text-align:center;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.no-padding {
    padding: 0 !important;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;

}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;

}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.box-body>.table {
    margin-bottom: 0;

}
.box-title{
    font-size:13px !important;
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
#myChart{
    width:100% !important;
    height:100% !important;
    font-size:20px !important;
    display: block;
    vertical-align: baseline;
    background-color:#fff;
}
p {
    margin: 0 0 10px;
}
.text-center{
    text-align:center;
    font-size:15px;
}
.graph_div{
    background-color: #fff;
    margin-right: 10px;
    padding-top:10px;

}
.right_graph_div{
    float: left;
    width: 40%;
    margin-left:0px;
    height:350px;
}
#piechart_3d{
    width:100%;
    height:100%;
}
g >text{
    font-size:15px;
}
.age_div{
    float: left;
    width: 100%;
    margin-top: 10px;
}
.loan_div{
    float: left;
    width: 100%;

    margin-top: 10px;
    height:400px;
}
.suit-columns1 .row.remove-padding {
    margin-left: 0 !important;
    margin-right: 0;
    padding: 0 20px;
}




</style>

<br><br>

  {% if loans %}
<table class="table table-bordered table-striped" id="dynamic-table">
<p class="col-xs-12" style="color:green;font-size:15px">{{mess}}</p>
    <thead>

    <tr>
        <th>User Name</th>
        <th>Created Date</th>
        <th>Loan Application Id</th>
        <th>Repayment Amount</th>
        <th>Current Designation</th>
    </tr>
    </thead>
    {% for user in loans %}
    <tr>
        <td><a href="/customer/user-all-details/{{user.id}}/" title="Applications View">{{user.user_personal}}</a></td>
        <td>{{user.created_date}}</td>
        <td><a href="/LoanAppData/loanapplication/{{user.id}}/change/" title="My Profile old ">{{user.loan_application_id}}</a></td>
        <td><strong>{{user.loan_scheme_id}}</strong></td>
        <td>{{user.user_professional.company_designation}}</td>

    </tr>
    {% endfor %}

</table>

    {% else %}

<div class="page-body">
    <div class="row">
         <div class="card" style="width:100%;">
                <div class="card-header">
                </div>
                <div class="card-block">

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                 <form action="/loan-app-data/loans-by-mobile/" method="POST">{% csrf_token %}
                                <div class="form-group mb-2">
                                    <label for="staticEmail2" class="sr-only"></label>
                                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                                           value="Enter Contact No">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">

                                    <div class="form-group mx-sm-3 mb-2 ">
                                        <input type="text" class="form-control" id="name"
                                               placeholder="Enter Number Here" name="mob_no"
                                               required>
                                    </div>


                                      <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                       </div>
                                </div>
                                </div>
                                </div>


<!--    <form action="/loan-app-data/loans-by-mobile/" method="POST">-->
<!--        {% csrf_token %}-->
<!--        Enter Mobile no: <input type="text" name="mob_no" placeholder="Mobile no">-->
<!--        <input type="submit" value="Search">-->
<!--    </form>-->



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="{% static 'js/chartsjs/Chart.js' %}"></script>
<script src="{% static 'css/chartsjs/Chart.css' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--        <div style="float:left;width:60%;" class="container-fluid">-->
<!--            <div class="">-->
<!--&lt;!&ndash;                <div class="col-sm-6 col-xs-12 graph_div">&ndash;&gt;-->
<!--                <div class="box">-->
<!--                    <div class="box-header">-->
<!--                        <h3 class="box-title">Age group of loan disbursed</h3>-->
<!--                        <p class="text-center"><strong>Salary Range of Loan Disbursed</strong></p>-->
<!--                        <canvas id="myChart1"></canvas>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
{% endif %}
<br>
<!--<div style="float:left;width:60%;" class="container-fluid">-->
<!--    <div class="">-->
<!--        &lt;!&ndash;                <div class="col-sm-6 col-xs-12 graph_div">&ndash;&gt;-->
<!--        <div class="box">-->
<!--            <div class="box-header">-->
<!--                <h3 class="box-title">Total Loan Completed count</h3>-->
<!--                <p class="text-center"><strong>By all Recovery Members</strong></p>-->
<!--                <canvas id="loan-completed"></canvas>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<br>
<!--<div style="float:left;width:60%;" class="container-fluid">-->
<!--    <div class="">-->
<!--        &lt;!&ndash;                <div class="col-sm-6 col-xs-12 graph_div">&ndash;&gt;-->
<!--        <div class="box">-->
<!--            <div class="box-header">-->
<!--                <h3 class="box-title">Total Recovered Amount</h3>-->
<!--                <p class="text-center"><strong>By all Recovery Members</strong></p>-->
<!--                <canvas id="total_recovery_amount"></canvas>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


</div>

<script>


<!--var ctx = document.getElementById('myChart1');-->
<!--        var myChart = new Chart(ctx, {-->
<!--            type: 'bar',-->
<!--            data: {-->
<!--                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],-->
<!--                datasets: [{-->
<!--                    label: '# Defaulter\'s Payment Per Day By Members',-->
<!--                    data: [12, 19, 3, 5, 2, 3],-->
<!--                    backgroundColor: [-->
<!--                        'rgba(255, 99, 132, 0.2)',-->
<!--                        'rgba(54, 162, 235, 0.2)',-->
<!--                        'rgba(255, 206, 86, 0.2)',-->
<!--                        'rgba(75, 192, 192, 0.2)',-->
<!--                        'rgba(153, 102, 255, 0.2)',-->
<!--                        'rgba(255, 159, 64, 0.2)'-->
<!--                    ],-->
<!--                    borderColor: [-->
<!--                        'rgba(255, 99, 132, 1)',-->
<!--                        'rgba(54, 162, 235, 1)',-->
<!--                        'rgba(255, 206, 86, 1)',-->
<!--                        'rgba(75, 192, 192, 1)',-->
<!--                        'rgba(153, 102, 255, 1)',-->
<!--                        'rgba(255, 159, 64, 1)'-->
<!--                    ],-->
<!--                    borderWidth: 1-->
<!--                }]-->
<!--            },-->
<!--            options: {-->
<!--                scales: {-->
<!--                    yAxes: [{-->
<!--                        ticks: {-->
<!--                            beginAtZero: true-->
<!--                        }-->
<!--                    }]-->
<!--                }-->
<!--            }-->
<!--        });-->

var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: getData(),
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
function getData(){
    var jsonData = $.ajax({
        type:'get',
        url: '/recovery/recovery_amount/',
        dataType: 'json',
        success: function(data){
            tempData = JSON.parse(data)
            d = tempData['datasets'][0]
            var finalData = {
            type: 'bar',
            data: {
                labels:tempData['labels'],
                datasets:[{
                    label: d['label'],
                    data: d['data'],
                    backgroundColor: d['backgroundColor'],
                    borderColor: d['borderColor'],
                    borderWidth: d['borderWidth']
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                            }
                        }]
                    }
                }
            }
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx,finalData);

            return finalData;
        }
    });
}




</script>

<script>
var ctx = document.getElementById('loan-completed');
        var data_list=[]


        var completed = new Chart(ctx, {
            type: 'bar',
            data: getData(),
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
function getData(){
    var jsonData = $.ajax({
        type:'get',
        url: '/recovery/get_completed_recovery_amount/',
        dataType: 'json',
        success: function(data){
            tempData = JSON.parse(data)
<!--            console.log("temp data",tempData)-->
            d = tempData['datasets'][0]

            var finalData = {
            type: 'bar',

            data: {
                labels:tempData['labels'],
                datasets:[{
                    label:  d['label'],
                    data: tempData['datasets'][0]['data'],
                    backgroundColor: d['backgroundColor']
                }]
            },

            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                            }
                        }]
                    }
                }
            }

            var ctx = document.getElementById("loan-completed");
            var completed = new Chart(ctx,finalData);
            return finalData;
        }
    });
}









</script>
<script>

var ctx = document.getElementById('totaldefaulter');
        var totaldefaulter = new Chart(ctx, {
            type: 'doughnut',
            data: getData(),
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
function getData(){

    var jsonData = $.ajax({
        type:'get',
        url: '/recovery/total_defaulter/',
        dataType: 'json',
        success: function(data){
            tempData = JSON.parse(data)
            d = tempData['datasets'][0]
            temp =tempData['labels']
            var finalData = {
            type: 'doughnut',
            data: {
                labels: temp,
                datasets:[{
                    label: "Population (millions)",
                    data: d['data'][0],
                    backgroundColor: d['backgroundColor']
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                            }
                        }]
                    }
                }
            }
            var ctx = document.getElementById("totaldefaulter");
            var totaldefaulter = new Chart(ctx,finalData);
            return finalData;
        }
    });
}










</script>


<!--<script>-->
<!--var ctx = document.getElementById('total_recovery_amount');-->
<!--        var data_list=[]-->

<!--        var total_recovery_amount = new Chart(ctx, {-->
<!--            type: 'bar',-->
<!--            data: getData(),-->
<!--            options: {-->
<!--                scales: {-->
<!--                    yAxes: [{-->
<!--                        ticks: {-->
<!--                            beginAtZero: true-->
<!--                        }-->
<!--                    }]-->
<!--                }-->
<!--            }-->
<!--        });-->
<!--function getData(){-->
<!--    var jsonData = $.ajax({-->
<!--        type:'get',-->
<!--        url: '/recovery/recovery_amount_v2/',-->
<!--        dataType: 'json',-->
<!--        success: function(data){-->
<!--            tempData = JSON.parse(data)-->
<!--            d = tempData['datasets'][0]-->
<!--&lt;!&ndash;            d2 = tempData['datasets'][1]&ndash;&gt;-->
<!--            console.log("temp data",tempData)-->
<!--            var finalData = {-->
<!--            type: 'bar',-->
<!--            data: {-->
<!--                labels:tempData['labels'],-->
<!--                datasets:[{-->
<!--                    label: d['label'],-->
<!--                    data: d['data'],-->
<!--                    backgroundColor: d['backgroundColor'],-->
<!--                    borderColor: d['borderColor'],-->
<!--                    borderWidth: d['borderWidth']-->
<!--                }]-->
<!--            },-->

<!--            options: {-->
<!--                scales: {-->
<!--                    yAxes: [{-->
<!--                        ticks: {-->
<!--                            beginAtZero:true-->
<!--                            }-->
<!--                        }]-->
<!--                    }-->
<!--                }-->
<!--            }-->

<!--            var ctx = document.getElementById("total_recovery_amount");-->
<!--            var total_recovery_amount = new Chart(ctx,finalData);-->

<!--            return finalData;-->
<!--        }-->
<!--    });-->
<!--}-->




<!--</script>-->

{% endblock %}
