{% extends "admin/base_site.html" %}
{% block content %}

<div class="">
        <form action="" method="get" class="form-inline">
            <label>Date From </label>
                {{form.date_from}}
            <label>Date To</label>
                {{form.date_to}}
            <label>User</label>
                {{form.user}}<br/><br/>
            <label>Loan Status</label>
                {{form.loan_status}}
            <!--<label>City</label>-->
                <!--{{form.city}}-->
            <button type="submit" class="btn btn-primary " data-loading-text="Searching...">Search</button>
            <a class="btn btn-default" href="{% url 'loan_report' %}" >Reset</a>
            <a class="btn btn-success" href="/export/loan-profile-export/{% if request.GET.loan_status %}{{request.GET.loan_status}}{% else %}ALL{% endif %}" style="float:right;">Download CSV </a>


        </form>
    </div>
{% if loan_objects %}
<table class="table table-bordered table-striped">
     <thead><tr>
         <th>User</th>
         <th>Email</th>
         <th>Loan Id</th>
         <th>Status</th>
         <th>Failure Reason</th>
     </tr></thead>
     {% for loan_object in loan_objects %}
        <tr>
            <td>{{loan_object.user}}</td>
            <td>
                {% if loan_object.occupation == 'SALARIED' %}
                    {{loan_object.work_email_id}}
                {% elif loan_object.occupation == 'STUDENT' %}
                    NA
                {% else %}
                    NA
                {% endif %}
            </td>
            <td>{{loan_object.loan_application_id}}</td>
            <td>{{loan_object.status}}</td>
            <td>{{loan_object.rbl_trn_id.last.error_description}}</td>
        </tr>
     {% endfor %}
 </table>
{% else %}
<div class="alert alert-block alert-info">
    <p>No loan data found</p>
</div>

{% endif %}
{% endblock %}