{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<style>
div.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

p {
  font-weight: bold;
  font-size: 15px;
  }

    span{
  font-weight: normal;
  font-size: 15px;
  }


</style>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">

                <div class="card-block">
                    <div class="container">
                        <form action="/loan-app-data/search_loan/" method="POST"> {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-3 text-right "></div>
                                <div class="col-sm-6">

                                    <select class="form-control " name="search_by" id="search_by" onchange="select_id()"
                                            style="text-align-last: center;" required>
                                        <option style="display:none;" value="">--- Search Loan by ---</option>
                                        <option value="order_id">Order ID</option>
                                        <option value="transaction_id">Transaction Id</option>
                                        <option value="loan_application_id">Loan Application Id</option>

                                    </select>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-sm-3 text-right "></div>
                                <div class="col-sm-6">
                                    <input type="text" id="ip" name="id" class="form-control text-center"
                                           placeholder="Enter input here" required>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-sm-3 text-right "></div>
                                <div class="col-sm-6">
                                    <input type="submit"
                                           class="form-control text-center btn btn-primary" value="Submit">
                                </div>
                            </div>
                        </form>

                    </div>

                    <br>
                    <br>
                    <br>


                    <div class="row" id="data">
                        <div class="col-sm-1 "></div>
                        <div class="col-sm-10">
                            {% if msg %}
                            <div class="card-header h4 text-success text-center">{{msg}}</div>
                            {% endif %}
                        </div>
                    </div>


                     <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            {% if users %}
                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                 <th>User Name</th>
                                                <th>Created Date</th>
                                                <th>Loan Application Id</th>
                                                <th>Repayment Amount</th>
                                                <th>Current Designation</th>
                                            </tr>
                                            </thead>
                                            {% for user in users %}

                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/user-all-details-pre-approved/{{user.id}}/" title="Applications View">{{user.user_personal.name}}</a></td>
                                                <td>{{user.created_date}}</td>
                                                <td><a href="/LoanAppData/loanapplication/{{user.id}}/change/" title="My Profile old ">{{user.loan_application_id}}</a></td>
                                                <td><strong>{{user.loan_scheme_id}}</strong></td>
                                                <td>{{user.user_professional.company_designation}}</td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                            {% if payment_details %}
                                            <thead>
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>Order ID</th>
                                                <th>Transaction Id</th>
                                                <th>Category</th>
                                                <th>Amount</th>
                                                <th>Date</th>

                                            </tr>
                                            </thead>
                                            {% for payment in payment_details %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>{{payment.order_id}}</td>
                                                <td>{{payment.transaction_id}}</td>
                                                <td>{{payment.category}}</td>
                                                <td>{{payment.amount}}</td>
                                                <td>{{payment.date}}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}


                                        </table>

                                    </div>

                                </div>
                            </div>


                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>


{% endblock %}