{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</head>

<div class="page-body">
    <div id="wait"
     style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;">
    <div class="preloader3 loader-block" id="loader">
        <div class="circ1"></div>
        <div class="circ2"></div>
        <div class="circ3"></div>
        <div class="circ4"></div>
    </div>
</div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-block">
                     <div class="row">
                         <div class="col-sm-2" style="margin-top:1%;">
                            <b>Search By</b>
                             </div>
                             <div class="col-sm-4">
                                  <select name="search_by"  id="search" onchange="choose_option()"
                                                                required>

                                    <option value="" disabled selected="true">--select---</option>

                                    <option value="loan_application">Loan Application</option>
                                    <option value="mobile_no">Mobile No</option>
                                    <option value="order_id">Payment Order Id</option>


                                </select>

                         </div>
                     </div>

                    <br>
                    <div class="row" id="loan_application" style="display:none">
                         <div class="col-sm-2">
                             <b>Enter Loan Application No:</b>
                         </div>
                        <div class="col-sm-6">
                                 <input  name="name" placeholder="Enter Loan Application No" id="enter_loan_application_no" type="text" required>

                        </div>
                        <div class="col-sm-1">
                            <input type="submit" class="btn btn-primary waves-effect waves-light m-r-10"
                                                    value="Search" onclick="search_loan_application_no()">
                        </div>

                     </div>

                    <br>
                    <div class="row" id="mobile_no" style="display:none">
                         <div class="col-sm-2">
                             <b>Enter Mobile No:</b>
                         </div>
                        <div class="col-sm-6">
                                 <input  name="name" placeholder="Enter Mobile No" id="enter_mobile_no" type="text" required>

                        </div>
                        <div class="col-sm-1">
                            <input type="submit" class="btn btn-primary waves-effect waves-light m-r-10"
                                                    value="Search" onclick="search_loan_application_no()">
                        </div>

                     </div>

                    <br>
                    <div class="row" id="order_id" style="display:none">
                         <div class="col-sm-2">
                             <b>Enter Payement Order Id:</b>
                         </div>
                        <div class="col-sm-6">
                                 <input  name="name" placeholder="Enter Order Id" id="enter_order_id" type="text" required>

                        </div>
                        <div class="col-sm-1">
                            <input type="submit" class="btn btn-primary waves-effect waves-light m-r-10"
                                                    value="Search" onclick="search_loan_application_no()">
                        </div>

                     </div>

                    <br>
                    <br>

                    <b><div class="row" id="msg" style="display:none"></div></b>
                    <div class="dt-responsive table-responsive" id="table" style="display:none">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>

                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Loan Application Id</th>
                                                <th>Status</th>
                                                <th>Loan Start Date</th>
                                                <th>Loan End Date</th>
                                                <th>Approved Amount</th>
                                                <th>User Status</th>

                                            </tr>
                                            </thead>
                                            <tr id="loanapplication_data">
                                                <td id="no"></td>
                                                <td id="loan_application_id"></td>
                                                <td id="status_1"></td>
                                                <td id="loan_start_date"></td>
                                                <td id="loan_end_date"></td>
                                                <td id="approved_amount"></td>
                                                <td id="user_status"></td>



                                            </tr>


                                        </table>

                                    </div>
                        <div class="dt-responsive table-responsive" id="table1" style="display:none">
                                        <table id="table-style-hover-1"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>

                                            <tr>
                                                <th>Sr.No</th>
                                                 <th>Order ID</th>
                                                 <th>Transaction Id</th>
                                                 <th>Pg Transaction Id</th>
                                                 <th>Status</th>
                                                 <th>Category</th>
                                                 <th>Mode</th>
                                                 <th>Type</th>
                                                 <th>Amount</th>
                                                 <th>Product Type</th>
                                                 <th>Platform Type</th>
                                                 <th>Date</th>

                                            </tr>
                                            </thead>
                                            <tr id="payment_data">
                                                <td id="sr_no"></td>
                                                <td id="order_d"></td>
                                                <td id="transaction_id"></td>
                                                <td id="pg_transaction_id"></td>
                                                <td id="status"></td>
                                                <td id="category"></td>
                                                <td id="mode"></td>
                                                <td id="type"></td>
                                                <td id="amount"></td>
                                                <td id="product_type"></td>
                                                <td id="platform_type"></td>
                                                <td id="date"></td>

                                            </tr>


                                        </table>

                    </div>
                  </div>



                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .row
    {
    padding:2%;
    }
    #enter_loan_application_no{
    padding:2%;
    width:63%;
    }

    #enter_mobile_no{
    padding:2%;
    width:63%;
    }

    #enter_order_id{
    padding:2%;
    width:63%;
    }

</style>

<script>

var option = document.getElementById("search").value;

if(option == "loan_application"){
document.getElementById("loan_application").style.display = "";
document.getElementById("mobile_no").style.display = "none";
document.getElementById("order_id").style.display = "none";
choose_option();
search_loan_application_no();
}

if(option == "mobile_no"){
document.getElementById("loan_application").style.display = "none";
document.getElementById("mobile_no").style.display = "";
document.getElementById("order_id").style.display = "none";
choose_option();
search_loan_application_no();
}

if(option == "order_id"){
document.getElementById("loan_application").style.display = "none";
document.getElementById("mobile_no").style.display = "none";
document.getElementById("order_id").style.display = "";
choose_option();
search_loan_application_no();
}


if(option == ""){
document.getElementById("loan_application").style.display = "none";
document.getElementById("mobile_no").style.display = "none";
document.getElementById("order_id").style.display = "none";
}

function choose_option(){
var option = document.getElementById("search").value;
    if(option == 'loan_application'){
    document.getElementById("loan_application").style.display = "";
    document.getElementById("mobile_no").style.display = "none";
    document.getElementById("order_id").style.display = "none";
    document.getElementById("table").style.display = "none";


    }

    if(option == "mobile_no"){
        document.getElementById("loan_application").style.display = "none";
        document.getElementById("mobile_no").style.display = "";
        document.getElementById("order_id").style.display = "none";
        document.getElementById("table").style.display = "none";

        }

    if(option == "order_id"){
        document.getElementById("loan_application").style.display = "none";
        document.getElementById("mobile_no").style.display = "none";
        document.getElementById("order_id").style.display = "";
        document.getElementById("table1").style.display = "none";

        }

}

function search_loan_application_no(){
        console.log("----------------search_lon_applicatuiuxsjfhdhch")

        var option = document.getElementById("search").value;
        console.log("option",option)

        if(option == 'loan_application'){
            var input_data = document.getElementById("enter_loan_application_no").value;
            }
        if(option == "mobile_no"){
            var input_data = document.getElementById("enter_mobile_no").value;
        }
        if(option == "order_id"){
            var input_data = document.getElementById("enter_order_id").value;
            console.log("input",input_data)
        }

        $(document).ajaxStart(function(){
        $("#wait").css("display", "block");
        });


    $.ajax({
        type: "POST",
        data: {
            "input_data": input_data,
            "option": option
        },
        url: "/loan-app-data/search_loan_application/",
        success: function(data){
        var data = JSON.parse(data);
            console.log("data",data)
            if(data['msg']){
                document.getElementById("table").style.display="none";
                document.getElementById("msg").style.display="";
                document.getElementById('msg').innerHTML = data['msg'];

            }
            if(data['loanapplication']){
                console.log("data",data)
                document.getElementById("table").style.display="";
                document.getElementById("msg").style.display="none";
                var id = data["loanapplication"][0]["id"]
                var loan_application_id = data["loanapplication"][0]["loan_application_id"]
                var status = data["loanapplication"][0]["status"]
                var loan_start_date = data["loanapplication"][0]["loan_start_date"]
                var loan_end_date = data["loanapplication"][0]["loan_end_date"]
                var approved_amount = data["loanapplication"][0]["approved_amount"]
                var user_status = data["loanapplication"][0]["user_status"]


                 var url = "/user-all-details/" + id + "/";

                var anchor_tag = "<a href=" + url + ">" + loan_application_id + "</a>";




                var table = document.getElementById("table-style-hover");
                  var row = table.insertRow(1);
                  var cell0 = row.insertCell(0);
                  var cell1 = row.insertCell(1);
                  var cell2 = row.insertCell(2);
                  var cell3 = row.insertCell(3);
                  var cell4 = row.insertCell(4);
                  var cell5 = row.insertCell(5);
                  var cell6 = row.insertCell(6);


                  cell0.innerHTML = "1";
                  cell1.innerHTML = anchor_tag;
                  cell2.innerHTML = status
                  cell3.innerHTML = loan_start_date;
                  cell4.innerHTML = loan_end_date;
                  cell5.innerHTML = approved_amount;
                  cell6.innerHTML = user_status;



            }
            if(data['payment_data']){
                console.log("data",data)
                document.getElementById("table1").style.display="";
                document.getElementById("msg").style.display="none";
                var loan_id = data["payment_data"][0]["id"]
                var order_id = data["payment_data"][0]["order_id"]
                var transaction_id = data["payment_data"][0]["transaction_id"]
                var pg_transaction_id = data["payment_data"][0]["pg_transaction_id"]
                var status = data["payment_data"][0]["status"]
                var category = data["payment_data"][0]["category"]
                var mode = data["payment_data"][0]["mode"]
                var type = data["payment_data"][0]["type"]
                var amount = data["payment_data"][0]["amount"]
                var product_type = data["payment_data"][0]["product_type"]
                var platform_type = data["payment_data"][0]["platform_type"]
                var date = data["payment_data"][0]["date"]

                var url = "/user-all-details/" + loan_id + "/";

                var anchor_tag = "<a href=" + url + ">" + order_id + "</a>";









                var table = document.getElementById("table-style-hover-1");
                  var row = table.insertRow(1);
                  var cell0 = row.insertCell(0);
                  var cell1 = row.insertCell(1);
                  var cell2 = row.insertCell(2);
                  var cell3 = row.insertCell(3);
                  var cell4 = row.insertCell(4);
                  var cell5 = row.insertCell(5);
                  var cell6 = row.insertCell(6);
                  var cell7 = row.insertCell(7);
                  var cell8 = row.insertCell(8);
                  var cell9 = row.insertCell(9);
                  var cell10 = row.insertCell(10);
                  var cell11 = row.insertCell(11);


                  cell0.innerHTML = "1";
                  cell1.innerHTML = anchor_tag;
                  cell2.innerHTML = transaction_id
                  cell3.innerHTML = pg_transaction_id;
                  cell4.innerHTML = status;
                  cell5.innerHTML = category;
                  cell6.innerHTML = mode;
                  cell7.innerHTML = type;
                  cell8.innerHTML = amount;
                  cell9.innerHTML = product_type;
                  cell10.innerHTML = platform_type;
                  cell11.innerHTML = date;



            }


        }

    });

    $(document).ajaxComplete(function(){
    $("#wait").css("display", "none");
       });



}

</script>

<script>
   $(document).ready(function () {

//change selectboxes to selectize mode to be searchable
   $("select").select2();
});


</script>

{% endblock %}
