{% extends "admin/base_site.html" %}
{% block content %}

<div class="" style="padding: 40px;margin: 20px;">
    <form action="" method="post">

        <a href="{% url 'cancle_pending'%}" class="btn btn-primary"
           onclick="return confirm('Are you sure you want to Cancel Pending Application?')" name="cancle_pending_btn">Cancel
            Pending Application</a>

        <a href="{% url 'delete_pending_applications'%}" class="btn btn-danger"
           onclick="return confirm('Are you sure you want to Delete Pending Application?')" name="delete_pending_btn">Delete
            Pending Application</a>

    </form>
</div>


<!--<div class="alert alert-block alert-info">-->
<!--    <p>No loan data found</p>-->
<!--</div>-->


{% endblock %}
