{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form action="/ecom/cod_payment/" method="post">{% csrf_token %}
                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                   <th>Sr.No</th>
                                            <th>Order ID</th>
                                            <th>Transaction Id</th>
                                            <th>Category</th>
                                            <th>Amount</th>
                                            <th>Date</th>
                                            </tr>
                                            </thead>
                                              {% if payment_details %}
                                        {% for payment in payment_details %}

                                        <tr>

                                            <td>{{forloop.counter}}</td>
                                            <td>{{payment.order_id}}</td>
                                            <td>{{payment.transaction_id}}</td>
                                            <td>{{payment.category}}</td>
                                            <td>{{payment.amount}}</td>
                                            <td>{{payment.date}}</td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                        </table>

                                    </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
