{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form action="/ecom/cod_payment/" method="post">{% csrf_token %}
                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                           <thead>
                                           <tr>
                                                <th>UseName</th>
                                                <th>Name</th>
                                                <th>Colleague Name</th>
                                                <th>Colleague Number</th>
                                                <th>Colleague Email</th>
                                                <th>Relative Name</th>
                                                <th>Relative Number</th>
                                                <th>Relative Relation</th>

                                            </tr>
                                           </thead>
                                            {% for reference in reference %}
                                             <tr>
                                                    <td>{{reference.user.username}}</td>
                                                    <td>{{reference.user_personal.name}}</td>
                                                    <td>{{reference.reference_id.colleague_name}}</td>
                                                    <td>{{reference.reference_id.colleague_mobile_no}}</td>
                                                    <td>{{reference.reference_id.colleague_email_id}}</td>
                                                    <td>{{reference.reference_id.relative_name}}</td>
                                                    <td>{{reference.reference_id.relative_mobile_no}}</td>
                                                    <td>{{reference.reference_id.relationships}}</td>

                                                </tr>
                                                {% endfor %}
                                        </table>

                                    </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
