{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                 <th>User Name</th>
                                                    <th>Created Date</th>
                                                    <th>Loan Application Id</th>
                                                     <th>Apply Amount</th>
                                                    <th>Approved Amount</th>
                                                    <th>Current Designation</th>

                                            </tr>
                                            </thead>
                                            {% for user in users %}

                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/user-all-details-pre-approved/{{user.id}}/" title="Applications View">{{user.user_personal.name}}</a></td>
                                                <td>{{user.created_date}}</td>
                                                <td><a href="/LoanAppData/loanapplication/{{user.id}}/change/" title="My Profile old ">{{user.loan_application_id}}</a></td>
                                                <td><strong>{{user.loan_scheme_id}}</strong></td>
                                                <td><strong>{{user.approved_amount}}</strong></td>
                                                <td>{{user.user_professional.company_designation}}</td>

                                            </tr>
                                            {% endfor %}

                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
