{% extends "admin/base.html" %}
{% block content %}
<style>
    .form-horizontal .controls:first-child{
        margin-left:0px;
        margin-top:10px;
        margin-bottom:5px;
    }
    label{
        margin-right:10px;
    }
    .form-horizontal .control-group .control-label {

        display:table-cell;
        min-width:150px;
        float:none;
        padding:10px 20px 5px 10px;
        width:auto;
    }
    .form-horizontal .control-label {
        background-color:white !important;
    }
    .form-horizontal .control-label {
     border-bottom:1px solid #EDEDED !important;
}

</style>
<form class="form-horizontal" method="post" action=".">
    {% csrf_token %}
    <div class="inline-group" id="loan_loan_personal_details-group">
        <h2></h2>

        <input type="hidden" name="loan_loan_personal_details-TOTAL_FORMS" value="1"
               id="id_loan_loan_personal_details-TOTAL_FORMS"/>
        <input type="hidden" name="loan_loan_personal_details-INITIAL_FORMS" value="0"
               id="id_loan_loan_personal_details-INITIAL_FORMS"/>
        <input type="hidden" name="loan_loan_personal_details-MIN_NUM_FORMS" value="0"
               id="id_loan_loan_personal_details-MIN_NUM_FORMS"/>
        <input type="hidden" name="loan_loan_personal_details-MAX_NUM_FORMS" value="1"
               id="id_loan_loan_personal_details-MAX_NUM_FORMS"/>

        <div class="inline-related dynamic-loan_loan_personal_details" style="width:100%">

            <fieldset class="module aligned first">
                <div class="">

                    <div class="form-row control-group">
                        <div class="control-label"><label class=" col-sm-2" for="id_bank_name"><b>User:</b> </label></div>
                        <div class="controls">
                            {{loan_bank_form.user}}

                        </div>
                    </div>

                </div>
            </fieldset>

        </div>

        <div class="inline-related dynamic-loan_loan_personal_details  col-sm-12" id="loan_loan_personal_details-0" style="width:100%">
            <h3><b>Personal Details:</b>&nbsp;<span class="inline_label"></span></h3>

            <fieldset class="module aligned first">

                <div class="form-row control-group">

                    <div class="col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_name"><b>Name:</b> </label></div>
                        <div class="controls">{{loan_personal_form.name}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_date_of_birth"><b>Date of Birth:</b> </label></div>
                        <div class="controls">{{loan_personal_form.date_of_birth}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_marital_status"><b>Marital Status:</b> </label></div>
                        <div class="controls">{{loan_personal_form.marital_status}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_occupation"><b>Occupation:</b> </label></div>
                        <div class="controls">{{loan_personal_form.occupation}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_annual_income"><b>Annual Income:</b> </label></div>
                        <div class="controls">{{loan_personal_form.annual_income}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_mobile_number"><b>Mobile Number:</b> </label></div>
                        <div class="controls">{{loan_personal_form.mobile_number}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_pan_number"><b>PAN Card:</b> </label></div>
                        <div class="controls">{{loan_personal_form.pan_number}} &nbsp;&nbsp;
                        <button type="button" onclick="cilbil_pull()" class="btn btn-sm btn-success">Pull Cibil</button>
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_address"><b>Address:</b> </label></div>
                        <div class="controls">{{loan_personal_form.address}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_pin_code"><b>Pincode:</b> </label></div>
                        <div class="controls">{{loan_personal_form.pin_code}}</div>
                    </div>
                </div>

            </fieldset>
        </div>

        <div class="inline-related dynamic-loan_loan_personal_details" id="loan_loan_profession_details-0"  style="width:100%">
            <h3><b>Professional Details:</b>&nbsp;<span class="inline_label"></span></h3>
            <fieldset class="module aligned first">

                <div class="form-row control-group">

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class=" col-sm-2" for="id_total_work_experience"><b>Work Expereince:</b></label>
                            </label></div>
                        <div class="controls">{{loan_professional_form.total_work_experience}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_current_empolyer_name"><b>Cuurent Employer
                            Name:</b> </label></div>
                        <div class="controls">{{loan_professional_form.current_empolyer_name}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_current_designation"><b>Current Designation:</b>
                        </label></div>
                        <div class="controls">{{loan_professional_form.current_designation}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_work_email_id"><b>Work Email:</b> </label></div>
                        <div class="controls">{{loan_professional_form.work_email_id}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_working_from"><b>Working From:</b> </label></div>
                        <div class="controls">{{loan_professional_form.working_from}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_id_card_photo"><b>ID Card Photo:</b> </label></div>
                        <div class="controls">{{loan_professional_form.id_card_photo}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_work_address"><b>Work Address:</b> </label></div>
                        <div class="controls">{{loan_professional_form.work_address}}</div>
                    </div>

                </div>
            </fieldset>
        </div>

        <div class="inline-related dynamic-loan_loan_personal_details" style="width:100%">
            <h3><b>Company Details:</b>&nbsp;<span class="inline_label"></span></h3>
            <fieldset class="module aligned first">
                <div class="form-row control-group">

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_company_name"><b>Company name:</b> </label></div>
                        <div class="controls">{{loan_company_form.company_name}}</div>
                    </div>

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_company_type"><b>Company type:</b> </label></div>
                        <div class="controls">{{loan_company_form.company_type}}</div>
                    </div>

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_gst_number"><b>GST number:</b> </label></div>
                        <div class="controls">{{loan_company_form.gst_number}}</div>
                    </div>

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_number_of_directors"><b>Number of directors:</b>
                        </label></div>
                        <div class="controls">{{loan_company_form.number_of_directors}}</div>
                    </div>

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_company_work_email_id"><b>Company work email
                            id:</b> </label></div>
                        <div class="controls">{{loan_company_form.company_work_email_id}}</div>
                    </div>

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_company_incorporation_date"><b>Company
                            incorporation date:</b> </label></div>
                        <div class="controls">{{loan_company_form.company_incorporation_date}}</div>
                    </div>

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_number_of_employees"><b>Number of employees:</b>
                        </label></div>
                        <div class="controls">{{loan_company_form.number_of_employees}}</div>
                    </div>

                </div>
            </fieldset>
        </div>

        <div class="inline-related dynamic-loan_loan_personal_details" style="width:100%">
            <h3><b>Documents Details:</b>&nbsp;<span class="inline_label"></span></h3>
            <fieldset class="module aligned first">
                <div class="form-row control-group">

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_pan_card"><b>Pan card:</b> </label></div>
                        <div class="controls">{{loan_documents_form.pan_card}}</div>
                    </div>

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_salary_slip"><b>Salary slip:</b> </label></div>
                        <div class="controls">{{loan_documents_form.salary_slip}}</div>
                    </div>

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_balanced_sheet"><b>Balanced sheet:</b> </label></div>
                        <div class="controls">{{loan_documents_form.balanced_sheet}}</div>
                    </div>

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_residence_address_proof"><b>Residence address
                            proof:</b> </label></div>
                        <div class="controls">{{loan_documents_form.residence_address_proof}}</div>
                    </div>

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_shop_establishment_certification"><b>Shop
                            establishment certification:</b> </label></div>
                        <div class="controls">{{loan_documents_form.shop_establishment_certification}}</div>
                    </div>

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_bank_statement"><b>Bank statement:</b> </label></div>
                        <div class="controls">{{loan_documents_form.bank_statement}}</div>
                    </div>

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_adhar_card"><b>Adhar card:</b> </label></div>
                        <div class="controls">{{loan_documents_form.adhar_card}}</div>
                    </div>

                </div>
            </fieldset>
        </div>

        <div class="inline-related dynamic-loan_loan_personal_details" style="width:100%">
            <h3><b>Loan Bank Details:</b>&nbsp;<span class="inline_label"></span></h3>
            <fieldset class="module aligned first">
                <div class="form-row control-group">

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_bank_name"><b>Bank name:</b> </label></div>
                        <div class="controls">{{loan_bank_form.bank_name}}</div>
                    </div>

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_account_number"><b>Account number:</b> </label></div>
                        <div class="controls">{{loan_bank_form.account_number}}</div>
                    </div>

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_ifsc_code"><b>IFSC code:</b> </label></div>
                        <div class="controls">{{loan_bank_form.ifsc_code}}</div>
                    </div>

                </div>
            </fieldset>
        </div>

    </div>

    <input class="btn btn-primary btn-large" type="submit" name="save" value="Update"/>&nbsp;
    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-large">Back</a>
</form>

{% endblock %}
{% block footer %}
    {{ block.super }}

    <script>
        function cilbil_pull(){
            var pan_card = $('#id_pan_number').val()
            var user_id = '{{user_id}}'
            if (pan_card){
                $.ajax({
                    type:'GET',
                    url : '/user_account/admin-pull-cibil/',
                    data : {
                        user_id:user_id,
                        pan_card:pan_card,
                    },
                    success : function(data) {
                        alert('Send request to cibil successfully')
                    },
                    failure : function(result){

                    },
                    beforeSend: function(){
                    },
                    complete: function(){
                    },
                });
            }else{
                alert('Enter valid pan card')
            }
        }
    </script>

{% endblock %}