{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form action="/ecom/cod_payment/" method="post">{% csrf_token %}
                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                           <thead><tr>
<!--                                                 <th><a href="/user_account/get_all_active_user/">BACK</a></th>-->
                                                 <th>Sr.No</th>
                                                 <th>Name</th>
                                                 <th>Application Id</th>
                                                 <th>Loan Amount</th>
                                                 <th>Loan Start Date</th>
                                                 <th>Loan End Date</th>
                                                 <th>Status</th>
                                             </tr></thead>
                                             {% for loan in user_loan %}
                                                        <tr>
                                                            <td>{{forloop.counter}}</td>
                                                            <td><a href="/user-all-details/{{loan.id}}/">{{loan.user_personal.name}}</a></td>
                                                            <td><a href="/user_particular_loanwise_details/{{loan.loan_application_id}}/">{{loan.loan_application_id}}</a></td>
                                                            <td>{{loan.loan_scheme_id}}</td>
                                                            <td>{{loan.loan_start_date}}</td>
                                                            <td>{{loan.loan_end_date}}</td>
                                                            <td>{{loan.status}}</td>


                                                        </tr>
                                                     {% endfor %}

                                        </table>

                                    </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
