{% extends "admin/base.html" %}
{% block content %}
{% load static %}


<style>
    .form-horizontal .controls:first-child{
        margin-left:0px;
        margin-top:10px;
        margin-bottom:5px;
    }
    label{
        margin-right:10px;
    }
    .form-horizontal .control-group .control-label {

        display:table-cell;
        min-width:150px;
        float:none;
        padding:10px 20px 5px 10px;
        width:auto;
    }
    .form-horizontal .control-label {
        background-color:white !important;
    }
    .form-horizontal .control-label {
     border-bottom:1px solid #EDEDED !important;
}




</style>
<link href="{% static 'css/colorbox.min.css' %}" rel="stylesheet"/>
<link class="ace-main-stylesheet" href="{% static 'css/ace.min.css' %}" id="main-ace-style" rel="stylesheet"/>


<!--viewer js image modal-->
<!--<link href="//unpkg.com/viewerjs/dist/viewer.css" rel="stylesheet">-->
<!--<script src="//unpkg.com/vue/dist/vue.js"></script>-->
<!--<script src="//unpkg.com/viewerjs/dist/viewer.js"></script>-->
<!--<script src="//unpkg.com/v-viewer/dist/v-viewer.js"></script>-->

<script
        crossorigin="anonymous"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!--lightgallery -->
<!--lightgallery image plugin-->

<!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.css" rel="stylesheet"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/js/lightgallery-all.js"></script>

<!-- lightgallery plugins -->
<script src="{% static 'js/lightgallery/js/lg-thumbnail.min.js' %}"></script>

<script>
<!--When you use AMD make sure that lightgallery.js is loaded before lightgallery modules.-->
    require(['./lightgallery.js'], function() {
    require(["./lg-zoom.js", "./lg-thumbnail.js"], function(){
        $("#lightgallery").lightGallery();
    });
});








</script>
<!--lightgallery -->


<!--<script src="{% static 'js/image_modal/viewer.js' %}"></script>-->


<form action="/loan-app-data/rbl_save_data_process/" class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="inline-related dynamic-loan_loan_personal_details" id="loan_loan_profession_details-10"
         style="width:100%">
        <h3><b>Analytics History:</b>&nbsp;<span class="inline_label"></span></h3>
        <fieldset class="module aligned first">

            <div class="form-row control-group">
                <div class="form-group col-sm-6">
                    <div class="control-label"><label class=" col-sm-2" for="id_total_work_experience"><b>Pan Mobile
                        Count:</b></label>
                        </label></div>
                    <div class="controls"><a href="/panloan/{{users.pan_number}}/"> <strong style="color:red">{{pancount}} </strong>&nbsp;
                    </a></div>
                </div>

                <div class="form-group col-sm-6">
                    <div class="control-label"><label class=" col-sm-2" for="id_total_work_experience"><b>Over Due:</b></label>
                        </label></div>
                    <div class="controls"><strong style="color:red">{{overdue_count}}</strong>&nbsp;</div>
                </div>
                <div class="form-group col-sm-6">
                    <div class="control-label"><label class=" col-sm-2"
                                                      for="id_total_work_experience"><b>DPD:</b></label>
                        </label></div>
                    <div class="controls"><strong style="color:red">{{user_dpd}}</strong>&nbsp;</div>
                </div>
                <div class="form-group col-sm-6">
                    <div class="control-label"><label class="col-sm-2" for="id_current_empolyer_name"><b>SMS
                        Details:</b> </label></div>
                    <div class="controls">Credit & Debit SMS Count <strong style="color:green">{{smscount}}</strong>
                        With Balance <strong style="color:green">{{balance}}</strong></div>
                </div>

                <div class="form-group col-sm-6">
                    <div class="control-label"><label class="col-sm-2" for="id_current_designation"><b>Loan Details:</b>
                    </label></div>
                    <div class="controls"><a
                            href="/user_wise_loan_details/{{users.user}}/"> No of Loan <strong style="color:black">{{user_loancount_list}}</strong>
                        with Transaction <strong style="color:black">{{user_transaction_list}}</strong></a></div>
                </div>

                <div class="form-group col-sm-6">
                    <div class="control-label"><label class="col-sm-2" for="id_working_from"><b>Referance Details:</b>
                    </label></div>
                    <div class="controls">&nbsp;<a href="/user_referance/{{users.loan_application_id}}/">
                        <strong>{{NOT_FOUND}}</strong></a></div>
                </div>

            </div>
        </fieldset>
    </div>

     <div class="inline-related dynamic-loan_loan_personal_details" style="width:100%">
            <h3><b>Face Match:</b>&nbsp;<span class="inline_label"></span></h3>


            <fieldset class="module aligned first">
                <div class="">

                    <table class="table table-bordered table-striped" id="dynamic-table-1">
                        <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Pan Eid Score</th>
                            <th>Pan Selfie Score</th>
                            <th>Eid Selfie Score</th>

                        </tr>
                        </thead>
                        {% if facematch %}

                        {% for fmatch in facematch %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{fmatch.pan_eid_score}}</td>
                            <td>{{fmatch.pan_selfie_score}}</td>
                            <td>{{fmatch.eid_selfie_score}}</td>

                        </tr>
                        {% endfor %}
                        {% else %}
                        <div class="col-sm-6">
                            <label> No Details Found</label>

                        </div>
                        {% endif %}
                    </table>

                </div>
            </fieldset>

        </div>


        <div class="inline-related dynamic-loan_loan_personal_details" style="width:100%">
            <h3><b>Text Match:</b>&nbsp;<span class="inline_label"></span></h3>


            <fieldset class="module aligned first">
                <div class="">

                    <table class="table table-bordered table-striped" id="dynamic-table-2">
                        <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Company Name</th>
                            <th>Company Score</th>
                            <th>Pan Name</th>
                            <th>Pan Score</th>
                            <th>Pan Eid Name</th>
                            <th>Pan Eid Score</th>
                            <th>Pan Salary Name</th>
                            <th>Pan Salary Score</th>
                            <th>Salary Month</th>
                            <th>Salary Amount</th>

                        </tr>
                        </thead>
                        {% if textmatch %}

                        {% for tmatch in textmatch %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{tmatch.company_name}}</td>
                            <td>{{tmatch.company_score}}</td>
                            <td>{{tmatch.pan_name}}</td>
                            <td>{{tmatch.pan_score}}</td>
                            <td>{{tmatch.pan_eid_name}}</td>
                            <td>{{tmatch.pan_eid_score}}</td>
                            <td>{{tmatch.pan_salary_name}}</td>
                            <td>{{tmatch.pan_salary_score}}</td>
                            <td>{{tmatch.salary_month}}</td>
                            <td>{{tmatch.salary_amount}}</td>

                        </tr>
                        {% endfor %}
                        {% else %}
                        <div class="col-sm-6">
                            <label> No Details Found</label>

                        </div>
                        {% endif %}
                    </table>

                </div>
            </fieldset>

        </div>
    <div class="inline-group" id="loan_loan_personal_details-group">
        <h2></h2>
        <input id="id_loan_loan_personal_details-TOTAL_FORMS" name="loan_loan_personal_details-TOTAL_FORMS"
               type="hidden"
               value="1"/>
        <input id="id_loan_loan_personal_details-INITIAL_FORMS" name="loan_loan_personal_details-INITIAL_FORMS"
               type="hidden"
               value="0"/>
        <input id="id_loan_loan_personal_details-MIN_NUM_FORMS" name="loan_loan_personal_details-MIN_NUM_FORMS"
               type="hidden"
               value="0"/>
        <input id="id_loan_loan_personal_details-MAX_NUM_FORMS" name="loan_loan_personal_details-MAX_NUM_FORMS"
               type="hidden"
               value="1"/>

        <div class="inline-related dynamic-loan_loan_personal_details" style="width:100%">
            <h3><b>User:</b>&nbsp;<span class="inline_label"></span></h3>


            <fieldset class="module aligned first">
                <div class="">
                    <div class="form-row control-group">
                        <div class="control-label"><label class=" col-sm-2" for="id_bank_name"><b>User:</b> </label>
                        </div>
                        <div class="controls">
                            {{users.user.username}}

                        </div>
                    </div>

                </div>
            </fieldset>

        </div>


        <div class="inline-related dynamic-loan_loan_personal_details" style="width:100%">
            <h3><b>Delayed Payment Days:</b>&nbsp;<span class="inline_label"></span></h3>


            <fieldset class="module aligned first">
                <div class="">
                    <!--                    <div class="form-row control-group">-->
                    <!--                        <div class="control-label"><label class=" col-sm-2" for="id_bank_name"><b>User:</b> </label>-->
                    <!--                    </div>-->
                    <table class="table table-bordered table-striped" id="dynamic-table">
                        <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Loan Application Id</th>
                            <th>Amount</th>
                            <th>DPD</th>
                            <th>Status</th>

                        </tr>
                        </thead>
                        {% if dpd_list %}

                        {% for dpd in dpd_list %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{dpd.0}}</td>
                            <td>{{dpd.2}}</td>
                            {% if dpd.1 is None %}
                            <td>0</td>
                            {% else %}
                            <td style="color: red;">{{dpd.1}}</td>
                            {% endif %}
                            <td>{{dpd.3}}</td>

                        </tr>
                        {% endfor %}
                        {% else %}
                        <div class="col-sm-6">
                            <label> No Details Found</label>

                        </div>
                        {% endif %}
                    </table>

                </div>
            </fieldset>

        </div>


        <div class="inline-related dynamic-loan_loan_personal_details  col-sm-12" id="loan_loan_personal_details-0"
             style="width:100%">
            <h3><b>Personal Details:</b>&nbsp;<span class="inline_label"></span></h3>

            <fieldset class="module aligned first">

                <div class="form-row control-group">

                    <div class="col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_name" style="margin-top:60px"><b>Name:</b>
                        </label></div>
                        <div class="controls"><strong>{{users.user_personal.name}}</strong>
                            <img alt="Not selfe Photo " height="150" src="{{users_images}}"
                                 style="margin-left:300px;border:1px solid" width="150"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_pan_number"><b>PAN Card:</b> </label>
                        </div>
                        <div class="controls input-group">{{users.user_personal.pan_number}} &nbsp;&nbsp;

                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_date_of_birth"><b>Date of Birth:</b>
                        </label></div>
                        <div class="controls">{{users.user_personal.birthdate}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_marital_status"><b>Marital
                            Status:</b> </label></div>
                        <div class="controls">{{users.user_personal.marital_status}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_occupation"><b>Occupation:</b>
                        </label></div>
                        <div class="controls">{{users.user_personal.occupation}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_annual_income"><b>Month Income:</b>
                        </label></div>
                        <div class="controls">{{users.user_personal.monthly_income}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_mobile_number"><b>Mobile Number:</b>
                        </label></div>
                        <div class="controls">{{users.user_personal.mobile_no}}</div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_mobile_number"><b>Alt Mobile
                            Number:</b>
                        </label></div>
                        <div class="controls">{{users.user_personal.alt_mobile_no}}</div>
                    </div>


                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_pan_number"><b>Old Equfix Score:</b>
                        </label></div>
                        <div class="controls input-group"><strong>{{equfix_score}} &nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-success" onclick="equfix_pull()"
                                        type="button">Pull Credit Score</button>
<!--                                  <button class="btn btn-sm btn-info" onclick="equfix_show()"-->
<!--                                          type="button">Equfix Show</button>-->

                              </span>

                            <input class="form-control" id="uid" readonly style="border:0px;color:#000;font-size:30px">

                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_address"><b>Current Address:</b>
                        </label>
                        </div>
                        <div class="controls">{{users.current_address.address}}</div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_address"><b>City:</b> </label>
                        </div>
                        <div class="controls">{{users.current_address.city}}</div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_address"><b>state:</b> </label>
                        </div>
                        <div class="controls">{{users.current_address.state}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_pin_code"><b>Pincode:</b> </label>
                        </div>
                        <div class="controls">{{users.current_address.pin_code}}</div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_pin_code"><b>Total Apply:</b>
                        </label></div>
                        <div class="controls"><strong style="color:green">{{user_count}}</strong></div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_pin_code"><b>Total Overdue &
                            Defaulter %:</b> </label></div>
                        <div class="controls"><strong style="color:red">{{overdue}}</strong></div>
                    </div>

                </div>

            </fieldset>
        </div>

        <div class="inline-related dynamic-loan_loan_personal_details" id="loan_loan_profession_details-0"
             style="width:100%">
            <h3><b>Professional Details:</b>&nbsp;<span class="inline_label"></span></h3>
            <fieldset class="module aligned first">

                <div class="form-row control-group">

                    <!--                    <div class="form-group col-sm-6">-->
                    <!--                        <div class="control-label"><label class=" col-sm-2" for="id_total_work_experience"><b>Work-->
                    <!--                            Expereince:</b></label>-->
                    <!--                            </label>-->
                    <!--                        </div>-->
                    <!--                        <div class="controls">{{users.total_work_experience}}</div>-->
                    <!--                    </div>-->

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_current_empolyer_name"><b>Cuurent
                            Employer
                            Name:</b> </label></div>
                        <div class="controls">{{users.user_professional.company_name}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_current_designation"><b>Current
                            Designation:</b>
                        </label></div>
                        <div class="controls">{{users.user_professional.company_designation}}</div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_work_email_id"><b>Work Email:</b>
                        </label></div>
                        <div class="controls">{{users.user_professional.company_email_id}}</div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_work_address"><b>Work Landline
                            No:</b>
                        </label></div>
                        <div class="controls">{{users.user_professional.company_landline_no}}</div>
                    </div>

                    <!--                    <div class="form-group col-sm-6">-->
                    <!--                        <div class="control-label"><label class="col-sm-2" for="id_working_from"><b>Working From:</b>-->
                    <!--                        </label></div>-->
                    <!--                        <div class="controls">{{users.working_from}}</div>-->
                    <!--                    </div>-->


                    <div class="form-group col-sm-6">
                        <div class="control-label"><label class="col-sm-2" for="id_work_address"><b>Work Address:</b>
                        </label></div>
                        <div class="controls">{{users.user_professional.company_address}}</div>
                    </div>


                </div>
            </fieldset>
        </div>


        <div class="inline-related dynamic-loan_loan_personal_details" style="width:100%">
            <h3><b>Documents Details:</b>&nbsp;<span class="inline_label"></span></h3>
            <fieldset class="module aligned first">


                <div class="">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div>

                            <div class="col-xs-6" id="">
                                <ul class="list-inline ace-thumbnails clearfix">
                                    <li>
                                        <a data-rel="colorbox" href="{{ company_id }}"
                                           title="Company Id Card">
                                            <img alt="Not Photo"
                                                 src="{{ company_id  }}"/>
                                        </a>
                                        <div class="tags">
												<span class="label-holder">
													<span class="label label-warning arrowed-in">Company Id Card</span>
												</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div id="lightgallery" style="width: 500px">
                                            <a href="{{salary_slip }}">
                                                <img src="{{ salary_slip }}"/>
                                            </a>

                                            <div class="tags">
												<span class="label-holder">
													<span class="label label-warning arrowed-in">Salary Slip</span>
												</span>
                                            </div>
                                        </div>


                                    </li>

                                    <li>
                                        <a data-rel="colorbox" href="{{pan}}" title="PAN Card">
                                            <img alt="Not Photo" src="{{pan}}"/>
                                        </a>
                                        <div class="tags">
												<span class="label-holder">
													<span class="label label-warning arrowed-in">PAN Card</span>
												</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->


            </fieldset>
        </div>


        <div class="inline-related dynamic-loan_loan_personal_details" style="width:100%">
            <h3><b>Loan Status:</b>&nbsp;<span class="inline_label"></span></h3>
            <fieldset class="module aligned first">
                <div class="form-row control-group">
                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_ifsc_code"><b>Repayment Amount:</b>
                        </label></div>
                        <div class="controls">
                            {{users.loan_scheme_id}}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_ifsc_code"><b>Status:</b> </label>
                        </div>
                        <div class="controls">
                            <select id="id_status" name="id_status">
                                <option selected="" value="">{{users.status}}</option>
                                <option value="PRE_APPROVED">Pre_Approved</option>
                                <option value="CANCELLED">Cancelled</option>
                                <option value="ON_HOLD">On_hold</option>
                                <option value="REJECTED">Rejected</option>
                                <option value="PENDING">Pending</option>
                            </select>&nbsp;&nbsp;&nbsp;
                            {% if users.status == "REJECTED" %}
                            <strong style="color:red">This Profile is {{users.status}}</strong>
                            {% else %}

                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_ifsc_code"><b>On Hold Time in
                            Day:</b> </label>
                        </div>
                        <div class="controls">
                            <select id="onhold_time" name="onhold_time">
                                <option value="None">None</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="60">60</option>
                                <option value="90">90</option>

                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_ifsc_code"><b>Reason:</b> </label>
                        </div>
                        <div class="controls">
                              <select id="Reason" name="Reason">
                                <option value="None">None</option>
                                <option value="Selfie">Issue in Selfie</option>
                                <option value="Company I'd">Company Id</option>
                                <option value="Salary slip">Salary Slip</option>
                                <option value="Insufficient_credit_history">Insufficient Credit History</option>

                            </select>


                            <!--                            <input class="btn btn-primary btn-large" name="save" type="submit" value="Save"/>&nbsp;-->
                        </div>


                        <input name="user_loan_application_id" type="hidden" value="{{users.loan_application_id}}"/>

                    </div>
                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_ifsc_code"><b>Other Reason:</b>
                        </label></div>
                        <div class="controls">
                            <textarea class="col-xs-12" id="ReasonText" name="ReasonText"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label"><label class="col-sm-2" for="id_ifsc_code"><b>Limit Loan Amount:</b>
                        </label>
                        </div>
                        <div class="controls">
                            <select id="autolimit" name="autolimit">
                                <option value="0">None</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>

                            </select>


                            <input class="btn btn-primary btn-large" name="save" type="submit" value="Save"/>&nbsp;
                        </div>

                        <input type="hidden", name="recovery" value="False">
                        <input name="user_loan_application_id" type="hidden" value="{{users.loan_application_id}}"/>

                    </div>

                </div>

            </fieldset>

            <input class="col-xs-12" id="updatesu" readonly
                   style="border:0px;color:#000;font-size:25px;width:100%;color:green">


        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4 class="modal-title">Salary Slip</h4>
                </div>
                <div class="modal-body"><img alt="Not Photo" class="zoom" src="{{ salary_slip  }}"
                                             style=""/>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
    $(document).ready(function() {
        $("#lightgallery").lightGallery();
    });








    </script>


    <!--    <input class="btn btn-primary btn-large" type="submit" name="save" value="Save"/>&nbsp;-->
    <!--    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-large">Back</a>-->
</form>

{% endblock %}
{% block footer %}
{{ block.super }}


<script>
      function equfix_pull(){
           var loan_application_id = '{{users.loan_application_id}}'
           if (loan_application_id){
                $.ajax({
                    type:'GET',
                    async:false,
                    // url : '/equfix_dy_API/',
                    url : '/crif/get_score/',
                    data : {
                        loan_application_id:loan_application_id
                    },
                    success : function(data) {
                        alert("Credit score:"+data.is_taken)
                        setTimeout(cibil_show, 10000);

                    },
                    failure : function(result){

                    },
                    beforeSend: function(){
                    },
                    complete: function(){
                    },
                });
            }else{
                alert('Enter valid pan card')
            }
        }
function equfix_show(){
var user_id = '{{users.user_id}}'
  $.ajax({

         type: "get",
         data: {
              'userid': user_id,
            },
         url: "/user_account/cibilscore/",
         success: function (data) {
        $("#uid").val(data.is_taken)

      }
 });
}











</script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- page specific plugin scripts -->
<script src="{% static 'js/jquery.colorbox.min.js' %}"></script>


<!-- inline scripts related to this page -->

<script type="text/javascript">

			jQuery(function($) {
	var $overflow = '';
	var colorbox_params = {
		rel: 'colorbox',
		reposition:true,
		scalePhotos:true,
		scrolling:false,
		previous:'<i class="ace-icon fa fa-arrow-left"></i>',
		next:'<i class="ace-icon fa fa-arrow-right"></i>',
		close:'&times;',
		current:'{current} of {total}',
		maxWidth:'100%',
		maxHeight:'100%',
		onOpen:function(){
			$overflow = document.body.style.overflow;
			document.body.style.overflow = 'hidden';
		},
		onClosed:function(){
			document.body.style.overflow = $overflow;
		},
		onComplete:function(){
			$.colorbox.resize();
		}
	};

	$('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
	$("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon


	$(document).one('ajaxloadstart.page', function(e) {
		$('#colorbox, #cboxOverlay').remove();
   });
})











</script>


{% endblock %}