{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form action="/ecom/cod_payment/" method="post">{% csrf_token %}
                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.No</th>
                                                 <th>Amount</th>
                                                 <th>Trasaction Date</th>
                                                 <th>Loan Id</th>
                                                 <th>Trasaction Type</th>
                                                 <th>Status</th>

                                            </tr>
                                            </thead>
                                            {% for user in user_loan_details %}
                                                    <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td>{{user.amount}}</td>
                                                        <td>{{user.date}}</td>
                                                        <td>{{loan_application_id}}</td>
                                                        <td>{{user.mode}}</td>
                                                        <td>{{user.status}}</td>
                                                    </tr>
                                                 {% endfor %}
                                        </table>

                                    </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
