

{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
{% load static %}
<style>
   p{font-size:1.1vw}
   .card_style
   {
   width:100%;
   border-style:solid;
   border-width:1px;
   text-align:center;
   padding:2%;
   }
   .card-header{
   font-size:1.2vw;
   }
   table , tr {
   height : 40px;
   }
   table tr td:first-child {
   border-style : solid;
   border-width: 1px;
   text-align: center;
   border-left-style: hidden;
   }
   table tr td:nth-child(2){
   padding-left: 50px;
   border-right-style: hidden;
   }
</style>
<link href="{% static 'css/colorbox.min.css' %}" rel="stylesheet"/>
<link class="ace-main-stylesheet" href="{% static 'css/ace.min.css' %}" id="main-ace-style" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.10.0/js/lightgallery.min.js" integrity="sha512-gDBgGPXSeC2hx1W3S1CfSHbAValtLI8OArTGf0UVX7Fwb9Ak7HUE3LK9UEZxKGYVrIe0CJUVZDk9B2dIPwJ6VQ==" crossorigin="anonymous"></script>
<!--viewer js image modal-->
<!--<link href="//unpkg.com/viewerjs/dist/viewer.css" rel="stylesheet">-->
<!--<script src="//unpkg.com/vue/dist/vue.js"></script>-->
<!--<script src="//unpkg.com/viewerjs/dist/viewer.js"></script>-->
<!--<script src="//unpkg.com/v-viewer/dist/v-viewer.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!--lightgallery -->
<!--lightgallery image plugin-->
<!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/js/lightgallery-all.js"></script>
<!-- lightgallery plugins -->
<script src="{% static 'js/lightgallery/js/lg-thumbnail.min.js' %}"></script>
<script>
   <!--When you use AMD make sure that lightgallery.js is loaded before lightgallery modules.-->
       require(['./lightgallery.js'], function() {
       require(["./lg-zoom.js", "./lg-thumbnail.js"], function(){
           $("#lightgallery").lightGallery();
       });
   });

$(document).ready(function () {
		// put Ajax here.
			delay_days_fun();
			});
</script>
<!--lightgallery -->
<!--<script src="{% static 'js/image_modal/viewer.js' %}"></script>-->
<form action="/loan-app-data/rbl_save_data_pre_approved/" class="form-horizontal" method="post">
   {% csrf_token %}
   <div class="inline-related dynamic-loan_loan_personal_details" id="loan_loan_profession_details-10">
      <div class="card mb-2" style="border-style:solid;border-width:1px;width:100%">
         <div class="text-center">
            <h4><b style="height:50px">Analytics History</b></h4>
         </div>
         <table style="border-style:solid;border-width:1px;width:100%">
            <tr>
               <td>User</td>
               <td> {{users.user.username}}</td>
            </tr>
            <tr>
               <td >Pan Mobile Count</td>
               <td ><strong style="color:red">{{pancount}} </strong>&nbsp;
               </td>
            </tr>
            <tr>
               <td >Over Due</td>
               <td ><strong style="color:red">{{overdue_count}}</strong></td>
            </tr>
            <tr>
               <td >DPD</td>
               <td ><strong style="color:red">{{user_dpd}}</strong></td>
            </tr>
            <tr>
               <td >SMS Details</td>
               <td >Credit & Debit SMS Count <strong style="color:green">{{smscount}}</strong>
                  With Balance <strong style="color:green">{{balance}}</strong>
               </td>
            </tr>
            <tr>
               <td >Loan Details</td>
               <td ><a href="/user_wise_loan_details/{{users.user}}/"> No of Loan <strong style="color:black">{{user_loancount_list}}</strong>
                  with Transaction <strong style="color:black">{{user_transaction_list}}</strong></a>
               </td>
            </tr>
            <tr>
               <td>Referance Details</td>
               <td> <a href="/user_referance/{{users.loan_application_id}}/">
                  <strong>{{NOT_FOUND}}</strong></a>
               </td>
            </tr>
         </table>
      </div>


      <div class="card mb-2" style="border-style:solid;border-width:1px;width:100%">
            <div class="text-center">
               <h4><b style="height:50px">Reference Details</b></h4>
            </div>
            <table class="table table-bordered table-striped" id="dynamic-table">
                <thead>
                <tr>
                    <th>Colleague Name</th>
                    <th>Colleague Number</th>
                    <th>Colleague Email</th>
                    <th>Relative Name</th>
                    <th>Relative Number</th>
                    <th>Relative Relation</th>
                </tr>
                </thead>
                <tr>

                    <td>{{users.reference_id.colleague_name}}</td>
                    <td>{{users.reference_id.colleague_mobile_no}}</td>
                    <td>{{users.reference_id.colleague_email_id}}</td>
                    <td>{{users.reference_id.relative_name}}</td>
                    <td>{{users.reference_id.relative_mobile_no}}</td>
                    <td>{{users.reference_id.relationships}}</td>
                </tr>

            </table>
      </div>



      <!--    </div>-->
      <input id="id_loan_loan_personal_details-TOTAL_FORMS" name="loan_loan_personal_details-TOTAL_FORMS"
         type="hidden"
         value="1"/>
      <input id="id_loan_loan_personal_details-INITIAL_FORMS" name="loan_loan_personal_details-INITIAL_FORMS"
         type="hidden"
         value="0"/>
      <input id="id_loan_loan_personal_details-MIN_NUM_FORMS" name="loan_loan_personal_details-MIN_NUM_FORMS"
         type="hidden"
         value="0"/>
      <input id="id_loan_loan_personal_details-MAX_NUM_FORMS" name="loan_loan_personal_details-MAX_NUM_FORMS"
         type="hidden"
         value="1"/>
      <div class="card card_style mb-2">
         <h4><b>Delayed Payment Days</b>&nbsp;<span class="inline_label"></span></h4>
         <div class="dt-responsive table-responsive">
            <table id="table-style-hover2" class="table table-striped table-hover table-bordered nowrap">
               <thead>
                  <tr>
                     <th>Sr.No</th>
                     <th>Loan Application Id</th>
                     <th>User Amount</th>
                     <th>Approved Amount</th>
                     <th>DPD</th>
                     <th>Status</th>
                  </tr>
               </thead>
               {% if dpd_list %}
               <tbody>
                  {% for dpd in dpd_list %}
                  <tr>
                     <td>{{forloop.counter}}</td>
                     <td>{{dpd.0}}</td>
                     <td>{{dpd.2}}</td>
                     <td>{{dpd.4}}</td>
                     {% if dpd.1 is None %}
                     <td>0</td>
                     {% else %}
                     <td style="color: red;">{{dpd.1}}</td>
                     {% endif %}
                     <td>{{dpd.3}}</td>
                  </tr>
                  {% endfor %}
               </tbody>
               {% endif %}
            </table>
         </div>
      </div>
      <div class="card mb-2" style="border-style:solid;border-width:1px;width:100%">
         <div class="text-center">
            <h4><b style="height:50px">Personal Details</b></h4>
         </div>
         <table style="border-style:solid;border-width:1px;width:100%">
            <tr>
               <td style="width:30%">Name</td>
               <td style="width:70%"><strong>{{users.user_personal.name}}</strong>
                  <img alt="Not selfe Photo " height="100" src="{{users_images}}"
                     style="margin-left:100px;border:1px solid" width="100"/>
               </td>
            </tr>
             <tr>
                <td style="width:30%">PAN Card Name</td>
                 {% if pancard_matching_percentage >= 50.00 %}
                 <td><strong style="color:green">{{pancard_name}}&nbsp;-&nbsp;{{pancard_matching_percentage}}&nbsp;%</strong></td>
                 {% else %}
                 <td><strong style="color:red">{{pancard_name}}&nbsp;-&nbsp;{{pancard_matching_percentage}}&nbsp;%</strong></td>
                 {% endif %}
            </tr>

            <tr>
               <td style="width:30%">PAN Card</td>
               <td style="width:70%">{{users.user_personal.pan_number}} &nbsp;-&nbsp; {{pan_card_no}}  &nbsp;-&nbsp; {{pan_card_no_per}}&nbsp;{% if pan_card_no_per != None %}%{% endif %}</td>
            </tr>

            <tr>
               <td style="width:30%">Date of Birth</td>
               <td style="width:70%">{{users.user_personal.birthdate}}</td>
            </tr>
            <tr>
               <td style="width:30%">Marital Status:</td>
               <td style="width:70%">{{users.user_personal.marital_status}}</td>
            </tr>
            <tr>
               <td style="width:30%">Occupation</td>
               <td style="width:70%">{{users.user_personal.occupation}}</td>
            </tr>
            <tr>
               <td style="width:30%">Month Income</td>
               <td style="width:70%">{{users.user_personal.monthly_income}} &nbsp;-&nbsp; {{monthly_income}}  &nbsp;-&nbsp; {{mi_number_count}}&nbsp;{% if mi_number_count != None %}%{% endif %}</td>
            </tr>
            <tr>
               <td style="width:30%">Mobile Number</td>
               <td style="width:70%">{{users.user_personal.mobile_no}}</td>
            </tr>
            <tr>
               <td style="width:30%">Alt Mobile Number</td>
               <td style="width:70%">{{users.user_personal.alt_mobile_no}}</td>
            </tr>
            <tr>
               <td style="width:30%">Old Equfix Score</td>
               <td style="width:70%"><strong>{{equfix_score}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  {% if users.status == "SUBMITTED" or users.status == "PROCESS" or users.status == "PRE_APPROVED" %}
                  <button class="btn btn-sm btn-success" onclick="equfix_pull()"
                     type="button">Pull Credit Score</button>
                  {% else %}
                  <button class="btn btn-sm btn-success" onclick="equfix_pull()"
                     type="button" disabled>Pull Credit Score</button>
                  {% endif %}
               </td>
            </tr>
            <tr>
               <td style="width:30%">Current Address</td>
               <td style="width:70%">{{users.current_address.address}}</td>
            </tr>
            <tr>
               <td style="width:30%">City</td>
               <td style="width:70%">{{users.current_address.city}}</td>
            </tr>
            <tr>
               <td style="width:30%">State</td>
               <td style="width:70%">{{users.current_address.state}}</td>
            </tr>
            <tr>
               <td style="width:30%">Pincode</td>
               <td style="width:70%">{{users.current_address.pin_code}} &nbsp;-&nbsp; {{pincode_no}}  &nbsp;-&nbsp; {{pincode_number_count}}&nbsp;{% if pincode_number_count != None %}%{% endif %}</td>
            </tr>
            <tr>
               <td style="width:30%">Total Apply</td>
               <td style="width:70%"><strong style="color:green">{{user_count}}</strong></td>
            </tr>
            <tr>
               <td style="width:30%">Total Overdue &
                  Defaulter %
               </td>
               <td style="width:70%"><strong style="color:red">{{overdue}}</strong></td>
            </tr>
         </table>
      </div>
      <div class="card mb-2"  style="border-style:solid;border-width:1px;width:100%">
         <div class="text-center">
            <h4><b style="height:50px">Professional Details</b></h4>
         </div>
         <table style="border-style:solid;border-width:1px;width:100%">
            <tr>
               <td style="width:30%">Current Employer Name : </td>
               <td style="width:70%">{{users.user_professional.company_name}}</td>
            </tr>
            <tr>
               <td style="width:30%">Current Designation : </td>
               <td style="width:70%">{{users.user_professional.company_designation}}</td>
            </tr>
            <tr>
               <td style="width:30%">Work Email : </td>
               <td style="width:70%">{{users.user_professional.company_email_id}}</td>
            </tr>
            <tr>
               <td style="width:30%">Work Landline No : </td>
               <td style="width:70%">{{users.user_professional.company_landline_no}}</td>
            </tr>
            <tr>
               <td style="width:30%">Work Address : </td>
               <td style="width:70%">{{users.user_professional.company_address}}</td>
            </tr>
         </table>
      </div>
      <div class="card card_style mb-2">
         <h4><b>Documents Details</b>&nbsp;<span class="inline_label"></span></h4>
         <div class="row" id="limg">
            <a href="{{company_id}}" class="col-sm-4">
               <div   id="company_id">
                  <img src="{{company_id}}" width="100%" height="200">
                  <span class="label label-warning arrowed-in">Company Id</span>
               </div>
            </a>
            <a href="{{salary_slip}}" class="col-sm-4">
               <div id="salary_slip">
                  <img src="{{salary_slip}}" width="100%" height="200">
                  <span class="label label-warning arrowed-in">Salary Slip</span>
                </div>
            </a>
           <a href="{{pan}}" class="col-sm-4">
               <div id="pan">
                  <img src="{{pan}}" width="100%" height="200">
                  <span class="label label-warning arrowed-in">Pan</span>

               </div>
           </a>
         </div>
      </div>
      <div class="card mb-2" style="border-style:solid;border-width:1px;width:100%">
            <div class="text-center">
               <h4><b style="height:50px">Order Details</b></h4>
            </div>
            <table class="table table-bordered table-striped" id="dynamic-table_1">
                <thead>
                <tr>
                    <th>Total Order</th>
                    <th>Credit Order</th>
                    <th>Cash Order</th>
                    <th>Cod Order</th>
                    <th>Total Delay Days</th>
                </tr>
                </thead>
                <tr>
                    <td><h4 class="text-c-yellow f-w-600 text-center" id="total_order"></h4></td>
                    <td><h4 class="text-c-yellow f-w-600 text-center" id="credit_order"></h4></td>
                    <td><h4 class="text-c-yellow f-w-600 text-center" id="cash_order"></h4></td>
                    <td><h4 class="text-c-yellow f-w-600 text-center" id="cod_order"></h4></td>
                    <td><h4 class="text-c-yellow f-w-600 text-center" id="delay_days"></h4></td>
                </tr>

            </table>
      </div>
      <div class="card card_style mb-2">
         <h4><b>Disbursed Amount Details</b>&nbsp;<span class="inline_label"></span></h4>
         <div class="dt-responsive table-responsive">
            <table id="table-style-hover3" class="table table-striped table-hover table-bordered nowrap">
               <thead>
                  <tr>
                     <th>Sr.No</th>
                     <th>Order ID</th>
                     <th>Transaction Id</th>
                     <th>Category</th>
                     <th>Amount</th>
                     <th>Status</th>
                     <th>Date</th>
                  </tr>
               </thead>
               {% if disbursed_amount_details %}
               {% for payment in disbursed_amount_details %}
               <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{payment.order_id}}</td>
                  <td>{{payment.transaction_id}}</td>
                  <td>{{payment.category}}</td>
                  <td>{{payment.amount}}</td>
                  <td>{{payment.status}}</td>
                  <td>{{payment.date}}</td>
               </tr>
               {% endfor %}
               {% endif %}
            </table>
         </div>
      </div>
      <div class="card card_style mb-2">
         <h4><b>Repayment Amount Details</b>&nbsp;<span class="inline_label"></span></h4>
         <div class="dt-responsive table-responsive">
            <table id="table-style-hover4" class="table table-striped table-hover table-bordered nowrap">
               <thead>
                  <tr>
                     <th>Sr.No</th>
                     <th>Order ID</th>
                     <th>Transaction Id</th>
                     <th>Category</th>
                     <th>Amount</th>
                     <th>Status</th>
                     <th>Date</th>
                  </tr>
               </thead>
               {% if repayment_amount_details %}
               {% for payment in repayment_amount_details %}
               <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{payment.order_id}}</td>
                  <td>{{payment.transaction_id}}</td>
                  <td>{{payment.category}}</td>
                  <td>{{payment.amount}}</td>
                  <td>{{payment.status}}</td>
                  <td>{{payment.date}}</td>
               </tr>
               {% endfor %}
               {% endif %}
            </table>
         </div>
      </div>
      <div class="card mb-2"  style="border-style:solid;border-width:1px;width:100%">
         <div class="row text-center">
            <div class="col-10">
               <h4><b>Credit Details:</b></h4>
            </div>
            <div class="col-2">
               <button type="button"  class="btn btn-primary btn-sm" style="float:right;" data-toggle="collapse" data-target="#demo">view all</button>
            </div>
         </div>
         <div class="dt-responsive table-responsive">
            <table class="table table-bordered">
               <tr>
                  <td style="width:15%">Total Credit</td>
                  <td style="width:15%"> {{credit_got}}</td>
                  <td style="width:15%">Used Credit</td>
                  <td style="width:15%">{{used_credit}}</td>
                  <td style="width:15%">Balance Credit</td>
                  <td style="width:15%">{{balance_credit}}</td>
               </tr>
            </table>
         </div>
         <div id="demo" class="collapse">
            <div class="table-responsive">
               <div class="table-content">
                  <div class="project-table">
                     <div class="dt-responsive table-responsive">
                        <table id="table-style-hover1"
                           class="table">
                           <thead>
                              <tr>
                                 <th> Sr.No</th>
                                 <th> Credit</th>
                                 <th> Used Credit</th>
                                 <th> Balance Credit</th>
                                 <th> Actual Used</th>
                                 <th> Status</th>
                                 <th> Repayment Add</th>
                                 <th> Created Date</th>
                              </tr>
                           </thead>
                           {% if user_credits %}
                           {% for credit in user_credits %}
                           <tr>
                              <td class="pro-name">
                                 <h6>{{forloop.counter}}</h6>
                              </td>
                              <td> {{credit.credit}}</td>
                              <td> {{credit.used_credit}}</td>
                              <td> {{credit.balance_credit}}</td>
                              <td>{{credit.actual_used}}</td>
                              <td>{{credit.status}}</td>
                              <td>{{credit.repayment_add}}</td>
                              <td>{{credit.created_date}}</td>
                           </tr>
                           {% endfor %}
                           {% endif %}
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="card mb-2" style="border-style:solid;border-width:1px;width:100%">
      <div class="row text-center">
         <div class="col-10">
            <h4><b>Wallet Details:</b></h4>
         </div>
         <div class="col-2">
            <button type="button"  class="btn btn-primary btn-sm" style="float:right;" data-toggle="collapse" data-target="#demo1">view all</button>
         </div>
      </div>
      <div class="dt-responsive table-responsive" >
         <table class="table table-bordered">
            <tr>
               <td style="width:30%">Balance Wallet</td>
               <td style="width:70%">{{balance_amount}}</td>
            </tr>
         </table>
      </div>
      <div id="demo1" class="collapse">
         <div class="table-responsive">
            <div class="table-content">
               <div class="project-table">
                  <div class="dt-responsive table-responsive">
                     <table id="table-style-hover5"
                        class="table table-striped table-hover table-bordered nowrap">
                        <thead>
                           <tr>
                              <th> Sr.No</th>
                              <th> amount_add</th>
                              <th> used_amount</th>
                              <th> balance_amount</th>
                              <th> auto adjust</th>
                              <th> status</th>
                              <th> created_date</th>
                           </tr>
                        </thead>
                        {% if wallet %}
                        {% for wallet in wallet %}
                        <tr>
                           <td class="pro-name">
                              <h6>{{forloop.counter}}</h6>
                           </td>
                           <td> {{wallet.amount_add}}</td>
                           <td> {{wallet.used_amount}}</td>
                           <td> {{wallet.balance_amount}}</td>
                           <td> {{wallet.auto_adjust}}</td>
                           <td>{{wallet.status}}</td>
                           <td>{{wallet.created_date}}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="card mb-2" style="border-style:solid;border-width:1px;width:100%">
      <div class="text-center">
         <h4><b>Payment Slab Information</b></h4>
      </div>
      <br>
      {% if payment_slab %}
      {%for slab in payment_slab %}
      <div class="row">
         <div class="col-6 px-5">
            <p><b>Date</b> : {{slab.date}}</p>
            <p><b>Approved Amount</b> : {{slab.approved_amount}}</p>
            <p><b>Pay Status</b> : {{slab.pay_status}}</p>
            <br>
         </div>
         <div class="col-6 px-5">
            <p><b>Time</b> : {{slab.time}}</p>
            <p><b>Remaining Amount</b> : {{slab.remaining_amount}}</p>
            <p><b>Is Overdue</b> : {{slab.is_overdue}}</p>
         </div>
      </div>
      {%endfor%}
      {%endif%}
   </div>
   <div class="card mb-2" style="border-style:solid;border-width:1px;width:100%">
      <div class="text-center">
         <h4><b style="height:50px">Loan Status</b></h4>
      </div>
      <table style="border-style:solid;border-width:1px;width:100%">
         <tr>
            <td style="width:30%">User Loan Status</td>
            <td style="width:70%">{{users.user_status}}</td>
         </tr>
         <tr>
            <td style="width:30%">Repayment Amount</td>
            <td style="width:70%">{{users.loan_scheme_id}}</td>
         </tr>
         <tr>
            <td style="width:30%">Loan Start Date</td>
            <td style="width:70%">{{users.loan_start_date}}</td>
         </tr>
         <tr>
            <td style="width:30%">Loan End Date</td>
            <td style="width:70%">{{users.loan_end_date}}</td>
         </tr>
         <tr>
            <td style="width:30%">Approved Amount</td>
            {% if users.status == "SUBMITTED" or users.status == "PROCESS" or users.status == "PRE_APPROVED" %}
            <td>
               <select id="approved_amount" name="approved_amount" style="width:30%">
                  <option value="None">None</option>
                  {% for amount in approved_amount_list %}
                  <option value="{{amount}}">{{amount}}</option>
                  {% endfor %}
               </select>
            </td>
            {% else %}
            <td>
               <select id="approved_amount1" name="approved_amount" style="width:30%" disabled>
                  <option value="{{approved_amount}}">{{approved_amount}}</option>
               </select>
            </td>
            {% endif %}
         </tr>
         <tr>
            <td style="width:30%">Status</td>
            {% if users.status == "SUBMITTED" or users.status == "PROCESS" or users.status == "PRE_APPROVED" %}
            <td style="width:70%">
               <select id="id_status" name="id_status" style="width:30%">
                  <option selected="" value="">{{users.status}}</option>
                  <option value="PRE_APPROVED">Pre_Approved</option>
                  <option value="APPROVED">Approved</option>
                  <option value="CANCELLED">Cancelled</option>
                  <option value="ON_HOLD">On_hold</option>
                  <option value="REJECTED">Rejected</option>
                  <option value="PENDING">Pending</option>
                  <option value="PROCESS">Process</option>
                  <option value="SUBMITTED">Submitted</option>
               </select>
               &nbsp;&nbsp;&nbsp;
               {% if users.status == "REJECTED" %}
               <strong style="color:red">This Profile is {{users.status}}</strong>
               {% else %}
               {% endif %}
            </td>
            {% else %}
            <td style="width:70%">
               <select id="id_status1" name="id_status" style="width:30%" disabled>
                  <option selected="" value="">{{users.status}}</option>
                  <option value="PRE_APPROVED">Pre_Approved</option>
                  <option value="APPROVED">Approved</option>
                  <option value="CANCELLED">Cancelled</option>
                  <option value="ON_HOLD">On_hold</option>
                  <option value="REJECTED">Rejected</option>
                  <option value="PENDING">Pending</option>
                  <option value="PROCESS">Process</option>
                  <option value="SUBMITTED">Submitted</option>
               </select>
               &nbsp;&nbsp;&nbsp;
               {% if users.status == "REJECTED" %}
               <strong style="color:red">This Profile is {{users.status}}</strong>
               {% else %}
               {% endif %}
            </td>
            {% endif %}
         </tr>
         <tr>
            <td style="width:30%">On Hold Time in Day</td>
            {% if users.status == "SUBMITTED" or users.status == "PROCESS" or users.status == "PRE_APPROVED" %}
            <td style="width:70%">
               <select id="onhold_time" name="onhold_time" style="width:30%">
                  <option value="None">None</option>
                  <option value="15">15</option>
                  <option value="30">30</option>
                  <option value="60">60</option>
                  <option value="90">90</option>
               </select>
            </td>
            {% else %}
            <td style="width:70%">
               <select id="onhold_time1" name="onhold_time" style="width:30%" disabled>
                  <option value="None">None</option>
                  <option value="15">15</option>
                  <option value="30">30</option>
                  <option value="60">60</option>
                  <option value="90">90</option>
               </select>
            </td>
            {% endif %}
         </tr>
         <tr>
            <td style="width:30%">Reason</td>
            {% if users.status == "SUBMITTED" or users.status == "PROCESS" or users.status == "PRE_APPROVED" %}
            <td style="width:70%">
               <select id="Reason" name="Reason" style="width:30%">
                  <option value="None">None</option>
                  <option value="Selfie">Issue in Selfie</option>
                  <option value="Company I'd">Company Id</option>
                  <option value="Salary slip">Salary Slip</option>
                  <option value="Insufficient_credit_history">Insufficient Credit History</option>
               </select>
            </td>
            {% else %}
            <td style="width:70%">
               <select id="Reason1" name="Reason" style="width:30%" disabled>
                  <option value="None">None</option>
                  <option value="Selfie">Issue in Selfie</option>
                  <option value="Company I'd">Company Id</option>
                  <option value="Salary slip">Salary Slip</option>
                  <option value="Insufficient_credit_history">Insufficient Credit History</option>
               </select>
            </td>
            {% endif %}
         </tr>
         <tr>
            <td style="width:30%">Other Reason</td>
            {% if users.status == "SUBMITTED" or users.status == "PROCESS" or users.status == "PRE_APPROVED" %}
            <td style="width:70%"> <textarea class="col-xs-12" id="ReasonText" name="ReasonText"></textarea></td>
            {% else %}
            <td style="width:70%"> <textarea class="col-xs-12" id="ReasonText1" name="ReasonText" disabled></textarea></td>
            {% endif %}
         </tr>
      </table>
      <center>
         {% if users.status == "SUBMITTED" or users.status == "PROCESS" or users.status == "PRE_APPROVED" %}
         <input class="btn btn-primary btn-sm w-10" name="save" type="submit" value="Save">
         {% else %}
         <input class="btn btn-primary btn-sm w-10" name="save" type="submit" value="Save" disabled>
         {% endif %}
         <input type="hidden" name="recovery" value="False">
         <input name="user_loan_application_id" type="hidden" value="{{users.loan_application_id}}"/>
         <input name="loan_id" type="hidden" value="{{users.id}}"/>
      </center>
   </div>

   {% if users.status == "APPROVED" and users.user_status == "Accept" %}
   <div class="card mb-2" style="border-style:solid;border-width:1px;width:100%">
      <div class="text-center">
         <h4><b style="height:50px">Loan Agreement</b></h4>
      </div>
      <table style="border-style:solid;border-width:1px;width:100%">
         <tr>
            <td style="width:30%">Loan agreement</td>
            <td style="width:70%"><button type="button"  onclick="window.open('/{{file}}')">View</button></td>
         </tr>
      </table>
      {% endif %}
   </div>
</form>
<script>
   function equfix_pull(){
        var loan_application_id = '{{users.loan_application_id}}'
        if (loan_application_id){
             $.ajax({
                 type:'GET',
                 async:false,
                 // url : '/equfix_dy_API/',
                 url : '/crif/get_score/',
                 data : {
                     loan_application_id:loan_application_id
                 },
                 success : function(data) {

                     alert("Credit score:"+data.is_taken)
                     setTimeout(cibil_show, 10000);

                 },
                 failure : function(result){

                 },
                 beforeSend: function(){
                 },
                 complete: function(){
                 },
             });
         }else{
             alert('Enter valid pan card')
         }
     }

   function equfix_show(){
   var user_id = '{{users.user_id}}'
   $.ajax({

      type: "get",
      data: {
           'userid': user_id,
         },
      url: "/user_account/cibilscore/",
      success: function (data) {
     $("#uid").val(data.is_taken)

   }
   });
   }

   function delay_days_fun(){
   var user_id = '{{users.user_id}}'
   $.ajax({

      type: "get",
      data: {
           'userid': user_id,
         },
      url: "/loan-app-data/delay_days/",
      success: function (data) {
           document.getElementById("total_order").innerText = data.total_order;
           document.getElementById("cash_order").innerText = data.cash_order;
           document.getElementById("credit_order").innerText = data.credit_order;
           document.getElementById("cod_order").innerText = data.cod_order;
           document.getElementById("delay_days").innerText = data.delay_days;
   }
   });
   }

</script>
<script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-pager.js/master/dist/lg-pager.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-autoplay.js/master/dist/lg-autoplay.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-hash.js/master/dist/lg-hash.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-share.js/master/dist/lg-share.js"></script>
<script src="../demo/js/lg-rotate.js"></script>
<script>
   lightGallery(document.getElementById('limg'));
</script>
{% endblock %}

