{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
{% load static %}
<style xmlns="http://www.w3.org/1999/html">
   p{font-size:1.1vw}
   .card_style
   {
   width:100%;
   border-style:solid;
   border-width:1px;
   text-align:center;
   padding:2%;
   }
   .card-header{
   font-size:1.2vw;
   }
   table , tr {
   height : 40px;
   }
   table tr td:first-child {
   border-style : solid;
   border-width: 1px;
   text-align: center;
   border-left-style: hidden;
   }
   table tr td:nth-child(2){
   padding-left: 50px;
   border-right-style: hidden;
   }
</style>
<link href="{% static 'css/colorbox.min.css' %}" rel="stylesheet"/>
<link class="ace-main-stylesheet" href="{% static 'css/ace.min.css' %}" id="main-ace-style" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.10.0/js/lightgallery.min.js" integrity="sha512-gDBgGPXSeC2hx1W3S1CfSHbAValtLI8OArTGf0UVX7Fwb9Ak7HUE3LK9UEZxKGYVrIe0CJUVZDk9B2dIPwJ6VQ==" crossorigin="anonymous"></script>
<!--viewer js image modal-->
<!--<link href="//unpkg.com/viewerjs/dist/viewer.css" rel="stylesheet">-->
<!--<script src="//unpkg.com/vue/dist/vue.js"></script>-->
<!--<script src="//unpkg.com/viewerjs/dist/viewer.js"></script>-->
<!--<script src="//unpkg.com/v-viewer/dist/v-viewer.js"></script>-->
<script
   crossorigin="anonymous"
   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
   src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<!--lightgallery -->
<!--lightgallery image plugin-->
<!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/js/lightgallery-all.js"></script>
<!-- lightgallery plugins -->
<script src="{% static 'js/lightgallery/js/lg-thumbnail.min.js' %}"></script>
<script>
   <!--When you use AMD make sure that lightgallery.js is loaded before lightgallery modules.-->
       require(['./lightgallery.js'], function() {
       require(["./lg-zoom.js", "./lg-thumbnail.js"], function(){
           $("#lightgallery").lightGallery();
       });
   });


</script>
   {% csrf_token %}
   <div class="inline-related dynamic-loan_loan_personal_details" id="loan_loan_profession_details-10">

       <div class="card mb-2"  style="border-style:solid;border-width:1px;width:100%">
         <div class="row text-center">
            <div class="col-10">
            <h4><b>Disbursed Amount Details</b>&nbsp;<span class="inline_label"></span></h4></div>
            </div>

         <div class="dt-responsive table-responsive">
            <table id="table-style-hover3" class="table table-striped table-hover table-bordered nowrap">
               <thead>
                  <tr>
                     <th>Sr.No</th>
                     <th>Order ID</th>
                     <th>Transaction Id</th>
                     <th>Status</th>
                     <th>Category</th>
                     <th>Amount</th>
                     <th>Mode</th>
                     <th>Type</th>
                     <th>Pay Source</th>
                     <th>Product Type</th>
                     <th>Platform Type</th>
                     <th>Date</th>
                  </tr>
               </thead>
               {% if disbursed_amount_details %}
               {% for payment in disbursed_amount_details %}
               <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{payment.order_id}}</td>
                  <td>{{payment.transaction_id}}</td>
                  <td>{{payment.status}}</td>
                  <td>{{payment.category}}</td>
                  <td>{{payment.amount}}</td>
                  <td>{{payment.mode}}</td>
                  <td>{{payment.type}}</td>
                  <td>{{payment.pay_source}}</td>
                  <td>{{payment.product_type}}</td>
                  <td>{{payment.platform_type}}</td>
                  <td>{{payment.date}}</td>
               </tr>
               {% endfor %}
               {% endif %}
            </table>
         </div>
      </div>
      <div class="card mb-2"  style="border-style:solid;border-width:1px;width:100%">
         <div class="row text-center">
            <div class="col-10">
            <h4><b>Repayment Details</b>&nbsp;<span class="inline_label"></span></h4></div>
            </div>

         <div class="dt-responsive table-responsive">
            <table id="table-style-hover4" class="table table-striped table-hover table-bordered nowrap">
               <thead>
                  <tr>
                     <th>Sr.No</th>
                     <th>Order ID</th>
                     <th>Transaction Id</th>
                     <th>Status</th>
                     <th>Category</th>
                     <th>Amount</th>
                     <th>Mode</th>
                     <th>Type</th>
                     <th>Pay Source</th>
                     <th>Product Type</th>
                     <th>Platform Type</th>
                     <th>Date</th>
                  </tr>
               </thead>
               {% if repayment_loan_amount %}
               {% for repayment in repayment_loan_amount %}
               <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{repayment.order_id}}</td>
                  <td>{{repayment.transaction_id}}</td>
                  <td>{{repayment.status}}</td>
                  <td>{{repayment.category}}</td>
                  <td>{{repayment.amount}}</td>
                  <td>{{repayment.mode}}</td>
                  <td>{{repayment.type}}</td>
                  <td>{{repayment.pay_source}}</td>
                  <td>{{repayment.product_type}}</td>
                  <td>{{repayment.platform_type}}</td>
                  <td>{{repayment.date}}</td>
               </tr>
               {% endfor %}
               {% endif %}
            </table>
         </div>
      </div>

 </div>
<script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-pager.js/master/dist/lg-pager.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-autoplay.js/master/dist/lg-autoplay.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-hash.js/master/dist/lg-hash.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-share.js/master/dist/lg-share.js"></script>
<script src="../demo/js/lg-rotate.js"></script>

{% endblock %}

