{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form action="/ecom/cod_payment/" method="post">{% csrf_token %}
                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.No</th>
                                               <th>Loan Application Id</th>
                                                <th>Withdraw Count</th>

                                            </tr>
                                            </thead>
                                             {% if loan_data %}
                                                {% for loan, count in loan_data.items %}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td><a href="/loan-app-data/users_withdraw_payment_details/{{loan}}/">{{loan}}</a></td>
                                                    <td>{{count}}</td>

                                                </tr>
                                                {% endfor %}
                                                {% endif %}

                                        </table>

                                    </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
