{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                               <a href="/loan-app-data/return_approved_user_csv/{{id_list}}/"><input id="mrunali" type="button"
                                                           class="btn btn-primary"
                                                           value="Download CSV"
                                                           style="float:right;display:;"></a>


                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Name</th>
                                                <th>Created Date</th>
                                                <th>Loan Application Id</th>
                                                <th>Apply Amount</th>
                                                <th>Approved Amount</th>
                                                <th>Current Designation</th>
                                                <th>Username</th>
                                                <th>Loan Start Date</th>
                                                <th>Loan End Date</th>

                                            </tr>
                                            </thead>
                                            {% for user in users %}


                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/user-all-details/{{user.loan_application_id}}/"
                                                       title="Applications View">{{user.loan_application.user_personal.name}}</a>
                                                </td>
                                                <td>{{user.created_date}}</td>
                                                <td>
                                                    <a href="/LoanAppData/loanapplication/{{user.loan_application_id}}/change/"
                                                       title="My Profile old ">{{user.loan_application.loan_application_id}}</a>
                                                </td>
                                                <td><strong>{{user.loan_application.loan_scheme_id}}</strong></td>
                                                <td><strong>{{user.loan_application.approved_amount}}</strong></td>
                                                <td>{{user.loan_application.user_professional.company_designation}}</td>
                                                <td>{{user.loan_application.user.username}}</td>
                                                <td>{{user.loan_application.loan_start_date}}</td>
                                                <td>{{user.loan_application.loan_end_date}}</td>

                                            </tr>
                                            {% endfor %}

                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
function call_disable()
{
console.log("mrunali");
document.getElementById("akash").style.display = "none";
}

</script>
{% endblock %}
