{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
<!--                    <h5>{{msg}}</h5>-->
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    {% csrf_token %}
                                    {% if seller %}
                                    <form action="/ecom/search_for/Seller/" method="post"
                                          enctype="multipart/form-data">{% csrf_token %}
                                        <h3>Search by Seller</h3><br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>Enter Name:
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                            name="name"
                                                            placeholder="Enter name of Seller"
                                                            type="text" required>
                                                </p>
                                            </div>

                                        </div>
                                        <br>

                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                            type="submit"
                                            class="btn btn-primary waves-effect waves-light m-r-10"
                                            value="Search">
                                    </form>

                                    {% endif %}
                                    {% if Product %}
                                    <form action="/ecom/search_for/Product/" method="post"
                                          enctype="multipart/form-data">{% csrf_token %}
                                        <h3>Search by Product</h3>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>Enter Name:
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                            name="name"
                                                            placeholder="Enter name of Product"
                                                            type="text" required>
                                                </p>
                                            </div>

                                        </div>


                                        <br>

                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                            type="submit"
                                            class="btn btn-primary waves-effect waves-light m-r-10"
                                            value="Search">
                                    </form>

                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if all_data %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <b><h4>{{msg}}</h4></b>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="table-responsive">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home7"
                                         role="tabpanel">
                                        <font size="1">
                                            <div class="dt-responsive table-responsive">
                                                <table id="table-style-hover"
                                                       class="table table-striped table-hover table-bordered nowrap">
                                                    {% if seller_data %}
                                                    <thead class="table-warning">
                                                    <tr>
                                                     <th>Sr.no</th>
                                                        <th>Product Name</th>
                                                        <th>Category</th>
                                                        <th>SubCategory</th>
                                                        <th>Base Category</th>
                                                        <th>Re Status</th>
                                                        <th>Priority</th>
                                                        <th>Dashboard Status</th>
                                                        <th>Seller</th>
                                                        <th>Created Date</th>
                                                    </tr>
                                                    </thead>
                                                    {% for data in seller_data %}
                                                    <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td>{{data.name}}</td>
                                                        <td>
                                                            {{data.base_category.sub_category.category.name}}
                                                        </td>
                                                        <td>{{data.base_category.sub_category.name}}</td>
                                                        <td>{{data.base_category.base_name}}</td>
                                                        <td>{{data.re_status}}</td>
                                                        <td>{{data.priority}}</td>
                                                        <td>{{data.dashboard_status}}</td>
                                                        <td>{{data.seller}}</td>
                                                        <td>{{data.created_date}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                     {% if product_data %}
                                                    <thead class="table-warning">
                                                    <tr>
                                                        <th>Sr.no</th>
                                                        <th>Product Name</th>
                                                        <th>Category</th>
                                                        <th>SubCategory</th>
                                                        <th>Base Category</th>
                                                        <th>Re Status</th>
                                                        <th>Priority</th>
                                                        <th>Dashboard Status</th>
                                                        <th>Seller</th>
                                                        <th>Created Date</th>

                                                    </tr>
                                                    </thead>
                                                    {% for data in product_data %}
                                                    <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td>{{data.name}}</td>
                                                        <td>
                                                            {{data.base_category.sub_category.category.name}}
                                                        </td>
                                                        <td>{{data.base_category.sub_category.name}}</td>
                                                        <td>{{data.base_category.base_name}}</td>
                                                        <td>{{data.re_status}}</td>
                                                        <td>{{data.priority}}</td>
                                                        <td>{{data.dashboard_status}}</td>
                                                        <td>{{data.seller}}</td>
                                                        <td>{{data.created_date}}</td>
<!--                                                        <td>-->
<!--                                                            <button type="button"-->
<!--                                                                    class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"-->
<!--                                                                    data-target="#myModal"-->
<!--                                                                    data-toggle="modal"-->
<!--                                                                    onclick="call_modal('{{data.id}}','{{data.name}}','{{data.mobile_no}}','{{data.landline_no}}','{{data.gst_no}}','{{data.pan_no}}','{{data.main_address}}','{{data.address}}','{{data.shop_act_licence}}','{{data.description}}')"-->
<!--                                                                    data-modal="modal-13"><i-->
<!--                                                                    class="icofont icofont-plus m-r-5"></i>-->
<!--                                                                Edit-->
<!--                                                            </button>-->
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                </table>
                                            </div>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

