{% extends "recovery/base.html" %}
{% block uname %}
{{user.username}}
{% endblock uname %}

{% block content %}
<body><br><br>
<div class="col-xs-12">

    <div class="clearfix">
        <div class="pull-right tableTools-container"></div>
    </div>
    <div class="table-header">
        " Insert credentials to add user "
    </div>
    <br><br>
    {% if msg %}
    <b><p>{{ msg }}</p></b><br><br>
    {% endif %}
    <form action="/recovery/add-user-function/" method="post">
        {% csrf_token %}
        Enter Username:
        <input ,, name="username" placeholder="Enter username" type="text"> &nbsp
        Enter Password:
        <input ,, name="password" placeholder="Enter password" type="password"> &nbsp
        Select Team:
        <select name="team">
            {% if teams %}
            {% for team in teams %}
            <option value="{{team}}">{{team}}</option>
            {% endfor %}
            {% endif %}
        </select>
        <input type="submit" value="submit">
    </form>
</body>
{% endblock %}