{% extends "recovery/base.html" %}
{% load static %}
{% block uname %}
				{{user.username}}																{% endblock uname %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src="{% static 'js/chartsjs/Chart.js' %}"></script>
    <script src="{% static 'css/chartsjs/Chart.css' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--        <div style="float:left;width:60%;" class="container-fluid">-->
<!--            <div class="">-->
<!--&lt;!&ndash;                <div class="col-sm-6 col-xs-12 graph_div">&ndash;&gt;-->
<!--                <div class="box">-->
<!--                    <div class="box-header">-->
<!--                        <h3 class="box-title">Age group of loan disbursed</h3>-->
<!--                        <p class="text-center"><strong>Salary Range of Loan Disbursed</strong></p>-->
<!--                        <canvas id="myChart1"></canvas>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    <div style="float:left;width:100%;" class="container-fluid">
                <div class="">
<!--                <div class="col-sm-6 col-xs-12 graph_div">-->
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Today's Recoverd Amount</h3>
                        <p class="text-center"><strong>Recovery Amount per user</strong></p>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>

        </div>






    <script>


<!--var ctx = document.getElementById('myChart1');-->
<!--        var myChart = new Chart(ctx, {-->
<!--            type: 'bar',-->
<!--            data: {-->
<!--                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],-->
<!--                datasets: [{-->
<!--                    label: '# Defaulter\'s Payment Per Day By Members',-->
<!--                    data: [12, 19, 3, 5, 2, 3],-->
<!--                    backgroundColor: [-->
<!--                        'rgba(255, 99, 132, 0.2)',-->
<!--                        'rgba(54, 162, 235, 0.2)',-->
<!--                        'rgba(255, 206, 86, 0.2)',-->
<!--                        'rgba(75, 192, 192, 0.2)',-->
<!--                        'rgba(153, 102, 255, 0.2)',-->
<!--                        'rgba(255, 159, 64, 0.2)'-->
<!--                    ],-->
<!--                    borderColor: [-->
<!--                        'rgba(255, 99, 132, 1)',-->
<!--                        'rgba(54, 162, 235, 1)',-->
<!--                        'rgba(255, 206, 86, 1)',-->
<!--                        'rgba(75, 192, 192, 1)',-->
<!--                        'rgba(153, 102, 255, 1)',-->
<!--                        'rgba(255, 159, 64, 1)'-->
<!--                    ],-->
<!--                    borderWidth: 1-->
<!--                }]-->
<!--            },-->
<!--            options: {-->
<!--                scales: {-->
<!--                    yAxes: [{-->
<!--                        ticks: {-->
<!--                            beginAtZero: true-->
<!--                        }-->
<!--                    }]-->
<!--                }-->
<!--            }-->
<!--        });-->

var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: getData(),
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
function getData(){
    var jsonData = $.ajax({
        type:'get',
        url: '/recovery/recovery_amount/',
        dataType: 'json',
        success: function(data){
            tempData = JSON.parse(data)
            d = tempData['datasets'][0]
            var finalData = {
            type: 'bar',
            data: {
                labels:tempData['labels'],
                datasets:[{
                    label: d['label'],
                    data: d['data'],
                    backgroundColor: d['backgroundColor'],
                    borderColor: d['borderColor'],
                    borderWidth: d['borderWidth']
                }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                            }
                        }]
                    }
                }
            }
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx,finalData);

            return finalData;
        }
    });
}
    </script>




{% endblock %}