{% extends "recovery/base.html" %}

{% load static %}
{% load auth_extras %}
{% block uname %}
{{user.username}}
{% endblock uname %}
{% block content %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ msg }}</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form action="/recovery/create_notification/"
                                  class="md-float-material card-block" enctype="multipart/form-data"
                                  method="POST">
                                {% csrf_token %}
                                <div class="row">

                                    <div class="col-sm-6">
                                        <b><p>Enter Notification Name : </p></b>
                                        <input name="name" class="form-control text-center"
                                               placeholder="Enter Name Here">
                                    </div>


                                    <div class="col-sm-6">
                                        <b><p>Enter Title : </p></b>
                                        <input name="title" class="form-control text-center"
                                               placeholder="Enter Title Here"
                                        >
                                    </div>
                                </div>

                                <br>
                                <div class="row">

                                    <div class="col-sm-6">
                                        <b><p>Select Notification Image</p></b>

                                        <div class="file-field">
                                            <div class="float-left">
                                                <input class="btn" type="file" name="img">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="">
                                            <b><p>Notification Status : </p></b>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="status"
                                                       id="status1" value="True" checked>
                                                <label class="form-check-label" for="status1">True</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="status"
                                                       id="status2" value="False">
                                                <label class="form-check-label" for="status2">False</label>
                                            </div>
                                            <!--                                            <input type="checkbox" class="" name="status"/>-->
                                            <!--                                            <span class="lbl">True</span>-->
                                        </label>
                                    </div>
                                    <div class="col-sm-12">
                                        <b><p>Select Type </p></b>
                                        <select class="form-control form-control-primary"
                                                name="type" id="type" style="text-align-last:center;" required>
                                            <option value="" style="display: none">--Select Notification Type--</option>
                                            <option value="App">App</option>
                                            <option value="Web">Web</option>
                                            <option value="Both">Both</option>
                                        </select>
                                    </div>
                                </div>

                                <br>
                                <div class="row">
                                    <div class="container">
                                        <div class="col-sm-12">

                                            <b><p>Description </p></b>
                                            <textarea cols="40" id="description" name="description" style="width:93%;"
                                                      rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="text-center m-t-20">
                                            <button class="btn btn-primary waves-effect waves-light m-r-10"
                                                    type="submit">
                                                Save
                                            </button>
                                            <button class="btn btn-danger waves-effect waves-light"
                                                    type="reset">
                                                Discard
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
