{% extends "recovery/base.html" %}
{% block uname %}
{{user.username}}
{% endblock uname %}
{% block content %}
{% load static %}
<style>
	.form-horizontal .controls:first-child{
	margin-left:0px;
	margin-top:10px;
	margin-bottom:5px;
	}
	label{
	margin-right:10px;
	}
	.form-horizontal .control-group .control-label {
	display:table-cell;
	min-width:150px;
	float:none;
	padding:10px 20px 5px 10px;
	width:auto;
	}
	.form-horizontal .control-label {
	background-color:white !important;
	}
	.form-horizontal .control-label {
	border-bottom:1px solid #EDEDED !important;
	}
</style>
<!--  <link rel="stylesheet" type="text/css" href="{% static 'suit/bootstrap/css/bootstrap.min.css' %}" media="all"/>-->
<!--  <link rel="stylesheet" type="text/css" href="{% static 'suit/css/suit.css' %}" media="all">-->
<!--  <script src="{% static 'suit/bootstrap/js/bootstrap.min.js' %}"></script>-->
<link href="{% static 'css/colorbox.min.css' %}" rel="stylesheet"/>
<link class="ace-main-stylesheet" href="{% static 'css/ace.min.css' %}" id="main-ace-style" rel="stylesheet"/>
<form action="/recovery/rbl_save_data_process/" class="form-horizontal" method="post">
	{% csrf_token %}
	<div class="col-xs-12" style="border:1px solid black;padding:0px;margin-bottom:10px;">
		<div class="col-xs-12" style="border-bottom:1px solid black;background-color:#438EB9;color:white">
			<h5><b>Analytics History:</b>&nbsp;<span class="inline_label"></span></h5>
		</div>
		<div class="form-group col-sm-6">
			<div class="control-label"><label class=" col-sm-2" for="id_total_work_experience"><b>Pan Mobile
				Count:</b>
				</label>
			</div>
			<div class="controls"><a href="/panloan/{{users.pan_number}}/"> <strong style="color:red">{{pancount}} </strong>&nbsp;
				</a>
			</div>
		</div>
		<div class="col-xs-12 " style="margin-top: 10px;">
			<div class="col-xs-6">
				<div class="">
					<label class=" col-sm-4" for="id_total_work_experience"><b>Over Due:</b></label>
				</div>
				{% if overdue %}
				<div class="controls"><strong style="color:red">{{overdue_count}}</strong>&nbsp;</div>
				{% else %}
				<div class="controls"><strong style="color:black">No Overdue Messages</strong>&nbsp;</div>
				{% endif %}
			</div>
			<div class="col-xs-6">
				<div class=""><label class=" col-sm-4" for="id_total_work_experience"><b>DPD:</b></label>
					</label>
				</div>
				<div class="controls"><strong style="color:red">{{user_dpd}}</strong>&nbsp;</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_current_designation"><b>Loan Details:</b>
					</label>
				</div>
				<div class="controls"><a
					href="/recovery_user_wise_loan_details/{{users.user}}/"> No of Loan <strong style="color:black">{{user_loancount_list}}</strong>
					with Transaction <strong style="color:black">{{user_transaction_list}}</strong></a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_working_from"><b>Referance Details:</b>
					</label>
				</div>
				<div class="controls">&nbsp;<a href="/recovery_user_referance/{{users.user_id}}/">
					<strong>{{NOT_FOUND}}</strong></a>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="col-xs-12" style="border:1px solid black;padding:0px;margin-bottom:10px">
		<div class="col-xs-12" style="border-bottom:1px solid black;background-color:#438EB9;color:white">
			<h5><b>User:</b>&nbsp;<span class="inline_label"></span></h5>
		</div>
		<div class="col-xs-12" style="margin-top: 10px;">
			<div class="">
				<div class=""><label class=" col-sm-4" for=""><b>User:</b> </label>
				</div>
			</div>
			<div class="controls">
				{{users.user}}
			</div>
		</div>
		<div class="col-xs-12" style="margin-top: 10px;">
			<div class="">
				<div class=""><label class=" col-sm-4" for=" "><b>Loan Application Id:</b> </label>
				</div>
			</div>
			<div class="controls">
				{{users.loan_application_id}}
			</div>
		</div>
	</div>
	<div class="col-xs-12" style="border:1px solid black;padding:0px;margin-bottom:10px">
		<div class="col-xs-12" style="border-bottom:1px solid black;background-color:#438EB9;color:white">
			<h5><b>Personal Details:</b>&nbsp;<span class="inline_label"></span></h5>
		</div>
		<div class="col-xs-12" style="margin-top: 10px;">
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_name" style="margin-top:60px"><b>Name:</b>
					</label>
				</div>
				<div class="controls"><strong>{{users.user_personal.name}}</strong>
					<img alt="Not selfe Photo " height="150" src="{{users_images}}"
						style="margin-left:300px;border:1px solid" width="150"/>
				</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_pan_number"><b>PAN Card:</b> </label>
				</div>
				<div class="controls input-group">{{users.user_personal.pan_number}} &nbsp;&nbsp;
				</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_date_of_birth"><b>Date of Birth:</b>
					</label>
				</div>
				<div class="controls">{{users.user_personal.birthdate}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_marital_status"><b>Marital
					Status:</b> </label>
				</div>
				<div class="controls">{{users.user_personal.marital_status}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_occupation"><b>Occupation:</b>
					</label>
				</div>
				<div class="controls">{{users.user_personal.occupation}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_annual_income"><b>Monthly Income:</b>
					</label>
				</div>
				<div class="controls">{{users.user_personal.monthly_income}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_mobile_number"><b>Mobile Number:</b>
					</label>
				</div>
				<div class="controls">{{users.user_personal.mobile_no}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_mobile_number"><b>Alt Mobile Number:</b>
					</label>
				</div>
				<div class="controls">{{users.user_personal.alt_mobile_no}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_pan_number"><b>Old Cibil Score:</b>
					</label>
				</div>
				<div class="controls input-group"><strong>{{user_cibil_score}} &nbsp;&nbsp;</strong>
				</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_pin_code"><b>Total Apply:</b>
					</label>
				</div>
				<div class="controls"><strong style="color:green">{{user_count}}</strong></div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_address"><b>Curr Address:</b> </label>
				</div>
				<div class="controls">{{users.current_address.address}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_address"><b>Perma Address:</b> </label>
				</div>
				<div class="controls">{{users.permanent_address.address}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_pin_code"><b>Curr Pincode:</b> </label>
				</div>
				<div class="controls">{{users.current_address.pin_code}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_pin_code"><b>Perma Pincode:</b> </label>
				</div>
				<div class="controls">{{users.permanent_address.pin_code}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_pin_code"><b>Curr city:</b> </label>
				</div>
				<div class="controls">{{users.current_address.city}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_pin_code"><b>Perma city:</b> </label>
				</div>
				<div class="controls">{{users.permanent_address.city}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_pin_code"><b>Total Overdue &
					Defaulter %:</b> </label>
				</div>
				<div class="controls"><strong style="color:red">{{overdue}}</strong></div>
			</div>
		</div>
	</div>
	<div class="col-xs-12" style="border:1px solid black;padding:0px;margin-bottom:10px">
		<div class="col-xs-12" style="border-bottom:1px solid black;background-color:#438EB9;color:white">
			<h5><b>Professional Details:</b>&nbsp;<span class="inline_label"></span></h5>
		</div>
		<div class="col-xs-12" style="margin-top: 10px;">
			<div class="col-sm-6">
				<div class=""><label class=" col-sm-4" for="id_company_name">
					<b>Company Name:</b></label>
				</div>
				<div class="controls">{{users.user_professional.company_name}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class=" col-sm-4" for="id_total_work_experience"><b>Work
					Expereince:</b></label>
					</label>
				</div>
				<div class="controls">{{users.total_work_experience}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_current_empolyer_name"><b>Cuurent
					Employer
					Name:</b> </label>
				</div>
				<div class="controls">{{users.user_professional.current_empolyer_name}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_current_designation"><b>Current
					Designation:</b>
					</label>
				</div>
				<div class="controls">{{users.user_professional.company_designation}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_work_email_id"><b>Work Email:</b>
					</label>
				</div>
				<div class="controls">{{users.user_professional.company_email_id}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_working_from"><b>Working From:</b>
					</label>
				</div>
				<div class="controls">{{users.working_from}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_company_landline_number"><b>Comp LandLine:</b>
					</label>
				</div>
				<div class="controls">{{users.user_professional.company_landline_no}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_work_address"><b>Work Address:</b>
					</label>
				</div>
				<div class="controls">{{users.user_professional.company_address}}</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12" style="border:1px solid black;padding:0px;margin-bottom:10px">
		<div class="col-xs-12" style="border-bottom:1px solid black;background-color:#438EB9;color:white">
			<h5><b>Documents Details:</b>&nbsp;<span class="inline_label"></span></h5>
		</div>
		<div class="">
			<div class="col-xs-12" style="margin-top: 10px;">
				<!-- PAGE CONTENT BEGINS -->
				<div>
					<div class="col-xs-6">
						<ul class="list-inline ace-thumbnails clearfix">
							<li>
								<a href="{{ company_id  }}" title="Company Id Card"
									data-rel="colorbox">
								<img alt="Not Photo"
									src="{{ company_id  }}"/>
								</a>
								<div class="tags">
									<span class="label-holder">
									<span class="label label-warning arrowed-in">Company Id Card</span>
									</span>
								</div>
							</li>
							<li>
								<a href="{{ salary_slip }}" title="Salary Slip">
								<img alt="Not Photo" style=""
									src="{{ salary_slip }}"/>
								</a>
								<div class="tags">
									<span class="label-holder">
									<span class="label label-warning arrowed-in">Salary Slip</span>
									</span>
								</div>
							</li>
							<li>
								<a href="{{pan}}" title="PAN Card" data-rel="colorbox">
								<img alt="Not Photo" src="{{pan}}"/>
								</a>
								<div class="tags">
									<span class="label-holder">
									<span class="label label-warning arrowed-in">PAN Card</span>
									</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- PAGE CONTENT ENDS -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<div class="col-xs-12" style="border:1px solid black;padding:0px;margin-bottom:10px">
		<div class="col-xs-12" style="border-bottom:1px solid black;background-color:#438EB9;color:white">
			<h5><b>Bank Details:</b>&nbsp;<span class="inline_label"></span></h5>
		</div>
		<div class="col-xs-12" style="margin-top: 10px;">
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_current_empolyer_name"><b>Account No:</b> </label></div>
				<div class="controls">{{users.bank_id.account_number}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_current_designation"><b>Bank Name:</b>
					</label>
				</div>
				<div class="controls">{{users.bank_id.bank_name}}</div>
			</div>
			<div class="col-sm-6">
				<div class=""><label class="col-sm-4" for="id_current_designation"><b>IFSC Code:</b>
					</label>
				</div>
				<div class="controls">{{users.bank_id.ifsc_code}}</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12" style="border:1px solid black;padding:0px;margin-bottom:10px">
    <div class="col-xs-12" style="border-bottom:1px solid black;background-color:#438EB9;color:white">
        <h5><b>Loan Details:</b>&nbsp;<span class="inline_label"></span></h5>
    </div>
    <div class="col-xs-12" style="margin-top: 10px;">
        <div class="row">
            <div class="col-sm-6">
               <label for="id_ifsc_code"><b>Repayment Amount :</b>
                    {{users.loan_scheme_id}}
			   </label>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label><b>Status :</b> </label>&nbsp;&nbsp;
                    <select id="id_status" name="id_status" style="width:200px;">
                        <option selected="" value="">{{users.status}}</option>
                        <option value="CANCELLED">Cancelled</option>
                        <option value="ON_HOLD">On_hold</option>
                        <option value="REJECTED">Rejected</option>
                        <option value="PENDING">Pending</option>
                        <option value="SUBMITTED">Submitted</option>
                    </select>&nbsp;&nbsp;&nbsp;
                    {% if users.status == "REJECTED" %}
                    <strong style="color:red">This Profile is {{users.status}}</strong>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label><b>On Hold Time in Day :</b>
                    </label>
                    <select id="onhold_time" name="onhold_time" style="width:200px;">
                        <option value="None">None</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="60">60</option>
                        <option value="90">90</option>
                    </select>
                </div>
            </div>

			<div class="col-sm-6">
                <label>
                    <b>Limit Loan Amount :</b></label>
                <select id="autolimit" name="autolimit">
                    <option value="0">None</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
                <input type="hidden"  name="recovery" value="True">

                <input name="user_loan_application_id" type="hidden" value="{{users.loan_application_id}}"/>
            </div>

        </div>
        <div class="row">
			 <div class="col-sm-6">
                <div class="form-group">
                    <label for=""><b>Reason :</b></label>
                    <select id="Reason" name="Reason" style="width:200px;">
                        <option value="None">None</option>
                        <option value="Selfie">Issue in Selfie</option>
                        <option value="Company I'd">Company Id</option>
                        <option value="Salary slip">Salary Slip</option>
                        <option value="Insufficient_credit_history">Insufficient Credit History</option>
                    </select>
                    <!--   <input class="btn btn-primary btn-large" name="save" type="submit" value="Save"/>&nbsp;-->
                    <input name="user_loan_application_id" type="hidden" value="{{users.loan_application_id}}"/>
                </div>
            </div>

            <div class="col-sm-6">
                <p><b>Other Reason :</b></p>
                <textarea id="ReasonText" name="ReasonText" rows="1" cols="42"></textarea>
            </div>


        </div>
		<br>

		<div class="col-sm-12" >
			<center>
				<input class="btn btn-sm btn-primary" name="save" type="submit" value="Save"/>&nbsp;
			</center>
		</div>
        <br>
        <br>
    </div>
	<br>
	<br>

	<!--    <input class="btn btn-primary btn-large" type="submit" name="save" value="Save"/>&nbsp;-->
	<!--    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-large">Back</a>-->
</form>
{% endblock %}
{% block footer %}
{{ block.super }}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- page specific plugin scripts -->
<script src="{% static 'js/jquery.colorbox.min.js' %}"></script>
<!-- inline scripts related to this page -->
<script type="text/javascript">
	jQuery(function($) {
	var $overflow = '';
	var colorbox_params = {
	rel: 'colorbox',
	reposition:true,
	scalePhotos:true,
	scrolling:false,
	previous:'<i class="ace-icon fa fa-arrow-left"></i>',
	next:'<i class="ace-icon fa fa-arrow-right"></i>',
	close:'&times;',
	current:'{current} of {total}',
	maxWidth:'100%',
	maxHeight:'100%',
	onOpen:function(){
	$overflow = document.body.style.overflow;
	document.body.style.overflow = 'hidden';
	},
	onClosed:function(){
	document.body.style.overflow = $overflow;
	},
	onComplete:function(){
	$.colorbox.resize();
	}
	};
	
	$('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
	$("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon
	
	
	$(document).one('ajaxloadstart.page', function(e) {
	$('#colorbox, #cboxOverlay').remove();
	});
	})
</script>
{% endblock %}

