{% extends "recovery/base.html" %}
{% load mathfilters %}

{% load staticfiles %}
{% block uname %}
{{user.username}}
{% endblock uname %}

{% block content %}
{% if users %}
<script>

$('a').tooltip({
    disabled: true,
    close: function( event, ui ) { $(this).tooltip('disable'); }
});

$('a').on('click', function () {
    $(this).tooltip('enable').tooltip('open');
});





</script>

<p class="col-xs-12" style="color:green;font-size:15px">{{msg}}</p>
<div class="row">


    <div class="col-xs-12">

        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            Results for " Defaulter's List "
        </div>

        <!-- div.table-responsive -->

        <!-- div.dataTables_borderWrap -->
        <div>
            <table class="table table-bordered table-striped" id="dynamic-table">
                <thead>
                <tr>
                    <th>User Name</th>
                    <th>User</th>
                    <th>Calls</th>
                    <th>Loan Id</th>
                    <th>Repayment Amount</th>
                    <th>Balance</th>
                    <th>Loan Start Date</th>
                    <th>Loan End Date</th>
                    <th>Defaulter Agent name</th>
                    <th>Status</th>
                </tr>
                </thead>
                {% for user , call_count_list,recovery_agent_name ,get_balance_amt in users %}

                <tr>
                    <td>
                        <a href="/customer/user-all-details/{{user.loan_transaction.id}}/" title="My Profile">{{user.loan_transaction.user_personal.name}}</a>
                    </td>
                    <td>
                        <a class="primary" data-target="#myModal" data-toggle="modal" href="#"
                           onclick="call_modal('{{user.id}}','{{user.loan_transaction.user}}')"
                           title="My Remark">{{user.loan_transaction.user}}</a>
                    </td>

                    <td>
                        <a href="/call_history/{{user.loan_transaction.loan_application_id}}/" title="My Calls">{{call_count_list}}</a>
                    </td>
                    <td><a href="/recovery/user-contacts/{{user.loan_transaction.user.id}}/" title="contact list">
                        {{user.loan_transaction.loan_application_id}}</a></td>
                    <td>
                    <ahref="/forword_name/{{user.id}}/" title="Forward Me">
                            <strong>{{user.loan_transaction.loan_scheme_id}}</strong>
                        </a>
                    </td>
                    <td>
                        <a  href="/forword_name/{{user.id}}/" title="Forward Me">
                            <strong style="color:#8B0000">{{get_balance_amt}}</strong>
                        </a>
                    </td>
                    {% if user.loan_transaction.loan_start_date %}
                        <td>{{user.loan_transaction.loan_start_date | date:'d M Y'}}</td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                    <td>{{user.loan_transaction.loan_end_date | date:'d M Y'}}</td>
                    <td>{{recovery_agent_name}}</td>
                    <td>&nbsp;<a href="/recovery_user_referance/{{user.loan_transaction.loan_application_id}}/">
                        {{user.loan_transaction.status}}</a></td>
                </tr>
                {% endfor %}
            </table>

            <!--   Remarks Modal         -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header"
                             style="background-color: #ccc; color: blue; size: 10px">
                            Add Calling Details
                            <button class="close" data-dismiss="modal" style="color: red"
                                    type="button">&times;
                            </button>
                        </div>

                        <form action="" class="form-horizontal"
                              method="POST">
                            {% csrf_token %}
                            <!-- Modal body -->
                            <div class="modal-body">

                                <div class="form-group">
                                    <label class="col-sm-4"
                                           style="text-align: left">User Name</label>
                                    <div class="col-sm-8">
                                        <input class="col-xs-12" id="mobileno" name="mobileno" readonly
                                               style="border:0px" type="text" value=""/>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4"
                                           for="form-field-1" style="text-align: left">Remark</label>

                                    <div class="col-sm-8">
                                        <select class="col-xs-12 " class="form-control" id="cmd_remark"
                                                name="cmd_remark">
                                            {% for r in remark %}
                                            <option value="{{r.id}}">{{r.remark_title}}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4"
                                           style="text-align: left">Next Calling Time</label>
                                    <div class="col-sm-8">
                                        <select class="col-xs-12" id="next_call_time" name="next_call_time">
                                            <option value="8:00 AM">8:00 AM</option>
                                            <option value="8:30 AM">8:30 AM</option>
                                            <option value="9:00 AM">9:00 AM</option>
                                            <option value="9:30 AM">9:30 AM</option>
                                            <option value="10:00 AM">10:00 AM</option>
                                            <option value="10:30 AM">10:30 AM</option>
                                            <option value="11:00 AM">11:00 AM</option>
                                            <option value="11:30 AM">11:30 AM</option>
                                            <option value="12:00 PM">12:00 PM</option>
                                            <option value="12:30 PM">12:30 PM</option>
                                            <option value="13:00 PM">1:00 PM</option>
                                            <option value="13:30 PM">1:30 PM</option>
                                            <option value="14:00 PM">2:00 PM</option>
                                            <option value="14:30 PM">2:30 PM</option>
                                            <option value="15:00 PM">3:00 PM</option>
                                            <option value="15:30 PM">3:30 PM</option>
                                            <option value="16:00 PM">4:00 PM</option>
                                            <option value="16:30 PM">4:30 PM</option>
                                            <option value="17:00 PM">5:00 PM</option>
                                            <option value="17:30 PM">5:30 PM</option>
                                            <option value="18:00 PM">6:00 PM</option>
                                            <option value="18:30 PM">6:30 PM</option>
                                            <option value="19:00 PM">7:00 PM</option>
                                            <option value="19:30 PM">7:30 PM</option>
                                            <option value="20:00 PM">8:00 PM</option>


                                        </select>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4"
                                           for="form-field-1" style="text-align: left">Expected Payment Date</label>

                                    <div class="col-sm-8">
                                        <input class="col-xs-12" id="txtex_payment_date"
                                               name="txtex_payment_date" type="date" value=""/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4"
                                           for="form-field-1" style="text-align: left">Call Description</label>

                                    <div class="col-sm-8">
            												<textarea class="col-xs-12" id="call_desc"
                                                                      name="call_desc" type="date"
                                                                      value=""></textarea>
                                    </div>
                                </div>
                            </div>


                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                                        id="btnsendmsg" name="btnsendmsg"
                                        onclick="Call_data_save()" type="button">Save
                                </button>
                                <button class="btn btn-secondary fa fa-times btn btn-danger"
                                        data-dismiss="modal"
                                        type="button">Close
                                </button>

                            </div>


                            <input class="col-xs-10" hidden="" id="txtrecovery_id"
                                   name="txtrecovery_id" type="text" value=""/>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
function call_modal(id,mobileno){
	var datetime=new Date();
	document.getElementById('txtrecovery_id').value=id;
	document.getElementById('mobileno').value=mobileno;
	document.getElementById('txtex_payment_date').valueAsDate=datetime;

}

<!--Recovery call data save-->
function Call_data_save(){

    var recovery_id = document.getElementById('txtrecovery_id').value;
    var ex_payment_date = document.getElementById('txtex_payment_date').value;
    var call_desc = document.getElementById('call_desc').value;
    var cmd_remark = document.getElementById('cmd_remark').value;
    var next_call_time=document.getElementById('next_call_time').value;

      $.ajax({
         type: "get",
         data: {
          'recovery_id': recovery_id,
          'ex_payment_date':ex_payment_date,
          'call_desc':call_desc,
          'cmd_remark':cmd_remark,
          'next_call_time':next_call_time
        },
         url: "/recovery/recovery_call_history/",
         success: function (data) {
            alert(data.is_taken);
          }
     });
}








</script>

{% else %}
<div class="alert alert-block alert-info">
    <p>No Defaulters Found</p>
</div>
{% endif %}

<!-- inline scripts related to this page -->
<script type="text/javascript">
			jQuery(function($) {
				//initiate dataTables plugin
				var myTable =
				$('#dynamic-table')
				//.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
				.DataTable( {
					bAutoWidth: false,
					"aoColumns": [
					  { "bSortable": false },
					  null, null,null, null, null,null,null,null,
					  { "bSortable": false }
					],
					"aaSorting": [],


					//"bProcessing": true,
			        //"bServerSide": true,
			        //"sAjaxSource": "http://127.0.0.1/table.php"	,

					//,
					//"sScrollY": "200px",
					//"bPaginate": true,

					//"sScrollX": "100%",
					//"sScrollXInner": "120%",
					//"bScrollCollapse": true,
					//Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
					//you may want to wrap the table inside a "div.dataTables_borderWrap" element

					//"iDisplayLength": 50


					select: {
						style: 'multi'
					}
			    } );



				$.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

				new $.fn.dataTable.Buttons( myTable, {
					buttons: [
					  {
						"extend": "colvis",
						"text": "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>Show/hide columns</span>",
						"className": "btn btn-white btn-primary btn-bold",
						columns: ':not(:first):not(:last)'
					  },
					  {
						"extend": "copy",
						"text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
						"className": "btn btn-white btn-primary btn-bold"
					  },
					  {
						"extend": "csv",
						"text": "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>Export to CSV</span>",
						"className": "btn btn-white btn-primary btn-bold"
					  },
					  {
						"extend": "excel",
						"text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
						"className": "btn btn-white btn-primary btn-bold"
					  },
					  {
						"extend": "pdf",
						"text": "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
						"className": "btn btn-white btn-primary btn-bold"
					  },
					  {
						"extend": "print",
						"text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
						"className": "btn btn-white btn-primary btn-bold",
						autoPrint: false,
						message: 'This print was produced using the Print button for DataTables'
					  }
					]
				} );
				myTable.buttons().container().appendTo( $('.tableTools-container') );

				//style the message box
				var defaultCopyAction = myTable.button(1).action();
				myTable.button(1).action(function (e, dt, button, config) {
					defaultCopyAction(e, dt, button, config);
					$('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
				});


				var defaultColvisAction = myTable.button(0).action();
				myTable.button(0).action(function (e, dt, button, config) {

					defaultColvisAction(e, dt, button, config);


					if($('.dt-button-collection > .dropdown-menu').length == 0) {
						$('.dt-button-collection')
						.wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
						.find('a').attr('href', '#').wrap("<li />")
					}
					$('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
				});

				////

				setTimeout(function() {
					$($('.tableTools-container')).find('a.dt-button').each(function() {
						var div = $(this).find(' > div').first();
						if(div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
						else $(this).tooltip({container: 'body', title: $(this).text()});
					});
				}, 500);





				myTable.on( 'select', function ( e, dt, type, index ) {
					if ( type === 'row' ) {
						$( myTable.row( index ).node() ).find('input:checkbox').prop('checked', true);
					}
				} );
				myTable.on( 'deselect', function ( e, dt, type, index ) {
					if ( type === 'row' ) {
						$( myTable.row( index ).node() ).find('input:checkbox').prop('checked', false);
					}
				} );




				/////////////////////////////////
				//table checkboxes
				$('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

				//select/deselect all rows according to table header checkbox
				$('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function(){
					var th_checked = this.checked;//checkbox inside "TH" table header

					$('#dynamic-table').find('tbody > tr').each(function(){
						var row = this;
						if(th_checked) myTable.row(row).select();
						else  myTable.row(row).deselect();
					});
				});

				//select/deselect a row when the checkbox is checked/unchecked
				$('#dynamic-table').on('click', 'td input[type=checkbox]' , function(){
					var row = $(this).closest('tr').get(0);
					if(this.checked) myTable.row(row).deselect();
					else myTable.row(row).select();
				});



				$(document).on('click', '#dynamic-table .dropdown-toggle', function(e) {
					e.stopImmediatePropagation();
					e.stopPropagation();
					e.preventDefault();
				});



				//And for the first simple table, which doesn't have TableTools or dataTables
				//select/deselect all rows according to table header checkbox
				var active_class = 'active';
				$('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
					var th_checked = this.checked;//checkbox inside "TH" table header

					$(this).closest('table').find('tbody > tr').each(function(){
						var row = this;
						if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
						else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
					});
				});

				//select/deselect a row when the checkbox is checked/unchecked
				$('#simple-table').on('click', 'td input[type=checkbox]' , function(){
					var $row = $(this).closest('tr');
					if($row.is('.detail-row ')) return;
					if(this.checked) $row.addClass(active_class);
					else $row.removeClass(active_class);
				});



				/********************************/
				//add tooltip for small view action buttons in dropdown menu
				$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

				//tooltip placement on right or left
				function tooltip_placement(context, source) {
					var $source = $(source);
					var $parent = $source.closest('table')
					var off1 = $parent.offset();
					var w1 = $parent.width();

					var off2 = $source.offset();
					//var w2 = $source.width();

					if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
					return 'left';
				}




				/***************/
				$('.show-details-btn').on('click', function(e) {
					e.preventDefault();
					$(this).closest('tr').next().toggleClass('open');
					$(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
				});
				/***************/





				/**
				//add horizontal scrollbars to a simple table
				$('#simple-table').css({'width':'2000px', 'max-width': 'none'}).wrap('<div style="width: 1000px;" />').parent().ace_scroll(
				  {
					horizontal: true,
					styleClass: 'scroll-top scroll-dark scroll-visible',//show the scrollbars on top(default is bottom)
					size: 2000,
					mouseWheelLock: true
				  }
				).css('padding-top', '12px');
				*/

							//chosen plugin inside a modal will have a zero width because the select element is originally hidden
				//and its width cannot be determined.
				//so we set the width after modal is show
				$('#modal-form').on('shown.bs.modal', function () {
					if(!ace.vars['touch']) {
						$(this).find('.chosen-container').each(function(){
							$(this).find('a:first-child').css('width' , '210px');
							$(this).find('.chosen-drop').css('width' , '210px');
							$(this).find('.chosen-search input').css('width' , '200px');
						});
					}
				})


			})








</script>
{% endblock %}