{% extends "recovery/base.html" %}
{% block uname %}
{{user.username}}                                                                {% endblock uname %}
{% block content %}

{% load static %}


<!-- The Modal -->
<div class="modal fade" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header"
                 style="background-color: #ccc; color: blue; size: 10px">
                Distribution Limit Amount
                <button class="close" data-dismiss="modal" style="color: red"
                        type="button">&times;
                </button>
            </div>

            <form action="" class="form-horizontal"
                  enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <!-- Modal body -->
                <div class="modal-body">


                    <div class="form-group">
                        <label class="col-sm-4"
                               for="form-field-1" style="text-align: left">Amount</label>

                        <div class="col-sm-8">
                            <select class="col-xs-12" id="txtDis_amount" name="txtDis_amount">
                                {% for s in Amount_setp %}
                                <option value="{{s}}">{{s}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </div>


                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="fa fa-check btn btn-secondary btn btn-success"
                            id="btnsendmsg"
                            name="btnsendmsg" type="submit">Save
                    </button>
                    <button class="btn btn-secondary fa fa-times btn btn-danger"
                            data-dismiss="modal"
                            type="button">Close
                    </button>

                </div>


            </form>
        </div>
    </div>
</div>


<!-- This part of View Class  -->

<div class="row-fluid" id="feemain">

    <button class="btn btn-success" data-target="#myModal1" data-toggle="modal" id="btnaddid" name="btnAddClass"
            type="button">
        <i class="ace-icon fa fa-plus bigger-110"></i>
        Add
    </button>
    <div class="row">


        <div class="col-xs-12">

            <div class="clearfix">
                <div class="pull-right tableTools-container"></div>
            </div>
            <div class="table-header">
                Results for " Distribution Limit Amount "
            </div>

            <!-- div.table-responsive -->

            <!-- div.dataTables_borderWrap -->
            <div>

                <table class="table table-striped table-bordered table-hover"
                       id="dynamic-table">
                    <thead>
                    <tr>
                        <th style="text-align: center">Sr No.</th>

                        <th>Distribution Limit Amount</th>
                        <th class="hidden-480">Date</th>
                        <th class="hidden-480">Status</th>
                        <th>Option</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for c in DistributionLimitAmount %}
                    <tr>
                        <td>{{ forloop.counter }}</td>

                        <td>{{c.amount}}</td>
                        <td>{{c.created_date}}</td>

                        <td class="hidden-480">
                            {% if c.status == "Active" %}
                            <span class="label label-sm label-success arrowed-in">Active</span>
                            {% else %}
                            <span class="label label-sm label-danger arrowed-in">Deactive</span>
                            {% endif %}
                        </td>

                        <td>
                            <div class="hidden-sm hidden-xs action-buttons">

                                <a class="primary" data-target="#myModal" data-toggle="modal"
                                   href="#"
                                   onclick="distribution('{{c.id}}','{{c.amount}}','{{c.status}}')">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>
                            </div>

                            <div class="hidden-md hidden-lg">
                                <div class="inline pos-rel">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-position="auto"
                                            data-toggle="dropdown">
                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                    </button>

                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">


                                        <li>
                                            <a class="tooltip-success" data-rel="tooltip" data-target="#myModal"
                                               data-toggle="modal"
                                               href="#"
                                               onclick="updatecloth('{{c.id}}','{{c.clothtype}}','{{c.recstatus}}')"
                                               title="Edit">
																				<span class="primary">
																					<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																				</span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </td>


                    </tr>
                    {% endfor %}


                    </tbody>

                </table>
            </div>
        </div>

    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header"
                 style="background-color: #ccc; color: blue; size: 10px">
                Distribution Limit Amount
                <button class="close" data-dismiss="modal" style="color: red"
                        type="button">&times;
                </button>
            </div>

            <form action="/recovery/distrbution_amount_update/" class="form-horizontal"
                  enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <!-- Modal body -->
                <div class="modal-body">


                    <div class="form-group">
                        <label class="col-sm-4"
                               for="form-field-1" style="text-align: left">Amount</label>

                        <div class="col-sm-8">
                            <select class="col-xs-12" id="txtDis_amount1" name="txtDis_amount1">
                                {% for s in Amount_setp %}
                                <option value="{{s}}">{{s}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4"
                               style="text-align: left">Status</label>
                        <div class="col-sm-8">
                            <select class="col-xs-12 " class="form-control" id="cmdst"
                                    name="cmdst">

                                <option value="Deactive">Deactive</option>
                                <option value="Active">Active</option>

                            </select>
                        </div>
                    </div>
                </div>


                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="fa fa-check btn btn-secondary btn btn-success"
                            id=""
                            name="btnsendmsg" type="submit">Save
                    </button>
                    <button class="btn btn-secondary fa fa-times btn btn-danger"
                            data-dismiss="modal"
                            type="button">Close
                    </button>

                </div>


                <input class="col-xs-10" hidden="" id="txtid1"
                       name="txtid1" type="text" value=""/>

            </form>
        </div>
    </div>
</div>


<script>



function distribution(id,amount,status){

	document.getElementById('txtDis_amount1').value=amount;
	document.getElementById('txtid1').value=id;
	document.getElementById('cmdst').value=status;

}


</script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
			jQuery(function($) {
				//initiate dataTables plugin
				var myTable =
				$('#dynamic-table')
				//.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
				.DataTable( {
					bAutoWidth: false,
					"aoColumns": [
					  { "bSortable": false },
					  null, null,null,
					  { "bSortable": false }
					],
					"aaSorting": [],


					//"bProcessing": true,
			        //"bServerSide": true,
			        //"sAjaxSource": "http://127.0.0.1/table.php"	,

					//,
					//"sScrollY": "200px",
					//"bPaginate": true,

					//"sScrollX": "100%",
					//"sScrollXInner": "120%",
					//"bScrollCollapse": true,
					//Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
					//you may want to wrap the table inside a "div.dataTables_borderWrap" element

					//"iDisplayLength": 50


					select: {
						style: 'multi'
					}
			    } );



				$.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

				new $.fn.dataTable.Buttons( myTable, {
					buttons: [
					  {
						"extend": "colvis",
						"text": "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>Show/hide columns</span>",
						"className": "btn btn-white btn-primary btn-bold",
						columns: ':not(:first):not(:last)'
					  },
					  {
						"extend": "copy",
						"text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
						"className": "btn btn-white btn-primary btn-bold"
					  },
					  {
						"extend": "csv",
						"text": "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>Export to CSV</span>",
						"className": "btn btn-white btn-primary btn-bold"
					  },
					  {
						"extend": "excel",
						"text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
						"className": "btn btn-white btn-primary btn-bold"
					  },
					  {
						"extend": "pdf",
						"text": "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
						"className": "btn btn-white btn-primary btn-bold"
					  },
					  {
						"extend": "print",
						"text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
						"className": "btn btn-white btn-primary btn-bold",
						autoPrint: false,
						message: 'This print was produced using the Print button for DataTables'
					  }
					]
				} );
				myTable.buttons().container().appendTo( $('.tableTools-container') );

				//style the message box
				var defaultCopyAction = myTable.button(1).action();
				myTable.button(1).action(function (e, dt, button, config) {
					defaultCopyAction(e, dt, button, config);
					$('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
				});


				var defaultColvisAction = myTable.button(0).action();
				myTable.button(0).action(function (e, dt, button, config) {

					defaultColvisAction(e, dt, button, config);


					if($('.dt-button-collection > .dropdown-menu').length == 0) {
						$('.dt-button-collection')
						.wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
						.find('a').attr('href', '#').wrap("<li />")
					}
					$('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
				});

				////

				setTimeout(function() {
					$($('.tableTools-container')).find('a.dt-button').each(function() {
						var div = $(this).find(' > div').first();
						if(div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
						else $(this).tooltip({container: 'body', title: $(this).text()});
					});
				}, 500);





				myTable.on( 'select', function ( e, dt, type, index ) {
					if ( type === 'row' ) {
						$( myTable.row( index ).node() ).find('input:checkbox').prop('checked', true);
					}
				} );
				myTable.on( 'deselect', function ( e, dt, type, index ) {
					if ( type === 'row' ) {
						$( myTable.row( index ).node() ).find('input:checkbox').prop('checked', false);
					}
				} );




				/////////////////////////////////
				//table checkboxes
				$('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

				//select/deselect all rows according to table header checkbox
				$('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function(){
					var th_checked = this.checked;//checkbox inside "TH" table header

					$('#dynamic-table').find('tbody > tr').each(function(){
						var row = this;
						if(th_checked) myTable.row(row).select();
						else  myTable.row(row).deselect();
					});
				});

				//select/deselect a row when the checkbox is checked/unchecked
				$('#dynamic-table').on('click', 'td input[type=checkbox]' , function(){
					var row = $(this).closest('tr').get(0);
					if(this.checked) myTable.row(row).deselect();
					else myTable.row(row).select();
				});



				$(document).on('click', '#dynamic-table .dropdown-toggle', function(e) {
					e.stopImmediatePropagation();
					e.stopPropagation();
					e.preventDefault();
				});



				//And for the first simple table, which doesn't have TableTools or dataTables
				//select/deselect all rows according to table header checkbox
				var active_class = 'active';
				$('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
					var th_checked = this.checked;//checkbox inside "TH" table header

					$(this).closest('table').find('tbody > tr').each(function(){
						var row = this;
						if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
						else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
					});
				});

				//select/deselect a row when the checkbox is checked/unchecked
				$('#simple-table').on('click', 'td input[type=checkbox]' , function(){
					var $row = $(this).closest('tr');
					if($row.is('.detail-row ')) return;
					if(this.checked) $row.addClass(active_class);
					else $row.removeClass(active_class);
				});



				/********************************/
				//add tooltip for small view action buttons in dropdown menu
				$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

				//tooltip placement on right or left
				function tooltip_placement(context, source) {
					var $source = $(source);
					var $parent = $source.closest('table')
					var off1 = $parent.offset();
					var w1 = $parent.width();

					var off2 = $source.offset();
					//var w2 = $source.width();

					if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
					return 'left';
				}




				/***************/
				$('.show-details-btn').on('click', function(e) {
					e.preventDefault();
					$(this).closest('tr').next().toggleClass('open');
					$(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
				});
				/***************/





				/**
				//add horizontal scrollbars to a simple table
				$('#simple-table').css({'width':'2000px', 'max-width': 'none'}).wrap('<div style="width: 1000px;" />').parent().ace_scroll(
				  {
					horizontal: true,
					styleClass: 'scroll-top scroll-dark scroll-visible',//show the scrollbars on top(default is bottom)
					size: 2000,
					mouseWheelLock: true
				  }
				).css('padding-top', '12px');
				*/

							//chosen plugin inside a modal will have a zero width because the select element is originally hidden
				//and its width cannot be determined.
				//so we set the width after modal is show
				$('#modal-form').on('shown.bs.modal', function () {
					if(!ace.vars['touch']) {
						$(this).find('.chosen-container').each(function(){
							$(this).find('a:first-child').css('width' , '210px');
							$(this).find('.chosen-drop').css('width' , '210px');
							$(this).find('.chosen-search input').css('width' , '200px');
						});
					}
				})


			})


</script>
{% endblock content %}