{% extends "recovery/base.html" %}
{% block uname %}
{{user.username}}
{% endblock uname %}

{% load static %}
{% block content %}


<style>
    .pass_show{position: relative}

    .pass_show .ptxt {

        position: absolute;

        top: 50%;

        right: 10px;

        z-index: 1;

        color: #f36c01;

        margin-top: -10px;

        cursor: pointer;

        transition: .3s ease all;

    }

    .pass_show .ptxt:hover{color: #333333;}



</style>


<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Current Password</label>
                        <div class="form-group pass_show">
                            <input type="password" name="current_password" id="current_password" class="form-control"
                                   placeholder="Current Password">
                        </div>
                        <label>New Password</label>
                        <div class="form-group pass_show">
                            <input type="password" name="new_password" id="new_password" class="form-control" placeholder="New Password">
                        </div>
                        <label>Confirm Password</label>
                        <div class="form-group pass_show">
                            <input type="password" id="confirm_password" class="form-control"
                                   placeholder="Confirm Password">
                        </div>
                        <strong><span id='message'>{{message}}</span></strong>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 " style="">

            <button class="btn btn-sm btn-danger col-xs-offset-4">
                <i class="ace-icon fa fa-times"></i>
                Close
            </button>
            <button class="btn btn-sm btn-success col-xs-offset-4"
                    style="margin-right: 1%!important;" type="submit">
                <i class="ace-icon fa fa-times"></i>
                Submit
            </button>
        </div>
    </form>
</div>


<!-- inline scripts related Modal -->
<script type="text/javascript">
			jQuery(function($) {
				$('.modal.aside').ace_aside();

				$('#aside-inside-modal').addClass('aside').ace_aside({container: '#my-modal > .modal-dialog'});

				//$('#top-menu').modal('show')

				$(document).one('ajaxloadstart.page', function(e) {
					//in ajax mode, remove before leaving page
					$('.modal.aside').remove();
					$(window).off('.aside')
				});


				//make content sliders resizable using jQuery UI (you should include jquery ui files)
				//$('#right-menu > .modal-dialog').resizable({handles: "w", grid: [ 20, 0 ], minWidth: 200, maxWidth: 600});
			})





</script>

<script>
<!--Password reset -->
$(document).ready(function(){
    $('.pass_show').append('<span class="ptxt">Show</span>');
});


$(document).on('click','.pass_show .ptxt', function(){

    $(this).text($(this).text() == "Show" ? "Hide" : "Show");

    $(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; });

});

<!--validating password-->

$('#password, #confirm_password').on('keyup', function () {
  if ($('#new_password').val() == $('#confirm_password').val() | $('#confirm_password').val() == $('#new_password').val()){
    $('#message').html('Matching').css('color', 'green');
  } else
    $('#message').html('Not Matching').css('color', 'red');
});



</script>

{% endblock %}