{% extends "recovery/base.html" %}

{% load static %}
{% load auth_extras %}
{% block uname %}
{{user.username}}
{% endblock uname %}
{% block content %}

<div class="page-body">
    <div class="row">


        <div class="card-block">

            <div class="row">
                <div class="col-sm-12">

                    <ul class=" nav nav-tabs  tabs  nav-justified" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link text-center" data-toggle="tab" href="#home1" role="tab">Create
                                New
                                Notification</a>
                        </li>

                        <li class=" nav-item active text-center">
                            <a class="nav-link text-center " data-toggle="tab" href="#profile1" role="tab">Select
                                Notification</a>
                        </li>
                        <li class=" nav-item text-center">
                            <a class="nav-link" data-toggle="tab" href="#messages1" role="tab">Create from existing
                                one</a>
                        </li>

                    </ul>

                    <div class="tab-content tabs card-block">
                        <div class="tab-pane " id="home1" role="tabpanel">
                            <div class="alert alert-block alert-info text-center">
                                <small class="text-primary">Create new notification and send </small>
                            </div>
                            <form action="/recovery/create_notification/"
                                  class="md-float-material card-block" enctype="multipart/form-data"
                                  method="POST">
                                {% csrf_token %}
                                <div class="row">

                                    <div class="col-sm-6">
                                        <b><p>Enter Notification Name : </p></b>
                                        <input name="name" class="form-control text-center"
                                               placeholder="Enter Name Here">
                                    </div>


                                    <div class="col-sm-6">
                                        <b><p>Enter Title : </p></b>
                                        <input name="title" class="form-control text-center"
                                               placeholder="Enter Title Here"
                                        >
                                    </div>
                                </div>

                                <br>
                                <div class="row">

                                    <div class="col-sm-6">
                                        <b><p>Select Notification Image</p></b>

                                        <div class="file-field">
                                            <div class="float-left">
                                                <input class="btn" type="file" name="img">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="">
                                            <b><p>Notification Status : </p></b>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="status"
                                                       id="status1" value="True" checked>
                                                <label class="form-check-label" for="status1">True</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="status"
                                                       id="status2" value="False">
                                                <label class="form-check-label" for="status2">False</label>
                                            </div>
                                            <!--                                            <input type="checkbox" class="" name="status"/>-->
                                            <!--                                            <span class="lbl">True</span>-->
                                        </label>
                                    </div>
                                    <div class="col-sm-12">
                                        <b><p>Select Type </p></b>
                                        <select class="form-control form-control-primary"
                                                name="type" id="type" style="text-align-last:center;" required>
                                            <option value="" style="display: none">--Select Notification Type--</option>
                                            <option value="App">App</option>
                                            <option value="Web">Web</option>
                                            <option value="Both">Both</option>
                                        </select>
                                    </div>
                                </div>

                                <br>
                                <div class="row">
                                    <div class="container">
                                        <div class="col-sm-12">

                                            <b><p>Description </p></b>
                                            <textarea cols="40" id="description" name="description" style="width:93%;"
                                                      rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="container">
                                        <input type="checkbox" id="check" name="to_all" onchange="call_data()">
                                        <label for="check"><span
                                                class="text-primary">send to all users</span></label><br>
                                        <label for="check">
                                            <span class="text-primary">
                                                OR send to below numbers
                                            </span>
                                        </label>
                                        <div class="col-sm-12" id="m_no">

                                            <b>
                                                <p>Mobile Number
                                                    <br>
                                                    <small>Enter list of mobile numbers seperated by new
                                                        line</small>
                                                </p>
                                            </b>
                                            <textarea cols="40" id="mobile_number" name="mobile_number"
                                                      style="width:93%;"
                                                      rows="6" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="text-center m-t-20">
                                            <button class="btn btn-primary waves-effect waves-light m-r-10"
                                                    type="submit">
                                                Save
                                            </button>
                                            <button class="btn btn-danger waves-effect waves-light"
                                                    type="reset">
                                                Discard
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>


                        </div>
                        <div class="tab-pane active" id="profile1" role="tabpanel">
                            <div class="alert alert-block alert-info text-center">
                                <small class="text-primary">Select notification from dropdown and send </small>
                            </div>
                            <form action="/recovery/create_notification_dropdown/" method="POST">
                                {% csrf_token %}
                                <label for="sel1">Select list (select one):</label>
                                <select class="form-control text-center" id="sel1" style="text-align-last: center;"
                                        name="notification" required>
                                    <option value="" style="display: none">---Select Notification---</option>

                                    {% if data %}
                                    {% for id , title in data.items %}
                                    <option value="{{id}}">{{title}}</option>
                                    {% endfor %}
                                    {% endif %}

                                </select>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="container">
                                        <input type="checkbox" id="check_1" name="to_all" onchange="call_data_1()">
                                        <label for="check"><span
                                                class="text-primary">send to all users</span></label><br>
                                        <label for="check">
                                            <span class="text-primary">
                                                OR send to below numbers
                                            </span>
                                        </label>
                                        <div class="col-sm-12" id="m_no_1">

                                            <b>
                                                <p>Mobile Number
                                                    <br>
                                                    <small>Enter list of mobile numbers seperated by new
                                                        line</small>
                                                </p>
                                            </b>
                                            <textarea cols="40" id="mobile_number_1" name="mobile_number"
                                                      style="width:93%"
                                                      rows="6" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="text-center mt-20">
                                            <button class="btn btn-primary waves-effect waves-light m-r-10"
                                                    type="submit">
                                                Save
                                            </button>
                                            <button class="btn btn-danger waves-effect waves-light"
                                                    type="reset">
                                                Discard
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="messages1" role="tabpanel">
                            <div class="alert alert-block alert-info text-center">
                                <small class="text-primary">Edit notification and send </small>
                            </div>
                            <p class="m-0">3. Feature coming soon..</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
<script>
function call_data(){
    if ($("#check").is(':checked')) {
    $("#m_no").hide();
    $("#mobile_number").attr("required", false);
    $("#mobile_number").val("");

    }
    else{
        $("#m_no").show();
        $("#mobile_number").attr("required", true);


    }
    }

    function call_data_1(){
    if ($("#check_1").is(':checked')) {
    $("#m_no_1").hide();
    $("#mobile_number_1").attr("required", false);
    $("#mobile_number_1").val("");

    }
    else{
        $("#m_no_1").show();
        $("#mobile_number_1").attr("required", true);


    }
    }



















</script>
{% endblock %}
