<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}


<head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta charset="utf-8"/>
    <title>Login Page </title>
    <meta content="User login page" name="description"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
    <!-- bootstrap & fontawesome -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!--<link rel="stylesheet" href="{% static 'font-awesome/4.5.0/css/font-awesome.min.css' %}" />-->
    <!-- text fonts -->
    <link href="{% static 'css/fonts.googleapis.com.css' %}" rel="stylesheet"/>
    <!-- ace styles -->
    <link href="{% static 'css/ace.min.css' %}" rel="stylesheet"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ace-part2.min.css"/>
    <![endif]-->
    <link href="{% static 'css/ace-rtl.min.css' %}" rel="stylesheet"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ace-ie.min.css"/>
    <![endif]-->
    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]-->
    <!--<script src="assets/js/html5shiv.min.js"></script>-->
    <!--<script src="assets/js/respond.min.js"></script>-->
    <!--
    <![endif]-->
</head>
<body class="login-layout">
<div class="main-container">
    <div class="col-sm-10 col-sm-offset-1 center">
        <a href="https://www.mudrakwik.com/">
            <img alt="Mudrakwik Logo" class="center" src="{% static 'logo/mudrakwik_logo_2.png' %}"
                 style="width: 20%;height: 10%;"/>
        </a>
    </div>
    <div class="col-xs-12 center" style="color: white;">
        <h1>Register on Mudrakwik to get
            <strong>Instant Loan</strong>
        </h1>
        <p class="lead">
            from 1000 to 5 lakh
        </p>
    </div>
    <div class="main-content center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <span class="white" id="id-text2">Register</span>
                        </h1>
                    </div>
                    <div class="space-6"></div>
                    <div class="position-relative">
                        <div class="login-box visible widget-box no-border" id="login-box">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class="ace-icon fa fa-coffee green"></i>
                                        Please Enter Your Information

                                    </h4>
                                    <div class="space-6"></div>
                                    <form action="/lead/register_le/" method="post">
                                        {% csrf_token %}

                                        <p style="color:red">{{error}}</p>
                                        <fieldset>
                                            <label class="block clearfix">
																		<span class="block input-icon input-icon-right">
																			<input class="form-control" id="username"
                                                                                   name="username" minlength="10" maxlength="10"
                                                                                   placeholder="Mobile Number"
                                                                                   required
                                                                                   type="text"/>
																			<input class="form-control" id="aff"
                                                                                   name="aff"
                                                                                   placeholder="asd Number" required
                                                                                   type="hidden"
                                                                                   value="{{aff}}"/>
																			<input class="form-control"
                                                                                   id="partner_name"
                                                                                   name="partner_name"
                                                                                   placeholder="asd Number" required
                                                                                   type="hidden"
                                                                                   value="{{partner_name}}"/>
																			<i class="ace-icon fa fa-user"></i>
																		</span>
                                            </label>
                                            <div class="space"></div>
                                            <div class="clearfix">
                                                <button class="width-35 pull-left btn btn-sm btn-primary" type="submit">
                                                    <i class="ace-icon fa fa-key"></i>
                                                    <span class="bigger-110">Submit</span>
                                                </button>
                                                <br>
                                            </div>
                                            <div class="space-4"></div>
                                        </fieldset>
                                    </form>
                                </div>
                                <!-- /.widget-main -->
                            </div>
                            <!-- /.widget-body -->
                        </div>
                        <!-- /.login-box -->
                    </div>
                    <!-- /.position-relative -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.main-content -->
</div>
<!-- /.main-container -->
<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
										<span class="bigger-120">
											<span class="blue bolder">Design by Mudrakwik</span> &copy; 2019

										</span>
        </div>
    </div>
</div>
<!-- basic scripts -->
<!--[if !IE]> -->
<script src="{% static 'js/jquery-2.1.4.min.js' }"></script>
<script type="text/javascript">
				        if ('ontouchstart' in document.documentElement) document.write("
								<script src='{% static 'js/jquery.mobile.custom.min.js' %}'>" + "<" + "/script>");




</script>
<!-- inline scripts related to this page -->
<script type="text/javascript">
				        jQuery(function($) {
				            $(document).on('click', '.toolbar a[data-target]', function(e) {
				                e.preventDefault();
				                var target = $(this).data('target');
				                $('.widget-box.visible').removeClass('visible'); //hide others
				                $(target).addClass('visible'); //show target
				            });
				        });

				        //you don't need this, just used for changing background
				        jQuery(function($) {
				            $('#btn-login-dark').on('click', function(e) {
				                $('body').attr('class', 'login-layout');
				                $('#id-text2').attr('class', 'white');
				                $('#id-company-text').attr('class', 'blue');

				                e.preventDefault();
				            });
				            $('#btn-login-light').on('click', function(e) {
				                $('body').attr('class', 'login-layout light-login');
				                $('#id-text2').attr('class', 'grey');
				                $('#id-company-text').attr('class', 'blue');

				                e.preventDefault();
				            });
				            $('#btn-login-blur').on('click', function(e) {
				                $('body').attr('class', 'login-layout blur-login');
				                $('#id-text2').attr('class', 'white');
				                $('#id-company-text').attr('class', 'light-blue');

				                e.preventDefault();
				            });

				        });



</script>
</body>
</html>