{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>Datewise Payment Details</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no.</th>
                                                <th>Order Details ID</th>
                                                <th>Delivery Charges</th>
                                                <th>Repayment Amount</th>
                                                <th>Order Payment</th>
                                                <th>Total Amount</th>
                                                <th>Credit</th>

                                            </tr>
                                            </thead>
                                            {% if data %}
                                            {% for order_details_obj, data in data.items %}
                                            <tbody>
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{order_details_obj.order_text}}</td>

                                                <td>{{data.0}}</td>
                                                <td>{{data.1}}</td>
                                                <td>{{data.2}}</td>
                                                <td>{{order_details_obj.total_amount}}</td>
                                                <td>{{order_details_obj.credit.used_credit}}</td>

                                            </tr>
                                            </tbody>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
