{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>Return Order Details</h5>

                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <table id="e-product-list"
                                       class="table table-striped dt-responsive nowrap">
                                    <thead>
                                    <tr>
                                        <th>Sr.no</th>
                                        <th>Order Text</th>
                                        <th>OrderDetails Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if order %}
                                    {% for order_details, order in order.items %}
                                    <tr>
                                        <td class="pro-name">
                                            <h6>{{forloop.counter}}</h6>

                                        </td>


                                        <td>{{order_details.order_text}}</td>
                                        <td>{{order_details.status}}</td>
                                        <td>
                                            <button type="button"
                                                    class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"
                                                    data-target="#myModal"
                                                    data-toggle="modal"
                                                    onclick="call_modal('{{order_details.id}}','{{order_details.order_text}}','{{order.0}}','{{order_details.total_quantity}}',
                                                    '{{order_details.total_amount}}','{{order_details.date}}','{{order_details.status}}',
                                                     '{{order_details.updated_date}}', '{{order_details.user.username}}','{{order_details.address.city}}',
                                                    '{{order_details.credit.credit}}','{{order_details.credit.used_credit}}','{{order_details.credit.balance_credit}}', '{{order.1.return_reason}}')"

                                                    data-modal="modal-13"><i class=""></i>
                                                Details

                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="md-overlay"></div>

</div>

<!--Javascript model-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
                Edit Details
                <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
                </button>
            </div>
            <form action="" class="form-horizontal" method="POST">
                {% csrf_token %}
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <input class="col-xs-12" id="order_details_id " name="order_details_id" readonly
                               style="border:0px"
                               type="hidden" value=order_details_id>

                        <label class="col-sm-4" style="text-align: left"><b>OrderDetails ID:</b></label>
                        <input class="col-xs-12" id="order_details_id" name="order_Details_id" readonly
                               style="border:0px"
                               type="text" value=order_details_is>

                        <label class="col-sm-4" style="text-align: left"><b>Order Text :</b></label>
                        <input class="col-xs-12" id="order_text" name="order_text" readonly style="border:0px"
                               type="text" value=order_text>

                        <label class="col-sm-4" style="text-align: left"><b>Delivery Charge :</b></label>
                        <input class="col-xs-12" id="delivery_charge" name="delivery_charge" readonly style="border:0px"
                               type="text" value=delivery_charge>

                        <label class="col-sm-4" style="text-align: left"><b>Total Quantity :</b></label>
                        <input class="col-xs-12" id="total_quantity" name="total_quantity" readonly style="border:0px"
                               type="text" value=total_quantity>

                        <label class="col-sm-4" style="text-align: left"><b>Total Amount :</b></label>
                        <input class="col-xs-12" id="total_amount" name="total_amount" readonly style="border:0px"
                               type="text" value=total_amount>

                        <label class="col-sm-4" style="text-align: left"><b>Date :</b></label>
                        <input class="col-xs-12" id="date" name="date" readonly style="border:0px"
                               type="text" value=date>

                        <label class="col-sm-4" style="text-align: left"><b>Status :</b></label>
                        <input class="col-xs-12" id="status" name="status" readonly style="border:0px"
                               type="text" value=status>

                        <label class="col-sm-4" style="text-align: left"><b>Updated Date :</b></label>
                        <input class="col-xs-12" id="updated_date" name="updated_date" readonly style="border:0px"
                               type="text" value=updated_date>

                        <label class="col-sm-4" style="text-align: left"><b>User:</b></label>
                        <input class="col-xs-12" id="user" name="user" readonly style="border:0px"
                               type="text" value=user>

                        <label class="col-sm-4" style="text-align: left"><b>Address:</b></label>
                        <input class="col-xs-12" id="address" name="address" readonly style="border:0px"
                               type="text" value=address>

                        <label class="col-sm-4" style="text-align: left"><b>Credit:</b></label>
                        <input class="col-xs-12" id="credit" name="credit" readonly style="border:0px"
                               type="text" value=credit>

                        <label class="col-sm-4" style="text-align: left"><b>Used Credit:</b></label>
                        <input class="col-xs-12" id="used_credit" name="used_credit" readonly style="border:0px"
                               type="text" value=used_credit>

                        <label class="col-sm-4" style="text-align: left"><b>Balance Credit:</b></label>
                        <input class="col-xs-12" id="balance_credit" name="balance_credit" readonly style="border:0px"
                               type="text" value=balance_credit>

                        <label class="col-sm-4" style="text-align: left"><b>Return Reason:</b></label>
                        <input class="col-xs-12" id="return_reason" name="return_reason" readonly style="border:0px"
                               type="text" value=return_reason>
                        <br>
                        &nbsp <b>Update Information:</b>
                        <br>
                        <br>
                        <div class="form-group">
                            &nbsp &nbsp Update Status
                            <div class="col-sm-12">
                                <select name="updated_status" id="updated_status"
                                        class="form-control form-control-primary"
                                        style="width: 100px;length: 50px;">
                                    <option name="REJECTED">SUBMITTED
                                    </option>
                                    <option name="APPROVED">APPROVED
                                    </option>

                                </select>

                                <div class="row">
                                    <div class="col-md-6">
                                        <p>Enter Reason:
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                    type="text" name="reason" id="reason">
                                        </p>
                                        <!--                                                                        &nbsp;&nbsp; Enter Category:-->
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                            id="btnsendmsg" name="btnsendmsg" onclick="Call_data_save()" type="button">Save
                    </button>
                    <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                            type="button">Close
                    </button>
                </div>
                <input class="col-xs-10" hidden="" id="txtrecovery_id" name="txtrecovery_id" type="text"
                       value=""/>
            </form>
        </div>
    </div>
</div>

<script>
            function call_modal(order_details_id, order_text, delivery_charge, total_quantity, total_amount,
             date, status, updated_date, user, address, credit, used_credit, balance_credit, return_reason) {

                document.getElementById('order_details_id').value = order_details_id;
                document.getElementById('order_text').value = order_text;
                document.getElementById('delivery_charge').value = delivery_charge;
                document.getElementById('total_quantity').value = total_quantity;
                document.getElementById('total_amount').value = total_amount;
                document.getElementById('date').value = date;
                document.getElementById('status').value = status;


                document.getElementById('updated_date').value = updated_date;
                document.getElementById('user').value = user;
                document.getElementById('address').value = address;
                document.getElementById('credit').value = credit;
                document.getElementById('used_credit').value = used_credit;
                document.getElementById('balance_credit').value = balance_credit;
                document.getElementById('return_reason').value = return_reason;

            }





</script>
<script>
            <!--Recovery call data save-->
            function Call_data_save() {
                var order_details_id = document.getElementById('order_details_id').value;
                var updated_status = document.getElementById('updated_status').value;
                var reason = document.getElementById('reason').value;

                $.ajax({
                    type: "POST",
                    data: {
                        'order_type' : "order_details",
                        'order_id': order_details_id,
                        'verify_return_status': updated_status,
                        'reason': reason,

                    },
                    url: "/ecomapi/admin-order-return-verify/",
                    success: function(data) {
                    console.log("--success",data);
                         document.getElementById('order_details_id').value = data;
                    },
                    error: function(data) {

                    }
                });
            }



</script>

{% endblock %}

