{% extends "Ecom/test_base.html" %}
{% block username %}
    {{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>

                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                       <thead>
                                    <tr>
                                        <th>Sr.no</th>
                                        <th>Return Unique Id</th>
                                        <th>Order Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {%  if data %}
                                    {% for return_order, data in data.items %}

                                    <tr>
                                       <td class="pro-name">
                                            <h6>{{forloop.counter}}</h6>

                                        </td>
                                            <td>{{return_order.return_id}}</td>
                                            <td>{{return_order.verify_return_status}}</td>

                                        <td>
                                            <button type="button"
                                                    class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"
                                                    data-target="#myModal"
                                                    data-toggle="modal"
                                                    onclick="call_modal('{{return_order.order.order_id}}','{{return_order.order.quantity}}','{{return_order.order.amount}}',
                                                    '{{return_order.order.total_amount}}','{{return_order.order.date}}','{{return_order.order.re_status}}','{{return_order.order.status}}','{{return_order.order.created_date}}','{{return_order.order.updated_date}}',
                                                    '{{return_order.order.unique_order_id}}','{{data.1}}','{{data.0.credit.credit}}','{{data.0.credit.used_credit}}','{{data.0.credit.balance_credit}}',
                                                     '{{return_order.return_reason}}','{{return_order.order.product_details.user.username}}','{{data.2}}')"
                                                    data-modal="modal-13"><i class=""></i>
                                               Details

                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}

                                    </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
                Edit Details
                <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
                </button>
            </div>
            <form action="" class="form-horizontal" method="POST">
                {% csrf_token %}
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <input class="col-xs-12" id="order_id " name="order_id" readonly style="border:0px"
                               type="hidden" value=order_id>

                        <label class="col-sm-4" style="text-align: left"><b>Order Id :</b></label>
                        <input class="col-xs-12" id="order_id" name="order_id" readonly style="border:0px"
                               type="text" value=order_id>

                        <label class="col-sm-4" style="text-align: left"><b>Quantity :</b></label>
                        <input class="col-xs-12" id="quantity" name="quantity" readonly style="border:0px"
                               type="text" value=quantity>

                        <label class="col-sm-4" style="text-align: left"><b>Amount  :</b></label>
                        <input class="col-xs-12" id="amount" name="amount" readonly style="border:0px"
                               type="text" value=amount>

                        <label class="col-sm-4" style="text-align: left"><b>Total Amount :</b></label>
                        <input class="col-xs-12" id="total_amount" name="total_amount" readonly style="border:0px"
                               type="text" value=total_amount>

                        <label class="col-sm-4" style="text-align: left"><b>Date :</b></label>
                        <input class="col-xs-12" id="date" name="date" readonly style="border:0px"
                               type="text" value=date>

                        <label class="col-sm-4" style="text-align: left"><b>Re Status  :</b></label>
                        <input class="col-xs-12" id="re_status" name="re_status" readonly style="border:0px"
                               type="text" value=re_status>

                        <label class="col-sm-4" style="text-align: left"><b>Status :</b></label>
                        <input class="col-xs-12" id="status" name="status" readonly style="border:0px"
                               type="text" value=status>

                        <label class="col-sm-4" style="text-align: left"><b>Created Date :</b></label>
                        <input class="col-xs-12" id="created_date" name="created_date" readonly style="border:0px"
                               type="text" value=created_date>

                        <label class="col-sm-4" style="text-align: left"><b>Updated Date :</b></label>
                        <input class="col-xs-12" id="updated_date" name="updated_date" readonly style="border:0px"
                               type="text" value=updated_date>

                        <label class="col-sm-4" style="text-align: left"><b>Unique Order Id:</b></label>
                        <input class="col-xs-12" id="unique_order_id" name="unique_order_id" readonly style="border:0px"
                               type="text" value=unique_order_id>

                        <label class="col-sm-4" style="text-align: left"><b>Delivery Charge :</b></label>
                        <input class="col-xs-12" id="delivery_charge" name="delivery_charge" readonly style="border:0px"
                               type="text" value=delivery_charge>

                         <label class="col-sm-4" style="text-align: left"><b>Credit:</b></label>
                        <input class="col-xs-12" id="credit" name="credit" readonly style="border:0px"
                               type="text" value=credit>

                        <label class="col-sm-4" style="text-align: left"><b>Used Credit:</b></label>
                        <input class="col-xs-12" id="used_credit" name="used_credit" readonly style="border:0px"
                               type="text" value=used_credit>

                        <label class="col-sm-4" style="text-align: left"><b>Balance Credit:</b></label>
                        <input class="col-xs-12" id="balance_credit" name="balance_credit" readonly style="border:0px"
                               type="text" value=balance_credit>

                        <label class="col-sm-4" style="text-align: left"><b>Return Reason:</b></label>
                        <input class="col-xs-12" id="return_reason" name="return_reason" readonly style="border:0px"
                               type="text" value=return_reason>

                        <label class="col-sm-4" style="text-align: left"><b>Username:</b></label>
                        <input class="col-xs-12" id="username" name="username" readonly style="border:0px"
                               type="text" value=username>

                        <label class="col-sm-4" style="text-align: left"><b>Image:</b></label>
                        <img src="image" id="image" class="img-fluid" alt="image"
                                                     style="height: 100px;" width="100" height="100">

                        <br>
                        &nbsp <b>Update Information:</b>
                        <br>
                        <br>
                        <div class="form-group">
                            &nbsp &nbsp Update Status
                            <div class="col-sm-12">
                                <select name="updated_status" id="updated_status"
                                        class="form-control form-control-primary"
                                        style="width: 100px;length: 50px;">
                                    <option name="Return_Confirm">Return_Confirm
                                    </option>
                                    <option name="Return_Rejected">Return_Rejected
                                    </option>

                                </select>

                                <div class="row">
                                    <div class="col-md-6">
                                        <p>Enter Reason:
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="reason" id="reason">
                                        </p>
                                    <!--                                                                        &nbsp;&nbsp; Enter Category:-->
                                </div>


                            </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                            id="btnsendmsg" name="btnsendmsg" onclick="Call_data_save()" type="button">Save
                    </button>
                    <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                            type="button">Close
                    </button>
                </div>
                <input class="col-xs-10" hidden="" id="txtrecovery_id" name="txtrecovery_id" type="text"
                       value=""/>
            </form>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
</div>


<script>
            function call_modal(order_id, quantity, amount, total_amount, date, re_status, status, created_date, updated_date,
            unique_order_id, delivery_charge, credit, used_credit, balance_credit, return_reason, username, image) {

                document.getElementById('order_id').value = order_id;
                document.getElementById('quantity').value = quantity;
                document.getElementById('amount').value = amount;
                document.getElementById('total_amount').value = total_amount;
                document.getElementById('date').value = date;
                document.getElementById('re_status').value = re_status;
                document.getElementById('status').value = status;
                document.getElementById('created_date').value = created_date;
                document.getElementById('updated_date').value = updated_date;
                document.getElementById('unique_order_id').value = unique_order_id;
                document.getElementById('delivery_charge').value = delivery_charge;
                document.getElementById('credit').value = credit;
                document.getElementById('used_credit').value = used_credit;
                document.getElementById('balance_credit').value = balance_credit;
                document.getElementById('return_reason').value = return_reason;
                document.getElementById('username').value = username;
                document.getElementById('image').src = image;

            }


</script>
<script>
            <!--Recovery call data save-->
            function Call_data_save() {
                var unique_order_id = document.getElementById('unique_order_id').value;
                var updated_status = document.getElementById('updated_status').value;
                var reason = document.getElementById('reason').value;


                console.log(order_id);
                console.log(updated_status);
                console.log(reason);


                $.ajax({
                    type: "POST",
                    data: {
                        'order_type': "order",
                        'order_id': unique_order_id,
                        'verify_return_status': updated_status,
                        'reason': reason,

                    },
                    url: "/ecomapi/admin-order-return-verify/",
                    success: function(data) {
                    console.log("--success",data);
                         document.getElementById('order_id').value = data;
                    },
                    error: function(data) {

                    }
                });
            }
</script>
{% endblock %}
