{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Seller</th>
                                                <th>Exchange Order Count</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if sellers %}
                                            {% for sellers, count in sellers.items %}

                                            <tr>
                                                <td class="pro-name">
                                                    <h6>{{forloop.counter}}</h6>
                                                </td>


                                                <td>{{sellers}}</td>
                                                <td><a href="/ecomapi/exchange_order_list/{{sellers}}/">{{count}}</a>
                                                </td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



