{% extends "Ecom/test_base.html" %}
{% block username %}
    {{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">

                                        <thead>
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Return Id</th>
                                            <th>Unique Order Id</th>
                                             <th>Return Reason</th>
                                             <th>Verify Return Status</th>
                                             <th>Admin Verified Date</th>
                                             <th>Seller Status</th>
                                             <th>Seller Reason</th>
                                             <th>Payment Status</th>
                                             <th>Type</th>
                                        </tr>
                                        </thead>
                                        {% if return_order %}
                                        {% for return_order in return_order %}
                                        <tr>

                                            <td>{{forloop.counter}}</td>
                                            <td>{{return_order.return_id}}</td>
                                            <td>{{return_order.order.unique_order_id}}</td>
                                            <td>{{return_order.return_reason}}</td>
                                            <td>{{return_order.verify_return_status}}</td>
                                            <td>{{return_order.admin_verified_date}}</td>
                                            <td>{{return_order.seller_status}}</td>
                                            <td>{{return_order.seller_reason}}</td>
                                            <td>{{return_order.payment_status}}</td>
                                            <td>{{return_order.type}}</td>

                                        </tr>
                                        {% endfor %}
                                        {% endif %}

                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

