{% extends "Ecom/test_base.html" %}
{% block username %}
    {{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">

                        <h5>Return Orders</h5>

                </div>
                <div class="card-block">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">

                                        {% if seller_return_data %}
                                        <thead>
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Seller Return Confirmed</th>
                                            <th>Seller Return Rejected</th>

                                        </tr>
                                        </thead>

                                        {% for seller, count in seller_return_data.items %}
                                        <tr>

                                            <td>{{forloop.counter}}</td>
                                            <td><a href="/ecomapi/seller_return_order_data/{{seller}}/seller_return_confirm/seller_status/">{{count.0}}</a></td>
                                            <td><a href="/ecomapi/seller_return_order_data/{{seller}}/seller_return_rejected/seller_status/">{{count.1}}</a></td>


                                        </tr>
                                        {% endfor %}
                                        {% endif %}

                                        {% if admin_return_data %}
                                        <thead>
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Seller</th>
                                            <th>Seller Return Confirmed</th>
                                            <th>Seller Return Rejected</th>
                                            <th>Return Confirmed</th>
                                            <th>Return Rejected</th>
                                        </tr>
                                        </thead>
                                        {% for seller, count in admin_return_data.items %}

                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{seller}}</td>

                                            <td><a href="/ecomapi/seller_return_order_data/{{seller}}/seller_return_confirm/seller_status/">{{count.0}}</a></td>
                                             <td><a href="/ecomapi/seller_return_order_data/{{seller}}/seller_return_rejected/seller_status/">{{count.1}}</a></td>

                                            <td><a href="/ecomapi/seller_return_order_data/{{seller}}/return_confirm/verify_return_status/">{{count.2}}</a></td>
                                            <td><a href="/ecomapi/seller_return_order_data/{{seller}}/return_rejected/verify_return_status/">{{count.3}}</a></td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
