{% extends "Ecom/test_base.html" %}
{% block username %}
    {{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">

                        <h5>Exchange Orders</h5>

                </div>
                <div class="card-block">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">

                                        {% if seller_exchange_data %}
                                        <thead>
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Exchange Confirmed</th>
                                            <th>Exchange Rejected</th>
                                        </tr>
                                        </thead>

                                        {% for seller, count in seller_exchange_data.items %}
                                        <tr>

                                            <td>{{forloop.counter}}</td>
                                            <td><a href="/ecomapi/seller_exchange_order_data/{{seller}}/seller_exchange_confirm/">{{count.0}}</a></td>
                                            <td><a href="/ecomapi/seller_exchange_order_data/{{seller}}/seller_exchange_rejected/">{{count.1}}</a></td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}

                                        {% if admin_exchange_data %}
                                        <thead>
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Seller</th>
                                            <th>Exchange Confirmed</th>
                                            <th>Exchange Rejected</th>
                                        </tr>
                                        </thead>
                                        {% for seller, count in admin_exchange_data.items %}

                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{seller}}</td>

                                            <td><a href="/ecomapi/seller_exchange_order_data/{{seller}}/seller_exchange_confirm/">{{count.0}}</a></td>
                                             <td><a href="/ecomapi/seller_exchange_order_data/{{seller}}/seller_exchange_rejected/">{{count.1}}</a></td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
