{% extends "admin/change_form.html" %}
{% load i18n %}

{% block content %}
<style>
    .inline_label{
        display:none !important;
    }
    .italic-title {
        font-size: 17px;
        font-weight: normal !important;
        margin: 0 0 5px 5px !important;
    }
    .link_menu{
        width:30% !important;
    }
    .menu-box li p {
    text-decoration: none;
    line-height: 18px;
    display: block;
    padding: 5px 10px 5px 13px;
    color: #666;
    border-bottom: 1px solid #ededed;

    display: flex;
}
</style>
{{block.super}}

<div class="" style="width:100%">
    <h4 class="italic-title">Details:</h4>

    <ul class="box menu-box link_menu" style="width:83% !important">

        <li>
            <p>
                <i class="icon-envelope icon-alpha75"></i> &nbsp;
                User Selfie :
                {% if user_profile_image.profile_image %}
                    <a href="/media/{{user_profile_image.profile_image}}" target="_blank" style="color: #56a8c2 !important; padding:0; border:none; margin-left:10px; float:right">
                        View
                    </a>
                {% else %}
                    <a href="#"  style="color: #56a8c2 !important; padding:0; border:none; margin-left:10px; float:right">
                        View
                    </a>
                {% endif %}
            </p>
        </li>

        <li>
            <p>
                <i class="icon-envelope icon-alpha75"></i> &nbsp;
                Total Loan Completed :
                <a target="_blank" href="/UserAccounts/userloantransaction/?q=&user__id__exact={{original.pk}}&status__exact=COMPLETED" style="color: #56a8c2 !important; padding:0; border:none; margin-left:10px; float:right">
                    {{total_comp_count}}
                </a>
            </p>
        </li>

        <li>
            <p>
                <i class="icon-envelope icon-alpha75"></i> &nbsp;
                Total Loan Approved :
                <a target="_blank" href="/UserAccounts/userloantransaction/?q=&user__id__exact={{original.pk}}&status__exact=APPROVED" style="color: #56a8c2 !important; padding:0; border:none; margin-left:10px; float:right">
                    {{total_app_count}}
                </a>
            </p>
        </li>

        <li>
            <p>
                <i class="icon-envelope icon-alpha75"></i> &nbsp;
                User Expense Income Tracker :
                <a href="/user_account/user-list?user={{original.pk}}" target="_blank"
                   style="color: #56a8c2 !important; padding:0; border:none; margin-left:10px; float:right">
                    View
                </a>
            </p>
        </li>

        <li>
            <p>
                <i class="icon-envelope icon-alpha75"></i> &nbsp;
                User SMS :
                <a href="/MudrakwikMaster/smsstringmaster/?user__id__exact={{original.pk}}"
                   target="_blank" style="color: #56a8c2 !important; padding:0; border:none; margin-left:10px; float:right">
                    View
                </a>
            </p>
        </li>

        <li>
            <p>
                <i class="icon-envelope icon-alpha75"></i> &nbsp;
                User Cibil Score :
                <span style="padding:0; border:none; margin-left:10px; float:right">
                    {{user_cibil_score}}
                </span>
            </p>
        </li>

    </ul>

</div>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}