{% extends "emails/base.html" %}
{% block tbody %}
    <tr>
        <td class="content-block">

            <p xmlns="http://www.w3.org/1999/html"></p>
            <p>Dear User,</p>
<!--            <p>We regret to inform you that your loan application number #{{loan_instance.loan_application_id}} has been cancelled,</p>-->
            <br>
            <p>{{reason}}</p>
            <p>Kindly check below details</p>
            <p><b>Loan Application Number :</b> {{loan_instance.loan_application_id}}</p>
            <p><b>Loan Applied Date :</b> {{loan_instance.created_date}}</p>
            <p><b>Loan Amount :</b> {{loan_instance.loan_scheme_id}} &#x20B9;</p>

            <br>
<!--            <p>For more details, please contact us on 8956039999 or email us on hello@mudrakwik.com</p>-->
        </td>
    </tr>
{% endblock %}