{% extends "emails/base.html" %}
{% block tbody %}
    <tr>
        <td class="content-block">

            <p xmlns="http://www.w3.org/1999/html"></p>
            <p>Dear User,</p>
            <p>We are pleased to inform you that your loan application number #{{loan_instance.loan_application_id}} has been approved successfully,</p>

            <br/>
            <p><b>Loan Application Number :</b> {{loan_instance.loan_application_id}}</p>
            <p><b>Loan Applied Date :</b> {{loan_instance.created_date}}</p>
            <p><b>Loan Amount :</b> {{loan_instance.approved_amount}} &#x20B9;</p>

            <br>
            <p></p>
        </td>
    </tr>
{% endblock %}