{% extends "Ecom/test_base.html" %}

{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/static/cdn/css/bootstrap(3.4.1).min.css">

<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <script src="/static/cdn/js/jquery(3.5.1).min.js"></script>


<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <script src="/static/cdn/js/bootstrap(3.4.1).min.js"></script>


<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="/static/cdn/js/jquery(3.2.1).min.js"></script>

<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
<link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>

<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>-->
<script src="/static/cdn/js/select2(4.0.13).min.js"></script>

</head>
<div class="container">

    <div class="bs-example">

        <div class="page-body">
            <div class="row">
                <div class="col-sm-12">

                    <div class="card">
                        <div class="card-header">
                            {% if msg %}
                            <h5>{{msg}}</h5>
                            {% endif %}<br>
                            <h3><b>Add Warehouse Details</b></h3>
                        </div>

                        <div class="card-block">
                            <div class="table-responsive">
                                <div class="table-content">
                                    <div class="project-table">
                                        <form action="/ecomapi/add_shiprocket_warehouse/" method="POST">{% csrf_token %}
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Select Seller:</label>
                                                <div class="col-sm-4">

                                                    <select class="form-control" id="seller" name="seller"
                                                            style="height:30px;text-align: center;" required>
                                                        <option value="">---Select seller here---</option>
                                                        {% if sellers %}
                                                        {% for seller in sellers %}

                                                        <option value="{{seller.username}}">{{seller.username}}</option>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </select>

                                                </div>
                                            </div>


                                            <br>
                                            <br>
                                            <br>


                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Enter Shop Name :</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control"
                                                           onkeypress="return isCharacter(event)"
                                                           name="shop_name" size="5" placeholder="Enter Shop Name"
                                                           required>
                                                </div>
                                            </div>

                                            <br>
                                            <br>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="pincode">Enter
                                                    Pin-Code: </label>
                                                <div class="col-sm-4">
                                                    <input class="form-control" name="pincode" type="text" id="pincode"
                                                           minlength="6" maxlength="6"
                                                           onkeyup="testIt(this.value);"
                                                           onkeypress="return isNumber(event)"
                                                           placeholder="Enter Pincode" required>
                                                </div>
                                            </div>

                                            <br>
                                            <br>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="country">Enter
                                                    country: </label>
                                                <div class="col-sm-4">
                                                    <input class="form-control" id="country" name="country"
                                                           onkeypress="return isCharacter(event)"
                                                           type="text" placeholder="Enter country" required>
                                                </div>
                                            </div>

                                            <br>
                                            <br>


                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="state">Enter State: </label>
                                                <div class="col-sm-4">
                                                    <input class="form-control" id="state" name="state"
                                                           onkeypress="return isCharacter(event)"
                                                           type="text" placeholder="Enter state" required>
                                                </div>
                                            </div>
                                            <br>
                                            <br>


                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="city">Enter City: </label>
                                                <div class="col-sm-4">
                                                    <input class="form-control" id="city" name="city"
                                                           onkeypress="return isCharacter(event)"
                                                           type="text" placeholder="Enter City" required>
                                                </div>
                                            </div>

                                            <br>
                                            <br>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Enter Address 1 :</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control"
                                                           name="address" size="5" placeholder="Enter Address 1"
                                                           required>
                                                </div>
                                            </div>
                                            <br>
                                            <br>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Enter Address 2 :</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control"
                                                           name="address_2" size="5" placeholder="Enter Address 2">
                                                </div>
                                            </div>
                                            <br>
                                            <br>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Enter Mobile no. :</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control"
                                                           onkeypress="return isNumber(event)" minlength="10"
                                                           maxlength="10"
                                                           name="mobile_no" size="5" placeholder="Enter Mobile no."
                                                           pattern="^([0|\+[0-9]{1,5})?([6-9][0-9]{9})$" required>
                                                </div>
                                            </div>
                                            <br>
                                            <br>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Enter Email ID. :</label>
                                                <div class="col-sm-4">
                                                    <input type="email" class="form-control"
                                                           placeholder="Enter email id"
                                                           name="email" required>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    <input class=" btn btn-success btn-sm" type="submit" value="Submit">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var testIt = function testIt(num) {
        if (num.length === 6) {
        ready()
        }
        }


</script>

<script>
            function ready() {
            var pin_code = document.getElementById('pincode').value;
            $.ajax({
                    type: "POST",
                    data: {
                        'pin_code': pin_code,
                    },
                    url: "/ecom/check_pin_code/",
                    success: function(data) {

                    var data = JSON.parse(data);
                    console.log("--success", data);
                    var status = data['status'];
                    if (status==="2"){
                    console.log('data is empty');
                    alert("Data is not available for this Pin code.. PLease enter data Manually..");
                    }
                    else{
                    var pincode = data['pin_code'];
                    var country = data['country'];
                    var state = data['state'];
                    var city = data['city'];

                    console.log('-----------------');
                    console.log(pincode);
                    console.log(country);
                    console.log(state);
                    document.getElementById('country').value = country;
                    document.getElementById('state').value = state;
                    document.getElementById('city').value = city;

                    }
                    },
                    error: function(data) {
                    console.log("--error",data);
                    }
                });
            }



</script>
<script>
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}


</script>
<script>
function isCharacter(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    console.log('charcode==========', charCode)
    if (charCode > 64 && charCode < 91){
        return true;
    }
    if (charCode > 96 && charCode < 123){
        return true;
    }
    if (charCode == 95) {
    return true;
    }
    return false;
}


</script>
<script>
function isCharacterNum(evt) {
console.log('inside char int funxtion');
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if ((charCode > 47 && charCode < 58) || (charCode > 96 && charCode < 123) || (charCode > 64 && charCode < 91)) {
        return true;
    }
    return false;
}

</script>
<script>
   $(document).ready(function () {

//change selectboxes to selectize mode to be searchable
   $("select").select2();
});




</script>

{% endblock %}