{% extends "Ecom/test_base.html" %}

{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
      <link rel="stylesheet" href="/static/cdn/css/bootstrap(3.4.1).min.css">
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
      <script src="/static/cdn/js/jquery(3.5.1).min.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
      <script src="/static/cdn/js/bootstrap(3.4.1).min.js"></script>
</head>

<div class="container">


    <div class="bs-example">

        <div class="page-body">
            <div class="row">
                <div class="col-sm-12">

                    <div class="card">
                        <div class="card-header">
                            {% if msg %}
                            <h5>{{msg}}</h5>
                            {% endif %}<br>
                            <h3><b>Add Warehouse Details</b></h3>
                        </div>

                        <div class="card-block">
                            <div class="table-responsive">
                                <div class="table-content">
                                    <div class="project-table">
                                        <form action="/ecomapi/add_warehouse_api/" method="POST">{% csrf_token %}
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Select Seller:</label>
                                                <div class="col-sm-10">

                                                    <select id="seller" name="seller" required>
                                                        <option value="">"---Select seller here---"</option>
                                                        {% if sellers %}
                                                        {% for seller in sellers %}

                                                        <option value="{{seller.username}}">{{seller.username}}</option>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Enter Shop Name :</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control"
                                                           name="shop_name" size="5" required>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Select Country:</label>
                                                <div class="col-sm-10">

                                                    <select name="country" id="countySel"
                                                            size="1">
                                                        <option value="countySel" selected="selected">India</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Select State:</label>
                                                <div class="col-sm-10">

                                                    <select id="mySelect"
                                                            name="state"
                                                            onchange="myFunction()"
                                                            required>
                                                        <option value="">"---Select State here---"</option>
                                                        {% if state_list %}
                                                        {% for state in state_list %}

                                                        <option value="{{state}}">{{state}}</option>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <!--                                        <input class="col-xs-12" id="city" name="city"-->
                                            <!--                                                       type="text" placeholder="city"><br>-->

                                             <div class="form-group">
                                                <label class="control-label col-sm-2">Select City:</label>
                                                <div class="col-sm-10">
                                           <select
                                                    name="city"
                                                    id="city">
                                                <p>city{{city}}</p>

                                                {% for i in city %}
                                                <p>asdas{{i}}</p>

                                                <option value=i>i</option>
                                                <!--                                {% endfor %}-->
                                            </select>
                                                </div>
                                             </div><br><br>




                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Enter Address 1 :</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control"
                                                           name="address_1" size="5" required>
                                                </div>
                                            </div>
                                            <br>
                                            <br>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Enter Address 2 :</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control"
                                                           name="address_2" size="5" >
                                                </div>
                                            </div>
                                            <br>
                                            <br>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Mobile no. :</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control"
                                                           name="mobile_no" size="5" required>
                                                </div>
                                            </div>
                                            <br>
                                            <br>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Pin Code. :</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control"
                                                           name="pin_code" size="5" required>
                                                </div>
                                            </div>
                                            <br>
                                            <br>







<!--                                            Enter Address 1 &ensp;: <input type="text" name="address_1"-->
<!--                                                                           required><br><br>-->
<!--                                            Enter Address 2 &ensp;: <input type="text" name="address_2"><br><br>-->
<!--                                            Mobile no. &ensp;&ensp;&ensp; &ensp;&ensp;&ensp;: <input-->
<!--                                                    type="text"-->
<!--                                                    name="mobile_no"-->
<!--                                                    required><br><br>-->
<!--                                            Pin Code. &ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&nbsp;: <input-->
<!--                                                    type="text"-->
<!--                                                    name="pin_code"-->
<!--                                                    required><br>-->
<!--                                            <br>-->
                                            <input type="submit" value="Submit">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="md-overlay"></div>

</div>


<!-- <script>-->
<!--    var testIt = function testIt() {-->

<!--        {-->
<!--        console.log('helloooooo');-->
<!--        ready()-->
<!--        }-->
<!--        }-->


<!--  </script>-->


<script>


               function myFunction() {
               var state = document.getElementById("mySelect").value;
               console.log(state);



            $.ajax({
                    type: "POST",
                    data: {
                         'state': state
                    },
                    url: "/ecomapi/country_state_pincode/",
                    success: function(data) {

                    var data = JSON.parse(data);
                    console.log("--success", data);
                    var status = data['status'];
                    if (status==="2"){
                    console.log('data is empty');
                    alert("Data is not available");
                    }
                    else{

                        console.log('------else--');
                    var city = data['city'];
                    for(var i=0;i<data['city'].length;i++)
                    {
                        var opt = new Option(data['city'][i]);
                        $("#city").append(opt);
                    }

                    console.log('-----------------');
                    console.log(city);
                    document.getElementById('city').value = city;

                    }
                    },
                    error: function(data) {
                    console.log("--error",data);
                    }

                });
            }



















</script>

{% endblock %}

<!--<div id="styleSelector">-->
<!--</div>-->


<!--&lt;!&ndash;[if lt IE 10]>-->
<!--<div class="ie-warning">-->
<!--    <h1>Warning!!</h1>-->
<!--    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers-->
<!--        to access this website.</p>-->
<!--    <div class="iew-container">-->
<!--        <ul class="iew-download">-->
<!--            <li>-->
<!--                <a href="http://www.google.com/chrome/">-->
<!--                    <img src="/static/adminty/files/assets/images/browser/chrome.png" alt="Chrome">-->
<!--                    <div>Chrome</div>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="https://www.mozilla.org/en-US/firefox/new/">-->
<!--                    <img src="/static/adminty/files/assets/images/browser/firefox.png" alt="Firefox">-->
<!--                    <div>Firefox</div>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="http://www.opera.com">-->
<!--                    <img src="/static/adminty/files/assets/images/browser/opera.png" alt="Opera">-->
<!--                    <div>Opera</div>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="https://www.apple.com/safari/">-->
<!--                    <img src="/static/adminty/files/assets/images/browser/safari.png" alt="Safari">-->
<!--                    <div>Safari</div>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">-->
<!--                    <img src="/static/adminty/files/assets/images/browser/ie.png" alt="">-->
<!--                    <div>IE (9 & above)</div>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <p>Sorry for the inconvenience!</p>-->
<!--</div>-->
<!--<![endif]&ndash;&gt;-->


<!--<script type="ab1495ac937dbd29109a8aae-text/javascript"-->
<!--        src="/static/adminty/files/bower_components/jquery/js/jquery.min.js"></script>-->
<!--<script type="ab1495ac937dbd29109a8aae-text/javascript"-->
<!--        src="/static/adminty/files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>-->
<!--<script type="ab1495ac937dbd29109a8aae-text/javascript"-->
<!--        src="/static/adminty/files/bower_components/popper.js/js/popper.min.js"></script>-->
<!--<script type="ab1495ac937dbd29109a8aae-text/javascript"-->
<!--        src="/static/adminty/files/bower_components/bootstrap/js/bootstrap.min.js"></script>-->

<!--<script type="ab1495ac937dbd29109a8aae-text/javascript"-->
<!--        src="/static/adminty/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>-->

<!--<script type="ab1495ac937dbd29109a8aae-text/javascript"-->
<!--        src="/static/adminty/files/bower_components/modernizr/js/modernizr.js"></script>-->
<!--<script type="ab1495ac937dbd29109a8aae-text/javascript"-->
<!--        src="/static/adminty/files/bower_components/modernizr/js/css-scrollbars.js"></script>-->

<!--<script src="/static/adminty/files/bower_components/datatables.net/js/jquery.dataTables.min.js"-->
<!--        type="ab1495ac937dbd29109a8aae-text/javascript"></script>-->
<!--<script src="/static/adminty/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"-->
<!--        type="ab1495ac937dbd29109a8aae-text/javascript"></script>-->
<!--<script src="/static/adminty/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"-->
<!--        type="ab1495ac937dbd29109a8aae-text/javascript"></script>-->
<!--<script src="/static/adminty/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"-->
<!--        type="ab1495ac937dbd29109a8aae-text/javascript"></script>-->

<!--<script src="/static/adminty/files/assets/pages/jquery.filer/js/jquery.filer.min.js"-->
<!--        type="ab1495ac937dbd29109a8aae-text/javascript"></script>-->
<!--<script src="/static/adminty/files/assets/pages/filer/custom-filer.js"-->
<!--        type="ab1495ac937dbd29109a8aae-text/javascript"></script>-->
<!--<script src="/static/adminty/files/assets/pages/filer/jquery.fileuploads.init.js"-->
<!--        type="ab1495ac937dbd29109a8aae-text/javascript"></script>-->

<!--<script src="/static/adminty/files/assets/js/classie.js" type="ab1495ac937dbd29109a8aae-text/javascript"></script>-->
<!--<script src="/static/adminty/files/assets/js/modalEffects.js" type="ab1495ac937dbd29109a8aae-text/javascript"></script>-->

<!--<script type="ab1495ac937dbd29109a8aae-text/javascript"-->
<!--        src="/static/adminty/files/assets/pages/product-list/product-list.js"></script>-->

<!--<script type="ab1495ac937dbd29109a8aae-text/javascript"-->
<!--        src="/static/adminty/files/bower_components/i18next/js/i18next.min.js"></script>-->
<!--<script type="ab1495ac937dbd29109a8aae-text/javascript"-->
<!--        src="/static/adminty/files/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>-->
<!--<script type="ab1495ac937dbd29109a8aae-text/javascript"-->
<!--        src="/static/adminty/files/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>-->
<!--<script type="ab1495ac937dbd29109a8aae-text/javascript"-->
<!--        src="/static/adminty/files/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>-->
<!--<script src="/static/adminty/files/assets/js/pcoded.min.js" type="ab1495ac937dbd29109a8aae-text/javascript"></script>-->
<!--<script src="/static/adminty/files/assets/js/vartical-layout.min.js"-->
<!--        type="ab1495ac937dbd29109a8aae-text/javascript"></script>-->
<!--<script src="/static/adminty/files/assets/js/jquery.mCustomScrollbar.concat.min.js"-->
<!--        type="ab1495ac937dbd29109a8aae-text/javascript"></script>-->

<!--<script type="ab1495ac937dbd29109a8aae-text/javascript" src="/static/adminty/files/assets/js/script.js"></script>-->

<!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"-->
<!--        type="ab1495ac937dbd29109a8aae-text/javascript"></script>-->
<!--<script type="ab1495ac937dbd29109a8aae-text/javascript">-->
<!--  window.dataLayer = window.dataLayer || [];-->
<!--  function gtag(){dataLayer.push(arguments);}-->
<!--  gtag('js', new Date());-->

<!--  gtag('config', 'UA-23581568-13');-->


<!--</script>-->
<!--<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"-->
<!--        data-cf-settings="ab1495ac937dbd29109a8aae-|49" defer=""></script>-->
<!--</body>-->

<!--&lt;!&ndash; Mirrored from colorlib.com//polygon/adminty/default/product-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 09 Mar 2020 11:39:03 GMT &ndash;&gt;-->
<!--</html>-->
