{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order</th>
                                                <th>Waybill No</th>
                                                <th>Refnum</th>
                                                <th>Remark</th>
                                                <th>Logistics</th>
                                                <th>Status</th>
                                                <th>Order Data Text</th>
                                                <th>Order Mode</th>
                                                <th>Created Date</th>
                                                <th>Updated Date</th>
                                                <th>Print Shipment</th>
                                                <th>Print Manifest</th>

                                            </tr>
                                            </thead>
                                            {% if logistic_order %}
                                            {% for order in logistic_order %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{order.order_id}}</td>
                                                <td>{{order.waybill_no}}</td>
                                                <td>{{order.refnum}}</td>
                                                <td>{{order.remark}}</td>
                                                <td>{{order.logistics}}</td>
                                                <td>{{order.status}}</td>
                                                <td>{{order.order_data_text}}</td>
                                                <td>{{order.order_mode}}</td>
                                                <td>{{order.created_date}}</td>
                                                <td>{{order.updated_date}}</td>
                                                <td>

                                                    <button type="button"
                                                            class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"
                                                            onclick="print_shipment('{{order.waybill_no}}')"
                                                            data-modal="modal-13"><i class=""></i>

                                                        Print Shipment Label
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button"
                                                            class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"
                                                            onclick="print_manifest('{{order.waybill_no}}')"
                                                            data-modal="modal-13"><i class=""></i>

                                                        Print Manifest
                                                    </button>
                                                </td>
                                                <td>
                                                    <form action="/ecom/tax_invoice/{{order.order.id}}/"
                                                          method="post"> {% csrf_token %}
                                                        <button type="submit" name="ware_house_id"
                                                                value="{{order.order.id}}">Tax Invoice
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div id="styleSelector">
    </div>
</div>

<script>
function print_shipment(waybill_no) {
    console.log('waybill no===========11111111111111===========', waybill_no);
	$.ajax({
                    type: "POST",
                    data: {
                        'waybill_no': waybill_no,
                    },
                    url: "/ecomapi/print_shipment_label_api/",
                    success: function(data) {
                    var data = JSON.parse(data)
                    console.log("--success============", data["url"]);
                    if (data["url"] == ""){
                    alert('Data not found')
                    }
                    else{
                        openInNewTab(data["url"]);
                    }
                    },
                    error: function(data) {

                    }
                });
}

</script>


<script>
function print_manifest(waybill_no) {
    console.log('waybill no===========11111111111111===========', waybill_no);
	$.ajax({
                    type: "POST",
                    data: {
                        'waybill_no': waybill_no,
                    },
                    url: "/ecomapi/print_manifest_api/",
                    success: function(data) {
                    var data = JSON.parse(data)
                    console.log("--success============", data["url"]);
                    if (data["url"] == ""){
                    alert('Data not found')
                    }
                    else{
                        openInNewTab(data["url"]);
                    }
                    },
                    error: function(data) {

                    }
                });
}

</script>

<script>
    function openInNewTab(href) {
  Object.assign(document.createElement('a'), {
    target: '_blank',
    href,
  }).click();
}
</script>

{% endblock %}

