{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            {% if logistic_order %}

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>

                                                <th>Total Delivery Order</th>
                                                <th>Total Reverse Order</th>


                                            </tr>
                                            </thead>
                                            {% for seller, order in logistic_order.items %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>
                                                    <a href="/ecom/logistic_orders/{{seller}}/Delivery/">{{order.0}}</a>
                                                </td>
                                                <td>
                                                    <a href="/ecom/logistic_orders/{{seller}}/Reverse/">{{order.1}}</a>
                                                </td>


                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                            {% if logistic_orders %}

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Seller Name</th>
                                                <th>Total Delivery Order</th>
                                                <th>Total Reverse Order</th>

                                            </tr>
                                            </thead>
                                            {% for seller, order in logistic_orders.items %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{seller}}</td>
                                                <td>
                                                    <a href="/ecom/logistic_orders/{{seller}}/Delivery/">{{order.0}}</a>
                                                </td>
                                                <td>
                                                    <a href="/ecom/logistic_orders/{{seller}}/Reverse/">{{order.1}}</a>
                                                </td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                {% endblock %}

