{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <div id="wait"
                         style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;">
                        <div class="preloader3 loader-block" id="loader">
                            <div class="circ1"></div>
                            <div class="circ2"></div>
                            <div class="circ3"></div>
                            <div class="circ4"></div>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>

                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order</th>
                                                <th>Unique Order Id</th>
                                                <th>Image</th>

                                                <th>Product Name</th>
                                                <th>SKU</th>
                                                <th>Seller Amount</th>
                                                <th>Waybill No</th>
                                                <th>Refnum</th>
                                                <th>Remark</th>
                                                <th>Logistics</th>
                                                <th>Type</th>
                                                <th>Status</th>
                                                <th>Order Data Text</th>
                                                <th>Order Mode</th>
                                                <th>Created Date</th>
                                                <th>Updated Date</th>
                                                <th>Print Shipment</th>
                                                <th>Print Manifest</th>
                                                <th>Tax Invoice</th>

                                            </tr>
                                            </thead>
                                            {% if logistic_order %}

                                            {% for order, path in logistic_order.items %}

                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/ecom/order-all-details/{{order.order.id}}/">{{order.order.order_id}}</a>
                                                </td>
                                                <td><a href="/ecom/order_related_data/{{order.order.id}}/">{{order.order.unique_order_id}}</a>
                                                </td>
                                                <td><img class="img-fluid" height="100" id="154"
                                                         src="{{path}}" style="height: 100px;" width="100"></td>
                                                <td>{{order.order.product_details.product_id.name}}</td>
                                                <td>{{order.order.product_details.sku}}</td>
                                                <td>{{order.order.order_details_amount.seller_amount}}</td>

                                                <td>{{order.waybill_no}}</td>
                                                <td>{{order.refnum}}</td>
                                                <td>{{order.remark}}</td>
                                                <td>{{order.logistics}}</td>
                                                <td>{{order.type}}</td>
                                                <td>{{order.status}}</td>
                                                <td>{{order.order_data_text}}</td>
                                                <td>{{order.order_mode}}</td>
                                                <td>{{order.created_date}}</td>
                                                <td>{{order.updated_date}}</td>
                                                <td>
                                                    <button type="button"
                                                            class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"
                                                            onclick="print_shipment('{{order.order.id}}')"
                                                            data-modal="modal-13"><i class=""></i>

                                                        Print Shipment Label
                                                    </button>
                                                    <!--                                                     <button type="button"-->
                                                    <!--                                                            class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"-->
                                                    <!--                                                            onclick="print_shipment_shiprocket('{{order.order.unique_order_id}}')"-->
                                                    <!--                                                            data-modal="modal-13"><i class=""></i>-->

                                                    <!--                                                        Print Shipment Label-->
                                                    <!--                                                    </button>-->
                                                </td>
                                                <td>
                                                    <button type="button"
                                                            class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"
                                                            onclick="print_manifest('{{order.order.id}}')"
                                                            data-modal="modal-13"><i class=""></i>

                                                        Print Manifest
                                                    </button>
<!--                                                    <button type="button"-->
<!--                                                            class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"-->
<!--                                                            onclick="print_manifest_shiprocket('{{order.order.unique_order_id}}')"-->
<!--                                                            data-modal="modal-13"><i class=""></i>-->

<!--                                                        Print Shipment Label-->
<!--                                                    </button>-->
                                                </td>
                                                <td>
                                                    <form action="/ecom/tax_invoice/{{order.order.id}}/"
                                                          method="post"> {% csrf_token %}
                                                        <button type="submit" name="ware_house_id"
                                                                value="{{order.order.id}}">Tax Invoice
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


    function print_shipment(order_id) {
        $(document).ajaxStart(function(){
            $("#wait").css("display", "block");
        });
        $.ajax({
            type: "POST",
            data: {
                'order_id': order_id,
            },
            url: "/ecomapi/print_shipment_label_api/",
            success: function (data) {
                var data = JSON.parse(data)
                if (data["url"] == "") {
                    alert('Data not found')
                } else {
                    openInNewTab(data["url"]);
                }
            },
            error: function (data) {
                console.log("err",data)
            }
        });

         $(document).ajaxComplete(function(){
            $("#wait").css("display", "none");
          });
    }



</script>

<script>


    function print_shipment_shiprocket(unique_order_id) {
        $(document).ajaxStart(function(){
            $("#wait").css("display", "block");
        });
        $.ajax({
            type: "POST",
            data: {
                'unique_order_id': unique_order_id,
            },
            url: "/ecomapi/print_shiprocket_manifest_api_req/",
            success: function (data) {
                var data = JSON.parse(data)
                console.log("asd")
                console.log("asd",data)
                if (data["url"] == "") {
                    alert('Data not found')
                } else {
                    openInNewTab(data["url"]);
                }
            },
            error: function (data) {
                console.log("err",data)
            }
        });

         $(document).ajaxComplete(function(){
            $("#wait").css("display", "none");
          });
    }




</script>


<script>

    function print_manifest(order_id) {
        $(document).ajaxStart(function(){
            $("#wait").css("display", "block");
        });
        $.ajax({
            type: "POST",
            data: {
                'order_id': order_id,
            },
            url: "/ecomapi/print_manifest_api/",
            success: function (data) {
                var data = JSON.parse(data)
                if (data["url"] == "") {
                    alert('Data not found')
                } else {
                    openInNewTab(data["url"]);
                }
            },
            error: function (data) {
                $("#wait").css("display", "none");
            }
        });
         $(document).ajaxComplete(function(){
            $("#wait").css("display", "none");
          });
    }


    function print_manifest_shiprocket(unique_order_id) {
        $(document).ajaxStart(function(){
            $("#wait").css("display", "block");
        });
        $.ajax({
            type: "POST",
            data: {
                'unique_order_id': unique_order_id,
            },
            url: "/ecomapi/generate_label_api_req/",
            success: function (data) {
                var data = JSON.parse(data)
                if (data["url"] == "") {
                    alert('Data not found')
                } else {
                    openInNewTab(data["url"]);
                }
            },
            error: function (data) {
                $("#wait").css("display", "none");
            }
        });
         $(document).ajaxComplete(function(){
            $("#wait").css("display", "none");
          });
    }


</script>

<script>

    function openInNewTab(href) {
        Object.assign(document.createElement('a'), {
            target: '_blank',
            href,
        }).click();
    }



</script>

{% endblock %}

