
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="page-body">
    <div class="container">
        <div>
            <div class="card">
                <b><h4 style="text-align:center">Tax Invoice</h4></b>
                <div class="row invoice-contact">
                    <div class="col-md-8">
                        <div class="invoice-box row">
                            <div class="col-sm-12">
                                <table class="table table-responsive invoice-table table-borderless">
                                    <tbody>
                                    <tr>
                                        <td><img
                                                src="/static/ecom/images/creditkart.png"
                                                width="105" height="74"
                                                class="m-b-10" alt=""></td>
                                    </tr>
                                    <tr>
                                        <td>The Creditkart</td>
                                    </tr>
                                    <tr>
                                        <td>13, 14, 15 & 16, Downtown City Vista,
                                            Kharadi, Pune 411014
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Email - info@thecreditkart.com
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Contact - +91 9807289807</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="card-block">
                    <div class="row invoive-info">
                        <div class="col-md-4 col-xs-12 invoice-client-info">
                            <h6>Customer Address :</h6>
                            <p>{{order_details.address.address}}
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h6>Order Information :</h6>
                            <table class="table table-responsive invoice-table invoice-order table-borderless">
                                <tbody>
                                <tr>
                                    <th>Order ID :</th>
                                    <td>{{order.order_id}}</td>
                                </tr>
                                <tr>
                                    <th>Date :</th>
                                    <td>{{order.created_date}}</td>
                                </tr>
                                <tr>
                                    <th>Order Id :</th>
                                    <td>
                                        {{order.unique_order_id}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>SKU :</th>
                                    <td>
                                        {{order.product_details.sku}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h6 class="m-b-20">Product Information : </h6>
                            <table class="table table-responsive invoice-table invoice-order table-borderless">
                                <tbody>
                                <tr>
                                    <th>Size :</th>
                                    <td>{{order.product_details.size_id.name}}</td>
                                </tr>
                                <tr>
                                    <th>Colour :</th>
                                    <td>{{order.product_details.colour_id.name}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table  invoice-detail-table">
                                    <thead>
                                    <tr class="thead-default">
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Total Price</th>
                                        <th>Tax</th>
                                        <th>Total Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            {{order.product_details.product_id.name}}
                                        </td>
                                        <td>{{order.quantity}}</td>
                                        <td>{{mudra_amount}}</td>
                                        <td>{{total_mudra_amount}}</td>
                                        <td>{{total_additional_amount}}</td>
                                        <td>{{total_amount}}</td>
                                        <td>{{order.product_details_amount.admin_amount}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
<!--                    <div class="row">-->
                        <div class="col-sm-12">
                            <table class="table table-responsive invoice-table invoice-total">
                                <tbody>
<!--                                <tr>-->
<!--                                    <th>Sub Total :</th>-->
<!--                                    <td>{{order.total_amount}}</td>-->
<!--                                </tr>-->
                                <tr class="text-info">
                                    <td>
                                        <hr/>
                                        <h5 class="text-primary">Total :</h5>
                                    </td>
                                    <td>
                                        <hr/>
                                        <h5 class="text-primary">{{total_amount}}</h5>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
<!--                    </div>-->
                    <div class="row">
                        <div class="col-sm-12">
                            <h6>Terms And Conditions :</h6>
                            <p>At CreditKart, we take pride in our quality products
                                and services and we value our relationship with you.
                                If at any time you feel our products do not meet your needs,
                                please return the item by following our e-commerce return policy
                                within the applicable 7 day period.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
