{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<!--<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>-->
<script src="/static/cdn/js/jquery(3.5.1).min.js"></script>

<!--<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>-->
<script src="/static/cdn/js/jquery(1.10.12).dataTables.min.js"></script>

<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css"/>-->
<link rel="stylesheet" type="text/css" href="/static/cdn/css/datatables(1.10.21).min.css"/>

<!--<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>-->
<script src="/static/cdn/js/dt_jquery(1.10.12).dataTables.min.js"></script>
<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css"/>-->
<!--<link rel="stylesheet" type="text/css" href="/static/cdn/css/dt_datatables(1.10.21).min.css"/>-->

<script>

    $(document).ready( function () {
    $('#table_id').DataTable();
} );

</script>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Warehouse Details</h5>
                    <form action="/ecomapi/add_warehouse">
                        <input type="submit"
                               class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                               value="Add Warehouse">
                        </input>


                    </form>
                    <form action="/ecomapi/get_warehouse_approval/" id="approval_button" style="visibility:hidden"
                          method="POST">{% csrf_token %}
                        <input type="hidden" class="" id="warehouses" name="warehouse_list"
                               value=""/>
                        <input type="submit" value="Get_approval">
                    </form>
                    <form action="/ecomapi/update_multiple_warehouse_status/" id="update_status" style="visibility:hidden"
                          method="POST">{% csrf_token %}
                        <input type="hidden" class="" id="update_status1" name="warehouse_list"
                               value=""/>
                        <input type="submit" value="Update_Status">
                    </form>

                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table_id"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th class="center">
                                                    <label class="">
                                                        <input type="checkbox" class="" onclick="toggle(this);"/>
                                                        <span class="lbl"></span>
                                                    </label>
                                                </th>
                                                <th>Sr.no</th>
                                                <th>seller</th>
                                                <th>Company Name</th>
                                                <th>Primary Address</th>
                                                <th>Secondary Address</th>
                                                <th>Mobile No</th>
                                                <th>Pin Code</th>
                                                <th>City Id</th>
                                                <th>State Id</th>
                                                <th>Country Id</th>
                                                <th>Warehouse Id</th>
                                                <th>Approval Status</th>
                                                <th>Created Date</th>
                                                <th>Updated Date</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            {% if ware_house_data %}
                                            {% for data in ware_house_data %}
                                            <tr>
                                                <td><input type="checkbox" class="" id="checkbox" name="checkbox"
                                                           value="{{data.warehouse_id}}"
                                                           onclick="get_selected_checkedbox_data()"/></td>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{data.seller}}</td>
                                                <td>{{data.company_name}}</td>
                                                <td>{{data.primary_address}}</td>
                                                <td>{{data.secondary_address}}</td>
                                                <td>{{data.mobile_no}}</td>
                                                <td>{{data.pin_code}}</td>
                                                <td>{{data.city_id}}</td>
                                                <td>{{data.state_id}}</td>
                                                <td>{{data.country_id}}</td>
                                                <td>{{data.warehouse_id}}</td>
                                                <td>{{data.approval_status}}</td>
                                                <td>{{data.created_date}}</td>
                                                <td>{{data.updated_date}}</td>
                                                <td>
                                                    <form action="/ecomapi/update_warehouse_status/{{data.warehouse_id}}/"
                                                          method="post"> {% csrf_token %}
                                                        <button type="submit" name="ware_house_id"
                                                                value="{{data.warehouse_id}}">Update Status
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div id="styleSelector">
    </div>
</div>


<script>
        <!--get the message-->
        var message = '';
        var warehouse_list = [];
         function toggle(source) {
                        var checkboxes = document.querySelectorAll('input[name="checkbox"]');
                        for (var i = 0; i < checkboxes.length; i++) {
                            if (checkboxes[i] != source)
                                checkboxes[i].checked = source.checked;
                               }
                                var values = [];
                $.each($("input[name='checkbox']:checked"), function() {


                    var data = $(this).parents('tr:eq(0)');
                    console.log("----data", values);

                    values.push($(data).find('td:eq(11)').text()
                    );
                    warehouse_list = values;

                    length1 = warehouse_list.length

                    if (warehouse_list.length >= 1){

                    document.getElementById("approval_button").style.visibility="visible";
                    document.getElementById("update_status").style.visibility="visible";
                    }

                });

                document.getElementById('warehouses').value = values;
                document.getElementById('update_status1').value = values;

                if (values.length < 1){
                    document.getElementById("approval_button").style.visibility="hidden";
                    document.getElementById("update_status").style.visibility="hidden";

                    }

                        }

        function get_selected_checkedbox_data() {



            $("input[name='checkbox']").click(function() {
                var values = [];

                $.each($("input[name='checkbox']:checked"), function() {


                    var data = $(this).parents('tr:eq(0)');


                    values.push($(data).find('td:eq(11)').text()
                    );
                    warehouse_list = values;



                    if (warehouse_list.length >= 1){

                    document.getElementById("approval_button").style.visibility="visible";
                    document.getElementById("update_status").style.visibility="visible";
                    }

                });

                document.getElementById('warehouses').value = values;
                document.getElementById('update_status1').value = values;

                if (values.length < 1){
                    document.getElementById("approval_button").style.visibility="hidden";
                    document.getElementById("update_status").style.visibility="hidden";

                    }
            });
        }

</script>
{% endblock %}