

<!DOCTYPE html>
<html lang="en">
   {% load auth_extras %}
   <head>
      {% load staticfiles %}
      <title>{{ user.groups.all.0 }} | Admin</title>
      <!-- Notification script tag do not delete this 3 lines plz. -->
      <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
      <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
      <meta charset="utf-8"/>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <meta content="Common Buttons &amp; Icons" name="description"/>
      <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
         name="viewport"/>
      <!-- bootstrap & fontawesome -->
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
      <link href="{% static 'font-awesome/4.5.0/css/font-awesome.min.css' %}"
         rel="stylesheet" type="text/css"/>
      <!-- page specific plugin styles -->
      <!--<link rel="stylesheet" href="{% static 'css/jquery-ui.custom.min.css' }" type="text/css" />-->
      <link href="{% static 'css/fullcalendar.min.css' %}" rel="stylesheet" type="text/css"/>
      <!-- text fonts -->
      <link href="{% static 'css/fonts.googleapis.com.css' %}" rel="stylesheet" type="text/css"/>
      <!-- ace styles -->
      <link class="ace-main-stylesheet" href="{% static 'css/ace.min.css' %}" rel="stylesheet"
         type="text/css"/>
      <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
      <!--[if lte IE 9]>
      <link rel="stylesheet" href="{% static 'css/ace-part2.min.css' %}" type="text/css" class="ace-main-stylesheet"/>
      <![endif]-->
      <link href="{% static 'css/ace-skins.min.css' %}" rel="stylesheet" type="text/css"/>
      <link href="{% static 'css/ace-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
      <!--[if lte IE 9]>
      <link rel="stylesheet" href="{% static 'css/ace-ie.min.css' %}" type="text/css"/>
      <![endif]-->
      <!-- inline styles related to this page -->
      <!-- ace settings handler -->
      <script src="{% static 'js/ace-extra.min.js' %}"></script>
      <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
      <!-- script in hide and show div edit -->
      <!-- Start Of This is link for gallery design  -->
      <!-- page specific plugin styles -->
      <link href="{% static 'css/colorbox.min.css' %}" rel="stylesheet"/>
      <!-- ace styles -->
      <link class="ace-main-stylesheet" href="{% static 'css/ace.min.css' %}" rel="stylesheet" type="text/css"/>
      <!-- End of This is link for gallery design  -->
      <!-- this link is used to select subject for drop down list -->
      <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
      <!-- jQuery & jQueryUI Styles and Scripts for datepicker -->
      <!--&lt;!&ndash; ace styles &ndash;&gt;-->
      <link class="ace-main-stylesheet" href="{% static 'css/ace.min.css' %}" id="main-ace-style" rel="stylesheet"
         type="text/css"/>
      <link href="{% static 'css/adminlte.min.css' %}" rel="stylesheet" type="text/css">
   </head>
   <!-- Notification script end do not delete -->
   <body class="no-skin">
      <div class="navbar navbar-default ace-save-state" id="navbar">
         <div class="navbar-container ace-save-state" id="navbar-container">
            <button class="navbar-toggle menu-toggler pull-left" data-target="#sidebar"
               id="menu-toggler" type="button">
            <span class="sr-only">Toggle sidebar</span> <span class="icon-bar"></span>
            <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <div class="navbar-header pull-left">
               <a class="navbar-brand" href="/recovery/dashboard/"> <small> <i
                  class="fa fa-home"></i> {{ user.groups.all.0 }} Dashboard
               </small>
               </a>
            </div>
            <div class="navbar-buttons navbar-header pull-right"
               role="navigation">
               <ul class="nav ace-nav">
                  <li class=""><a href=""> <i class="menu-icon fa fa-calendar"></i>
                     <span class="menu-text"> Calendar <span
                        class="badge badge-transparent tooltip-error"
                        title="2 Important Events"> </span>
                     </span>
                     </a> <b class="arrow"></b>
                  </li>
                  <li class="purple dropdown-modal">
                     <a class="" data-toggle="" href="/recovery/call_reminder_today/">
                     <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                     <span class="label label-pill label-danger count" style="border-radius:10px;"></span></a>
                     <ul class="dropdown-menu dropdown-navbar"></ul>
                  </li>
                  <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                     <li class="dropdown-content">
                        <ul class="dropdown-navbar navbar-pink">
                           <li>
                              <a href="#">
                                 <div class="clearfix">
                                    <span class="pull-left">
                                    <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                    New Comments
                                    </span>
                                    <span class="pull-right badge badge-info">+12</span>
                                 </div>
                              </a>
                           </li>
                           <li>
                              <a href="#">
                              <i class="btn btn-xs btn-primary fa fa-user"></i>
                              Bob just signed up as an editor ...
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <div class="clearfix">
                                    <span class="pull-left">
                                    <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                                    New Orders
                                    </span>
                                    <span class="pull-right badge badge-success">+8</span>
                                 </div>
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <div class="clearfix">
                                    <span class="pull-left">
                                    <i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
                                    Followers
                                    </span>
                                    <span class="pull-right badge badge-info">+11</span>
                                 </div>
                              </a>
                           </li>
                        </ul>
                     </li>
                     <li class="dropdown-footer">
                        <a href="#">
                        See all notifications
                        <i class="ace-icon fa fa-arrow-right"></i>
                        </a>
                     </li>
                  </ul>
                  </li>
                  <li class="light-blue dropdown-modal">
                     <a class="dropdown-toggle"
                        data-toggle="dropdown" href="#"> <img alt=""
                        class="nav-user-photo" height="30px"
                        src=""
                        width="30px"/> <span
                        class="user-info"> <small>Welcome,</small> {% block uname %}
                     {% endblock uname %}
                     </span> <i class="ace-icon fa fa-caret-down"></i>
                     </a>
                     <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li class="divider"></li>
                        <li>&nbsp; <i
                           class="menu-icon fa fa-key">&nbsp;<a href="/recovery/reset_password/">Change
                           Password</a></i>
                        </li>
                        <li>
                           <form action="/recovery/logout/" method="POST">
                              {% csrf_token %}
                              <button class=" btn btn-sm btn-primary" style="width:100%" type="submit">
                              <span class="bigger-110">Logout</span>
                              </button>
                           </form>
                           <!--<a href="/customer/logout/">-->
                           <!--<i class="ace-icon fa fa-power-off"></i>-->
                           <!--Logout-->
                           <!--</a>-->
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </div>
         <!-- /.navbar-container -->
      </div>
      <div class="main-container ace-save-state" id="main-container">
         <script type="text/javascript">
            try{ace.settings.loadState('main-container')}catch(e){}
            
            
            
            
         </script>
         <div class="sidebar                  responsive                    ace-save-state"
            id="sidebar">
            <script type="text/javascript">
               try{ace.settings.loadState('sidebar')}catch(e){}
               
               
               
               
               
            </script>
            <!-- /.sidebar-shortcuts -->
            <ul class="nav nav-list">

               <!--<li class=""><a href="" class=""> <i-->
               <!--		class="menu-icon fa fa-university"></i> <span class="menu-text">Laundery Info</span>-->
               <!--</a>-->
               <!--</li>-->
               <!--				<li class=""><a href="" class=""> <i-->
               <!--						class="menu-icon fa fa-bug"></i> <span class="menu-text">Overdue Info</span>-->
               <!--				</a>-->
               <!--				</li>-->
               {% if request.user|has_group:"Business Associate" %}
                  <li class=""><a href="/recovery/dashboard/"> <i
                  class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
                  Business Associate Dashboard </span>
                  </a> <b class="arrow"></b>
               </li>

               <li class=""><a href="/recovery/pancard-search/"> <i
                  class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
                  Pan card search </span>
                  </a> <b class="arrow"></b>
               </li>
               {% endif %}

               {% if request.user|has_group:"Customer Executive" %}
               <li class=""><a href="/customer/customer-dashboard/"> <i
                  class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
                  Dashboard </span>
                  </a> <b class="arrow"></b>
               </li>

               <li class=""><a href="/customer/subscription-check/"> <i
                  class="menu-icon fa fa-bar-chart"></i> <span class="menu-text">
                  Subscription Check </span>
                  </a> <b class="arrow"></b>
               </li>
               <li class=""><a href="/customer/pancard-search/"> <i
                  class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
                  Pan card search </span>
                  </a> <b class="arrow"></b>
               </li>


               {% endif %}

               {% if request.user|has_group:"Recovery Team" %}
               <li class=""><a href="/recovery/dashboard/"> <i
                 class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
                  Dashboard </span>
               </a> <b class="arrow"></b>
               </li>


               <li class=""><a class="" href="/recovery/overdue_details_view/"> <i
                       class="menu-icon fa fa-bug"></i> <span class="menu-text">Defaulter Info</span>
               </a>
               </li>
               <li class=""><a class="" href="/recovery/months_wise_record_comp/"> <i
                       class="menu-icon fa fa-line-chart"></i> <span class="menu-text">Self Recovery</span>
               </a>
               </li>
               <li class=""><a class="" href="/recovery/months_wise_record/"> <i
                       class="menu-icon fa fa-bar-chart"></i> <span class="menu-text">Distribution Analysis</span>
               </a>
               </li>
               {% endif %}

               {% if request.user|has_group:"Recovery Supervisor" %}
               <li class=""><a href="/recovery/dashboard/"> <i
                 class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
                  Dashboard </span>
         </a> <b class="arrow"></b>
         </li>


         <li class=""><a class="" href="/recovery/overdue_details_view/"> <i
                 class="menu-icon fa fa-bug"></i> <span class="menu-text">Defaulter Info</span>
         </a>
         </li>
         <li class=""><a class="" href="/recovery/months_wise_record_comp/"> <i
                 class="menu-icon fa fa-line-chart"></i> <span class="menu-text">Self Recovery</span>
         </a>
         </li>
         <li class=""><a class="" href="/recovery/months_wise_record/"> <i
                 class="menu-icon fa fa-bar-chart"></i> <span class="menu-text">Distribution Analysis</span>
         </a>
         </li>

               <li class=""><a class="" href="/recovery/incentive_details/"> <i
                 class="menu-icon fa fa-inr"></i> <span class="menu-text">Incentive Details</span>
         </a>
         </li>
         <li class=""><a class="" href="/recovery/admin_self_recovery/"> <i
                 class="menu-icon fa fa-bug"></i> <span class="menu-text">Self Defaulter Details</span>
         </a>
         </li>
         <li class=""><a class="" href="/recovery/month_wise_report/"> <i
                 class="menu-icon fa fa-line-chart"></i> <span class="menu-text">Staff Analysis </span>
         </a>
         </li>
         <li class=""><a class="" href="/recovery/change_recovery_status/"> <i
                 class="menu-icon fa fa-repeat"></i> <span class="menu-text">Status Change</span>
         </a>
         </li>
         <!--               <li class=""><a href="" class=""> <i-->
         <!--                  class="menu-icon fa fa-user-plus"></i> <span class="menu-text">Add Staff</span>-->
         <!--                  </a>-->
         <!--               </li>-->
         <li class="">
            <a class="" href="/recovery/auto_defaulter_allocate/" style="width: auto;">
               <i class="menu-icon fa fa-pie-chart"></i>
               <span class="menu-text">Auto Distribution</span>
            </a>
         </li>
         <li>
            <a class="" href="/recovery/auto_defaulter_allocate_static/"
               style="width: auto; height: auto!important;">
               <i class="menu-icon fa fa-pie-chart"></i>
               <span class="menu-text">Semi-Auto Distribution</span>
            </a>
         </li>
         <li class=""><a class="" href="/recovery/distribution_limit_amount/"> <i
                 class="menu-icon fa fa-minus"></i> <span class="menu-text">Distribution Limit</span>
         </a>
         </li>
         <li class=""><a class="" href="/recovery/remark/"> <i
                 class="menu-icon fa fa-exclamation-circle"></i> <span class="menu-text">Remark</span>
         </a>
         </li>
         </li>
         <li class=""><a class="" href="/recovery/user_active_status/"> <i
                 class="menu-icon fa fa-user"></i> <span class="menu-text">User Active</span>
         </a>
         </li>
         <li class=""><a class="" href="/recovery/add-user/"> <i
                 class="menu-icon fa fa-user"></i> <span class="menu-text">Add credit user</span>
         </a>
         </li>
         <li class=""><a class="" href="/recovery/recovery_commission/"> <i
                 class="menu-icon fa fa-percent"></i> <span class="menu-text">Commission</span>
         </a>
         </li>
         <li class="">
            <a class="" href="/recovery/reset_password1/" style="width: auto; height: auto!important;">
               <i class="menu-icon fa fa-key"></i>
               <span class="menu-text">User Change Password</span>
            </a>
         </li>
         {% endif %}

               <!--               <li class=""><a href="" class=""> <i-->
               <!--                  class="menu-icon fa fa-cog"></i> <span class="menu-text">Settings</span>-->
               <!--                  </a>-->
               <!--               </li>-->
            </ul>
            <!-- /.nav-list -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
               <i class="ace-icon fa fa-angle-double-left ace-save-state"
                  data-icon1="ace-icon fa fa-angle-double-left"
                  data-icon2="ace-icon fa fa-angle-double-right"
                  id="sidebar-toggle-icon"></i>
            </div>
         </div>
         <div class="main-content">
            <div class="main-content-inner">
               <div class="page-content">
                  <div class="ace-settings-container" id="ace-settings-container">
                     <!-- /.ace-settings-box -->
                  </div>
                  <!-- /.ace-settings-container -->
                  <!-- Admin panel button control strat -->
                  <div></div>
                  <script type="text/javascript">
                     if('ontouchstart' in document.documentElement) document.write("<script src='{% static "js/jquery.mobile.custom.min.js" %}'>"+"<"+"/script>");
                     
                     
                     
                     
                     
                  </script>
                  <script src="{% static 'js/bootstrap.min.js' %}"></script>
                  <script src="{% static 'js/ace-elements.min.js' %}"></script>
                  <!--					<script src="{% static 'js/ace.min.js' %}"></script>-->
                  <script type="text/javascript">
                     jQuery(function($) {
                     	$('#loading-btn').on(ace.click_event, function () {
                     		var btn = $(this);
                     		btn.button('loading')
                     		setTimeout(function () {
                     			btn.button('reset')
                     		}, 2000)
                     	});
                     
                     	$('#id-button-borders').attr('checked' , 'checked').on('click', function(){
                     		$('#default-buttons .btn').toggleClass('no-border');
                     	});
                     })
                     
                     
                     
                     
                     
                  </script>
                  <div>
                     {% block content %}
                     {% endblock content %}
                  </div>
               </div>
            </div>
         </div>
         <div class="footer">
            <div class="footer-inner">
               <div class="footer-content">
                  <span class="bigger-120">
                  <span class="blue bolder">CreditKart</span>
                  Application &copy; 2019
                  </span>
                  &nbsp; &nbsp;
                  <!--<span class="action-buttons">
                     <a href="#">
                         <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                     </a>
                     
                     <a href="#">
                         <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                     </a>
                     
                     <a href="#">
                         <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                     </a>
                     </span>-->
               </div>
            </div>
         </div>
         <!--<script src="https://code.jquery.com/jquery-3.3.1.js"></script>-->
         <!--<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>-->
         <!--<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>-->
         <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>-->
         <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>-->
         <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>-->
         <!--<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>-->
         <script type="text/javascript">
            if('ontouchstart' in document.documentElement) document.write("<script src='{% static "js/jquery.mobile.custom.min.js" %}'>"+"<"+"/script>");
            
            
            
            
            
         </script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap.min.js"></script>
         <script type="text/javascript">
            if('ontouchstart' in document.documentElement) document.write("<script src='{% static "js/jquery.mobile.custom.min.js" %}'>"+"<"+"/script>");
            
            
            
            
            
         </script>
         <script src="{% static 'js/bootstrap.min.js"></script>
         <!-- page specific plugin scripts -->
         <script src="{% static 'js/jquery.dataTables.min.js'%}"></script>
         <script src="{% static 'js/jquery.dataTables.bootstrap.min.js'%}"></script>
         <script src="{% static 'js/dataTables.buttons.min.js'%}"></script>
         <script src="{% static 'js/buttons.flash.min.js'%}"></script>
         <script src="{% static 'js/buttons.html5.min.js'%}"></script>
         <script src="{% static 'js/buttons.print.min.js'%}"></script>
         <script src="{% static 'js/buttons.colVis.min.js'%}"></script>
         <script src="{% static 'js/dataTables.select.min.js'%}"></script>
         <script src="{% static 'my_app/example.jpg' %}"></script>
         <!-- ace scripts -->
         <script src="{% static 'js/ace-elements.min.js'%}"></script>
         <script src="{% static 'js/ace.min.js'%}"></script>
      </div>
   </body>
</html>

