<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/customer/user-details-mobile/" method="POST">
        {% csrf_token %}
        Enter Mobile no: <input type="text" name="mobile" placeholder="Mobile no">
        <input type="submit" value="Submit">
    </form>
</body>
</html>