{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>{{ msg }}</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form action="/ecom/add_subcategory_data/" method="post">

                                        {% csrf_token %}


                                        {% if sub_category %}
                                        <div class="container">
                                            <div class="form-row">
                                                <div class="col-md-1">
                                                    <p>Select Category: </p>
                                                </div>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div
                                                    class="col-md-5">
                                                <select name="select_category"
                                                        class="form-control form-control-primary"
                                                        style="width: 100px;length: 50px;">
                                                    {% if select_category %}
                                                    {% for select_category in select_category %}
                                                    <option name="select_category">{{select_category.name}}</option>
                                                    {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>Enter sub_category:

                                                <input name="sub_category"
                                                       placeholder="Enter new sub_category"
                                                       onkeypress="return isCharacter(event)"
                                                       type="text" required></p>
                                        </div>


                                        <div class="col-sm-6">
                                            <p>Enter Description:
                                                &nbsp;&nbsp;&nbsp;<input
                                                        name="description"
                                                        placeholder="Enter new description"
                                                        type="text"></p>
                                        </div>

                                        <div class="container">
                                            <div class="form-row">
                                                <div class="col-md-1">
                                                    <p>Status: </p>
                                                </div>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div
                                                    class="col-md-5">
                                                <select name="status"
                                                        class="form-control form-control-primary"
                                                        style="width: 100px;length: 50px;">
                                                    <option name="True">True
                                                    </option>
                                                    <option name="False">False
                                                    </option>
                                                </select>
                                            </div>
                                                <!--                           zz                                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Status:-->
                                                </br>
                                                <input
                                                        type="submit"
                                                        class="btn btn-primary waves-effect waves-light m-r-10"
                                                        value="ADD">
                                            </div>

                                        </div>
                                        {% endif %}


                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        {% if all_data %}
                                        {% if parameter %}
                                        <thead>
                                        <tr>
                                            <th>Sr.no</th>

                                            <th id="category">Category Name</th>
                                            <th id="name">Subcategory Name</th>


                                            <th id="status">Status</th>


                                            <th>Edit</th>

                                        </tr>
                                        </thead>
                                        {% for data in all_data %}
                                        <tr>

                                            <td>{{forloop.counter}}</td>

                                            <td>{{data.category.name}}</td>

                                            {% if data.name %}
                                            <td>
                                                <a href="/lead/loanmart_subs_datewise/{{month}}/">{{data.name}}</a>
                                            </td>
                                            {% endif %}

                                            <td>{{data.status}}</td>

                                            {% if data.name%}
                                            <td>
                                                <button type="button"
                                                        class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"
                                                        data-target="#myModal"
                                                        data-toggle="modal"
                                                        onclick="call_modal('{{data.id}}','{{data.name}}','{{data.status}}','{{parameter}}')"
                                                        data-modal="modal-13"><i
                                                        class="icofont icofont-plus m-r-5"></i>
                                                    Edit
                                                </button>
                                            </td>
                                            {% endif %}

                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                        {% endif %}


                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
                Edit Details
                <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
                </button>
            </div>
            <form action="" class="form-horizontal" method="POST">
                {% csrf_token %}
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">

                        <label class="col-sm-4" style="text-align: left">Subcategory Name</label>
                        <input class="col-xs-12" id="product_name" name="product_name" readonly style="border:0px"
                               type="text" value=product_name>
                        <input class="col-xs-12" id="product_details_id" name="product_details_id" readonly
                               style="border:0px"
                               type="hidden" value=product_details_id><br>
                        <label class="col-sm-4" style="text-align: left">Status</label>
                        <input class="col-xs-12" id="product_status" name="product_status" readonly style="border:0px"
                               type="text" value=product_status><br>
                        <label class="col-sm-4" style="text-align: left">Parameter</label>
                        <input class="col-xs-12" id="product_parameter" name="product_parameter" readonly
                               style="border:0px"
                               type="text" value=product_parameter><br>
                        &nbsp &nbsp Update Name:
                        <div class="form-group">
                            <div class="col-sm-8">
                                    <textarea class="col-xs-12" id="product_name1" onkeypress="return isCharacter(event)" name="product_name1" type="text"
                                              value=""></textarea>
                            </div>
                            &nbsp &nbsp Update Status
                            <div class="col-sm-8">
                                <select name="updated_status" id="updated_status"
                                        class="form-control form-control-primary"
                                        style="width: 100px;length: 50px;">
                                    <option name="True">True
                                    </option>
                                    <option name="False">False
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                            id="btnsendmsg" name="btnsendmsg" onclick="Call_data_save()" type="button">Save
                    </button>
                    <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                            type="button">Close
                    </button>
                </div>
                <input class="col-xs-10" hidden="" id="txtrecovery_id" name="txtrecovery_id" type="text"
                       value=""/>
            </form>
        </div>
    </div>
</div>
<script>
            function call_modal(product_id,name,status,parameter) {
                console.log(parameter);
                console.log(product_id);
                document.getElementById('product_details_id').value = product_id;
                document.getElementById('product_name').value = name;
                document.getElementById('product_status').value = status;
                document.getElementById('product_parameter').value = parameter;
                document.getElementById('product_name1').value = name;

            }

</script>
<script>
            <!--Recovery call data save-->
            function Call_data_save() {
                var product_name1 = document.getElementById('product_name1').value;
                var new_status = document.getElementById('updated_status').value;
                var product_parameter = document.getElementById('product_parameter').value;
                var product_id = document.getElementById('product_details_id').value;

                $.ajax({
                    type: "POST",
                    data: {
                        'product_name1': product_name1,
                        'new_status': new_status,
                        'product_parameter': product_parameter,
                        'product_id': product_id,

                    },
                    url: "/ecom/update_parameters/",
                    success: function(data) {
                    console.log("--success",data);
                         document.getElementById('product_parameter').value = data;
                    },
                    error: function(data) {

                    }
                });
            }

</script>

<script>
function isCharacter(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    console.log('charcode==========', charCode)
    if (charCode > 64 && charCode < 91){
        return true;
    }
    if (charCode > 96 && charCode < 123){
        return true;
    }
    if (charCode == 95) {
    return true;
    }
    return false;
}


</script>
{% endblock %}


