{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>Add Base Category</h5>
                    <h5>{{ msg }}</h5>

                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form action="/ecom/add_base_category_data/" method="post">

                                        {% csrf_token %}


                                        {% if all_data %}
                                        <div class="container">
                                            <div class="form-row">
                                                <div class="col-md-1">
                                                    <p>Select Category:</p>
                                                </div>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div
                                                    class="col-md-5">
                                                <select name="select_category_subcategory"
                                                        class="form-control form-control-primary"
                                                        style="width: 100px;length: 50px;">
                                                    {% for data in all_data %}

                                                    <option name="select_category">{{data}}</option>

                                                    {% endfor %}
                                                </select>
                                            </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <p>Enter Base Name:

                                                <input name="base_name"
                                                       placeholder="Enter new base name"
                                                       type="text"
                                                       required="true"
                                                onkeypress="return isCharacter(event)"></p>
                                        </div>

                                        <div class="container">
                                            <div class="form-row">
                                                <input
                                                        type="submit"
                                                        class="btn btn-primary waves-effect waves-light m-r-10"
                                                        value="ADD">
                                            </div>

                                        </div>
                                        {% endif %}


                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        {% if base_category %}

                                        <thead>
                                        <tr>
                                            <th>Sr.no</th>
                                            <th id="cat_sub_name">Category Subcategory Name</th>
                                            <th id="name">Base Name</th>
                                            <th>Edit</th>

                                        </tr>
                                        </thead>
                                        {% for base in base_category %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{base.sub_category.category.name}}-{{base.sub_category.name}}</td>
                                            <td>
                                                <a href="/lead/loanmart_subs_datewise/{{month}}/">{{base.base_name}}</a>
                                            </td>
                                            <td>
                                                <button type="button"
                                                        class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"
                                                        data-target="#myModal"
                                                        data-toggle="modal"
                                                        onclick="call_modal('{{base.base_name}}','{{base.sub_category.category.name}}-{{base.sub_category.name}}')"
                                                        data-modal="modal-13"><i
                                                        class="icofont icofont-plus m-r-5"></i>
                                                    Edit
                                                </button>
                                            </td>


                                        </tr>
                                        {% endfor %}
                                        {% endif %}


                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
                Edit Details
                <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
                </button>
            </div>
            <form action="" class="form-horizontal" method="POST">
                {% csrf_token %}
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">


                        <label class="col-sm-4" style="text-align: left">Base Name :</label>
                        <input class="col-xs-12" id="base_name" name="base_name" readonly style="border:0px"
                               type="text" value=base_name><br>
                        <label class="col-sm-4" style="text-align: left">Category Name:</label>
                        <input class="col-xs-12" id="cat_name" name="cat_name" readonly style="border:0px"
                               type="text" value=cat_name><br>


                        &nbsp &nbsp Update Name:
                        <div class="form-group">
                            <div class="col-sm-8">

                                    <textarea class="col-xs-12" id="update_name" name="update_name" type="text"
                                              value=""
                                     onkeypress="return isCharacter(event)"></textarea>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                            id="btnsendmsg" name="btnsendmsg" onclick="Call_data_save()" type="button">Save
                    </button>
                    <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                            type="button">Close
                    </button>
                </div>
                <input class="col-xs-10" hidden="" id="txtrecovery_id" name="txtrecovery_id" type="text"
                       value=""/>
        </div>
        </form>
    </div>
</div>

<script>
            function call_modal(base_name, cat_name) {

                document.getElementById('base_name').value = base_name;
                document.getElementById('cat_name').value = cat_name;
                document.getElementById('update_name').value = base_name;
             }




</script>
<script>
            <!--Recovery call data save-->
            function Call_data_save() {
                var base_name = document.getElementById('base_name').value;

                var update_name = document.getElementById('update_name').value;
                if(update_name.trim()==""){
                    alert("Update Name must be filled out");
               returnValue=false;
            }
                 else{
                $.ajax({
                    type: "POST",
                    data: {
                        'base_name': base_name,

                        'update_name': update_name,

                    },
                    url: "/ecom/update_base_category",
                    success: function(data) {
                    console.log("--success",data);
                         document.getElementById('update_name').value = data;
                    },
                    error: function(data) {

                    }
                });
            }
            }

</script>

<script>
function isCharacter(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    console.log('charcode==========', charCode)
    if (charCode > 64 && charCode < 91){
        return true;
    }
    if (charCode > 96 && charCode < 123){
        return true;
    }
    if (charCode == 95) {
    return true;
    }
    return false;
}
</script>

{% endblock %}


