{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{msg}}</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form action="/ecom/add_new_partner/" method="post"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% if seller %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>Enter Name:
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                            name="name"
                                                            placeholder="Enter name of Seller"
                                                            onkeypress="return isCharacter(event)"
                                                            type="text" required>
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Enter Email:
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                            name="email_id"
                                                            placeholder="Enter Email ID"
                                                            type="email" required>
                                                </p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>Enter Main Address:
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                            name="main_addr"
                                                            placeholder="Enter Main Address"
                                                            type="text">
                                                    <!--														type="text" required>-->
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>Enter Address:
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                            name="addr"
                                                            placeholder="Enter Address"
                                                            type="text">
                                                </p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>Enter Mobile Number:
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<input
                                                            name="mobile"
                                                            placeholder="Enter Mobile Number"
                                                            onkeypress="return isNumber(event)"
                                                            pattern="^[6-9]\d{9}$"
                                                            type="text" required>
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>Enter Landline No.:
                                                    <input name="landline"
                                                           placeholder="Enter Landline No."
                                                           onkeypress="return isNumber(event)"
                                                           type="text">
                                                </p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>Enter GST Number:
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                            name="gst_no"
                                                            placeholder="Enter GST Number"
                                                            pattern="\d{2}[A-Z]{5}\d{4}[A-Z]{1}[A-Z\d]{1}[Z]{1}[A-Z\d]{1}"
                                                            onkeypress="return isCharacterNum(event)"
                                                            type="text">
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>Enter PAN Number:
                                                    <input name="pan_no"
                                                           placeholder="Enter PAN Number"
                                                           pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}"
                                                           type="text" required>
                                                </p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>Enter Shop ACT-Licence:
                                                    <input name="shop_act"
                                                           placeholder="Enter Shop ACT-Licence"
                                                           type="text">
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>Enter Description:
                                                    &nbsp;&nbsp;<input
                                                            name="description"
                                                            placeholder="Enter Description"
                                                            type="text">
                                                </p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p><b>Enter Pan Card Image</b></p>
                                                <div class="input-group">
													<span class="input-group-addon"><i
                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input type="file"
                                                           class="form-control"
                                                           name="pan_image"
                                                           placeholder="">
                                                    <!--														placeholder="" required>-->
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <p><b>Enter Licence Image</b></p>
                                                <div class="input-group">
													<span class="input-group-addon"><i
                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input type="file"
                                                           class="form-control"
                                                           name="licence_image"
                                                           placeholder="">
                                                    <!--														placeholder="" required>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p><b>Enter Shop Image</b></p>
                                                <div class="input-group">
													<span class="input-group-addon"><i
                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input type="file"
                                                           class="form-control"
                                                           name="shop_image"
                                                           placeholder="">
                                                    <!--														placeholder="" required>-->
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="container">
                                            <div class="form-row">
                                                <input type="hidden" name='user_group' value="Seller">
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>Enter Username:
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<input
                                                            name="username"
                                                            placeholder="Enter User Name"
                                                            type="text" required>
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>password:
                                                    <input name="password"
                                                           placeholder="Enter password"
                                                           type="password" required>
                                                </p>
                                            </div>
                                        </div>
                                        <input
                                                type="submit"
                                                class="btn btn-primary waves-effect waves-light m-r-10"
                                                value="ADD">
                                        <input
                                                type="reset"
                                                class="btn btn-primary waves-effect waves-light m-r-10"
                                                value="Discard">
                                        {% endif %}
                                        {% if logistic %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>Enter Name:
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                            name="name"
                                                            placeholder="Enter name of Logistic"
                                                            onkeypress="return isCharacter(event)"
                                                            type="text">
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Enter Email:
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                            name="email_id"
                                                            placeholder="Enter Email ID"
                                                            type="email">
                                                </p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>Enter Main Address:
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                            name="main_addr"
                                                            placeholder="Enter Main Address"
                                                            type="text">
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>Enter Address:
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                            name="addr"
                                                            placeholder="Enter Address"
                                                            type="text">
                                                </p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>Enter Mobile Number:
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<input
                                                            name="mobile"
                                                            placeholder="Enter Mobile Number"
                                                            onkeypress="return isNumber(event)"
                                                            type="text">
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>Enter Landline No.:
                                                    <input name="landline"
                                                           placeholder="Enter Landline No."
                                                           onkeypress="return isNumber(event)"
                                                           type="text">
                                                </p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>Enter GST Number:
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                            name="gst_no"
                                                            placeholder="Enter GST Number"
                                                            onkeypress="return isCharacterNum(event)"
                                                            type="text">
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>Enter PAN Number:
                                                    <input name="pan_no"
                                                           placeholder="Enter PAN Number"
                                                           type="text">
                                                </p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>Enter Shop ACT-Licence:
                                                    <input name="shop_act"
                                                           placeholder="Enter Shop ACT-Licence"
                                                           type="text">
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>Enter Description:
                                                    &nbsp;&nbsp;<input
                                                            name="description"
                                                            placeholder="Enter Description"
                                                            type="text">
                                                </p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p><b>Enter Pan Card Image</b></p>
                                                <div class="input-group">
													<span class="input-group-addon"><i
                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input type="file"
                                                           class="form-control"
                                                           name="pan_image"
                                                           placeholder="">
                                                    <!--														placeholder="" required>-->
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <p><b>Enter Licence Image</b></p>
                                                <div class="input-group">
													<span class="input-group-addon"><i
                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input type="file"
                                                           class="form-control"
                                                           name="licence_image"
                                                           placeholder="">
                                                    <!--														placeholder="" required>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p><b>Enter Shop Image</b></p>
                                                <div class="input-group">
													<span class="input-group-addon"><i
                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input type="file"
                                                           class="form-control"
                                                           name="shop_image"
                                                           placeholder="" required>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>Enter Username:
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<input
                                                            name="username"
                                                            placeholder="Enter User Name"
                                                            type="text">
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>password:
                                                    <input name="password"
                                                           placeholder="Enter password"
                                                           type="password">
                                                </p>
                                            </div>
                                        </div>
                                        <input type="hidden" name='user_group' value="Logistics">
                                        <br>
                                        <div class="container">
                                            <div class="form-row">
                                                <br>
                                                <input
                                                        type="submit"
                                                        class="btn btn-primary waves-effect waves-light m-r-10"
                                                        value="ADD">
                                                <input
                                                        type="reset"
                                                        class="btn btn-primary waves-effect waves-light m-r-10"
                                                        value="Discard">
                                            </div>
                                        </div>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="table-responsive">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home7"
                                         role="tabpanel">
                                        <font size="1">
                                            <div class="dt-responsive table-responsive">
                                                <table id="table-style-hover"
                                                       class="table table-striped table-hover table-bordered nowrap">
                                                    {% if all_data %}
                                                    <thead class="table-warning">
                                                    <tr>
                                                        <th>Sr.no</th>
                                                        <th id="type">Type</th>
                                                        <th id="name">Name</th>
                                                        <th id="mobile">Mobile Number</th>
                                                        <th id="landline">Landline Number
                                                        </th>
                                                        <th id="gst">GST Number</th>
                                                        <th id="pan">PAN Number</th>
                                                        <th>Created Date</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    </thead>
                                                    {% for data in all_data %}
                                                    <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td>{{data.type}}</td>
                                                        <td>
                                                            {{data.name}}
                                                        </td>
                                                        <td>{{data.mobile_no}}</td>
                                                        <td>{{data.landline_no}}</td>
                                                        <td>{{data.gst_no}}</td>
                                                        <td>{{data.pan_no}}</td>
                                                        <td>{{data.created_date}}</td>
                                                        <td>
                                                            <button type="button"
                                                                    class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"
                                                                    data-target="#myModal"
                                                                    data-toggle="modal"
                                                                    onclick="call_modal('{{data.id}}','{{data.name}}','{{data.mobile_no}}','{{data.landline_no}}','{{data.gst_no}}','{{data.pan_no}}','{{data.main_address}}','{{data.address}}','{{data.shop_act_licence}}','{{data.description}}','{{data.email_id}}')"
                                                                    data-modal="modal-13"><i
                                                                    class="icofont icofont-plus m-r-5"></i>
                                                                Edit
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                </table>
                                            </div>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="styleSelector"></div>
<!--   Remarks Modal         -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
                Edit Details
                <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
                </button>
            </div>
            <form action="" class="form-horizontal" method="POST">
                {% csrf_token %}
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-4" style="text-align: left"><b>Name</b></label>
                        <input class="col-xs-12" id="product_name" name="product_name" readonly style="border:0px"
                               type="text" value=product_name>

                        <label class="col-sm-4" style="text-align: left"><b>Mobile Number</b></label>
                        <input class="col-xs-12" id="mobile_no" name="mobile_no" onkeypress="return isNumber(event)"
                               readonly style="border:0px"
                               type="text" value=mobile_no><br>

                        <input class="col-xs-12" id="product_id" name="product_id" readonly style="border:0px"
                               type="hidden" value=product_id1><br>

                        <label class="col-sm-4" style="text-align: left">Landline No.</label>
                        <input class="col-xs-12" id="landline_no" name="landline_no" onkeypress="return isNumber(event)"
                               readonly style="border:0px"
                               value=landline_no><br>

                        <label class="col-sm-4" style="text-align: left">GST Number</label>
                        <input class="col-xs-12" id="gst_no" name="gst_no"
                               onkeypress="return isCharacterNum(event)" readonly
                               style="border:0px"
                               value=gst_no1><br>

                        <label class="col-sm-4" style="text-align: left">PAN Number</label>
                        <input class="col-xs-12" id="pan_no" name="pan_no" readonly style="border:0px"
                               value=pan_no><br>

                        <input class="col-xs-12" id="main_address" name="main_address" readonly style="border:0px"
                               type="hidden" value=main_address>

                        <input class="col-xs-12" id="address" name="address" readonly style="border:0px"
                               type="hidden" value=address>

                        <label class="col-sm-4" style="text-align: left">Shop Act Licence</label>
                        <input class="col-xs-12" id="shop_act_licence" name="shop_act_licence" readonly
                               style="border:0px"
                               value=shop_act_licence><br>
                        &nbsp <b>Update Information:</b>
                        <br>
                        <br>
                        <div class="form-group">
                            <!--                            <div class="col-sm-8">-->
                            <!--                                    <textarea class="col-xs-12" id="product_name1" name="product_name1" type="text"-->
                            <!--                                              value=""></textarea>-->
                            <!--                            </div>-->
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Enter Name:
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                name="name" id="product_name1"
                                                placeholder="Enter name of Logistic"
                                                onkeypress="return isCharacter(event)"
                                                type="text">
                                    </p>
                                    <!--                                                                        &nbsp;&nbsp; Enter Category:-->
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Enter Main Address:
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                name="main_addr" id="main_address1"
                                                placeholder="Enter Main Address"
                                                type="text">
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <p>Enter Address:
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                name="addr" id="address1"
                                                placeholder="Enter Address"
                                                type="text">
                                    </p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Enter Mobile Number:
                                        &nbsp;&nbsp;&nbsp;&nbsp;<input
                                                name="mobile" id="mobile_no1"
                                                placeholder="Enter Mobile Number"
                                                type="text"
                                                onkeypress="return isNumber(event)">
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <p>Enter Landline No.:
                                        <input name="landline" id="landline_no1"
                                               placeholder="Enter Landline No."
                                               onkeypress="return isNumber(event)"
                                               type="text">
                                    </p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Enter GST Number:
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                name="gst_no" id="gst_no1"
                                                placeholder="Enter GST Number"

                                                onkeypress="return isCharacterNum(event)"
                                                type="text">
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <p>Enter PAN Number:
                                        <input name="pan_no" id="pan_no1"
                                               placeholder="Enter PAN Number"
                                               type="text">
                                    </p>
                                </div>
                            </div>


                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Enter Shop ACT-Licence:
                                        <input name="shop_act" id="shop_act_licence1"
                                               placeholder="Enter Shop ACT-Licence"
                                               type="text">
                                    </p>
                                </div>

                                <div class="col-sm-6">
                                    <p>Enter Email:
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                name="gst_no" id="email"
                                                placeholder="Enter Email"
                                                type="email">
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Enter Description:
                                        &nbsp;&nbsp;<input
                                                name="description" id="description1"
                                                placeholder="Enter Description"
                                                type="text">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        &nbsp &nbsp Update Status
                        <div class="col-sm-8">
                            <select name="updated_status" id="updated_status"
                                    class="form-control form-control-primary"
                                    style="width: 100px;length: 50px;">
                                <option name="True">True
                                </option>
                                <option name="False">False
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                    id="btnsendmsg" name="btnsendmsg" onclick="Call_data_save()" type="button">Save
            </button>
            <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                    type="button">Close
            </button>
        </div>
        <input class="col-xs-10" hidden="" id="txtrecovery_id" name="txtrecovery_id" type="text"
               value=""/>
        </form>
    </div>
</div>
</div>
<script>
	function call_modal(product_id,name,mobile_no,landline_no,gst_no,pan_no,main_address,address,shop_act_licence,description, email_id) {

	    document.getElementById('email').value = email_id;
	    document.getElementById('product_id').value = product_id;
	    document.getElementById('product_name').value = name;
	    document.getElementById('product_name1').value = name;
	    document.getElementById('mobile_no').value = mobile_no;
	    document.getElementById('mobile_no1').value = mobile_no;
	    document.getElementById('landline_no').value = landline_no;
	    document.getElementById('landline_no1').value = landline_no;
	    document.getElementById('gst_no').value = gst_no;
	    document.getElementById('gst_no1').value = gst_no;
	    document.getElementById('pan_no').value = pan_no;
	    document.getElementById('pan_no1').value = pan_no;
	    document.getElementById('main_address').value = main_address;
	    document.getElementById('main_address1').value = main_address;
	    document.getElementById('address').value = address;
	    document.getElementById('address1').value = address;
	    document.getElementById('shop_act_licence').value = shop_act_licence;
	    document.getElementById('shop_act_licence1').value = shop_act_licence;
	    document.getElementById('description').value = description;
	    document.getElementById('description1').value = description;
	}

</script>
<script>
	<!--Recovery call data save-->
	function Call_data_save() {
		var email = document.getElementById('email').value;
	    var product_id = document.getElementById('product_id').value;
	    var product_name1 = document.getElementById('product_name1').value;
	    var mobile_no1 = document.getElementById('mobile_no1').value;
	    var landline_no1 = document.getElementById('landline_no1').value;
	    var gst_no1 = document.getElementById('gst_no1').value;
	    var pan_no1 = document.getElementById('pan_no1').value;
	    var main_address1 = document.getElementById('main_address1').value;
	    var address1 = document.getElementById('address1').value;
	    var shop_act_licence1 = document.getElementById('shop_act_licence1').value;
	    var description1 = document.getElementById('description1').value;
	    var updated_status = document.getElementById('updated_status').value;



	    $.ajax({
	        type: "POST",
	        data: {
	        	'email': email,
	            'product_id': product_id,
	            'product_name1': product_name1,
	            'mobile_no1': mobile_no1,
	            'landline_no1': landline_no1,
	            'gst_no1': gst_no1,
	            'pan_no1': pan_no1,
	            'main_address1': main_address1,
	            'address1': address1,
	            'shop_act_licence1': shop_act_licence1,
	            'description1': description1,
	            'updated_status': updated_status,

	        },
	        url: "/ecom/update_partners/",
	        success: function(data) {
	        console.log("--success",data);
	             document.getElementById('product_name1').value = data;
	        },
	        error: function(data) {

	        }
	    });
	}


</script>
<script>
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}

</script>
<script>
function isCharacter(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    console.log('charcode==========', charCode)
    if (charCode > 64 && charCode < 91){
        return true;
    }
    if (charCode > 96 && charCode < 123){
        return true;
    }
    if (charCode == 95) {
    return true;
    }
    return false;
}

</script>
<script>
function isCharacterNum(evt) {
console.log('inside char int funxtion');
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if ((charCode > 47 && charCode < 58) || (charCode > 96 && charCode < 123) || (charCode > 64 && charCode < 91)) {
    console.log('ifffffffffffffffffffffffffffffffffff');
        return true;
    }
    console.log('else==================');
    return false;
}
</script>

{% endblock %}

