{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    {% if all_product_data %}
                                    <table class="table table-bordered table-striped"
                                           id="dynamic-table">

                                        <thead>
                                        <tr>
                                            <th>Sr.no</th>
                                            <th>Product Name</th>
                                            <th>Colour</th>
                                            <th>Size</th>
                                            <th>Category</th>
                                            <th>Sub Category</th>
                                            <th>Current Stock</th>
                                            <th>Change stock</th>

                                        </tr>
                                        </thead>
                                        {% for product, stock in all_product_data.items %}
                                        <tr>

                                            <td>{{forloop.counter}}</td>


                                            <td>
                                                <a href="/lead/loanmart_subs_datewise/{{month}}/">{{product.product_id.name}}</a>
                                            </td>

                                            <td>{{product.colour_id.name}}</td>
                                            <td>{{product.size_id.name}}</td>
                                            <td>{{product.product_id.category.name}}</td>
                                            <td>{{product.product_id.sub_category.name}}</td>
                                            <td>{{stock}}</td>
                                            <td>
                                                <button type="button"
                                                        class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                                                        data-target="#myModal" data-toggle="modal"
                                                        onclick="call_modal('{{product.id}}','{{product.product_id.name}}','{{stock}}')"
                                                        data-modal="modal-13"><i class="icofont icofont-plus m-r-5"></i>
                                                    Add Stock
                                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}

                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div id="styleSelector">
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
                Add Calling Details
                <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
                </button>
            </div>
            <form action="" class="form-horizontal" method="POST">
                {% csrf_token %}
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-4" style="text-align: left">Product Name</label>
                        <input class="col-xs-12" id="product_name" name="product_name" readonly style="border:0px"
                               type="text" value=product_name>
                        <input class="col-xs-12" id="current_stock" name="current_stock" readonly style="border:0px"
                               type="hidden" value=product_name>
                        <input class="col-xs-12" id="product_details_id" name="product_details_id" readonly
                               style="border:0px"
                               type="hidden" value=product_details_id><br>
                        &nbsp &nbsp New Stack:
                        <div class="form-group">
                            <div class="col-sm-8">
                                    <textarea class="col-xs-12" id="new_stock" name="new_stock" type="number"
                                              value=""></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                            id="btnsendmsg" name="btnsendmsg" onclick="Call_data_save()" type="button">Save
                    </button>
                    <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                            type="button">Close
                    </button>
                </div>
                <input class="col-xs-10" hidden="" id="txtrecovery_id" name="txtrecovery_id" type="text"
                       value=""/>
        </div>
        </form>
    </div>
</div>


<script>
            function call_modal(product_details_id, product_name, current_stock) {
                document.getElementById('product_details_id').value = product_details_id;
                document.getElementById('product_name').value = product_name;
                document.getElementById('current_stock').value = current_stock;
            }

</script>
<script>
            <!--Recovery call data save-->
            function Call_data_save() {
                var product_details_id = document.getElementById('product_details_id').value;
                var new_stock = document.getElementById('new_stock').value;

                $.ajax({
                    type: "POST",
                    data: {
                        'product_details_id': product_details_id,
                        'new_stock': new_stock,

                    },
                    url: "/ecom/add_new_stock/",
                    success: function(data) {
                    console.log("--success",data);
                         document.getElementById('new_stock').value = data;
                    },
                    error: function(data) {

                    }
                });
            }


</script>


{% endblock %}
