{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order Text</th>
                                                <th>Order Count</th>
                                                <th>Quantity</th>
                                                <th>Credit Used</th>
                                                <th>Total Amount</th>
                                                <th>Date</th>

                                            </tr>
                                            </thead>
                                            {% if data %}
                                            {% for order , credit in data.items %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/ecom/pending_order_details/{{order.id}}/">{{order.order_text}}</a></td>
                                                <td><a href="/ecom/order_details_order_data/{{order.id}}">{{credit.1}}</a></td>
                                                <td>{{order.total_quantity}}</td>
                                                <td>{{credit.0}}</td>
                                                <td>{{order.total_amount}}</td>
                                                <td>{{order.created_date}}</td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
