{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ msg }}</h5>
                                        <form action="/ecom/download_bulk_hsn_add_sample/">
                                            <input type="submit"
                                                   class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                                                   value="Download sample csv">
                                            </input>
                                        </form>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form action="/ecom/bulk_HSN_add/"
                                          class="md-float-material card-block"
                                          enctype="multipart/form-data"
                                          method="POST">
                                        {% csrf_token %}

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>Select CSV file </p>
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input class="form-control"
                                                           name="product_file"
                                                           placeholder=""
                                                           required="True"
                                                           type="file">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-center m-t-20">
                                                    <button class="btn btn-primary waves-effect waves-light m-r-10"
                                                            type="submit">
                                                        Save
                                                    </button>
                                                    <button class="btn btn-warning waves-effect waves-light"
                                                            type="reset">
                                                        Discard
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>{{ msg }}</h5>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="slide"></div>
                                <div>
                                    <p><label style="color:red">Instructions </label>
                                        <br>
                                        Please follow the below instructions before uploading the file:
                                        <br>
                                        <b>1.</b> Use the link <a
                                                href="https://help.dropbox.com/files-folders/share/view-only-access/"
                                                style="color:#6495ED;">https://help.dropbox.com/files-folders/share/view-only-access</a>
                                        to know about dropbox.<br>
                                        <b>2.</b> For sharing links and setting permissions please go through
                                        <a href="https://www.youtube.com/watch?v=b-_QTx0R7EA" style="color:#6495ED;">https://www.youtube.com/watch?v=b-_QTx0R7EA</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}