{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <div id="wait"
                         style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;">
                        <div class="preloader3 loader-block" id="loader">
                            <div class="circ1"></div>
                            <div class="circ2"></div>
                            <div class="circ3"></div>
                            <div class="circ4"></div>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                {% if msg %}
                                {{msg}}
                                {% else%}
                                <button type="button" id="button" onclick="call_data();" class="btn btn-primary">
                                    Packed Multiple Orders
                                </button>
                                <div class="tab-pane active" id="home7" role="tabpanel"><br>

                                    <div class="dt-responsive table-responsive">

                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" name="akash1" id="select-all"
                                                           onclick="select_all();">&nbsp;All
                                                </th>
                                                <th>Sr.no</th>
                                                <th>Order ID</th>
                                                <th>Unique Order ID</th>
                                                <th>Product SKU</th>
                                                <th>Product Name</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                                <th>Total Amount</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            {% if all_data %}
                                            {% for order in all_data %}
                                            <tr>
                                                <td>
                                                    <form>
                                                        <input type="checkbox" id="checkbox" name="akash"
                                                               value="{{order.id}}"
                                                        >
                                                    </form>
                                                </td>
                                                <td>{{forloop.counter}}</td>
                                                <td>
                                                    {{order.order_id}}
                                                </td>
                                                <td>{{order.unique_order_id}}</td>
                                                <td>{{order.product_details.sku}}</td>
                                                <td>{{order.product_details.product_id.name}}</td>
                                                <td>{{order.quantity}}</td>
                                                <td>{{order.amount}}</td>
                                                <td>{{order.total_amount}}</td>
                                                <td>{{order.date}}</td>
                                                <td>{{order.status}}</td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                            {% endif %}


                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
         //   On refresh make all unselected
            var checkboxes = document.getElementsByName('akash');
            for (var checkbox of checkboxes) {
            checkbox.checked = false;
                                           }
        // make select all uncheck
              var check = document.getElementsByName('akash1');
              for (var checkbox of check) {
                checkbox.checked = false;

              }

        // change status function
            function call_data()
            {
            var id_list = [];
            $.each($("input[name='akash']:checked"), function(){
                id_list.push($(this).val());
            });
            length=id_list.length;

            if (length == 0)
            {
            alert("Please Select Order...");
            }
            else{

            if (confirm("Are you want to Packed selected order's ?")) {

            $(document).ajaxStart(function(){
            $("#wait").css("display", "block");
            });


            $.ajax({
            type: "POST",
            data: {
                'id_list': id_list,

            },
            url: "/ecom/bulk_change_to_packed/",
            success: function(data){

            var data = JSON.parse(data);

            var success_list = data["success_list"]
            var fail_list = data["fail_list"]
            var success_list_length =data["success_list"].length ;
            if (success_list_length == 0){success_list="None"}
            var fail_list_length = data["fail_list"].length;

            if (fail_list_length == 0){
            alert("Order's Changes to Packed !!!");
            location.reload();
            }
            else
            {

             alert("Success Order's id : " + success_list+"\nFail Order's id : "+fail_list);
            }


            }
            });
            $(document).ajaxComplete(function(){
            $("#wait").css("display", "none");
            });
            } else {
            return false;
            }

            }

    }

        // Select all function
          document.getElementById('select-all').onclick = function() {
          var checkboxes = document.getElementsByName('akash');
          for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
          }
        }

</script>
{% endblock %}
