{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="slide">
                                <form method="POST" action="/ecom/cancel_order_csv/{{id_list}}/">
                                    {% csrf_token %}
                                    <input type="hidden" id="a" value="{{id_list}}">
                                    <button type="submit" id="myBtn" class="btn btn-primary btn-lg" style="float:right;">
                                        Download
                                        CSV
                                    </button>
                                </form>

                            </div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <br>
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order ID</th>
                                                <th>Unique Order ID</th>
                                                <th>Product Name</th>
                                                <th>Seller</th>
                                                <th>Amount</th>


                                            </tr>
                                            </thead>
                                            {% if all_data %}
                                            {% for order in all_data %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>{{order.0}}</td>
                                                <td>{{order.1}}</td>
                                                <td>{{order.2}}</td>
                                                <td>{{order.3}}</td>
                                                <td>{{order.4}}</td>


                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>

    var value=document.getElementById("a").value;
    if (value.length <= 2){
    document.getElementById("myBtn").disabled = true;
           }


</script>
{% endblock %}
