{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">


                                            <thead>
                                            <tr>

                                                <th>Sr.no</th>
                                                <th>Amount Add</th>
                                                <th>Used Amount</th>
                                                <th>Balance Amount</th>
                                                <th>Order Details</th>
                                                <th>Order</th>
                                                <th>User</th>
                                                <th>Status</th>
                                                <th>Created Date</th>
                                            </tr>
                                            </thead>
                                            {% if wallet_info %}
                                            {% for info in wallet_info %}
                                            <tr>
                                                <td class="pro-name">
                                                    <h6>{{forloop.counter}}</h6>
                                                </td>
                                                <td>{{info.amount_add}}</td>
                                                <td>{{info.used_amount}}</td>
                                                <td>{{info.balance_amount}}</td>
                                                <td>{{info.order_details.order_text}}</td>
                                                <td>{{info.order.order_id}}</td>
                                                <td>{{info.user.username}}</td>
                                                <td>{{info.status}}</td>
                                                <td>{{info.created_date}}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

