{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    {% if msg %}
                    <h5>{{msg}}</h5>
                    {% endif %}
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form action="/ecom/category_subcategory_basecategory/" method="post">

                                        {% csrf_token %}


                                        <div class="container">
                                            <div class="form-row">
                                                <div class="col-md-1">
                                                    <b><p>Select: </p></b>
                                                </div>
                                                <div
                                                        class="col-md-5">
                                                    <select name="select"
                                                            class="form-control form-control-primary"
                                                            style="width: 100px;length: 50px;" required>


                                                        <option name="select">CATEGORY</option>
                                                        <option name="select">SUBCATEGORY</option>
                                                        <option name="select">BASECATEGORY</option>

                                                    </select>
                                                    <br>
                                                    <br>
                                                    <br>

                                                    <button type="submit"
                                                            class="btn btn-primary waves-effect waves-light m-r-10">
                                                        Search
                                                    </button>
                                                </div>
                                            </div>


                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% if all_data %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        {% if category %}
                                        <thead>
                                        <tr>
                                            <th>Sr.no</th>
                                            <th id="category">Category Name</th>
                                            <th id="status">Status</th>
                                            <th>Edit</th>

                                        </tr>
                                        </thead>
                                        {% for category in category %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{category.name}}</td>
                                            <td>{{category.status}}</td>
                                            <td>
                                                <button type="button"
                                                        class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"
                                                        data-target="#myModal"
                                                        data-toggle="modal"
                                                        onclick="call_modal('{{category.name}}','{{category.status}}')"
                                                        data-modal="modal-13"><i
                                                        class="icofont icofont-plus m-r-5"></i>
                                                    Edit
                                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}

                                        {% if subcategory %}
                                        <thead>
                                        <tr>
                                            <th>Sr.no</th>
                                            <th id="category1">Category Name</th>
                                            <th id="subcategory">SubCategory Name</th>
                                            <th id="status1">Status</th>
                                            <th>Edit</th>

                                        </tr>
                                        </thead>
                                        {% for data in subcategory %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{data.category.name}}</td>
                                            <td>{{data.name}}</td>
                                            <td>{{data.status}}</td>
                                            <td>
                                                <button type="button"
                                                        class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"
                                                        data-target="#mysubModal"
                                                        data-toggle="modal"
                                                        onclick="call_modal('{{data.category.name}}','{{data.name}}','{{data.status}}')"
                                                        data-modal="modal-13"><i
                                                        class="icofont icofont-plus m-r-5"></i>
                                                    Edit
                                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}

                                        {% if basecategory %}
                                        <thead>
                                        <tr>
                                            <th>Sr.no</th>
                                            <th id="category2">Category Name</th>
                                            <th id="sub_cat">Subcategory Name</th>
                                            <th id="base_cat">Basecategory Name</th>
                                            <th>Edit</th>

                                        </tr>
                                        </thead>
                                        {% for data in basecategory %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{data.sub_category.category.name}}</td>
                                            <td>{{data.sub_category.name}}</td>
                                            <td>{{data.base_name}}</td>
                                            <td>
                                                <button type="button"
                                                        class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"
                                                        data-target="#mybaseModal"
                                                        data-toggle="modal"
                                                        onclick="call_modal('{{data.sub_category.category.name}}','{{data.sub_category.name}}','{{data.base_name}}')"
                                                        data-modal="modal-13"><i
                                                        class="icofont icofont-plus m-r-5"></i>
                                                    Edit
                                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
    <ul class="pagination">
            {% if category.has_previous %}

    <li class="page-item">
      <a class="page-link" href="?page={{category.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
            {% endif %}
    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
              {% for i in number%}

    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>

      {% endfor %}
    <li class="page-item"><a class="page-link" href="?page={{category.paginator.num_pages}}">Last</a></li>
                  {% if category.has_next %}

    <li class="page-item">
      <a class="page-link" href="?page={{category.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
            {% endif %}

  </ul>
</nav>
</div>
{% endif %}


{% if category %}
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
                Edit Details
                <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
                </button>
            </div>
            <form action="" class="form-horizontal" method="POST">
                {% csrf_token %}
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">

                        <label class="col-sm-4" style="text-align: left">Category Name</label>
                        <input class="col-xs-12" id="category_name" name="category_name" readonly style="border:0px"
                               type="text" value=category_name>

                        <label class="col-sm-4" style="text-align: left">Status</label>
                        <input class="col-xs-12" id="category_status" name="category_status" readonly style="border:0px"
                               type="text" value=category_status><br>

                        &nbsp &nbsp Update Category Name:
                        <div class="form-group">
                            <div class="col-sm-8">
                                    <textarea class="col-xs-12" id="update_category_name" name="update_category_name"
                                              type="text"
                                              value=""
                                    onkeypress="return isCharacter(event)"></textarea>
                            </div>

                        </div>
                    </div>
                </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                    id="btnsendmsg" name="btnsendmsg" onclick="Call_data_save()" type="button">Save
            </button>
            <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                    type="button">Close
            </button>
        </div>
        <input class="col-xs-10" hidden="" id="txtrecovery_id" name="txtrecovery_id" type="text"
               value=""/>
        </form>
    </div>
</div>
</div>
<script>
            function call_modal(name,status) {
                document.getElementById('category_name').value = name;
                document.getElementById('category_status').value = status;
                document.getElementById('update_category_name').value = name;


            }

</script>
<script>
            <!--Recovery call data save-->
            function Call_data_save() {
                var category_name = document.getElementById('category_name').value;
                var update_category_name = document.getElementById('update_category_name').value;
                if(update_category_name.trim()==""){
                alert("Update Name must be filled out");
                   returnValue=false;
                }
             else{

                $.ajax({
                    type: "POST",
                    data: {
                        'category_name': category_name,
                        'update_category_name': update_category_name,


                    },
                    url: "/ecom/update/",
                    success: function(data) {
                    console.log("--success",data);
                         document.getElementById('update_category_name').value = data;
                    },
                    error: function(data) {

                    }
                });
            }
            }


</script>
{% endif %}

{% if subcategory %}
<div class="modal fade" id="mysubModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
                Edit Details
                <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
                </button>
            </div>
            <form action="" class="form-horizontal" method="POST">
                {% csrf_token %}
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">

                        <label class="col-sm-4" style="text-align: left">Category Name</label>
                        <input class="col-xs-12" id="category1_name" name="category_name" readonly style="border:0px"
                               type="text" value=category_name>
                        <label class="col-sm-4" style="text-align: left">Subcategory Name</label>
                        <input class="col-xs-12" id="sub_name" name="sub_name" readonly style="border:0px"
                               type="text" value=category_name>

                        <label class="col-sm-4" style="text-align: left">Status</label>
                        <input class="col-xs-12" id="sub_status" name="sub_status" readonly style="border:0px"
                               type="text" value=category_status><br>

                        &nbsp &nbsp Update Subcategory Name:
                        <div class="form-group">
                            <div class="col-sm-8">
                                    <textarea class="col-xs-12" id="update_sub_name" name="update_sub_name" type="text"
                                              value=""
                                    onkeypress="return isCharacter(event)"></textarea>
                            </div>

                        </div>
                    </div>
                </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                    id="btn" name="btnsendmsg" onclick="Call_data_save()" type="button">Save
            </button>
            <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                    type="button">Close
            </button>
        </div>
        <input class="col-xs-10" hidden="" id="txt" name="txtrecovery_id" type="text"
               value=""/>
        </form>
    </div>
</div>
</div>
<script>
            function call_modal(cat_name,sub_name,status) {
                document.getElementById('category1_name').value = cat_name;
                document.getElementById('sub_name').value = sub_name;
                document.getElementById('sub_status').value = status;
                document.getElementById('update_sub_name').value = sub_name;

            }

</script>
<script>
            <!--Recovery call data save-->
            function Call_data_save() {
                var subcategory_name = document.getElementById('sub_name').value;
                var update_subcategory_name = document.getElementById('update_sub_name').value;
                if(update_subcategory_name.trim()==""){
                alert("Update Name must be filled out");
                   returnValue=false;
                }
             else{

                $.ajax({
                    type: "POST",
                    data: {
                        'subcategory_name': subcategory_name,
                        'update_subcategory_name': update_subcategory_name,


                    },
                    url: "/ecom/update/",
                    success: function(data) {
                    console.log("--success",data);
                         document.getElementById('update_subcategory_name').value = data;
                    },
                    error: function(data) {

                    }
                });
            }
            }


</script>
{% endif %}

{% if basecategory %}
<div class="modal fade" id="mybaseModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
                Edit Details
                <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
                </button>
            </div>
            <form action="" class="form-horizontal" method="POST">
                {% csrf_token %}
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">

                        <label class="col-sm-4" style="text-align: left">Category Name</label>
                        <input class="col-xs-12" id="category2_name" name="category_name" readonly style="border:0px"
                               type="text" value=category_name>
                        <label class="col-sm-4" style="text-align: left">Subcategory Name</label>
                        <input class="col-xs-12" id="sub_name2" name="sub_name" readonly style="border:0px"
                               type="text" value=category_name>

                        <label class="col-sm-4" style="text-align: left">Base Category</label>
                        <input class="col-xs-12" id="base_name" name="base_name" readonly style="border:0px"
                               type="text" value=category_status><br>

                        &nbsp &nbsp Update Base_category Name:
                        <div class="form-group">
                            <div class="col-sm-8">
                                    <textarea class="col-xs-12" id="update_base_name" name="update_base_name"
                                              type="text"
                                              value=""
                                    onkeypress="return isCharacter(event)"></textarea>
                            </div>

                        </div>
                    </div>
                </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                    id="btn1" name="btnsendmsg" onclick="Call_data_save()" type="button">Save
            </button>
            <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                    type="button">Close
            </button>
        </div>
        <input class="col-xs-10" hidden="" id="txt1" name="txtrecovery_id" type="text"
               value=""/>
        </form>
    </div>
</div>
</div>
<script>
            function call_modal(cat_name,sub_name,base_name) {
                document.getElementById('category2_name').value = cat_name;
                document.getElementById('sub_name2').value = sub_name;
                document.getElementById('base_name').value = base_name;
                document.getElementById('update_base_name').value = base_name;

            }

</script>
<script>
            <!--Recovery call data save-->
            function Call_data_save() {
                var basecategory_name = document.getElementById('base_name').value;
                var update_basecategory_name = document.getElementById('update_base_name').value;
                if(update_basecategory_name.trim()==""){
                alert("Update Name must be filled out");
                   returnValue=false;
                }
             else{

                $.ajax({
                    type: "POST",
                    data: {
                        'basecategory_name': basecategory_name,
                        'update_basecategory_name': update_basecategory_name,


                    },
                    url: "/ecom/update/",
                    success: function(data) {
                    console.log("--success",data);
                         document.getElementById('update_basecategory_name').value = data;
                    },
                    error: function(data) {

                    }
                });
            }
            }
</script>
{% endif %}
<script>
function isCharacter(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    console.log('charcode==========', charCode)
    if (charCode > 64 && charCode < 91){
        return true;
    }
    if (charCode > 96 && charCode < 123){
        return true;
    }
    if (charCode == 95) {
    return true;
    }
    return false;
}
</script>
{% endblock %}


