{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>


                <form action="/ecom/category_priority/">
                    <input type="submit"
                           class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                           value="Change Priority">
                </form>

                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Category</th>
                                                <th>Product Count</th>


                                            </tr>
                                            </thead>
                                            {% if data %}





                                            {% for category, count in data.items %}


                                              <tr>

                                             <td>{{forloop.counter}}</td>


                                                <td><a href="/ecom/product_data/{{category}}/">{{category}}</a></td>
                                                <td>{{count}}</td>


                                            </tr>



                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
