{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            <input type="hidden" id="len" value="{{len}}">
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Category</th>
                                                <th>Count</th>
                                            </tr>
                                            </thead>
                                            {% if data %}
                                            <tr>
                                                {% for name,count in data.items %}
                                                <td>{{forloop.counter}}</td>

                                                <td>
                                                    <a href="/ecom/month_wise_sells_count/{{name}}/">{{name}}</a>
                                                </td>
                                                <td>{{count}}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script></script>
{% endblock %}

