<div>
    <div class="row">
        <div>
            <h1 style="text-align:center;"><b><u>Documentation for Bulk Product Upload</u></b></h1>
            <h3><b><u>*Product Name : Mandatory</u></b></h3>
            <p>Ex. Simple Test <br>
                This is the Product Name that will display for Product Identification. Product name must start with
                alphabet.</p>
            <div>
                <h3><b><u>*Category :Mandatory </u></b></h3>
                <div>
                    <p>Ex. ‘electronics-mobiles-basicphones’<br>
                        This is the combination of Category-Subcategory-Basecategory respectively. Please choose the
                        combination from the below.</p>
                </div>
                <div class=>
                    <div class="row">
                        <div>
                            <div></div>

                            {% if all_category %}
                            {%for i in all_category %}
                            {{i}}
                            <br>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <h3><b><u>*Image: Mandatory</u></b></h3>
                <p>Ex. https://www.dropbox.com/s/iughywer0h8rmwn/pors1042_peach_4%20%285%29.jpg?dl=1 <br>
                    Main Product Image URL path.This is the main image of product which will display on product.</p>
                <b>Note:Image URL must be accessible.</b>

            </div>
            <div>
                <h3><b><u>*Please follow the below instructions for creating dropbox sharable link:</u></b></h3>
                <p> Use the link https://help.dropbox.com/files-folders/share/view-only-access to know about dropbox.</p>
                <p> For sharing links and setting permissions please go through https://www.youtube.com/watch?v=b-_QTx0R7EA.</p>

            </div>
            <div>
                <h3><b><u>*Size: Mandatory</u></b></h3>
                <p>Please select the appropriate Size of the product only from dropdown or from the below options</p>
                <b>Note:Do not add Size manually</b>
                <br>
                {% if sizes %}
                {% for size in sizes %}
                {{size}}
                <br>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <h3><b><u>*Colour: Mandatory</u></b></h3>
                <p>Ex. ‘red’<br>
                    Please select the appropriate Colour of the product only from dropdown or from the below options</p>
                <b>Note:Do not add colour manually</b>
                <br>
                {% if colours %}
                {% for colour in colours %}
                {{colour}}
                <br>
                {% endfor %}
                {% endif %}


            </div>
            <div>
                <h3><b><u>*CGST: Mandatory</u></b></h3>

                <p> Ex. 9 <br>
                    Please select CGST of product from following list.
                    <br><b>Note: It must be an Integer.</b>
                    <br>
                    <br>
                    {% if cgst %}
                    {% for i in cgst %}
                    {{i.percentage}}
                    <br>
                    {% endfor %}
                    {% endif %}

            </div>
            <div>
                <h3><b><u>*SGST: Mandatory</u></b></h3>

                <p> Ex. 9 <br>
                    Please select SGST of product from following list.
                    <br> <b>Note: It must be an Integer.</b>
                    <br><br>
                    {% if sgst %}
                    {% for i in sgst %}
                    {{i.percentage}}
                    <br>
                    {% endfor %}
                    {% endif %}
            </div>
            <div>
                <h3><b><u>Height:</u></b></h3>
                <p> Ex. 9 <br>
                    Height in cm,It must be an Integer.
                    <br><b>Note: The height is in cm , please do not write cm or cms after number.</b>
                    <br>
            </div>
            <div>
                <h3><b><u>*Weight: Mandatory</u></b></h3>
                <p>Ex. 200 <br>
                    Weight in Gram, It must be an Integer.
                    <br><b>Note: The weight is in grams, please do not write gm or gram after number</b>
                    <br>
            </div>
            <div>
                <h3><b><u>Length:</u></b></h3>
                <p>Ex. 25 <br>
                    Length in cm.
                    <br><b>Note: The length is in cm , please do not write cm or cms after number</b>
                    <br>
            </div>
            <div>
                <h3><b><u>Width:</u></b></h3>
                <p>Ex. 25 <br>
                    Width in cm.
                    <br><b>Note: The width is in cm , please do not write cm or cms after number</b>
                    <br>
            </div>
            <div>
                <h3><b><u>*Amount: Mandatory</u></b></h3>
                <p>Ex. 500 <br>
                    Amount for particular product details. It must be an Integer.
                    <br> <b>Note: no need to add rs or Indian rupee symbol before or after the amount.</b>
                    <br>
            </div>
            <div>
                <h3><b><u>*Product_Details_Image_1: Mandatory</u></b></h3>
                <p>ex.https://www.dropbox.com/s/ulcbai1qc9aprm2/pors1043_red_4%20%285%29.jpg?dl=1<br>
                    Image_1 for selected colour. The product detail image 1 is essential with proper image URL.
                    <br><b>Note:Image URL must be accessable.</b>
                    <br>
            </div>
            <div>
                <h3><b><u>Product_Details_Image_2:</u></b></h3>
                <p>ex.https://www.dropbox.com/s/ulcbai1qc9aprm2/pors1043_red_4%20%285%29.jpg?dl=1<br>
                    Image_2 for selected colour.
                    <br><b>Note:Image URL must be accessable.</b>
                    <br>
            </div>
            <div>
                <h3><b><u>Product_Details_Image_3:</u></b></h3>
                <p>ex.https://www.dropbox.com/s/ulcbai1qc9aprm2/pors1043_red_4%20%285%29.jpg?dl=1<br>
                    Image_3 for selected colour.
                    <br><b>Note:Image URL must be accessable.</b>
                    <br>
            </div>
            <div>
                <h3><b><u>Product_Details_Image_4:</u></b></h3>
                <p>ex.https://www.dropbox.com/s/ulcbai1qc9aprm2/pors1043_red_4%20%285%29.jpg?dl=1<br>
                    Image_4 for selected colour.
                    <br><b>Note:Image URL must be accessable.</b>
                    <br>
            </div>
            <div>
                <h3><b><u>*Description: Mandatory</u></b></h3>
                <p>
                    Product’s Description, Extra information like fabriks used, Specifications etc.
                    <br>
                    <b>Note:Image URL must be accessable.</b>
                    <br>
            </div>
            <div>
                <h3><b><u>*Stock: Mandatory</u></b></h3>
                <p>
                    Particular Product Details Stock. At least 1.<br>
                    ex. 40
                    <br>
                    <b>Note: It must be an Integer and Minimum stock can be added is 1</b>
                    <br>
            </div>

            <div>
                <h3><b><u>MRP:</u></b></h3>
                <p>
                    The product MRP is not mandatory but if added must be an Integer.<br>
                    ex. 540
                    <br>
                    <b>Note: no need to add rs or Indian rupee symbol before or after the MRP.</b>
                    <br>
            </div>
            <div>
                <h3><b><u>SKU:</u></b></h3>
                <p>
                    SKU number is for your convenience.Not Mandatory.<br>
                    ex.SKU12345

            </div>
              <div>
                <h3><b><u>HSN:</u></b></h3>
                <p>
                    HSN No for product. Not Mandatory.<br>
                    ex.564312
                    <br>
                    <b>Note: HSN Should be 6 digit</b>
                    <br>


            </div>
             <div>
                <h3><b><u>Unit:</u></b></h3>
                <p>
                    Unit for Grocery category.
                    <br>
                    <b>Note: Mandatory when category is Grocery</b>
                    <br>

                    {% if unit %}
                    {% for unit in unit %}
                    {{unit.name}}
                    <br>
                    {% endfor %}
                    {% endif %}

            </div>

        </div>
    </div>
</div>
