{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-block">
                    <div class="j-wrapper j-wrapper-400">
                        <form action="" method="post" enctype="multipart/form-data">
                            {%csrf_token%}
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>Current Password</label>
                                            <div class="form-group pass_show">
                                                <input type="password" name="current_password" id="current_password"
                                                       class="form-control"
                                                       placeholder="Current Password">
                                            </div>
                                            <label>New Password</label>
                                            <div class="form-group pass_show">
                                                <input type="password" name="new_password" id="new_password"
                                                       class="form-control" placeholder="New Password">
                                            </div>
                                            <label>Confirm Password</label>
                                            <div class="form-group pass_show">
                                                <input type="password" id="confirm_password" class="form-control"
                                                       placeholder="Confirm Password">
                                            </div>
                                            <strong><span id='message'>{{message}}</span></strong>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 " style="">
                                <button class="btn btn-sm btn-success col-xs-offset-4"
                                        style="margin-right: 1%!important;" type="submit">
                                    <i class="ace-icon fa fa-times"></i>
                                    Save
                                </button>
                                <button type="reset" class="btn btn-sm btn-danger col-xs-offset-4">
                                    <i class="ace-icon fa fa-times"></i>
                                    Discard
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
<!--Password reset -->
$(document).ready(function(){
    $('.pass_show').append('<span class="ptxt">Show</span>');
});


$(document).on('click','.pass_show .ptxt', function(){

    $(this).text($(this).text() == "Show" ? "Hide" : "Show");

    $(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; });

});

<!--validating password-->

$('#password, #confirm_password').on('keyup', function () {
  if ($('#new_password').val() == $('#confirm_password').val() | $('#confirm_password').val() == $('#new_password').val()){
    $('#message').html('Matching').css('color', 'green');
  } else
    $('#message').html('Not Matching').css('color', 'red');
});


</script>
{% endblock %}