{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <b><h4>{{msg}}</h4></b>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="table-responsive">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home7"
                                         role="tabpanel">
                                        <font size="1">
                                            <div class="dt-responsive table-responsive">
                                                <form action="/ecom/check/" method="post"
                                                enctype="multipart/form-data">{% csrf_token %}
                                                     <div class="container">
                                            <div class="form-row">
                                                <div class="col-md-1">
                                                    <b><p>Select: </p></b>
                                                </div>
                                                <div
                                                        class="col-md-5">
                                                    <select name="count"
                                                            class="form-control form-control-primary"
                                                            style="width: 100px;length: 50px;" >


                                                        <option name="select">10</option>
                                                        <option name="select">15</option>
                                                        <option name="select">30</option>

                                                    </select>
                                                    <br>
                                                    &nbsp;&nbsp;<input
                                                    type="submit"
                                                    class="btn btn-primary waves-effect waves-light m-r-10"
                                                    value="Submit">
                                                </div>
                                            </div>
                                                <table id="table-style-hover"
                                                       class="table table-striped table-hover table-bordered nowrap">

                                                     {% if users %}
                                                    <thead class="table-warning">
                                                    <tr>
                                                        <th>Sr.no</th>
                                                        <th>Product Name</th>
                                                        <th>Category</th>
                                                        <th>SubCategory</th>
                                                        <th>Base Category</th>
                                                        <th>Re Status</th>
                                                        <th>Priority</th>
                                                        <th>Dashboard Status</th>
                                                        <th>Seller</th>
                                                        <th>Created Date</th>
                                                        <th hidden="true" id="parameter">
                                                        {{parameter}}
                                                        </th>

                                                    </tr>
                                                    </thead>
                                                    {% for data in users %}
                                                    <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td>{{data.name}}</td>
                                                        <td>
                                                            {{data.base_category.sub_category.category.name}}
                                                        </td>
                                                        <td>{{data.base_category.sub_category.name}}</td>
                                                        <td>{{data.base_category.base_name}}</td>
                                                        <td>{{data.re_status}}</td>
                                                        <td>{{data.priority}}</td>
                                                        <td>{{data.dashboard_status}}</td>
                                                        <td>{{data.seller}}</td>
                                                        <td>{{data.created_date}}</td>

                                                    </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                </table>
                                                </form>
                                            </div>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    <nav aria-label="Page navigation example">-->
<!--  <ul class="pagination">-->
<!--            {% if users.has_previous %}-->

<!--    <li class="page-item">-->
<!--      <a class="page-link" href="?page={{ users.previous_page_number }}" aria-label="Previous">-->
<!--        <span aria-hidden="true">&laquo;</span>-->
<!--      </a>-->
<!--    </li>-->
<!--            {% endif %}-->
<!--    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>-->
<!--              {% for i in number %}-->

<!--    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>-->

<!--      {% endfor %}-->
<!--    <li class="page-item"><a class="page-link" href="?page={{users.paginator.num_pages}}">Last</a></li>-->
<!--                  {% if product.has_next %}-->

<!--    <li class="page-item">-->
<!--      <a class="page-link" href="?page={{ users.next_page_number }}" aria-label="Next">-->
<!--        <span aria-hidden="true">&raquo;</span>-->
<!--      </a>-->
<!--    </li>-->
<!--            {% endif %}-->

<!--  </ul>-->
<!--</nav>-->
    <div class="pagination" display="inline-block">
        <span class="step-links">
                    <span class="current">
            {% for i in page_count%}


            <li class="page-item"><a class="page-link" id="current_page" onclick="Page_count({{i}})">{{i}}</a></li>

            {% endfor %}
                    </span>
        </span>
    </div>
</div>
<script>
    function Page_count(page) {
                          console.log("--inside function");
                          var page_count=page;


                                          console.log("--coun of page",page_count);



                $.ajax({
                    type: "GET",

                    data: {
                        'current_count': page_count,
                    },


                    url: "/ecom/check/",
                    success: function(data) {

                    console.log("--inside success");
                    console.log("--success",data);
                         document.getElementById('current_page').value = data;
                    },
                    error: function(data) {

                    }
                });
            }



</script>

{% endblock %}