{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<style>
   p{font-size:1.1vw}
   .card_style
   {
   width:70%;
   border-style:solid;
   border-width:1px;
   text-align:center;
   padding:2%;
   }
   .card-header{
   font-size:1.2vw;
   }
</style>

<body>
   <link rel="stylesheet" type="text/css" href="/static/ecom/assets/pages/list-scroll/list.css">
   <div class="page-body">
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-header">
               </div>
               <div class="card-block">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="row " style="justify-content: center;">
                           <div class="card card_style" id="customer_info_card">
                              <div class="card-header"><b>COD Payment</b></div>
                               <input type="hidden" value="{{order_details_obj.id}}" name="order_details_id" id="order_details_id">

                              <div class="row mb-2">
                                 <div class="col-sm-3 text-right">
                                    <label>Order Text :</label>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="text" id="order_id" class="form-control text-center"
                                       placeholder="Enter Order Text here" value="{{order_details_obj.order_text}}" disabled>
                                 </div>
                              </div>
                              <div class="row mb-2">
                                 <div class="col-sm-3 text-right">
                                    <label>Transaction Id :</label>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="text" id="transaction_id" class="form-control text-center"
                                       placeholder="Enter Transaction Id here">
                                 </div>
                              </div>
                              <div class="row mb-2">
                                 <div class="col-sm-3 text-right">
                                    <label>Amount :</label>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="text" id="amount" class="form-control text-center"
                                       placeholder="Enter Amount here" onkeypress="return isNumber(event)">
                                 </div>
                              </div>
                              <div class="row mb-2">
                                 <div class="col-sm-3 text-right">
                                    <label>Date :</label>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="date" id="date" class="form-control text-center"
                                       placeholder="Enter Amount here">
                                 </div>
                              </div>
                               <div class="row mb-2">
                                 <div class="col-sm-3 text-right">
                                    <label>Status :</label>
                                 </div>
                                 <div class="col-sm-6">
                                   <select name="status" id="status"
                                        class="form-control text-center" required>
                                       <option name="True">True</option>
                                       <option name="False">False</option>
                                   </select>
                                 </div>
                              </div>
                              <div class="row mb-1">
                                 <div class="col-4"></div>
                                 <div class="col-4 text-center">
                                    <input class="form-control text-center btn btn-primary" onclick="make_payment()" id='submit' type="submit" value="Make
                                    Payment">
                                 </div>
                                 <div class="col-3"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>


<div class="modal fade" id="popup1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle1">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="msg">
      </div>
    </div>
  </div>
</div>
</body>

<script>
    function make_payment(){

       var order_details_id =  document.getElementById("order_details_id").value;
       var order_id = document.getElementById("order_id").value;
       var transaction_id = document.getElementById("transaction_id").value;
       console.log("transaction_id", transaction_id);
       var date = document.getElementById("date").value;
       var status = document.getElementById("status").value;
       var amount = document.getElementById("amount").value;

       if (transaction_id=="" || amount=="" || date==""){
        alert("Fill all the fields");


        }
        else {


       console.log("dateeeeeeeeee", date);

      $.ajax({
            type: "POST",
            data: {
                'order_details_id': order_details_id,
                'order_id': order_id,
                'transaction_id': transaction_id,
                'date':date,
                'status': status,
                'amount': amount,


            },
            url: "/ecom/create_cod_payment/",
            success: function(data){
            var data = JSON.parse(data);
               if (data['msg']){

             $('#popup1').modal('show')

               document.getElementById("msg").innerHTML = data['msg'];
               }
               else{
                document.getElementById("msg").innerHTML = "Something Went Wrong";

               }

            }
            });
            }
    }

</script>

<style>
    p{font-size:1.1vw}
    .card_style
    {
    width:70%;
    border-style:solid;
    border-width:1px;
    text-align:center;
    padding:2%;
    }

    .card-header{
    font-size:1.2vw;
    }

</style>

<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>


{% endblock %}

