{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<script src="/static/cdn/js/jquery(3.4.1).min.js"></script>
<!--<script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<script src="/static/cdn/js/jquery-latest.min.js"></script>
<body>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div id="wait"
                 style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;">
                <div class="preloader3 loader-block" id="loader">
                    <div class="circ1"></div>
                    <div class="circ2"></div>
                    <div class="circ3"></div>
                    <div class="circ4"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                      <form action="/ecom/show_cod_repayment_data/" method="post">{% csrf_token %}
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group mb-2">
                                    <label for="staticEmail2" class="sr-only"></label>
                                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                                           value="Enter Order Text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">

                                    <div class="form-group mx-sm-3 mb-2 ">
                                        <input type="text" class="form-control" id="order_text"
                                               placeholder="Enter Order Text Here" name="order_text"
                                               value="">
                                    </div>
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </div>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
<style>
    p{font-size:1.1vw}
    .card_style
    {
    width:70%;
    border-style:solid;
    border-width:1px;
    text-align:center;
    padding:2%;
    }

    .card-header{
    font-size:1.2vw;
    }



</style>

<script>
 $(document).ready(function() {
                $("#gfg").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#tbody tr").filter(function() {
                        $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                    });
                });
            });


</script>
<script>
        $('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(compare($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function compare(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).text() }


</script>


{% endblock %}

