<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact_us</title>
    <style>
         .map-container-7{
         overflow:hidden;
         padding-bottom:56.25%;
         position:relative;
         height:0;
         }
         .map-container-7 iframe{
         left:0;
         top:0;
         height:100%;
         width:100%;
         position:absolute;
         }
         .p{
         font-size: 1.4rem;
         line-height: 1.6em;
         color: #666;
         }
         .textarea.form-control {
         height: auto;
         padding: 2rem;
         resize: none;
         }
         .form-control {
         outline: none;
         height: 50px;
         font-size: 14px;
         padding: 0 20px;
         border: none;
         height: 50px;
         background-color: transparent;
         border: 1px solid #dddddd;
         border-radius: 0;
         box-shadow: 0 0 rgba(0, 0, 0, 0);
         transition: all 0.4s ease;
         box-shadow: 0 0 0 #000;
         }
         .widget-title {
         font-size: 16px;
         margin-bottom: 10px;
         color: #000;
         font-weight: 600;
         }
         .p {
         font-size: 1.4rem;
         line-height: 1.6em;
         color: #666;
         }
         .a{
         display: inline-block;
         color: #666;
         line-height: 20px;
         position: relative;
         font-family: Work Sans, sans-serif;
         font-weight: 400;
         }






    </style>
</head>
<body>
<section class="section">
    <div class="card">
        <div class="card-body">
            <div id="map-container-google-12" class="z-depth-1-half map-container-7" style="height: 200px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.286374834216!2d73.94259829983785!3d18.561123572716575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c3dbcbd5f12f%3A0xcd7dd569ee6edd06!2sCity%20Vista!5e0!3m2!1sen!2sus!4v1596445116095!5m2!1sen!2sus"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="ps-section__header">
            <h3 style="margin-bottom: 90px;
                  text-align: center;
                  font-size: 36px;
                  font-weight: 600;
                  color: #000;
                  line-height: 1em;">Contact Us For Any Questions</h3>
        </div>
        <div class="ps-section__content">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                    <div class="ps-block--contact-info">
                        <h4>Contact Us</h4>
                        <p>
                            <a href="mailto:info@thecreditkart.com">info@thecreditkart.com</a><br><span>+919807289807</span>
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                    <div class="ps-block--contact-info">
                        <h4>Headquarters</h4>
                        <p>
                            <span>Office No.14,Floor No. 4,City Vista, Downtown Kharadi, Kharadi, Pune 411033</span>
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                    <div class="ps-block--contact-info">
                        <h4>Customer Service</h4>
                        <p><a href="mailto:info@thecreditkart.com">info@thecreditkart.com</a><br><span>+919807289807</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
        <h3 class="section-heading h1 pt-4 mb-5" style="margin-bottom: 90px;
               text-align: center;
               font-size: 36px;
               font-weight: 600;
               color: #000;
               line-height: 1em;">Get In Touch</h3>
        <div class="col-md-6 mb-4">
            <form action="/ecom/contact_us/" method="POST">{% csrf_token %}
                <div class="md-form">
                    <input type="text" id="contact-name" name="contact-name" class="form-control" required>
                    <label for="contact-name" class="">Name *</label>
                </div>
                <div class="md-form">
                    <input type="text" id="contact-number" name="contact-number" class="form-control"
                           pattern="^[6-9]\d{9}$"
                           onkeypress="return isNumber(event)" required>
                    <label for="contact-Number" class="">Mobile Number *</label>
                </div>
                <div class="md-form">
                    <input type="email" id="contact-email" name="contact-email" class="form-control"
                           required>
                    <label for="contact-email" class="">Email *</label>
                </div>
                <div class="md-form">
                    <input type="text" id="subject" name="subject" class="form-control" required>
                    <label for="subject" class="">Subject *</label>
                </div>

                <div class="col-md-15 mb-4">
                    <div class="md-form primary-textarea">
                  <textarea id="message" name="message" class="md-textarea form-control mb-0" rows="5"
                            style="padding-bottom: 1.2rem;"></textarea>
                        <label for="message">Your message *</label>
                    </div>


                </div>
                <div class="col-md-50">
                    <div class="text-center" style="text-align: center;">
                        <!--                        <a class="btn btn-mdb-color btn-block"><button type="submit">Send Mail</button></a>-->
                        <button class="btn btn-primary center-block" type="submit">Send Mail</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <footer class="">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                        <h4 class="widget-title">Contact us</h4>
                        <h4 style="font-size: 18px;">+91 9807289807</h4>
                        <p>
                            13, 14, 15 & 16, City Vista, Downtown Kharadi,<br>
                            Kharadi, Pune 411014<br>
                            <a>info@thecreditkart.com</a>
                        </p>
                    </div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                </div>
            </div>
            <div class="footer-copyright text-center py-3">© 2020 CreditKart. All Rights Reserved
            </div>
        </footer>
    </div>
</section>
</body>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
<script>
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}


</script>
</html>

