{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<script src="/static/cdn/js/jquery(3.4.1).min.js"></script>
<!--<script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<script src="/static/cdn/js/jquery-latest.min.js"></script>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Quantity</th>
                                                <th>Order Text</th>
                                                <th>Pay Amount</th>
                                                <th>Convenient Fees</th>
                                                <th>Total Amount</th>
                                                <th>Date</th>

                                            </tr>
                                            </thead>
                                            {% if all_orders %}

                                            <tbody>
                                            {% for order in all_orders %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>{{order.total_quantity}}</td>
                                                <td>{{order.order_text}}</td>
                                                <td>{{order.pay_amount}}</td>
                                                <td>{{order.convenient_fees.amount}}</td>
                                                <td>{{order.total_amount}}</td>
                                                <td>{{order.date}}</td>

                                            </tr>
                                            {% endfor %}
                                            </tbody>

                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="form-group">    <!--       Show Numbers Of Rows      -->
                                <select class="form-control text-center" name="state" id="maxRows">
                                    <option value="5" selected>5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="70">70</option>
                                    <option value="100">100</option>
                                </select>

                            </div>

                            <div class="tab-content">
                                <div class="tab-pane active" id="home71" role="tabpanel">

                                    <div class="dt-responsive table-responsive" id="table">
                                        <input id="gfg" type="text" class="form-control text-center"
                                               placeholder="Search here">
                                        <table id="table-style-hover1"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr No</th>
                                                <th>Order ID</th>
                                                <th>Unique Order ID</th>
                                                <th>Product Name</th>
                                                <th>Convenient Fees</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                                <th>Total Amount</th>
                                                <th>Delivery Charges</th>
                                                <th>Date</th>
                                                <th>Sellers Name</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>

                                            {% if order_obj %}

                                            <tbody id="tbody">
                                            {% for order in order_obj %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>
                                                    <a href="/ecom/order-all-details/{{order.id}}/">{{order.order_id}}</a>
                                                </td>
                                                <td><a href="/ecom/order_related_data/{{order.id}}/">{{order.unique_order_id}}</a>
                                                </td>
                                                <td>{{order.product_details.product_id.name}}</td>
                                                <td>{{order.convenient_fees.amount}}</td>
                                                <td>{{order.quantity}}</td>
                                                <td>{{order.amount}}</td>
                                                <td>{{order.total_amount}}</td>
                                                <td>{{order.delivery_charges.amount}}</td>
                                                <td>{{order.date}}</td>
                                                <td>{{order.product_details.user.username}}</td>
                                                <td>{{order.status}}</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                            {% endif %}
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div class='pagination-container'>
                                <nav>
                                    <ul class="pagination">
                                        <li class="btn btn-info" data-page="prev" >
                                            prev
                                        </li>
                                        <!--   Here the JS Function Will Add the Rows -->
                                        <li class="btn btn-info" data-page="next" id="prev">
                                            next
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

 $(document).ready(function() {
                $("#gfg").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#tbody tr").filter(function() {
                        $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                    });
                });
            });




</script>
<script>
        $('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(compare($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function compare(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).text() }





</script>
<script>
              getPagination('#table-style-hover1');
               //getPagination('.table-class');
               //getPagination('table');
        /*               PAGINATION
        - on change max rows select options fade out all rows gt option value mx = 5
        - append pagination list as per numbers of rows / max rows option (20row/5= 4pages )
        - each pagination li on click -> fade out all tr gt max rows * li num and (5*pagenum 2 = 10 rows)
        - fade out all tr lt max rows * li num - max rows ((5*pagenum 2 = 10) - 5)
        - fade in all tr between (maxRows*PageNum) and (maxRows*pageNum)- MaxRows
        */
function getPagination(table) {
  var lastPage = 1;
  $('#maxRows')
    .on('change', function(evt) {
      //$('.paginationprev').html('');                // reset pagination
     lastPage = 1;
      $('.pagination')
        .find('li')
        .slice(1, -1)
        .remove();
      var trnum = 0; // reset tr counter
      var maxRows = parseInt($(this).val()); // get Max Rows from select option
      if (maxRows == 5000) {
        $('.pagination').hide();
      } else {
        $('.pagination').show();
      }
      var totalRows = $(table + ' tbody tr').length; // numbers of rows
      $(table + ' tr:gt(0)').each(function() {
        // each TR in  table and not the header
        trnum++; // Start Counter
        if (trnum > maxRows) {
          // if tr number gt maxRows
          $(this).hide(); // fade it out
        }
        if (trnum <= maxRows) {
          $(this).show();
        } // else fade in Important in case if it ..
      }); //  was fade out to fade it in
      if (totalRows > maxRows) {
        // if tr total rows gt max rows option
        var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..
        // numbers of pages
        for (var i = 1; i <= pagenum;i++ ) {
          // for each page append pagination li
          $('.pagination #prev')
            .before(
              '<li class="btn mr-1 ml-1" data-page="' +
                i +
                '">\
                          ' +
                i +
                '</li>'
            )
            .show();
        } // end for i
      } // end if row count > max rows
      $('.pagination [data-page="1"]').addClass('btn-primary active'); // add active class to the first li
      $('.pagination li').on('click', function(evt) {
        // on click each page
        evt.stopImmediatePropagation();
        evt.preventDefault();
        var pageNum = $(this).attr('data-page'); // get it's number
        var maxRows = parseInt($('#maxRows').val()); // get Max Rows from select option
        if (pageNum == 'prev') {
          if (lastPage == 1) {
            return;
          }
          pageNum = --lastPage;
        }
        if (pageNum == 'next') {
          if (lastPage == $('.pagination li').length - 2) {
            return;
          }
          pageNum = ++lastPage;
        }
        lastPage = pageNum;
        var trIndex = 0; // reset tr counter
        $('.pagination li').removeClass('btn-primary active'); // remove active class from all li
        $('.pagination [data-page="' + lastPage + '"]').addClass('btn-primary active'); // add active class to the clicked
        // $(this).addClass('btn-primary active');             // add active class to the clicked
      limitPagging();
        $(table + ' tr:gt(0)').each(function() {
          // each tr in table not the header
          trIndex++; // tr index counter
          // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
          if (
            trIndex > maxRows * pageNum ||
            trIndex <= maxRows * pageNum - maxRows
          ) {
            $(this).hide();
          } else {
            $(this).show();
          } //else fade in
        }); // end of for each tr in table
      }); // end of on click pagination list
     limitPagging();
    })
    .val(5)
    .change();
  // end of on select change
  // END OF PAGINATION
}
function limitPagging(){
   // alert($('.pagination li').length)
   if($('.pagination li').length > 7 ){
         if( $('.pagination li.active').attr('data-page') <= 3 ){
         $('.pagination li:gt(5)').hide();
         $('.pagination li:lt(5)').show();
         $('.pagination [data-page="next"]').show();
      }if ($('.pagination li.active').attr('data-page') > 3){
         $('.pagination li:gt(0)').hide();
         $('.pagination [data-page="next"]').show();
         for( let i = ( parseInt($('.pagination li.active').attr('data-page'))  -2 )  ; i <= ( parseInt($('.pagination li.active').attr('data-page'))  + 2 ) ; i++ ){
            $('.pagination [data-page="'+i+'"]').show();
         }
      }
   }
}
<!--$(function() {-->
<!--  // Just to append id number for each row-->
<!--  $('table tr:eq(0)').prepend('<th class="text-center"> ID </th>');-->
<!--  var id = 0;-->
<!--  $('table tr:gt(0)').each(function() {-->
<!--    id++;-->
<!--    $(this).prepend('<td>' + id + '</td>');-->
<!--  });-->
<!--});-->
//  Developed By Yasser Mas
// yasser.mas2@gmail.com
// All Table search script
function FilterkeyWord_all_table() {
// Count td if you want to search on all table instead of specific column
  var count = $('.table').children('tbody').children('tr:first-child').children('td').length;
        // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("search_input_all");
  var input_value =     document.getElementById("search_input_all").value;
        filter = input.value.toLowerCase();
  if(input_value !=''){
        table = document.getElementById("table-style-hover1");
        tr = table.getElementsByTagName("tr");
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 1; i < tr.length; i++) {
          var flag = 0;
          for(j = 0; j < count; j++){
            td = tr[i].getElementsByTagName("td")[j];
            if (td) {
                var td_text = td.innerHTML;
                if (td.innerHTML.toLowerCase().indexOf(filter) > -1) {
                //var td_text = td.innerHTML;
                //td.innerHTML = 'shaban';
                  flag = 1;
                } else {
                  //DO NOTHING
                }
              }
            }
          if(flag==1){
                     tr[i].style.display = "";
          }else {
             tr[i].style.display = "none";
          }
        }
    }else {
      //RESET TABLE
      $('#maxRows').trigger('change');
    }
}


</script>

{% endblock %}
