{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                     <form action="/ecom/coupon_csv/">
                        <input type="submit"
                               class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                               value="Download csv">
                        </input>
                    </form>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order Text</th>
                                                <th>User</th>
                                                <th>coupon</th>
                                                <th>date</th>
                                                <th>status</th>
                                                <th>Created Date</th>



                                            </tr>
                                            </thead>

                                            {% if coupon_obj %}

                                            {% for coupon in coupon_obj %}


                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>{{coupon.order_details.order_text}}</td>
                                                <td>{{coupon.order_details.user.username}}</td>
                                                <td>{{coupon.coupon}}</td>
                                                <td>{{coupon.date | date:"Y-m-d"}}</td>
                                                <td>{{coupon.status}}</td>
                                                <td>{{coupon.created_date | date:"Y-m-d"}}</td>



                                            </tr>

                                            {% endfor %}
                                            {% endif %}


                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>

{% endblock %}