{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}



<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script src="/static/cdn/js/jquery(3.2.1).min.js"></script>
<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
<link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>
<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>-->
<script src="/static/cdn/js/select2(4.0.13).min.js"></script>


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ msg }}</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form class="md-float-material card-block"
                                          action="/ecom/create_banner/{{product_id}}/" method="POST"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-sm-6">
                                                     <b><p>Select Banner Image</p></b>
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input type="file"
                                                           class="form-control"
                                                           name="banner_image"
                                                           placeholder=""
                                                           required>

                                                </div>

                                            </div>
                                            <div class="col-sm-6">
                                                <b><p>Select Status </p></b>
                                                <select name="status"
                                                        class="form-control form-control-primary" required>
                                                    <option selected disabled>---Select Status---</option>
                                                    <option value="True">True</option>
                                                    <option value="False">False</option>

                                                </select>

                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b><p>Select Type </p></b>
                                                <select name="type"
                                                        class="form-control form-control-primary" required>
                                                    <option selected disabled>---Select Type---</option>
                                                    <option>App</option>
                                                    <option>Web</option>
                                                    <option>Both</option>

                                                </select>

                                            </div>
                                            <div class="col-sm-6">
                                                <b><p>Select Priority </p></b>
                                                <select name="priority"
                                                        class="form-control form-control-primary" required>
                                                    <option selected disabled>---Select Priority---</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>

                                                </select>

                                            </div>


                                        </div>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">

                                                <b><p>Select TextView </p></b>
                                                <select name="textview"
                                                        class="form-control form-control-primary" required>
                                                    <option selected disabled>---Select TextView---</option>
                                                    <option>Home</option>


                                                </select>

                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-center m-t-20">
                                                    <button type="submit"
                                                            class="btn btn-primary waves-effect waves-light m-r-10">
                                                        Save
                                                    </button>
                                                    <button type="reset"
                                                            class="btn btn-warning waves-effect waves-light">
                                                        Discard
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
   $(document).ready(function () {
//change selectboxes to selectize mode to be searchable
   $("select").select2();
});
</script>

{% endblock %}