{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>{{msg}}</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    {% if credit_data%}
                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>

                                                <th>Mobile Number</th>
                                                <th>Credit</th>
                                                <th>Used Credit</th>
                                                <th>Remaining Credit</th>

                                            </tr>
                                            </thead>
                                            <tr>


                                                <td>
                                                    <a href="/lead/loanmart_subs_datewise/{{month}}/">{{credit_data.user.username}}</a>
                                                </td>

                                                <td>
                                                    {{credit_data.credit}}
                                                </td>
                                                <td>
                                                    {{credit_data.used_credit}}
                                                </td>
                                                <td>
                                                    {{credit_data.balance_credit}}
                                                </td>


                                            </tr>
                                            <br>
                                            <tr>
                                                <form action="/ecom/credit_add_static/{{credit_data.user_id}}/"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <p>Add Credit
                                                                <input name="update_credit"
                                                                       placeholder="Update the stock Number"
                                                                       type="number"
                                                                       min="1"></p>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <input
                                                                    type="submit"
                                                                    class="btn btn-primary waves-effect waves-light m-r-10"
                                                                    value="Add">
                                                        </div>
                                                    </div>
                                                </form>
                                                {% endif %}
                                            </tr>
                                            <br>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="slide"></div>


                                <div class="tab-content">
                                    <div class="tab-pane active" id="home7" role="tabpanel">
                                        <form action="/ecom/credit_add_static/1/"
                                              method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <p>Search Mobile:
                                                        <input name="mobile"
                                                               placeholder="Enter Mobile Number"
                                                               type="text"></p>
                                                    <input
                                                            type="submit"
                                                            class="btn btn-primary waves-effect waves-light m-r-10"
                                                            value="Search">
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

