{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>

                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Credit</th>
                                                <th>Used Credit</th>
                                                <th>Balance Credit</th>
                                                <th>Actual Used</th>
                                                <th>Repayment Add</th>
                                                <th>User</th>
                                                <th>Status</th>
                                                <th>ReStatus</th>
                                                <th>Created Date</th>
                                                <th>Updated Date</th>
                                            </tr>
                                            </thead>
                                            {% if credit %}
                                            <tr>
                                                {% for obj in credit %}
                                                <td>{{forloop.counter}}</td>
                                                <td>{{obj.credit.credit}}</td>
                                                <td>{{obj.credit.used_credit}}</td>
                                                <td>{{obj.credit.balance_credit}}</td>
                                                <td>{{obj.credit.actual_used}}</td>
                                                <td>{{obj.credit.repayment_add}}</td>
                                                <td>{{obj.credit.user.username}}</td>
                                                <td>{{obj.credit.status}}</td>
                                                <td>{{obj.credit.re_status}}</td>
                                                <td>{{obj.credit.created_date}}</td>
                                                <td>{{obj.credit.updated_date}}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

