<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{msg}}
{% if message %}
{% for mess in message %}
{{mess}}
{%endfor%}
{%endif%}
<br>
{{order}}

<form method='post' class="col s12" enctype="multipart/form-data">

    {% csrf_token %}
    <p>Upload a file</p>


    <input type="file" name='file_name'>
    <p>
        <button type="submit" class="waves-effect waves-light btn" style="background-color: teal">Publish</button>
    </p>
</form>


</body>
</html>