{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header text-center font-weight-bold pb-5 h5">
                    {{day}}

                </div>
                <div class="float-right text-white">
                    <a type="button" href="/ecom/get_dashboard_csv/{{day}}/" class="btn btn-primary">Download CSV</a>
                    <a type="button" href="/ecom/get_dashboard_csv/{{month}}/" class="btn btn-primary">Download CSV of month</a>
                </div>
                <div class="card-block">
                    <div class="container text-warning">
                        {% if data %}
                        {% for obj in data %}

                        <div class="row">

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Total Buyer
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.total_buyer}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        No of orders
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.orders_count}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Total Purchasing Amount
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.final_seller_amount}}
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Total Sell Amount
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.order_amount}}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Total Credit used
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.total_credit}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Wallet Amount
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.wallet_amount}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Gross Profit
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.profit}}
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Net Profit
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.net_profit}}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Net Payable
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.net_pay}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Net Receibale
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.net_receivables}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Total Orders
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.total_orders}}
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Initiated Orders
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.initiated_orders}}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Placed Orders
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.placed_orders}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Packed Logistic Orders
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.packed_logistics_orders}}
                                    </div>
                                </div>
                            </div>

<!--                            <div class="col-sm-3 text-center">-->
<!--                                <div class="card border border-info">-->
<!--                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">-->
<!--                                        MFPL Packed Logistic Orders Details-->
<!--                                    </div>-->
<!--                                    <div class="card-body " style="color:black;">-->
<!--                                        {{obj.dashboard_data.packed_logistics_order_details}}-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Dispatched Orders
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.dispatch_orders}}
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        In transit Logistic Orders
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.in_transit_logistics_orders}}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Delivered Orders
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.delivered_orders}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Undelivered Orders
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.undelivered_orders}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Cancelled Orders
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.cancelled_order}}
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Return Orders
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.return_orders}}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Return Request Pending
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.return_request}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Pending Orders
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.pending_orders}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Logistic Orders
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.logistics_orders}}
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Total Due
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.over_dues_total}}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Shipping Charges
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.shipping_fees}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Convenience Charge
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.convinient_fees}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Products Pending Approval
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.submitted_products}}
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Total No of sellers
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.sellers_count}}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Total Repayment Amount
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.total_repayment_amount}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Total No of products
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.all_products}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Total Users
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.total_users}}
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Total unused credit
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.total_unused_credit}}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Total Penalty
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.total_penalty}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Cash Payment
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.payment_amount}}
                                    </div>
                                </div>
                            </div>
                             <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        COD Count
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.get_cod_order_count}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        COD Amount
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.cod_order_amount}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        MFPL Placed Order Details
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.mfpl_placed_order}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        MFPL Packed Logistics Order Details
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.packed_mfpl_logistics_order_details}}
                                    </div>
                                </div>
                            </div>
                             <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        New Loan Application
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.new_loan_submitted}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Total Loan Applied
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.all_loan_application}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Total Loans Approved
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.approved_loan_application}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Completed loan Amount
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.completed_loan_amount}}
                                    </div>
                                </div>
                            </div>
                             <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Disbursed Amount
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.disbursed_amount}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Due Amount
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.due_amount}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Installment (Received)
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.installment}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Completed loan Profit
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.completed_loan_profit}}
                                    </div>
                                </div>
                            </div>
                             <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Completed loan Count
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.completed_loan_count}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Overdue Amount
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.overdue_amount}}
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="row">

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        OverDue Count
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.overdue_count}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Delinquency
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.delinquency}}
                                    </div>
                                </div>
                            </div>
                             <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Net Profit
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.net_profit}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 text-center">
                                <div class="card border border-info">
                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">
                                        Phonepe Cancel Order
                                    </div>
                                    <div class="card-body " style="color:black;">
                                        {{obj.dashboard_data.phone_pe}}
                                    </div>
                                </div>
                            </div>
                        </div>

                            <!--                            <div class="col-sm-3 text-center">-->
                            <!--                                <div class="card border border-info">-->
                            <!--                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">-->
                            <!--                                        {{day}}-->
                            <!--                                    </div>-->
                            <!--                                    <div class="card-body " style="color:black;">-->
                            <!--                                        {{obj.dashboard_data.total}}-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                            <!--                            <div class="col-sm-3 text-center">-->
                            <!--                                <div class="card border border-info">-->
                            <!--                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">-->
                            <!--                                        {{day}}-->
                            <!--                                    </div>-->
                            <!--                                    <div class="card-body " style="color:black;">-->
                            <!--                                        {{obj.dashboard_data.total}}-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->


                            <!--                            <div class="col-sm-3 text-center">-->
                            <!--                                <div class="card border border-info">-->
                            <!--                                    <div class="card-header text-center text-warning font-weight-bold pb-0 h6">-->
                            <!--                                        {{day}}-->
                            <!--                                    </div>-->
                            <!--                                    <div class="card-body " style="color:black;">-->
                            <!--                                        {{obj.dashboard_data.total}}-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}