{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header ">
                    <a type="button" class="btn btn-primary float-right text-white" href="/ecom/dashboard_data_csv/">Get CSV</a>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                {% if day %}

                                                <th>Day</th>

                                                {% else %}

                                                <th>Month</th>

                                                {% endif %}

                                            </tr>
                                            </thead>

                                            {% if dates %}

                                            {% for date in dates %}


                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                {% if day %}

                                                <td><a href="/ecom/daily_dashboard_data/{{date}}/">{{date}}</a></td>

                                                {% else %}

                                                <td><a href="/ecom/date_wise_dashboard_data/{{date}}/">{{date}}</a></td>

                                                {% endif %}


                                            </tr>

                                            {% endfor %}
                                            {% endif %}


                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>

{% endblock %}