{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}



<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script src="/static/cdn/js/jquery(3.2.1).min.js"></script>
<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
<link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>
<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>-->
<script src="/static/cdn/js/select2(4.0.13).min.js"></script>

</head>


<div class="card">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-block text-center pb-2">
                {% if message %}
                <span class="text-danger">{{message}}<br>Try again</span>
                <br>
                {% endif %}

                <div class="tab-content pt-4">
                    <div class="tab-pane active text-center" id="home7" role="tabpanel">
                        <form action="/ecom/dashboard_data_csv/" method="POST">{% csrf_token %}
                            <center><label for="datepicker">Date </label>
                                <input type="text" style="width:30%;"
                                       class="form-control border border-primary text-center"
                                       placeholder="select date"
                                       name="datepicker" id="datepicker" required/>
                                <br>

                                <input type="submit" value="Download CSV" class="btn btn-primary">
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
   $(document).ready(function () {
//change selectboxes to selectize mode to be searchable
   $("select").select2();
});





</script>

<!--<link href="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">


<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<!--<script src="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>


<script>
    $("#datepicker").datepicker( {
    format: "yyyy-mm",
    startView: "months",
    minViewMode: "months",
    autoclose: true

});




</script>


{% endblock %}
