<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{date}}
{{ date|date:'Y-m-d H:i' }}
<form action="/ecom/date_fun/{{ date|date:'Y-m-d H:i' }}/">
    <button type="submit" >Send Date</button>
</form>
</body>
</html>