{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="col-sm-12">
                        <form action="/ecom/return_customer_csv/" method="POST">
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-sm-6" style="text-align:right;">
                                    Select Date :
                                </div>
                                <div class="col-sm-6">
                                    <input type="date" name="date" required>
                                </div>
                            </div>
                            <br>
                            <center><input type="submit" class="btn btn-primary"
                                           value="Submit"></center>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
