{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Mobile Number</th>
                                                <th>Is Defaulter</th>
                                                <th>Status</th>
                                                <th>Type</th>
                                                <th>Created Date</th>
                                                <th>Updated Date</th>
                                            </tr>
                                            </thead>
                                            {% if defaulter %}

                                            <tr>



                                                {% for defaulter in defaulter %}

                                                <td>{{forloop.counter}}</td>
                                                <td>{{defaulter.mobile_number}}</td>
                                                <td>{{defaulter.is_defaulter}}</td>
                                                <td>{{defaulter.status}}</td>
                                                <td>{{defaulter.type}}</td>
                                                <td>{{defaulter.created_date |date:"Y-m-d"}}</td>
                                                <td>{{defaulter.updated_date |date:"Y-m-d"}}</td>
                                            </tr>
                                            {% endfor %}

                                            {% endif %}


                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
