{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form class="md-float-material card-block"
                                          action="/ecom/delivery-charges-details/" method="POST"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>Select Product here </p>
                                                <select name="products"
                                                        class="form-control form-control-primary" multiple>
                                                    {% for product in products %}
                                                    <option value="{{product.id}}">{{product.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>Enter delivery charge</p>
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-ui-user"></i></span>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="delivery_charge"
                                                           placeholder="Delivery charge"
                                                           onkeypress="return isNumber(event)"
                                                           required="True">
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-center m-t-20">
                                                    <button type="submit"
                                                            class="btn btn-primary waves-effect waves-light m-r-10">
                                                        Save
                                                    </button>
                                                    <button type="reset"
                                                            class="btn btn-warning waves-effect waves-light">
                                                        Discard
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>Delivery charges list</h5>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        <thead>
                                        <tr>
                                            <th>Sr. No</th>
                                            <th>Product Name</th>
                                            <th>Amount</th>


                                        </tr>
                                        </thead>
                                        <tbody>


                                        {% if delivery_details %}
                                        {% for charges in delivery_details %}
                                        <tr>

                                            <td class="pro-name">
                                                <h6>{{forloop.counter}}</h6>

                                            </td>

                                            <td>{{charges.0}}</td>
                                            <td>{{charges.1}}</td>

                                        </tr>
                                        {% endfor %}
                                        {% endif %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="md-overlay"></div>

</div>
<script>
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}
</script>

{% endblock %}
