{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Product</th>
                                                <th>Action</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if image %}
                                            {% for product,path in image.items %}
                                            <!--                                            {{path}}-->

                                            <tr>
                                                <td>{{forloop.counter}}</td>


                                                <td>{{product}}</td>


                                                <td>
                                                    <button type="button"
                                                            class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"
                                                            data-target="#myModal"
                                                            data-toggle="modal"
                                                            onclick="call_modal('{{path}}','{{product}}')"
                                                            data-modal="modal-13"><i class=""></i>
                                                        View Image

                                                    </button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
                                Edit Details
                                <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
                                </button>
                            </div>
                            <form action="" class="form-horizontal" method="POST">
                                {% csrf_token %}
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="form-group">


                                        <img src=path id="path" alt="path"><br><br>
                                        <input class="col-xs-12" id="product_name"  readonly
                                               style="border:0px"
                                                   type="text" value=product_name>

                                    </div>

                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">

                                    <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                                            type="button">Close
                                    </button>
                                </div>
                                <input class="col-xs-10" hidden="" id="txtrecovery_id" name="txtrecovery_id" type="text"
                                       value=""/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
            function call_modal(path,product_name) {


                document.getElementById('path').src = path;
                document.getElementById('product_name').value = product_name;

            }
            console.log(path);



</script>

{% endblock %}
