{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>Order Details Information</h5>
                </div>
                <div class="card-block">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    {% if order_details %}
                                    <p>Order_text : {{order_details.order_text}}</p>
                                    <p>Credit Allowed : {{order_details.credit.credit}}</p>
                                    <p>Credit used : {{order_details.credit.used_credit}}</p>
                                    <p>Total Amount : {{order_details.total_amount}}</p>
                                    <p>Total Quantity : {{order_details.total_quantity}}</p>
                                    <p>Pay Amount : {{order_details.pay_amount}}</p>
                                    <p>Status : {{order_details.status}}</p>
                                    <p>Order Address : {{order_details.address.address}}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <div class="card">
                    <div class="card-header">
                        <h5>Order Details</h5>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="slide"></div>


                                <div class="tab-content">
                                    <div class="tab-pane active" id="home61" role="tabpanel">

                                        <div class="dt-responsive table-responsive">
                                            <table id="table-style-hover11"
                                                   class="table table-striped table-hover table-bordered nowrap">

                                                <thead>
                                                <tr>
                                                    <th>Sr. No.</th>
                                                    <th>Product Name</th>
                                                    <th>Product Category</th>
                                                    <th>Product Subcategory</th>
                                                    <th>Product Size</th>
                                                    <th>Product Colour</th>
                                                    <th>Product Height</th>
                                                    <th>Product Weight</th>
                                                    <th>Product Width</th>
                                                    <th>Product Length</th>
                                                    <th>Quantity</th>
                                                    <th>Amount</th>
                                                    <th>Total Amount</th>
                                                    <th>order status</th>
                                                </tr>
                                                </thead>
                                                {% if orders %}
                                                {% for order in orders %}
                                                <tbody>
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{order.product_details.product_id.name}}</td>
                                                    <td>{{order.product_details.product_id.category.name}}</td>
                                                    <td>{{order.product_details.product_id.sub_category.name}}</td>
                                                    <td>{{order.product_details.size_id.name}}</td>
                                                    <td>{{order.product_details.colour_id.name}}</td>
                                                    <td>{{order.product_details.height}}</td>
                                                    <td>{{order.product_details.weight}}</td>
                                                    <td>{{order.product_details.width}}</td>
                                                    <td>{{order.product_details.Length}}</td>
                                                    <td>{{order.quantity}}</td>
                                                    <td>{{order.amount}}</td>
                                                    <td>{{order.total_amount}}</td>
                                                    <td>{{order.amount}}</td>
                                                </tr>
                                                {% endfor %}



                                                </tbody>
                                                {% else %}


                                                       <h5>No Orders.</h5>
                                                        <br>
                                                <br>
                                                {% endif %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header">
                        <h5>Repayments for Order</h5>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="slide"></div>


                                <div class="tab-content">
                                    <div class="tab-pane active" id="home6" role="tabpanel">

                                        <div class="dt-responsive table-responsive">
                                            <table id="table-style-hover1"
                                                   class="table table-striped table-hover table-bordered nowrap">

                                                <thead>
                                                <tr>
                                                    <th>Sr. No.</th>
                                                    <th>Amount</th>
                                                    <th>Order ID</th>
                                                    <th>Transaction ID</th>
                                                    <th>PG_transaction ID</th>
                                                    <th>Status</th>
                                                    <th>Category</th>
                                                    <th>Transaction Date</th>
                                                </tr>
                                                </thead>
                                                {% if payment_data %}
                                                {% for payment in payment_data %}
                                                <tbody>
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{payment.amount}}</td>
                                                    <td>{{payment.order_id}}</td>
                                                    <td>{{payment.transaction_id}}</td>
                                                    <td>{{payment.pg_transaction_id}}</td>
                                                    <td>{{payment.status}}</td>
                                                    <td>{{payment.category}}</td>
                                                    <td>{{payment.date}}</td>
                                                </tr>
                                                {% endfor %}
                                                 </tbody>


                                            </table>
                                            {% else %}

                                                <h5>No Repayments for this order.</h5>
                                            <br>
                                            <br>

                                                {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div id="styleSelector">
        </div>


<script>
            function call_modal(product_details_id, product_name, current_stock) {
                document.getElementById('product_details_id').value = product_details_id;
                document.getElementById('product_name').value = product_name;
                document.getElementById('current_stock').value = current_stock;
            }


</script>
<script>
            <!--Recovery call data save-->
            function Call_data_save() {
                var product_details_id = document.getElementById('product_details_id').value;
                var new_stock = document.getElementById('new_stock').value;

                $.ajax({
                    type: "POST",
                    data: {
                        'product_details_id': product_details_id,
                        'new_stock': new_stock,

                    },
                    url: "/ecom/add_new_stock/",
                    success: function(data) {
                    console.log("--success",data);
                         document.getElementById('new_stock').value = data;
                    },
                    error: function(data) {

                    }
                });
            }


</script>
{% endblock %}
