{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script src="/static/cdn/js/jquery(3.2.1).min.js"></script>
<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
<link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>
<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>-->
<script src="/static/cdn/js/select2(4.0.13).min.js"></script>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ msg }}</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide">


                            </div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">


                                    <form action="/ecom/edit_user_offer_data/{{user_offer.user.id}}/{{user_offer.offer.id}}/"
                                          class="md-float-material card-block" enctype="multipart/form-data"
                                          method="POST">
                                        {% csrf_token %}

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b><p>Offers </p></b>
                                                <select class="form-control form-control-primary"
                                                        name="title">
                                                    <option>{{user_offer.offer.title}}</option>
                                                    {% for offer in offer_list %}
                                                    <option>{{offer}}</option>
                                                    {% endfor %}
                                                </select>

                                            </div>

                                            <div class="col-sm-6">
                                                <b><p>Select Status </p></b>
                                                <select class="form-control form-control-primary"
                                                        name="status" required>
                                                    <option disabled selected>{{user_offer.status}}</option>
                                                    <option value="True">True</option>
                                                    <option value="False">False</option>

                                                </select>

                                            </div>
                                        </div>

                                        <br>
                                        <div class="row">


                                            <div class="col-sm-6">
                                                <b><p>Select is_read </p></b>
                                                <select class="form-control form-control-primary"
                                                        name="is_read" required>
                                                    <option disabled selected>{{user_offer.is_read}}</option>
                                                    <option value="True">True</option>
                                                    <option value="False">False</option>

                                                </select>

                                            </div>


                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-center m-t-20">
                                                    <button class="btn btn-primary waves-effect waves-light m-r-10"
                                                            type="submit">
                                                        Save
                                                    </button>
                                                    <button class="btn btn-warning waves-effect waves-light"
                                                            type="reset">
                                                        Discard
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
   $(document).ready(function () {
//change selectboxes to selectize mode to be searchable
   $("select").select2();
});











</script>

{% endblock %}