{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script src="/static/cdn/js/jquery(3.2.1).min.js"></script>
<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
<link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>
<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>-->
<script src="/static/cdn/js/select2(4.0.13).min.js"></script>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ msg }}</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide">


                            </div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">


                                    <form action="/ecom/edit_product_priority/{{id}}/"
                                          class="md-float-material card-block" enctype="multipart/form-data"
                                          method="POST">
                                        {% csrf_token %}

                                        {% if product_priority_obj %}





                                        <center>

                                         <div class="row">
                                            <div class="col-sm-12">
                                                   <img alt="{{image}}" class="img-fluid" height="100"
                                                     src="{{image}}"
                                                     style="height: 100px;" width="100">
                                                    <br>
                                                    <br>
                                                    <h6>{{product_priority_obj.product.name}}</h6>

                                            </div>
                                        </div>

                                            </center>

                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b><p>Select Category</p></b>
                                                <select name="category" id="category"
                                                class="col-xs-12"
                                                style="width:40%;" >

                                                    <option selected>{{product_priority_obj.text_view}}</option>

                                                        <option>Men
                                                        </option>
                                                        <option>Women
                                                        </option>
                                                        <option>Electronics
                                                        </option>
                                                        <option>Home
                                                        </option>
                                                        <option>Fashion_Store
                                                        </option>
                                                        <option>Flea_Store
                                                        </option>
                                                        <option>Luxury_Store
                                                        </option>
                                                        <option>Must_Haves
                                                        </option>
                                                        <option>Just_Arrived
                                                        </option>
                                                    <option>Grocery</option>
                                                    <option>Sabse_Sasta_Store</option>
                                                </select>

                                            </div>
                                            <div class="col-sm-6">
                                                <b><p>Select Priority </p></b>
                                                 <select name="priority" id="priority"
                                                            class="col-xs-12"
                                                            style="width:40%;">
                                                     <option selected>{{product_priority_obj.priority}}</option>

                                                        <option>1
                                                        </option>
                                                        <option>2
                                                        </option>
                                                        <option>3
                                                        </option>
                                                        <option>4
                                                        </option>
                                                        <option>5
                                                        </option>
                                                        <option>6
                                                        </option>
                                                        <option>7
                                                        </option>
                                                        <option>8
                                                        </option>
                                                        <option>9
                                                        </option>
                                                        <option>10
                                                        </option>
                                                        <option>11
                                                        </option>
                                                        <option>12
                                                        </option>
                                                    </select>

                                            </div>
                                        </div>

                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b><p>Dashboard Status </p></b>
                                                <select name="dashboard_status" id="dashboard_status"
                                                            class="col-xs-12"
                                                            style="width:40%;" >
                                                     <option selected>{{product_priority_obj.dashboard_status}}</option>

                                                        <option>True
                                                        </option>
                                                        <option>False

                                                    </select>

                                            </div>
                                            <div class="col-sm-6">
                                                <b><p>Text View </p></b>
                                                                     <select name="view_type" id="view_type"
                                                    class="col-xs-12"
                                                    style="width:40%;">
                                                                         <option selected>{{product_priority_obj.view_type}}</option>

                                                <option>Front
                                                </option>
                                                <option>Back</option>
                                                <option>Both</option>

                                            </select>

                                            </div>


                                        </div>
                                        {% endif %}
                                        <br>

                                        <br>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-center m-t-20">
                                                    <button class="btn btn-primary waves-effect waves-light m-r-10"
                                                            type="submit">
                                                        Save
                                                    </button>
                                                    <button class="btn btn-warning waves-effect waves-light"
                                                            type="reset">
                                                        Discard
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
   $(document).ready(function () {
//change selectboxes to selectize mode to be searchable
   $("select").select2();
});











</script>

{% endblock %}