{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script src="/static/cdn/js/jquery(3.2.1).min.js"></script>
<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
<link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>
<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>-->
<script src="/static/cdn/js/select2(4.0.13).min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->
<script src="/static/cdn/js/angular(1.6.9).min.js"></script>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ msg }}</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide">


                            </div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-4"></div>
                                            <div class="col-sm-4">

                                                <img alt="{{path}}" class="img-fluid" height="100"
                                                     src="{{path}}"
                                                     style="height: 100px;" width="100">

                                            </div>
                                            <div class="col-sm-4"></div>
                                        </div>
                                    </div>
                                    <form action="/ecom/edit_offer_banner/{{banner_obj.id}}/"
                                          class="md-float-material card-block" enctype="multipart/form-data"
                                          method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b><p>Select Banner Image</p></b>
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input class="form-control"
                                                           name="banner_image"
                                                           placeholder=""

                                                           type="file">

                                                </div>

                                            </div>
                                            <div class="col-sm-6">
                                                <b><p>Select Status </p></b>
                                                <select class="form-control form-control-primary"
                                                        name="status">
                                                     <option selected>{{banner_obj.status}}</option>
                                                    <option value="True">True</option>
                                                    <option value="False">False</option>

                                                </select>

                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b><p>Select Type </p></b>
                                                <select class="form-control form-control-primary"
                                                        name="type">
                                                      <option selected>{{banner_obj.type}}</option>
                                                    <option>App</option>
                                                    <option>Web</option>
                                                    <option>Both</option>

                                                </select>

                                            </div>
                                            <div class="col-sm-6">
                                                <b><p>Select Priority </p></b>
                                                <select class="form-control form-control-primary"
                                                        name="priority">
                                                    <option selected>{{banner_obj.priority}}</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>

                                                </select>

                                            </div>


                                        </div>
                                        <br>
                                        <br>


                                       <input  id="date" type="hidden" value="{{banner_obj.start_date| date:'yy-m-d'}}">

                                        <div class="row">
                                            <div class="col-sm-6">

                                                <b><p>Select Start Date </p></b>
                                                <input name="start_date" id="start_date" type="date" value="{{banner_obj.start_date| date:'yy-m-d'}}">


                                            </div>
                                            <div class="col-sm-6">

                                                <b><p>Select End Date </p></b>
                                                <input name="end_date" id="end_date" type="date" value="{{banner_obj.end_date| date:'yy-m-d'}}">


                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">

                                                <b><p>Enter Description </p></b>
                                                <textarea cols="50" id="description" name="description"
                                                          rows="4"></textarea>


                                            </div>

                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-center m-t-20">
                                                    <button class="btn btn-primary waves-effect waves-light m-r-10"
                                                            type="submit">
                                                        Save
                                                    </button>
                                                    <button class="btn btn-warning waves-effect waves-light"
                                                            type="reset">
                                                        Discard
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
   $(document).ready(function () {
//change selectboxes to selectize mode to be searchable
   $("select").select2();
});


</script>
<!--<script>-->
<!--     var date = document.getElementById("date").value;-->
<!--     console.log('date', date);-->
<!--     document.getElementById("start_date").default = date;-->


<!--</script>-->

{% endblock %}