

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Tax Invoice</title>
       <link rel="stylesheet" type="text/css" href="/static/ecom/bower_components/bootstrap/css/bootstrap.min.css">
   </head>
   <body>
      <div class="page-body">
         <div class="container">
            <center>
               <h4><b>Tax Invoice</b></h4>
            </center>
            <div class="row"  style="margin-left:0.5%;">
               <div class="col-4">
                  <div class="row">
                     <img src="/static/ecom/images/creditkart.png" width="105" height="74" class="m-b-10" alt="">
                  </div>
                  <div class="row">
                     The Creditkart,
                  </div>
                  <div class="row">
                     13, 14, 15 & 16, Downtown City Vista,<br>
                     Kharadi, Pune 411014
                  </div>
                  <div class="row">
                     Email - info@thecreditkart.com
                  </div>
                  <div class="row">
                     Contact - +91 9807289807
                  </div>
               </div>
               <div class="col-4">
               </div>
               <div class="col-4" style="margin-top: 100px;">
                  <h6>Customer Address</h6>
                  <p>{{order_details_obj.address.address}}
                  </p>
               </div>
            </div>
             <br>
             <br>

             <div class="row">
                 <div class="col-sm-12">
                     <div class="table-responsive">
                         <table class="table  invoice-detail-table">
                             <thead>
                             <tr class="thead-default">
                                 <th>Order ID</th>
                                 <th>Product Name</th>
                                 <th>Quantity</th>
                                 <th>Unit Price</th>
                                 <th>Total Price</th>
                                 <th>Tax</th>
                                 <th>Total Amount</th>
                             </tr>
                             </thead>
                             <tbody>
                             {% if order_data %}
                             {% for order, amount in order_data.items %}
                             <tr>
                             <td>{{order.order_id}}</td>
                             <td>{{order.product_details.product_id.name}}</td>
                             <td>{{order.quantity}}</td>
                             <td>{{amount.0}}</td>
                             <td>{{amount.1}}</td>
                             <td>{{amount.2}}</td>
                             <td>{{amount.3}}</td>
                             </tr>
                             {% endfor %}
                             {% endif %}
                             </tbody>
                         </table>
                     </div>
                 </div>
             </div>
             <br>
              <div class="row" style="float:right">
                  <div class="col-sm-12">
                      <table class="table table-responsive invoice-table invoice-total">
                          <tbody>
                          <tr class="text-info">
                              <td>
                                  <h5 class="text-primary">Total :</h5>
                              </td>
                              <td>
                                  <h5 class="text-primary">{{final_total_amount}}</h5>
                              </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
             <br>
             <br>
             <div class="row">
                  <div class="col-sm-12">
                      <h6><b>Terms And Conditions :</b></h6>
                            <p>At CreditKart, we take pride in our quality products
                                and services and we value our relationship with you.
                                If at any time you feel our products do not meet your needs,
                                please return the item by following our e-commerce return policy
                                within the applicable 7 day period.</p>
                        </div>
             </div>
         </div>
      </div>


   </body>

