{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <form action="/ecom/accounts_report/" method="POST">
                                    {% csrf_token %}
                                          Date: <input type="date" name="date">&nbsp &nbsp

                                         Seller:
                                            <select name="status">
                                                {% if seller %}

                                               <option name = "seller">{{seller}}</option>

                                                {% endif %}
                                                {% if sellers %}
                                                {% for seller in sellers %}

                                               <option name = "seller">{{seller}}</option>
                                                {% endfor %}

                                                {% endif %}

                                            </select>&nbsp &nbsp

                                        <input class="btn btn-primary" type="submit" value="Submit">
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>

{% endblock %}