{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<body onload="call_data()">
    <center>
        <h3>Loan Amount Graph</h3>
    </center>
    <br>
    <div>
        <canvas id="myChart"></canvas>
    </div>
</body>
<!--<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>-->
<script src="/static/cdn/js/chart(2.8.0).js"></script>
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>-->
<script src="/static/cdn/js/jquery(1.10.2).min.js" type="text/javascript"></script>

<script>
    function call_data() {
        $.ajax({
            type: "POST",
            data: {},
            url: "/api/loan_graph_amount_1/",
            success: function(data) {
                var graph_data = JSON.parse(data);
                var ctx = document.getElementById('myChart').getContext('2d');
                for (var i = 1; i <= 2; i++) {
                    var chart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'line',
                        // The data for our dataset
                        data: {
                            labels: graph_data['loan_application_id'],
                            datasets: [
                                {
                                    label: 'Approved Amount',
                                    backgroundColor: '#33cc00',
                                    borderColor: '#33cc00',
                                    data: graph_data['approved_amount']
                                },
                                {
                                    label: 'Disbursed Amount',
                                    backgroundColor: '#5c00e6',
                                    borderColor: '#5c00e6',
                                    data: graph_data['total_disbursed_amount']
                                },
                                {
                                    label: 'Withdraw Amount',
                                    backgroundColor: '#ffff00',
                                    borderColor: '#ffff00',
                                    data: graph_data['withdraw_amount']
                                },

                            ]
                        },
                        // Configuration options go here
                        options: {
                            scales: {
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Loan application id',
                                        fontSize: 15,
                                        fontColor: 'black'
                                    },
                                    ticks: {
                                        beginAtZero: true,
                                        fontColor: 'black'
                                    },
                                }],
                                yAxes: [{
                                    id: 'y-axis-1',
                                    type: 'linear',
                                    display: true,
                                    position: 'left',
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Amount',
                                        fontSize: 15,
                                        fontColor: 'black'
                                    },
                                    ticks: {
                                        beginAtZero: true,
                                        fontColor: 'black'
                                    },
                                }]
                            },
                            elements: {
                                line: {
                                    fill: false,
                                    hover: true,
                                },
                            }
                        }
                    });
                }
            }
        });
    }

</script>
{% endblock %}

