<!--<link href='https://fonts.googleapis.com/css?family=Cedarville Cursive' rel='stylesheet'>-->
<link href='/static/cdn/css/family=Cedarville%20Cursive.css' rel='stylesheet'>
<style>


.center {
  margin: auto;
  width: 100%;

  padding: 6px;
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;


  padding: 3px;
  width:50%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>
<body>
<div class="center">





            {% if database %}
    <p style="font-size:115%;">This Loan Agreement (Agreement) is executed at Pune on this <b>{{database.0}}</b> day of <b>{{database.1}}</b>, <b>{{database.2}}</b>.</p>
            {% endif %}
            <p style="font-size:115%;"><center>BY AND BETWEEN</center></p>
            <p style="font-size:115%;">Lender(s) registered with Anand Property Finance Ltd, a NBFC licensed by the Reserve Bank of India.</p>
              <p style="font-size:115%;"><center>AND</center></p>
            {% if personal %}
            <p style="font-size:115%;">Mr/Mrs <b>{{personal.0}}</b>, an Indian national holding PAN <b>{{personal.1}}</b> , Resident of <b>{{personal.2}}</b>,<b>{{personal.3}}</b>,<b>{{personal.4}}</b>,<b>{{personal.5}}</b> here in after referred to as the Borrower which expression unless repugnant to the context shall mean and includes its legal representatives, permitted assigns and successors.</p>
            {% endif %}

            <p style="font-size:115%;">The Lender and the Borrower are hereinafter individually referred to as the “Party” and collectively as the “Parties”.</p>
            <p style="font-size:115%;"><b>WHEREAS</b> the parties have agreed to enter into this agreement on the terms and conditions contained hereinafter as follows:</p>
    <p style="font-size:115%;">1.The Lender agrees to lend to the Borrower and the Borrower agrees to borrow a sum of Rs <b>{{approved_amount}}</b> to be repaid in <b>90 days</b> equated monthly installments EMIs starting from one month from the date of disbursement, at an interest of <b>19.99</b> per annum in accordance with the terms and conditions set out in this Agreement including the repayment schedule specified in Schedule 1 herein.</p>
            <p style="font-size:115%;">2.Lender to this loan may be more than one depending on the total loan amount. Refer to Annexure 2 for Lender details.</p>
            <p style="font-size:115%;">3.APFL has entered into an agreement with CreditKart (hereinafter referred to as the Partner). The Borrower is a customer registered on the PARTNERS platform and BOTH PARTIES agree that the terms of this agreement are subject to the terms and conditions laid down in the Service Agreement dated 25th July, 2019  signed between APFL & PARTNER  described in detail in Annexure 1.</p>
            <p style="font-size:115%;">4.The Parties acknowledge that the transaction of lending and repayment is being facilitated by Anand Property Finance Ltd (here in after APFL).</p>
            <p style="font-size:115%;"><b>5.The loan amount shall be passes on by the Partner (CreditkKart) into the virtual wallet of the customer in the CreditKart App/Website. The borrower will be able to transfer 50% of this amount into his/her respective bank account as provided by the borrower to CreditKart. The remaining 50% of the loan amount will not be withdrawable but it may be used on the CreditKart Platform itself for the various purpose of shopping, recharge, bill payments, paying to local merchants, buying of insurance etc.</b></p>


            <p style="font-size:115%;">6. The Borrower shall sign and handover, prior to the simultaneously with the disbursement of the loan, the National Automated Clearing House mandate (ENACH Mandate) as implemented by the National Payments Corporation of India authorizing APFL or an authorized representative of APFL, to deduct the EMI from the Borrowers bank account of choice one day prior to the EMI.</p>
            <p style="font-size:115%;">7.The Borrower shall repay the Loan (including interest, additional interest and other charges thereon) by way of Equated Monthly Instalments (EMI) payable month, commencing from the month succeeding the month of disbursement of Loan. The EMI date will be the date on which the loan is disbursed. For example, if a loan is disbursed on 25th, then the EMI date will also be 25th of every month. The EMIs shall continue till full repayment of the Loan (including interest, additional interest, and other charges thereon). This clause supersedes and over-writes the dates set out in the repayment schedule and any other contradictory clause(s) in the Agreement.</p>

            <p style="font-size:115%;">8.The Borrower understands that the account of the Borrower shall be deducted by an automated system based on the NACH mandate given and agrees to ensure that the account has sufficient balance 1 Business Day prior to the due date of the EMI.</p>
            <p style="font-size:115%;">9.In the event of a failure by the Borrower to pay an EMI, the Borrower shall be liable to pay an additional interest at the rate of 18% per annum (additional interest) on the entire outstanding loan amount plus the interest accruing as per the repayment schedule specified in Schedule 1 till the date of final repayment and charges of Rs. 500/- (Rupees Five Hundred) for every time a cheque or the NACH mandate is not honored.</p>

            <p style="font-size:115%;">10.The Borrower may, subject to applicable law, prepay the entire outstanding Loan Amount along with interest, additional interest and other charges as applicable, at any time as per the repayment schedule specified in schedule</p>
           <p style="font-size:115%;">11. Each Party represents and warrants that it is entitled to enter into this Agreement and to undertake the obligations herein contained. The Lender represents and warrants that the funds for the loan as specified in Clause 1 shall be ready and available in the escrow account of APFL on or prior to the date of this Agreement, failing which the Repayment Schedule and the EMI Due Date would stand altered.</p>

           <p style="font-size:115%;">12. Each Party further represents and warrants that its respective signatory, as applicable, to this Agreement are duly authorized to execute the same in a manner binding upon the Party and that all approvals and procedures necessary for vesting such authority in its signatory have been duly obtained and complied with.</p>

            <p style="font-size:115%;">13. The occurrence of any of the following events, or events similar thereto, shall each constitute an event of default (Event of Default):</p>

                <p style="font-size:115%;">a. The Borrower does not pay any amount due and payable pursuant to this Agreement in accordance with the terms of this Agreement on the date such amount is payable;</p>
                <p style="font-size:115%;">b. The breach of, or omission to observe, or default by the Borrower in observing any of its obligations, covenants, warranties, undertakings under this Agreement;</p>
                <p style="font-size:115%;">c. Any representation or statement made or deemed to be made by the Borrower in this Agreement or any other document delivered by or on behalf of the Borrower under or in connection with the Agreement being or being proven to have been incorrect or misleading when made or deemed to be made; or</p>
                <p style="font-size:115%;">d. The Borrower is declared insolvent or files for insolvency or any attachment, distress execution or any other such process is initiated against the Borrower.</p>

           <p style="font-size:115%;">14. Upon the occurrence of an Event of Default, the Lender and APFL on behalf of the Lender, shall, without the requirement of serving any notice/default notice to the Borrower:</p>
             <ul>
                <p style="font-size:115%;">a. declare that the Loan Amount, together with accrued interest, additional interest and all other amounts accrued or outstanding under this Agreement be immediately due and payable, whereupon they shall become immediately due and payable;</p>
                <p style="font-size:115%;">b. encash or present for encashment, the undated, postdated, signed cheques provided as Collateral  in order to recover any or all of the amounts outstanding to the Lender; or</p>
                 <p style="font-size:115%;">c. exercise such other rights as may be available to the Lender under Applicable Law.</p>
             </ul>
            <p style="font-size:115%;">15. This Agreement shall come into force on the date of execution of this Agreement and shall remain in full force until the repayment of the entire portion of the Loan Amount along with all interest, additional interest, dues, charges, taxes as may be applicable.</p>

            <p style="font-size:115%;">16. The Parties agree and undertake that they shall, at all times, during the continuance of this Agreement, ensure that all the terms and conditions of this Agreement and all information relating to the Loan Amount shall be kept confidential (Confidential Information) and they shall not disclose any information relating to this Agreement to any third party, without the prior written consent of the other Party other than information relating to:</p>
               <ul>
                <p style="font-size:115%;">a. information and data relating to it;
                <p style="font-size:115%;">b. information or data relating to any credit facility availed by / to be availed by it;
                <p style="font-size:115%;">c. default if any committed by it in discharge of our such obligation, as the Lender may deem appropriate and necessary to disclose and furnish to credit information agencies and any other agency authorized in this behalf by Reserve Bank of India; which shall not be considered confidential in nature.</p>
               </ul>

            <p style="font-size:115%;">17. The Borrower agrees and undertakes that the information and data furnished by it to the Lender and to APFL pursuant to this Agreement and in relation thereto, are true and correct and consents that any agency authorized by the Lender or APFL may use and process the information and data provided under this agreement.</p>

            <p style="font-size:115%;">18. The Borrower shall indemnify and hold the Lender and APFL harmless from and against any and all loss, damage or other consequences which may arise or result from giving the Loan to the Borrower and shall reimburse the Lender and/or APFL upon demand all such sums and shall upon request appear and defend at the Borrowers own cost and expenses any action which may be brought against the Lender in connection therewith and shall accept the statement of account presented by the party claiming the loss as conclusive proof of the correctness of any such claim to be due from him. </p>

            <p style="font-size:115%;">19. The Agreement shall be governed by the laws of India and courts at [Delhi] shall have exclusive jurisdiction to settle any disputes which may arise out of or in connection with this Agreement. The Parties irrevocably agree to submit to that jurisdiction, to the exclusion of other Courts.</p>

            <p style="font-size:115%;">20. The Borrower shall reimburse and pay to the Lender all costs, charges and expenses, including stamp duty and legal costs on actual basis and other charges and expenses which may be incurred in preparation of these presents and related to and or incidental documents and enforcement of the rights of the Lender there under or any other document security created / executed by the Borrower in favour of the Lender.</p>

            <p style="font-size:115%;">21. The Borrower shall not assign any of its rights or obligations under this Agreement. The Lender may assign this Agreement and all rights hereunder or transfer the benefit of the whole or any part of this Agreement to any third party through APFL, without the prior consent of the Borrower. APFL shall inform the Borrower of such assignment within 5 working days of such assignment.</p>

            <p style="font-size:115%;">22. Notwithstanding anything contained herein, the parties agree that they have authorized APFL to appoint a suitable agency as the recovery agent (Recovery Agent) for recovery of any amounts due and payable under this Agreement. The Recovery Agents shall take all such reasonable steps as might be necessary for recovery; however, the Recovery Agents do not guarantee an assured recovery of dues. That the charges being levied by the Recovery Agent shall be to the account of the Lender. The Parties understand that APFL is only offering its assistance in recovery on account of a default and in no manner is liable for any default, being a marketplace for prospective lenders and borrowers to meet and interact.</p>

           <p style="font-size:115%;">23. The rights, powers and remedies given to the Lender by this Agreement shall be in addition to all rights, powers and remedies given to the Lender by virtue of any other security, statute or rule of law. </p>

            <p style="font-size:115%;">24. The Parties hereto confirm and acknowledge that this Agreement shall constitute the entire agreement between them and shall supersede and override all previous communications, either oral or written, between the Parties with respect to the subject matter of this Agreement, and no agreement or understanding varying or extending the same shall be binding upon any Party hereto unless arising out of the specific provisions of this Agreement.</p>

            <p style="font-size:115%;">25. No amendment, modification or addition to this Agreement shall be binding on all the Parties hereto unless set forth in writing and executed by them or through their duly authorized representatives.</p>

            <p style="font-size:115%;">26. If any term, provision, covenant or restriction of this Agreement is held by a court of competent jurisdiction to be invalid, void or unenforceable, the remainder of the terms, provisions, covenants and restrictions of this Agreement shall remain in full force and effect and shall in no way be affected, impaired or invalidated.</p>



















            <p style="font-size:115%;">27. Any notice or demand hereunder shall be in writing and sent through post at the address specified above or the address last known to the Party sending the notice. Any notice sent under this agreement shall be deemed to be delivered 2 business days following the dispatch of the notice.</p>



IN WITNESS WHEREOF, THE PARTIES HAVE EXECUTED AND DELIVERED THIS AGREEMENT ON THE DAY AND YEAR FIRST ABOVE WRITTEN.
<br>
<br>


</div>
<table
           align="right">
  <tr>
    <th>                             </th>
    <th>For and on behalf of Borrower</th>

  </tr>
  <tr>
    <td>              </td>
      <td><u><p style="font-family: 'Cedarville Cursive';font-size: 17px;">{{personal.0}}<p></u></td>

  </tr>
  <tr>
      {% if personal %}
    <td>               </td>
    <td>{{personal.0}}</td>
      {% endif %}

  </tr>


</table>





</body>
