{% extends "Ecom/test_base.html" %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5> {{ error }} </h5>
                </div>
                <div class="card-block" align="center">
                    <div class="j-wrapper j-wrapper-400">
                        <form action="/ecom/login/"
                              method="post" class="j-pro" id="j-pro" novalidate>{% csrf_token %}

                            <div class="j-content">

                                <div class="j-unit">
                                    <div class="j-input">
                                        <label class="j-icon-right" for="login">
                                            <i class="icofont icofont-ui-user"></i>
                                        </label>
                                        <input type="text" id="login" name="username"
                                               placeholder="your login...">
                                    </div>
                                </div>


                                <div class="j-unit">
                                    <div class="j-input">
                                        <label class="j-icon-right" for="password">
                                            <i class="icofont icofont-lock"></i>
                                        </label>
                                        <input type="password" id="password"
                                               name="password"
                                               placeholder="your password...">
                                        <span class="j-hint">
<!--                                                                    <a href="#" class="j-link">Forgot password?</a>-->
                                                                    </span>
                                    </div>
                                </div>


                                <div class="j-unit">

                                    <div class="g-recaptcha"
                                         data-sitekey="6LeV7gwUAAAAAKOX-B12lNcg1ids8dFylMP6XihO"></div>


                                </div>
                                <div class="j-response"></div>
                            </div>
                            <div class="j-footer">
                                <input type="submit" value="Sign in" class="btn btn-primary">
                                </input>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}