{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            <input type="hidden" id="len" value="{{len}}">
                                            <tr>
                                                <th>Sr.no</th>
                                                {% if len %}
                                                <th>Date</th>
                                                {% else %}
                                                <th>Month</th>
                                                {% endif %}
                                                <th>Customer Amount</th>
                                                <th>Logistic Amount</th>
                                                <th>Profit/Loss</th>
                                            </tr>
                                            </thead>
                                            {% if data %}
                                            <tr>
                                                {% for date,sum in data.items %}
                                                <td>{{forloop.counter}}</td>
                                                {% if len %}
                                                <td>{{date}}</td>
                                                {% else %}
                                                <td><a href="/ecom/date_wise_logistic_profit/{{date}}/">{{date}}</a></td>
                                                {% endif %}
                                                <td>{{sum.1}}</td>
                                                <td>{{sum.0}}</td>
                                                <td>{{sum.2}}</td>


                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script></script>
{% endblock %}

