{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="slide">
                                <form method="POST" action="/ecom/missing_logistic_orders_csv/{{order_id}}/">
                                    {% csrf_token %}

                                    <button type="submit" class="btn btn-primary btn-lg" style="float:right;"> Download CSV</button>
                                </form>

                            </div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <br>
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order ID</th>
                                                <th>Unique Order ID</th>
                                                <th>Product Name</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                                <th>Total Amount</th>
                                                <th>Delivery Charges</th>
                                                <th>Date</th>
                                                <th>Sellers Name</th>
                                                <th>Status</th>

                                            </tr>
                                            </thead>
                                            {% if order %}
                                            {% for order in order %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/ecom/order-all-details/{{order.id}}/">{{order.order_id}}</a></td>
                                                <td><a href="/ecom/order_related_data/{{order.id}}/">{{order.unique_order_id}}</a></td>
                                                <td>{{order.product_details.product_id.name}}</td>
                                                <td>{{order.quantity}}</td>
                                                <td>{{order.amount}}</td>
                                                <td>{{order.total_amount}}</td>
                                                <td>{{order.delivery_charges.amount}}</td>
                                                <td>{{order.date}}</td>
                                                <td>{{order.product_details.user.username}}</td>
                                                <td>{{order.status}}</td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
