{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>-->
<script src="/static/cdn/js/jquery(1.7.1).min.js" type="text/javascript"></script>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <input type="hidden" value="{{status}}" id="status">
                                            <input type="hidden" value="{{seller_id}}" id="seller_id">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Month</th>
                                                <th>Count</th>
                                            </tr>
                                            </thead>
                                             <tbody id="tbody">

                                            </tbody>



                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    var status =document.getElementById("status").value;
    var seller_id =document.getElementById("seller_id").value;
     $.ajax({
                type: "POST",
                data: {

                    'status': status,
                    'seller_id':seller_id

                },
                url: "/ecom/monthwise_seller_count/",
                success: function(data) {
                 var data = JSON.parse(data);
                 console.log("dataaa",data)
                 $("#table-style-hover").find("tr:not(:first)").empty();

                 var length = data["length"]
                 console.log("length---",length)

                 for (var i=0; i<length; i++){
                         var sr_no = i + 1;
<!--                         var month = data["montth"][i]-->
<!--                         var count = data["count"][i]-->
<!--                         var seller_id = data["seller_id"]-->
                         var month = data["count_list"][i]["month"]
                         var count = data["count_list"][i]["order"]
<!--                         console.log("monthhhh",month)-->
                         var seller_id = data["seller_id"]
                         console.log("seller_id",seller_id)




                         new_url = '"/ecom/datewise_seller/' + seller_id + '/'+ month + '/' + status + '/"'

                         anchor_tag ='<a href=' + new_url + '>' + month + '</a>'

                         new_url_2 = '"/ecom/seller_total_order/' + seller_id + '/'+ month + '/' + status + '/"'

                         anchor_tag_2 ='<a href=' + new_url_2 + '>' + count + '</a>'

                         $("#tbody").append("<tr><td>"+sr_no+"</td><td>"  + anchor_tag + "</td><td>" + anchor_tag_2 +  "</td></tr>")

                         }



                },
                });














</script>



{% endblock %}
