{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                {% if month %}
                                                <th>Month</th>
                                                {% else %}
                                                <th>Date</th>
                                                {% endif %}
                                                <th>Cancel Cashback</th>
                                                <th>Cashback Amount</th>



                                            </tr>
                                            </thead>

                                            {% if cashback %}

                                            {% for date, amount in cashback.items %}


                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                {% if month %}
                                                <td><a href="/ecom/datewise_cashback/{{date}}/">{{date}}</a></td>
                                                <td>
                                                    {{amount.0}}
                                                </td>
                                                <td>
                                                    {{amount.1}}
                                                </td>
                                                {% else %}
                                                <td>{{date}}</td>
                                                <td>
                                                    <a href="/ecom/cashback_data/{{date}}/cancel_cashback/">{{amount.0}}</a>
                                                </td>
                                                <td>
                                                    <a href="/ecom/cashback_data/{{date}}/cashback_amount/">{{amount.1}}</a>
                                                </td>
                                                {% endif %}





                                            </tr>

                                            {% endfor %}
                                            {% endif %}


                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>

{% endblock %}