{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>




                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            {% if wallets %}
                                            <tr>
                                                <th>Sr.no</th>
                                                {% if dates %}
                                                <th>Month</th>
                                                {% else %}
                                                <th>Date</th>
                                                {% endif %}
                                                <th>Cancel Amount</th>
                                                <th>Return Amount</th>
                                                <th>Order Amount</th>
                                                <th>Repayment Amount</th>

                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for month, count in wallets.items %}
                                                {% if dates %}

                                            <tr>
                                                <td>{{forloop.counter}}</td>

                                                <td><a href="/ecom/datewise_userwallet/{{month}}/{{count.4}}/">{{month}}</a></td>
                                                <td>{{count.0}}</td>
                                                <td>{{count.1}}</td>
                                                <td>{{count.2}}</td>
                                                <td>{{count.3}}</td>

                                            </tr>
                                            {% else %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>

                                                <td>{{month}}</td>
                                                <td><a href="/ecom/order_details/order_cancel/{{month}}/{{count.4}}/">{{count.0}}</a></td>
                                                <td><a href="/ecom/order_details/return/{{month}}/{{count.4}}/">{{count.1}}</a></td>
                                                <td><a href="/ecom/order_details/order/{{month}}/{{count.4}}/">{{count.2}}</a></td>
                                                <td><a href="/ecom/order_details/repayment/{{month}}/{{count.4}}/">{{count.3}}</a></td>


                                            </tr>

                                            {% endif %}

                                            {% endfor %}
                                            {% endif %}




                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


{% endblock %}
