{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Month</th>
                                                <th>Total Amount</th>
                                                <th>Return Amount</th>
                                                <th>Cancel Amount</th>
                                                <th>Undelivered Amount</th>



                                            </tr>
                                            </thead>

                                            {% if seller_amount_obj %}

                                            {% for date, amount in seller_amount_obj.items %}


                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/ecom/datewise_seller_amount_data/{{date}}/">{{date}}</a></td>
                                                <td>{{amount.0}}</td>
                                                <td>{{amount.1}}</td>
                                                <td>{{amount.2}}</td>
                                                <td>{{amount.3}}</td>



                                            </tr>

                                            {% endfor %}
                                            {% endif %}


                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>

{% endblock %}