{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<!--<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>-->
<script src="/static/cdn/js/chart(2.8.0).js"></script>
<body onload="call_data();">
<div class="card p-4">
     <div class="card-block">
		<center>
            <h3>Net Profit Chart</h3>
        </center>
		<div>
			<canvas id="myChart"></canvas>
		</div>
	 </div>
</div>
</body>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<script src="/static/cdn/js/jquery(1.11.1).min.js"></script>
<script>
	function call_data() {
       console.log("akash");
       $.ajax({
           type: "POST",
           url: "/ecom/net_profit_graph_data/",
           success: function(data) {
               var data = JSON.parse(data);
               var ctx = document.getElementById('myChart').getContext('2d');
               var chart = new Chart(ctx, {
                   // The type of chart we want to create
                   type: 'line',
                   // The data for our dataset
                   data: {
                       labels: data["date_list"],
                       datasets: [{
                               label: 'Received Amount',
                               backgroundColor: '#ffff00',
                               borderColor: '#ffff00',
                               borderWidth: '2',
                               data: data["recived_amount_list"]
                           },
                           {
                               label: 'Repayment Amount',
                               backgroundColor: '#cb13ad',
                               borderColor: '#cb13ad',
                               borderWidth: '2',
                               data: data["repayment_amount_list"]
                           },
                           {
                               label: 'Seller Amount',
                               backgroundColor: '#1a73f3',
                               borderColor: '#1a73f3',
                               borderWidth: '2',
                               data: data["seller_amount_list"]
                           },
                           {
                               label: 'Logistic Amount',
                               backgroundColor: '#0d8334',
                               borderWidth: '2',
                               borderColor: '#0d8334',
                               data: data["logistic_amount_list"]
                           },
                           {
                               label: 'Net Profit',
                               backgroundColor: '#f70b41',
                               borderColor: '#f70b41',
                               borderWidth: '2',
                               data: data["net_profit_list"]
                           }
                       ],
                   },
                   // Configuration options go here
                   options: {
                       scales: {
                           xAxes: [{
                               scaleLabel: {
                                   display: true,
                                   labelString: 'Date',
                                   fontSize: 15,
                                   fontColor: 'red'
                               },
                               ticks: {
                                   beginAtZero: true,
                                   fontColor: 'red'
                               },
                           }],
                           yAxes: [{
                               id: 'y-axis-1',
                               type: 'linear',
                               display: true,
                               position: 'left',
                               scaleLabel: {
                                   display: true,
                                   labelString: 'Amount',
                                   fontSize: 15,
                                   fontColor: 'red'
                               },
                               ticks: {
                                   beginAtZero: true,
                                   fontColor: 'red'
                               },
                           }]
                       },
                       elements: {
                           line: {
                               fill: false,
                               hover: true,
                           },
                       }
                   }
               });
           }
       });
   }

</script>
{% endblock %}

