{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<style>
   form input[type="submit"] {
   display: block;
   margin: 0 auto;
   }

</style>
<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<link href="/static/cdn/css/bootstrap(4.0.0).min.css" rel="stylesheet" id="bootstrap-css">
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
<script src="/static/cdn/js/bootstrap(4.0.0).min.js"></script>
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
<script src="/static/cdn/js/bootstrap(4.0.0).min.js"></script>

<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script src="/static/cdn/js/jquery(3.2.1).min.js"></script>
<head>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
</head>
<body onload="fun();"></body>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    {% if offer_obj%}
                    <form action="/ecom/user_offer_list/">
                        <button type="submit" class="btn btn-info">Back</button>
                    </form>

                    {%endif%}

                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        <thead>
                                        <tbody>
                                        {% if offer_obj %}
                                        <tr>
                                            <th>Sr.no</th>
                                            <th id="name">offer id</th>
                                            <th>offer Image</th>
                                        </tr>
                                        {% for offer, offer_image in offer_obj.items %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{offer.offer_id}}</td>
                                                <td><img alt="{{offer.id}}" class="img-fluid" height="100"
                                                         src="{{offer_image}}" style="height: 100px;" width="100"></td>
                                                 <td hidden>{{offer.id}}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        <tbody>
                                    </table>
                                    <br>
                                     {% if offer_obj %}
                                    <input
                                            type="submit"
                                            class="btn btn-primary waves-effect waves-light m-r-10"
                                            onclick="tab_data('category');"
                                            value="Submit">
                                    {%endif%}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
   function fun(){

    $(function () {
   $("#table-style-hover").sortable({
         items: 'tr:not(tr:first-child)',
         cursor: 'pointer',
       axis: 'y',
       dropOnEmpty: false,
       start: function (e, ui) {
           ui.item.addClass("selected");
       },
       stop: function (e, ui) {
           ui.item.removeClass("selected");
           $(this).find("tr").each(function (index) {
               if (index > 0) {
                   $(this).find("td").eq(0).html(index);
               }
           });
       }
   });
   });
   }

</script>
<script>
   function tab_data(status){
   console.log("status",status)
   var final_list=new Array();
   var table = document.getElementById('table-style-hover');
   console.log("table-----",table)
  if (status=='category')
   {
   console.log("status inside if")
    for (var r = 1, n = table.rows.length; r < n; r++) {
    console.log("forr")
        for (var c = 0, m = table.rows[r].cells.length; c < m; c++) {
            final_list.push(table.rows[r].cells[3].innerHTML);
            console.log("=======final_list",final_list)
        }
    }
   $.ajax({

        type: "POST",
        data: {
             'data': final_list,
             'status': status,

        },
        url: "/ecom/get_offer_data/",
                success: function(data) {
                        var data = JSON.parse(data);
                        console.log("data",data)
                       var status= data['response']
                       console.log("status",status)
                  if(status=='success'){
                  alert('Priority set successfully');
                }
                else{
                     alert('something went wrong');

                }
                }

        })
        }


   }


</script>

{% endblock %}

