{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
<!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <link href="/static/cdn/css/family=Material+Icons.css" rel="stylesheet">
</head>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide">
                                 <a href="/ecom/offer_banner_priority/"><input class="btn btn-primary" style="float:right;"
                                           type="button"
                                           value="Change Priority"></a>
                                <a href="/ecom/create_offer_banner/"><input class="btn btn-primary" style="float:right;"
                                                                            type="button"
                                                                            value="Add Offer"></a>

                                <br>
                                <br>
                                <br>
                                 <a href="/ecom/offer_banner_priority/"><input class="btn btn-primary" style="float:right;"
                                                                            type="button"
                                                                            value="Change Priority"></a>
                                <br>
                                <br>
                                <br>
                            </div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table class="table table-striped table-hover table-bordered nowrap"
                                               id="table-style-hover">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Image</th>
                                                <th>Action</th>


                                            </tr>
                                            </thead>
                                            {% if products %}
                                            {% for banner,image in products.items %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>
                                                    <img class="img-fluid" height="100"
                                                         src="{{image}}"
                                                         style="height: 100px;" width="100">
                                                </td>

                                                <td><a href="/ecom/edit_offer_banner/{{banner.id}}/"><i
                                                        class="material-icons">&#xe22b;</i>

                                                </a></td>


                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
