{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
<!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <link href="/static/cdn/css/family=Material+Icons.css" rel="stylesheet">
</head>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide">

                            </div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table class="table table-striped table-hover table-bordered nowrap"
                                               id="table-style-hover">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Username</th>



                                            </tr>
                                            </thead>
                                            {% if user_offer_obj %}
                                            {% for user_offer in user_offer_obj %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>{{user_offer}}</td>




                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
