{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<body>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row " style="  justify-content: center;">
                                <input type="hidden" id="user" value="{{user}}">
                                {% if request.user|has_group:"EcomAdmin" or request.user|has_group:"EcomCustomerCare" %}

                                <div class="card card_style" id="customer_info_card">
                                    <div class="card-header"><b>Customer Information</b></div>
                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">

                                            {% if personal %}
                                            <p><b>User Name</b> : {{personal.0}}</p>
                                            <p><b>Mobile Number</b> : {{personal.1}}</p>
                                            <p><b>Alternate Mobile Number</b> : {{personal.2}}</p>
                                            <p><b>Email</b> : {{personal.3}}</p>
                                            {% endif %}

                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">
                                            {% if address %}
                                            <p><b>Address</b> : {{address.0}}</p>
                                            <p><b>City</b> : {{address.1}}</p>
                                            <p><b>State</b> : {{address.2}}</p>
                                            <p><b>Pin Code</b> : {{address.3}}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="card card_style">
                                    <div class="card-header"><b>Order Information</b></div>
                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">

                                            {% if order %}
                                            {%for order in order%}
                                            <input type="hidden" id="unique" value="{{order.unique_order_id}}">
                                            <input type="hidden" id="order" value="{{order.order_id}}">

                                            <p><b>Order ID</b> : {{order.order_id}}</p>
                                            <p><b>Unique Order ID</b> : {{order.unique_order_id}}</p>
                                            <p><b>Due Amount</b> : <label style="color:red;">{{due}}</label></p>
                                            <p><b>Quantity</b> : {{order.quantity}}</p>
                                            <p><b>Amount</b> : {{order.amount}}</p>
                                            <p><b>Total Amount</b> : {{order.total_amount}}</p>
                                            {% if request.user|has_group:"EcomAdmin" %}

                                            <!--                                            <p><b>Status</b> : {{order.status}}</p>-->
                                            <input type="hidden" value="{{order.status}}" id="order_status">
                                            <input type="hidden" value="{{order.id}}" id="order_id">
                                            <p><b>Change Status</b> :

                                                <select id="change_order_status">
                                                    <option value="initiated">initiated</option>
                                                    <option value="placed">placed</option>
                                                    <option value="accepted">accepted</option>
                                                    <option value="packing">packing</option>
                                                    <option value="packed">packed</option>
                                                    <option value="s_dispatched">s_dispatched</option>
                                                    <option value="cancelled">cancelled</option>
                                                    <option value="pending">pending</option>
                                                    <option value="shipped">shipped</option>
                                                    <option value="in_transit">in_transit</option>
                                                    <option value="dispatched">dispatched</option>
                                                    <option value="delivered">delivered</option>
                                                    <option value="return">return</option>
                                                    <option value="exchange">exchange</option>

                                                </select></p>
                                            <p>
                                                <input type="button" onclick="call_change_status('order');"
                                                       value="change status" style=" float: right;margin-right:12%;">


                                            </p>
                                            {% endif %}

                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">
                                            <p><b>Delivery Charges</b> : {{order.delivery_charges.amount}}</p>
                                            <p><b>Date</b> : {{order.created_date}}</p>
                                            <p><b>Product Name</b> : {{order.product_details.product_id.name}}</p>
                                            <p><b>Product ID</b> : {{order.product_details.product_id.product_id}}</p>
                                            <p><b>ProductDetails ID</b> : {{order.product_details.unique_product_details_id}}</p>
                                            <p><b>Base Category</b> :
                                                {{order.product_details.product_id.base_category.base_name}}</p>
                                            <p><b>Sub Category</b> :
                                                {{order.product_details.product_id.base_category.sub_category.name}}</p>
                                            <p><b>Category</b> :
                                                {{order.product_details.product_id.base_category.sub_category.category.name}}
                                            </p>
                                            {%endfor%}
                                            {%endif%}
                                        </div>
                                    </div>
                                </div>


                                <div class="card card_style">
                                    <div class="card-header"><b>Order Details Information</b></div>

                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">

                                            {% if order_deatils %}
                                            <p><b>Order Text</b> : {{order_deatils.order_text}}</p>
                                            <p><b>Total Quantity</b> : {{order_deatils.total_quantity}}</p>
                                            <p><b>Pay Amount</b> : {{order_deatils.pay_amount}}</p>


                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">

                                            <p><b>Total Amount</b> : {{order_deatils.total_amount}}</p>

                                            {% if request.user|has_group:"EcomAdmin" %}


                                            <input type="hidden" value="{{order_deatils.status}}"
                                                   id="order_deatails_status">
                                            <input type="hidden" value="{{order_deatils.id}}" id="order_details_id">
                                            <p><b>Change Status</b> :

                                                <select id="change_order_details_status">
                                                    <option value="initiated">initiated</option>
                                                    <option value="placed">placed</option>
                                                    <option value="accepted">accepted</option>
                                                    <option value="packing">packing</option>
                                                    <option value="packed">packed</option>
                                                    <option value="s_dispatched">s_dispatched</option>
                                                    <option value="cancelled">cancelled</option>
                                                    <option value="pending">pending</option>
                                                    <option value="shipped">shipped</option>
                                                    <option value="in_transit">in_transit</option>
                                                    <option value="dispatched">dispatched</option>
                                                    <option value="delivered">delivered</option>
                                                    <option value="return">return</option>
                                                    <option value="exchange">exchange</option>

                                                </select></p>
                                            <p>
                                                <input type="button" onclick="call_change_status('order_details');"
                                                       value="change status" style=" float: right;margin-right:12%;">

                                            </p>

                                            {%endif%}
                                            {%endif%}
                                        </div>
                                    </div>
                                </div>
                                {% if request.user|has_group:"EcomAdmin" or request.user|has_group:"EcomCustomerCare" %}

                                <div class="card card_style" id="shipping_address">
                                    <div class="card-header"><b>Shipping Address</b></div>
                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">
                                            {% if shipping %}
                                            <p><b>Address</b> : {{shipping.0}}</p>
                                            <p><b>City</b> : {{shipping.1}}</p>

                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">
                                            <p><b>State</b> : {{shipping.2}}</p>
                                            <p><b>Pin Code</b> : {{shipping.3}}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>


                                <div class="card card_style">
                                    <div class="card-header"><b>Product Information</b></div>
                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">
                                            {% if order %}
                                            {%for order in order%}
                                            <p><b>Description</b> : {{order.product_details.description}}</p>
                                            <p><b>Height</b> : {{order.product_details.height}}</p>
                                            <p><b>Width</b> : {{order.product_details.width}}</p>
                                            <p><b>Weight</b> : {{order.product_details.weight}}</p>


                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">
                                            <p><b>Color</b> : {{order.product_details.colour_id.name}}</p>
                                            <p><b>Size</b> : {{order.product_details.size_id.name}}</p>
                                            <p><b>CGST</b> : {{order.product_details.cgst.percentage}}</p>
                                            <p><b>SGST</b> : {{order.product_details.sgst.percentage}}</p>
                                            {% endfor %}
                                            {% endif %}
                                        </div>

                                    </div>
                                </div>


                                <div class="card card_style">
                                    <div class="card-header"><p><b>Credit Information</b>

                                        <a href="/ecom/credit_wallet_logistics_data/{{order_id}}/credit/"><input type="button" class="btn btn-primary" value="view all"
                                                          style="float:right;"></a>

                                    </p></div>
                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">

                                            {% if credit %}
                                            <p><b>Balance Credit</b> : {{credit.0}}</p>

                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">

                                            <p><b>Used Credit</b> : {{credit.1}}</p>
                                            {%endif%}
                                        </div>
                                    </div>
                                </div>

                                <div class="card card_style">
                                    <div class="card-header"><b>Wallet Information</b>
                                        <a href="/ecom/credit_wallet_logistics_data/{{order_id}}/wallet/"><input type="button" class="btn btn-primary" value="view all"
                                                          style="float:right;"></a>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">

                                            {% if wallet %}
                                            <p><b>wallet Balance Amount</b> : {{wallet.0}}</p>

                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">

                                            <p><b>Wallet Used Amount</b> : {{wallet.1}}</p>
                                            {%endif%}
                                        </div>
                                    </div>
                                </div>


                                <div class="card card_style">
                                    <div class="card-header"><b>Repayment Information</b>
                                        <a href="/ecom/credit_wallet_logistics_data/{{order_id}}/repayment/"><input type="button" class="btn btn-primary" value="view all"
                                                          style="float:right;"></a>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">

                                             {% if payment %}
                                            <p><b>Repayment Amount</b> : {{payment.0}}</p>

                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">

                                            <p><b>Repayment Count</b> : {{payment.1}}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="card card_style">
                                    <div class="card-header"><b>Logistic Information</b>
                                        <a href="/ecom/credit_wallet_logistics_data/{{order_id}}/logistics/"><input type="button" class="btn btn-primary" value="view all"
                                                          style="float:right;"></a>

                                    </div>
                                    <input type="hidden" id="waybill" value="{{waybill_no}}">
                                    {% if logistic %}
                                    {%for logistic in logistic %}
                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">
                                            <p><b>Waybill Number</b> : {{logistic.0}}</p>
                                            <p><b>Ref Number</b> : {{logistic.1}}</p>
                                            <p><b>Status</b> : {{logistic.4}}</p>
                                            <br>
                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">

                                            <p><b>Logistics</b> : {{logistic.3}}</p>
                                            <p><b>Order Mode</b> : {{logistic.5}}</p>
                                            <p><b>Remark</b> : {{logistic.2}}</p>
                                        </div>
                                    </div>
                                    {%endfor%}
                                    {%endif%}
                                </div>


                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<style>
    p{font-size:1.1vw}
    .card_style
    {
    width:70%;
    border-style:solid;
    border-width:1px;
    text-align:center;
    padding:2%;
    }

    .card-header{
    font-size:1.2vw;
    }







</style>

<script>

     var user = document.getElementById('user').value;
     console.log(user);
     if(user == 'Seller'){
     console.log('inside ');
     document.getElementById('customer_info_card').type.display = "none";
     }

     var prev = document.getElementById('order_status').value;
     document.getElementById('change_order_status').value = prev;

     var prev1 = document.getElementById('order_deatails_status').value;
     document.getElementById('change_order_details_status').value = prev1;



    function call_change_status(type){
    if (type == 'order'){
        var status = document.getElementById('change_order_status').value;
        var order_id = document.getElementById('order_id').value;
        var txt;

            if(status=="cancelled"){
            var o_id = document.getElementById('order').value;
            console.log("order id",order_id);
            var unique_order_id = document.getElementById('unique').value;
            var waybill_no = document.getElementById('waybill').value;
            var msg="Please note down before cancelling the order \n Unique ID : "+unique_order_id+"\n Order ID : "+o_id+"\n Waybill No. : "+waybill_no+"\nDo you want to Cancel order ?"
            if (confirm(msg)) {
             } else {
            return false;
            }
            }



    }

    if (type == 'order_details'){
        var status = document.getElementById('change_order_details_status').value;
        var order_id = document.getElementById('order_details_id').value;
    }





     $.ajax({
        type: "POST",
        data: {
            'status': status,
            'type': type,
            'order_id':order_id
        },
        url: "/ecom/change_status/",
        success: function(data){

        var data = JSON.parse(data);

        console.log(data);

        if (data['status']== 'success'){

            alert("Status Changed Successfully!!!");

        }
        else
        {
         alert("Something Went Wrong ");

        }

        }
        });

    }







</script>
{% endblock %}