

{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<body>
   <link rel="stylesheet" type="text/css" href="/static/ecom/assets/pages/list-scroll/list.css">
   <div class="page-body">
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-header">
               </div>
               <div class="card-block">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="row " style="  justify-content: center;">
                           <input type="hidden" id="user" value="{{user}}">
                           {% if request.user|has_group:"EcomAdmin" or request.user|has_group:"EcomCustomerCare" or request.user|has_group:"EcomManager" %}
                           <div class="card card_style" id="customer_info_card">
                              <div class="card-header"><b>Customer Information</b></div>
                              <div class="row">
                                 <div class="col-sm-6" style="text-align:left;">
                                    {% if personal %}
                                    <p><b>User Name</b> : {{personal.0}}</p>
                                    <p><b>Mobile Number</b> : {{personal.1}}</p>
                                    <p><b>Alternate Mobile Number</b> : {{personal.2}}</p>
                                    <p><b>Email</b> : {{personal.3}}</p>
                                    <p><b>Cibil Score</b> : {{personal.4}}</p>
                                    {% endif %}
                                 </div>
                                 <div class="col-sm-6" style="text-align:left;">
                                    {% if address %}
                                    <p><b>Address</b> : {{address.0}}</p>
                                    <p><b>City</b> : {{address.1}}</p>
                                    <p><b>State</b> : {{address.2}}</p>
                                    <p><b>Pin Code</b> : {{address.3}}</p>
                                    {% endif %}
                                 </div>
                              </div>
                           </div>
                           {% endif %}
                           <div class="card card_style">
                              <div class="card-header"><b>Order Information</b></div>
                              <div class="row  mb-4">
                                 <div class="col-sm-6" style="text-align:left;">
                                    {% if order %}
                                    {% for order in order %}
                                    <input type="hidden" id="unique" value="{{order.unique_order_id}}">
                                    <input type="hidden" id="order" value="{{order.order_id}}">
                                    <p><b>Order ID</b> : {{order.order_id}}</p>
                                    <p><b>Unique Order ID</b> : {{order.unique_order_id}}</p>
                                    <p><b>Due Amount</b> : <label style="color:red;">{{due}}</label></p>
                                    <p><b>Quantity</b> : {{order.quantity}}</p>
                                    <p><b>Amount</b> : {{order.amount}}</p>
                                    <p><b>Total Amount</b> : {{order.total_amount}}</p>
                                    {% if order.convenient_fees == None %}
                                    <p><b>Convenient Fees</b> : 0</p>
                                    {% else %}
                                    <p><b>Convenient Fees</b> : {{order.convenient_fees.amount}}</p>
                                    {% endif %}
                                       <p><b>Delivery Charges</b> : {{order.delivery_charges.amount}}</p>
                                    <input type="hidden" value="{{order.status}}" id="order_status">
                                    <input type="hidden" value="{{order.id}}" id="order_id">
                                    {% if request.user|has_group:"EcomAdmin" or  request.user|has_group:"EcomManager" %}
                                    <p><b>Current Status</b> : {{order.status}}</p>
                                    <p><b>Platform Type</b> : {{order.platform_type}}</p>


                                    {% endif %}


                                 </div>
                                 <div class="col-sm-6" style="text-align:left;">


                                    <p><b>Date</b> : {{order.created_date}}</p>
                                    <p><b>Product Name</b> : {{order.product_details.product_id.name}}</p>

                                    <p><b>Seller Name</b> : {{order.product_details.user.username}}</p>
                                    <p><b>Product ID</b> : {{order.product_details.product_id.product_id}}</p>

                                    <p><b>ProductDetails ID</b> :
                                       {{order.product_details.unique_product_details_id}}
                                    </p>

                                    <p><b>Base Category</b> :
                                       {{order.product_details.product_id.base_category.base_name}}
                                    </p>

                                    <p><b>Sub Category</b> :
                                       {{order.product_details.product_id.base_category.sub_category.name}}
                                    </p>

                                    <p><b>Category</b> :
                                       {{order.product_details.product_id.base_category.sub_category.category.name}}
                                    </p>

                                    {% if order.platform_type == "PhonePe" %}

                                    <p><b>Is Refunded</b> : <span id="paragraph" > {{order.is_refunded}} </span>
                                     <input type="button" class="form-control text-center btn btn-primary w-50"
                                          onclick="change()"
                                          name="Change Status"
                                          value="Change Refund Status" id="refund_button" ></p>

                                    {% endif %}
                                    {%endfor%}
                                    {%endif%}
                                 </div>
                              </div>
                              <div class="row mb-2" style="justify-content:center;">
                                 <div class="col-4">
                                       <select id="change_order_status" class="form-control text-center">
                                          <option selected disabled value="">Change Status</option>
                                          <option value="initiated">initiated</option>
                                          <option value="placed">placed</option>
                                          <option value="accepted">accepted</option>
                                          <option value="packing">packing</option>
                                          {% if order.product_details.user.username != "MFPL" %}
                                          {% if order.combination_type != "multiple" %}
                                          <option value="packed">packed</option>
                                          {% endif %}
                                          {% endif %}
                                          <option value="s_dispatched">s_dispatched</option>
                                          <option value="pending">pending</option>
                                          <option value="shipped">shipped</option>
                                          <option value="in_transit">in_transit</option>
                                          <option value="dispatched">dispatched</option>
                                          <option value="delivered">delivered</option>
                                          <option value="return">return</option>
                                          <option value="exchange">exchange</option>
                                       </select>
                                 </div>
                                 <div class="col-4">
                                       <input type="button" class="form-control text-center btn btn-primary"
                                          onclick="call_change_status('order');"
                                          value="change status">
                                 </div>
                                 <div class="col-4">
                                       <input type="button" class="form-control text-center btn btn-primary"
                                          onclick="call_change_status('order');"
                                          name="cancelled"
                                          value="order cancel" id="cancel_order" >

                                 </div>
                              </div>

                           </div>
                           <div class="card card_style">
                              <div class="card-header"><b>Order Details Information</b></div>
                              <div class="row">
                                 <div class="col-sm-6" style="text-align:left;">
                                    {% if order_deatils %}
                                     <p><b>Order Id</b>: {{order_deatils.order_text}} </p>
                                     <p><b>Total Quantity</b> : {{order_deatils.total_quantity}}</p>
                                     <p><b>Order Amount</b>: {{order_deatils.total_amount}} </p>
                                     <p><b>Convenient Fees</b>: {{convenient_fees}} </p>
                                     <p><b>Delivery Charges</b>: {{order_delivery_charge}} </p>
                                     <p><b>Total Amount</b>: {{payable_amount}} </p>
                                     <p><b>Payment Mode</b>: {{order_deatils.payment_mode}} </p>
                                 </div>
                                 <div class="col-sm-6" style="text-align:left;">
                                    {% if order_deatils.credit %}
                                       <p><b>Credit Used</b> : {{order_deatils.credit.actual_used}}</p>
                                       {% else %}
                                       <p><b>Credit Used</b> : 0</p>
                                    {% endif %}
                                     <p><b>Wallet Used</b> : {{order_deatils.used_wallet}}</p>
                                     <p><b>Actual Paid</b> : {{order_deatils.cash_payment}}</p>
                                     <p><b>Return Cancel Amount</b> : {{order_deatils.return_cancelled_amount}}</p>
                                     <p><b>Repayment Amount</b> : {{order_deatils.repayment_amount}}</p>
                                     <p><b>Current Status</b> : {{order_deatils.status}}</p>

                                    {% if request.user|has_group:"EcomAdmin" or  request.user|has_group:"EcomManager" %}
                                    <input type="hidden" value="{{order_deatils.status}}"
                                       id="order_deatails_status">
                                    <input type="hidden" value="{{order_deatils.id}}" id="order_details_id">
                                    {%endif%}
                                    {%endif%}
                                 </div>
                              </div>
                               <div class="row mb-2">
                                  <div class="col-4">


                                       <select id="change_order_details_status"  class="form-control text-center">
                                          <option selected disabled value=""> Change Status</option>
                                          <option value="placed">placed</option>
                                          <option value="cancelled">cancelled</option>
                                       </select>

                                  </div>
                                  <div class="col-2"></div>
                                  <div class="col-4">

                                       <input type="button" class="form-control text-center btn btn-primary"
                                          onclick="call_change_status('order_details');"
                                          value="change status">

                                  </div>
                               </div>


                              {% if update_credit_balance_0 %}
                                 <div class="row mb-2">
                                     <div class="col-4">
                                         <input type="button" class="form-control text-center btn btn-primary"
                                             onclick="update_credit_balance('cancelled_zero');"
                                             value="Cancelled with zero">
                                     </div>
                                     <div class="col-2"></div>
                                     <div class="col-4">
                                          <input type="button" class="form-control text-center btn btn-primary"
                                             onclick="update_credit_balance('zero');"
                                             value="Credit Zero">
                                     </div>
                                  </div>
                              {% endif %}
                            </div>

                           {% if request.user|has_group:"EcomAdmin" or request.user|has_group:"EcomCustomerCare" or request.user|has_group:"EcomManager" %}
                           <div class="card card_style" id="shipping_address">
                              <div class="card-header"><b>Shipping Address</b></div>
                              <div class="row">
                                 <div class="col-sm-6" style="text-align:left;">
                                    {% if shipping %}
                                    <p><b>Name</b> : {{shipping.4}}</p>
                                    <p><b>Address</b> : {{shipping.0}}</p>
                                    <p><b>City</b> : {{shipping.1}}</p>
                                 </div>
                                 <div class="col-sm-6" style="text-align:left;">
                                    <p><b>Mobile No</b> : {{shipping.5}}</p>
                                    <p><b>State</b> : {{shipping.2}}</p>
                                    <p><b>Pin Code</b> : {{shipping.3}}</p>
                                    {% endif %}
                                 </div>
                              </div>
                           </div>
                           <div class="card card_style">
                              <div class="card-header"><b>Product Information</b></div>
                              <div class="row">
                                 <div class="col-sm-6" style="text-align:left;">
                                    {% if order %}
                                    {%for order in order%}
                                    <p><b>Description</b> : {{order.product_details.description}}</p>
                                    <p><b>Height</b> : {{order.product_details.height}}</p>
                                    <p><b>Width</b> : {{order.product_details.width}}</p>
                                    <p><b>Weight</b> : {{order.product_details.weight}}</p>
                                 </div>
                                 <div class="col-sm-6" style="text-align:left;">
                                    <p><b>Color</b> : {{order.product_details.colour_id.name}}</p>
                                    <p><b>Size</b> : {{order.product_details.size_id.name}}</p>
                                    <p><b>CGST</b> : {{order.product_details.cgst.percentage}}</p>
                                    <p><b>SGST</b> : {{order.product_details.sgst.percentage}}</p>
                                    {% endfor %}
                                    {% endif %}
                                 </div>
                              </div>
                           </div>
                           <div class="card card_style">
                              <div class="card-header"><b>Credit Information</b>
                                 <button type="button" onclick="get_data_1()" class="btn btn-primary" style="float:right;" data-toggle="collapse" data-target="#demo">view all</button>
                              </div>
                              <div class="row">
                                 <div class="col-sm-6" style="text-align:left;">
                                    {% if credit %}
                                    <p><b>Balance Credit</b> : {{credit.1}}</p>
                                 </div>
                                 <div class="col-sm-6" style="text-align:left;">
                                    <p><b>Used Credit</b> : {{credit.2}}</p>
                                    {%endif%}
                                 </div>
                              </div>
                              <div id="demo" class="collapse">
                                 <div class="card-block">
                                    <div class="col-sm-9" id="msg_erro" style="float:center;">
                                       <b>
                                          <h4 class="text-center" id="msg3"></h4>
                                       </b>
                                    </div>
                                 </div>
                                 <div class="table-responsive">
                                    <div class="table-content">
                                       <div class="project-table">
                                          <div class="dt-responsive table-responsive">
                                             <table id="table-style-hover1"
                                                class="table table-striped table-hover table-bordered nowrap">
                                                <thead>
                                                   <tr>
                                                      <th>Sr.no</th>
                                                      <th>Credit</th>
                                                      <th>Used Credit</th>
                                                      <th>Balance Credit</th>
                                                      <th>Actual Used</th>
                                                      <th>Repayment Add</th>
                                                      <th>User</th>
                                                      <th>Status</th>
                                                      <th>ReStatus</th>
                                                      <th>Created Date</th>
                                                      <th>Updated Date</th>
                                                   </tr>
                                                </thead>
                                                <tbody id="tbody1">
                                                   <td></td>
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="card card_style">
                              <div class="card-header"><b>Wallet Information</b>
                                 <button type="button" onclick="get_data_2()" class="btn btn-primary" style="float:right;" data-toggle="collapse" data-target="#collapse3">view all</button>
                              </div>
                              <div class="row">
                                 <div class="col-sm-6" style="text-align:left;">
                                    {% if wallet %}
                                    <p><b>wallet Balance Amount</b> : {{wallet.0}}</p>
                                 </div>
                                 <div class="col-sm-6" style="text-align:left;">
                                    <p><b>Wallet Used Amount</b> : {{wallet.1}}</p>
                                    {%endif%}
                                 </div>
                              </div>
                              <div id="collapse3" class="panel-collapse collapse in" aria-expanded="true"
                                 style="">
                                 <div class="card-block">
                                    <div class="col-sm-9" id="msg_errorr" style="float:center;">
                                       <b>
                                          <h4 class="text-center" id="msg1"></h4>
                                       </b>
                                    </div>
                                 </div>
                                 <div class="table-responsive">
                                    <div class="table-content">
                                       <div class="project-table">
                                          <div class="dt-responsive table-responsive">
                                             <table id="table-style-hover2"
                                                class="table table-striped table-hover table-bordered nowrap">
                                                <thead>
                                                   <tr>
                                                      <th>Sr.no</th>
                                                      <th>Amount Add</th>
                                                      <th>Used Amount</th>
                                                      <th>Balance Amount</th>
                                                      <th>Payment</th>
                                                      <th>Order Details</th>
                                                      <th>Order</th>
                                                      <th>User</th>
                                                      <th>Status</th>
                                                      <th>ReStatus</th>
                                                      <th>Created Date</th>
                                                      <th>Updated Date</th>
                                                   </tr>
                                                </thead>
                                                <tbody id="tbody2">
                                                   <td></td>
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="card card_style">
                              <div class="card-header"><b>Repayment Information</b>
                                 <button type="button" onclick="get_data()" class="btn btn-primary" style="float:right;" data-toggle="collapse" data-target="#collapse1">view all</button>
                              </div>
                              <div class="row">
                                 <div class="col-sm-6" style="text-align:left;">
                                    {% if payment %}
                                    <p><b>Repayment Amount</b> : {{payment.0}}</p>
                                 </div>
                                 <div class="col-sm-6" style="text-align:left;">
                                    <p><b>Repayment Count</b> : {{payment.1}}</p>
                                    {% endif %}
                                 </div>
                              </div>
                              <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true"
                                 style="">
                                 <div class="card-block">
                                    <div class="col-sm-9" id="msg_err" style="float:center;">
                                       <b>
                                          <h4 class="text-center" id="msg2"></h4>
                                       </b>
                                    </div>
                                 </div>
                                 <!--                                        <div class="panel-body-container">-->
                                 <!--                                            <div class="panel-body mCustomScrollbar _mCS_1 mCS_no_scrollbar">-->
                                 <!--                                                <div id="mCSB_1"-->
                                 <!--                                                     class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside"-->
                                 <!--                                                     style="max-height: 150px;" tabindex="0">-->
                                 <!--                                                    <div id="mCSB_1_container"-->
                                 <!--                                                         class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"-->
                                 <!--                                                         style="position:relative; top:0; left:0;" dir="ltr">-->
                                 <div class="table-responsive">
                                    <div class="table-content">
                                       <div class="project-table">
                                          <div class="dt-responsive table-responsive">
                                             <table id="table-style-hover"
                                                class="table table-striped table-hover table-bordered nowrap">
                                                <thead>
                                                   <tr>
                                                      <th>Sr.no</th>
                                                      <th>Order Id</th>
                                                      <th>Transaction ID</th>
                                                      <th>PG Transaction ID</th>
                                                      <th>Status</th>
                                                      <th>Category</th>
                                                      <th>Type</th>
                                                      <th>Amount</th>
                                                      <th>Date</th>
                                                      <th>Response Code</th>
                                                   </tr>
                                                </thead>
                                                <tbody id="tbody">
                                                   <td></td>
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="card card_style">
                              <div class="card-header"><b>Logistic Information</b>
                                 <button type="button" onclick="get_data_3()" class="btn btn-primary" style="float:right;" data-toggle="collapse" data-target="#collapse4">view all</button>
                              </div>
                              <input type="hidden" id="waybill" value="{{waybill_no}}">
                              {% if logistic %}
                              {%for logistic in logistic %}
                              <div class="row">
                                 <div class="col-sm-6" style="text-align:left;">
                                    <p><b>Waybill Number</b> : {{logistic.0}}</p>
                                    <p><b>Ref Number</b> : {{logistic.1}}</p>
                                    <p><b>Status</b> : {{logistic.4}}</p>
                                    <br>
                                 </div>
                                 <div class="col-sm-6" style="text-align:left;">
                                    <p><b>Logistics</b> : {{logistic.3}}</p>
                                    <p><b>Order Mode</b> : {{logistic.5}}</p>
                                    <p><b>Remark</b> : {{logistic.2}}</p>
                                 </div>
                              </div>
                              {%endfor%}
                              {%endif%}
                              <div id="collapse4" class="panel-collapse collapse in" aria-expanded="true"
                                 style="">
                                 <div class="card-block">
                                    <div class="col-sm-9" id="msg_error" style="float:center;">
                                       <b>
                                          <h4 class="text-center" id="msg"></h4>
                                       </b>
                                    </div>
                                 </div>
                                 <div class="table-responsive">
                                    <div class="table-content">
                                       <div class="project-table">
                                          <div class="dt-responsive table-responsive">
                                             <table id="table-style-hover3"
                                                class="table table-striped table-hover table-bordered nowrap">
                                                <thead>
                                                   <tr>
                                                      <th>Sr.no</th>
                                                      <th>Order</th>
                                                      <th>Waybill No</th>
                                                      <th>Refnum</th>
                                                      <th>Remark</th>
                                                      <th>Logistics</th>
                                                      <th>Status</th>
                                                      <th>ReStatus</th>
                                                      <th>Order Data Text</th>
                                                      <th>Order Mode</th>
                                                      <th>Created Date</th>
                                                      <th>Updated Date</th>
                                                   </tr>
                                                </thead>
                                                <tbody id="tbody3">
                                                   <td></td>
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="card card_style">
                              <div class="card-header"><b>Return Order Information</b>
                                 <button type="button" onclick="get_data_5()" class="btn btn-primary" style="float:right;" data-toggle="collapse" data-target="#collapse5">view all</button>
                              </div>
                              <div class="row">
                                 <div class="col-sm-6" style="text-align:left;">
                                    <p><b>Return Id</b> : {{return_order_id}}</p>
                                    <br>
                                 </div>
                                 <div class="col-sm-6" style="text-align:left;">
                                    <p><b>Verify Return Status</b> : {{verify_return_status}}</p>
                                 </div>
                              </div>
                              <div id="collapse5" class="panel-collapse collapse in" aria-expanded="true"
                                 style="">
                                 <div class="card-block">
                                    <div class="col-sm-9" id="msg_error5" style="float:center;">
                                       <b>
                                          <h4 class="text-center" id="msg5"></h4>
                                       </b>
                                    </div>
                                 </div>
                                 <div class="table-responsive">
                                    <div class="table-content">
                                       <div class="project-table">
                                          <div class="dt-responsive table-responsive">
                                             <table id="table-style-hover5"
                                                class="table table-striped table-hover table-bordered nowrap">
                                                <thead>
                                                   <tr>
                                                      <th>Sr.no</th>
                                                      <th>Return Id</th>
                                                      <th>Verify Return Status</th>
                                                      <th>Admin Verified Date</th>
                                                      <th>Verified By</th>
                                                      <th>Payment Status</th>
                                                      <th>Seller Status</th>
                                                      <th>Seller Reason</th>
                                                      <th>Created Date</th>
                                                   </tr>
                                                </thead>
                                                <tbody id="tbody5">
                                                   <td></td>
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="card card_style">
                              <div class="card-header"><b>Payment Information</b></div>
                              <br>
                              {% if payment_slab %}
                              {%for slab in payment_slab %}
                              <div class="row">
                                 <div class="col-sm-6" style="text-align:left;">
                                    <p><b>Date</b> : {{slab.date}}</p>
                                    <p><b>Credit Amount</b> : {{slab.credit_amt}}</p>
                                    <p><b>Pay Status</b> : {{slab.pay_status}}</p>
                                    <br>
                                 </div>
                                 <div class="col-sm-6" style="text-align:left;">
                                    <p><b>Time</b> : {{slab.time}}</p>
                                    <p><b>Remaining Amount</b> : {{slab.remaining_amount}}</p>
                                    <p><b>Is Overdue</b> : {{slab.is_overdue}}</p>
                                 </div>
                              </div>
                              {%endfor%}
                              {%endif%}
                           </div>
                           {%endif%}
                           <div class="card card_style">
                              <div class="card-header"><b>Previous Orders Information</b>
                                 <button type="button" onclick="get_data_6()" class="btn btn-primary" style="float:right;" data-toggle="collapse" data-target="#collapse6">view all</button>
                              </div>
                              <div class="row">
                                 <div class="col-sm-6" style="text-align:left;">
                                    <p><b>Orders Count</b> : {{users_previous_orders_count}}</p>
                                    <br>
                                 </div>
                                 <div class="col-sm-6" style="text-align:left;">
                                    <p><b>User</b> : {{order_deatils.user.username}}</p>
                                    <br>
                                 </div>
                              </div>
                              <div id="collapse6" class="panel-collapse collapse in" aria-expanded="true"
                                 style="">
                                 <div class="card-block">
                                    <div class="col-sm-9" id="msg_error6" style="float:center;">
                                       <b>
                                          <h4 class="text-center" id="msg6"></h4>
                                       </b>
                                    </div>
                                 </div>
                                 <div class="table-responsive">
                                    <div class="table-content">
                                       <div class="project-table">
                                          <div class="dt-responsive table-responsive">
                                             <table id="table-style-hover6"
                                                class="table table-striped table-hover table-bordered nowrap">
                                                <thead>
                                                   <tr>
                                                      <th>Sr.no</th>
                                                      <th>order_text</th>
                                                      <th>status</th>
                                                      <th>pay_amount</th>
                                                      <th>total_quantity</th>
                                                      <th>total_amount</th>
                                                      <th>Used Credit</th>
                                                      <th>Payment Mode</th>
                                                   </tr>
                                                </thead>
                                                <tbody id="tbody6">
                                                   <td></td>
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="card card_style">
                              <div class="card-header"><b>Previous Orders Payment</b> </div>
                               <h6 id="show_order_details"></h6>
                              <div id="collapse7" class="panel-collapse" aria-expanded="true"
                                 >
                                 <div class="card-block ">
                                    <div class="col-sm-9" id="msg_error7" style="float:center;">

                                          <h4 class="text-center" id="msg7"></h4>

                                    </div>
                                 </div>
                                 <div class="table-responsive">
                                    <div class="table-content">
                                       <div class="project-table">

                                          <div class="dt-responsive table-responsive">

                                             <table id="table-style-hover7"
                                                class="table table-striped table-hover table-bordered nowrap">
                                                <thead id="thead7">

                                                </thead>
                                                <tbody id="tbody7">
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>
<style>
   p{font-size:1.1vw}
   .card_style
   {
   width:70%;
   border-style:solid;
   border-width:1px;
   text-align:center;
   padding:2%;
   }
   .card-header{
   font-size:1.2vw;
   }
</style>
{% if request.user|has_group:"EcomAdmin" or  request.user|has_group:"EcomManager" %}
<script>
   var user = document.getElementById('user').value;
   console.log(user);
   if(user == 'Seller'){
   console.log('inside ');
   document.getElementById('customer_info_card').type.display = "none";
   }

   <!--     var prev = document.getElementById('order_status').value;-->
   <!--     document.getElementById('change_order_status').value = prev;-->

   <!--     var prev1 = document.getElementById('order_deatails_status').value;-->
   <!--     console.log('prev1', prev1);-->

   <!--     document.getElementById('change_order_details_status').value = prev1;-->



   function call_change_status(type){
   if (type == 'order'){


      var status = document.getElementById('change_order_status').value;
      if (status == ""){
         var status = document.getElementById('cancel_order').name;

      }



      var order_id = document.getElementById('order_id').value;
      var txt;

          if(status=="cancelled"){
          var o_id = document.getElementById('order').value;

          var unique_order_id = document.getElementById('unique').value;
          var waybill_no = document.getElementById('waybill').value;
          var msg="Please note down before cancelling the order \n Unique ID : "+unique_order_id+"\n Order ID : "+o_id+"\n Waybill No. : "+waybill_no+"\nDo you want to Cancel order ?"
          if (confirm(msg)) {
           } else {
          return false;
          }
          }

   }

   if (type == 'order_details'){
      var status = document.getElementById('change_order_details_status').value;
      var order_id = document.getElementById('order_details_id').value;
   }


   $.ajax({
      type: "POST",
      data: {
          'status': status,
          'type': type,
          'order_id':order_id
      },
      url: "/ecom/change_status/",
      success: function(data){

      var data = JSON.parse(data);



      if (data['msg']){

          alert(data['msg']);

      }
      else
      {
       alert("Something Went Wrong ");

      }

      }
      });

   }


</script>
{% endif %}
<script>
   function get_data(){
       var status = "repayment"
       var order_id = document.getElementById('order_id').value;

         $.ajax({
                   type: "POST",
                   data: {
                       'status':status,
                       'order_id':order_id,
                   },
                   url: "/ecom/repayment_details/",
                   success: function(data) {
                    var data = JSON.parse(data);

                    $("#table-style-hover").find("tr:not(:first)").empty();
                    var length = data["length"]


                    if (data['msg']=="Data Not Found")
                    {

                          $("#msg_err").show();
                          $("#table-style-hover").hide();
                          document.getElementById('msg2').innerHTML = data['msg'];
                        }
                  else{
                    for (var i=0; i<length; i++){
                            var sr_no = i + 1;
                            var order_id = data["data"][i]["order_id"]
                            var transaction_id = data["data"][i]["transaction_id"]
                            var pg_transaction_id = data["data"][i]["pg_transaction_id"]
                            var status = data["data"][i]["status"]
                            var category = data["data"][i]["category"]
                            var type = data["data"][i]["type"]
                            var amount = data["data"][i]["amount"]
                            var date = data["data"][i]["date"]
                            var response_code = data["data"][i]["response_code"]
                            $("#tbody").append("<tr><td>"+ sr_no + "</td><td>"  + order_id + "</td><td>" + transaction_id + "</td><td>" + pg_transaction_id + "</td><td>" + status + "</td><td>" + category + "</td><td>" + type + "</td><td>" + amount + "</td><td>" + date + "</td><td>" + response_code +  "</td></tr>")
                            }
                    }
                   }
                   });
                   }
</script>
<script>
   function get_data_1(){
       var status = "credit"
       var order_id = document.getElementById('order_id').value;

         $.ajax({
                   type: "POST",
                   data: {
                       'status':status,
                       'order_id':order_id,
                   },
                   url: "/ecom/repayment_details/",
                   success: function(data) {
                    var data = JSON.parse(data);

                    $("#table-style-hover1").find("tr:not(:first)").empty();
                    var length = data["length"]

                    if (data['msg']=="Data Not Found")
                    {

                          $("#msg_erro").show();
                          $("#table-style-hover1").hide();
                          document.getElementById('msg3').innerHTML = data['msg'];
                        }
                  else{
                    for (var i=0; i<length; i++){
                            var sr_no = i + 1;
                            var credit = data["data"][i]["credit"]
                            var used_credit = data["data"][i]["used_credit"]
                            var balance_credit = data["data"][i]["balance_credit"]
                            var actual_used = data["data"][i]["actual_used"]
                            var repayment = data["data"][i]["repayment_add"]
                            var user = data["data"][i]["username"]
                            var status = data["data"][i]["status"]
                            var re_status = data["data"][i]["re_status"]
                            var created_date = data["data"][i]["created_date"]
                            var updated_date = data["data"][i]["updated_date"]
                           $("#tbody1").append("<tr><td>"+sr_no+"</td><td>"  + credit + "</td><td>" + used_credit + "</td><td>" + balance_credit + "</td><td>" + actual_used + "</td><td>" + repayment + "</td><td>" + user + "</td><td>" + status + "</td><td>" + re_status + "</td><td>" + created_date + "</td><td>" + updated_date  +  "</td></tr>")
                            }
                       }
                   },
                   });
                   }
</script>
<script>
   function get_data_2(){
       var status = "wallet"
       var order_id = document.getElementById('order_id').value;

         $.ajax({
                   type: "POST",
                   data: {
                       'status':status,
                       'order_id':order_id,
                   },
                   url: "/ecom/repayment_details/",
                   success: function(data) {
                    var data = JSON.parse(data);

                    $("#table-style-hover2").find("tr:not(:first)").empty();
                    var length = data["length"]

                      if (data['msg']=="Data Not Found")
                    {

                          $("#msg_errorr").show();
                          $("#table-style-hover2").hide();
                          document.getElementById('msg1').innerHTML = data['msg'];
                        }
                    else{
                    for (var i=0; i<length; i++){
                            var sr_no = i + 1;
                            var amount_add = data["data"][i]["amount_add"]

                            var used_amount = data["data"][i]["used_amount"]
                            var balance_amount = data["data"][i]["balance_amount"]
                            var payment_amount = data["data"][i]["payment"]
                            var order_text = data["data"][i]["order_detail"]
                            var order_id = data["data"][i]["order"]
                            var user = data["data"][i]["username"]
                            var status = data["data"][i]["status"]
                            var re_status = data["data"][i]["re_status"]
                            var created_date = data["data"][i]["created_date"]
                            var updated_date = data["data"][i]["updated_date"]
                            $("#tbody2").append("<tr><td>"+sr_no+"</td><td>"  + amount_add + "</td><td>" + used_amount  + "</td><td>" + balance_amount + "</td><td>" + payment_amount + "</td><td>" + order_text + "</td><td>" + order_id + "</td><td>" + user + "</td><td>" + status + "</td><td>" + re_status + "</td><td>" + created_date + "</td><td>" + updated_date  +  "</td></tr>")
                            }
                    }
                   },
                   });
                   }
</script>
<script>
   function get_data_3(){
       var status = "logistics"
       var order_id = document.getElementById('order_id').value;

         $.ajax({
                   type: "POST",
                   data: {
                       'status':status,
                       'order_id':order_id,
                   },
                   url: "/ecom/repayment_details/",
                   success: function(data) {
                    var data = JSON.parse(data);

                    $("#table-style-hover3").find("tr:not(:first)").empty();
                    var length = data["length"]

                    var msg = data["msg"]

                    if (data['msg']=="Data Not Found")
                    {

                          $("#msg_error").show();
                          $("#table-style-hover3").hide();
                          document.getElementById('msg').innerHTML = data['msg'];
                        }
                    else{
                        for (var i=0; i<length; i++){
                                var sr_no = i + 1;
                                var order_id = data["data"][i]["order_id"]
                                var waybill_no = data["data"][i]["waybill_no"]
                                var refnum = data["data"][i]["refnum"]
                                var remark = data["data"][i]["remark"]
                                var logistics = data["data"][i]["logistics"]
                                var status = data["data"][i]["status"]
                                var re_status = data["data"][i]["re_status"]
                                var order_data_text = data["data"][i]["order_data_text"]
                                var order_mode = data["data"][i]["order_mode"]
                                var created_date = data["data"][i]["created_date"]
                                var updated_date = data["data"][i]["updated_date"]
                               $("#tbody3").append("<tr><td>"+sr_no+"</td><td>"  + order_id + "</td><td>" + waybill_no  + "</td><td>" + refnum + "</td><td>" + remark + "</td><td>" + logistics + "</td><td>" + status + "</td><td>" + re_status + "</td><td>" + order_data_text + "</td><td>" + order_mode + "</td><td>" + created_date + "</td><td>" + updated_date  +  "</td></tr>")
                                }
                        }
                   },
                   });
                   }
</script>
<script>
   function get_data_5(){
       var status = "return"
       var order_id = document.getElementById('order_id').value;

         $.ajax({
                   type: "POST",
                   data: {
                       'status':status,
                       'order_id':order_id,
                   },
                   url: "/ecom/repayment_details/",
                   success: function(data) {
                    var data = JSON.parse(data);

                    $("#table-style-hover5").find("tr:not(:first)").empty();
                    var length = data["length"]

                    var msg = data["msg"]

                    if (data['msg']=="Data Not Found")
                    {

                          $("#msg_error5").show();
                          $("#table-style-hover5").hide();
                          document.getElementById('msg5').innerHTML = data['msg'];
                        }
                    else{
                        for (var i=0; i<length; i++){
                                var sr_no = i + 1;
                                var return_id = data["data"][i]["return_id"]
                                var verify_return_status = data["data"][i]["verify_return_status"]
                                var admin_verified_date = data["data"][i]["admin_verified_date"]
                                var verified_by = data["data"][i]["verified_by"]
                                var payment_status = data["data"][i]["payment_status"]
                                var seller_status = data["data"][i]["seller_status"]
                                var seller_reason = data["data"][i]["seller_reason"]
                                var created_date = data["data"][i]["created_date"]

                               $("#tbody5").append("<tr><td>"+sr_no+"</td><td>"  + return_id + "</td><td>" + verify_return_status  + "</td><td>" + admin_verified_date + "</td><td>" + verified_by + "</td><td>" + payment_status + "</td><td>" + seller_status + "</td><td>" + seller_reason + "</td><td>" + created_date +  "</td></tr>")
                                }
                        }
                   },
                   });
                   }
</script>
<script>
   function get_data_6(){
       var status = "previous_order"
       var order_id = document.getElementById('order_details_id').value;

         $.ajax({
                   type: "POST",
                   data: {
                       'status':status,
                       'order_id':order_id,
                   },
                   url: "/ecom/repayment_details/",
                   success: function(data) {
                    var data = JSON.parse(data);

                    $("#table-style-hover6").find("tr:not(:first)").empty();
                    var length = data["length"]

                    var msg = data["msg"]

                    if (data['msg']=="Data Not Found")
                    {

                          $("#msg_error6").show();
                          $("#table-style-hover6").hide();
                          document.getElementById('msg6').innerHTML = data['msg'];
                        }
                    else{


                        for (var i=0; i<length; i++){
                                var sr_no = i + 1;
                                var order_details_id = data["data"][i]["order_details_id"]
                                var order_text = data["data"][i]["order_text"]
                                var status = data["data"][i]["status"]
                                var pay_amount = data["data"][i]["pay_amount"]
                                var total_quantity = data["data"][i]["total_quantity"]
                                var total_amount = data["data"][i]["total_amount"]
                                var used_credit = data["data"][i]["used_credit"]
                                var payment_mode = data["data"][i]["payment_mode"]


                                 var order_button = '<a onclick="get_data_7(' + order_details_id + ')" style="color:#24A0ED;cursor: pointer;">' + order_text + '</a>'
                                 console.log("order_button", order_button);

                               $("#tbody6").append("<tr><td>"+ sr_no + "</td><td>"  + order_button + "</td><td>" + status  + "</td><td>" + pay_amount + "</td><td>" + total_quantity + "</td><td>" + total_amount + "</td><td>" + used_credit + "</td><td>" +  payment_mode + "</td></tr>")
                                }
                        }
                   },
                   });
                   }
</script>
<script>
   function get_data_7(order_details_id){


         document.getElementById('show_order_details').innerHTML = order_details_id;
         $.ajax({
                   type: "POST",
                   data: {
                       'order_details_id':order_details_id,

                   },
                   url: "/ecom/get_orders_details_payments/",
                  success: function(data) {
                    var data = JSON.parse(data);

                    $("#table-style-hover").find("tr:not(:first)").empty();
                    var length = data["length"]

                    if (data['msg']=="Data Not Found")
                    {
                          $("#msg_err7").show();
                          $("#table-style-hover7").hide();
                          document.getElementById('msg7').innerHTML = data['msg'];
                        }
                  else{
                     $("#tbody7").empty();
                      $("#thead7").empty();
                     $("#thead7").append("<tr><td> Sr.No </td><td> Order Id </td><td>Transaction Id</td><td> Transaction Id</td><td> Status </td><td> Category </td><td> Type </td><td> Amount </td><td> Date </td><td>Response Code</td></tr>")


                     document.getElementById('show_order_details').innerHTML = data['order_text'];

                    for (var i=0; i<length; i++){
                            var sr_no = i + 1;
                            var order_id = data["data"][i]["order_id"]
                            var transaction_id = data["data"][i]["transaction_id"]
                            var pg_transaction_id = data["data"][i]["pg_transaction_id"]
                            var status = data["data"][i]["status"]
                            var category = data["data"][i]["category"]
                            var type = data["data"][i]["type"]
                            var amount = data["data"][i]["amount"]
                            var date = data["data"][i]["date"]
                            var response_code = data["data"][i]["response_code"]
                            $("#tbody7").append("<tr><td>"+ sr_no + "</td><td>"  + order_id + "</td><td>" + transaction_id + "</td><td>" + pg_transaction_id + "</td><td>" + status + "</td><td>" + category + "</td><td>" + type + "</td><td>" + amount + "</td><td>" + date + "</td><td>" + response_code +  "</td></tr>")
                            }
                    }
                   },

                   });
                   }
</script>
<script>
   function call_mfpl_cancel_order(order_id){


   var order_id = order_id

    $.ajax({
       type: "POST",
       data: {
           'order_id': order_id,

       },
       url: "/ecom/mfpl_cancel_order/",
       success: function(data){

       var data = JSON.parse(data);


       if (data['msg']){

           alert(data['msg']);

       }
       else
       {
        alert("Something Went Wrong ");

       }

       }
       });

   }

</script>
<script>
   function call_cancel_order(order_id){


   var order_id = order_id
   console.log("order_id", order_id);

    $.ajax({
       type: "POST",
       data: {
           'order_id': order_id,

       },
       url: "/ecom/cancel_order/",
       success: function(data){

       var data = JSON.parse(data);

       console.log(data);

       if (data['msg']){

           alert(data['msg']);


       }
       else
       {
        alert("Something Went Wrong ");

       }

       }
       });

   }

</script>

<script>
  function update_credit_balance(type){
   var order_details_id = document.getElementById('order_details_id').value;
   if (type=="zero"){
         var msg = "This will be update credit balance zero, Do you want to Update credit balance Zero?";
        if (confirm(msg)){
         }
         else{
            return false;
         }
   }
   if (type=="cancelled_zero"){
         var msg = "All orders in this order details will be cancelled with the updated credit limit will be zero, Do you want to Cancel orders?";
         if (confirm(msg)){
         }
         else{
            return false;
         }
   }
    $.ajax({
       type: "POST",
       data: {
           'order_details_id': order_details_id,
           'type': type
       },
       url: "/ecom/update_credit_balance/",
       success: function(data){
       var data = JSON.parse(data);
       console.log(data);
       if (data['msg']){
           alert(data['msg']);
       }
       else
       {
        alert("Something Went Wrong ");
       }
       }
       });
  }
</script>
<script>
var a = 1;

function change(){
   var refund_status = $(this).attr('paragraph').innerHTML;
   console.log("refund_status============",refund_status)
   var order_id = document.getElementById('order_id').value;
   console.log("order_id",order_id)

    if (a==1) {
      document.getElementById("paragraph").innerHTML = "True"
      a = 0;
    } else {
      document.getElementById("paragraph").innerHTML = "False"
      a = 1;
    }
 $.ajax({
       type: "POST",
       data: {
           'order_id':order_id,
           'refund_status': refund_status,
       },

       url: "/ecom/update_is_refund/",

       success: function(data){
       var data = JSON.parse(data);
       console.log(data);
       if ('refund_status'){
           console.log("ok");
       }
       else
       {
        console.log("not ok");;
       }
       }
       });
}
</script>

{% endblock %}

