{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>

                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order Text</th>
                                                <th>Total Quantity</th>
                                                <th>Total Amount</th>
                                                <th>Status</th>
                                                <th>Created Date</th>
                                                <th>Updated Date</th>

                                            </tr>
                                            </thead>
                                            {% if order_details_obj %}
                                            <tr>
                                                {% for obj in order_details_obj%}
                                                <td>{{forloop.counter}}</td>
                                                <td>{{obj.order_text}}</td>
                                                <td>{{obj.total_quantity}}</td>
                                                <td>{{obj.total_amount}}</td>
                                                <td>{{obj.status}}</td>
                                                <td>{{obj.created_date}}</td>
                                                <td>{{obj.updated_date}}</td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

