{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<body  onload="make_disable()"></body>
<div class="page-body">
    <div class="container">
        <div>
            <div class="card">
                <div class="card-header">
                    <h5>{{ msg }}</h5>
                </div>
                <div class="row invoice-contact">
                    <div class="col-md-8">
                        <div class="invoice-box row">
                            <div class="col-sm-12">
                                   <input type="hidden" id="combination_type" value="{{order.combination_type}}">
                                   <input type="hidden" id="username" value="{{order.product_details.user.username}}">
                                <table class="table table-responsive invoice-table table-borderless">
                                    <tbody>
                                    <tr>
                                        <td><img
                                                src="/static/ecom/images/creditkart.png"
                                                width="105" height="74"
                                                class="m-b-10" alt=""></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <div class="row invoive-info">
                        <div class="col-md-4 col-xs-12 invoice-client-info">
                            <h6>Customer Address :</h6>
                            <table class="table table-responsive invoice-table invoice-order table-borderless">
                                <tbody>
                                <tr>
                                    <th>Customer Name :</th>
                                    <td>{{user_personal.name}}</td>
                                </tr>
                                <tr>
                                    <th>Mobile no :</th>
                                    <td>{{user_personal.mobile_no}}</td>
                                </tr>
                                 <tr>
                                    <th>Shipping Name :</th>
                                    <td>{{shipping_data.0}}</td>
                                </tr>
                                <tr>
                                    <th>Shipping Mobile no :</th>
                                    <td>{{shipping_data.1}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <p>{{order_details.address.address}}
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h6>Order Information :</h6>
                            <table class="table table-responsive invoice-table invoice-order table-borderless">
                                <tbody>
                                <tr>
                                    <th>Order ID :</th>
                                    <td>{{order.order_id}}</td>
                                </tr>
                                <tr>
                                    <th>Date :</th>
                                    <td>{{order.created_date}}</td>
                                </tr>
                                <tr>
                                    <th>Status :</th>
                                    <td>
                                        <input type="hidden" id="status" value="{{order.status}}">
                                        <span class="label label-warning">{{order.status}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Unique Order Id :</th>
                                    <td id="order_id">{{order.unique_order_id}}</td>
                                </tr>
                                <tr>
                                    <th>SKU :</th>
                                    <td>
                                        {{order.product_details.sku}}
                                    </td>
                                </tr>

                                <tr>
                                    <th>Categeory :</th>
                                    <td>
                                        {{order.product_details.product_id.base_category.sub_category.category.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Sub Categeory :</th>
                                    <td>
                                        {{order.product_details.product_id.base_category.sub_category.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Base Categeory :</th>
                                    <td>
                                        {{order.product_details.product_id.base_category.base_name}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h6 class="m-b-20">Product Information : </h6>
                            <table class="table table-responsive invoice-table invoice-order table-borderless">
                                <tbody>
                                <tr>
                                    <th>Size :</th>
                                    <td>{{order.product_details.size_id.name}}</td>
                                </tr>
                                <tr>
                                    <th>Colour :</th>
                                    <td>{{order.product_details.colour_id.name}}</td>
                                </tr>
                                <tr>
                                    <th>Height :</th>
                                    <td>{{order.product_details.height}}</td>
                                </tr>
                                <tr>
                                    <th>Weight :</th>
                                    <td>
                                        {{order.product_details.weight}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Width :</th>
                                    <td>
                                        {{order.product_details.width}}
                                    </td>
                                </tr>

                                <tr>
                                    <th>Length :</th>
                                    <td>
                                        {{order.product_details.Length}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table  invoice-detail-table">
                                    <thead>
                                    <tr class="thead-default">
                                        <th>Product Name</th>
                                        <th>Unique Order ID</th>
                                        <th>Quantity</th>
                                        <th>Amount</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            {{order.product_details.product_id.name}}
                                        </td>
                                        <td>{{order.unique_order_id}}</td>
                                        <td>{{order.quantity}}</td>
                                        <td>{{order.amount}}</td>
                                        <td>{{order.total_amount}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-responsive invoice-table invoice-total">
                                <tbody>
                                <tr>
                                    <th>Sub Total :</th>
                                    <td>{{order.total_amount}}</td>
                                </tr>
                                <tr class="text-info">
                                    <td>
                                        <hr/>
                                        <h5 class="text-primary">Total :</h5>
                                    </td>
                                    <td>
                                        <hr/>
                                        <h5 class="text-primary">{{order.total_amount}}</h5>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>

                    {% if order.status == "placed" %}


                    <center>
                    <div class="row">
                        <div class="col-sm-12">
                            <form action="/ecom/change-order-status/" method="POST">{% csrf_token %}
                                <input type="hidden" name="order_id" value="{{order.id}}">
                                <div class="col-sm-3"><b>Select Status :</b></div>
                                <br>

                              <div class="col-sm-6">

                                 <select name="status" id="drop_down" style="text-align-last: center;" class="form-control" onchange="call_data()">
                                     <option selected disabled  value="">Please Select Status Here
                                       {% if order.product_details.username != "MFPL" and order.combination_type != "multiple" %}

                                    <option value="packed" id="seller_packed" data-target="">Packed</option>

                                        {% endif%}
                                     <option value="cancelled" id="seller_cancelled" >Cancelled</option>
                                 </select>

                                <br><input type="submit"
                                           class="form-control text-center btn btn-primary" value="Submit">

                                  </div>
                            </form>
                        </div>
                    </div>
                   </center>

                    {% endif%}



<!--                    {% if request.user|has_group:"EcomAdmin" or request.user|has_group:"EcomManager"%}-->

<!--                    <div class="row">-->
<!--                        <div class="col-sm-12">-->
<!--                            <form action="/ecom/change-order-status/" method="POST">{% csrf_token %}-->
<!--                                <input type="hidden" name="order_id" value="{{order.id}}">-->
<!--                              <div id="div">-->
<!--                                 Select Status :-->
<!--                                 <select name="status" id="drop_down"  onchange="call_data()">-->
<!--                                     <option selected disabled  value="">Please Select Status Here-->
<!--                                    <option value="packed" id="packed" data-target="">Packed</option>-->
<!--                                     <option value="cancelled" id="cancelled" >Cancelled</option>-->
<!--                                 </select>-->
<!--                                <br><input type="submit"-->
<!--                                       class="btn btn-primary btn-print-invoice m-b-10 btn-sm waves-effect waves-light m-r-20" >-->

<!--                                  </div>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    {% endif%}-->
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">-->
<!--  Launch demo modal-->
<!--</button>-->

<!-- Modal -->
<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Will be charged Rs.150.
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" onclick="confirm()">Confirmed</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="popup1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle1">Confirmed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="msg">
      </div>
    </div>
  </div>
</div>

<script>
    var testIt = function testIt(num) {

        if (num.length === 6) {
        ready()
        }
        }

</script>

<script>
            function ready() {
            var pin_code = document.getElementById('pincode').value;

            $.ajax({
                    type: "POST",
                    data: {
                        'pin_code': pin_code,
                    },
                    url: "/ecom/check_pin_code/",
                    success: function(data) {

                    var data = JSON.parse(data);
                    var status = data['status'];
                    if (status==="2"){
                    alert("Data is not available for this Pin code.. PLease enter data Manually..");
                    }
                    else{
                    var pincode = data['pin_code'];
                    var taluka = data['taluka'];
                    var city = data['city'];
                    var state = data['state'];
                    document.getElementById('taluka').value = taluka;
                    document.getElementById('city').value = city;
                    document.getElementById('state').value = state;
                    }
                    },
                    error: function(data) {
                    }
                });
            }

</script>
<script>
   function make_disable() {
         var  status = document.getElementById("status").value;
         var username = document.getElementById("username").value;
         var combination_type = document.getElementById("combination_type").value;
               console.log('combination_type===========================', combination_type);
               console.log('username===========================', username);

            if(username == "MFPL"){
                 console.log("inside MFPL");
                if(combination_type == "multiple"){

                genderForm = document.getElementById("packed").hidden = true;

             }


           else{
               console.log("inside else");
               if (status == "placed") {
                   genderForm = document.getElementById("dispatched").hidden = true;
               }
               else if (status == "packed"){
                     genderForm = document.getElementById("packed").hidden = true;
               }
               else{
               genderForm = document.getElementById("div").hidden = true;
               }
            }

        document.getElementById('drop_down').value= "";
        }

   }
</script>
<script>

    function call_data(){
    var option = document.getElementById('drop_down').value;
        console.log("option",option);


    if(option=="cancelled"){
    console.log("akash");

        $('#popup').modal('show')
         document.getElementById('drop_down').value= "";

    }

    }

</script>
<script>
    function confirm(){

    $('#popup').modal('hide')
    var order_id = document.getElementById("order_id").innerHTML;
    console.log("order_id", order_id);


    $.ajax({
            type: "POST",
            data: {
                'order_id': order_id,

            },
            url: "/ecom/seller_order_cancelled/",
            success: function(data){
            var data = JSON.parse(data);
            if(data['msg']){
                $('#popup1').modal('show')

                document.getElementById("msg").innerHTML = data['msg'];

            }

            }
           });

    }

</script>

{% endblock %}