{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<body>
<link rel="stylesheet" type="text/css" href="/static/ecom/assets/pages/list-scroll/list.css">
<div class="page-body">

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row " style="  justify-content: center;">

                                <input type="hidden" id="user" value="{{user}}">
                                <input type="hidden" value="{{order_details_id}}" id="order_id">

                                <div class="card card_style" id="customer_info_card">

                                    <div class="card-header"><b>Customer Information</b></div>
                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">

                                            {% if personal %}
                                            <p><b>User Name</b> : {{personal.0}}</p>
                                            <p><b>Mobile Number</b> : {{personal.4}}</p>
                                            <p><b>Shipping Number</b> : {{personal.1}}</p>
                                            <p><b>Alternate Mobile Number</b> : {{personal.2}}</p>
                                            <p><b>Email</b> : {{personal.3}}</p>
                                            {% endif %}


                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">
                                            {% if address %}
                                                <p><b>Address</b> : {{address.0}}</p>
                                                <p><b>City</b> : {{address.1}}</p>
                                                <p><b>State</b> : {{address.2}}</p>
                                                <p><b>Pin Code</b> : {{address.3}}</p>
                                                <p><b>Cibil Score</b> : {{cibil_score}}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>





                                <div class="card card_style">
                                    <div class="card-header"><b>Order Details Information</b></div>


                                        <div class="row">
                                            <div class="col-sm-6" style="text-align:left;">
                                                 {% if order_deatils %}
                                                    <p><b>Order Id</b>: {{order_deatils.order_text}} </p>
                                                    <p><b>Total Quantity</b> : {{order_deatils.total_quantity}}</p>
                                                    <p><b>Order Amount</b>: {{order_deatils.total_amount}} </p>
                                                    <p><b>Convenient Fees</b>: {{convenient_fees}} </p>
                                                    <p><b>Delivery Charges</b>: {{order_delivery_charge}} </p>
                                                    <p><b>Total Amount</b>: {{payable_amount}} </p>
                                                    <p><b>Payment Mode</b>: {{order_deatils.payment_mode}} </p>

                                            </div>
                                            <div class="col-sm-6" style="text-align:left;">
                                                    {% if order_deatils.credit %}
                                                        <p><b>Credit Used</b> : {{order_deatils.credit.actual_used}}</p>
                                                        {% else %}
                                                        <p><b>Credit Used</b> : 0</p>
                                                    {% endif %}
                                                    <p><b>Wallet Used</b> : {{order_deatils.used_wallet}}</p>
                                                    <p><b>Actual Paid</b> : {{order_deatils.cash_payment}}</p>
                                                    <p><b>Return Cancel Amount</b> : {{order_deatils.return_cancelled_amount}}</p>
                                                    <p><b>Repayment Amount</b> : {{order_deatils.repayment_amount}}</p>
                                                    <p><b>Current Status</b> : {{order_deatils.status}}</p>
                                                 {% if request.user|has_group:"EcomAdmin" or  request.user|has_group:"EcomManager" %}


                                                <input type="hidden" value="{{order_deatils.status}}"
                                                       id="order_deatails_status">
                                                <input type="hidden" value="{{order_deatils.id}}" id="order_details_id">


                                                {%endif%}
                                                {%endif%}
                                        </div>
                                    </div>
                                </div>


                                <div class="card card_style" id="shipping_address">
                                    <div class="card-header"><b>Shipping Address</b></div>
                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">

                                            {% if shipping %}
                                           <p><b>Address</b> : {{shipping.0}}</p>
                                            <p><b>City</b> : {{shipping.1}}</p>

                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">
                                           <p><b>State</b> : {{shipping.2}}</p>
                                            <p><b>Pin Code</b> : {{shipping.3}}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>


                                <div class="card card_style">
                                    <div class="card-header"><b>Order Information</b>
                                        <button type="button" onclick="get_data_5()" class="btn btn-primary" style="float:right;" data-toggle="collapse" data-target="#demo5">view all</button>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">
                                            {% if credit %}
                                            <p><b>Order Count</b> : {{order_id_count}}</p>
                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">
                                            <p><b>Order Amount</b> : {{order_amount}}</p>
                                            {%endif%}
                                        </div>
                                    </div>

                                        <div id="demo5" class="collapse">
                                            <div class="card-block">
                                            <div class="col-sm-9" id="msg_erro5" style="float:center;">
                                                <b><h4 class="text-center" id="msg5"></h4></b>
                                            </div>
                                        </div>


                                            <div class="table-responsive">
                                                <div class="table-content">
                                                    <div class="project-table">
                                                        <div class="dt-responsive table-responsive">
                                                            <table id="table-style-hover5"
                                                                   class="table table-striped table-hover table-bordered nowrap">
                                                                <thead>
                                                                <tr>
                                                                   <th>Sr.no</th>
                                                                     <th>Image</th>
                                                                    <th>Order ID</th>
                                                                    <th>Unique Order ID</th>
                                                                    <th>Product SKU</th>
                                                                    <th>Product Name</th>
                                                                    <th>Quantity</th>
                                                                    <th>Amount</th>
                                                                    <th>Total Amount</th>
                                                                     <th>Payment Type</th>
                                                                    <th>Payment Mode</th>
                                                                    <th>Seller</th>
                                                                    <th>Date</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody id="tbody5">
                                                                    <td></td>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                     </div>


                                <div class="card card_style">
                                    <div class="card-header"><b>Credit Information</b>
                                        <button type="button" onclick="get_data_1()" class="btn btn-primary" style="float:right;" data-toggle="collapse" data-target="#demo">view all</button>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">
                                            {% if credit %}
                                            <p><b>Balance Credit</b> : {{credit.0}}</p>
                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">
                                            <p><b>Used Credit</b> : {{credit.1}}</p>
                                            {%endif%}
                                        </div>
                                    </div>

                                        <div id="demo" class="collapse">
                                            <div class="card-block">
                                            <div class="col-sm-9" id="msg_erro" style="float:center;">
                                                <b><h4 class="text-center" id="msg3"></h4></b>
                                            </div>
                                        </div>


                                            <div class="table-responsive">
                                                <div class="table-content">
                                                    <div class="project-table">
                                                        <div class="dt-responsive table-responsive">
                                                            <table id="table-style-hover1"
                                                                   class="table table-striped table-hover table-bordered nowrap">
                                                                <thead>
                                                                <tr>
                                                                    <th>Sr.no</th>
                                                                    <th>Credit</th>
                                                                    <th>Used Credit</th>
                                                                    <th>Balance Credit</th>
                                                                    <th>Actual Used</th>
                                                                    <th>Repayment Add</th>
                                                                    <th>User</th>
                                                                    <th>Status</th>
                                                                    <th>ReStatus</th>
                                                                    <th>Created Date</th>
                                                                    <th>Updated Date</th>

                                                                </tr>
                                                                </thead>
                                                                <tbody id="tbody1">
                                                                    <td></td>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                     </div>


                                <div class="card card_style">
                                    <div class="card-header"><b>Wallet Information</b>
                                           <button type="button" onclick="get_data_2()" class="btn btn-primary" style="float:right;" data-toggle="collapse" data-target="#collapse3">view all</button>


                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">

                                            {% if wallet %}
                                            <p><b>wallet Balance Amount</b> : {{wallet.0}}</p>

                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">

                                            <p><b>Wallet Used Amount</b> : {{wallet.1}}</p>
                                            {%endif%}
                                        </div>
                                    </div>

                                     <div id="collapse3" class="panel-collapse collapse in" aria-expanded="true"
                                         style="">
                                            <div class="card-block">
                                                 <div class="col-sm-9" id="msg_errorr" style="float:center;">
                                                     <b><h4 class="text-center" id="msg1"></h4></b>
                                                 </div>
                                            </div>

                                            <div class="table-responsive">
                                                <div class="table-content">
                                                    <div class="project-table">
                                                        <div class="dt-responsive table-responsive">
                                                            <table id="table-style-hover2"
                                                                   class="table table-striped table-hover table-bordered nowrap">
                                                                <thead>
                                                                <tr>
                                                                   <th>Sr.no</th>
                                                                    <th>Amount Add</th>
                                                                    <th>Used Amount</th>
                                                                    <th>Balance Amount</th>
                                                                    <th>Payment</th>
                                                                    <th>Order Details</th>
                                                                    <th>Order</th>
                                                                    <th>User</th>
                                                                    <th>Status</th>
                                                                    <th>ReStatus</th>
                                                                    <th>Created Date</th>
                                                                    <th>Updated Date</th>



                                                                </tr>
                                                                </thead>
                                                                <tbody id="tbody2">
                                                                <td></td>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                     </div>



                                </div>


                                <div class="card card_style">
                                    <div class="card-header"><b>Repayment Information</b>
                                        <button type="button" onclick="get_data()" class="btn btn-primary" style="float:right;" data-toggle="collapse" data-target="#collapse1">view all</button>



                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">

                                            {% if payment %}
                                            <p><b>Repayment Amount</b> : {{payment.0}}</p>

                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">

                                            <p><b>Repayment Count</b> : {{payment.1}}</p>
                                            {% endif %}
                                        </div>
                                    </div>




                                    <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true"
                                         style="">
                                         <div class="card-block">
                                          <div class="col-sm-9" id="msg_err" style="float:center;">
                                              <b><h4 class="text-center" id="msg2"></h4></b>
                                          </div>
                                         </div>
<!--                                        <div class="panel-body-container">-->
<!--                                            <div class="panel-body mCustomScrollbar _mCS_1 mCS_no_scrollbar">-->
<!--                                                <div id="mCSB_1"-->
<!--                                                     class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside"-->
<!--                                                     style="max-height: 150px;" tabindex="0">-->
<!--                                                    <div id="mCSB_1_container"-->
<!--                                                         class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"-->
<!--                                                         style="position:relative; top:0; left:0;" dir="ltr">-->
                                                        <div class="table-responsive">
                                                            <div class="table-content">
                                                                <div class="project-table">
                                                                    <div class="dt-responsive table-responsive">
                                                                        <table id="table-style-hover"
                                                                               class="table table-striped table-hover table-bordered nowrap">
                                                                            <thead>
                                                                            <tr>
                                                                                <th>Sr.no</th>
                                                                                <th>Order Id</th>
                                                                                <th>Transaction ID</th>
                                                                                <th>PG Transaction ID</th>
                                                                                <th>Status</th>
                                                                                <th>Category</th>
                                                                                <th>Type</th>
                                                                                <th>Amount</th>
                                                                                <th>Date</th>
                                                                                <th>Response Code</th>


                                                                            </tr>
                                                                            </thead>
                                                                            <tbody id="tbody">
                                                                                <td></td>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                    </div>
                                </div>



                                 <div class="card card_style">
                                    <div class="card-header"><b>Payment Information</b></div>
                                     <br>
                                    {% if payment_slab %}
                                    {%for slab in payment_slab %}

                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">
                                            <p><b>Date</b> : {{slab.date}}</p>
                                            <p><b>Credit Amount</b> : {{slab.credit_amt}}</p>
                                            <p><b>Pay Status</b> : {{slab.pay_status}}</p>
                                            <br>
                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">

                                            <p><b>Time</b> : {{slab.time}}</p>
                                            <p><b>Remaining Amount</b> : {{slab.remaining_amount}}</p>
                                            <p><b>Is Overdue</b> : {{slab.is_overdue}}</p>
                                        </div>
                                    </div>
                                    {%endfor%}
                                    {%endif%}
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<style>
    p{font-size:1.1vw}
    .card_style
    {
    width:70%;
    border-style:solid;
    border-width:1px;
    text-align:center;
    padding:2%;
    }

    .card-header{
    font-size:1.2vw;
    }



</style>



<script>

     var user = document.getElementById('user').value;
     console.log(user);
     if(user == 'Seller'){
     console.log('inside ');
     document.getElementById('customer_info_card').type.display = "none";
     }

     var prev = document.getElementById('order_status').value;
     document.getElementById('change_order_status').value = prev;

     var prev1 = document.getElementById('order_deatails_status').value;
     console.log('prev1', prev1);

     document.getElementById('change_order_details_status').value = prev1;



    function call_change_status(type){
    if (type == 'order'){
        var status = document.getElementById('change_order_status').value;
        var order_id = document.getElementById('order_id').value;
        var txt;

            if(status=="cancelled"){
            var o_id = document.getElementById('order').value;
            console.log("order id",order_id);
            var unique_order_id = document.getElementById('unique').value;
            var waybill_no = document.getElementById('waybill').value;
            var msg="Please note down before cancelling the order \n Unique ID : "+unique_order_id+"\n Order ID : "+o_id+"\n Waybill No. : "+waybill_no+"\nDo you want to Cancel order ?"
            if (confirm(msg)) {
             } else {
            return false;
            }
            }



    }

    if (type == 'order_details'){
        var status = document.getElementById('change_order_details_status').value;
        var order_id = document.getElementById('order_details_id').value;
    }





     $.ajax({
        type: "POST",
        data: {
            'status': status,
            'type': type,
            'order_id':order_id
        },
        url: "/ecom/change_status/",
        success: function(data){

        var data = JSON.parse(data);

        console.log(data);

        if (data['status']== 'success'){

            alert("Status Changed Successfully!!!");

        }
        else
        {
         alert("Something Went Wrong ");

        }

        }
        });

    }


</script>
<script>
function get_data(){
    var status = "repayment"
    var order_id = document.getElementById('order_id').value;
    console.log("order_id", order_id);

      $.ajax({
                type: "POST",
                data: {
                    'status':status,
                    'order_id':order_id,
                },
                url: "/ecom/order_details_related_data1/",
                success: function(data) {
                 var data = JSON.parse(data);
                 console.log("dataaa",data)
                 $("#table-style-hover").find("tr:not(:first)").empty();
                 var length = data["length"]
                 console.log("length---",length)
                 console.log("==========",data['msg'])
                 if (data['msg']=="Data Not Found")
                 {
                       console.log("hhhhhhhhhhhhhhhhh");
                       $("#msg_err").show();
                       $("#table-style-hover").hide();
                       document.getElementById('msg2').innerHTML = data['msg'];
                     }
               else{
                 for (var i=0; i<length; i++){
                         var sr_no = i + 1;
                         var order_id = data["data"][i]["order_id"]
                         var transaction_id = data["data"][i]["transaction_id"]
                         var pg_transaction_id = data["data"][i]["pg_transaction_id"]
                         var status = data["data"][i]["status"]
                         var category = data["data"][i]["category"]
                         var type = data["data"][i]["type"]
                         var amount = data["data"][i]["amount"]
                         var date = data["data"][i]["date"]
                         var response_code = data["data"][i]["response_code"]
                         $("#tbody").append("<tr><td>"+ sr_no + "</td><td>"  + order_id + "</td><td>" + transaction_id + "</td><td>" + pg_transaction_id + "</td><td>" + status + "</td><td>" + category + "</td><td>" + type + "</td><td>" + amount + "</td><td>" + date + "</td><td>" + response_code +  "</td></tr>")
                         }
                 }
                }
                });
                }
</script>
<script>
function get_data_1(){
    var status = "credit"
    var order_id = document.getElementById('order_id').value;
    console.log("order_id-id",order_id)
      $.ajax({
                type: "POST",
                data: {
                    'status':status,
                    'order_id':order_id,
                },
                url: "/ecom/order_details_related_data1/",
                success: function(data) {
                 var data = JSON.parse(data);
                 console.log("dataaa",data)
                 $("#table-style-hover1").find("tr:not(:first)").empty();
                 var length = data["length"]
                 console.log("length---",length)
                 if (data['msg']=="Data Not Found")
                 {
                       console.log("hhhhhhhhhhhhhhhhh");
                       $("#msg_erro").show();
                       $("#table-style-hover1").hide();
                       document.getElementById('msg3').innerHTML = data['msg'];
                     }
               else{
                 for (var i=0; i<length; i++){
                         var sr_no = i + 1;
                         var credit = data["data"][i]["credit"]
                         var used_credit = data["data"][i]["used_credit"]
                         var balance_credit = data["data"][i]["balance_credit"]
                         var actual_used = data["data"][i]["actual_used"]
                         var repayment = data["data"][i]["repayment_add"]
                         var user = data["data"][i]["username"]
                         var status = data["data"][i]["status"]
                         var re_status = data["data"][i]["re_status"]
                         var created_date = data["data"][i]["created_date"]
                         var updated_date = data["data"][i]["updated_date"]

                        $("#tbody1").append("<tr><td>"+sr_no+"</td><td>"  + credit + "</td><td>" + used_credit + "</td><td>" + balance_credit + "</td><td>" + actual_used + "</td><td>" + repayment + "</td><td>" + user + "</td><td>" + status + "</td><td>" + re_status + "</td><td>" + created_date + "</td><td>" + updated_date  +  "</td></tr>")
                         }
                    }
                },
                });
                }
</script>
<script>
function get_data_2(){
    var status = "wallet"
    var order_id = document.getElementById('order_id').value;
    console.log("order_id-id",order_id)
      $.ajax({
                type: "POST",
                data: {
                    'status':status,
                    'order_id':order_id,
                },
                url: "/ecom/order_details_related_data1/",
                success: function(data) {
                 var data = JSON.parse(data);
                 console.log("dataaa",data)
                 $("#table-style-hover2").find("tr:not(:first)").empty();
                 var length = data["length"]
                 console.log("length---",length)
                   if (data['msg']=="Data Not Found")
                 {
                       console.log("hhhhhhhhhhhhhhhhh");
                       $("#msg_errorr").show();
                       $("#table-style-hover2").hide();
                       document.getElementById('msg1').innerHTML = data['msg'];
                     }
                 else{
                 for (var i=0; i<length; i++){
                         var sr_no = i + 1;
                         var amount_add = data["data"][i]["amount_add"]
                         console.log("amount_addd",amount_add)
                         var used_amount = data["data"][i]["used_amount"]
                         var balance_amount = data["data"][i]["balance_amount"]
                         var payment_amount = data["data"][i]["payment"]
                         var order_text = data["data"][i]["order_detail"]
                         var order_id = data["data"][i]["order"]
                         var user = data["data"][i]["username"]
                         var status = data["data"][i]["status"]
                         var re_status = data["data"][i]["re_status"]
                         var created_date = data["data"][i]["created_date"]
                         var updated_date = data["data"][i]["updated_date"]

                         $("#tbody2").append("<tr><td>"+sr_no+"</td><td>"  + amount_add + "</td><td>" + used_amount  + "</td><td>" + balance_amount + "</td><td>" + payment_amount + "</td><td>" + order_text + "</td><td>" + order_id + "</td><td>" + user + "</td><td>" + status + "</td><td>" + re_status + "</td><td>" + created_date + "</td><td>" + updated_date +  "</td></tr>")
                         }
                 }
                },
                });
                }
</script>
<script>
function get_data_3(){
    var status = "logistics"
    var order_id = document.getElementById('order_id').value;
    console.log("order_id-id",order_id)
      $.ajax({
                type: "POST",
                data: {
                    'status':status,
                    'order_id':order_id,
                },
                url: "/ecom/order_details_related_data1/",
                success: function(data) {
                 var data = JSON.parse(data);
                 console.log("dataaa",data)
                 $("#table-style-hover3").find("tr:not(:first)").empty();
                 var length = data["length"]
                 console.log("length---",length)
                 var msg = data["msg"]
                 console.log("msg==============",msg)
                 if (data['msg']=="Data Not Found")
                 {
                       console.log("hhhhhhhhhhhhhhhhh");
                       $("#msg_error").show();
                       $("#table-style-hover3").hide();
                       document.getElementById('msg').innerHTML = data['msg'];
                     }
                 else{
                     for (var i=0; i<length; i++){
                             var sr_no = i + 1;
                             var order_id = data["data"][i]["order_id"]
                             var waybill_no = data["data"][i]["waybill_no"]
                             var refnum = data["data"][i]["refnum"]
                             var remark = data["data"][i]["remark"]
                             var logistics = data["data"][i]["logistics"]
                             var status = data["data"][i]["status"]
                             var re_status = data["data"][i]["re_status"]
                             var order_data_text = data["data"][i]["order_data_text"]
                             var order_mode = data["data"][i]["order_mode"]
                             var created_date = data["data"][i]["created_date"]
                             var updated_date = data["data"][i]["updated_date"]

                            $("#tbody3").append("<tr><td>"+sr_no+"</td><td>"  + order_id + "</td><td>" + waybill_no  + "</td><td>" + refnum + "</td><td>" + remark + "</td><td>" + logistics + "</td><td>" + status + "</td><td>" + re_status + "</td><td>" + order_data_text + "</td><td>" + order_mode + "</td><td>" + created_date + "</td><td>" + updated_date +  "</td></tr>")
                             }
                     }
                },
                });
                }
</script>

<script>
function get_data_5(){
    var status = "order"
    var order_id = document.getElementById('order_id').value;

      $.ajax({
                type: "POST",
                data: {
                    'status':status,
                    'order_id':order_id,
                },
                url: "/ecom/order_details_related_data1/",
                success: function(data) {
                 var data = JSON.parse(data);
                 console.log("dataaa",data)
                 $("#table-style-hover5").find("tr:not(:first)").empty();

                 var msg = data["msg"]
                 console.log("msg==============",msg)
                 if (data['msg']=="Data Not Found")
                 {
                       console.log("hhhhhhhhhhhhhhhhh");
                       $("#msg_error").show();
                       $("#table-style-hover5").hide();
                       document.getElementById('msg').innerHTML = data['msg'];
                     }
                 else{
                           var length = data["length"]
                        console.log("length---",length)

                       for (var i=0; i<length; i++){
                         var sr_no = i + 1;
                         var image = data["sellers_orders"][i]["image"]
                         var order_id = data["sellers_orders"][i]["order_id"]
                         var unique_order_id = data["sellers_orders"][i]["unique_order_id"]
                         var sku = data["sellers_orders"][i]["sku"]
                         var name = data["sellers_orders"][i]["name"]
                         var quantity = data["sellers_orders"][i]["quantity"]
                         var amount = data["sellers_orders"][i]["amount"]
                         var total_amount = data["sellers_orders"][i]["total_amount"]
                         var user = data["sellers_orders"][i]["user"]
                         var date = data["sellers_orders"][i]["date"]
                         var status = data["sellers_orders"][i]["status"]
                         var payment_mode = data["sellers_orders"][i]["payment_mode"]
                         var payment_type = data["sellers_orders"][i]["payment_type"]
                         var order = data["sellers_orders"][i]["order"]
                         path = '"' + image + '"';


                         img =
						"<img src=" +
						path +
						' class="img-fluid" style="height: 100px;" width="100" height="100"' +
						">";



                         new_url = '"/ecom/order-all-details/' + order +  '/"'

                         anchor_tag ='<a href=' + new_url + '>' + order_id + '</a>'

                         new_url_2 = '"/ecom/order_related_data/' + order +  '/"'

                         anchor_tag_2 ='<a href=' + new_url_2 + '>' + unique_order_id + '</a>'


                         $("#tbody5").append("<tr><td>"+sr_no+"</td><td>"+ img + "</td><td>"+ anchor_tag +"</td><td>"+ anchor_tag_2 + "</td><td>"+ sku+"</td><td>"+name+"</td><td>"+quantity+"</td><td>"+ amount + "</td><td>" + total_amount+"</td><td>"+payment_type + "</td><td>"+payment_mode +"</td><td>"+user+"</td><td>"+date+"</td><td>"+status+ "</td></tr>")

                         }
                     }
                },
                });
                }
</script>




{% endblock %}