{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Name</th>
                                                <th>Mobile No</th>
                                                <th>Order ID</th>
                                                <th>Unique Order ID</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                                <th>Total Amount</th>
                                                <th>Repayment</th>
                                                <th>Pending</th>
                                                <th>Payment Mode</th>
                                                <th>Payment type</th>
                                                <th>Date</th>
                                                <th>Sellers Name</th>
                                                <th>Status</th>



                                            </tr>
                                            </thead>
                                            {% if order_data %}

                                            {% for order, data in order_data.items %}

                                            <tr>


                                                <td>{{forloop.counter}}</td>
                                                 <td>{{data.0}}</td>
                                                <td>{{data.1}}</td>
                                                <td><a href="/ecom/order-all-details/{{order.id}}/">{{order.order_id}}</a></td>
                                                <td><a href="/ecom/order_related_data/{{order.id}}/">{{order.unique_order_id}}</a></td>
                                                {% if data.6 == None %}
                                                <td>{{order.quantity}}</td>
                                                {% else %}
                                                <td><a href="/ecom/order_details_related_data/{{data.6}}/">{{order.quantity}}</a></td>
                                                {% endif %}
                                                <td>{{order.amount}}</td>
                                                <td>{{order.total_amount}}</td>
                                                <td>{{data.2}}</td>
                                                <td>{{data.4}}</td>
                                                 <td>{{data.5}}</td>
                                                <td>{{data.3}}</td>

                                                <td>{{order.created_date}}</td>
                                                <td>{{order.product_details.user.username}}</td>
                                                <td>{{order.status}}</td>



                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
