{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order Id</th>
                                                <th>Transaction Id</th>
                                                <th>Pg Transaction Id</th>
                                                <th>Status</th>
                                                <th>Category</th>
                                                <th>Mode</th>
                                                <th>Type</th>
                                                <th>Amount</th>
                                                <th>Pay Source</th>




                                            </tr>
                                            </thead>
                                            {{data}}
                                            {% if payment_obj %}
                                            {% for obj in payment_obj %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>

                                                <td>{{obj.order_id}}</td>
                                                <td>{{obj.transaction_id}}</td>
                                                <td>{{obj.pg_transaction_id}}</td>
                                                <td>{{obj.status}}</td>
                                                <td>{{obj.category}}</td>
                                                <td>{{obj.mode}}</td>
                                                <td>{{obj.type}}</td>
                                                <td>{{obj.amount}}</td>
                                                <td>{{obj.pay_source}}</td>






                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
