{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>


                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            {% if all_data %}
                                            <tr>
                                                <th>Sr.no</th>
                                                {% if len %}
                                                <th>Date</th>
                                                {% else %}
                                                <th>Month</th>
                                                {% endif %}
                                                <th>Placed Orders</th>
                                                <th>Packed Orders</th>
                                                <th>Dispatched Orders</th>
                                                <th>Delivered Orders</th>
                                                <th>Total Orders</th>

                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for month, count in all_data.items %}

                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                {%if len%}
                                                <td>{{month}}</td>
                                                {% else %}
                                                <td><a href="/ecom/order_wise_date_wise_orders/{{month}}/">{{month}}</a>
                                                </td>
                                                {%endif%}
                                                <td><a href="/ecom/order_wise_orders/{{month}}/placed/">{{count.0}}</a></td>
                                                <td><a href="/ecom/order_wise_orders/{{month}}/packed/">{{count.1}}</a></td>
                                                <td><a href="/ecom/order_wise_orders/{{month}}/dispatched/">{{count.2}}</a></td>
                                                <td><a href="/ecom/order_wise_orders/{{month}}/delivered/">{{count.3}}</a></td>
                                                <td><a href="/ecom/order_wise_orders/{{month}}/all/">{{count.4}}</a></td>

                                            </tr>

                                            {% endfor %}
                                            {% endif %}


                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


{% endblock %}
