
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tax Invoice</title>
     <link rel="stylesheet" type="text/css" href="/static/ecom/bower_components/bootstrap/css/bootstrap.min.css">

</head>
<body>
    <div class="page-body">
         <div class="container">
            <center>
               <h4><b>Tax Invoice</b></h4>
            </center>
             <div class="row" style="margin-left:0.5%;">
               <div class="col-4">
                  <div class="row">
                     <img src="/static/ecom/images/creditkart.png" width="105" height="74" class="m-b-10" alt="">
                  </div>
                  <div class="row">
                     The Creditkart,
                  </div>
                  <div class="row">
                     13, 14, 15 & 16, Downtown City Vista,<br>
                     Kharadi, Pune 411014
                  </div>
                  <div class="row">
                     Email - info@thecreditkart.com
                  </div>
                  <div class="row">
                     Contact - +91 9807289807
                  </div>
               </div>

            </div>
             <br>
             <br>
             <div class="row">
                 <div class="col-4">
                      <h6><b>Customer Address :</b></h6>
                     <br>
                  <h6>{{order_details.address.address}}
                  </h6>
                 </div>
                 <div class="col-4">
                     <h6><b>Order Information :</b></h6>
                     <br>
                     <h6>Order ID : {{order.order_id}}</h6>
                     <h6>Unique Order Id : {{order.unique_order_id}}</h6>
                     <h6>Date : {{order.created_date}}</h6>
                     <h6>SKU:  {{order.product_details.sku}}</h6>
                 </div>
                 <div class="col-4">
                     <h6><b>Product Information : </b></h6>
                     <br>
                       <h6>Size : {{order.product_details.size_id.name}}</h6>
                       <h6>Colour : {{order.product_details.colour_id.name}}</h6>
                 </div>
             </div>
             <br>
             <br>
             <div class="row">
                 <div class="col-sm-12">
                     <div class="table-responsive">
                         <table class="table  invoice-detail-table">
                             <thead>
                             <tr class="thead-default">
                                 <th>Product Name</th>
                                 <th>Quantity</th>
                                 <th>Unit Price</th>
                                 <th>Total Price</th>
                                 <th>Tax</th>
                                 <th>Total Amount</th>
                             </tr>
                             </thead>
                             <tbody>

                             <tr>
                                 <td>{{order.product_details.product_id.name}}</td>
                                 <td>{{order.quantity}}</td>
                                 <td>{{mudra_amount}}</td>
                                 <td>{{total_mudra_amount}}</td>
                                 <td>{{total_additional_amount}}</td>
                                 <td>{{total_amount}}</td>
                             </tr>

                             </tbody>
                         </table>
                     </div>
                 </div>
             </div>
             <br>
             <br>
             <div class="row" style="float:right">
                  <div class="col-sm-12">
                      <table class="table table-responsive invoice-table invoice-total">
                          <tbody>
                          <tr class="text-info">
                              <td>
                                  <h5 class="text-primary">Total :</h5>
                              </td>
                              <td>
                                  <h5 class="text-primary">{{total_amount}}</h5>
                              </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
             <br>
             <br>
             <div class="row">
                  <div class="col-sm-12">
                      <h6><b>Terms And Conditions :</b></h6>
                            <p>At CreditKart, we take pride in our quality products
                                and services and we value our relationship with you.
                                If at any time you feel our products do not meet your needs,
                                please return the item by following our e-commerce return policy
                                within the applicable 7 day period.</p>
                        </div>
             </div>
         </div>
    </div>



</body>
</html>
