{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Prodcuct name</th>
                                                <th>Order ID</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                                <th>Unique order ID</th>

                                            </tr>
                                            </thead>
                                            {% if obj %}
                                            {% for obj in obj %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>

                                                <td>{{obj.order.product_details.product_id.name}}</td>
                                                <td>{{obj.order.order_id}}</td>
                                                <td>{{obj.order.quantity}}</td>
                                                <td>{{obj.order.amount}}</td>
                                                <td>{{obj.order.unique_order_id}}</td>




                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
