{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide">
                                  {%if request.user|has_group:"EcomAdmin" %}
                                {% if id_list %}
                                <form method="POST" action="/ecom/return_orders_csv/{{id_list}}/{{status}}/">
                                    {% csrf_token %}

                                    <button type="submit" class="btn btn-primary btn-lg" style="float:right;"> Download
                                        CSV
                                    </button>
                                </form>
                                {% endif %}
                                {% endif %}

<br>
                            </div>

                    <br>
                            <div class="tab-content">
                                <br><br>
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order ID</th>
                                                <th>Unique Order ID</th>
                                                <th>Product SKU</th>
                                                <th>Product Name</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                                <th>Total Amount</th>
                                                <th>Payment Mode</th>
                                                <th>Payment Type</th>
                                                <th>Seller</th>

                                                <th>Date</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            {% if sellers_orders %}
                                            {% for order, payment_mode in sellers_orders.items %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>

                                                <td>
                                                    <a href="/ecom/order-all-details/{{order.id}}/">{{order.order_id}}</a>
                                                </td>

                                                <td><a href="/ecom/order_related_data/{{order.id}}/">{{order.unique_order_id}}</a></td>

                                                {% if payment_mode.2 == None %}
                                                <td>{{order.product_details.sku}}</td>
                                                {% else %}
                                                  <td><a href="/ecom/order_details_related_data/{{payment_mode.2}}/">{{order.product_details.sku}}</a></td>
                                                {% endif %}
                                                <td>{{order.product_details.product_id.name}}</td>
                                                <td>{{order.quantity}}</td>
                                                <td>{{order.amount}}</td>
                                                <td>{{order.total_amount}}</td>
                                                    <td>{{payment_mode.0}}</td>
                                                    <td>{{payment_mode.1}}</td>
                                                <td>{{order.product_details.user}}</td>

                                                <td>{{order.date}}</td>
                                                <td>{{order.status}}</td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}


                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
