{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    Order ID: {{order.order_id}}<br>
                                    Unique Order ID: {{order.unique_order_id}}<br>
                                    Product SKU: {{order.product_details.sku}}<br>
                                    Product Name: {{order.product_details.product_id.name}}<br>
                                    Product Category: {{order.product_details.product_id.category.name}}<br>
                                    Product Subcategory: {{order.product_details.product_id.sub_category.name}}<br>
                                    Product Size: {{order.product_details.size_id.name}}<br>
                                    Product Colour: {{order.product_details.colour_id.name}}<br>
                                    Product Height: {{order.product_details.height}}<br>
                                    Product Weight: {{order.product_details.weight}}<br>
                                    Product Width: {{order.product_details.width}}<br>
                                    Product Length: {{order.product_details.Length}}<br>
                                    Quantity: {{order.quantity}}<br>
                                    Amount: {{order.amount}}<br>
                                    Total Amount: {{order.total_amount}}<br>
                                    Current order status: {{order.status}}
                                    <form action="/ecom/change-order-status/" method="POST">{% csrf_token %}
                                        <input type="hidden" name="order_id" value="{{order.id}}">
                                        Select Status:
                                        <select name="status">
                                            <option value="accepted">accepted</option>
                                            <option value="pending">pending</option>
                                            <option value="rejected">rejected</option>
                                            <option value="packing">packing</option>
                                            <option value="shipped">shipped</option>
                                        </select><br>
                                        <label for="pincode">Ener Pin-Code:</label>
                                        <input name="pincode" type="text" class="text" id="pincode"
                                               onkeyup="testIt(this.value);" required><br>

                                        <label for="pincode">Ener Taluka:</label>
                                        <input class="col-xs-12" id="taluka" name="taluka"
                                               type="text" placeholder="taluka"><br>

                                        <label for="pincode">Ener City:</label>
                                        <input class="col-xs-12" id="city" name="city"
                                               type="text" placeholder="City"><br>

                                        <label for="pincode">Enter State:</label>
                                        <input class="col-xs-12" id="state" name="state"
                                               type="text" placeholder="state"><br>
                                        <input type="submit" value="submit">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var testIt = function testIt(num) {

        if (num.length === 6) {
        console.log('helloooooo');
        ready()
        }
        }




</script>

<script>
            function ready() {
            console.log('inside ready function');
            var pin_code = document.getElementById('pincode').value;
            console.log(pin_code);

            $.ajax({
                    type: "POST",
                    data: {
                        'pin_code': pin_code,
                    },
                    url: "/ecom/check_pin_code/",
                    success: function(data) {

                    var data = JSON.parse(data);
                    console.log("--success", data);
                    var status = data['status'];
                    if (status==="2"){
                    console.log('data is empty');
                    alert("Data is not available for this Pin code.. PLease enter data Manually..");
                    }
                    else{
                    var pincode = data['pin_code'];
                    var taluka = data['taluka'];
                    var city = data['city'];
                    var state = data['state'];
                    console.log('-----------------');
                    console.log(pincode);
                    console.log(taluka);
                    console.log(state);
                    document.getElementById('taluka').value = taluka;
                    document.getElementById('city').value = city;
                    document.getElementById('state').value = state;
                    }
                    },
                    error: function(data) {
                    console.log("--error",data);
                    }
                });
            }


</script>
{% endblock %}