
{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

       <link rel="stylesheet" type="text/css" href="/static/ecom/bower_components/bootstrap/css/bootstrap.min.css">

   <body>
      <div class="page-body">
         <div class="container">
             <div class="card">
                  <div class="card-block">
            <center>
               <h4><b>Order Information</b></h4>
            </center>
            <div class="row"  style="margin-left:0.5%;">
               <div class="col-4">
                  <div class="row">
                     <img src="/static/ecom/images/creditkart.png" width="105" height="74" class="m-b-10" alt="">
                  </div>
                  <div class="row">
                     The Creditkart,
                  </div>
                  <div class="row">
                     13, 14, 15 & 16, Downtown City Vista,<br>
                     Kharadi, Pune 411014
                  </div>
                  <div class="row">
                     Email - info@thecreditkart.com
                  </div>
                  <div class="row">
                     Contact - +91 9807289807
                  </div>
               </div>


            </div>
             <br>
             <br>

             <div class="row">
                 <div class="col-sm-12">
                     <div class="table-responsive">
                         <table class="table  invoice-detail-table">
                             <thead>
                             <tr class="thead-default">
                                 <th>Order ID</th>
                                 <th>Product Name</th>
                                 <th>Quantity</th>
                                 <th>Unit Price</th>
                                 <th>Total Price</th>
                                 <th>Tax</th>
                                 <th>Total Amount</th>
                             </tr>
                             </thead>
                             <tbody>
                             {% if order_data %}
                             {% for order, amount in order_data.items %}
                             <tr>
                             <td>{{order.unique_order_id}}</td>
                             <td>{{order.product_details.product_id.name}}</td>
                             <td>{{order.quantity}}</td>
                             <td>{{amount.0}}</td>
                             <td>{{amount.1}}</td>
                             <td>{{amount.2}}</td>
                             <td>{{amount.3}}</td>
                             </tr>
                             {% endfor %}
                             {% endif %}
                             </tbody>
                         </table>
                     </div>
                 </div>
             </div>
             <br>
              <div class="row" style="float:right">
                  <div class="col-sm-12">
                      <table class="table table-responsive invoice-table invoice-total">
                          <tbody>
                          <tr class="text-info">
                              <td>
                                  <h5 class="text-primary">Total :</h5>
                              </td>
                              <td>
                                  <h5 class="text-primary">{{final_total_amount}}</h5>
                              </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
                      <center><div class="card" style="padding:30px;">
                          <b><h3>Pack Multiple Orders Here</h3></b>

                            <center style="padding:15px;">
                            <input type="button" class="btn btn-primary"
                                                         onclick="call_packed_order({{order_details_obj.id}});"
                                                         value="Packed Order" style="">
                            </center>


                      </div></center>
         </div>
      </div>
    </div>
      </div>

   <script>
    function call_packed_order(order_details_id){


    var order_details_id = order_details_id
    console.log("order_details_id", order_details_id);

     $.ajax({
        type: "POST",
        data: {
            'order_details_id': order_details_id,

        },
        url: "/ecom/packed_order_details/",
        success: function(data){

        var data = JSON.parse(data);

        console.log(data);

        if (data['msg']== 'success'){

            alert("Order Packed Successfully!!!");

        }
        else
        {
         alert("Something Went Wrong ");

        }

        }
        });

    }


</script>

   </body>


{% endblock %}