{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            <input type="hidden" id="len" value="{{len}}">

                                            <tr>
                                                <th>Sr.no</th>
                                                {% if len %}
                                                <th>Day</th>
                                                {% else %}
                                                <th>Month</th>
                                                {% endif %}
                                                <th>Order Cancle Amount</th>
                                                <th>Return Amount</th>
                                                <th>Order Amount</th>
                                                <th>Repayment Amount</th>

                                            </tr>
                                            </thead>
                                            {% if data %}
                                            <tr>
                                                {% for date,sum in data.items %}
                                                <td>{{forloop.counter}}</td>
                                                {% if len %}
                                                <td>{{date}}</td>

                                                <td>
                                                    <a href="/ecom/order_details/{{date}}/order_cancle/">{{sum.0}}</a>
                                                </td>
                                                <td>
                                                    <a href="/ecom/order_details/{{date}}/return/">{{sum.1}}</a>
                                                </td>
                                                <td>
                                                    <a href="/ecom/order_details/{{date}}/order/">{{sum.2}}</a>
                                                </td>
                                                <td>
                                                    <a href="/ecom/order_details/{{date}}/repayment/">{{sum.3}}</a>
                                                </td>


                                                {% else %}
                                                <td><a href="/ecom/date_wise_payment_wise_amount/{{date}}/">{{date}}</a>
                                                </td>
                                                <td>{{sum.0}}</a></td>
                                                <td>{{sum.1}}</td>
                                                <td>{{sum.2}}</td>
                                                <td>{{sum.3}}</td>
                                                {% endif %}

                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

