{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <center>

                                        {% if data %}
                                        {%for order in data%}
                                        <div class="card card_style">
                                            <div class="card-header"><b>Order Information</b></div>
                                            <div class="row">
                                                <div class="col-sm-6" style="text-align:left;">


                                                    <input type="hidden" id="unique" value="{{order.unique_order_id}}">
                                                    <input type="hidden" id="order" value="{{order.order_id}}">

                                                    <p><b>Order ID</b> : {{order.order_id}}</p>
                                                    <p><b>Unique Order ID</b> : {{order.unique_order_id}}</p>
                                                    <p><b>Due Amount</b> : <label style="color:red;">{{due}}</label></p>
                                                    <p><b>Quantity</b> : {{order.quantity}}</p>
                                                    <p><b>Amount</b> : {{order.amount}}</p>
                                                    <p><b>Total Amount</b> : {{order.total_amount}}</p>
                                                    <p><b>Order Status</b> : {{order.status}}</p>

                                                    <!--                                            <p><b>Status</b> : {{order.status}}</p>-->
                                                    <input type="hidden" value="{{order.status}}" id="order_status">
                                                    <input type="hidden" value="{{order.id}}" id="order_id">


                                                </div>
                                                <div class="col-sm-6" style="text-align:left;">
                                                    <p><b>Delivery Charges</b> : {{order.delivery_charges.amount}}</p>
                                                    <p><b>Date</b> : {{order.created_date}}</p>
                                                    <p><b>Product Name</b> : {{order.product_details.product_id.name}}
                                                    </p>
                                                    <p><b>Product ID</b> :
                                                        {{order.product_details.product_id.product_id}}
                                                    </p>
                                                    <p><b>ProductDetails ID</b> :
                                                        {{order.product_details.unique_product_details_id}}</p>


                                                </div>
                                            </div>
                                        </div>
                                        {%endfor%}
                                        {%endif%}


                                        <div class="card card_style">
                                            <div class="card-header"><b>Order Details Information</b></div>

                                            <div class="row">
                                                <div class="col-sm-6" style="text-align:left;">

                                                    {% if order_deatils %}
                                                    <p><b>Order Text</b> : {{order_deatils.order_text}}</p>

                                                    {% if credit %}
                                                    <p><b>Balance Credit</b> : {{credit.0}}</p>
                                                    <p><b>Used Credit</b> : {{credit.1}}</p>
                                                    {% endif %}
                                                    {% if wallet %}
                                                    <p><b>wallet Balance Amount</b> : {{wallet.0}}</p>
                                                    <p><b>Wallet Used Amount</b> : {{wallet.1}}</p>


                                                    {% endif %}


                                                </div>
                                                <div class="col-sm-6" style="text-align:left;">

                                                    <p><b>Total Amount</b> : {{order_deatils.total_amount}}</p>
                                                    <p><b>Total Quantity</b> : {{order_deatils.total_quantity}}</p>
                                                    <p><b>Pay Amount</b> : {{order_deatils.pay_amount}}</p>
                                                    <p><b>Order Details Status</b> : {{order_deatils.status}}</p>

                                                    <input type="hidden" value="{{order_deatils.status}}"
                                                           id="order_deatails_status">
                                                    <input type="hidden" value="{{order_deatils.id}}"
                                                           id="order_details_id">

                                                    <p><b>Change Status</b> :

                                                        <select id="change_order_details_status">
                                                            <option value="placed">placed</option>
                                                            <option value="cancelled">cancelled</option>
                                                            <option value="pending">pending</option>


                                                        </select></p>
                                                    <p>
                                                        <input type="button" class="btn btn-primary"
                                                               onclick="call_change_status('order_details','{{order_deatils.status}}');"
                                                               value="change status"
                                                               style=" float: right;margin-right:12%;">

                                                    </p>

                                                    {%endif%}
                                                </div>
                                            </div>
                                        </div>

                                    </center>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>
<!--<style>-->
<!--    p{font-size:1.1vw}-->


<!--</style>-->
<style>
    p{font-size:1.1vw}
    .card_style
    {
    width:70%;
    border-style:solid;
    border-width:1px;
    text-align:center;
    padding:2%;
    }

    .card-header{
    font-size:1.2vw;
    }


















</style>
<script>
    var prev1 = document.getElementById('order_deatails_status').value;
     document.getElementById('change_order_details_status').value = prev1;


    function call_change_status(type,status_prev){
    if (type == 'order_details'){
        var status = document.getElementById('change_order_details_status').value;
        var order_id = document.getElementById('order_details_id').value;
    }
    if(status_prev == status){
    alert("Please select new status");
    }
    else{


     $.ajax({
        type: "POST",
        data: {
            'status': status,
            'type': type,
            'order_id':order_id
        },
        url: "/ecom/change_status/",
        success: function(data){

        var data = JSON.parse(data);

        console.log(data);

        if (data['msg']){

            alert(data['msg']);

        }
        else
        {
         alert("Something Went Wrong ");

        }

        }
        });

    }
    }

















</script>
{% endblock %}