{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<head>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="/static/cdn/js/jquery(3.2.1).min.js"></script>
<!--    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
    <link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>
<!--    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>-->
    <script src="/static/cdn/js/select2(4.0.13).min.js"></script>
</head>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">



                                    <div class="dt-responsive table-responsive"><br>

                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>

                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order ID</th>
                                                <th>Unique Order ID</th>
                                                <th>Product Name</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                                <th>Total Amount</th>
                                                <th>Delivery Charges</th>
                                                <th>Convenient Fees</th>
                                                <th>Date</th>
                                                <th>Sellers Name</th>
                                                <th>Status</th>
                                                {% if request.user|has_group:"EcomAdmin" %}
                                                <th>Change Status</th>
                                                <th>Action</th>
                                                {% endif %}

                                            </tr>
                                            </thead>

                                            <tr>
                                                {% for order, order_details_id in all_data.items %}


                                                <td>{{forloop.counter}}</td>
                                                <td>
                                                    <a href="/ecom/order-all-details/{{order.id}}/">{{order.order_id}}</a>
                                                </td>
                                                <td><a href="/ecom/order_related_data/{{order.id}}/">{{order.unique_order_id}}</a>
                                                </td>
                                                 {% if order_details_id == None %}
                                                <td>{{order.product_details.product_id.name}}</td>
                                                {% else %}
                                                <td><a href="/ecom/order_details_related_data/{{order_details_id}}/">{{order.product_details.product_id.name}}</a></td>
                                                {% endif %}
                                                <td>{{order.quantity}}</td>
                                                <td>{{order.amount}}</td>
                                                <td>{{order.total_amount}}</td>
                                                <td>{{order.delivery_charges.amount}}</td>
                                                <td>{{order.convenient_fees.amount}}</td>
                                                <td>{{order.date}}</td>
                                                <td>{{order.product_details.user.username}}</td>
                                                <td>{{order.status}}</td>
                                                {% if request.user|has_group:"EcomAdmin" %}
                                                <td> <select id="change_order_status">
                                                    <option value="" selected disabled>Select Status</option>
                                                    <option value="initiated">initiated</option>
                                                    <option value="placed">placed</option>
                                                    <option value="accepted">accepted</option>
                                                    <option value="packing">packing</option>
                                                    <option value="packed">packed</option>
                                                    <option value="s_dispatched">s_dispatched</option>
                                                    <option value="cancelled">cancelled</option>
                                                    <option value="pending">pending</option>
                                                    <option value="shipped">shipped</option>
                                                    <option value="in_transit">in_transit</option>
                                                    <option value="dispatched">dispatched</option>
                                                    <option value="delivered">delivered</option>
                                                    <option value="return">return</option>
                                                    <option value="exchange">exchange</option>

                                                </select></td>
                                                <td>
                                                    <button onclick="asdf({{order.id}})">Update Status</button>

                                                </td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}


                                        </table>

                                    </div>


                                    </div>



                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--<script>-->

<!--var table_data = document.getElementById("table-style-hover")-->
<!--if (table_data){-->
<!--console.log("inside fun============");-->
<!--var x = document.getElementById("change_order_status").async-->
<!--if (x){-->
<!--var change_status = document.getElementById("change_order_status").value;-->
<!-- console.log("change_status", change_status);-->
<!-- if(change_status){-->

<!-- alert("if");-->

<!-- }-->
<!-- else{-->

<!-- alert("else");-->
<!-- }-->
<!-- }-->

<!--}-->


<!--</script>-->

<script>
    function asdf(oid){

    var change_status = document.getElementById("change_order_status").value;
    if(change_status){

        var status = change_status;
        var order_id = oid;

        $.ajax({
        type: "POST",
        data: {
            'status': status,
            'order_id':order_id
        },
        url: "/ecom/change_status1/",
        success: function(data){

        var data = JSON.parse(data);

        console.log(data);

        if (data['status']== 'success'){

            alert("Status Changed Successfully!!!");

        }
        else
        {
         alert("Something Went Wrong ");

        }

        }
        });


    }
     else{

     alert("Select status first");

     }

    }
</script>
<script>
   $(document).ready(function () {

//change selectboxes to selectize mode to be searchable
   $("select").select2();
});


</script>


{% endblock %}
