{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<head>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="/static/cdn/js/jquery(3.2.1).min.js"></script>
<!--    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
    <link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>
<!--    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>-->
    <script src="/static/cdn/js/select2(4.0.13).min.js"></script>
</head>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">



                                    <div class="dt-responsive table-responsive"><br>

                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>

                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Refund Order</th>
                                                <th>Refund Pending Order</th>


                                            </tr>
                                            </thead>

                                            <tr>



                                                <td>1</td>
                                                {% if refund_order != 0 %}
                                                <td>
                                                    <a href="/ecom/phonepe_cancel_order/True/">{{refund_order}}</a>
                                                </td>
                                                {% else %}
                                                 <td>
                                                    {{refund_order}}
                                                </td>
                                                {% endif %}
                                                {% if refund_pending_order != 0 %}
                                                <td><a href="/ecom/phonepe_cancel_order/False/">{{refund_pending_order}}</a>
                                                </td>
                                                {% else %}
                                                 <td>{{refund_pending_order}}
                                                </td>
                                                {% endif %}

                                            </tr>


                                        </table>

                                    </div>


                                    </div>



                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



{% endblock %}
