{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                {% if orders %}
                                                <th>Seller</th>

                                                <th>Placed Order Count</th>

                                                <th>Packed Order Count</th>
                                                {% endif %}
                                                {% if month %}
                                                <th>Month</th>
                                                {% if status == "placed" %}
                                                <th>Placed Count</th>
                                                {% else %}
                                                <th>Packed Count</th>
                                                {% endif %}
                                                {% endif %}

                                                {% if date %}
                                                <th>Date</th>
                                                {% if status == "placed" %}
                                                <th>Placed Count</th>
                                                {% else %}
                                                <th>Packed Count</th>
                                                {% endif %}

                                                {% endif %}




                                            </tr>
                                            </thead>
                                            {% if orders %}
                                            {% if order %}
                                            {% for seller, count in order.items %}


                                            <tr>

                                                <td>{{forloop.counter}}</td>

                                                <td>{{seller}}</td>
                                                <td>
                                                    <a href="/ecom/monthwise_placed_packed_order/{{seller}}/placed/">{{count.0}}</a>
                                                </td>
                                                <td>
                                                    <a href="/ecom/monthwise_placed_packed_order/{{seller}}/packed/">{{count.1}}</a>
                                                </td>

                                            </tr>

                                            {% endfor %}
                                            {% endif %}
                                            {% endif %}

                                            {% if month %}

                                            {% if month_order %}
                                            {% for month, count in month_order.items %}
                                             <tr>

                                                <td>{{forloop.counter}}</td>

                                                <td> <a href="/ecom/datewise_placed_packed_order/{{month}}/{{count.1}}/{{count.2}}/">{{month}}</a></td>
                                                <td>
                                                   {{count.0}}
                                                </td>


                                            </tr>
                                            {% endfor %}

                                            {% endif %}
                                            {% endif %}

                                            {% if date %}

                                            {% if date_order %}
                                            {% for date, count in date_order.items %}
                                             <tr>

                                                <td>{{forloop.counter}}</td>

                                                <td> <a href="/ecom/placed_packed_order_data/{{date}}/{{count.1}}/{{count.2}}/">{{date}}</a></td>
                                                <td>
                                                   {{count.0}}
                                                </td>


                                            </tr>
                                            {% endfor %}

                                            {% endif %}
                                            {% endif %}


                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>

{% endblock %}
