{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <div id="wait"
                         style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;">
                        <div class="preloader3 loader-block" id="loader">
                            <div class="circ1"></div>
                            <div class="circ2"></div>
                            <div class="circ3"></div>
                            <div class="circ4"></div>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>

                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order Details</th>
                                                <th>Combine Order</th>
                                                <th>Pay Amount</th>
                                                <th>Total Quantity</th>
                                                <th>Total Amount</th>
                                                <th>Status</th>
                                                <th>Payment Mode</th>


                                            </tr>
                                            </thead>
                                            {% if order_details_obj %}

                                            {% for order_details, combine_order_count in order_details_obj.items %}

                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/ecom/packed_order_details_data/{{order_details.id}}/">{{order_details.order_text}}</a></td>
                                               <td><a href="/ecom/logistics_order_details_order_data/{{order_details.id}}/">{{combine_order_count}}</a></td>
                                               <td>{{order_details.pay_amount}}</td>
                                               <td>{{order_details.total_quantity}}</td>
                                               <td>{{order_details.total_amount}}</td>
                                               <td>{{order_details.status}}</td>
                                               <td>{{order_details.payment_mode}}</td>


                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









{% endblock %}

