{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">


                                            <thead>
                                            {% if status %}
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Date</th>
                                                <th>Placed Order Count</th>
                                                {% if status == "Dispatch"%}
                                                <th>Dispatch Order Count</th>
                                                {% endif %}
                                                {% if status == "Delivered"%}
                                                <th>Delivered Order Count</th>
                                                {% endif %}
                                                <th>Action</th>

                                            </tr>
                                            </thead>
                                            {% if status %}
                                            {% if seller %}

                                            {% if data %}
                                            {% for date,count in data.items %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{date}}</td>

                                                <td><a href="/ecom/placed_dispatch_order_details/{{seller}}/{{date}}/Placed/">{{count.0}}</a></td>
                                                <td><a href="/ecom/placed_dispatch_order_details/{{seller}}/{{date}}/{{status}}/">{{count.1}}</a></td>
                                                {% if all_dispatch %}
                                                <td><button>Submit</button></td>

                                                {% else %}
                                                <td><button disabled>Submit</button></td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                            {% endif %}
                                            {% endif %}
                                            {% endif %}
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
