{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide">

                            </div>

                            <div class="tab-content">
                                <br><br>
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table class="table table-striped table-hover table-bordered nowrap"
                                               id="table-style-hover">
                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order ID</th>
                                                <th>Unique Order ID</th>
                                                <th>Product SKU</th>
                                                <th>Product Name</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                                <th>Total Amount</th>
                                                <th>Seller</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            {% if sellers_orders %}
                                            {% for order in sellers_orders %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>

                                                <td>
                                                    <a href="/ecom/order-all-details/{{order.id}}/">{{order.order_id}}</a>
                                                </td>

                                                <td><a href="/ecom/order_related_data/{{order.id}}/">{{order.unique_order_id}}</a>
                                                </td>
                                                <td>{{order.product_details.sku}}</td>
                                                <td>{{order.product_details.product_id.name}}</td>
                                                <td>{{order.quantity}}</td>
                                                <td>{{order.amount}}</td>
                                                <td>{{order.total_amount}}</td>
                                                <td>{{order.product_details.user}}</td>
                                                <td>{{order.date}}</td>
                                                <td>{{order.status}}</td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}


                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
