{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order Id</th>
                                                <th>Product Name</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>


                                            </tr>
                                            </thead>

                                            {% if order %}
                                            {% for data in order %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>{{data.order.order_id}}</td>
                                                <td>{{data.order.product_details.product_id.name}}</td>
                                                <td>{{data.order.quantity}}</td>
                                                {% if data.order.order_details_amount.seller_amount %}
                                                <td>{{data.order.order_details_amount.seller_amount}}</td>
                                                {% else %}
                                                <td>0</td>
                                                {% endif %}



                                            </tr>
                                            {% endfor %}
                                            {% endif %}


                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>

{% endblock %}