{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order Id</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if order_obj %}
                                            {% for order in order_obj %}

                                            <tr>
                                                <td>{{forloop.counter}}</td>


                                                <td>{{order.id}}</td>
                                                <td>{{order.quantity}}</td>
                                                <td>{{order.amount}}</td>

                                                <td>
                                                    <button type="button"
                                                            class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"
                                                            data-target="#myModal"
                                                            data-toggle="modal"
                                                            onclick="call_modal('{{order.id}}','{{order.quantity}}','{{order.amount}}','{{order.total_amount}}','{{order.status}}','{{order.created_date}}','{{order.updated_date}}')"
                                                            data-modal="modal-13"><i class=""></i>
                                                        Details

                                                    </button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
                                Edit Details
                                <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
                                </button>
                            </div>
                            <form action="" class="form-horizontal" method="POST">
                                {% csrf_token %}
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="form-group">

                                         <label class="col-sm-4" style="text-align: left"><b>Id :</b></label>
                                         <input class="col-xs-12" id="id" name="id" readonly style="border:0px"
                                            type="text" value=id>

                                        <label class="col-sm-4" style="text-align: left"><b>quantity :</b></label>
                                         <input class="col-xs-12" id="quantity" name="quantity" readonly style="border:0px"
                                            type="text" value=quantity>

                                        <label class="col-sm-4" style="text-align: left"><b>amount :</b></label>
                                         <input class="col-xs-12" id="amount" name="amount" readonly style="border:0px"
                                            type="text" value=amount>

                                        <label class="col-sm-4" style="text-align: left"><b>total_amount :</b></label>
                                         <input class="col-xs-12" id="total_amount" name="total_amount" readonly style="border:0px"
                                            type="text" value=total_amount>

                                        <label class="col-sm-4" style="text-align: left"><b>status :</b></label>
                                         <input class="col-xs-12" id="status" name="status" readonly style="border:0px"
                                            type="text" value=status>

                                        <label class="col-sm-4" style="text-align: left"><b>created_date :</b></label>
                                         <input class="col-xs-12" id="created_date" name="created_date" readonly style="border:0px"
                                            type="text" value=created_date>

                                        <label class="col-sm-4" style="text-align: left"><b>updated_date :</b></label>
                                         <input class="col-xs-12" id="updated_date" name="updated_date" readonly style="border:0px"
                                            type="text" value=updated_date>



                                    </div>

                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">

                                    <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                                            type="button">Close
                                    </button>
                                </div>
                                <input class="col-xs-10" hidden="" id="txtrecovery_id" name="txtrecovery_id" type="text"
                                       value=""/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
            function call_modal(id,quantity,amount,total_amount,status,created_date,updated_date) {


                document.getElementById('id').value = id;
                document.getElementById('quantity').value = quantity;
                document.getElementById('amount').value = amount;
                document.getElementById('total_amount').value = total_amount;
                document.getElementById('status').value = status;
                document.getElementById('created_date').value = created_date;
                document.getElementById('updated_date').value = updated_date;
            }


</script>

{% endblock %}
