{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<body
        {% if current_page %}
        onload="call_table_data({{current_page}});"
        {% else %}
        onload="call_table_data(1);"
        {% endif %}
>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Product List</h5>
                    <div id="wait"
                         style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;">
                        <div class="preloader3 loader-block" id="loader">
                            <div class="circ1"></div>
                            <div class="circ2"></div>
                            <div class="circ3"></div>
                            <div class="circ4"></div>
                        </div>
                    </div>
                    <div class="row" style="float:right;">
                    <form action="/ecom/product_add">
                        <input type="submit"
                               class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                               value="Add Product">
                    </form>
                    <form action="/ecom/bulk_product_add/">
                        <input type="submit"
                               class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                               value="Bulk Product Add">
                    </form>
                        </div>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <div class="">
                                    <input id="gfg" type="text" class="form-control text-center"
                                        placeholder="Search here">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        <div class="form-row">
                                            <thead>
                                            <tr>
                                                <th>Sr_No.</th>
                                                <th>Image</th>
                                                <th>Product Name</th>
                                                <th>Category</th>
                                                <th>Sub Category</th>
                                                <th>Base Category</th>
                                                <th>Seller</th>
                                                <th>Action</th>
                                                <th hidden></th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbody">
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </div>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-overlay"></div>
    </div>
    <div class="col-xl-12">
        <div class="row">
            <div class="">
                <nav aria-label="...">
                    <ul class="pagination" id="pag">
                    </ul>

                </nav>
            </div>
            &nbsp;&nbsp;
            <div class="">
                <input type="hidden" id="total_pages" value="">
                <input type="hidden" id="ppp" value="">
                <input id="jump" onkeypress="return isNumber(event)"
                       style="width:60px;" value="">
                <button
                        type="submit" id="go" onclick="jump_to();">GO &raquo;
                </button>

                &nbsp;&nbsp;&nbsp;

                Products Per Page :
                <select id="product_per_page" style="width:100px;text-align:center;" onchange="call_product_per_page();">
                    <option value="0">--Select--</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
    </div>

</div>
</body>

<script>
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}

</script>

<script src="/static/ecom/js/pagination.js"></script>
{% endblock %}
