{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ msg }}</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form class="md-float-material card-block"
                                          action="/ecom/product_details_add/" method="POST"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}


                                        {% if category_name == "Grocery" %}
                                        <div class="row">

                                            <div class="col-sm-6">
                                                <b><p>Type Unit count here </p></b>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icofont icofont-numbered"></i></span>
                                                    <input type="number"
                                                           class="form-control"
                                                           min="1"
                                                           name="unit_count"
                                                           placeholder="Unit Count"
                                                           required title="Allowed integers only"
                                                           onkeypress="return isNumber(event)"
                                                           step="any"
                                                    >
                                                </div>
                                            </div>
                                            <div class="col-sm-6">


                                                <b><p>Select Unit here </p></b>
                                                <select name="unit"
                                                        class="form-control form-control-primary">
                                                    {% for unit in unit_obj %}
                                                    <option>{{unit.name}}</option>
                                                    {% endfor %}
                                                </select>


                                            </div>


                                        </div>

                                        {% else %}
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b><p>Select Multiple Size here </p></b>
                                                <select class="mdb-select md-form colorful-select dropdown-primary"
                                                        name="size" id="size"
                                                        multiple
                                                        searchable="Search here.."
                                                        required>
                                                    {% for size in size %}
                                                    <option>{{size.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <b><p>Select Colours here </p></b>
                                                <select name="colour"
                                                        class="form-control form-control-primary">
                                                    {% for colour in colours%}
                                                    <option value="{{colour.name}}">
                                                        {{colour.name}}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        </div>
                                        {% endif %}
                                        <br>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b><p>Select CGST here </p></b>
                                                <select name="cgst"
                                                        class="form-control form-control-primary">
                                                    {% for cgst in cgst_details %}
                                                    <option>{{cgst.percentage}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <b><p>Select SGST here </p></b>
                                                <select name="sgst"
                                                        class="form-control form-control-primary">
                                                    {% for sgst in sgst_details %}
                                                    <option>{{sgst.percentage}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-numbered"></i></span>
                                                    <input type="number"
                                                           class="form-control"
                                                           min="1"
                                                           name="height"
                                                           placeholder="Height in cm"
                                                           title="Allowed integers only"
                                                           onkeypress="return isNumber(event)"
                                                           step="any"
                                                    >
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-numbered"></i></span>
                                                    <input type="number"
                                                           class="form-control"
                                                           min="1"
                                                           name="weight"
                                                           placeholder="Weight in gm"
                                                           required title="Allowed integers only"
                                                           onkeypress="return isNumber(event)"
                                                           step="any"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-numbered"></i></span>
                                                    <input type="number"
                                                           class="form-control"
                                                           min="1"
                                                           name="length"
                                                           placeholder="Length in cm"
                                                           title="Allowed integers only"
                                                           onkeypress="return isNumber(event)"
                                                           step="any"
                                                    >
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                <span class="input-group-addon"><i
                                                        class="icofont icofont-numbered"></i></span>
                                                    <input type="number"
                                                           min="1"
                                                           class="form-control"
                                                           name="width"
                                                           placeholder="Width in cm"
                                                           title="Allowed integers only"
                                                           onkeypress="return isNumber(event)"
                                                           step="any"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="icofont icofont-cur-dollar"></i></span>
                                                    <input type="number"
                                                           class="form-control"
                                                           min="1"
                                                           name="amount"
                                                           placeholder="Amount"
                                                           required title="Allowed integers only"
                                                           onkeypress="return isNumber(event)"
                                                           step="any"
                                                    >
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="icofont icofont-numbered"></i></span>
                                                    <input type="number"
                                                           min="5"
                                                           class="form-control"
                                                           name="stock"
                                                           placeholder="Stock"
                                                           required title="Minimum 5"
                                                           onkeypress="return isNumber(event)"
                                                           step="any"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="icofont icofont-cur-dollar"></i></span>
                                                    <input type="number"
                                                           class="form-control"
                                                           name="mrp"
                                                           placeholder="MRP"
                                                           title="Allowed integers only"
                                                           onkeypress="return isNumber(event)"
                                                           step="any"
                                                    >
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="icofont icofont-numbered"></i></span>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="sku"
                                                           placeholder="SKU"
                                                           required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="icofont icofont-numbered"></i></span>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="hsn"
                                                           placeholder="HSN"
                                                           onkeypress="return isNumber(event)"
                                                           step="any"

                                                    >
                                                </div>

                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">Description</span>
                                                    <textarea
                                                            class="form-control"
                                                            name="description"
                                                            placeholder="Description"
                                                    ></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <b><p>Add Specification :-  <button class="add_field_button"> + </button></p></b>
                                        <div class="row">
                                                  <div class="col-sm-12">
                                                        <div class="input_fields_wrap">
                                                         </div>
                                                  </div>
                                            </div>
                                        <br>

                                        <b><p>Add Multiple Product details images</p></b>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input type="file" class="form-control" name="product_details_image"
                                                           multiple required>
                                                </div>
                                            </div>
                                        </div>
<!--                                        <div class="row">-->

<!--                                            <div class="col-sm-6">-->
<!--                                                <div class="input-group">-->
<!--                                                                                    <span class="input-group-addon"><i-->
<!--                                                                                            class="icofont icofont-man-in-glasses"></i></span>-->
<!--                                                    <input type="file"-->
<!--                                                           class="form-control"-->
<!--                                                           name="product_image_1"-->
<!--                                                           placeholder=""-->
<!--                                                           required>-->

<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="col-sm-6">-->
<!--                                                <div class="input-group">-->
<!--                                                                                    <span class="input-group-addon"><i-->
<!--                                                                                            class="icofont icofont-man-in-glasses"></i></span>-->
<!--                                                    <input type="file"-->
<!--                                                           class="form-control"-->
<!--                                                           name="product_image_2"-->
<!--                                                           placeholder="">-->

<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-sm-6">-->
<!--                                                <div class="input-group">-->
<!--                                                                                    <span class="input-group-addon"><i-->
<!--                                                                                            class="icofont icofont-man-in-glasses"></i></span>-->
<!--                                                    <input type="file"-->
<!--                                                           class="form-control"-->
<!--                                                           name="product_image_3"-->
<!--                                                           placeholder="">-->

<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="col-sm-6">-->
<!--                                                <div class="input-group">-->
<!--                                                                                    <span class="input-group-addon"><i-->
<!--                                                                                            class="icofont icofont-man-in-glasses"></i></span>-->
<!--                                                    <input type="file"-->
<!--                                                           class="form-control"-->
<!--                                                           name="product_image_4"-->
<!--                                                           placeholder="">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-center m-t-20">

                                                    <input type="hidden" name="product_id" value="{{product_id}}">
                                                    <button type="submit"
                                                            class="btn btn-primary waves-effect waves-light m-r-10">
                                                        Save
                                                    </button>
                                                    <button type="reset"
                                                            class="btn btn-warning waves-effect waves-light">
                                                        Discard
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>-->
<script src="/static/cdn/js/jquery(3.6.0).min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
   var max_fields      = 25; //maximum input boxes allowed
   var wrapper       = $(".input_fields_wrap"); //Fields wrapper
   var add_button      = $(".add_field_button"); //Add button ID
   $(document).on('keyup keypress', 'input', function(e) {
      if(e.which == 13) {
        e.preventDefault();
        return false;
      }
    });
   var x = 1; //initlal text box count
   $(add_button).click(function(e){ //on add input button click
      e.preventDefault();
      if(x < max_fields){ //max input box allowed
         x++; //text box increment
         $(wrapper).append('<div><input type="text" name="key[]" required/> <input type="text" name="value[]" required/><a href="#" class="remove_field">Remove</a></div>'); //add input box
      }
   });

   $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
      e.preventDefault(); $(this).parent('div').remove(); x--;
   })
});
</script>
<script>
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && ((charCode != 46) && charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}


</script>
{% endblock %}