{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
<!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <link href="/static/cdn/js/family=Material+Icons.css" rel="stylesheet">
</head>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>


                <form action="/ecom/product_priority/{{category_name}}/">
                    <input type="submit"
                           class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                           value="Change Priority">
                </form>

                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Image</th>
                                                <th>Product Name</th>
                                                <th>Category</th>
                                                <th>Dashboard Status</th>
                                                <th>Change Dashboard Status</th>
                                                <th>Priority</th>
                                                <th>Action</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if product_list %}
                                            {% for product, image in product_list.items %}


                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td class="pro-list-img">
                                                    <img src="{{image}}" class="img-fluid" alt="{{product.name}}"
                                                         style="height: 100px;" width="100" height="100">
                                                </td>
                                                <td>{{product.product.name}}</td>
                                                <td>{{product.product.base_category.sub_category.category.name}}</td>
                                                <td>{{product.dashboard_status}}</td>
                                                <td>
                                                    <button><a
                                                            href="/ecom/change/{{product.product.id}}/{{product.product.base_category.sub_category.category.name}}/">Change
                                                        Dashboard Status</a></button>
                                                </td>
                                                <td>{{product.priority}}</td>
                                                <td><a href="/ecom/edit_product_priority/{{product.id}}/"><i
                                                        class="material-icons">&#xe22b;</i>

                                                </a></td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<script>
            <!--Recovery call data save-->
            function Call_data_save() {
                var product_id = document.getElementById('product_id').value;
                var select_priority = document.getElementById('select_priority').value;
                console.log(product_id);
                console.log(select_priority);
                $.ajax({
                    type: "POST",
                    data: {
                        'product_id': product_id,
                        'select_priority': select_priority,

                    },
                    url: "/ecom/set_priority",
                    success: function(data) {
                    console.log("--success",data);
                         document.getElementById('select_priority').value = data;
                    },
                    error: function(data) {

                    }
                });
            }



</script>
{% endblock %}
