{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ msg }}</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form class="md-float-material card-block"
                                          action="/ecom/product-edit-1/{{product.id}}/" method="POST"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <p>Select Product Name</p>
                                        <div class="row">

                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-ui-user"></i></span>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="product_name"
                                                           placeholder="{{product.name}}"
                                                           value="{{product.name}}"
                                                           required="True">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="hidden" id="selected_category"
                                                       value="{{selected_combination}}">
                                                <p>Selected Category:</p>
                                                <select name="category" id="category"
                                                        class="form-control form-control-primary">
                                                    {% for category in base_category %}
                                                    <option>{{category}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>Previous Image</p>
                                                <img src="{{image}}"
                                                     class="img-fluid" alt="{{product.name}}" style="height: 100px;"
                                                     width="100"
                                                     height="100">
                                            </div>
                                            <div class="col-sm-6">
                                                <p>Upload the new image if required</p>
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input type="file"
                                                           class="form-control"
                                                           name="product_image"
                                                           placeholder=""
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-center m-t-20">
                                                    <button type="submit"
                                                            class="btn btn-primary waves-effect waves-light m-r-10">
                                                        Save
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-warning waves-effect waves-light">
                                                        Discard
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
var selected_category=document.getElementById("selected_category").value;
console.log(selected_category);
document.getElementById("category").value = selected_category;


</script>
{% endblock %}