{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>


                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Image</th>
                                                <th>Product Name</th>
                                                <th>Created Date</th>

                                                <th>Set Priority</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if product_list %}
                                            {% for product, image in product_list.items %}


                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td class="pro-list-img">
                                                    <img src="{{image}}" class="img-fluid" alt="{{product.name}}"
                                                         style="height: 100px;" width="100" height="100">
                                                </td>
                                                <td>{{product.name}}</td>
                                                <td>{{product.created_date}}</td>

                                                <td>
                                                    <button type="button"
                                                            class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"
                                                            data-target="#myModal"
                                                            data-toggle="modal"
                                                            onclick="call_modal('{{product.name}}', '{{product.id}}')"
                                                            data-modal="modal-13"><i class=""></i>
                                                        Set Priority

                                                    </button>
                                                </td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
                Update Priority
                <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
                </button>
            </div>
            <form action="" class="form-horizontal" method="POST">
                {% csrf_token %}
                <!-- Modal body -->
                <div class="modal-body" style="width:100%;">
                    <div class="form-group">
                        <label class="col-sm-4" style="text-align: left">Product Name</label>
                        <input class="col-xs-12" id="product_name" name="product_name" readonly
                               style="border:0px"
                               type="text" value=product_name>

                        <input class="col-xs-12" id="product_id" name="product_id" readonly
                               style="border:0px"
                               type="hidden" value=product_id>

                        <br>


                        <label class="col-sm-4" style="text-align: left">Select Category:</label>
                        <select name="select_category" id="category"
                                class="col-xs-12"
                                style="width:40%;">
                            <option value="" disabled selected="true">--select category---</option>
                            <option>Men
                            </option>
                            <option>Women
                            </option>
                            <option>Electronics
                            </option>
                            <option>Home
                            </option>
                            <option>Fashion_Store
                            </option>
                            <option>Flea_Store
                            </option>
                            <option>Luxury_Store
                            </option>
                            <option>Must_Haves
                            </option>
                            <option>Just_Arrived
                            </option>
                            <option>Grocery
                            </option>
                            <option>Sabse_Sasta_Store
                            </option>
                        </select>
                        <br>
                        <br>

                        <label class="col-sm-4" style="text-align: left">Select Priority:</label>
                        <select name="select_priority" id="priority"
                                class="col-xs-12"
                                style="width:40%;">
                            <option value="" disabled selected="true">--select priority---</option>
                            <option>1
                            </option>
                            <option>2
                            </option>
                            <option>3
                            </option>
                            <option>4
                            </option>
                            <option>5
                            </option>
                            <option>6
                            </option>
                            <option>7
                            </option>
                            <option>8
                            </option>
                            <option>9
                            </option>
                            <option>10
                            </option>
                            <option>11
                            </option>
                            <option>12
                            </option>
                        </select>

                        <br>


                        <label class="col-sm-4" style="text-align: left">Select Dashboard Status:</label>
                        <select name="select_dashboard_status" id="dashboard_status"
                                class="col-xs-12"
                                style="width:40%;">
                            <option value="" disabled selected="true">--select dashboard status---</option>
                            <option>True
                            </option>
                            <option>False

                        </select>


                        <label class="col-sm-4" style="text-align: left">Select Dashboard Status:</label>
                        <select name="view_type" id="view_type"
                                class="col-xs-12"
                                style="width:40%;">
                            <option value="" disabled selected="true">--select View Type---</option>
                            <option>Front
                            </option>
                            <option>Back</option>
                            <option>Both</option>

                        </select>

                    </div>

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                            id="btnsendmsg" name="btnsendmsg" onclick="Call_data_save_1()" type="submit">Save
                    </button>
                    <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                            type="button">Close
                    </button>
                </div>
                <input class="col-xs-10" hidden="" id="txtrecovery_id" name="txtrecovery_id" type="text"
                       value=""/>
            </form>
        </div>
    </div>


</div>

<div class="container mt-3">


    <!-- The Modal -->
    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" style="rext-align:center;">
                    <h5 class="modal-title" style="margin:0 auto;"><b>Priority Set</b></h5>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body text-center">
                    Priority set successfully !!!
                </div>

                <!-- Modal footer -->
                <div class="modal-footer text-center">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="/ecom/category_product/">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <a href="/ecom/category_product/">
                                    <button type="button" class="btn btn-success">Check Priority</button>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<script>
            function call_modal(product_name, product_id) {

                document.getElementById('product_name').value = product_name;
                document.getElementById('product_id').value = product_id;


            }





</script>
<script>
            <!--Recovery call data save-->
            function Call_data_save_1() {


                var product_id = document.getElementById('product_id').value;
                var category = document.getElementById('category').value;
                var priority = document.getElementById('priority').value;
                var dashboard_status = document.getElementById('dashboard_status').value;
                var view_type = document.getElementById('view_type').value;


                $.ajax({
                    type: "POST",
                    data: {
                        'product_id': product_id,
                        'category': category,
                        'priority': priority,
                        'dashboard_status':dashboard_status,
                        'view_type': view_type,

                    },
                    url: "/ecom/set_product_priority/",
                    success: function(data) {
                                var data = JSON.parse(data);
                               var status= data['response']
                              if(status=='success'){
                                    $('#myModal1').modal('show');

                              //alert('Priority set successfully');
                            }
                            else{
                                 alert('something went wrong');

                            }
                    },

                });
            }





</script>


{% endblock %}
