{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ msg }}</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form class="md-float-material card-block"
                                          action="/ecom/product_add" method="POST"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-ui-user"></i></span>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="product_name"
                                                           placeholder="Product Name"
                                                           required="True">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>Select Category here </p>
                                                <select name="category"
                                                        class="form-control form-control-primary">
                                                    {% for category in category %}
                                                    <option>{{category.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>Select Sub Category here </p>
                                                <select name="sub_category"
                                                        class="form-control form-control-primary">
                                                    {% for category in sub_category %}
                                                    <option>{{category.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>Select Size here </p>
                                                <select class="mdb-select md-form colorful-select dropdown-primary"
                                                        name="size" id="size"
                                                        multiple
                                                        searchable="Search here.."
                                                        required>
                                                    {% for size in size %}
                                                    <option>{{size.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>Select Colours here </p>
                                                <select name="colour"
                                                        class="form-control form-control-primary">
                                                    {% for colour in colours%}
                                                    <option value="{{colour.name}}">
                                                        {{colour.name}}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>Select CGST here </p>
                                                <select name="cgst"
                                                        class="form-control form-control-primary">
                                                    {% for cgst in cgst_details %}
                                                    <option>{{cgst.percentage}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>Select SGST here </p>
                                                <select name="sgst"
                                                        class="form-control form-control-primary">
                                                    {% for sgst in sgst_details %}
                                                    <option>{{sgst.percentage}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-numbered"></i></span>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="height"
                                                           placeholder="Height">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-numbered"></i></span>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="weight"
                                                           placeholder="Weight"
                                                           required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-numbered"></i></span>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="length"
                                                           placeholder="Length">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-numbered"></i></span>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="width"
                                                           placeholder="Width">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-cur-dollar"></i></span>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="amount"
                                                           placeholder="Amount"
                                                           required="True">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input type="file"
                                                           class="form-control"
                                                           name="product_image"
                                                           placeholder=""
                                                           required="True">
                                                </div>
                                            </div>
                                            <p>Add Product details images</p> `
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input type="file"
                                                           class="form-control"
                                                           name="product_image_1"
                                                           placeholder="">

                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input type="file"
                                                           class="form-control"
                                                           name="product_image_2"
                                                           placeholder="">

                                                </div>
                                            </div>
                                            `
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input type="file"
                                                           class="form-control"
                                                           name="product_image_3"
                                                           placeholder="">

                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input type="file"
                                                           class="form-control"
                                                           name="product_image_4"
                                                           placeholder="">

                                                </div>
                                            </div>
                                            `
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-center m-t-20">
                                                    <button type="submit"
                                                            class="btn btn-primary waves-effect waves-light m-r-10">
                                                        Save
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-warning waves-effect waves-light">
                                                        Discard
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}