{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<body onload="call_data()"></body>


<!--<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>-->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>-->
<script src="/static/cdn/js/chart.js(2.8.0)" type="text/javascript"></script>
<script src="/static/cdn/js/jquery.min.js(1.10.2)" type="text/javascript"></script>
<div class="card p-4">
        <center><h3>Amount Graph</h3></center>
        <br>
        <div>
            <canvas id="myChart"></canvas>
        </div>
     </div>
</div>

<script>
    function call_data(){
    $.ajax({
            type: "POST",
            data: {
            },
            url: "/ecom/product_graph_for_seller1/",
            success: function(data){
            var graph_data = JSON.parse(data);

               var ctx = document.getElementById('myChart').getContext('2d');
                for(var i=1;i<=2;i++)
                {


                var chart = new Chart(ctx, {
                // The type of chart we want to create

                type: 'line',
                // The data for our dataset
                data: {
                    labels: graph_data['date_list'],

                    datasets: [{
                        label: 'Product Amount',
                        backgroundColor: '#ff1a1a',
                        borderColor: '#ff1a1a',
                        data: graph_data['product_amount_list']

                    },
                    {
                        label: 'Penalty Amount',
                        backgroundColor: '#33cc00',
                        borderColor: '#33cc00',
                        data: graph_data['penalty_amount_list']

                    },

                    {
                        label: 'Return Amount',
                        backgroundColor: '#5c00e6',
                        borderColor: '#5c00e6',
                        data: graph_data['return_amount_list']

                    },

                    {
                        label: 'Paid Amount',
                        backgroundColor: '#ffff00',
                        borderColor: '#ffff00',
                        data: graph_data['payment_amount_list']

                    },




                    ]

                },
                // Configuration options go here
                options: {
    scales: {
                xAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Date',
            fontSize: 15,
            fontColor: 'black'
          },
        ticks: {
        beginAtZero:true,
        fontColor: 'black'
        },
        }],
          yAxes: [
            {
              id: 'y-axis-1',
              type: 'linear',
              display: true,
              position: 'left',
             scaleLabel: {
            display: true,
            labelString: 'Amount',
            fontSize: 15,
            fontColor: 'black'
          },
          ticks: {
        beginAtZero:true,
        fontColor: 'black'
        },
            }
          ]
        },
        elements: {
            line: {
                    fill: false,
                    hover: true,
            },
        }
             }
            });
            }


            }

        });

    }


</script>

{% endblock %}