{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>-->
<script src="/static/cdn/js/jquery(3.6.0).min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ msg }}</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                {% if product_details_obj %}
                                {% for product_details in product_details_obj %}
                                <input type="hidden" id="selected_size" value="{{product_details.size_id.name}}">
                                <input type="hidden" id="selected_color" value="{{product_details.colour_id.name}}">
                                <input type="hidden" id="selected_cgst" value="{{product_details.cgst.percentage}}">
                                <input type="hidden" id="selected_sgst" value="{{product_details.sgst.percentage}}">

                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form class="md-float-material card-block"
                                          action="/ecom/product_details_edit/{{product_details.id}}/" method="POST"
                                          enctype="multipart/form-data">{% csrf_token %}
                                        {% csrf_token %}
                                           {% if category_name == "Grocery" %}
                                        <div class="row">

                                            <div class="col-sm-6">
                                               <b><p>Type Unit count here </p></b>
                                               <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-numbered"></i></span>
                                                    <input type="number"
                                                           class="form-control"
                                                           min="1"
                                                           name="unit_count"
                                                           placeholder="Unit Count"
                                                           value="{{product_details.unit_count}}"
                                                           required title="Allowed integers only"
                                                           onkeypress="return isNumber(event)">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">


                                                 <b><p>Select Unit here </p></b>
                                                 <select name="unit"
                                                        class="form-control form-control-primary">
                                                    {% for unit in unit_obj %}
                                                    <option>{{unit.name}}</option>
                                                    {% endfor %}
                                                </select>



                                            </div>


                                        </div>

                                        {% else %}



                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b><p>Select Size here </p></b>
                                                <select name="size" id="size"
                                                        class="form-control form-control-primary">
                                                    {% for size in size%}
                                                    <option value="{{size.name}}">
                                                        {{size.name}}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <b><p>Select Colours here </p></b>
                                                <select name="colour" id="color"
                                                        class="form-control form-control-primary">
                                                    {% for colour in colours%}
                                                    <option value="{{colour.name}}">
                                                        {{colour.name}}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <br>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b><p>Select CGST here </p></b>
                                                <select name="cgst" id="cgst"
                                                        class="form-control form-control-primary">
                                                    {% for cgst in cgst_details %}
                                                    <option>{{cgst.percentage}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <b><p>Select SGST here </p></b>
                                                <select name="sgst" id="sgst"
                                                        class="form-control form-control-primary">
                                                    {% for sgst in sgst_details %}
                                                    <option>{{sgst.percentage}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <br>

                                        <div class="row">

                                            <div class="col-sm-6">

                                                <div class="input-group">

                                                                                    <span class="input-group-addon">Height&nbsp;
                                                                                           </span>
                                                    <input type="number"
                                                           class="form-control"
                                                           name="height"
                                                           min="1"
                                                           value="{{product_details.height}}"
                                                           placeholder="Height in cm"
                                                    title="Allowed integers only"
                                                    onkeypress="return isNumber(event)">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon">Weight</span>
                                                    <input type="number"
                                                           class="form-control"
                                                           name="weight"
                                                           min="1"
                                                           value="{{product_details.weight}}"
                                                           placeholder="Weight in gm"
                                                           required title="Allowed integers only"
                                                    onkeypress="return isNumber(event)">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon">Length&nbsp;</span>
                                                    <input type="number"
                                                           class="form-control"
                                                           name="length"
                                                           min="1"
                                                           value="{{product_details.Length}}"
                                                           placeholder="Length in cm"
                                                    title="Allowed integers only"
                                                    onkeypress="return isNumber(event)">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon">Width&nbsp;&nbsp;</span>
                                                    <input type="number"
                                                           class="form-control"
                                                           name="width"
                                                           min="1"
                                                           value="{{product_details.width}}"
                                                           placeholder="Width in cm"
                                                    title="Allowed integers only"
                                                    onkeypress="return isNumber(event)">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon">Amount</span>
                                                    <input type="number"
                                                           class="form-control"
                                                           name="amount"
                                                           min="1"
                                                           value="{{product_details.seller_amount}}"
                                                           placeholder="Amount"
                                                           required title="Allowed integers only"
                                                    onkeypress="return isNumber(event)">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                {% if product_details.status == "SUBMITTED" %}
                                                <div class="input-group">
                                                   <span class="input-group-addon">Stock&nbsp;&nbsp;&nbsp;</span>
                                                    <input type="number"
                                                           class="form-control"
                                                           name="stock"
                                                           min="5"
                                                           value="{{stock_balance}}"
                                                           placeholder="Stock"
                                                    required title="Minimum 5"
                                                    onkeypress="return isNumber(event)">
                                                </div>
                                                {% else %}
                                                <div class="input-group">
                                                                                    <span class="input-group-addon">Stock&nbsp;&nbsp;&nbsp;</span>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="stock"
                                                           value="{{stock_balance}}"
                                                           placeholder="Stock" readonly>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon">MRP&nbsp;</span>
                                                    <input type="number"
                                                           class="form-control"
                                                           name="mrp"
                                                           value="{{product_details.mrp}}"
                                                           placeholder="MRP"
                                                    title="Allowed integers only"
                                                    onkeypress="return isNumber(event)">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon">SKU&nbsp;&nbsp;</span>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="sku"
                                                           value="{{product_details.sku}}"
                                                           placeholder="SKU"
                                                    required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                               <div class="input-group">
                                                                                    <span class="input-group-addon">HSN&nbsp;&nbsp;</span>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="hsn"
                                                           value="{{product_details.HSN}}"
                                                           placeholder="HSN"
                                                           onkeypress="return isNumber(event)"
                                                    >
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon">Description</span>
                                                    <textarea rows="3"
                                                              cols="3"
                                                           class="form-control"
                                                           name="description"
                                                           placeholder="Description"
                                                           >{{product_details.description}}</textarea>
                                                </div>

                                            </div>
                                        </div>
                                        <b><p>Add Specification :-  <button class="add_field_button"> +</button></p></b>
                                          <div class="row">
                                               <div class="col-sm-12">
                                                <div class="input_fields_wrap">
                                                    {% for i, j in sp.items %}
                                                    <div><input type="text" name="key[]" value="{{i}}" required>
                                                        <input type="text" name="value[]" value="{{j}}" required>
                                                        <a href="#" class="remove_field">Remove</a>
                                                    </div>
                                                    {% endfor %}
                                            </div>
                                               </div>
                                        </div>


                                        <b><p>Add Product details images</p></b>
                                        <div class="row">

                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input type="file"
                                                           class="form-control"
                                                           name="product_image_1"
                                                           placeholder=""   >


                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input type="file"
                                                           class="form-control"
                                                           name="product_image_2"
                                                           placeholder="">

                                                </div>
                                            </div>
                                            `
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input type="file"
                                                           class="form-control"
                                                           name="product_image_3"
                                                           placeholder="">

                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i
                                                                                            class="icofont icofont-man-in-glasses"></i></span>
                                                    <input type="file"
                                                           class="form-control"
                                                           name="product_image_4"
                                                           placeholder="">

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-center m-t-20">
                                                    <input type="hidden" name="product_id" value="{{product_details.product_id.id}}">
                                                    <button type="submit"
                                                            class="btn btn-primary waves-effect waves-light m-r-10">
                                                        Save
                                                    </button>
                                                    <button type="reset"
                                                            class="btn btn-warning waves-effect waves-light">
                                                        Discard
                                                    </button>
                                                </div>
                                                 {% endfor %}
                                        {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>

var selected_color=document.getElementById("selected_color").value;
var selected_size=document.getElementById("selected_size").value;
var selected_cgst=document.getElementById("selected_cgst").value;
var selected_sgst=document.getElementById("selected_sgst").value;
console.log(selected_sgst);
document.getElementById("color").value = selected_color;
document.getElementById("size").value = selected_size;
document.getElementById("cgst").value = selected_cgst;
document.getElementById("sgst").value = selected_sgst;


</script>

<script>
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && ((charCode != 46) && charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}
</script>
<script>
$(document).ready(function() {
   var max_fields      = 25; //maximum input boxes allowed
   var wrapper       = $(".input_fields_wrap"); //Fields wrapper
   var add_button      = $(".add_field_button"); //Add button ID
   $(document).on('keyup keypress', 'input', function(e) {
      if(e.which == 13) {
        e.preventDefault();
        return false;
      }
    });
   var x = 1; //initlal text box count
   $(add_button).click(function(e){ //on add input button click
      e.preventDefault();
      if(x < max_fields){ //max input box allowed
         x++; //text box increment
         $(wrapper).append('<div><input type="text" name="key[]" required/> <input type="text" name="value[]" required/><a href="#" class="remove_field">Remove</a></div>'); //add input box
      }
   });
   $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
      e.preventDefault(); $(this).parent('div').remove(); x--;
   })
});
</script>

{% endblock %}