{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ msg }}</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form class="md-float-material card-block"
                                          action="/ecom/category_product_csv/" method="POST"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% if request.user|has_group:"EcomAdmin" or request.user|has_group:"EcomTeam" or request.user|has_group:"EcomManager" %}
                                        <div class="row">
                                            <div class="col-sm-6">

                                                <b>Select Seller Here</b>
                                                <select class="mdb-select md-form colorful-select dropdown-primary"
                                                        name="seller" id="seller" required>
                                                    <option selected="True" disabled>Please Select Seller Here</option>
                                                    {% for seller in seller %}


                                                    <option>{{seller}}</option>

                                                    {% endfor%}
                                                </select>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <br>
                                        <br>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b>Select Category Here</b>
                                                <select class="mdb-select md-form colorful-select dropdown-primary"
                                                        name="category" id="category" required>
                                                    <option selected="True" disabled>Please Select Category Here</option>
                                                    <option>All</option>
                                                    {% for product_details in product_details %}

                                                    <option>{{product_details}}</option>

                                                    {% endfor%}
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <button type="submit"
                                                        class="btn btn-primary waves-effect waves-light m-r-10">
                                                    Download CSV
                                                </button>


                                            </div>
                                        </div>


                                    </form>
                                    <br>

                                    <form class="md-float-material card-block"
                                          action="/ecom/product_csv/" method="POST"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-center m-t-20">
                                                    <button type="submit"
                                                            class="btn btn-primary waves-effect waves-light m-r-10">
                                                        Download Csv for all product
                                                    </button>

                                                </div>
                                            </div>
                                        </div>


                                        <!--                                                    <input type="hidden" name="product_id" value="{{product_id}}">-->
                                        <!--                                                    <button type="submit"-->
                                        <!--                                                            class="btn btn-primary waves-effect waves-light m-r-10">-->
                                        <!--                                                        Download Csv for all product-->
                                        <!--                                                    </button>-->


                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}