{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Product List</h5>
                    <form action="/ecom/product_add">
                        <input type="submit"
                               class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                               value="Add Product">
                        </input>
                    </form>
                    <form action="/ecom/bulk_product_add/">
                        <input type="submit"
                               class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                               value="Bulk Product Add">
                        </input>
                    </form>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        <thead>

                                        <div class="form-row">

                                            <div class="col-md-1">
                                                <b><p>Select: </p></b>
                                            </div>
                                            <div class="col-md-5">
                                                    <select name="count"
                                                            class="form-control form-control-primary"
                                                            style="width: 100px;length: 50px;" id="count">
                                                        <option value=5>5</option>
                                                        <option value=10>10</option>
                                                        <option value=15>15</option>
                                                        <option value=20>20</option>

                                                    </select>
                                                    <br>
                                                    <input type="submit"
                                                           class="btn btn-primary waves-effect waves-light m-r-10"
                                                           value="Submit" id="submit">
                                                    <!--                                                <input type="submit" value="Submit" onclick="Pass_value()">-->

                                            </div>


                                            <tr>
                                                <th>Image</th>
                                                <th>Product Name</th>
                                                <th>Category</th>
                                                <th>Sub Category</th>
                                                <th>Base Category</th>
                                                <th>Seller</th>
                                                <th>Action</th>
                                                <th hidden="true" id="parameter">
                                                    {{parameter}}
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% if product_list %}
                                        {% for product, data in product_list.items %}
                                        <tr>
                                            <td class="pro-list-img">
                                                <img src="{{data}}" class="img-fluid" alt="{{product.name}}"
                                                     style="height: 100px;" width="100" height="100">
                                            </td>
                                            <td class="pro-name">
                                                <a href="/ecom/product_details/{{product.id}}/"><h6>
                                                    {{product.name}}</h6></a>
                                            </td>
                                            <td class="pro-name">

                                                <h6>{{product.base_category.sub_category.category.name}}</h6>
                                            </td>
                                            <td class="pro-name">
                                                <h6>{{product.base_category.sub_category.name}}</h6>
                                            </td>
                                            <td class="pro-name">
                                                <h6>{{product.base_category.base_name}}</h6>
                                            </td>
                                            <td class="pro-name">
                                                <h6>{{product.seller}}</h6>
                                            </td>
                                            <td class="action-icon">
                                                <a href="/ecom/product-edit-1/{{product.id}}/"
                                                   class="m-r-15 text-muted"
                                                   data-toggle="tooltip"
                                                   data-placement="top" title=""
                                                   data-original-title="Edit"><i
                                                        class="icofont icofont-ui-edit"></i></a>
                                                <!--<a href="#!" class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="icofont icofont-delete-alt"></i></a>-->
                                            </td>

                                        </tr>
                                        {% endfor %}
                                        {% endif %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-overlay"></div>
    </div>

    <div class="pagination" display="inline-block">
        <span class="step-links">
                    <span class="current">
            {% for i in page_count%}
                        {{i}}


            <li class="page-item"><a class="page-link" id="current_page" onclick="Page_count({{i}})">{{i}}</a></li>

            {% endfor %}
                    </span>
        </span>
    </div>

    <!--    <div class="pagination">-->
    <!--    <span class="step-links">-->
    <!--        {% if product.has_previous %}-->
    <!--            <a href="?page=1">&laquo; first</a>-->
    <!--            <a href="?page={{ product.previous_page_number }}">previous</a>-->
    <!--        {% endif %}-->

    <!--        <span class="current">-->
    <!--            Page {{ product.number }} of {{ product.paginator.num_pages }}.-->
    <!--        </span>-->

    <!--        {% if product.has_next %}-->
    <!--            <a href="?page={{ product.next_page_number }}">next</a>-->
    <!--            <a href="?page={{ product.paginator.num_pages }}">last &raquo;</a>-->
    <!--        {% endif %}-->
    <!--    </span>-->
    <!--</div>-->


    <!--    <nav aria-label="Page navigation example">-->
    <!--  <ul class="pagination justify-content-end">-->
    <!--      {% if product.has_previous %}-->
    <!--    <li class="page-item ">-->
    <!--      <a class="page-link" href="?page={{ product.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>-->
    <!--    </li>-->
    <!--      {% endif %}-->
    <!--    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>-->
    <!--    <li class="page-item"><a class="page-link" href="?page={{product.number}}">{{product.number}}</a></li>-->
    <!--    <li class="page-item"><a class="page-link" href="?page={{product.paginator.num_pages}}">Last</a></li>-->

    <!--            {% if product.has_next %}-->

    <!--    <li class="page-item">-->
    <!--      <a class="page-link" href="?page={{ product.next_page_number }}">Next</a>-->
    <!--    </li>-->
    <!--      {% endif %}-->
    <!--  </ul>-->
    <!--</nav>-->


    <!--        <nav aria-label="Page navigation example">-->
    <!--        <ul class="pagination">-->
    <!--            {% if product.has_previous %}-->

    <!--            <li class="page-item">-->
    <!--                <a class="page-link" href="?page={{ product.previous_page_number }}" aria-label="Previous">-->
    <!--                    <span aria-hidden="true">&laquo;</span>-->
    <!--                </a>-->
    <!--            </li>-->
    <!--            {% endif %}-->
    <!--            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>-->
    <!--            {% for i in number%}-->

    <!--            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>-->

    <!--            {% endfor %}-->
    <!--            <li class="page-item"><a class="page-link" href="?page={{product.paginator.num_pages}}">Last</a></li>-->
    <!--            {% if product.has_next %}-->

    <!--            <li class="page-item">-->
    <!--                <a class="page-link" href="?page={{ product.next_page_number }}" aria-label="Next">-->
    <!--                    <span aria-hidden="true">&raquo;</span>-->
    <!--                </a>-->
    <!--            </li>-->
    <!--            {% endif %}-->

    <!--        </ul>-->
    <!--    </nav>-->


</div>
<script>
                function Page_count(page) {
​                   $.ajax({
                        type: "GET",
                        console.log("--inside get");
                        data: {
                        'current_count': page,
                        },
​
​
                        url: "/ecom/product_list",
                        success: function(data) {
​                         document.getElementById('current_page').value = data;
                        },
                        error: function(data) {
​
                        }
                    });
                }
​


</script>


{% endblock %}
