

{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
{% if current_page %}
<body onload="call_table_data({{current_page}});">
   {% else %}
   <body onload="call_table_data(1);">
      {% endif %}
</body>
<div class="page-body">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-header">
               <h5>Product List</h5>
               <form action="/ecom/product_add">
                  <input type="submit"
                     class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                     value="Add Product">
               </form>
               <form action="/ecom/bulk_product_add/">
                  <input type="submit"
                     class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                     value="Bulk Product Add">
               </form>
            </div>
            <div class="card-block">
               <div class="table-responsive">
                  <div class="table-content">
                     <div class="project-table">
                        <div class="">
                           <table id="table-style-hover"
                              class="table table-striped table-hover table-bordered nowrap">
                              <div class="form-row">
                                 <thead>
                                    <tr>
                                       <th>Sr_No.</th>
                                       <th>Image</th>
                                       <th>Product Name</th>
                                       <th>Category</th>
                                       <th>Sub Category</th>
                                       <th>Base Category</th>
                                       <th>Seller</th>
                                       <th>Action</th>
                                       <th hidden></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                    </tr>
                                 </tbody>
                              </div>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="md-overlay"></div>
   </div>
   <div class="pagination" id="pag">
   </div>
</div>
<script>
   function call_table_data(page_no) {
   $.ajax({

        type: "POST",
        data: {
             'page_no': page_no,
        },
        url: "/ecom/product_list_response/",
        success: function(data) {
          $("#table-style-hover").find("tr:not(:first)").empty();


        var data = JSON.parse(data);

        if (status==="2"){
        console.log('data is empty');
        alert("Data is not available");
        }
        else{
        $("#pag").empty();
        var page_count = data['page_count'];
        var current_page = data['current_page'];
        var previous = data['previous'];
        var next = data['next'];
        var page_count_list = [];
        var first=1;
        var i= current_page + 2 ;
        var k= current_page - 2 ;
        var m= page_count - 2 ;


        var anchor_tag= '<a class="page-link" ' + "id="+ first + ' onclick="call_table_data('+ first+')">'+ "First" +'</a>';
        page_count_list.push(anchor_tag);

        if (previous == "True"){
        var pre_val = current_page - 1;

        var anchor_tag= '<a class="page-link" ' + "id="+ pre_val+ ' onclick="call_table_data('+ pre_val+')">'+ "Previous" +'</a>';
        page_count_list.push(anchor_tag);
        }

        if( current_page <= page_count)
        {

        {
        if( (k > 1) && (k < current_page ) && (page_count > 5) )
        {
         var anchor_tag= '<a class="page-link" ' + "id=" + (k - 1) + ' onclick="call_table_data('+ "return false" +')">'+ ".." +'</a>';
               page_count_list.push(anchor_tag);
        }

        if((current_page == (page_count - 1)) || (current_page == page_count)){

             for(var l = page_count -4 ; l <= page_count ; l++){
                    if (l > 0){
                var anchor_tag= '<a class="page-link" ' + "id=" + l + ' onclick="call_table_data('+ l  +')">'+ l +'</a>';
                page_count_list.push(anchor_tag);

               }
               }
            }
        else
        {

        for(var l = current_page; l > k; k++){
        if(k >0 ){

                var anchor_tag= '<a class="page-link" ' + "id=" + k + ' onclick="call_table_data('+ k  +')">'+ k +'</a>';
                page_count_list.push(anchor_tag);

        }
        }

            if (current_page <= 2){
                                       for(var l = current_page; l <= 5; l++){

                           if (l <= page_count){

                var anchor_tag= '<a class="page-link" ' + "id=" + l + ' onclick="call_table_data('+ l  +')">'+ l +'</a>';
                page_count_list.push(anchor_tag);

               }
               }

            }

            else {

            for(var l = current_page; l <= i; l++){
                    if (l <= page_count){

                var anchor_tag= '<a class="page-link" ' + "id=" + l + ' onclick="call_table_data('+ l  +')">'+ l +'</a>';
                page_count_list.push(anchor_tag);

               }
               }
               }

               if((i < page_count) && (page_count > 5)){

               var anchor_tag= '<a class="page-link" ' + "id=" + (page_count + 1) + ' onclick="call_table_data('+ "return false" +')">'+ ".." +'</a>';
               page_count_list.push(anchor_tag);


               }


               }
               }
               }




               if (next == "True"){
        var next_val = current_page + 1;
        var anchor_tag= '<a class="page-link" ' + "id="+ next_val+ ' onclick="call_table_data('+ next_val+')">'+ "Next" +'</a>';
        page_count_list.push(anchor_tag);

        };



   var anchor_tag= '<a class="page-link" ' + "id="+ page_count + ' onclick="call_table_data('+ page_count +')">'+ "Last" +'</a>';
        page_count_list.push(anchor_tag);

               $("#pag").append(page_count_list);



        for(var i=0;i<data['Product_list'].length;i++)
        {
            var opt =data['Product_list'][i];
            var path1 = opt['path'];
            var p_name = opt['product_name'];
            path = '"' + path1 + '"'
            pid = opt['product_id'];
            var sr_no = i+1;
            img = '<img src='+path+ ' class="img-fluid" style="height: 100px;" width="100" height="100"'+" id="+pid+'>';
            var action_url = '"' + '/ecom/product-edit-1/'+pid +'"';
            var details_url = '"' + '/ecom/product_details/'+pid +'"';
            var action_tag = "<a href=" + action_url + ' class="m-r-15 text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="icofont icofont-ui-edit"></i></a>';
            var p_link = "<a href=" + details_url + '>'+ p_name +'</a>';

   var row = $("<tr><td>" + sr_no + "</td><td>" + img+ "</td><td>" + p_link + "</td><td>" + opt['category'] + "</td><td>"+ opt['sub_category']  + "</td><td>" + opt['base_category'] +"</td><td>" + opt['seller'] + "</td><td>"+action_tag + "</td></tr>");

            $("#table-style-hover").append(row);

        }
        }
        },
        error: function(data) {
        console.log("--error",data);
        }
    });
   }


</script>
{% endblock %}

