{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Return Id</th>
                                                <th>Verify return status</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if list %}

                                            {% for return , image in list.items %}
                                            {{image.1}}


                                            <tr>
                                                <td>{{forloop.counter}}</td>


                                                <td>{{return.return_id}}</td>
                                                <td>{{return.verify_return_status}}</td>

                                                <td>
                                                    <button type="button"
                                                            class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"
                                                            data-target="#myModal"
                                                            data-toggle="modal"
                                                            onclick="call_modal('{{return.id}}','{{return.order.id}}',
                                                            '{{return.order.amount}}','{{return.order.total_amount}}',
                                                            '{{return.order.quantity}}','{{return.order_details.order_text}}'
                                                            ,'{{return.order.unique_order_id}}',
                                                            '{{return.order.delivery_charges.amount}}',
                                                            '{{return.order.delivery_charges.status}}','{{image.0}}','{{image.1}}')"
                                                            data-modal="modal-13"><i class=""></i>
                                                        Details

                                                    </button>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                            {% endif %}

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
                                Edit Details
                                <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
                                </button>
                            </div>
                            <form action="/ecom/reason/" class="form-horizontal" method="POST">
                                {% csrf_token %}
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="form-group">

                                        <label class="col-sm-4" style="text-align: left"><b>Return Id :</b></label>
                                        <input class="col-xs-12" id="return_id" name="return_id" readonly
                                               style="border:0px"
                                               type="text" value=return_id>

                                        <label class="col-sm-4" style="text-align: left"><b>order_id :</b></label>
                                        <input class="col-xs-12" id="order_id" name="order_id" readonly
                                               style="border:0px"
                                               type="text" value=order_id>

                                        <label class="col-sm-4" style="text-align: left"><b>amount :</b></label>
                                        <input class="col-xs-12" id="amount" name="amount" readonly
                                               style="border:0px"
                                               type="text" value=amount>

                                        <label class="col-sm-4" style="text-align: left"><b>total_amount :</b></label>
                                        <input class="col-xs-12" id="total_amount" name="total_amount" readonly
                                               style="border:0px"
                                               type="text" value=total_amount>

                                        <label class="col-sm-4" style="text-align: left"><b>quantity :</b></label>
                                        <input class="col-xs-12" id="quantity" name="quantity" readonly
                                               style="border:0px"
                                               type="text" value=quantity>

                                        <label class="col-sm-4" style="text-align: left"><b>order_text :</b></label>
                                        <input class="col-xs-12" id="order_text" name="order_text" readonly
                                               style="border:0px"
                                               type="text" value=order_text>

                                        <label class="col-sm-4" style="text-align: left"><b>unique_order_id
                                            :</b></label>
                                        <input class="col-xs-12" id="unique_order_id" name="unique_order_id" readonly
                                               style="border:0px"
                                               type="text" value=unique_order_id>

                                        <label class="col-sm-4" style="text-align: left"><b>deliver_charges
                                            :</b></label>
                                        <input class="col-xs-12" id="delivery_amount" name="delivery_charges" readonly
                                               style="border:0px"
                                               type="text" value=delivery_amount>

                                        <label class="col-sm-4" style="text-align: left"><b>status :</b></label>
                                        <input class="col-xs-12" id="status" name="status" readonly
                                               style="border:0px"
                                               type="text" value=status>

                                        <label class="col-sm-4" style="text-align: left"><b>Image:</b></label>
                                        <img src=image id="image" alt="fail to get image">

                                        <label class="col-sm-4" style="text-align: left"><b>Image1:</b></label>
                                        <img src=img id="img" alt="fail to get image">


                                        <br>
                                        <label class="col-sm-4" style="text-align: left"><b>Update Status :</b></label>


                                        <select id="return_status" name="return_status">
                                            <option value=""><-------Select Status------></option>
                                            <option value="return_confirm">return_confirm</option>
                                            <option value="return_rejected">return_rejected</option>

                                        </select>

                                        <label class="col-sm-4" style="text-align: left"><b>Reason :</b></label>

                                        <textarea rows="4" cols="50" name="reason"
                                                  placeholder="Enter text here..."></textarea>
                                        <br>
                                        <br>
                                        <input class="fa fa-check btn btn-secondary btn btn-success" type="submit"
                                               value="Submit" name="submit">
                                        <!--                                        <input class="fa fa-check btn btn-secondary btn btn-success"-->
                                        <!--                                                data-dismiss="modal"-->
                                        <!--                                                id="btnsendmsg" name="submit" type="submit"-->
                                        <!--                                                value="submit">-->
                                        <!--                                        </input>-->

                                        <button class="btn btn-secondary fa fa-times btn btn-danger"
                                                data-dismiss="modal"
                                                type="button">Close
                                        </button>


                                    </div>

                                </div>
                                <!-- Modal footer -->
                                <!--                                <div class="modal-footer">-->
                                <!--&lt;!&ndash;                                    <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                            id="btnsendmsg" name="btnsendmsg" type="submit"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                            value="submit">Save&ndash;&gt;-->
                                <!--&lt;!&ndash;                                    </button>&ndash;&gt;-->

                                <!--                                    <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"-->
                                <!--                                            type="button">Close-->
                                <!--                                    </button>-->
                                <!--                                </div>-->
                                <!--                                <input class="col-xs-10" hidden="" id="txtrecovery_id" name="txtrecovery_id" type="text"-->
                                <!--                                       value=""/>-->

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
            function call_modal(return_id,order_id,amount,total_amount,quantity,order_text,unique_order_id,delivery_amount,status,image,img) {
                console.log('status');
                console.log('image');
                document.getElementById('return_id').value = return_id;
                document.getElementById('order_id').value = order_id;
                document.getElementById('amount').value = amount;
                document.getElementById('total_amount').value = total_amount;
                document.getElementById('quantity').value = quantity;
                document.getElementById('order_text').value = order_text;
                document.getElementById('unique_order_id').value = unique_order_id;
                document.getElementById('delivery_amount').value = delivery_amount;
                document.getElementById('status').value = status;
                document.getElementById('image').src = image;
                document.getElementById('img').src = img;


            }















</script>


{% endblock %}
