{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<body>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div id="wait"
                 style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;">
                <div class="preloader3 loader-block" id="loader">
                    <div class="circ1"></div>
                    <div class="circ2"></div>
                    <div class="circ3"></div>
                    <div class="circ4"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="form-group mb-2">
                                <label for="staticEmail2" class="sr-only"></label>
                                <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                                       value="Enter Seller's Name">
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <input type="text" class="form-control" id="name" placeholder="Enter Name Here"
                                       value="">
                            </div>
                            <button class="btn btn-primary mb-2" onclick="call_data();">Search</button>

                        </div>

                        <br><br>
                        <center><span id="seller" style="display:none;">No Seller Found.</span></center>
                        <div class="a" id="data" style="display:none;">
                            <center>
                                <div class="card card_style" id="customer_info_card">
                                    <div class="card-header"><b>Seller Information</b></div>
                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">
                                            <p><b>User Name</b> : <span id="username"></span></p>
                                            <p><b>Mobile Number</b> : <span id="mobile_no"></span></p>
                                            <p><b>Alternate Mobile Number</b> : <span id="alt_mobile"></span></p>
                                            <p><b>Email</b> : <span id="email"></span></p>

                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">
                                            <p><b>Address</b> : <span id="address"></span></p>
                                            <p><b>City</b> : <span id="city"></span></p>
                                            <p><b>State</b> : <span id="state"></span></p>
                                            <p><b>Pin Code</b> : <span id="pin_code"></span></p>

                                        </div>
                                    </div>
                                </div>


                                <div class="card card_style">
                                    <div class="card-header"><b>Warehouse Details</b></div>
                                    <div class="row">
                                        <div class="col-sm-6" style="text-align:left;">
                                            <p><b>Company Name</b> : <span id="company_name"></span></p>
                                            <p><b>Primary Address</b> : <span id="primary_address"></span></p>
                                            <p><b>Mobile Number</b> : <span id="mobile_no_w"></span></p>
                                            <p><b>Pin Code</b> : <span id="pin_code_w"></span></p>

                                        </div>
                                        <div class="col-sm-6" style="text-align:left;">
                                            <p><b>Warehouse ID</b> : <span id="warehouse_id"></span></p>
                                            <p><b>City</b> : <span id="city_id"></span></p>
                                            <p><b>State</b> : <span id="state_id"></span></p>
                                            <p><b>Approval Status</b> : <span id="approval_status"></span></p>
                                            <p><b>Country ID</b> : <span id="country_id"></span></p>


                                        </div>
                                    </div>
                                </div>
                            </center>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<style>
    p{font-size:1.1vw}
    .card_style
    {
    width:70%;
    border-style:solid;
    border-width:1px;
    text-align:center;
    padding:2%;
    }

    .card-header{
    font-size:1.2vw;
    }









</style>
<script>

    function call_data(){

    var username = document.getElementById("name").value;
    console.log("name",username);

    if(username=="")
    {
    alert("Enter Name First");
    return false;
    }

    $(document).ajaxStart(function(){
    $("#wait").css("display", "block");
    });

    $.ajax({
            type: "POST",
            data: {
                'username': username,

            },
            url: "/ecom/seller_data/",
            success: function(data){

            var data = JSON.parse(data);

            if (data['msg']=='Not Found'){
                        console.log("if");

            document.getElementById("seller").style.display="";
            document.getElementById("data").style.display="none";


            }

            else{

            console.log("else");


            document.getElementById("data").style.display="";
            document.getElementById("seller").style.display="none";


            document.getElementById("pin_code").innerHTML=data["address_data"]["pin_code"];
            document.getElementById("city").innerHTML=data["address_data"]["city"];
            document.getElementById("state").innerHTML=data["address_data"]["state"];
            document.getElementById("address").innerHTML=data["address_data"]["address"];

            document.getElementById("username").innerHTML=data["personal_data"]["name"];
            document.getElementById("mobile_no").innerHTML=data["personal_data"]["mobile"];
            document.getElementById("alt_mobile").innerHTML=data["personal_data"]["alternate_mobile_number"];
            document.getElementById("email").innerHTML=data["personal_data"]["email"];

            document.getElementById("primary_address").innerHTML=data["warehouse_data"]["primary_address"];
            document.getElementById("company_name").innerHTML=data["warehouse_data"]["company_name"];
            document.getElementById("mobile_no_w").innerHTML=data["warehouse_data"]["mobile_no"];
            document.getElementById("pin_code_w").innerHTML=data["warehouse_data"]["pin_code"];
            document.getElementById("city_id").innerHTML=data["warehouse_data"]["city_id"];
            document.getElementById("state_id").innerHTML=data["warehouse_data"]["state_id"];
            document.getElementById("country_id").innerHTML=data["warehouse_data"]["country_id"];
            document.getElementById("warehouse_id").innerHTML=data["warehouse_data"]["warehouse_id"];
            document.getElementById("approval_status").innerHTML=data["warehouse_data"]["approval_status"];
            }





            }
            });


             $(document).ajaxComplete(function(){
                $("#wait").css("display", "none");
                    });


    }









</script>
{% endblock %}

