{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <!--                    <h5>{{msg}}</h5>-->
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    ​
                                    {% csrf_token %}
                                    {% if seller %}
                                    <form action="/ecom/search_for/Seller/" method="post"
                                          enctype="multipart/form-data">{% csrf_token %}
                                        <h5>Search by Seller</h5><br>
                                        <div class="row">
                                            <div class="col-md-6">


                                                <select name="seller_name"


                                                        class="form-control form-control-primary"
                                                        style="width: 300px;length: 300px;" required>
                                                    <option value="" selected="True" disabled>---Select Seller here---
                                                    </option>
                                                    {% if seller_list %}
                                                    {% for seller_list in seller_list %}
                                                    <option >{{seller_list.username}}</option>
                                                    {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>

                                            </div>


                                        </div>
                                        <br>

                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                type="submit"
                                                class="btn btn-primary waves-effect waves-light m-r-10"
                                                value="Search">
                                    </form>
                                    ​
                                    {% endif %}
                                    {% if Product %}
                                    <form action="/ecom/search_for/Product/" method="post"
                                          enctype="multipart/form-data">{% csrf_token %}
                                        <h5>Search by Product</h5>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>Enter Name:
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                            name="product_name"
                                                            placeholder="Enter name of Product"
                                                            type="text" required>
                                                </p>
                                            </div>

                                        </div>


                                        <br>

                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                type="submit"
                                                class="btn btn-primary waves-effect waves-light m-r-10"
                                                value="Search">
                                    </form>
                                    ​
                                    {% endif %}
                                    {% if select_category %}
                                    <form action="/ecom/search_for/select_category/" method="post"
                                          enctype="multipart/form-data">{% csrf_token %}
                                        <h5>Search by category</h5>
                                        <br>

                                        <div class="row">
                                            <div class="col-md-5">
                                                <p>Select Category</p>
                                                <select name="category"
                                                        onchange="category_value()" id="category"

                                                        class="form-control form-control-primary"
                                                        style="width: 300px;length: 300px;" required>
                                                    <option value="" selected="True" disabled>---Select Category here---
                                                    </option>
                                                    {% if category_data %}
                                                    {% for cat in category_data %}
                                                    <option value={{cat.name}}>{{cat.name}}</option>
                                                    {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>

                                            ​
                                            <div class="col-md-5">
                                                <p>Select SubCategory</p>
                                                <select name="sub_data"
                                                        id="sub_data"
                                                        onchange="sub_category_value()"
                                                        class="form-control form-control-primary"
                                                        style="width: 300px;length: 300px;" required>
                                                    <option value="All" selected>All</option>
                                                    {% for subcat in sub_data %}
                                                    <option>{{subcat.name}}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                            ​<br>
                                            <div class="col-md-5">
                                                <p>Select Base Category</p>
                                                <select name="base_data"
                                                        id="base_data"


                                                        class="form-control form-control-primary"
                                                        style="width: 300px;length: 300px;">
                                                    <option>All</option>
                                                    {% for subcat in sub_data %}
                                                    <option>{{subcat.name}}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                        </div>
                                        ​
                                        ​
                                        <br>
                                        ​
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                type="submit"
                                                class="btn btn-primary waves-effect waves-light m-r-10"
                                                value="Search">
                                    </form>
                                    ​
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if all_data %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Product List</h5>


                    <form action="/ecom/product_add">
                        <input type="submit"
                               class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                               value="Add Product">
                        </input>
                    </form>
                    <form action="/ecom/bulk_product_add/">
                        <input type="submit"
                               class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                               value="Bulk Product Add">
                        </input>
                    </form>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        <thead>

                                            <tr>
                                                <th>Image</th>
                                                <th>Product Name</th>
                                                <th>Category</th>
                                                <th>Sub Category</th>
                                                <th>Base Category</th>
                                                <th>Seller</th>
                                                <th>Action</th>


                                            </tr>
                                        </thead>
                                         {% if product_list %}
                                        {% for product, data in product_list.items %}
                                        <tbody>

                                        <tr>
                                            <td class="pro-list-img" id="img">
                                                <img src="{{data}}" class="img-fluid" alt="{{product.name}}"
                                                     style="height: 100px;" width="100" height="100">
                                            </td>
                                            <td class="pro-name">
                                                <a href="/ecom/product_details/{{product.id}}/" id="product_name"><h6>
                                                    {{product.name}}</h6></a>
                                            </td>
                                            <td class="pro-name">

                                                <h6 id="category1">
                                                    {{product.base_category.sub_category.category.name}}</h6>
                                            </td>
                                            <td class="pro-name">
                                                <h6 id="sub_category">{{product.base_category.sub_category.name}}</h6>
                                            </td>
                                            <td class="pro-name">
                                                <h6 id="base_category">{{product.base_category.base_name}}</h6>
                                            </td>
                                            <td class="pro-name">
                                                <h6 id="seller">{{product.seller}}</h6>
                                            </td>
                                            <td class="action-icon">
                                                <a href="/ecom/product-edit-1/{{product.id}}/"
                                                   class="m-r-15 text-muted"
                                                   data-toggle="tooltip"
                                                   data-placement="top" title=""
                                                   data-original-title="Edit"><i
                                                        class="icofont icofont-ui-edit"></i></a>
                                                <!--<a href="#!" class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="icofont icofont-delete-alt"></i></a>-->
                                            </td>


                                        {% endfor %}



                                        {% endif %}

                                             </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                         <h6>{{msg}}</h6>
                    </div>

                </div>

            </div>
        </div>
        <div class="md-overlay"></div>
    </div>

    <div class="pagination" display="inline-block">
        <span class="step-links">
                    <span class="current">
            {% for i in page_count%}


            <li class="page-item"><a class="page-link" id="current_page" onclick="Page_count({{i}})">{{i}}</a></li>

            {% endfor %}
                    </span>
        </span>
    </div>

</div>
{% endif %}
<script>

      function Pass_value() {
                          console.log("--inside function");

                var count = document.getElementById('count').value;
                                          console.log("--count",count);



                $.ajax({
                    type: "GET",

                    data: {
                        'count': count
                    },


                    url: "/ecom/product_list",
                    success: function(data) {

                    console.log("--inside success");
                    console.log("--success",data);
                         document.getElementById('count').value = data;
                    },
                    error: function(data) {

                    }
                });
            }


             function Page_count(page) {
              console.log("--inside function page count");
              var page_count=page;
                              console.log("--coun of page",page_count);
    $.ajax({
        type: "GET",
        data: {
            'current_count': page_count,
        },
        url: "/ecom/product_list",
        success: function(data){

<!--        alert(data.data[0].fields['name']);-->
        $("#table-style-hover").find("tr:not(:first)").empty();

        console.log('-------------------data',data)
        console.log('data')

                            $.each(data, function( index, value ) {
                            for (var i=0;i<5;i++)
                            {

<!--                                $(#product_name).val('data.data[i].fields['name']');-->

                                    console.log('data',data.data[i].fields['name'])
                                    console.log('data pk',data.data[i].pk)
<!--                                    console.log('data',data.data[i].fields['category'])-->
<!--                                    console.log('data',data.data[i].fields['sub_category'])-->
<!--                                    console.log('data',data.data[i].fields['base_category'])-->
<!--                                    console.log('data',data.data[i].fields['seller'])-->
                     document.getElementById('product_name').dataset.value = data.data[i].pk
                    var row = $("<tr><td>" + 'image' + "</td><td>" + data.data[i].fields['name'] + "</td><td>" + data.data[i].fields['product_id'] + "</td><td>" +data.data[i].fields['category']+ "</td><td>" +data.data[i].fields['base_category']+"</td><td>" +data.data[i].fields['seller']+"</td></tr>");
                    $("#table-style-hover").append(row);




                            }
                            });
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            alert('error: ' + textStatus + ': ' + errorThrown);
                        }
    });
}












</script>
<!--<script>-->
<!--function refreshPage(){-->
<!--    window.location.reload();-->
<!--}-->










<!--</script>-->






<script>
function category_value() {
                          console.log("--inside function");

                var category = document.getElementById('category').value;
                                          console.log("--category",category);

            var x = document.getElementById("sub_data");
            while (x.length > 1) {
                x.remove(x.length-1);
            }
                $.ajax({
                    type: "GET",

                    data: {
                        'category_name': category
                    },


                    url: "/ecom/search_for/select_category",
                    success: function(data) {
                    var data = JSON.parse(data);
                    console.log("--success", data);
                    var status = data['status'];
                    if (status==="2"){
                    console.log('data is empty');
                    alert("Data is not available");
                    }
                    else{

                        console.log('------else--');
                    var sub_data = data['sub_data'];
                    for(var i=0;i<data['sub_data'].length;i++)
                    {
                        var opt = new Option(data['sub_data'][i]);
                        $("#sub_data").append(opt);
                    }

                    console.log('-----------------');
                    console.log(sub_data);
                    document.getElementById('sub_data').value = sub_data;

                    }
                    },
                    error: function(data) {

                    }
                });
            }

function sub_category_value() {
                          console.log("--inside function");

                var subcategory = document.getElementById('sub_data').value;
                                          console.log("--sub",subcategory);
                var category = document.getElementById('category').value;
            var x = document.getElementById("base_data");
            while (x.length > 1) {
                x.remove(x.length-1);
            }
                $.ajax({
                    type: "GET",

                    data: {
                        'subcategory_name': subcategory,
                    'cat_name':category
                    },


                    url: "/ecom/search_for/select_category",
                    success: function(data) {
                    var data = JSON.parse(data);
                    console.log("--success", data);
                    var status = data['status'];
                    if (status==="2"){
                    console.log('data is empty');
                    alert("Data is not available");
                    }
                    else{

                        console.log('------else--');
                    var base_data = data['base_data'];
                    for(var i=0;i<data['base_data'].length;i++)
                    {
                        var opt = new Option(data['base_data'][i]);
                        $("#base_data").append(opt);
                    }

                    console.log('-----------------');
                    console.log(base_data);
                    document.getElementById('base_data').value = base_data;

                    }
                    },
                    error: function(data) {

                    }
                });
            }

</script>


{% endblock %}




