{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->

<!--<script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<script src="/static/cdn/js/jquery(3.4.1).min.js"></script>
<script src="/static/cdn/js/jquery-latest.min.js"></script>
<body>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div id="wait"
                 style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;">
                <div class="preloader3 loader-block" id="loader">
                    <div class="circ1"></div>
                    <div class="circ2"></div>
                    <div class="circ3"></div>
                    <div class="circ4"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group mb-2">
                                    <label for="staticEmail2" class="sr-only"></label>
                                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                                           value="Enter Contact No">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">

                                    <div class="form-group mx-sm-3 mb-2 ">
                                        <input type="text" class="form-control" id="name"
                                               placeholder="Enter Number Here"
                                               value="">
                                    </div>
                                    <button class="btn btn-primary" onclick="call_data();">Search</button>
                                </div>
                            </div>
                            <div class="col-sm-3">

                                <p style="float:right;">
                                    <a href="" id="csv" style="display:none;"><button class="btn btn-primary mb-2">Download CSV</button></a>
                                </p>
                            </div>

                        </div>

                        <br><br>
                        <center><span id="seller" style="display:none;">No Contact Found.</span></center>
                        <div class="a" id="data" style="display:none;">


                            <div class="row">
                                <div class="dt-responsive table-responsive" id="table">
                                    <input id="gfg" type="text" class="form-control text-center"
                                               placeholder="Search here">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">

                                        <thead>

                                        <tr>
                                            <th>Sr.no</th>
                                            <th>User Name</th>
                                            <th>Mobile Number</th>


                                        </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            <td></td>
                                        </tbody>


                                    </table>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
<style>
    p{font-size:1.1vw}
    .card_style
    {
    width:70%;
    border-style:solid;
    border-width:1px;
    text-align:center;
    padding:2%;
    }

    .card-header{
    font-size:1.2vw;
    }












</style>

<script>
 $(document).ready(function() {
                $("#gfg").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#tbody tr").filter(function() {
                        $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                    });
                });
            });


</script>
<script>
        $('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(compare($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function compare(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).text() }


</script>

<script>

    function call_data(){

    var username = document.getElementById("name").value;
    console.log("name",username);


    if(username=="")
    {
    alert("Enter Contact Number First");
    return false;
    }


    $(document).ajaxStart(function(){
    $("#wait").css("display", "block");
    });

    $.ajax({
            type: "POST",
            data: {
                'username': username,

            },
            url: "/ecom/contact_data/",
            success: function(data){

            var data = JSON.parse(data);
            console.log("data----------------------",data)


            if (data['msg']=='Not Found'){
                        console.log("if");

            document.getElementById("seller").style.display="";
            document.getElementById("data").style.display="none";



            }

            else{

            console.log("else");

            document.getElementById("data").style.display="";
            document.getElementById("seller").style.display="none";
            document.getElementById("csv").style.display="";


               var url = "/ecom/contact_data_csv/" + username + "/";
                console.log("url",url);
                $("#csv").attr("href",url)

             var length =  data['length']
             var data = data["contact_data"]
              console.log("dataaaaaa", data)

             $("#table-style-hover").find("tr:not(:first)").empty();

            for (var i=0; i<length; i++){

            var sr_no = i + 1;
            var contact_name =  data[i].contact_name
            console.log("nameeeeeeeeeee", contact_name);
            console.log("number", data[i].contact_no);

           var contact_no = data[i].contact_no;

            $("#tbody").append("<tr><td>" + sr_no + "</td><td>" + contact_name + "</td><td>" + contact_no + "</td></tr>");
            }

            }

            }
            });

             $(document).ajaxComplete(function(){
                $("#wait").css("display", "none");
                    });

    }




</script>
{% endblock %}

