{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>Search Order here..</h5>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">

                                <form action="/ecom/search-order-status/" method="POST">{% csrf_token %}

                                    <input type="text" placeholder="search order" name="order_detail">
                                    <input type="submit" value="search">
                                </form>
                                <br>
                                {% if order_status %}


                                <table id="e-product-list"
                                       class="table table-striped dt-responsive nowrap">
                                    <thead>
                                    <tr>

                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Location</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order_status in order_status %}
                                    <tr>
                                        <td>{{order_status.date}}</td>
                                        <td>{{order_status.status}}</td>
                                        <td>{{order_status.Location.city}}</td>

                                    </tr>

                                    {% endfor %}
                                    {% endif %}
                                    {% if scan %}
                                    {% for data in scan %}
                                    <tr>

                                        <td>{{data.date}}</td>
                                        <td>{{data.status}}</td>
                                        <td>{{data.location}}</td>

                                    </tr>


                                    {% endfor %}

                                    {% endif %}
                                    </tbody>
                                </table>

                                {% if message %}
                                <!--&lt;!&ndash;                                    <input type="text" alert("order not present")>&ndash;&gt;-->
                                <p>{{message}}</p>
                                {% endif%}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="md-overlay"></div>

</div>
{% endblock %}

