{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<head>
   <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
       <script src="/static/cdn/js/jquery(3.2.1).min.js"></script>
<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
<link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>

<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>-->
<script src="/static/cdn/js/select2(4.0.13).min.js"></script>
</head>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    Search By :<br><br> <select name="search_by"
                                                                id="search"
                                                                onchange="choose_option()"
                                                                required>
                                    <option value="" disabled selected="true">--select---</option>
                                    {% if request.user|has_group:"EcomAdmin" or request.user|has_group:"EcomCustomerCare" or request.user|has_group:"EcomManager" %}

                                    <option value="id">Order ID</option>
                                    <option value="mobile">Mobile Number</option>
                                    <option value="unique_id">Unique Order Id</option>
                                    <option value="duplicates">Duplicates</option>



                                      <option value="return_order">Return Order</option>


                                    <option value="status">Status</option>
                                      {% endif %}


                                </select>
                                    <br><br>
                                    {% if msg %}
                                    <h5 class="text-center" style="margin-top:2%;color:red;">{{msg}}</h5>
                                    {% endif %}

                                    <div id="search_order_by_id" style="display:none">
                                        <form action="/ecom/search_order/Order/" method="post"
                                              enctype="multipart/form-data">{% csrf_token %}
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Enter ID:
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                                name="name"
                                                                placeholder="Enter ID of Order"
                                                                type="text" required>
                                                        <input type="hidden" name="status" value="id">
                                                    </p>
                                                </div>

                                            </div>


                                            <br>

                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                    type="submit"
                                                    class="btn btn-primary waves-effect waves-light m-r-10"
                                                    value="Search" onsubmit="enable_table();">
                                        </form>
                                    </div>


                                    <div id="search_order_by_mobile" style="display:none">
                                        <form action="/ecom/search_order/Order/" method="post"
                                              enctype="multipart/form-data">{% csrf_token %}
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Enter Mobile Number :
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                                name="name"
                                                                placeholder="Enter Mobile Number"
                                                                type="text" required>
                                                        <input type="hidden" name="status" value="mobile">
                                                    </p>
                                                </div>

                                            </div>


                                            <br>

                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                    type="submit"
                                                    class="btn btn-primary waves-effect waves-light m-r-10"
                                                    value="Search" onsubmit="enable_table();">
                                        </form>
                                    </div>
                                    <br><br>

                                    <div id="search_order_by_status" style="display:none">
                                        <form action="/ecom/search_order/Order/" method="post"
                                              enctype="multipart/form-data">{% csrf_token %}
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Choose Status :
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select
                                                                name="name"
                                                                id="order_status"

                                                                required>

                                                            <option value="" disabled selected="true">--select
                                                                status---
                                                            </option>
                                                            <option value="initiated">Initiated</option>
                                                            <option value="packed">Packed</option>
                                                            <option value="dispatched">Dispatched</option>
                                                            <option value="return">Return</option>
                                                            <option value="cancelled">Cancelled</option>
                                                            <option value="in_transit">In_Transit</option>
                                                            <option value="placed">Placed</option>
                                                            <option value="delivered">Delivered</option>
                                                            <option value="s_dispatched">S_dispatched</option>
                                                            <option value="undelivered">Undelivered</option>
                                                            <option value="cancelled">cancelled</option>
                                                            <option value="pending">Pending</option>

                                                        </select>
                                                        <input type="hidden" name="status" value="status">

                                                    </p>
                                                </div>

                                            </div>


                                            <br>

                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                    type="submit"
                                                    class="btn btn-primary waves-effect waves-light m-r-10"
                                                    value="Search" onsubmit="enable_table();">
                                        </form>
                                    </div>


                                    <div id="search_order_by_unique_order_id" style="display:none">
                                        <form action="/ecom/search_order/Order/" method="post"
                                              enctype="multipart/form-data">{% csrf_token %}
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Enter Unique Order ID:
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                                name="name"
                                                                placeholder="Enter unique Order Id"
                                                                type="text" required>
                                                        <input type="hidden" name="status" value="unique_id">
                                                    </p>
                                                </div>

                                            </div>


                                            <br>

                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                    type="submit"
                                                    class="btn btn-primary waves-effect waves-light m-r-10"
                                                    value="Search" onsubmit="enable_table();">
                                        </form>
                                    </div>
                                    <br><br>


                                    <div id="search_order_by_duplicates" style="display:none">
                                        <form action="/ecom/search_order/Order/" enctype="multipart/form-data"
                                              method="post">{% csrf_token %}
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Enter Mobile No:
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                                name="name"
                                                                placeholder="Enter Mobile No"
                                                                required type="text">
                                                        <input name="status" type="hidden" value="duplicate">
                                                    </p>
                                                </div>

                                            </div>


                                            <br>

                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                    class="btn btn-primary waves-effect waves-light m-r-10"
                                                    onsubmit="enable_table();"
                                                    type="submit" value="Search">
                                        </form>
                                    </div>
                                    <br><br>
                                    <div id="search_order_by_return_order" style="display:none">
                                        <form action="/ecom/search_order/Order/" method="post"
                                              enctype="multipart/form-data">{% csrf_token %}
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Enter Return Order Id:
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                                name="name"
                                                                placeholder="Enter ID of Order"
                                                                type="text" required>
                                                        <input type="hidden" name="status" value="return_order">
                                                    </p>
                                                </div>

                                            </div>


                                            <br>

                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                    type="submit"
                                                    class="btn btn-primary waves-effect waves-light m-r-10"
                                                    value="Search" onsubmit="enable_table();">
                                        </form>
                                    </div>

                                    <br><br>


                                    {% if all_data %}
                                    <a href="/ecom/return_orders_csv/{{id_list}}/"><input id="akash" type="button"
                                                                                          class="btn btn-primary"
                                                                                          value="Download CSV"
                                                                                          style="float:right;display:;"></a>
                                    <div class="dt-responsive table-responsive"><br>

                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>

                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order ID</th>
                                                <th>Unique Order ID</th>
                                                <th>Product Name</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                                <th>Total Amount</th>
                                                <th>Delivery Charges</th>
                                                <th>Convenient Fees</th>
                                                <th>Date</th>
                                                <th>Sellers Name</th>
                                                <th>Status</th>
                                                {% if request.user|has_group:"EcomAdmin" %}
                                                <th>Change Status</th>
                                                <th>Action</th>
                                                {% endif %}

                                            </tr>
                                            </thead>

                                            <tr>
                                                {% for order, order_details_id in all_data.items %}


                                                <td>{{forloop.counter}}</td>
                                                <td>
                                                    <a href="/ecom/order-all-details/{{order.id}}/">{{order.order_id}}</a>
                                                </td>
                                                <td><a href="/ecom/order_related_data/{{order.id}}/">{{order.unique_order_id}}</a>
                                                </td>
                                                 {% if order_details_id == None %}
                                                <td>{{order.product_details.product_id.name}}</td>
                                                {% else %}
                                                <td><a href="/ecom/order_details_related_data/{{order_details_id}}/">{{order.product_details.product_id.name}}</a></td>
                                                {% endif %}
                                                <td>{{order.quantity}}</td>
                                                <td>{{order.amount}}</td>
                                                <td>{{order.total_amount}}</td>
                                                <td>{{order.delivery_charges.amount}}</td>
                                                <td>{{order.convenient_fees.amount}}</td>
                                                <td>{{order.date}}</td>
                                                <td>{{order.product_details.user.username}}</td>
                                                <td>{{order.status}}</td>
                                                {% if request.user|has_group:"EcomAdmin" %}
                                                <td> <select id="change_order_status">
                                                    <option value="" selected disabled>Select Status</option>
                                                    <option value="initiated">initiated</option>
                                                    <option value="placed">placed</option>
                                                    <option value="accepted">accepted</option>
                                                    <option value="packing">packing</option>
                                                    <option value="packed">packed</option>
                                                    <option value="s_dispatched">s_dispatched</option>
                                                    <option value="cancelled">cancelled</option>
                                                    <option value="pending">pending</option>
                                                    <option value="shipped">shipped</option>
                                                    <option value="in_transit">in_transit</option>
                                                    <option value="dispatched">dispatched</option>
                                                    <option value="delivered">delivered</option>
                                                    <option value="return">return</option>
                                                    <option value="exchange">exchange</option>

                                                </select></td>
                                                <td>
                                                    <button onclick="asdf({{order.id}})">Update Status</button>

                                                </td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}


                                        </table>

                                    </div>
                                    {% endif %}
                                      {% if return_order_data %}

                                    <div class="dt-responsive table-responsive"><br>
                                         <input id="gfg" type="text" class="form-control text-center"
                                               placeholder="Search here">
                                        <table id="table-style-hover1"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>

                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Return Id</th>
                                                <th>Unique Order ID</th>
                                                <th>Verify return status</th>
                                                <th>Admin verified date</th>
                                                <th>Payment Status</th>
                                                <th>Verified by</th>
                                                <th>Seller status</th>
                                                <th>Seller reason</th>

                                            </tr>
                                            </thead>
                                            <tbody id="tbody">
                                            <tr>
                                                {% for return_order in return_order_data %}

                                                <td>{{forloop.counter}}</td>
                                                <td>{{return_order.return_id}}</td>
                                                <td><a href="/ecom/order_related_data/{{return_order.order.id}}/">{{return_order.order.unique_order_id}}</a></td>
                                                <td>{{return_order.verify_return_status}}</td>
                                                <td>{{return_order.admin_verified_date}}</td>
                                                <td>{{return_order.payment_status}}</td>
                                                <td>{{return_order.verified_by.username}}</td>
                                                <td>{{return_order.seller_status}}</td>
                                                <td>{{return_order.seller_reason}}</td>

                                            </tr>
                                            </tbody>
                                            {% endfor %}


                                        </table>

                                    </div>
                                    {% endif %}



                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>

var option = document.getElementById("search").value;
if(option == 'id'){
document.getElementById("search_order_by_id").style.display = "";
document.getElementById("search_order_by_mobile").style.display = "none";
document.getElementById("search_order_by_status").style.display = "none";
document.getElementById("search_order_by_unique_order_id").style.display = "none";
document.getElementById("search_order_by_duplicates").style.display = "none";
document.getElementById("search_order_by_return_order").style.display = "none";
}
if(option == 'mobile'){
document.getElementById("search_order_by_mobile").style.display = "";
document.getElementById("search_order_by_id").style.display = "none";
document.getElementById("search_order_by_status").style.display = "none";
document.getElementById("search_order_by_unique_order_id").style.display = "none";
document.getElementById("search_order_by_duplicates").style.display = "none";
document.getElementById("search_order_by_return_order").style.display = "none";
}

if(option == 'status'){
document.getElementById("search_order_by_mobile").style.display = "none";
document.getElementById("search_order_by_id").style.display = "none";
document.getElementById("search_order_by_status").style.display = "";
document.getElementById("search_order_by_unique_order_id").style.display = "none";
document.getElementById("search_order_by_duplicates").style.display = "none";
document.getElementById("search_order_by_return_order").style.display = "none";
}

if(option == 'unique_id'){
document.getElementById("search_order_by_mobile").style.display = "none";
document.getElementById("search_order_by_id").style.display = "none";
document.getElementById("search_order_by_status").style.display = "none";
document.getElementById("search_order_by_unique_order_id").style.display = "";
document.getElementById("search_order_by_duplicates").style.display = "none";
document.getElementById("search_order_by_return_order").style.display = "none";
}

if(option == 'duplicates'){
document.getElementById("search_order_by_mobile").style.display = "none";
document.getElementById("search_order_by_id").style.display = "none";
document.getElementById("search_order_by_status").style.display = "none";
document.getElementById("search_order_by_unique_order_id").style.display = "none";
document.getElementById("search_order_by_duplicates").style.display = "";
document.getElementById("search_order_by_return_order").style.display = "none";
}

if(option == 'return_order'){
document.getElementById("search_order_by_mobile").style.display = "none";
document.getElementById("search_order_by_id").style.display = "none";
document.getElementById("search_order_by_status").style.display = "none";
document.getElementById("search_order_by_unique_order_id").style.display = "none";
document.getElementById("search_order_by_duplicates").style.display = "none";
document.getElementById("search_order_by_return_order").style.display = "";
}

function choose_option(){
var option = document.getElementById("search").value;
    if(option == 'id'){
    document.getElementById("search_order_by_id").style.display = "";
    document.getElementById("search_order_by_mobile").style.display = "none";
    document.getElementById("search_order_by_status").style.display = "none";
    document.getElementById("search_order_by_unique_order_id").style.display = "none";
    document.getElementById("search_order_by_duplicates").style.display = "none";
    document.getElementById("search_order_by_return_order").style.display = "none";
    }

    if(option == 'mobile'){
    document.getElementById("search_order_by_mobile").style.display = "";
    document.getElementById("search_order_by_id").style.display = "none";
    document.getElementById("search_order_by_status").style.display = "none";
    document.getElementById("search_order_by_unique_order_id").style.display = "none";
    document.getElementById("search_order_by_duplicates").style.display = "none";
    document.getElementById("search_order_by_return_order").style.display = "none";
    }

    if(option == 'status'){
    document.getElementById("search_order_by_mobile").style.display = "none";
    document.getElementById("search_order_by_id").style.display = "none";
    document.getElementById("search_order_by_status").style.display = "";
    document.getElementById("search_order_by_unique_order_id").style.display = "none";
    document.getElementById("search_order_by_duplicates").style.display = "none";
    document.getElementById("search_order_by_return_order").style.display = "none";
    }

     if(option == 'unique_id'){
    document.getElementById("search_order_by_mobile").style.display = "none";
    document.getElementById("search_order_by_id").style.display = "none";
    document.getElementById("search_order_by_status").style.display = "none";
    document.getElementById("search_order_by_unique_order_id").style.display = "";
    document.getElementById("search_order_by_duplicates").style.display = "none";
    document.getElementById("search_order_by_return_order").style.display = "none";
    }

    if(option == 'duplicates'){
    document.getElementById("search_order_by_mobile").style.display = "none";
    document.getElementById("search_order_by_id").style.display = "none";
    document.getElementById("search_order_by_status").style.display = "none";
    document.getElementById("search_order_by_unique_order_id").style.display = "none";
    document.getElementById("search_order_by_duplicates").style.display = "";
    document.getElementById("search_order_by_return_order").style.display = "none";

    }

      if(option == 'return_order'){
    document.getElementById("search_order_by_mobile").style.display = "none";
    document.getElementById("search_order_by_id").style.display = "none";
    document.getElementById("search_order_by_status").style.display = "none";
    document.getElementById("search_order_by_unique_order_id").style.display = "none";
    document.getElementById("search_order_by_duplicates").style.display = "none";
    document.getElementById("search_order_by_return_order").style.display = "";

    }



}

function call_disable()
{
console.log("akash");
document.getElementById("akash").style.display = "none";
}


</script>
<!--<script>-->

<!--var table_data = document.getElementById("table-style-hover")-->
<!--if (table_data){-->
<!--console.log("inside fun============");-->
<!--var x = document.getElementById("change_order_status").async-->
<!--if (x){-->
<!--var change_status = document.getElementById("change_order_status").value;-->
<!-- console.log("change_status", change_status);-->
<!-- if(change_status){-->

<!-- alert("if");-->

<!-- }-->
<!-- else{-->

<!-- alert("else");-->
<!-- }-->
<!-- }-->

<!--}-->


<!--</script>-->

<script>
    function asdf(oid){

    var change_status = document.getElementById("change_order_status").value;
    if(change_status){

        var status = change_status;
        var order_id = oid;

        $.ajax({
        type: "POST",
        data: {
            'status': status,
            'order_id':order_id
        },
        url: "/ecom/change_status1/",
        success: function(data){

        var data = JSON.parse(data);

        console.log(data);

        if (data['status']== 'success'){

            alert("Status Changed Successfully!!!");

        }
        else
        {
         alert("Something Went Wrong ");

        }

        }
        });


    }
     else{

     alert("Select status first");

     }

    }
</script>
<script>
   $(document).ready(function () {

//change selectboxes to selectize mode to be searchable
   $("select").select2();
});


</script>


{% endblock %}
