{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<head>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
       <script src="/static/cdn/js/jquery(3.2.1).min.js"></script>
<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
<link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>

<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>-->
<script src="/static/cdn/js/select2(4.0.13).min.js"></script>
</head>

<div class="page-body">
    <div id="wait"
     style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;">
    <div class="preloader3 loader-block" id="loader">
        <div class="circ1"></div>
        <div class="circ2"></div>
        <div class="circ3"></div>
        <div class="circ4"></div>
    </div>
</div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-block">
                     <div class="row">
                         <div class="col-sm-2" style="margin-top:1%;">
                            <b>Search By</b>
                             </div>
                             <div class="col-sm-4">
                                  <select name="search_by"  id="search" onchange="choose_option()"
                                                                required>

                                    <option value="" disabled selected="true">--select---</option>

                                    <option value="waybill_no">Waybill No</option>


                                </select>

                         </div>
                     </div>

                    <br>
                    <div class="row" id="waybill_no" style="display:none">
                         <div class="col-sm-2">
                             <b>Enter Waybill No:</b>
                         </div>
                        <div class="col-sm-6">
                                 <input  name="name" placeholder="Enter Waybill No" id="enter_waybill_no" type="text" required>

                        </div>
                        <div class="col-sm-1">
                            <input type="submit" class="btn btn-primary waves-effect waves-light m-r-10"
                                                    value="Search" onclick="search_waybill_no()">
                        </div>

                     </div>
                    <br>
                    <br>

                    <div class="row" id="msg" style="display:none"></div>
                    <div class="dt-responsive table-responsive" id="table" style="display:none">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>

                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Waybill No</th>
                                                <th>Order ID</th>
                                                <th>Unique Order ID</th>
                                                <th>Product Name</th>
                                                <th>Quantity</th>
                                                <th>Seller Amount</th>
                                                <th>Delivery Charges</th>
                                                <th>Sellers Name</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            <tr id="logistics_order_data">
                                                <td id="no"></td>
                                                <td id="waybill"></td>
                                                <td id="order_id"></td>
                                                <td id="unique_order_id"></td>
                                                <td id="product_name"></td>
                                                <td id="quantity"></td>
                                                <td id="seller_amount"></td>
                                                <td id="delivery_charges"></td>
                                                <td id="username"></td>
                                                <td id="status"></td>


                                            </tr>


                                        </table>

                                    </div>
                                </div>



                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .row
    {
    padding:2%;
    }
    #enter_waybill_no{
    padding:2%;
    width:63%;
    }

</style>

<script>

var option = document.getElementById("search").value;
if(option == 'waybill_no'){
document.getElementById("waybill_no").style.display = "";
choose_option();
search_waybill_no();
}
if(option == ""){
document.getElementById("waybill_no").style.display = "none";
}

function choose_option(){
var option = document.getElementById("search").value;
    if(option == 'waybill_no'){
    document.getElementById("waybill_no").style.display = "";

    }

}

function search_waybill_no(){
    var waybill_no = document.getElementById("enter_waybill_no").value;

        $(document).ajaxStart(function(){
        $("#wait").css("display", "block");
        });

    $.ajax({
        type: "POST",
        data: {
            "waybill_no": waybill_no
        },
        url: "/ecom/search_logistics_orders1/",
        success: function(data){
        console.log("dataaaaaaaa", data['logistics']['id']);

        }

    });


    $(document).ajaxComplete(function(){
   $("#wait").css("display", "none");
       });


}


</script>
<script>
   $(document).ready(function () {

//change selectboxes to selectize mode to be searchable
   $("select").select2();
});


</script>

{% endblock %}
