{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<head>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
       <script src="/static/cdn/js/jquery(3.2.1).min.js"></script>
<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
<link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>

<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>-->
<script src="/static/cdn/js/select2(4.0.13).min.js"></script>
</head>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">


                                    Search By :<br><br> <select name="search_by"
                                                                id="search"
                                                                onchange="choose_option()"
                                                                required>

                                    <option value="" disabled selected="true">--select---</option>


                                    <option value="mobile">Mobile Number</option>





                                </select>
                                <br><br>



                                    <div id="search_order_by_mobile" style="display:none">
                                        <form action="/ecom/search_duplicates/" method="post"
                                              enctype="multipart/form-data">{% csrf_token %}
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Enter Mobile Number :
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                                name="mobile_no"
                                                                placeholder="Enter Mobile Number"
                                                                type="text" required>
                                                        <input type="hidden" name="status" value="mobile">
                                                    </p>
                                                </div>

                                            </div>


                                            <br>

                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                    type="submit"
                                                    class="btn btn-primary waves-effect waves-light m-r-10"
                                                    value="Search" onsubmit="enable_table();">
                                        </form>
                                    </div>
                                    <br><br>





                                    <br><br>



                                    {% if msg %}
                                    <h5>{{msg}}</h5>
                                    {% endif %}


                                    <div class="dt-responsive table-responsive"><br>
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            {% if user_personal_info %}
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>UserName</th>
                                                <th>Pan No</th>
                                                <th>Mobile No</th>
                                                <th>Alt Mobile No</th>


                                            </tr>
                                            </thead>

                                            <tr>
                                                {% for info in user_personal_info %}


                                                <td>{{forloop.counter}}</td>


                                                <td>{{info.user.username}}</td>
                                                <td>{{info.pan_number}}</td>
                                                <td>{{info.mobile_no}}</td>
                                                <td>{{info.alt_mobile_no}}</td>



                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>

var option = document.getElementById("search").value;

if(option == 'mobile'){
document.getElementById("search_order_by_mobile").style.display = "";

}





function choose_option(){
var option = document.getElementById("search").value;


    if(option == 'mobile'){
    document.getElementById("search_order_by_mobile").style.display = "";

    }





}



</script>
<script>
   $(document).ready(function () {

//change selectboxes to selectize mode to be searchable
   $("select").select2();
});



</script>


{% endblock %}
