{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<body>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div id="wait"
                 style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;">
                <div class="preloader3 loader-block" id="loader">
                    <div class="circ1"></div>
                    <div class="circ2"></div>
                    <div class="circ3"></div>
                    <div class="circ4"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                      {{data}}

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="form-group mb-2">
                                <label for="staticEmail2" class="sr-only"></label>
                                <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                                       value="Enter Order Text">
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <input type="text" class="form-control" id="order_text" placeholder="Enter Order Text Here"
                                       value="">
                            </div>
                            <button class="btn btn-primary mb-2" onclick="call_data();">Search</button>

                        </div>

                        <br><br>
                        <br><br>
                        <center><span id="no_order_text" style="display:none;">No OrderText Found.</span></center>
                        <div class="dt-responsive table-responsive" id="table" style="display:none;">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>


                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order Id</th>
                                                <th>Total Credit</th>
                                                <th>Total Paid</th>
                                                <th>Total Remaining</th>

                                            </tr>
                                            </thead>
                                            <tbody id="tbody">


                                            </tbody>

                                        </table>

                                    </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>





</body>



<style>
    p{font-size:1.1vw}
    .card_style
    {
    width:70%;
    border-style:solid;
    border-width:1px;
    text-align:center;
    padding:2%;
    }

    .card-header{
    font-size:1.2vw;
    }









</style>


<script>

    function call_data(){

    var order_text = document.getElementById("order_text").value;
    console.log("order_text",order_text);

    if(order_text=="")
    {
    alert("Enter Order Text First");
    return false;
    }

    $(document).ajaxStart(function(){
    $("#wait").css("display", "block");
    });

    $.ajax({
            type: "POST",
            data: {
                'order_text': order_text,

            },
            url: "/ecom/orders_repayment_data/",
            success: function(data){

            var data = JSON.parse(data);

            if (data['msg']=='Not Found'){
                        console.log("if");

            document.getElementById("no_order_text").style.display="";
            document.getElementById("table").style.display="none";


            }

            else{

            console.log("else");

            document.getElementById("table").style.display="";
            document.getElementById("no_order_text").style.display="none";

            $("#table-style-hover").find("tr:not(:first)").empty();

            var order_text =  data['order_text']



            var total_credit =  data['total_credit']
            var total_paid =  data['total_paid']
            var total_remaining =  data['total_remaining']




            var total_credit_url = '"/ecom/orders_total_credit_repayment_data/' + order_text + '/Order/"'
            console.log("url========", total_credit_url);

            var total_credit_anchor_tag = '<a href=' + total_credit_url + '>' + total_credit  +'</a>';
             console.log("total_credit_anchor_tag========", total_credit_anchor_tag);


            var total_paid_url = '"/ecom/orders_total_credit_repayment_data/' + order_text + '/Repayment/"';
            console.log("url========", total_paid_url);
            var total_paid_anchor_tag = '<a href=' + total_paid_url + '>' + total_paid  +'</a>';
             console.log("total_paid_anchor_tag========", total_paid_anchor_tag);


            $("#table-style-hover #tbody").append("<tr><td>1</td><td>" + order_text + "</td><td>" + total_credit_anchor_tag + "</td><td>" + total_paid_anchor_tag + "</td><td>" + total_remaining + "</td></tr>")



            }





            }
            });


             $(document).ajaxComplete(function(){
                $("#wait").css("display", "none");
                    });


    }









</script>
{% endblock %}

