{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<head>
   <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
       <script src="/static/cdn/js/jquery(3.2.1).min.js"></script>
<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
<link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>

<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>-->
<script src="/static/cdn/js/select2(4.0.13).min.js"></script>

</head>



<div class="page-body">
    <div id="wait"
     style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;">
    <div class="preloader3 loader-block" id="loader">
        <div class="circ1"></div>
        <div class="circ2"></div>
        <div class="circ3"></div>
        <div class="circ4"></div>
    </div>
</div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2" style="margin-top:1%;">
                                <b>Select Seller</b>
                            </div>
                            <div class="col-sm-4">

                                    <select name="seller" id="seller"
                                    onchange="call_data()" required>

                                    <option value="" disabled selected="True">--select---</option>
                                    {% for seller in sellers %}
                                    <option value="{{seller}}">{{seller}}</option>
                                   {% endfor %}

                                </select>

                                </div>

                                    </div>
                                    <br><br><br><br>


                                    <div class="dt-responsive table-responsive" id="table" style="display:none;">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>

                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Dispatch Count</th>
                                                <th>Delivered Count</th>


                                            </tr>
                                            </thead>


                                            <tr>



                                                <td>1</td>
                                                <td id="dispatch_count">



                                                </td>
                                                <td id="delivered_count">



                                                </td>


                                            </tr>


                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




<script>
    var seller = document.getElementById('seller').value;
    if(seller == ""){
    document.getElementById("table").style.display="none";
    }

    if(seller != ""){
    document.getElementById("table").style.display="";
    call_data();
    }

    function call_data(){
    var seller = document.getElementById('seller').value;

    $(document).ajaxStart(function(){
    $("#wait").css("display", "block");
    });

     $.ajax({
            type: "POST",
            data: {
                'seller': seller,

            },
            url: "/ecom/get_seller/",
            success: function(data){
            var data = JSON.parse(data);
            document.getElementById("table").style.display="";

            console.log("seller========", data['seller']);

            if(data['dispatch_count']){


            var url = "'/ecom/show_dispatch_delivered_details/" + data['seller'] + "/dispatched/'";
            console.log("url========", url);
            var anchor_tag = "<a href=" + url + ">" + data['dispatch_count']  +"</a>";
			document.getElementById('dispatch_count').innerHTML = anchor_tag;

            }

            if(data['delivered_count']){


            var url = "'/ecom/show_dispatch_delivered_details/" + data['seller'] + "/delivered/'";
            console.log("url========", url);
            var anchor_tag = "<a href=" + url + ">" + data['delivered_count']  +"</a>";
			document.getElementById('delivered_count').innerHTML = anchor_tag;

            }

            }
            });

            $(document).ajaxComplete(function(){
            $("#wait").css("display", "none");
                });

    }


</script>

<script>
   $(document).ready(function () {

//change selectboxes to selectize mode to be searchable
   $("select").select2();
});


</script>


{% endblock %}
