{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<body>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div id="wait"
                 style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;">
                <div class="preloader3 loader-block" id="loader">
                    <div class="circ1"></div>
                    <div class="circ2"></div>
                    <div class="circ3"></div>
                    <div class="circ4"></div>
                </div>
            </div>
            <div class="card">


                <div class="card-block">
                     <div class="col-sm-4" id="msg_error">
                    <h3 id="msg"></h3>
                   </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4 text-right">
                                Enter Unique ID
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="unique" placeholder="Enter Id Here"
                                >

                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-primary mb-2" onclick="call_data()">Search</button>

                            </div>
                            <br>
                            <br>



                        </div>

                        <br><br>

                        <div class="tab-pane active" id="home7" role="tabpanel">

                            <div class="dt-responsive table-responsive " id="table_data"  style="display:none;">
                                <table id="table-style-hover"
                                       class="table table-striped table-hover table-bordered nowrap">
                                    <thead>
                                    <tr>
                                        <th>Sr.no</th>
                                        <th>Invoice Id</th>
                                        <th>Total Amount</th>
                                        <th>Date</th>


                                    </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

</body>
<script>


    function call_data(){

    var u_id=$("#unique").val()
    console.log("unique_id",u_id)

    $.ajax({
        type: "POST",
        data: {
            'id': u_id,

        },
        url: "/ecom/invoice_data/",
        success: function(data){

        var data = JSON.parse(data);

        console.log("data-----------",data)


        if (data['msg']=="Not Found"){
        console.log("hhhhhhhhhhhhhhhhh")

        $("#msg_error").show();
        $("#table-style-hover").hide();

        document.getElementById('msg').innerHTML = data['msg'];


        }
        else {
         $("#msg_error").hide();
         $("#table-style-hover").show();
          document.getElementById("table_data").style.display="";
         $("#table-style-hover").find("tr:not(:first)").empty();
         var length = data['invoice_data']['length']

         console.log("length--------------------",length)

         for (var i=0; i<length; i++){
         console.log("inside for")
         console.log("iiiiiiiiiiii",i)
            var sr_no = i + 1;
            console.log("inside for")
            console.log("-------------", data['invoice_data'][i]['invoice_id'])

            var invoice_id = data['invoice_data'][i]['invoice_id'];
            console.log("invoice_id",invoice_id)
            var total_amount = data['invoice_data'][i]['total_amount'];
            console.log("total_amount",total_amount)
            var created_date = data['invoice_data'][i]['created_date'];
            var seller = data['invoice_data'][i]['seller'];
            var date = data['invoice_data'][i]['date'];


       new_url = '"/ecom/seller_amount_invoice/' + seller + '/' + date + '/"'

       anchor_tag ='<a href=' + new_url + '>' + invoice_id + '</a>'


         console.log("anch",anchor_tag)
         $("#table-style-hover").append("<tr><td>"+sr_no+"</td><td>"  + anchor_tag + "</td><td>" + total_amount + "</td><td>" + created_date + "</td></tr>")
         }



        }


        }
        });



    }


</script>

<style>
    p{font-size:1.1vw}
    .card_style
    {
    width:70%;
    border-style:solid;
    border-width:1px;
    text-align:center;
    padding:2%;
    }

    .card-header{
    font-size:1.2vw;
    }




</style>

{% endblock %}

