{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<head>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
       <script src="/static/cdn/js/jquery(3.2.1).min.js"></script>
<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
<link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>

<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>-->
<script src="/static/cdn/js/select2(4.0.13).min.js"></script>
</head>

<div class="page-body">
    <div id="wait"
         style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;">
        <div class="preloader3 loader-block" id="loader">
            <div class="circ1"></div>
            <div class="circ2"></div>
            <div class="circ3"></div>
            <div class="circ4"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-2" style="margin-top:1%;">
                            <b>Search By</b>
                        </div>
                        <div class="col-sm-4">
                            <select name="search_by" id="search" onchange="choose_option()"
                                    required>

                                <option value="" disabled selected="true">--select---</option>

                                <option value="waybill_no">Waybill No</option>
                                <option value="unique_order_id">Unique Order Id</option>
                                <option value="order_id">Order Id</option>
                                <option value="order_details_text">Order Details Text</option>


                            </select>

                        </div>
                    </div>

                    <br>
                    <div class="row" id="waybill_no" style="display:none">
                        <div class="col-sm-2">
                            <b>Enter Waybill No:</b>
                        </div>
                        <div class="col-sm-6">
                            <input name="name" placeholder="Enter Waybill No" id="enter_waybill_no" type="text"
                                   required>

                        </div>
                        <div class="col-sm-1">
                            <input type="submit" class="btn btn-primary waves-effect waves-light m-r-10"
                                   value="Search" onclick="search_waybill_no()">
                        </div>

                    </div>

                    <br>
                    <div class="row" id="order" style="display:none">
                        <div class="col-sm-2">
                            <b>Enter Order No:</b>
                        </div>
                        <div class="col-sm-6">
                            <input name="name" placeholder="Enter Order No" id="enter_order_no" type="text" required>

                        </div>
                        <div class="col-sm-1">
                            <input type="submit" class="btn btn-primary waves-effect waves-light m-r-10"
                                   value="Search" onclick="search_waybill_no()">
                        </div>

                    </div>

                    <br>
                    <div class="row" id="unique_order" style="display:none">
                        <div class="col-sm-2">
                            <b>Enter Unique Order No:</b>
                        </div>
                        <div class="col-sm-6">
                            <input name="name" placeholder="Enter Unique Order No" id="enter_unique_order" type="text"
                                   required>

                        </div>
                        <div class="col-sm-1">
                            <input type="submit" class="btn btn-primary waves-effect waves-light m-r-10"
                                   value="Search" onclick="search_waybill_no()">
                        </div>

                    </div>
                    <br>
                    <div class="row" id="order_text" style="display:none">
                        <div class="col-sm-2">
                            <b>Enter Order Text:</b>
                        </div>
                        <div class="col-sm-6">
                            <input name="name" placeholder="Enter Order Text" id="enter_order_text" type="text" required>

                        </div>
                        <div class="col-sm-1">
                            <input type="submit" class="btn btn-primary waves-effect waves-light m-r-10"
                                   value="Search" onclick="search_waybill_no()">
                        </div>

                    </div>


                    <br>
                    <br>

                    <b>
                        <div class="row" id="msg" style="display:none"></div>
                    </b>
                    <div class="dt-responsive table-responsive" id="table" style="display:none">
                        <table id="table-style-hover"
                               class="table table-striped table-hover table-bordered nowrap">

                            <thead>

                            <tr>
                                <th>Sr.no</th>
                                <th>Waybill No</th>
                                <th>Order ID</th>
                                <th>Unique Order ID</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Seller Amount</th>
                                <th>Delivery Charges</th>
                                <th>Sellers Name</th>
                                <th>Status</th>
                            </tr>
                            </thead>

                            <tbody id="tbody">


                            </tbody>


                        </table>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</div>

<style>

    .row
    {
    padding:2%;
    }
    #enter_waybill_no{
    padding:2%;
    width:63%;
    }

    #enter_unique_order{
    padding:2%;
    width:63%;
    }

    #enter_order_no{
    padding:2%;
    width:63%;
    }


</style>

<script>

var option = document.getElementById("search").value;

if(option == "waybill_no"){
document.getElementById("waybill_no").style.display = "";
document.getElementById("order").style.display = "none";
document.getElementById("unique_order").style.display = "none";
document.getElementById("order_text").style.display = "none";
choose_option();
search_waybill_no();
}

if(option == "order_id"){
document.getElementById("waybill_no").style.display = "none";
document.getElementById("order").style.display = "";
document.getElementById("unique_order").style.display = "none";
document.getElementById("order_text").style.display = "none";
choose_option();
search_waybill_no();
}

if(option == "unique_order_id"){
document.getElementById("waybill_no").style.display = "none";
document.getElementById("order").style.display = "none";
document.getElementById("unique_order").style.display = "";
document.getElementById("order_text").style.display = "none";
choose_option();
search_waybill_no();
}

if(option == "order_details_text"){
document.getElementById("waybill_no").style.display = "none";
document.getElementById("order").style.display = "none";
document.getElementById("unique_order").style.display = "none";
document.getElementById("order_text").style.display = "";
choose_option();
search_waybill_no();
}


if(option == ""){
document.getElementById("waybill_no").style.display = "none";
document.getElementById("order").style.display = "none";
document.getElementById("unique_order").style.display = "none";
document.getElementById("order_text").style.display = "none";

}

function choose_option(){
var option = document.getElementById("search").value;
    if(option == 'waybill_no'){
    document.getElementById("waybill_no").style.display = "";
    document.getElementById("order").style.display = "none";
    document.getElementById("unique_order").style.display = "none";
    document.getElementById("table").style.display = "none";
    document.getElementById("order_text").style.display = "none";

    }

    if(option == "order_id"){
        document.getElementById("waybill_no").style.display = "none";
        document.getElementById("order").style.display = "";
        document.getElementById("unique_order").style.display = "none";
        document.getElementById("table").style.display = "none";
        document.getElementById("order_text").style.display = "none";

        }

    if(option == "unique_order_id"){
        document.getElementById("waybill_no").style.display = "none";
        document.getElementById("order").style.display = "none";
        document.getElementById("unique_order").style.display = "";
        document.getElementById("table").style.display = "none";
        document.getElementById("order_text").style.display = "none";

        }

    if(option == "order_details_text"){
        document.getElementById("waybill_no").style.display = "none";
        document.getElementById("order").style.display = "none";
        document.getElementById("unique_order").style.display = "none";
        document.getElementById("order_text").style.display = "";

    }

}

function search_waybill_no(){

        var option = document.getElementById("search").value;

        if(option == 'waybill_no'){
            var input_data = document.getElementById("enter_waybill_no").value;
            }
        if(option == "order_id"){
            var input_data = document.getElementById("enter_order_no").value;
        }
        if(option == "unique_order_id"){
            var input_data = document.getElementById("enter_unique_order").value;
        }

        if(option == "order_details_text"){
            var input_data = document.getElementById("enter_order_text").value;
        }

        $(document).ajaxStart(function(){
        $("#wait").css("display", "block");
        });


    $.ajax({
        type: "POST",
        data: {
            "input_data": input_data,
            "option": option
        },
        url: "/ecom/search_logistics_orders/",
        success: function(data){
        var data = JSON.parse(data);

            if(data['msg']){
                document.getElementById("table").style.display="none";
                document.getElementById("msg").style.display="";
                document.getElementById('msg').innerHTML = data['msg'];

            }
            if(data['logistics']){

                 $("#tbody").empty();

                document.getElementById("table").style.display="";
                document.getElementById("msg").style.display="none";
                var waybill_no = data["logistics"][0]["waybill_no"]
                var order_id = data["logistics"][0]["order_id"]
                var unique_order_id = data["logistics"][0]["unique_order_id"]
                var product_name = data["logistics"][0]["product_name"]
                var quantity = data["logistics"][0]["quantity"]
                var seller_amount = data["logistics"][0]["seller_amount"]
                var delivery_charges = data["logistics"][0]["delivery_charges"]
                var username = data["logistics"][0]["username"]
                var status = data["logistics"][0]["status"]
                var order = data["logistics"][0]["order"]



                var url = "'/ecom/order_related_data/" + order + "/'";

                var anchor_tag = "<a href=" + url + ">" + unique_order_id + "</a>";
                console.log("anchor_tag",  anchor_tag)

                var url1 = "'/ecom/order-all-details/" + order + "/'";

                var anchor_tag1 = "<a href=" + url1 + ">" + order_id + "</a>";
                console.log("anchor_tag1", anchor_tag1)


                  $("#tbody").append("<tr><td>1</td><td>"  + waybill_no + "</td><td>" + anchor_tag1 + "</td><td>" + anchor_tag + "</td><td>" + product_name + "</td><td>" + quantity + "</td><td>" + seller_amount + "</td><td>" + delivery_charges + "</td><td>" + username + "</td><td>" + status + "</td></tr>")


            }

        }

    });

    $(document).ajaxComplete(function(){
   $("#wait").css("display", "none");
       });



}



</script>
<script>
   $(document).ready(function () {

//change selectboxes to selectize mode to be searchable
   $("select").select2();
});



</script>

{% endblock %}
