{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<body>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div id="wait"
                 style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;">
                <div class="preloader3 loader-block" id="loader">
                    <div class="circ1"></div>
                    <div class="circ2"></div>
                    <div class="circ3"></div>
                    <div class="circ4"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">


                    <div class="tab-content">
                        <div class="tab-pane active" id="home7" role="tabpanel">
                            <form action="/ecom/walletrecharge_data/" method="post">{% csrf_token %}
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Enter Order Id:
                                        </div>
                                        <div class="col-sm-4">
                                            <input name="order_id"

                                                   placeholder="Enter Order ID"
                                                   type="text"

                                            >
                                        </div>
                                        <br>
                                        <br>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            Enter Transaction Id:
                                        </div>
                                        <div class="col-sm-4">
                                            <input name="transaction_id"
                                                   placeholder="Enter Transaction ID"
                                                   type="text">
                                        </div>
                                        <br>
                                        <br>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            Enter Date:
                                        </div>
                                        <div class="col-sm-4">
                                            <input name="date"
                                                   placeholder="Enter Date"
                                                   type="date" required>
                                        </div>
                                        <br>
                                        <br>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            Enter Amount:
                                        </div>
                                        <div class="col-sm-4">
                                            <input name="amount"
                                                   placeholder="Enter Amount"
                                                   type="text"
                                                   onkeypress="return isNumber(event)"
                                                   required>
                                                    </div>
                                                          <br>
                                                          <br>
                                                            </div>

                                                      <div class=" row">
                                            <div class="col-sm-4">
                                                Enter Status:
                                            </div>
                                            <div class="col-sm-4">
                                                <select name="status"
                                                        class="form-control form-control-primary"
                                                        style="width: 100px;length: 50px;">
                                                    <option name="True">True
                                                    </option>
                                                    <option name="False">False
                                                    </option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>


                                    <input
                                            type="submit"
                                            class="btn btn-primary waves-effect waves-light m-r-10"
                                            value="ADD">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<br><br>

</body>


<style>
    p{font-size:1.1vw}
    .card_style
    {
    width:70%;
    border-style:solid;
    border-width:1px;
    text-align:center;
    padding:2%;
    }

    .card-header{
    font-size:1.2vw;
    }




</style>

<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>


{% endblock %}

