{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr. no</th>
                                                <th>Product Name</th>
                                                <th>Product ID</th>
                                                <th>Seller Amount</th>
                                                <th>Created Date</th>
                                                <th>Updated Date</th>

                                            </tr>
                                            </thead>
                                            {% if rejected_order %}
                                            {% for rejected_order in rejected_order %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{rejected_order.product_id.name}}</td>
                                                <td>{{rejected_order.product_id.product_id}}</td>
                                                <td>{{rejected_order.seller_amount}}</td>
                                                <td>{{rejected_order.created_date}}</td>
                                                <td>{{rejected_order.updated_date}}</td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div id="styleSelector">
    </div>
</div>

{% endblock %}