{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">

    <div class="container">

        <div class="card">
            <div class="card-header">
                <b>{{msg}}</b>
                </div>
            <div class="row">
                <div class="col-sm-6" style="margin-top:2%;margin-left:2%;">
                    <td>
                        <img
                                src="/static/ecom/images/creditkart.png"
                                width="90" height="60"
                                class="m-b-10" alt=""><br><br>

                        <label style="font-weight:normal;font-size:11px;">The Creditkart<br>
                            Mudrakwik Fintech PVT LTD</label><br><label
                            style="font-size:10px;"><label style="font-size:9px;">13,
                        14, 15 & 16, Downtown City Vista,
                        Kharadi, Pune 411014</label><br>Email - info@thecreditkart.com, Contact -
                        +919807289807<br>GST Number : 27AAMCM8395H1ZQ<br>CIN:
                        U72900PN2019PTC185691</label>
                    </td>
                </div>

            </div>

            <div class="card-block">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table  invoice-detail-table">
                                <thead>
                                <tr class="thead-default">

                                    <th>Order ID</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Total Price</th>
                                    <th>Tax</th>

                                    <th>Total Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <input id="id1" type="hidden" value="{{user}}">

                                {% if invoice %}
                                {% for orders, data in invoice.items %}


                                <tr>
                                    <td>{{orders.unique_order_id}}</td>
                                    <td>{{orders.product_details.product_id.name}}</td>
                                    <td>{{orders.quantity}}</td>
                                    <td>{{orders.product_details.seller_amount}}</td>
                                    <td>{{data.0}}</td>
                                    <td>{{data.1}}</td>
                                    <td>{{data.2}}</td>


                                </tr>

                                {% endfor %}
                                {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-responsive invoice-table invoice-total">
                            <tbody>
                            <tr>
                                <th>Total Amount:</th>
                                {% if final_amount %}

                                <td>{{final_amount}}</td>
                                {% endif %}
                            </tr>
                            <tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

        </div>
    </div>

</div>
</div>


{% endblock %}

