{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<head>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
       <script src="/static/cdn/js/jquery(3.2.1).min.js"></script>
<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
<link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>

<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>-->
<script src="/static/cdn/js/select2(4.0.13).min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/ecom/bower_components/font-awesome/css/font-awesome.min.css">
<style>

.green-color {
color:green;
}
</style>
</head>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <!--                    <h5>{{msg}}</h5>-->
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">


                                    ​
                                    {% csrf_token %}
                                    {% if seller %}
                                    <form action="/ecom/seller_data/Seller/" method="post"
                                          enctype="multipart/form-data">{% csrf_token %}
                                        <h5>Search by Seller</h5><br>
                                        <div class="row">
                                            <div class="col-md-6">


                                                <select name="seller_name"


                                                        class="form-control form-control-primary"
                                                        style="width: 300px;length: 300px;" required>
                                                    <option value="" selected="True" disabled>---Select Seller here---
                                                    </option>
                                                    {% if seller_list %}
                                                    {% for seller_list in seller_list %}
                                                    <option>{{seller_list.username}}</option>
                                                    {% endfor %}
                                                    {% endif %}
                                                </select>


                                            </div>


                                            <div class="col-md-6">
                                                <select name="type"
                                                        class="form-control form-control-primary"
                                                        style="width: 300px;length: 300px;" required>

                                                    <option value="" selected="True" disabled>---Select status here---
                                                    </option>

                                                    <option>All</option>
                                                    <option>placed</option>
                                                    <option>placed_pending</option>
                                                    <option>accepted</option>
                                                    <option>packing</option>
                                                    <option>packed</option>
                                                    <option>cancelled</option>
                                                    <option>pending</option>
                                                    <option>shipped</option>
                                                    <option>in_transit</option>
                                                    <option>dispatched</option>
                                                    <option>delivered</option>
                                                    <option>return</option>
                                                    <option>exchange</option>
                                                    <option>undelivered</option>
                                                    <option>lost</option>
                                                    <option>return_cancelled</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <input
                                                type="submit" style="margin-left: 230px;"
                                                class="btn btn-primary waves-effect waves-light m-r-10"
                                                value="Search">
                                    </form>
                                    ​
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if all_data %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Order List</h5>


                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <a href="/ecom/return_seller_orders_csv/{{id_list}}/"><input id="mrunali" type="button"
                                                                                   class="btn btn-primary"
                                                                                   value="Download CSV"
                                                                                   style="float:right;display:;"></a>
                            <div class="project-table">
                                <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        <thead>

                                        <tr>
                                            <th>Order ID</th>
                                            <th>Unique Order ID</th>
                                            <th>Product Name</th>
                                            <th>Quantity</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th>Delivery Charges</th>
                                            <th>Convenient Fees</th>
                                            <th>Created Date</th>
                                            <th>Seller Name</th>


                                        </tr>
                                        </thead>
                                        {% if order_detail %}
                                        {% for order in order_detail %}
                                        <tbody>

                                        <tr>

                                            <td class="pro-name">
                                                <h6>
                                                    {{order.order_id}}</h6>
                                            </td>
                                            <td class="pro-name">
                                                <h6>
                                                    {{order.unique_order_id}}</h6>
                                            </td>
                                            <td class="pro-name">
                                                <h6>
                                                    {{order.product_details.product_id.name}}</h6>
                                            </td>
                                            <td class="pro-name">
                                                <h6>
                                                    {{order.quantity}}</h6>
                                            </td>
                                            <td class="pro-name">
                                                <h6>
                                                    {{order.total_amount}}</h6>
                                            </td>
                                            <td class="pro-name">
                                                <h6>
                                                    {{order.status}}</h6>
                                            </td>
                                            <td class="pro-name">
                                                <h6>
                                                    {{order.delivery_charges.amount}}</h6>
                                            </td>
                                            <td class="pro-name">
                                                <h6>
                                                    {{order.convenient_fees.amount}}</h6>
                                            </td>
                                            <td class="pro-name">
                                                <h6>
                                                    {{order.created_date}}</h6>
                                            </td>
                                            <td class="pro-name">
                                                <h6>
                                                    {{order.product_details.user.username}}</h6>
                                            </td>



                                            {% endfor %}


                                            {% endif %}


                                        </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                        <h6>{{msg}}</h6>
                    </div>

                </div>

            </div>
        </div>
        <div class="md-overlay"></div>
    </div>

    <div class="pagination" display="inline-block">
        <span class="step-links">
                    <span class="current">
            {% for i in page_count%}


            <li class="page-item"><a class="page-link" id="current_page" onclick="Page_count({{i}})">{{i}}</a></li>

            {% endfor %}
                    </span>
        </span>
    </div>

</div>
{% endif %}
<script>
function choose_option(){
var option = document.getElementById("search").value;
if(option == 'name'){
document.getElementById("search_product_by_name").style.display = "";
document.getElementById("search_product_by_id").style.display = "none";
document.getElementById("search_product_details_by_id").style.display = "none";


}
if(option == 'id'){
document.getElementById("search_product_by_id").style.display = "";
document.getElementById("search_product_by_name").style.display = "none";
document.getElementById("search_product_details_by_id").style.display = "none";

}
if(option == 'productdetails_id'){
document.getElementById("search_product_details_by_id").style.display = "";
document.getElementById("search_product_by_id").style.display = "none";
document.getElementById("search_product_by_name").style.display = "none";

}
}


      function Pass_value() {
                          console.log("--inside function");

                var count = document.getElementById('count').value;
                                          console.log("--count",count);



                $.ajax({
                    type: "GET",

                    data: {
                        'count': count
                    },


                    url: "/ecom/product_list",
                    success: function(data) {

                    console.log("--inside success");
                    console.log("--success",data);
                         document.getElementById('count').value = data;
                    },
                    error: function(data) {

                    }
                });
            }


             function Page_count(page) {
              console.log("--inside function page count");
              var page_count=page;
                              console.log("--coun of page",page_count);
    $.ajax({
        type: "GET",
        data: {
            'current_count': page_count,
        },
        url: "/ecom/product_list",
        success: function(data){

<!--        alert(data.data[0].fields['name']);-->
        $("#table-style-hover").find("tr:not(:first)").empty();

        console.log('-------------------data',data)
        console.log('data')

                            $.each(data, function( index, value ) {
                            for (var i=0;i<5;i++)
                            {

<!--                                $(#product_name).val('data.data[i].fields['name']');-->

                                    console.log('data',data.data[i].fields['name'])
                                    console.log('data pk',data.data[i].pk)
<!--                                    console.log('data',data.data[i].fields['category'])-->
<!--                                    console.log('data',data.data[i].fields['sub_category'])-->
<!--                                    console.log('data',data.data[i].fields['base_category'])-->
<!--                                    console.log('data',data.data[i].fields['seller'])-->
                     document.getElementById('product_name').dataset.value = data.data[i].pk
                    var row = $("<tr><td>" + 'image' + "</td><td>" + data.data[i].fields['name'] + "</td><td>" + data.data[i].fields['product_id'] + "</td><td>" +data.data[i].fields['category']+ "</td><td>" +data.data[i].fields['base_category']+"</td><td>" +data.data[i].fields['seller']+"</td></tr>");
                    $("#table-style-hover").append(row);




                            }
                            });
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            alert('error: ' + textStatus + ': ' + errorThrown);
                        }
    });
}



</script>
<!--<select name="seller_name"-->


<!--                                                        class="form-control form-control-primary"-->
<script>
   $(document).ready(function () {

//change selectboxes to selectize mode to be searchable
   $("select").select2();
});

</script>


{% endblock %}
