{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Seller</th>
                                                <th>Pending Amount</th>
                                                <th>Payment</th>
                                            </tr>
                                            </thead>
                                            {% if pending_amount %}

                                            <tr>


                                                {% for seller, pending_amount in pending_amount.items %}
                                                <td>{{forloop.counter}}</td>

                                                <td>{{seller}}</td>
                                                <td><a href="/ecom/seller_wallet_data/{{pending_amount.2}}/">{{pending_amount.0}}</a>
                                                </td>
                                                {% if pending_amount.0 > 0 %}
                                                <td>
                                                    <form action="/ecom/invoice_form_new/{{seller.id}}/">
                                                        <button id="payment_button"
                                                                type="submit"
                                                                class="btn btn-primary waves-effect waves-light m-r-10"
                                                        >Update Invoice Payments
                                                        </button>
                                                    </form>
                                                </td>
                                                {% else %}
                                                <td>
                                                    <form action="/ecom/invoice_form_new/{{seller.id}}/">
                                                        <button id="payment_button"
                                                                type="submit"
                                                                class="btn btn-primary waves-effect waves-light m-r-10"
                                                        >Update Invoice Payments
                                                        </button>
                                                    </form>
                                                </td>
                                                <!--                                                <td> <button id="payment_button1"-->
                                                <!--                                                                                    type="submit"-->
                                                <!--                                                                                    class="btn btn-secondary waves-effect waves-light m-r-10"-->
                                                <!--                                                                            >Update Invoice Payments-->
                                                <!--                                                                            </button></td>-->
                                                {% endif %}

                                            </tr>

                                            {% endfor %}
                                            {% endif %}


                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
