{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order ID</th>
                                                <th>Unique Order ID</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                                <th>Total Amount</th>
                                                <th>Tax</th>
                                                <th>Final Amount</th>
                                                <th>Date</th>
                                                <th>Sellers Name</th>
                                                <th>Status</th>

                                            </tr>
                                            </thead>
                                            {% if order_data %}
                                            {% for order, amount in order_data.items %}

                                            <tr>


                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/ecom/order-all-details/{{order.id}}/">{{order.order_id}}</a></td>
                                                <td><a href="/ecom/order_related_data/{{order.id}}/">{{order.unique_order_id}}</a></td>
                                                <td>{{order.quantity}}</td>
                                                <td>{{order.product_details.seller_amount}}</td>
                                                <td>{{amount.0}}</td>
                                                <td>{{amount.1}}</td>
                                                <td>{{amount.2}}</td>
                                                <td>{{order.created_date}}</td>
                                                <td>{{order.product_details.user.username}}</td>
                                                <td>{{order.status}}</td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
