{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="slide">
               <a href="/ecom/product_priority/"><input class="btn btn-primary" style="float:right;"
                                                           type="button"
                                                           value="change priority"></a>
               <br>
               <br>
               <br>
           </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <div class="dt-responsive table-responsive">
                                        <table class="table table-striped table-hover table-bordered nowrap"
                                               id="table-style-hover">
                                            {% if seller_list %}
                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Seller</th>
                                            </tr>
                                            </thead>
                                            {% for seller in seller_list %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/ecom/product_banner_report/{{seller}}">{{seller}}</a></td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                            {% if banner_obj %}
                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Product Name</th>
                                                <th>Banner Image</th>
                                                <th>Edit</th>
                                            </tr>
                                            </thead>
                                            {% for banner, image in banner_obj.items %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{banner.product.name}}</td>
                                                <td><img alt="{{product.name}}" class="img-fluid" height="100"
                                                         src="{{image}}" style="height: 100px;" width="100"></td>
                                                <td><a href="/ecom/edit_banner_report/{{banner.id}}/"><i class="fas fa-edit"></i>
                                                </a></td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="styleSelector">
    </div>
</div>
{% endblock %}