{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecom/sellers-total-orders/">
                                <h4 class="text-c-yellow f-w-600" id="total_orders">
                                    {{total_orders}}
                                </h4>
                            </a>
                            <h6 class="">Total Orders</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-bar-chart f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-yellow">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecom/sellers-placed-orders/">
                                <h4 class="text-c-yellow f-w-600" id="placed_orders">
                                    {{placed_orders}}</h4></a>
                            <h6 class="">Placed Orders</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-file-text f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-green">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecom/sellers-delivered-orders/"><h4 class="text-c-yellow f-w-600"
                                                                          id="delivered_orders">
                                {{delivered_orders}}</h4></a>
                            <h6 class="">Delivered Orders</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-calendar f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecom/sellers-pending-orders/"><h4 class="text-c-yellow f-w-600"
                                                                        id="pending_orders">
                                {{pending_orders}}</h4></a>
                            <h6 class="">Pending Orders</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-download f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-blue">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecomapi/seller_return_order_history/"><h4 class="text-c-yellow f-w-600"
                                                                                id="return_orders">
                                {{return_orders}}</h4></a>
                            <h6 class="">Return Orders</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-calendar f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecomapi/seller_exchange_order_history/"><h4 class="text-c-yellow f-w-600"
                                                                                  id="exchange_orders">
                                {{exchange_orders}}</h4></a>
                            <h6 class="">Exchange Orders</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-calendar f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecomapi/logistic_delivery_reverse_count/"><h4 class="text-c-yellow f-w-600"
                                                                                    id="logistics_orders">
                                {{logistics_orders}}</h4></a>
                            <h6 class="">Logistics Orders</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-calendar f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecom/product_list"><h4 class="text-c-yellow f-w-600" id="all_products">
                                {{all_products}}</h4></a>
                            <h6 class="">Total Products</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-calendar f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecom/user-cancelled-orders/"><h4 class="text-c-yellow f-w-600"
                                                                       id="cancelled_order">
                                {{cancelled_order}}</h4></a>
                            <h6 class="">Cancelled Orders</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-calendar f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecom/sellers_datewise_total_amount/">
                                <h4 class="text-c-yellow f-w-600" id="seller_amount">

                                    {{seller_amount}}</h4></a>
                            <h6 class="">Sellers Amount</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-calendar f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if request.user|has_group:"Seller" %}
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecom/sellers-product_status_count/">
                                <!--                                <h4 class="text-c-yellow f-w-600" id="total_product_details1">-->
                                <!--                                    0-->
                                <!--                                </h4>-->
                                <h4 class="text-c-yellow f-w-600" id="total_product_details1">
                                    0
                                </h4>
                            </a>
                            <h6 class="">Total Product Details</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-calendar f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecomapi/return_seller_order_list/"><h4 class="text-c-yellow f-w-600"
                                                                             id="return_confirm">
                                {{return_confirm}}</h4></a>
                            <h6 class="">Return Confirm Orders</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-calendar f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecomapi/exchange_seller_order_list/"><h4 class="text-c-yellow f-w-600"
                                                                               id="exchange_confirm">
                                {{exchange_confirm}}</h4></a>
                            <h6 class="">Exchange Confirm Orders</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-calendar f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if request.user|has_group:"EcomAdmin" %}
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecom/total-sellers/">
                                <h4 class="text-c-yellow f-w-600" id="sellers_count">{{sellers_count}}</h4></a>
                            <h6 class="">Total Sellers</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-user f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-yellow">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecom/sellers-initiated-orders/"><h4 class="text-c-yellow f-w-600"
                                                                          id="initiated_orders">
                                {{initiated_orders}}</h4></a>
                            <h6 class="">Initiated Orders</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-user f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecom/total-logistics/"><h4 class="text-c-yellow f-w-600" id="logistics_count">
                                {{logistics_count}}</h4>
                            </a>
                            <h6 class="">Total Logistics</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-user f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-green">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecom/submitted_products"><h4 class="text-c-yellow f-w-600"
                                                                   id="submitted_products">
                                {{submitted_products}}</h4></a>
                            <h6 class="">Pending Approvals</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-user f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-green">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecom/category_product/"><h4 class="text-c-yellow f-w-600" id="product_category">
                                {{product_category}}</h4></a>
                            <h6 class="">All category</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-calendar f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecom/sellers-delivered-orders/"><h4 class="text-c-yellow f-w-600"
                                                                          id="total_users">
                                0</h4></a>
                            <h6 class="">Total Users</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-user f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecom/credit_repayment_details/"><h4 class="text-c-yellow f-w-600"
                                                                          id="total_credit">
                                {{total_credit}}</h4></a>
                            <h6 class="">Total credits</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-download f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-blue">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecom/order_payment_monthwise/"><h4 class="text-c-yellow f-w-600"
                                                                         id="total_repayment_amount">
                                {{total_repayment_amount}}</h4></a>
                            <h6 class="">Total repayment Amount</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-download f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-blue">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecomapi/user_wallet_amount_details/"><h4 class="text-c-yellow f-w-600"
                                                                               id="wallet_amount">
                                {{wallet_amount}}</h4></a>
                            <h6 class="">Wallet Amount</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-calendar f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecomapi/seller_return_request_order/"><h4 class="text-c-yellow f-w-600"
                                                                                id="return_request">
                                {{return_request}}</h4></a>
                            <h6 class="">Return Request Pending</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-calendar f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecomapi/seller_exchange_request_order/"><h4 class="text-c-yellow f-w-600"
                                                                                  id="exchange_request">
                                {{exchange_request}}</h4></a>
                            <h6 class="">Exchange Request Pending</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-calendar f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-pink">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <!--        <div class="col-xl-8 col-md-12">-->
        <!--            <div class="card">-->
        <!--                <div class="card-header">-->
        <!--                    <h5>Visitors</h5>-->
        <!--                    <span class="text-muted">For more details about usage, please refer <a-->
        <!--                            href="https://www.amcharts.com/online-store/" target="_blank">amCharts</a> licences.</span>-->
        <!--                    <div class="card-header-right">-->
        <!--                        <ul class="list-unstyled card-option">-->
        <!--                            <li><i class="feather icon-maximize full-card"></i></li>-->
        <!--                            <li><i class="feather icon-minus minimize-card"></i></li>-->
        <!--                            <li><i class="feather icon-trash-2 close-card"></i></li>-->
        <!--                        </ul>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="card-block">-->
        <!--                    <div id="visitor" style="height:300px"></div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="col-xl-4 col-md-12">-->
        <!--            <div class="card">-->
        <!--                <div class="card-block bg-c-green">-->
        <!--                    <div id="proj-earning" style="height: 230px"></div>-->
        <!--                </div>-->
        <!--                <div class="card-footer">-->
        <!--                    <h6 class="text-muted m-b-30 m-t-15">Total completed project and earning</h6>-->
        <!--                    <div class="row text-center">-->
        <!--                        <div class="col-6 b-r-default">-->
        <!--                            <h6 class="text-muted m-b-10">Completed Projects</h6>-->
        <!--                            <h4 class="m-b-0 f-w-600 ">175</h4>-->
        <!--                        </div>-->
        <!--                        <div class="col-6">-->
        <!--                            <h6 class="text-muted m-b-10">Total Earnings</h6>-->
        <!--                            <h4 class="m-b-0 f-w-600 ">76.6M</h4>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->


        <!--        <div class="col-xl-5 col-md-12">-->
        <!--            <div class="card table-card">-->
        <!--                <div class="card-header">-->
        <!--                    <h5>Global Sales by Top Locations</h5>-->
        <!--                </div>-->
        <!--                <div class="card-block">-->
        <!--                    <div class="table-responsive">-->
        <!--                        <table class="table table-hover table-borderless">-->
        <!--                            <thead>-->
        <!--                            <tr>-->
        <!--                                <th>#</th>-->
        <!--                                <th>Country</th>-->
        <!--                                <th>Sales</th>-->
        <!--                                <th class="text-right">Average</th>-->
        <!--                            </tr>-->
        <!--                            </thead>-->
        <!--                            <tbody>-->
        <!--                            <tr>-->
        <!--                                <td><img src="../files/assets/images/widget/GERMANY.jpg" alt=""-->
        <!--                                         class="img-fluid img-30"></td>-->
        <!--                                <td>Germany</td>-->
        <!--                                <td>3,562</td>-->
        <!--                                <td class="text-right">56.23%</td>-->
        <!--                            </tr>-->
        <!--                            <tr>-->
        <!--                                <td><img src="../files/assets/images/widget/USA.jpg" alt=""-->
        <!--                                         class="img-fluid img-30"></td>-->
        <!--                                <td>USA</td>-->
        <!--                                <td>2,650</td>-->
        <!--                                <td class="text-right">25.23%</td>-->
        <!--                            </tr>-->
        <!--                            <tr>-->
        <!--                                <td><img src="../files/assets/images/widget/AUSTRALIA.jpg" alt=""-->
        <!--                                         class="img-fluid img-30"></td>-->
        <!--                                <td>Australia</td>-->
        <!--                                <td>956</td>-->
        <!--                                <td class="text-right">12.45%</td>-->
        <!--                            </tr>-->
        <!--                            <tr>-->
        <!--                                <td><img src="../files/assets/images/widget/UK.jpg" alt=""-->
        <!--                                         class="img-fluid img-30"></td>-->
        <!--                                <td>United Kingdom</td>-->
        <!--                                <td>689</td>-->
        <!--                                <td class="text-right">8.65%</td>-->
        <!--                            </tr>-->
        <!--                            <tr>-->
        <!--                                <td><img src="../files/assets/images/widget/BRAZIL.jpg" alt=""-->
        <!--                                         class="img-fluid img-30"></td>-->
        <!--                                <td>Brazil</td>-->
        <!--                                <td>560</td>-->
        <!--                                <td class="text-right">3.56%</td>-->
        <!--                            </tr>-->
        <!--                            </tbody>-->
        <!--                        </table>-->
        <!--                    </div>-->
        <!--                    <div class="text-right  m-r-20">-->
        <!--                        <a href="#!" class="b-b-primary text-primary">View all Sales Locations </a>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="col-xl-4 col-md-6">-->
        <!--            <div class="card">-->
        <!--                <div class="card-header">-->
        <!--                    <h5>New Users</h5>-->
        <!--                </div>-->
        <!--                <div class="card-block">-->
        <!--                    <canvas id="newuserchart" height="250"></canvas>-->
        <!--                </div>-->
        <!--                <div class="card-footer ">-->
        <!--                    <div class="row text-center b-t-default">-->
        <!--                        <div class="col-4 b-r-default m-t-15">-->
        <!--                            <h5>85%</h5>-->
        <!--                            <p class="text-muted m-b-0">Satisfied</p>-->
        <!--                        </div>-->
        <!--                        <div class="col-4 b-r-default m-t-15">-->
        <!--                            <h5>6%</h5>-->
        <!--                            <p class="text-muted m-b-0">Unsatisfied</p>-->
        <!--                        </div>-->
        <!--                        <div class="col-4 m-t-15">-->
        <!--                            <h5>9%</h5>-->
        <!--                            <p class="text-muted m-b-0">NA</p>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="col-xl-3 col-md-6">-->
        <!--            <div class="card">-->
        <!--                <div class="card-block text-center">-->
        <!--                    <i class="feather icon-mail text-c-lite-green d-block f-40"></i>-->
        <!--                    <h4 class="m-t-15"><span class="text-c-lite-green">8.62k</span> Subscribers</h4>-->
        <!--                    <p class="m-b-10">Your main list is growing</p>-->
        <!--                    <button class="btn btn-primary btn-sm btn-round">Manage List</button>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="card">-->
        <!--                <div class="card-block text-center">-->
        <!--                    <i class="feather icon-twitter text-c-green d-block f-40"></i>-->
        <!--                    <h4 class="m-t-15"><span class="text-c-blgreenue">+40</span> Followers</h4>-->
        <!--                    <p class="m-b-10">Your main list is growing</p>-->
        <!--                    <button class="btn btn-success btn-sm btn-round">Check them out</button>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->


        <!--        <div class="col-xl-4 col-md-6">-->
        <!--            <div class="card o-hidden">-->
        <!--                <div class="card-block bg-c-pink text-white">-->
        <!--                    <h6>Sales Per Day <span class="f-right"><i class="feather icon-activity m-r-15"></i>3%</span>-->
        <!--                    </h6>-->
        <!--                    <canvas id="sale-chart1" height="150"></canvas>-->
        <!--                </div>-->
        <!--                <div class="card-footer text-center">-->
        <!--                    <div class="row">-->
        <!--                        <div class="col-6 b-r-default">-->
        <!--                            <h4>$4230</h4>-->
        <!--                            <p class="text-muted m-b-0">Total Revenue</p>-->
        <!--                        </div>-->
        <!--                        <div class="col-6">-->
        <!--                            <h4>321</h4>-->
        <!--                            <p class="text-muted m-b-0">Today Sales</p>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="col-xl-4 col-md-6">-->
        <!--            <div class="card o-hidden">-->
        <!--                <div class="card-block bg-c-green text-white">-->
        <!--                    <h6>Visits<span class="f-right"><i-->
        <!--                            class="feather icon-activity m-r-15"></i>9%</span></h6>-->
        <!--                    <canvas id="sale-chart2" height="150"></canvas>-->
        <!--                </div>-->
        <!--                <div class="card-footer text-center">-->
        <!--                    <div class="row">-->
        <!--                        <div class="col-6 b-r-default">-->
        <!--                            <h4>3562</h4>-->
        <!--                            <p class="text-muted m-b-0">Monthly Visits</p>-->
        <!--                        </div>-->
        <!--                        <div class="col-6">-->
        <!--                            <h4>96</h4>-->
        <!--                            <p class="text-muted m-b-0">Today Visits</p>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="col-xl-4 col-md-12">-->
        <!--            <div class="card o-hidden">-->
        <!--                <div class="card-block bg-c-blue text-white">-->
        <!--                    <h6>Orders<span class="f-right"><i-->
        <!--                            class="feather icon-activity m-r-15"></i>12%</span></h6>-->
        <!--                    <canvas id="sale-chart3" height="150"></canvas>-->
        <!--                </div>-->
        <!--                <div class="card-footer text-center">-->
        <!--                    <div class="row">-->
        <!--                        <div class="col-6 b-r-default">-->
        <!--                            <h4>1695</h4>-->
        <!--                            <p class="text-muted m-b-0">Monthly Orders</p>-->
        <!--                        </div>-->
        <!--                        <div class="col-6">-->
        <!--                            <h4>52</h4>-->
        <!--                            <p class="text-muted m-b-0">Today Orders</p>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->


        <!--        <div class="col-xl-4 col-md-12">-->
        <!--            <div class="card quater-card">-->
        <!--                <div class="card-block">-->
        <!--                    <h6 class="text-muted m-b-20">This Quarter</h6>-->
        <!--                    <h4>$3,9452.50</h4>-->
        <!--                    <p class="text-muted">$3,9452.50</p>-->
        <!--                    <h5 class="m-t-30">87</h5>-->
        <!--                    <p class="text-muted">Online Revenue<span class="f-right">80%</span></p>-->
        <!--                    <div class="progress">-->
        <!--                        <div class="progress-bar bg-simple-c-pink" style="width: 80%"></div>-->
        <!--                    </div>-->
        <!--                    <h5 class="m-t-30">68</h5>-->
        <!--                    <p class="text-muted">Offline Revenue<span class="f-right">50%</span></p>-->
        <!--                    <div class="progress">-->
        <!--                        <div class="progress-bar bg-simple-c-yellow" style="width: 50%"></div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="col-xl-8 col-md-12">-->
        <!--            <div class="card social-network">-->
        <!--                <div class="card-header">-->
        <!--                    <h5>Social Network</h5>-->
        <!--                </div>-->
        <!--                <div class="card-block">-->
        <!--                    <div class="row">-->
        <!--                        <div class="col-sm-6">-->
        <!--                            <img src="../files/assets/images/widget/icon-1.png" alt=" "-->
        <!--                                 class="img-responsive p-b-20">-->
        <!--                            <div class="row">-->
        <!--                                <div class="col-5">-->
        <!--                                    <p class="text-muted m-b-5">Views :</p>-->
        <!--                                </div>-->
        <!--                                <div class="col-7">-->
        <!--                                    <p class="m-b-5 f-w-400">545,721</p>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                            <div class="row">-->
        <!--                                <div class="col-5">-->
        <!--                                    <p class="text-muted m-b-5">Comments :</p>-->
        <!--                                </div>-->
        <!--                                <div class="col-7">-->
        <!--                                    <p class="m-b-5 f-w-400">2,256</p>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                            <div class="row">-->
        <!--                                <div class="col-5">-->
        <!--                                    <p class="text-muted m-b-5">Likes :</p>-->
        <!--                                </div>-->
        <!--                                <div class="col-7">-->
        <!--                                    <p class="m-b-5 f-w-400">4,129</p>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                            <div class="row">-->
        <!--                                <div class="col-5">-->
        <!--                                    <p class="text-muted m-b-5">Subscribe :</p>-->
        <!--                                </div>-->
        <!--                                <div class="col-7">-->
        <!--                                    <p class="m-b-5 f-w-400">3,451,945</p>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="col-sm-6">-->
        <!--                            <img src="../files/assets/images/widget/icon-2.png" alt=" "-->
        <!--                                 class="img-responsive p-b-20">-->
        <!--                            <div class="row">-->
        <!--                                <div class="col-5">-->
        <!--                                    <p class="text-muted m-b-5">Engagement :</p>-->
        <!--                                </div>-->
        <!--                                <div class="col-7">-->
        <!--                                    <p class="m-b-5 f-w-400">1,543</p>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                            <div class="row">-->
        <!--                                <div class="col-5">-->
        <!--                                    <p class="text-muted m-b-5">Shares :</p>-->
        <!--                                </div>-->
        <!--                                <div class="col-7">-->
        <!--                                    <p class="m-b-5 f-w-400">846</p>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                            <div class="row">-->
        <!--                                <div class="col-5">-->
        <!--                                    <p class="text-muted m-b-5">Likes :</p>-->
        <!--                                </div>-->
        <!--                                <div class="col-7">-->
        <!--                                    <p class="m-b-5 f-w-400">569</p>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                            <div class="row">-->
        <!--                                <div class="col-5">-->
        <!--                                    <p class="text-muted m-b-5">Comments :</p>-->
        <!--                                </div>-->
        <!--                                <div class="col-7">-->
        <!--                                    <p class="m-b-5 f-w-400">156</p>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                    <div class="row">-->
        <!--                        <div class="col-sm-6 m-t-0">-->
        <!--                            <img src="../files/assets/images/widget/icon-3.png" alt=" "-->
        <!--                                 class="img-responsive p-b-10 p-t-10">-->
        <!--                            <div class="row">-->
        <!--                                <div class="col-5">-->
        <!--                                    <p class="text-muted m-b-5">Tweets :</p>-->
        <!--                                </div>-->
        <!--                                <div class="col-7">-->
        <!--                                    <p class="m-b-5 f-w-400">103,576</p>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="col-sm-6 m-t-0">-->
        <!--                            <img src="../files/assets/images/widget/icon-4.png" alt=" "-->
        <!--                                 class="img-responsive p-b-10 p-t-10">-->
        <!--                            <div class="row">-->
        <!--                                <div class="col-5">-->
        <!--                                    <p class="text-muted m-b-5">Tweets :</p>-->
        <!--                                </div>-->
        <!--                                <div class="col-7">-->
        <!--                                    <p class="m-b-5 f-w-400">103,576</p>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->

    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<script>
	$(document).ready(function () {
		// put Ajax here.

		setTimeout(function () {
			loan_data_1()
		}, 100); // milliseconds

		setTimeout(function () {
			loan_data_2()
		}, 100); // milliseconds

		setTimeout(function () {
			loan_data_3()
		}, 100); // milliseconds

		setTimeout(function () {
			loan_data_4()
		}, 100); // milliseconds

		setTimeout(function () {
			loan_data_5()
		}, 100); // milliseconds
	});

</script>

<script >
	function loan_data_1() {

		$.ajax({
			url: "/ecom/get_dashboard_data_1/",
			type: 'GET',
			dataType: 'json', // added data type
			success: function (res, status) {
				process_data(res)
			},
			error: function (data) {
				console.log("===========", data)
			}
		});
	}

// process data and display
function process_data(data) {

	document.getElementById("total_orders").innerText = data.total_orders;
	document.getElementById("placed_orders").innerText = data.placed_orders;
	document.getElementById("delivered_orders").innerText = data.delivered_orders;
	document.getElementById("pending_orders").innerText = data.pending_orders;

}

</script>

<script >
	function loan_data_2() {
		$.ajax({
			url: "/ecom/get_dashboard_data_2/",
			type: 'GET',
			dataType: 'json', // added data type
			success: function (res, status) {
				process_data2(res)
			},
			error: function (data) {
				console.log("===========", data)
			}
		});
	}

// process data and display
function process_data2(data) {
	document.getElementById("return_orders").innerText = data.return_orders;
	document.getElementById("exchange_orders").innerText = data.exchange_orders;
	document.getElementById("logistics_orders").innerText = data.logistics_orders;
	document.getElementById("all_products").innerText = data.all_products;
}
</script>

<script >
	function loan_data_3() {
		$.ajax({
			url: "/ecom/get_dashboard_data_3/",
			type: 'GET',
			dataType: 'json', // added data type
			success: function (res, status) {
				process_data3(res);
			},
			error: function (data) {
				console.log("====process_data3=======", data)
			}
		});
	}

// process data and display
function process_data3(data) {
	document.getElementById("cancelled_order").innerText = data.cancelled_order;

	var elementExists = document.getElementById("total_product_details1");
	if (elementExists) {
		document.getElementById("total_product_details1").innerText = data.total_product_details;
	}

	var seler_elementExists = document.getElementById("sellers_count");
	if (seler_elementExists) {
		document.getElementById("sellers_count").innerText = data.sellers_count;
	}

	var seler_amt_elementExists = document.getElementById("seller_amount");
	if (seler_amt_elementExists) {
		document.getElementById("seller_amount").innerText = data.seller_amount;
	}
	var initiated_orders_elementExists = document.getElementById("initiated_orders");
	if (initiated_orders_elementExists) {
		document.getElementById("initiated_orders").innerText = data.initiated_orders;
	}

}


</script>
<script>
	function loan_data_4() {
		$.ajax({
			url: "/ecom/get_dashboard_data_4/",
			type: 'GET',
			dataType: 'json', // added data type
			success: function (res, status) {
				process_data4(res)
			},
			error: function (data) {
				console.log("process_data4===========", data)
			}
		});
	}

// process data and display
function process_data4(data) {
	var elementExists = document.getElementById("exchange_confirm");
	if (elementExists) {
		document.getElementById("exchange_confirm").innerText = data.exchange_confirm;
	}
	var logistics_elementExists = document.getElementById("logistics_count");
	if (logistics_elementExists) {
		document.getElementById("logistics_count").innerText = data.logistics_count;
	}

	var prod_elementExists = document.getElementById("product_category");
	if (prod_elementExists) {
		document.getElementById("product_category").innerText = data.product_category;
	}

	var sub_prod_elementExists = document.getElementById("submitted_products");
	if (sub_prod_elementExists) {
		document.getElementById("submitted_products").innerText = data.submitted_products;
	}

}


</script>

<script>
	function loan_data_5() {
		$.ajax({
			url: "/ecom/get_dashboard_data_5/",
			type: 'GET',
			dataType: 'json', // added data type
			success: function (res, status) {
				process_data5(res)
			},
			error: function (data) {
				console.log("process_data4===========", data)
			}
		});
	}

// process data and display
function process_data5(data) {
	var elementExists = document.getElementById("wallet_amount");
	if (elementExists) {
		document.getElementById("wallet_amount").innerText = data.wallet_amount;
	}
	var credit_elementExists = document.getElementById("total_credit");
	if (credit_elementExists) {
		document.getElementById("total_credit").innerText = data.total_credit;
	}
	var rep_amt_elementExists = document.getElementById("total_repayment_amount");
	if (rep_amt_elementExists) {
		document.getElementById("total_repayment_amount").innerText = data.total_repayment_amount;
	}

	var exchange_request_elementExists = document.getElementById("exchange_request");
	if (exchange_request_elementExists) {
		document.getElementById("exchange_request").innerText = data.exchange_request;
	}

	var return_request_elementExists = document.getElementById("return_request");
	if (return_request_elementExists) {
		document.getElementById("return_request").innerText = data.return_request;
	}

}

</script>

{% endblock %}
