{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<body
        {% if current_page %}
        onload="call_table_data({{current_page}});"
        {% else %}
        onload="call_table_data(1);"
        {% endif %}
>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Orders List</h5>
                    <div id="wait"
                         style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;">
                        <div class="preloader3 loader-block" id="loader">
                            <div class="circ1"></div>
                            <div class="circ2"></div>
                            <div class="circ3"></div>
                            <div class="circ4"></div>
                        </div>
                    </div>
                </div>
                 <div class="card-block">
                     <div class="row">


                         <div class="col-6">
                              Sellers Per Page :
                            <select class="form-control text-center" id="product_per_page"  onchange="call_product_per_page();">
                                <option value="0">--Select--</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                         </div>
                         <div class="col-6">
                             Search Here :
                             <input id="gfg" type="text" class="form-control text-center"
                                        placeholder="Search here">
                                </div>
                     </div>
                     <br>
                     <br>
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <div class="">

                                    <table id="table-style-hover1"
                                           class="table table-striped table-hover table-bordered nowrap">
                                           <input type="hidden" value="{{status}}" id="status">
                                            <div class="form-row">
                                                <thead>
                                                <tr>
                                                    <th>Sr.no</th>
                                                    <th>Seller Name</th>
                                                    <th>Order Count</th>

                                                </tr>
                                                </thead>
                                                <tbody id="tbody">

                                                </tbody>
                                        </div>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-overlay"></div>
    </div>
    <div class="col-xl-12">
        <div class="row">
            <div class="">
                <nav aria-label="...">
                    <ul class="pagination" id="pag">
                    </ul>

                </nav>
            </div>
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            <div class="">
                <input type="hidden" id="total_pages" value="">
                <input type="hidden" id="ppp" value="">
                <div class="row">
                   <input class="form-control" id="jump" onkeypress="return isNumber(event)"
                                   style="width:60px;" value="">
                            <button
                                   class="btn btn-primary" type="submit" id="go" onclick="jump_to();">GO &raquo;
                            </button>
                </div>

                &nbsp;&nbsp;&nbsp;


            </div>
        </div>
    </div>

</div>
</body>

<script>
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}

</script>

<script>
// Product per page dropdown
var product_page = document.getElementById("product_per_page").value;
    if (product_page == 0){
    product_page= 100;
    }
    document.getElementById("ppp").value= product_page;
    console.log(product_page);
function call_product_per_page(){
var product_per_page = document.getElementById("product_per_page").value;
    if (product_per_page == 0){
    product_per_page= 100;
}
console.log(product_per_page);
document.getElementById("ppp").value= product_per_page;
call_table_data(1)
}
// Product per page dropdown ---end
//press enter to go
var input = document.getElementById("jump");
 input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   document.getElementById("go").click();
  }
});
function jump_to() {
   var page_no = document.getElementById("jump").value;
   var page_no = Math.ceil(page_no);
   var total_pages = document.getElementById("total_pages").value;
   var msg = "Please Enter Page Number between 1  to " + total_pages + " .";
   if (page_no <= total_pages && page_no > 0) {
      call_table_data(page_no);
//    call_table_data(page_no,0);
      document.getElementById("jump").value = "";
   } else {
      alert(msg);
      document.getElementById("jump").value = "";
   }
}
function call_table_data(page_no) {
    product_per_page=document.getElementById("ppp").value;
    status =document.getElementById("status").value;
//function call_table_data(page_no,product_per_page) {
$(document).ajaxStart(function(){
    $("#wait").css("display", "block");
  });
   $.ajax({
      type: "POST",
      data: {
         page_no: page_no,
         product_per_page: product_per_page,
         status: status
      },
      url: "/ecom/page_data/",
      success: function (data) {
         $("#table-style-hover1").find("tr:not(:first)").empty();
         var data = JSON.parse(data);
         if (status === "2") {
            console.log("data is empty");
            alert("Data is not available");
         } else {
            $("#pag").empty();
            var page_count = data["page_count"];
            document.getElementById("total_pages").value = page_count;
            var current_page = data["current_page"];
            var previous = data["previous"];
            var next = data["next"];
            var page_count_list = [];
            var first = 1;
            var i = current_page + 2;
            var k = current_page - 2;
            var m = page_count - 2;
            var anchor_tag =
               '<li class="page-item"><a class="page-link" ' +
               "id=" +
               first +
               ' onclick="call_table_data(' +
               first +
               ')">' +
               "First" +
               "</a></li>";
            page_count_list.push(anchor_tag);
            if (previous == "True") {
               var pre_val = current_page - 1;
               var anchor_tag =
                  '<li class="page-item"><a class="page-link" ' +
                  "id=" +
                  pre_val +
                  ' onclick="call_table_data(' +
                  pre_val +
                  ')">' +
                  "Previous" +
                  "</a></li>";
               page_count_list.push(anchor_tag);
            }
            if (current_page <= page_count) {
               {
                  if (k > 1 && k < current_page && page_count > 5) {
                     var anchor_tag =
                        '<li class="page-item"><a class="page-link" ' +
                        "id=" +
                        (k - 1) +
                        ' onclick="call_table_data(' +
                        "return false" +
                        ')">' +
                        ".." +
                        "</a></li>";
                     page_count_list.push(anchor_tag);
                  }
                  if (
                     current_page == page_count - 1 ||
                     current_page == page_count
                  ) {
                     for (var l = page_count - 4; l <= page_count; l++) {
                        if (l > 0) {
                        if (l == current_page){
                        var anchor_tag =
                              '<li class="page-item active" ' +
                        "id=" +
                        l +
                        '><a class="page-link" onclick="call_table_data(' +
                              l +
                              ')">' +
                              l +
                              "</a></li>";
                        }
                        else{
                           var anchor_tag =
                              '<li class="page-item" ' +
                        "id=" +
                        l +
                        '><a class="page-link" onclick="call_table_data(' +
                              l +
                              ')">' +
                              l +
                              "</a></li>";
                              }
                           page_count_list.push(anchor_tag);
                        }
                     }
                  } else {
                     for (var l = current_page; l > k; k++) {
                        if (k > 0) {
                        if(k == current_page){
                        var anchor_tag =
                              '<li class="page-item active" ' +
                        "id=" +
                        k +
                        '><a class="page-link" onclick="call_table_data(' +
                              k +
                              ')">' +
                              k +
                              "</a></li>";
                        }
                        else{
                           var anchor_tag =
                              '<li class="page-item" ' +
                        "id=" +
                        k +
                        '><a class="page-link" onclick="call_table_data(' +
                              k +
                              ')">' +
                              k +
                              "</a></li>";
                              }
                           page_count_list.push(anchor_tag);
                        }
                     }
                     if (current_page <= 2) {
                        for (var l = current_page; l <= 5; l++) {
                           if (l <= page_count) {
                           if(l == current_page){
                                    var anchor_tag =
                                 '<li class="page-item active" ' +
                        "id=" +
                        l +
                        '><a class="page-link" onclick="call_table_data(' +
                                 l +
                                 ')">' +
                                 l +
                                 "</a></li>";
                           }
                           else{
                              var anchor_tag =
                                 '<li class="page-item " ' +
                        "id=" +
                        l +
                        '><a class="page-link" onclick="call_table_data(' +
                                 l +
                                 ')">' +
                                 l +
                                 "</a></li>";
                                 }
                              page_count_list.push(anchor_tag);
                           }
                        }
                     } else {
                        for (var l = current_page; l <= i; l++) {
                           if (l <= page_count) {
                           if(l == current_page){
                           var anchor_tag =
                                 '<li class="page-item active" ' +
                        "id=" +
                        l +
                        '><a class="page-link" onclick="call_table_data(' +
                                 l +
                                 ')">' +
                                 l +
                                 "</a></li>";
                           }
                                    else{
                              var anchor_tag =
                                 '<li class="page-item" ' +
                        "id=" +
                        l +
                        '><a class="page-link" onclick="call_table_data(' +
                                 l +
                                 ')">' +
                                 l +
                                 "</a></li>";}
                              page_count_list.push(anchor_tag);
                           }
                        }
                     }
                     if (i < page_count && page_count > 5) {
                        var anchor_tag =
                           '<li class="page-item"><a class="page-link" onclick="call_table_data(' +
                           "return false" +
                           ')">' +
                           ".." +
                           "</a></li>";
                        page_count_list.push(anchor_tag);
                     }
                  }
               }
            }
            if (next == "True") {
               var next_val = current_page + 1;
               var anchor_tag =
                  '<li class="page-item" ' +
                        "id=" +
                        next_val +
                        '><a class="page-link" onclick="call_table_data(' +
                  next_val +
                  ')">' +
                  "Next" +
                  "</a></li>";
               page_count_list.push(anchor_tag);
            }
            var anchor_tag =
               '<li class="page-item" ' +
                        "id=" +
                        page_count +
                        '><a class="page-link" onclick="call_table_data(' +
               page_count +
               ')">' +
               "Last" +
               "</a></li>";
            page_count_list.push(anchor_tag);
            $("#pag").append(page_count_list);
                var status = data["status"]
            for (var i = 0; i < data["data_list"].length; i++) {
               var opt = data["data_list"][i];
               var seller_name = opt["seller_name"];
               var order_count = opt["order_count"];
                new_url = '"/ecom/monthwise_seller/' + seller_name + '/' + status + '/"'
                anchor_tag ='<a href=' + new_url + '>' + seller_name + '</a>'
                var sr_no = i + 1;
               var row = $("<tr><td>" + sr_no + "</td><td>" + anchor_tag + "</td><td>" + order_count + "</td></tr>"
               );
               $("#table-style-hover1").append(row);
            }
         }
      },
      error: function (data) {
         console.log("--error", data);
      },
   });
 $(document).ajaxComplete(function(){
    $("#wait").css("display", "none");
  });
}
</script>
{% endblock %}
