{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<head>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
       <script src="/static/cdn/js/jquery(3.2.1).min.js"></script>
<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
<link href="/static/cdn/css/select2(4.0.13).min.css" rel="stylesheet"/>

<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>-->
<script src="/static/cdn/js/select2(4.0.13).min.js"></script>

</head>


<div class="card">
        <div class="row">
<div class="col-sm-12">
<div class="card-block">

          <div class="tab-content">
              <div class="tab-pane active" id="home7" role="tabpanel">
                 <form action="/ecom/seller_invoice_csv_file/" method="POST">{% csrf_token %}
                     <div class="row">
                         {% if request.user|has_group:"EcomAdmin" %}
                             <div class="col-6">

                                     Select Seller :
                                     <select id="seller" name="seller" required>
                                    <option value="">---Select Seller---</option>
                                         {% for seller in seller %}
                                    <option value="{{seller}}">{{seller}}</option>
                                         {% endfor %}

                                    </select>
                             </div>

                            {% endif %}
                             <div class="col-6"  style="margin-top:1%;">
                                    Select Date :
                                    <input type="text" class="form-control" name="datepicker" id="datepicker" required/>
<!--                                <input class="month-date" type="date" min="2014-02">-->


                             </div>
                         </div>

                <br>
                <br>
                <br>
                      <center><input type="submit" id="myBtn" class="btn btn-primary" value="Get CSV" style="float:;"
                   onclick="call_data();"></center>
                 </form>
              </div>
          </div>
    </div>
</div>
</div>
</div>


<script>
   $(document).ready(function () {
//change selectboxes to selectize mode to be searchable
   $("select").select2();
});

</script>

<!--<link href="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">


<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<!--<script src="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>







<script>
    $("#datepicker").datepicker( {
    format: "mm-yyyy",
    startView: "months",
    minViewMode: "months"
});
</script>




{% endblock %}
