

{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<div class="page-body">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-header">
            </div>
            <div class="card-block">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="slide"></div>
                     <div class="tab-content">
                        <div class="tab-pane active" id="home7" role="tabpanel">
                           <div class="dt-responsive table-responsive">
                              <table id="table-style-hover"
                                 class="table table-striped table-hover table-bordered nowrap">
                                 {% if seller %}
                                 <thead>
                                    <tr>
                                       <th>Sr.no</th>
                                       <th>Order ID</th>
                                       <th>Product Name</th>
                                       <th>Product SKU</th>
                                       <th>Quantity</th>
                                       <th>Amount</th>
                                       <th>Total Amount</th>
                                       <th>Date</th>
                                       <th>Status</th>
                                    </tr>
                                 </thead>
                                 {% if sellers_orders %}
                                 {% for order in sellers_orders %}
                                 <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>
                                       <a href="/ecom/order-all-details/{{order.id}}/">
                                          {{order.order_id}}
                                    </td>
                                    <td>{{order.product_details.product_id.name}}</td>
                                    <td>{{order.product_details.sku}}</td>
                                    <td>{{order.quantity}}</td>
                                    <td>{{order.amount}}</td>
                                    <td>{{order.total_amount}}</td>
                                    <td>{{order.date}}</td>
                                    <td>{{order.status}}</td>
                                 </tr>
                                 {% endfor %}
                                 {% endif %}
                                 {% else %}
                                 <thead>
                                 <tr>
                                 <th>Sr.no</th>
                                 <th>Seller Name</th>
                                 <th>Order Count</th>
                                 </tr>
                                 </thead>
                                 {% for seller, count in sellers.items %}
                                 <tr>
                                 <td>{{forloop.counter}}</td>
                                 <td><a href="/ecom/monthwise_seller_count/{{seller.id}}/placed/">{{seller.username}}</a>
                                 </td>
                                 <td>{{count}}</td>
                                 </tr>
                                 {% endfor %}
                                 {% endif %}
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <nav aria-label="Page navigation example">
      <ul class="pagination">
         {% if sellers_orders.has_previous %}
         <li class="page-item">
            <a class="page-link" href="?page={{ sellers_orders.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
         </li>
         {% endif %}
         <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
         {% for i in number%}
         <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
         {% endfor %}
         <li class="page-item"><a class="page-link" href="?page={{sellers_orders.paginator.num_pages}}">Last</a></li>
         {% if product.has_next %}
         <li class="page-item">
            <a class="page-link" href="?page={{ sellers_orders.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
         </li>
         {% endif %}
      </ul>
   </nav>
</div>
{% endblock %}

