{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-block">

                    <div class="col-sm-12">
                        <div class="row">



                                    <div class="dt-responsive table-responsive" id="table">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>

                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Seller Name</th>

                                            </tr>
                                            </thead>
                                            {% if sellers %}
                                            {% for seller in sellers %}

                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/ecom/seller_dispatch_order_invoice/{{seller}}/">{{seller}}</a></td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                            </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



{% endblock %}