{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Date</th>
                                                <th>Dispatched</th>
                                                <th>Delivered</th>
                                                <th>Remaning</th>


                                            </tr>
                                            </thead>
                                            {% if dict %}
                                            {% for dict in dict %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>

                                                {% for date,counts in dict.items%}


                                                <td>{{date}}</td>
                                                {%for counts in counts %}

                                                <td><a href="/ecom/seller_date_wise_data/{{date}}/dispatched/">{{counts.0}}</a></td>
                                                <td><a href="/ecom/seller_date_wise_data/{{date}}/delivered/">{{counts.1}}</a></td>
                                                <td><a href="/ecom/seller_date_wise_data/{{date}}/remaning/">{{counts.2}}</a></td>
<!--                                                <td>{{counts.1}}</td>-->
<!--                                                <td>{{counts.2}}</td>-->
                                                {% endfor %}


                                            </tr>
                                            {% endfor %}
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
