{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <table id="e-product-list"
                                       class="table table-striped dt-responsive nowrap">
                                    <tbody>
                                    {% if sellers %}
                                    {% for seller, images in sellers.items %}

                                    {% if images.3 == "seller_group" %}

                                    <tr>
                                        <th>Seller Name</th>
                                        <td class="pro-name">
                                            <h6>{{seller.0.name}}</h6>
                                        </td>
                                    </tr>
                                    {% endif %}

                                    {% if images.3 == "Logistics_group" %}
                                    <tr>
                                        <th>Logistics Name</th>
                                        <td class="pro-name">
                                            <h6>{{seller.0.name}}</h6>
                                        </td>
                                    </tr>
                                    {% endif %}


                                    <tr>
                                        <th>Main Address</th>
                                        <td>{{seller.0.main_address}}</td>
                                    </tr>
                                    <tr>
                                        <th>Mobile No</th>
                                        <td>{{seller.0.mobile_no}}</td>
                                    </tr>
                                    <tr>
                                        <th>Landline No</th>
                                        <td>{{seller.0.landline_no}}</td>
                                    </tr>
                                    <tr>
                                        <th>Type</th>
                                        <td>{{seller.0.type}}</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{seller.0.description}}</td>
                                    </tr>
                                    <tr>
                                        <th>GST No</th>
                                        <td>{{seller.0.gst_no}}</td>
                                    </tr>
                                    <tr>

                                        <th>Pan No</th>
                                        <td>{{seller.0.pan_no}}</td>
                                    </tr>
                                    <tr>
                                        <th>Shopact Licence</th>
                                        <td>{{seller.0.shop_act_licence}}</td>
                                    </tr>
                                    <tr>
                                        <th>Pan Image</th>
                                        <td class="pro-list-img">
                                            <img src="{{images.0}}" class="img-fluid" alt="{{seller.0.name}}"
                                                 style="height: 100px;" width="100" height="100">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Shopact Licence Image</th>
                                        <td class="pro-list-img">
                                            <img src="{{images.1}}" class="img-fluid" alt="{{seller.0.name}}"
                                                 style="height: 100px;" width="100" height="100">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Shop Image</th>
                                        <td class="pro-list-img">
                                            <img src="{{images.2}}" class="img-fluid" alt="{{seller.0.name}}"
                                                 style="height: 100px;" width="100" height="100">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Created Date</th>
                                        <td>{{seller.0.created_date}}</td>

                                    </tr>
                                    <tr>
                                        <th>Updated Date</th>
                                        <td>{{seller.0.updated_date}}</td>
                                    </tr>

                                    {% endfor %}
                                    {% endif %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="md-overlay"></div>

</div>

{% endblock %}
