{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr. no</th>
                                                <th>Approved Product</th>
                                                <th>Pending Approvals</th>
                                                <th>Rejected Product</th>

                                            </tr>
                                            </thead>
                                            {% if count %}
                                            {% for seller, product in count.items %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>
                                                    <a href="/ecom/sellers_product_details/{{seller}}/APPROVED/">{{product.0}}</a>
                                                </td>
                                                <td>
                                                    <a href="/ecom/sellers_product_details/{{seller}}/SUBMITTED/">{{product.1}}</a>
                                                </td>
                                                <td>
                                                    <a href="/ecom/sellers_product_details/{{seller}}/REJECTED/">{{product.2}}</a>
                                                </td>


                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div id="styleSelector">
    </div>
    {% endblock %}