{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<body {% if current_page %}
      onload="call_data({{current_page}});"
      {% else %}
      onload="call_data(1);"
      {% endif %}

>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <center><p>Seller Name :<h6 id="seller_name"></h6></p></center>
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <!--                                        <input type="hidden" value="{{count}}" id="count">-->
                                        <input id="seller" type="hidden" value="{{seller}}">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>

                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Amount Add</th>
                                                <th>Forwarded Amount</th>
                                                <th>Amount Sub</th>
                                                <th>Balance Amount</th>
                                                <th>Actual Paid</th>
                                                <th>Date</th>

                                            </tr>
                                            </thead>

                                            <tbody id="tbody">

                                            </tbody>


                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="row">
            <div class="">
                <nav aria-label="...">
                    <ul class="pagination" id="pag">
                    </ul>

                </nav>
            </div>
            &nbsp;&nbsp;
            <div class="">
                <input id="total_pages" type="hidden" value="">
                <input id="ppp" type="hidden" value="">
                <input id="jump" onkeypress="return isNumber(event)"
                       style="width:60px;" value="">
                <button class=" " id="go"
                        onclick="jump_to();" style="width:60px;" type="submit"><i class="fa fa-search "></i>
                </button>

                &nbsp;&nbsp;&nbsp;

                Products Per Page :
                <select id="product_per_page" onchange="call_product_per_page();"
                        style="width:100px;text-align:center;">
                    <option value="0">--Select--</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
    </div>
</div>
</body>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<script src="/static/cdn/js/jquery(3.5.1).min.js"></script>

<script src="/static/ecom/js/seller_wallet_pagination.js"></script>
{% endblock %}
