{% if request.user|has_group:"Accounts" %}
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="/ecom/dispatch_delivered_box/"><h4 class="text-c-yellow f-w-600">
                                </h4></a>
                            <h6 class=""><a href="/ecom/dispatch_delivered_box/">
                                Seller Invoice</a></h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="feather icon-calendar f-28"></i>
                        </div>
                    </div>
                </div>
                {% endif %}
