{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            {% if seller %}
                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order ID</th>
                                                <th>Product Name</th>
                                                <th>Product SKU</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                                <th>Total Amount</th>
                                                <th>Date</th>
                                                <th>Status</th>

                                            </tr>
                                            </thead>
                                            {% if sellers_orders %}
                                            {% for order in sellers_orders %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/ecom/order-all-details/{{order.id}}/">{{order.order_id}}
                                                </td>
                                                <td>{{order.product_details.product_id.name}}</td>
                                                <td>{{order.product_details.sku}}</td>
                                                <td>{{order.quantity}}</td>
                                                <td>{{order.amount}}</td>
                                                <td>{{order.total_amount}}</td>
                                                <td>{{order.date}}</td>
                                                <td>{{order.status}}</td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                            {% else %}

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Seller Name</th>

                                            </tr>
                                            </thead>
                                            {% for seller in sellers %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/ecom/sellers-accepted-orders/{{seller.id}}/">{{seller.username}}</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
