{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Seller Name</th>
                                                <th>Count</th>

                                            </tr>
                                            </thead>
                                            {% for seller,count in sellers.items %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/ecom/monthwise_seller_count/{{seller.id}}/initiated/">{{seller.username}}</a>
                                                </td>
                                                <td>{{count}}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
