{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>-->
<script src="/static/cdn/js/jquery(1.7.1).min.js" type="text/javascript"></script>

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>-->
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-4">
                                            <select class="form-control text-center" name="state" id="maxRows">
                                        <option value="5" selected>5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="70">70</option>
                                        <option value="100">100</option>
                                    </select>
                                        </div>
                                        <div class="col-4"></div>
                                        <div class="col-4">
                                            <input id="gfg" type="text" class="form-control text-center"
                                             placeholder="Search here">
                                        </div>
                                    </div>

                                </div>

                            <div class="tab-content">

                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                            <input type="hidden" value="{{status}}" id="status">
                                            <input type="hidden" value="{{seller_id}}" id="seller_id">
                                            <input type="hidden" value="{{month}}" id="month">


                                        <table id="table-style-hover1"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                 <th>Sr.no</th>
                                                 <th>Image</th>
                                                <th>Order ID</th>
                                                <th>Unique Order ID</th>
                                                <th>Product SKU</th>
                                                <th>Product Name</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                                <th>Total Amount</th>
                                                 <th>Payment Type</th>
                                                <th>Payment Mode</th>
                                                <th>Seller</th>

                                                <th>Date</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                             <tbody id="tbody">

                                            </tbody>
<!--                                            {% if sellers_orders %}-->
<!--                                            {% for order, image in sellers_orders.items %}-->
<!--                                            <tr>-->

<!--                                                <td>{{forloop.counter}}</td>-->
<!--                                                <td>-->
<!--                                                    <img src="{{image.0}}" class="img-fluid" alt="{{seller.0.name}}"-->
<!--                                                 style="height: 100px;" width="100" height="100">-->
<!--                                                </td>-->
<!--                                                <td>-->
<!--                                                    <a href="/ecom/order-all-details/{{order.id}}/">{{order.order_id}}</a>-->
<!--                                                </td>-->

<!--                                                <td><a href="/ecom/order_related_data/{{order.id}}/">{{order.unique_order_id}}</a></td>-->
<!--                                                <td>{{order.product_details.sku}}</td>-->
<!--                                                <td>{{order.product_details.product_id.name}}</td>-->
<!--                                                <td>{{order.quantity}}</td>-->
<!--                                                <td>{{order.amount}}</td>-->
<!--                                                <td>{{order.total_amount}}</td>-->
<!--                                                   <td>{{image.1}}</td>-->
<!--                                                   <td>{{image.2}}</td>-->
<!--                                                <td>{{order.product_details.user}}</td>-->

<!--                                                <td>{{order.date}}</td>-->
<!--                                                <td>{{order.status}}</td>-->

<!--                                            </tr>-->
<!--                                            {% endfor %}-->
<!--                                            {% endif %}-->



                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div class='pagination-container'>
                                <nav>
                                    <ul class="pagination">
                                        <li class="btn btn-info" data-page="prev">
                                            prev
                                        </li>
                                        <!--   Here the JS Function Will Add the Rows -->
                                        <li class="btn btn-info" data-page="next" id="prev">
                                            next
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    <script>
        var status =document.getElementById("status").value;
        var seller_id =document.getElementById("seller_id").value;
        console.log("seller-id",seller_id)
        var month =document.getElementById("month").value;
        console.log("status",status)
          $.ajax({
                    type: "POST",
                    data: {

                        'status': status,
                        'seller_id':seller_id,
                        'month':month,

                    },
                    url: "/ecom/sellers_total_orders_data/",
                    success: function(data) {
                     var data = JSON.parse(data);
                     console.log("datassaaaa",data)
                     $("#table-style-hover1").find("tr:not(:first)").empty();

                     var length = data["length"]

                     for (var i=0; i<length; i++){
                             var sr_no = i + 1;
                             var image = data["sellers_orders"][i]["image"]
                             var order_id = data["sellers_orders"][i]["order_id"]
                             var unique_order_id = data["sellers_orders"][i]["unique_order_id"]

                             var name = data["sellers_orders"][i]["name"]
                             var quantity = data["sellers_orders"][i]["quantity"]
                             var amount = data["sellers_orders"][i]["amount"]
                             var total_amount = data["sellers_orders"][i]["total_amount"]
                             var user = data["sellers_orders"][i]["user"]
                             var date = data["sellers_orders"][i]["date"]
                             var status = data["sellers_orders"][i]["status"]
                             var payment_mode = data["sellers_orders"][i]["payment_mode"]
                             var payment_type = data["sellers_orders"][i]["payment_type"]
                             var order = data["sellers_orders"][i]["order"]
                             path = '"' + image + '"';


                             img =
                            "<img src=" +
                            path +
                            ' class="img-fluid" style="height: 100px;" width="100" height="100"' +
                            ">";



                             new_url = '"/ecom/order-all-details/' + order +  '/"'

                             anchor_tag ='<a href=' + new_url + '>' + order_id + '</a>'

                             new_url_2 = '"/ecom/order_related_data/' + order +  '/"'

                             anchor_tag_2 ='<a href=' + new_url_2 + '>' + unique_order_id + '</a>'

                             if(data["sellers_orders"][i]["order_details_id"]){
                                  var sku = data["sellers_orders"][i]["sku"]
                                  var order_details_id = data["sellers_orders"][i]["order_details_id"]
                                   new_url_3 = '"/ecom/order_details_related_data/' + order_details_id +  '/"'

                                    anchor_tag_3 ='<a href=' + new_url_3 + '>' + sku + '</a>'


                             }
                             else{
                                 var sku = data["sellers_orders"][i]["sku"]

                             }


                             $("#tbody").append("<tr><td>"+sr_no+"</td><td>"+ img + "</td><td>"+ anchor_tag +"</td><td>"+ anchor_tag_2 + "</td><td>"+ anchor_tag_3 +"</td><td>"+name+"</td><td>"+quantity+"</td><td>"+ amount + "</td><td>" + total_amount+"</td><td>"+payment_type + "</td><td>"+payment_mode +"</td><td>"+user+"</td><td>"+date+"</td><td>"+status+ "</td></tr>")

                             }



                    },
                    });






</script>


<script>
              getPagination('#table-style-hover1');
               //getPagination('.table-class');
               //getPagination('table');
        /*               PAGINATION
        - on change max rows select options fade out all rows gt option value mx = 5
        - append pagination list as per numbers of rows / max rows option (20row/5= 4pages )
        - each pagination li on click -> fade out all tr gt max rows * li num and (5*pagenum 2 = 10 rows)
        - fade out all tr lt max rows * li num - max rows ((5*pagenum 2 = 10) - 5)
        - fade in all tr between (maxRows*PageNum) and (maxRows*pageNum)- MaxRows
        */
function getPagination(table) {
  var lastPage = 1;
  $('#maxRows')
    .on('change', function(evt) {
      //$('.paginationprev').html('');                // reset pagination
     lastPage = 1;
      $('.pagination')
        .find('li')
        .slice(1, -1)
        .remove();
      var trnum = 0; // reset tr counter
      var maxRows = parseInt($(this).val()); // get Max Rows from select option
      if (maxRows == 5000) {
        $('.pagination').hide();
      } else {
        $('.pagination').show();
      }
      var totalRows = $(table + ' tbody tr').length; // numbers of rows
      $(table + ' tr:gt(0)').each(function() {
        // each TR in  table and not the header
        trnum++; // Start Counter
        if (trnum > maxRows) {
          // if tr number gt maxRows
          $(this).hide(); // fade it out
        }
        if (trnum <= maxRows) {
          $(this).show();
        } // else fade in Important in case if it ..
      }); //  was fade out to fade it in
      if (totalRows > maxRows) {
        // if tr total rows gt max rows option
        var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..
        // numbers of pages
        for (var i = 1; i <= pagenum;i++ ) {
          // for each page append pagination li
          $('.pagination #prev')
            .before(
              '<li class="btn mr-1 ml-1" data-page="' +
                i +
                '">\
                          ' +
                i +
                '</li>'
            )
            .show();
        } // end for i
      } // end if row count > max rows
      $('.pagination [data-page="1"]').addClass('btn-primary active'); // add active class to the first li
      $('.pagination li').on('click', function(evt) {
        // on click each page
        evt.stopImmediatePropagation();
        evt.preventDefault();
        var pageNum = $(this).attr('data-page'); // get it's number
        var maxRows = parseInt($('#maxRows').val()); // get Max Rows from select option
        if (pageNum == 'prev') {
          if (lastPage == 1) {
            return;
          }
          pageNum = --lastPage;
        }
        if (pageNum == 'next') {
          if (lastPage == $('.pagination li').length - 2) {
            return;
          }
          pageNum = ++lastPage;
        }
        lastPage = pageNum;
        var trIndex = 0; // reset tr counter
        $('.pagination li').removeClass('btn-primary active'); // remove active class from all li
        $('.pagination [data-page="' + lastPage + '"]').addClass('btn-primary active'); // add active class to the clicked
        // $(this).addClass('btn-primary active');             // add active class to the clicked
      limitPagging();
        $(table + ' tr:gt(0)').each(function() {
          // each tr in table not the header
          trIndex++; // tr index counter
          // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
          if (
            trIndex > maxRows * pageNum ||
            trIndex <= maxRows * pageNum - maxRows
          ) {
            $(this).hide();
          } else {
            $(this).show();
          } //else fade in
        }); // end of for each tr in table
      }); // end of on click pagination list
     limitPagging();
    })
    .val(5)
    .change();
  // end of on select change
  // END OF PAGINATION
}
function limitPagging(){
   // alert($('.pagination li').length)
   if($('.pagination li').length > 7 ){
         if( $('.pagination li.active').attr('data-page') <= 3 ){
         $('.pagination li:gt(5)').hide();
         $('.pagination li:lt(5)').show();
         $('.pagination [data-page="next"]').show();
      }if ($('.pagination li.active').attr('data-page') > 3){
         $('.pagination li:gt(0)').hide();
         $('.pagination [data-page="next"]').show();
         for( let i = ( parseInt($('.pagination li.active').attr('data-page'))  -2 )  ; i <= ( parseInt($('.pagination li.active').attr('data-page'))  + 2 ) ; i++ ){
            $('.pagination [data-page="'+i+'"]').show();
         }
      }
   }
}
<!--$(function() {-->
<!--  // Just to append id number for each row-->
<!--  $('table tr:eq(0)').prepend('<th class="text-center"> ID </th>');-->
<!--  var id = 0;-->
<!--  $('table tr:gt(0)').each(function() {-->
<!--    id++;-->
<!--    $(this).prepend('<td>' + id + '</td>');-->
<!--  });-->
<!--});-->
//  Developed By Yasser Mas
// yasser.mas2@gmail.com
// All Table search script
function FilterkeyWord_all_table() {
// Count td if you want to search on all table instead of specific column
  var count = $('.table').children('tbody').children('tr:first-child').children('td').length;
        // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("search_input_all");
  var input_value =     document.getElementById("search_input_all").value;
        filter = input.value.toLowerCase();
  if(input_value !=''){
        table = document.getElementById("table-style-hover1");
        tr = table.getElementsByTagName("tr");
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 1; i < tr.length; i++) {
          var flag = 0;
          for(j = 0; j < count; j++){
            td = tr[i].getElementsByTagName("td")[j];
            if (td) {
                var td_text = td.innerHTML;
                if (td.innerHTML.toLowerCase().indexOf(filter) > -1) {
                //var td_text = td.innerHTML;
                //td.innerHTML = 'shaban';
                  flag = 1;
                } else {
                  //DO NOTHING
                }
              }
            }
          if(flag==1){
                     tr[i].style.display = "";
          }else {
             tr[i].style.display = "none";
          }
        }
    }else {
      //RESET TABLE
      $('#maxRows').trigger('change');
    }
}



</script>

<script>
 $(document).ready(function() {
                $("#gfg").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#tbody tr").filter(function() {
                        $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                    });
                });
            });


</script>
<script>
        $('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(compare($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function compare(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).text() }


</script>

{% endblock %}
