{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        {% if request.user|has_group:"Seller" or request.user|has_group:"EcomAdmin" %}
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellers-all-orders/total/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600" id="total_orders">
                                    {{total_orders}}
                                </h4>
                                <h6 class="">Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-bar-chart f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellers-all-orders/placed/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600" id="placed_orders">
                                    {{placed_orders}}</h4>

                                <h6 class="">Placed Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-file-text f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellers-all-orders/dispatched/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="dispatch_orders">
                                    {{dispatch_order}}</h4>

                                <h6 class="">Picked-Up Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellers-all-orders/pending/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="pending_orders">
                                    {{pending_orders}}</h4>
                                <h6 class="">Yet to be Dispatched Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-download f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellers-all-orders/delivered/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="delivered_orders">
                                    {{delivered_orders}}</h4>
                                <h6 class="">Delivered Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <a href="/ecom/sellers-all-orders/cancelled/">
                <div class="card">

                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="cancelled_order">
                                    {{cancelled_order}}</h4>

                                <h6 class="">Cancelled Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>

                </div>
            </a>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecomapi/seller_return_order_history/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="return_orders">
                                    {{return_orders}}</h4>
                                <h6 class="">Return Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        {% if request.user|has_group:"Seller" %}

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecomapi/return_seller_order_list/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="return_confirm">
                                    {{return_confirm}}</h4>
                                <h6 class="">Return Confirm Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        {% endif %}

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/product_list">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600" id="all_products">
                                    {{all_products}}</h4>

                                <h6 class="">Product Status</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellers_datewise_total_amount/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">

                                <h4 class="text-c-yellow f-w-600" id="seller_amount">

                                    {{seller_amount}}</h4>
                                <h6 class="">Sellers Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecomapi/logistic_delivery_reverse_count/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="logistics_orders">
                                    {{logistics_orders}}</h4>

                                <h6 class="">Logistics Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/monthwise_seller_amount/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="final_seller_amount">
                                    {{exchange_request}}</h4>
                                <h6 class="">Total Seller Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        {% if request.user|has_group:"Seller" %}
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellers-product_status_count/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">

                                <!--                                <h4 class="text-c-yellow f-w-600" id="total_product_details1">-->
                                <!--                                    0-->
                                <!--                                </h4>-->
                                <h4 class="text-c-yellow f-w-600" id="total_product_details1">
                                    0
                                </h4>

                                <h6 class="">Total Product Details</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        {% endif %}
        {% if request.user|has_group:"EcomAdmin" %}
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total-sellers/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">

                                <h4 class="text-c-yellow f-w-600" id="sellers_count">{{sellers_count}}</h4>
                                <h6 class="">Total Sellers</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-user f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/sellers-all-orders/initiated/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="initiated_orders">
                                    {{initiated_orders}}</h4>

                                <h6 class="">Initiated Orders</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-user f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/submittedproducts/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="submitted_products">
                                    {{submitted_products}}</h4>
                                <h6 class="">Pending Approvals</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-user f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-green">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/category_product/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600" id="product_category">
                                    {{product_category}}</h4>
                                <h6 class="">All category</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total_users/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="total_users">
                                    {{total_users}}</h4>
                                <h6 class="">Total Users</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-user f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/credit_repayment_details/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="total_credit">
                                    {{total_credit}}</h4>
                                <h6 class="">Total credits</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-download f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/order_payment_monthwise/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="total_repayment_amount">
                                    {{total_repayment_amount}}</h4>
                                <h6 class="">Total repayment Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-download f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-blue">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecomapi/user_wallet_amount_details/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="wallet_amount">
                                    {{wallet_amount}}</h4>
                                <h6 class="">Wallet Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecomapi/seller_return_request_order/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="return_request">
                                    {{return_request}}</h4>
                                <h6 class="">Return Request Pending</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/get_total_over_dues_amount/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="over_dues_total">
                                    {{over_dues_total}}</h4>
                                <h6 class="">Over Due Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/monthwise_order_amount/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="order_amount">
                                    {{exchange_request}}</h4>

                                <h6 class="">Total Order Amount</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/month_wise_shipping_fees/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="shipping_fees">
                                    {{shipping_fees}}</h4>
                                <h6 class="">Total Shipping Fees</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total_profit_amount/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="profit">
                                    {{profit}}</h4>
                                <h6 class="">Profit</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/month_wise_conv_fees/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="Convinient">
                                </h4>
                                <h6 class="">Total convenient fees</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--        <div class="col-xl-3 col-md-6">-->
        <!--            <div class="card">-->
        <!--                <a href="/ecom/convenient_fees_monthwise/">-->
        <!--                    <div class="card-block">-->
        <!--                        <div class="row align-items-center">-->
        <!--                            <div class="col-8">-->
        <!--                                <h4 class="text-c-yellow f-w-600"-->
        <!--                                    id="convinient_fees">-->
        <!--                                    {{convinient_fees}}</h4>-->
        <!--                                <h6 class="">Total Convinient Fees</h6>-->
        <!--                            </div>-->
        <!--                            <div class="col-4 text-right">-->
        <!--                                <i class="feather icon-calendar f-28"></i>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                    <div class="card-footer bg-c-pink">-->
        <!--                        <div class="row align-items-center">-->
        <!--                            <div class="col-9">-->
        <!--                                <p class="text-white m-b-0">View</p>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </a>-->
        <!--            </div>-->
        <!--        </div>-->

        {% endif %}


        {% if request.user|has_group:"Accounts" or request.user|has_group:"EcomAdmin"%}
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/dispatch_delivered_box/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h6 class="">
                                    <h5 style="font-size:20px;">Seller Invoice</h5>
                                </h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--        <div class="col-xl-3 col-md-6">-->
        <!--            <div class="card">-->
        <!--                <div class="card-block">-->
        <!--                    <div class="row align-items-center">-->
        <!--                        <div class="col-8">-->
        <!--                            <a href="/ecom/sellers_order_count/Dispatch/">-->
        <!--                                <h4 class="text-c-yellow f-w-600" id="placed_dispatch">-->
        <!--                                    {{placed_dispatch}}-->
        <!--                                </h4>-->
        <!--                            </a>-->
        <!--                            <h6 class="">Placed & Dispatch Orders</h6>-->
        <!--                        </div>-->
        <!--                        <div class="col-4 text-right">-->
        <!--                            <i class="feather icon-bar-chart f-28"></i>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="card-footer bg-c-blue">-->
        <!--                    <div class="row align-items-center">-->
        <!--                        <div class="col-9">-->
        <!--                            <p class="text-white m-b-0">View</p>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="col-xl-3 col-md-6">-->
        <!--            <div class="card">-->
        <!--                <div class="card-block">-->
        <!--                    <div class="row align-items-center">-->
        <!--                        <div class="col-8">-->
        <!--                            <a href="/ecom/sellers_order_count/Delivered/">-->
        <!--                                <h4 class="text-c-yellow f-w-600" id="placed_delivered">-->
        <!--                                    {{placed_delivered}}-->
        <!--                                </h4>-->
        <!--                            </a>-->
        <!--                            <h6 class="">Placed & Delivered Orders</h6>-->
        <!--                        </div>-->
        <!--                        <div class="col-4 text-right">-->
        <!--                            <i class="feather icon-download f-28"></i>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="card-footer bg-c-blue">-->
        <!--                    <div class="row align-items-center">-->
        <!--                        <div class="col-9">-->
        <!--                            <p class="text-white m-b-0">View</p>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="col-xl-3 col-md-6">-->
        <!--            <div class="card">-->
        <!--                <div class="card-block">-->
        <!--                    <div class="row align-items-center">-->
        <!--                        <div class="col-8">-->
        <!--                            <a href="/ecom/count/">-->
        <!--                                <h4 class="text-c-yellow f-w-600" id="count">-->
        <!--                                    {{seller_date_wise_count}}-->
        <!--                                </h4>-->
        <!--                            </a>-->
        <!--                            <h6 class="">seller and date dispatched orders</h6>-->
        <!--                        </div>-->
        <!--                        <div class="col-4 text-right">-->
        <!--                            <i class="feather icon-bar-chart f-28"></i>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="card-footer bg-c-yellow">-->
        <!--                    <div class="row align-items-center">-->
        <!--                        <div class="col-9">-->
        <!--                            <p class="text-white m-b-0">View</p>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        {% endif %}


        {% if request.user|has_group:"EcomTeam" %}

        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/product_list">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600" id="all_products">
                                    {{all_products}}</h4>
                                <h6 class="">Total Products</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/submittedproducts/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="submitted_products">
                                    {{submitted_products}}</h4>
                                <h6 class="">Pending Approvals</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/category_product/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600" id="product_category">
                                    {{product_category}}</h4>
                                <h6 class="">All category</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total-sellers/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">

                                <h4 class="text-c-yellow f-w-600" id="sellers_count">{{sellers_count}}</h4>
                                <h6 class="">Total Sellers</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-user f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        {% endif %}
        {% if request.user|has_group:"EcomManager" %}
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/product_list">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600" id="all_products">
                                    {{all_products}}</h4>
                                <h6 class="">Total Products</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/submittedproducts/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600"
                                    id="submitted_products">
                                    {{submitted_products}}</h4>
                                <h6 class="">Pending Approvals</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/category_product/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellow f-w-600" id="product_category">
                                    {{product_category}}</h4>
                                <h6 class="">All category</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-calendar f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-pink">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <a href="/ecom/total-sellers/">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">

                                <h4 class="text-c-yellow f-w-600" id="sellers_count">{{sellers_count}}</h4>
                                <h6 class="">Total Sellers</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-user f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<script>
	$(document).ready(function () {
		// put Ajax here.

		setTimeout(function () {
			loan_data_1()
		}, 100); // milliseconds

		setTimeout(function () {
			loan_data_2()
		}, 100); // milliseconds

		setTimeout(function () {
			loan_data_3()
		}, 100); // milliseconds

		setTimeout(function () {
			loan_data_4()
		}, 100); // milliseconds

		setTimeout(function () {
			loan_data_5()
		}, 100); // milliseconds
	});












</script>

<script>
	function loan_data_1() {

		$.ajax({
			url: "/ecom/get_dashboard_data_1/",
			type: 'GET',
			dataType: 'json', // added data type
			success: function (res, status) {
				process_data(res)
			},
			error: function (data) {
				console.log("===========", data)
			}
		});
	}

// process data and display
function process_data(data) {

    var element1 = document.getElementById("total_orders");
	if (element1) {
		document.getElementById("total_orders").innerText = data.total_orders;
	}

	var element2 = document.getElementById("placed_orders");
	if (element2) {
		document.getElementById("placed_orders").innerText = data.placed_orders;
	}

	var element3 = document.getElementById("delivered_orders");
	if (element3) {
		document.getElementById("delivered_orders").innerText = data.delivered_orders;
	}

	var element4 = document.getElementById("pending_orders");
	if (element4) {
		document.getElementById("pending_orders").innerText = data.pending_orders;
	}

	var elements = document.getElementById("dispatch_orders");
    if (elements) {
    document.getElementById("dispatch_orders").innerText = data.dispatch_orders;
    }

    var element5 = document.getElementById("placed_dispatch");
    if (element5) {
       document.getElementById("placed_dispatch").innerText = data.placed_dispatch;
    }
    var element6 = document.getElementById("placed_delivered");
    if (element6) {
       document.getElementById("placed_delivered").innerText = data.placed_delivered;
    }
    
}

</script>

<script>
	function loan_data_2() {
		$.ajax({
			url: "/ecom/get_dashboard_data_2/",
			type: 'GET',
			dataType: 'json', // added data type
			success: function (res, status) {
				process_data2(res)
			},
			error: function (data) {
				console.log("===========", data)
			}
		});
	}

// process data and display
function process_data2(data) {
    var elementExists1 = document.getElementById("return_orders");
	if (elementExists1) {
		document.getElementById("return_orders").innerText = data.return_orders;
	}


	var elementExists3 = document.getElementById("logistics_orders");
	if (elementExists3) {
		document.getElementById("logistics_orders").innerText = data.logistics_orders;
	}

	var elementExists4 = document.getElementById("all_products");
	if (elementExists4) {
		document.getElementById("all_products").innerText = data.all_products;
	}
	var elementExists5 = document.getElementById("profit");
	if (elementExists5) {
		document.getElementById("profit").innerText = data.profit;
	}

}

</script>

<script>
	function loan_data_3() {
		$.ajax({
			url: "/ecom/get_dashboard_data_3/",
			type: 'GET',
			dataType: 'json', // added data type
			success: function (res, status) {
				process_data3(res);
			},
			error: function (data) {
				console.log("====process_data3=======", data)
			}
		});
	}

// process data and display
function process_data3(data) {

    var cancel_elementExists = document.getElementById("cancelled_order");
	if (cancel_elementExists) {
		document.getElementById("cancelled_order").innerText = data.cancelled_order;
	}


	var elementExists = document.getElementById("total_product_details1");
	if (elementExists) {
		document.getElementById("total_product_details1").innerText = data.total_product_details;
	}

	var seller_elementExists = document.getElementById("sellers_count");
	if (seller_elementExists) {
		document.getElementById("sellers_count").innerText = data.sellers_count;
	}

    var element7 = document.getElementById("over_dues_total");
    if (element7) {
       document.getElementById("over_dues_total").innerText = data.over_dues_total;
    }   

	var seler_amt_elementExists = document.getElementById("seller_amount");
	if (seler_amt_elementExists) {
		document.getElementById("seller_amount").innerText = data.seller_amount;
	}
	var initiated_orders_elementExists = document.getElementById("initiated_orders");
	if (initiated_orders_elementExists) {
		document.getElementById("initiated_orders").innerText = data.initiated_orders;
	}

}

</script>
<script>
	function loan_data_4() {
		$.ajax({
			url: "/ecom/get_dashboard_data_4/",
			type: 'GET',
			dataType: 'json', // added data type
			success: function (res, status) {
				process_data4(res)
			},
			error: function (data) {
				console.log("process_data4===========", data)
			}
		});
	}

// process data and display
function process_data4(data) {

	var logistics_elementExists = document.getElementById("logistics_count");
	if (logistics_elementExists) {
		document.getElementById("logistics_count").innerText = data.logistics_count;
	}

	var prod_elementExists = document.getElementById("product_category");
	if (prod_elementExists) {
		document.getElementById("product_category").innerText = data.product_category;
	}



	var sub_prod_elementExists = document.getElementById("submitted_products");
	if (sub_prod_elementExists) {
		document.getElementById("submitted_products").innerText = data.submitted_products;
	}

	var total_users_elementExists = document.getElementById("total_users");
	if (total_users_elementExists) {
		document.getElementById("total_users").innerText = data.total_users;
	}

	var order_amount = document.getElementById("order_amount");
        if (order_amount) {
    document.getElementById("order_amount").innerText = data.order_amount;
    }

    var final_seller_amount = document.getElementById("final_seller_amount");
    if (final_seller_amount) {
        document.getElementById("final_seller_amount").innerText = data.final_seller_amount;
    }

    var convinient_fees = document.getElementById("Convinient");
    if (convinient_fees) {
        document.getElementById("Convinient").innerText = data.convinient_fees;
    }


}











</script>

<script>
	function loan_data_5() {
		$.ajax({
			url: "/ecom/get_dashboard_data_5/",
			type: 'GET',
			dataType: 'json', // added data type
			success: function (res, status) {
				process_data5(res)
			},
			error: function (data) {
				console.log("process_data4===========", data)
			}
		});
	}

// process data and display
function process_data5(data) {
	var elementExists = document.getElementById("wallet_amount");
	if (elementExists) {
		document.getElementById("wallet_amount").innerText = data.wallet_amount;
	}

	var convinient_fees = document.getElementById("convinient_fees");
	if (convinient_fees) {
		document.getElementById("convinient_fees").innerText = data.convinient_fees;
	}

	var credit_elementExists = document.getElementById("total_credit");
	if (credit_elementExists) {
		document.getElementById("total_credit").innerText = data.total_credit;
	}
	var rep_amt_elementExists = document.getElementById("total_repayment_amount");
	if (rep_amt_elementExists) {
		document.getElementById("total_repayment_amount").innerText = data.total_repayment_amount;
	}


	var return_request_elementExists = document.getElementById("return_request");
	if (return_request_elementExists) {
		document.getElementById("return_request").innerText = data.return_request;
	}

	var shipping_fees = document.getElementById("shipping_fees");
    if (return_request_elementExists) {
       document.getElementById("shipping_fees").innerText = data.shipping_fees;
    }

}

</script>

{% endblock %}