{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                       <form action="/ecom/seller_order_csv/{{seller_id}}/">
                            <input type="submit"
                                   class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                                   value="Download CSV">
                        </form>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>



                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order ID</th>
                                                <th>Unique ID</th>
                                                <th>Quantity</th>
                                                <th>Created date</th>
                                                <th>Amount</th>
                                                <th>Total Amount</th>
                                                <th>Payment Mode</th>
                                                <th>Payment Type</th>
                                                <th>Status</th>
                                                <th>Seller Amount</th>

                                            </tr>
                                            </thead>
                                            {% if orders %}
                                            {% for order, payment in orders.items %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/ecom/order-all-details/{{order.id}}/">{{order.order_id}}</a></td>
                                                <td><a href="/ecom/order_related_data/{{order.id}}/">{{order.unique_order_id}}</a></td>
                                                <td>{{order.quantity}}</td>
                                                <td>{{order.created_date}}</td>
                                                <td>{{order.amount}}</td>
                                                <td>{{order.total_amount}}</td>
                                                <td>{{payment.0}}</td>
                                                <td>{{payment.1}}</td>

                                                <td>{{order.status}}</td>
                                                <td>{{order.product_details.seller_amount}}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}


                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>

{% endblock %}