{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>

                                    <tr>

                                        <th>Order ID</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Total Price</th>
                                        <th>Tax</th>
                                        <th>Total Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>


                                    {% if amounts %}
                                    {% for orders, data in amounts.items %}


                                    <tr>
                                        <td>{{orders.unique_order_id}}</td>
                                        <td>{{orders.product_details.product_id.name}}</td>
                                        <td>{{data.0}}</td>
                                        <td>{{data.1}}</td>
                                        <td>{{data.2}}</td>
                                        <td>{{data.3}}</td>
                                        <td>{{data.4}}</td>

                                    </tr>

                                    {% endfor %}
                                    {% endif %}

                                    </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="styleSelector">
    </div>
</div>

{% endblock %}