{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <b><h4>{{msg}}</h4></b>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>

                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <form action="/ecom/cod_payment/" method="post">{% csrf_token %}
                                        <div class="dt-responsive table-responsive">
                                            <table id="table-style-hover"
                                                   class="table table-striped table-hover table-bordered nowrap">

                                                <thead>
                                                <tr>
                                                    <th>Sr.no</th>
                                                    <th>Order Text</th>
                                                    <th>Unique Order Ids</th>
                                                    <th>Total Amount</th>
                                                    <th>Convenient Fees</th>
                                                    <th>Delivery Charges</th>
                                                    <th>Payable Amount</th>
                                                    <th>Paid Amount</th>
                                                    <th>Remaining Amount</th>
                                                    <th>Status</th>
                                                    <th>Make Payment</th>
                                                </tr>
                                                </thead>
                                                {% if all_orders %}
                                                {% for order, charges in all_orders.items %}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td><a href="/ecom/cod_order_data/{{order.id}}/">{{order.order_text}}
                                                    </td>
                                                    <td>{{charges.0}}</a></td>
                                                    <td><a href="/ecom/order_details_related_data/{{order.id}}/">{{charges.1}}</a>
                                                    </td>
                                                    <td>{{charges.2}}</td>
                                                    <td>{{charges.3}}</td>
                                                    <td>{{charges.4}}</td>
                                                    <td>{{charges.5}}</td>
                                                    <td>{{charges.6}}</td>
                                                    <td>{{order.status}}</td>
                                                    {% if charges.6 <= 0 %}
                                                    <td>
                                                        <button class="btn btn-primary" type="submit"
                                                                name="order_details_id" value="{{order.id}}" disabled>
                                                            Make Payment
                                                        </button>
                                                    </td>
                                                    {% else %}
                                                    <td>
                                                        <button class="btn btn-primary" type="submit"
                                                                name="order_details_id" value="{{order.id}}">Make
                                                            Payment
                                                        </button>
                                                    </td>
                                                    {% endif %}
                                                </tr>
                                                {% endfor %}
                                                {% endif %}

                                            </table>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
