{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>Product Details</h5>
                    <form action="/ecom/product_details_add/{{product_id}}">
                        <input type="submit"
                               class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                               value="Add Product Details">
                        </input>
                    </form>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        <thead>
                                        <tr>
                                            <th>Sr.No.</th>
                                            <th>Unique Product Details Id</th>
                                            <th>Product Name</th>
                                            <th>Product ID</th>
                                            <th>SKU</th>
                                            <th>seller amount</th>
                                            {% if request.user|has_group:"EcomAdmin" %}
                                            <th>amount</th>
                                            {% endif %}
                                            <th>MRP</th>
                                            <th>size</th>
                                            <th>colour</th>
                                            <th>Balance Stock</th>

                                            <th>Status</th>

                                            <th>Image</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if product_list %}
                                        {% for product, data in product_list.items %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{product.unique_product_details_id}}</td>
                                            <td>{{product.product_id.name}}</td>
                                            <td>{{product.product_id.product_id}}</td>

                                            <td>{{product.sku}}</td>
                                            <td>{{product.seller_amount}}</td>
                                            {% if request.user|has_group:"EcomAdmin" %}
                                            <td>{{product.amount}}</td>
                                            {% endif %}
                                            <td>{{product.mrp}}</td>
                                            <td>{{product.size_id.name}}</td>
                                            <td>{{product.colour_id.name}}</td>

                                            {% if request.user|has_group:"EcomAdmin" %}
                                            <td>


                                                    {{data.1}}


                                            </td>
                                            {% endif %}
                                            {% if request.user|has_group:"Seller" %}
                                            <td>

                                                    {{data.1}}


                                            </td>
                                            {% endif %}

                                            {% if request.user|has_group:"EcomAdmin" %}
                                            <td>


                                                    {{product.status}}

                                            </td>
                                            {% else %}
                                            <td>
                                                {{product.status}}
                                            </td>
                                            {% endif %}

                                            <td class="pro-list-img">

                                                <img src="{{data.0}}"
                                                     class="img-fluid" alt="{{product.product_id.name}}"
                                                     style="height: 100px;" width="100"
                                                     height="100">
                                            </td>

                                        </tr>
                                        {% endfor %}
                                        {% endif %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="md-overlay"></div>


    </div>

    <!--Javascript model-->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
                    Edit Details
                    <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
                    </button>
                </div>
                <form action="" class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <input class="col-xs-12" id="products_id" name="products_id" readonly style="border:0px"
                                   type="hidden" value=products_id>

                            <label class="col-sm-4" style="text-align: left"><b>Product Name :</b></label>
                            <input class="col-xs-12" id="product_name" name="product_name" readonly style="border:0px"
                                   type="text" value=product_name>

                            <label class="col-sm-4" style="text-align: left"><b>Product ID :</b></label>
                            <input class="col-xs-12" id="product_id" name="product_id" readonly style="border:0px"
                                   type="text" value=product_id>

                            <label class="col-sm-4" style="text-align: left"><b>SKU :</b></label>
                            <input class="col-xs-12" id="sku" name="sku" readonly style="border:0px"
                                   type="text" value=sku>

                            <label class="col-sm-4" style="text-align: left"><b>Category :</b></label>
                            <input class="col-xs-12" id="category" name="category" readonly style="border:0px"
                                   type="text" value=category>

                            <label class="col-sm-4" style="text-align: left"><b>Sub category :</b></label>
                            <input class="col-xs-12" id="sub_category" name="sub_category" readonly style="border:0px"
                                   type="text" value=sub_category>

                            <label class="col-sm-4" style="text-align: left"><b>Seller Amount :</b></label>
                            <input class="col-xs-12" id="seller_amount" name="seller_amount" readonly style="border:0px"
                                   type="text" value=seller_amount>

                            <label class="col-sm-4" style="text-align: left"><b>Amount :</b></label>
                            <input class="col-xs-12" id="amount" name="amount" readonly style="border:0px"
                                   type="text" value=amount>

                            <label class="col-sm-4" style="text-align: left"><b>MRP :</b></label>
                            <input class="col-xs-12" id="mrp" name="mrp" readonly style="border:0px"
                                   type="text" value=mrp>


                            <label class="col-sm-4" style="text-align: left"><b>Size :</b></label>
                            <input class="col-xs-12" id="size" name="size" readonly style="border:0px"
                                   type="text" value=size>

                            <label class="col-sm-4" style="text-align: left"><b>Colour :</b></label>
                            <input class="col-xs-12" id="colour" name="colour" readonly style="border:0px"
                                   type="text" value=colour>

                            <label class="col-sm-4" style="text-align: left"><b>Height :</b></label>
                            <input class="col-xs-12" id="height" name="height" readonly style="border:0px"
                                   type="text" value=height>

                            <label class="col-sm-4" style="text-align: left"><b>Length :</b></label>
                            <input class="col-xs-12" id="length" name="length" readonly style="border:0px"
                                   type="text" value=length>

                            <label class="col-sm-4" style="text-align: left"><b>Width :</b></label>
                            <input class="col-xs-12" id="width" name="width" readonly style="border:0px"
                                   type="text" value=width>

                            <label class="col-sm-4" style="text-align: left"><b>Weight :</b></label>
                            <input class="col-xs-12" id="weight" name="weight" readonly style="border:0px"
                                   type="text" value=weight>

                            <label class="col-sm-4" style="text-align: left"><b>SGST :</b></label>
                            <input class="col-xs-12" id="sgst" name="sgst" readonly style="border:0px"
                                   type="text" value=sgst>

                            <label class="col-sm-4" style="text-align: left"><b>CGST :</b></label>
                            <input class="col-xs-12" id="cgst" name="cgst" readonly style="border:0px"
                                   type="text" value=cgst>

                            <label class="col-sm-4" style="text-align: left"><b>Re_status :</b></label>
                            <input class="col-xs-12" id="re_status" name="re_status" readonly style="border:0px"
                                   type="text" value=re_status>

                            <label class="col-sm-4" style="text-align: left"><b>Status :</b></label>
                            <input class="col-xs-12" id="status" name="status" readonly style="border:0px"
                                   type="text" value=status><br>

                            <label class="col-sm-4" style="text-align: left"><b>Reason :</b></label>
                            <input class="col-xs-12" id="reason_text" name="reason_text" readonly style="border:0px"
                                   type="text" value=''><br>


                            <br>
                            &nbsp <b>Update Information:</b>
                            <br>
                            <br>
                            <div class="form-group">


                                <div class="row">
                                    <div class="col-md-6">
                                        <p>Enter Amount:
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                    name="mudra_amount" id="mudra_amount"
                                                    placeholder="Enter New amount"
                                                    type="text">
                                        </p>


                                    </div>
                                </div>
                                &nbsp &nbsp Update Status
                                <div class="col-sm-12">
                                    <select name="updated_status" id="updated_status"
                                            class="form-control form-control-primary"
                                            style="width: 100px;length: 50px;">
                                        <option name="SUBMITTED">SUBMITTED
                                        </option>
                                        <option name="APPROVED">APPROVED
                                        </option>
                                        <option name="REJECTED">REJECTED
                                        </option>
                                    </select>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>Enter Reason:
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                        type="text" name="reason" id="reason">
                                            </p>
                                            <!--                                                                        &nbsp;&nbsp; Enter Category:-->

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                                id="btnsendmsg1" name="btnsendmsg" onclick="Call_data_save()" type="button">Save
                        </button>
                        <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                                type="button">Close
                        </button>
                    </div>
                    <input class="col-xs-10" hidden="" id="txtrecovery_id1" name="txtrecovery_id" type="text"
                           value=""/>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
function call_modal(products_id, product_id, product_name, category, sub_category,
	seller_amount, amount, size, colour, height, length, width, weight, sgst, cgst,
	re_status, status, reason, mrp, sku) {
	var sel = document.getElementById('updated_status');
	var opts = sel.options;
	for (var opt, j = 0; opt = opts[j]; j++) {
		if (opt.value == status) {
			sel.selectedIndex = j;
			break;
		}
	}

	document.getElementById('products_id').value = products_id;
	document.getElementById('product_id').value = product_id;
	document.getElementById('product_name').value = product_name;
	document.getElementById('category').value = category;
	document.getElementById('sub_category').value = sub_category;
	document.getElementById('seller_amount').value = seller_amount;
	document.getElementById('amount').value = amount;
	document.getElementById('mudra_amount').value = amount;
	document.getElementById('size').value = size;
	document.getElementById('colour').value = colour;
	document.getElementById('height').value = height;
	document.getElementById('length').value = length;
	document.getElementById('width').value = width;
	document.getElementById('weight').value = weight;
	document.getElementById('sgst').value = sgst;
	document.getElementById('cgst').value = cgst;
	document.getElementById('re_status').value = re_status;
	document.getElementById('status').value = status;
	document.getElementById('reason').value = reason;
	document.getElementById('reason_text').value = reason;
	document.getElementById('mrp').value = mrp;
	document.getElementById('sku').value = sku;
}


</script>
<script>
            <!--Recovery call data save-->
            function Call_data_save() {
                var product_details_id = document.getElementById('products_id').value;
                var mudra_amount = document.getElementById('mudra_amount').value;
                var updated_status = document.getElementById('updated_status').value;
                var reason = document.getElementById('reason').value;



                $.ajax({
                    type: "POST",
                    data: {
                        'product_details_id': product_details_id,
                        'mudra_amount': mudra_amount,
                        'updated_status': updated_status,
                        'reason': reason,

                    },
                    url: "/ecom/update_product_details/",
                    success: function(data) {

                    var data = JSON.parse(data);
                    var msg=data["msg"]

                        if (msg=="not_approved")
                        {
                        alert("Seller warehouse is not approved");
                        return false;
                        }
                        if (msg=="success")
                        {
                        alert("Product status Changed !!!");
                        }
                        else
                        {
                        alert("Something went Wrong");
                        }

                        },
                        error: function(data) {

                        }
                });
            }


</script>


<div class="modal fade" id="myModal_1">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
                Update Stock
                <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
                </button>
            </div>
            <form action="" class="form-horizontal" method="POST">
                {% csrf_token %}
                <!-- Modal body -->
                <div class="modal-body" style="width:100%;">
                    <div class="form-group">
                        <label class="col-sm-4" style="text-align: left">Product Name</label>
                        <input class="col-xs-12" id="stock_product_name" name="stock_product_name" readonly
                               style="border:0px"
                               type="text" value=stock_product_name>
                        <input class="col-xs-12" id="current_stock" name="current_stock" readonly style="border:0px"
                               type="hidden" value=stock_product_name>
                        <input class="col-xs-12" id="stock_product_details_id" name="stock_product_details_id" readonly
                               style="border:0px"
                               type="hidden" value=stock_product_details_id><br>
                        <label class="col-sm-4" style="text-align: left">Balance Stock</label>
                        <input class="col-xs-12" id="previous_stock" name="previous_stock" readonly style="border:0px"
                               type="text" value=previous_stock>
                        <label class="col-sm-4" style="text-align: left">New Stock:</label>

                        <input class="col-xs-12" type="number" id="new_stock" name="new_stock" min="0"
                               onkeypress="return isNumber(event)" style="width:40%;" placeholder="Enter Stock Value">

                        <input type="hidden" id="change_by" name="change_by" value="change_by">
                        <br>


                        <label class="col-sm-4" style="text-align: left">Update Stock:</label>
                        <select name="stock_status" id="stock_status"
                                class="col-xs-12" onchange="myFunction()"
                                style="width:40%;">
                            <option value="" disabled selected="true">--select stock status---</option>
                            <option name="add" value="add">Add Stock
                            </option>
                            <option name="sub" value="sub">Remove Stock
                            </option>
                            <option name="out" value="out">Out Of Stock
                            </option>
                        </select>


                    </div>

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                            id="btnsendmsg" name="btnsendmsg" onclick="Call_data_save_1()" type="submit">Save
                    </button>
                    <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                            type="button">Close
                    </button>
                </div>
                <input class="col-xs-10" hidden="" id="txtrecovery_id" name="txtrecovery_id" type="text"
                       value=""/>
            </form>
        </div>
    </div>


</div>

<script>
function myFunction(){

    var stock=document.getElementById("stock_status").value;
    if(stock != ''){
    document.getElementById("btnsendmsg").disabled = false;

    if(stock=="out"){
    document.getElementById("new_stock").value = 0;

    }


    }

}

</script>
<script>
     function call_modal_stock(stock_product_details_id, stock_product_name, current_stock, change_by) {

                document.getElementById('stock_product_details_id').value = stock_product_details_id;
                document.getElementById('stock_product_name').value = stock_product_name;
                document.getElementById('current_stock').value = current_stock;
                document.getElementById('previous_stock').value = current_stock;

                document.getElementById('change_by').value = change_by;
                var new_stock = document.getElementById('new_stock').value;
                var stock=document.getElementById("stock_status").value;


                    if(stock==''){

                     document.getElementById("btnsendmsg").disabled = true;




                   }




            }


</script>
<script>
            <!--Recovery call data save-->
            function Call_data_save_1() {


                var stock_product_details_id = document.getElementById('stock_product_details_id').value;
                var new_stock = document.getElementById('new_stock').value;
                var change_by = document.getElementById('change_by').value;
                var stock_status = document.getElementById('stock_status').value;


                if(new_stock.trim()==""){
                        alert("New stock must be filled out");
                        document.getElementById("stock_status").value="";
                        returnValue=false;
                   }
             else{
                $.ajax({
                    type: "POST",
                    data: {
                        'product_details_id': stock_product_details_id,
                        'new_stock': new_stock,
                        'change_by': change_by,
                        'stock_status': stock_status,

                    },
                    url: "/ecom/new_stock_update/",
                    success: function(data) {
                    var data = JSON.parse(data);
                    new_stock=data["updated_stock"];

                         document.getElementById('new_stock').value = data;

                         if(data["msg"]=="Stock Update"){

                           if (confirm("Stock Updated !!! Reload Page ?")) {
                            location.reload();
                            document.getElementById("stock_status").value="";
                            }

                         }
                         else
                         {
                         alert(data["msg"]);
                         document.getElementById("stock_status").value="";
                         }

                    },
                    error: function(data) {

                    }
                });
            }
            }



</script>
<script>
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}


</script>


{% endblock %}

