{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>Product Details</h5>
                    <form action="/ecom/product_details_add/{{product_id}}">
                        <input type="submit"
                               class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                               value="Add Product Details">
                        </input>
                    </form>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        <thead>
                                        <tr>
                                            <th>Sr.No.</th>
                                            <th>Product Name</th>
                                            <th>Product ID</th>
                                            <th>SKU</th>
                                            <th>seller amount</th>

                                            <th>amount</th>

                                            <th>MRP</th>
                                            <th>size</th>
                                            <th>colour</th>
                                            <th>Balance Stock</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% if product_details %}
                                        {% for product, stock in product_details.items %}
                                        <tr>
                                            <td id="count">{{forloop.counter}}</td>
                                            <td>{{product.product_id.name}}</td>
                                            <td> <a href="/ecom/show_product_details_data/{{product.product_id.id}}/">{{product.product_id.product_id}}</a></td>
                                            <td>{{product.sku}}</td>
                                            <td>{{product.seller_amount}}</td>

                                            <td>{{product.amount}}</td>

                                            <td>{{product.mrp}}</td>
                                            <td>{{product.size_id.name}}</td>
                                            <td>{{product.colour_id.name}}</td>


                                            <td>
                                               <input type="button" id="sonal" value="{{stock}}"
                                                        style="width:10%;"
                                                        data-target="#myModal_1" data-toggle="modal"
                                                        onclick="call_modal_stock('{{product.id}}','{{product.product_id.name}}','{{stock}}',
                                                        'admin')"
                                                        data-modal="modal-13">
                                           </td>

                                        </tr>
                                         {% endfor %}
                                        {% endif %}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="md-overlay"></div>

    </div>


<div class="modal fade" id="myModal_1">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
                Update Stock
                <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
                </button>
            </div>
            <form action="" class="form-horizontal" method="POST">
                {% csrf_token %}
                <!-- Modal body -->
                <div class="modal-body" style="width:100%;">
                    <div class="form-group">
                        <label class="col-sm-4" style="text-align: left">Product Name</label>
                        <input class="col-xs-12" id="stock_product_name" name="stock_product_name" readonly style="border:0px"
                               type="text" value=stock_product_name>
                        <input class="col-xs-12" id="current_stock" name="current_stock" readonly style="border:0px"
                               type="hidden" value=stock_product_name>
                        <input class="col-xs-12" id="stock_product_details_id" name="stock_product_details_id" readonly
                               style="border:0px"
                               type="hidden" value=stock_product_details_id><br>
                        <label class="col-sm-4" style="text-align: left">Balance Stock</label>
                        <input class="col-xs-12" id="previous_stock" name="previous_stock" readonly style="border:0px"
                               type="text" value=previous_stock>
                        <label class="col-sm-4" style="text-align: left">New Stock:</label>

                        <input  class="col-xs-12" type="number" id="new_stock"  name="new_stock"  min="0"
                                    onkeypress="return isNumber(event)" style="width:40%;" placeholder="Enter Stock Value">

                                <input type="hidden" id="change_by" name="change_by" value="change_by">
                        <br>


                        <label class="col-sm-4" style="text-align: left">Update Stock:</label>
                            <select name="stock_status" id="stock_status"
                                    class="col-xs-12" onchange="myFunction()"
                                    style="width:40%;">
                                <option value="" disabled selected="true">--select stock status---</option>
                                <option name="add" value="add">Add Stock
                                </option>
                                <option name="sub" value="sub">Remove Stock
                                </option>
                                <option name="out" value="out">Out Of Stock
                                </option>
                        </select>




                    </div>

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                            id="btnsendmsg" name="btnsendmsg" onclick="Call_data_save_1()" type="submit">Save
                    </button>
                    <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                            type="button">Close
                    </button>
                </div>
                <input class="col-xs-10" hidden="" id="txtrecovery_id" name="txtrecovery_id" type="text"
                       value=""/>
            </form>
        </div>
    </div>
</div>

    <script>
function myFunction(){

    var stock=document.getElementById("stock_status").value;
    if(stock != ''){
    document.getElementById("btnsendmsg").disabled = false;

    if(stock=="out"){
    document.getElementById("new_stock").value = 0;

    }


    }

}
    </script>
<script>
     function call_modal_stock(stock_product_details_id, stock_product_name, current_stock, change_by) {
                console.log("======================");

                document.getElementById('stock_product_details_id').value = stock_product_details_id;
                document.getElementById('stock_product_name').value = stock_product_name;
                document.getElementById('current_stock').value = current_stock;
                document.getElementById('previous_stock').value = current_stock;

                document.getElementById('change_by').value = change_by;
                var new_stock = document.getElementById('new_stock').value;
                var stock=document.getElementById("stock_status").value;


                    if(stock==''){

                     document.getElementById("btnsendmsg").disabled = true;




                   }




            }

</script>
<script>
            <!--Recovery call data save-->
            function Call_data_save_1() {


                var stock_product_details_id = document.getElementById('stock_product_details_id').value;
                var new_stock = document.getElementById('new_stock').value;
                var change_by = document.getElementById('change_by').value;
                var stock_status = document.getElementById('stock_status').value;


                if(new_stock.trim()==""){
                        alert("New stock must be filled out");
                        document.getElementById("stock_status").value="";
                        returnValue=false;
                   }
             else{
                $.ajax({
                    type: "POST",
                    data: {
                        'product_details_id': stock_product_details_id,
                        'new_stock': new_stock,
                        'change_by': change_by,
                        'stock_status': stock_status,

                    },
                    url: "/ecom/new_stock_update/",
                    success: function(data) {
                    var data = JSON.parse(data);
                    new_stock=data["updated_stock"];

                         document.getElementById('new_stock').value = data;

                         if(data["msg"]=="Stock Update"){

                           if (confirm("Stock Updated !!! Reload Page ?")) {
                            location.reload();
                            document.getElementById("stock_status").value="";
                            }


                         }
                         else
                         {
                         alert(data["msg"]);
                         document.getElementById("stock_status").value="";
                         }

                    },
                    error: function(data) {

                    }
                });
            }
            }


</script>
<script>
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}

</script>



{% endblock %}

