{% extends "Ecom/test_base.html" %}
{% load auth_extras %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>Product Details</h5>
                    <form action="/ecom/product_details_add/{{product_id}}">
                        <input type="submit"
                               class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                               value="Add Product Details">
                        </input>
                    </form>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        <thead>
                                        <tr>
                                            <th>Sr.No.</th>
                                            <th>Product Name</th>
                                            <th>Product ID</th>
                                            <th>SKU</th>
                                            <th>seller amount</th>
                                            {% if request.user|has_group:"EcomAdmin" %}
                                            <th>amount</th>

                                            {% endif %}
                                            <th>MRP</th>
                                            <th>stock</th>
                                            <th>size</th>
                                            <th>colour</th>
                                            <th>Action</th>
                                            <th>Image</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if product_list %}
                                        {% for product, image in product_list.items %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{product.product_id.name}}</td>
                                            <td>{{product.product_id.product_id}}</td>
                                            <td>{{product.sku}}</td>
                                            <td>{{product.seller_amount}}</td>
                                            {% if request.user|has_group:"EcomAdmin" %}
                                            <td>{{product.amount}}</td>

                                            {% endif %}
                                            <td>{{product.mrp}}</td>
                                            <td>{{image.1}}</td>
                                            <td>{{product.size_id.name}}</td>
                                            <td>{{product.colour_id.name}}</td>

                                            {% if request.user|has_group:"EcomAdmin" %}
                                            <td>
                                                <button type="button"
                                                        class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"
                                                        data-target="#myModal"
                                                        data-toggle="modal"
                                                        onclick="call_modal('{{product.id}}','{{product.product_id.product_id}}', '{{product.product_id.name|escapejs}}',
                                                    '{{product.product_id.base_category.sub_category.category.name}}','{{product.product_id.base_category.sub_category.name}}',
                                                    '{{product.seller_amount}}', '{{product.amount}}', '{{image.1}}','{{product.size_id.name}}', '{{product.colour_id.name}}',
                                                    '{{product.height}}', '{{product.Length}}', '{{product.width}}', '{{product.weight}}',
                                                    '{{product.sgst.percentage}}', '{{product.cgst.percentage}}', '{{product.re_status}}',
                                                    '{{product.status}}','{{product.reason|escapejs}}', '{{product.mrp}}', '{{product.sku|escapejs}}')"
                                                        data-modal="modal-13"><i class=""></i>

                                                    {{product.status}}
                                                </button>
                                            </td>
                                            {% else %}
                                            <td>
                                                {{product.status}}
                                            </td>
                                            {% endif %}
                                            <!--                                        <td>{{product.created_date}}</td>-->
                                            <td class="pro-list-img">
                                                <!--<img src="/static/adminty/files/assets/images/product-list/pro-l1.png" class="img-fluid" alt="tbl">-->
                                                <img src="{{image.0}}"
                                                     class="img-fluid" alt="{{product.product_id.name}}"
                                                     style="height: 100px;" width="100"
                                                     height="100">
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="md-overlay"></div>

<div>
    <nav aria-label="Page navigation example">
  <ul class="pagination">
            {% if product.has_previous %}

    <li class="page-item">
      <a class="page-link" href="?page={{ product.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
            {% endif %}
    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
              {% for i in number%}

    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>

      {% endfor %}
    <li class="page-item"><a class="page-link" href="?page={{product.paginator.num_pages}}">Last</a></li>
                  {% if product.has_next %}

    <li class="page-item">
      <a class="page-link" href="?page={{ product.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
            {% endif %}

  </ul>
</nav>

</div>
    </div>

    <!--Javascript model-->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
                    Edit Details
                    <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
                    </button>
                </div>
                <form action="" class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <input class="col-xs-12" id="products_id" name="products_id" readonly style="border:0px"
                                   type="hidden" value=products_id>

                            <label class="col-sm-4" style="text-align: left"><b>Product Name :</b></label>
                            <input class="col-xs-12" id="product_name" name="product_name" readonly style="border:0px"
                                   type="text" value=product_name>

                            <label class="col-sm-4" style="text-align: left"><b>Product ID :</b></label>
                            <input class="col-xs-12" id="product_id" name="product_id" readonly style="border:0px"
                                   type="text" value=product_id>

                            <label class="col-sm-4" style="text-align: left"><b>SKU :</b></label>
                            <input class="col-xs-12" id="sku" name="sku" readonly style="border:0px"
                                   type="text" value=sku>

                            <label class="col-sm-4" style="text-align: left"><b>Category :</b></label>
                            <input class="col-xs-12" id="category" name="category" readonly style="border:0px"
                                   type="text" value=category>

                            <label class="col-sm-4" style="text-align: left"><b>Sub category :</b></label>
                            <input class="col-xs-12" id="sub_category" name="sub_category" readonly style="border:0px"
                                   type="text" value=sub_category>

                            <label class="col-sm-4" style="text-align: left"><b>Seller Amount :</b></label>
                            <input class="col-xs-12" id="seller_amount" name="seller_amount" readonly style="border:0px"
                                   type="text" value=seller_amount>

                            <label class="col-sm-4" style="text-align: left"><b>Amount :</b></label>
                            <input class="col-xs-12" id="amount" name="amount" readonly style="border:0px"
                                   type="text" value=amount>

                            <label class="col-sm-4" style="text-align: left"><b>MRP :</b></label>
                            <input class="col-xs-12" id="mrp" name="mrp" readonly style="border:0px"
                                   type="text" value=mrp>

                            <label class="col-sm-4" style="text-align: left"><b>Stock :</b></label>
                            <input class="col-xs-12" id="stock" name="stock" readonly style="border:0px"
                                   type="text" value=stock>

                            <label class="col-sm-4" style="text-align: left"><b>Size :</b></label>
                            <input class="col-xs-12" id="size" name="size" readonly style="border:0px"
                                   type="text" value=size>

                            <label class="col-sm-4" style="text-align: left"><b>Colour :</b></label>
                            <input class="col-xs-12" id="colour" name="colour" readonly style="border:0px"
                                   type="text" value=colour>

                            <label class="col-sm-4" style="text-align: left"><b>Height :</b></label>
                            <input class="col-xs-12" id="height" name="height" readonly style="border:0px"
                                   type="text" value=height>

                            <label class="col-sm-4" style="text-align: left"><b>Length :</b></label>
                            <input class="col-xs-12" id="length" name="length" readonly style="border:0px"
                                   type="text" value=length>

                            <label class="col-sm-4" style="text-align: left"><b>Width :</b></label>
                            <input class="col-xs-12" id="width" name="width" readonly style="border:0px"
                                   type="text" value=width>

                            <label class="col-sm-4" style="text-align: left"><b>Weight :</b></label>
                            <input class="col-xs-12" id="weight" name="weight" readonly style="border:0px"
                                   type="text" value=weight>

                            <label class="col-sm-4" style="text-align: left"><b>SGST :</b></label>
                            <input class="col-xs-12" id="sgst" name="sgst" readonly style="border:0px"
                                   type="text" value=sgst>

                            <label class="col-sm-4" style="text-align: left"><b>CGST :</b></label>
                            <input class="col-xs-12" id="cgst" name="cgst" readonly style="border:0px"
                                   type="text" value=cgst>

                            <label class="col-sm-4" style="text-align: left"><b>Re_status :</b></label>
                            <input class="col-xs-12" id="re_status" name="re_status" readonly style="border:0px"
                                   type="text" value=re_status>

                            <label class="col-sm-4" style="text-align: left"><b>Status :</b></label>
                            <input class="col-xs-12" id="status" name="status" readonly style="border:0px"
                                   type="text" value=status><br>

                            <label class="col-sm-4" style="text-align: left"><b>Reason :</b></label>
                            <input class="col-xs-12" id="reason_text" name="reason_text" readonly style="border:0px"
                                   type="text" value=''><br>

                            <br>
                            &nbsp <b>Update Information:</b>
                            <br>
                            <br>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>Enter Amount:
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                    name="mudra_amount" id="mudra_amount"
                                                    placeholder="Enter New amount"
                                                    type="text">
                                        </p>
                                        <!--                                                                        &nbsp;&nbsp; Enter Category:-->

                                    </div>
                                </div>
                                &nbsp &nbsp Update Status
                                <div class="col-sm-12">
                                    <select name="updated_status" id="updated_status"
                                            class="form-control form-control-primary"
                                            style="width: 100px;length: 50px;">
                                        <option name="SUBMITTED">SUBMITTED
                                        </option>
                                        <option name="APPROVED">APPROVED
                                        </option>
                                        <option name="REJECTED">REJECTED
                                        </option>
                                    </select>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>Enter Reason:
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                        type="text" name="reason" id="reason">
                                            </p>
                                            <!--                                                                        &nbsp;&nbsp; Enter Category:-->

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                                id="btnsendmsg" name="btnsendmsg" onclick="Call_data_save()" type="button">Save
                        </button>
                        <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                                type="button">Close
                        </button>
                    </div>
                    <input class="col-xs-10" hidden="" id="txtrecovery_id" name="txtrecovery_id" type="text"
                           value=""/>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
function call_modal(products_id, product_id, product_name, category, sub_category,
	seller_amount, amount, stock, size, colour, height, length, width, weight, sgst, cgst,
	re_status, status, reason, mrp, sku) {
	var sel = document.getElementById('updated_status');
	var opts = sel.options;
	for (var opt, j = 0; opt = opts[j]; j++) {
		if (opt.value == status) {
			sel.selectedIndex = j;
			break;
		}
	}
	document.getElementById('products_id').value = products_id;
	document.getElementById('product_id').value = product_id;
	document.getElementById('product_name').value = product_name;
	document.getElementById('category').value = category;
	document.getElementById('sub_category').value = sub_category;
	document.getElementById('seller_amount').value = seller_amount;
	document.getElementById('amount').value = amount;
	document.getElementById('stock').value = stock;
	document.getElementById('mudra_amount').value = amount;
	document.getElementById('size').value = size;
	document.getElementById('colour').value = colour;
	document.getElementById('height').value = height;
	document.getElementById('length').value = length;
	document.getElementById('width').value = width;
	document.getElementById('weight').value = weight;
	document.getElementById('sgst').value = sgst;
	document.getElementById('cgst').value = cgst;
	document.getElementById('re_status').value = re_status;
	document.getElementById('status').value = status;
	document.getElementById('reason').value = reason;
	document.getElementById('reason_text').value = reason;
	document.getElementById('mrp').value = mrp;
	document.getElementById('sku').value = sku;
}



</script>
<script>
            <!--Recovery call data save-->
            function Call_data_save() {
                var product_details_id = document.getElementById('products_id').value;
                var mudra_amount = document.getElementById('mudra_amount').value;
                var updated_status = document.getElementById('updated_status').value;
                var reason = document.getElementById('reason').value;

                console.log(product_details_id);
                console.log(mudra_amount);
                console.log(updated_status);
                console.log(reason);

                $.ajax({
                    type: "POST",
                    data: {
                        'product_details_id': product_details_id,
                        'mudra_amount': mudra_amount,
                        'updated_status': updated_status,
                        'reason': reason,

                    },
                    url: "/ecom/update_product_details/",
                    success: function(data) {
                    console.log("--success",data);
                         document.getElementById('product_name1').value = data;
                    },
                    error: function(data) {

                    }
                });
            }



</script>

{% endblock %}

