{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>Product List</h5>
                    <form action="/ecom/product_add">
                        <input type="submit"
                               class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                               value="Add Product">
                        </input>
                    </form>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <div class="table-content">
                            <div class="project-table">
                                <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product Name</th>
                                            <th>Category</th>
                                            <th>Sub Category</th>
                                            <th>Base Category</th>
                                            <th>Seller</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if product_list %}
                                        {% for product, data in product_list.items %}
                                        <tr>
                                            <td class="pro-list-img">
                                                <img src="{{data}}" class="img-fluid" alt="{{product.name}}"
                                                     style="height: 100px;" width="100" height="100">
                                            </td>
                                            <td class="pro-name">
                                                <a href="/ecom/submitted_product_details/{{product.id}}/"><h6>
                                                    {{product.name}}</h6></a>
                                            </td>
                                            <td class="pro-name">

                                                <h6>{{product.base_category.sub_category.category.name}}</h6>
                                            </td>
                                            <td class="pro-name">
                                                <h6>{{product.base_category.sub_category.name}}</h6>
                                            </td>
                                            <td class="pro-name">
                                                <h6>{{product.base_category.base_name}}</h6>
                                            </td>
                                            <td class="pro-name">
                                                <h6>{{product.seller}}</h6>
                                            </td>
                                            <td class="action-icon">
                                                <a href="/ecom/product-edit-1/{{product.id}}/"
                                                   class="m-r-15 text-muted"
                                                   data-toggle="tooltip"
                                                   data-placement="top" title=""
                                                   data-original-title="Edit"><i
                                                        class="icofont icofont-ui-edit"></i></a>
                                                <!--<a href="#!" class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="icofont icofont-delete-alt"></i></a>-->
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-overlay"></div>

    </div>
</div>
{% endblock %}

