{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            <tr>
                                                <th>Profit</th>
                                                <th>Selling Profit</th>
                                                <th>Convenient Profit</th>

                                            </tr>
                                            </thead>
                                            {% if profit %}
                                            <tr>
                                                <td>Profit </td>
                                                <td><a href="/ecom/month_wise_profit/">{{profit}}</a>
                                                <td><a href="/ecom/month_wise_profit/">{{convinient_fees}}</a>
                                                </td>

                                            </tr>
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

