{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">


                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>User Name</th>
                                                <th>Personal Name</th>

                                            </tr>
                                            </thead>
                                            {% if total_buyer %}
                                            {% for users, name in total_buyer.items %}

                                            <tr>
                                                <td>{{forloop.counter}}</td>

                                                <td><a href="/ecom/user-profile/{{name.1}}/">{{users}}</a>
                                                </td>
                                                <td>{{name.0}}</td>
                                            </tr>

                                            {% endfor %}
                                            {% endif %}

                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
