{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                                <a href="/ecom/user_cvs/"><input type="button" class="btn btn-primary" value="Download CSV" style="float:right;"></a>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">


                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>User Name</th>

                                            </tr>
                                            </thead>
                                            {% if total_users %}
                                            {% for user in total_users %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><a href="/ecom/user-profile/{{user.id}}/">{{user.username}}</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
