{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>-->
<script src="/static/cdn/js/jquery(1.7.1).min.js" type="text/javascript"></script>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table class="table table-striped table-hover table-bordered nowrap"
                                               id="table-style-hover">


                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>User Name</th>
                                                <th>Credit</th>

                                            </tr>
                                            </thead>
                                            <tbody id="tbody">

<!--                                            {% if data %}-->
<!--                                            {% for users, credit in data.items %}-->

<!--                                            <tr>-->
<!--                                                <td>{{forloop.counter}}</td>-->
<!--                                                <td>{{users}}</td>-->
<!--                                                <td>{{credit}}</td>-->
<!--                                            </tr>-->

<!--                                            {% endfor %}-->
<!--                                            {% endif %}-->

                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

     $.ajax({
              type: "GET",
              url: "/ecom/unsused_credit_report/",
              success: function (data) {
        var data = JSON.parse(data);
        var length = data["data"]["username"]["length"]
         for (var i=0; i<length; i++){
            var sr_no = i + 1;
            var user = data["data"]["username"][i]
            var credit = data["data"]["credit"][i]


             $("#tbody").append("<tr><td>"+sr_no+"</td><td>"  +user + "</td><td>" +credit +  "</td></tr>")

         }
      },
      });











</script>




{% endblock %}
