{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
   <!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <link href="/static/cdn/css/family=Material+Icons.css" rel="stylesheet">
</head>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide">
                                <a href="/ecom/create_user_offer/"><input class="btn btn-primary" style="float:right;"
                                                                            type="button"
                                                                            value="Add Offer"></a>
                                 <a href="/ecom/user_offer_report/"><input class="btn btn-primary" style="float:right;"
                                                                            type="button"
                                                                            value="User Offer"></a>

                                <a href="/ecom/offer_priority/"><input class="btn btn-primary" style="float:right;"
                                  type="button"
                                  value="change priority"></a>
                                <br>
                                <br>
                                <br>
                              <a href="/ecom/offer_priority/"><input class="btn btn-primary" style="float:right;"
                                        type="button"
                                        value="change priority"></a>
                             <br>
                            <br>
                            <br>

                            </div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table class="table table-striped table-hover table-bordered nowrap"
                                               id="table-style-hover">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Title</th>
                                                <th>Offer Id</th>
                                                <th>Image</th>
                                                <th>Action</th>


                                            </tr>
                                            </thead>
                                            {% if user_offer_obj %}
                                            {% for user_offer in user_offer_obj %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>{{user_offer.title}}</td>
                                                <td><a href="/ecom/offer_for_user/{{user_offer.offer_id}}/">{{user_offer.offer_id}}</a></td>
                                                <td>
                                                    <img class="img-fluid" height="100" id="154"
                                                         src="/media/{{user_offer.path}}"
                                                         style="height: 100px;" width="100">
                                                </td>

                                                <td><a href="/ecom/edit_user_offer/{{user_offer.id}}/"><i
                                                        class="material-icons">&#xe22b;</i>

                                                </a></td>


                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
