{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            {% if users %}
                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Username</th>
                                            </tr>
                                            </thead>

                                            {% for user in users %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>
                                                    <a href="/ecom/users-cart/{{user.id}}/">{{user.username}}</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% else %}
                                            <thead>
                                            <tr>
                                                <th>Product Image</th>
                                                <th>Product Name</th>
                                                <th>Category</th>
                                                <!--                                            <th>Subcategory</th>-->
                                                <th>Size</th>
                                                <th>Weight</th>
                                                <th>Height</th>
                                                <th>Width</th>
                                                <th>Length</th>
                                                <th>Colour</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                <th>Total <br> Amount</th>
                                            </tr>
                                            </thead>
                                            {% for product in cart_list %}
                                            <tr>
                                                <td class="pro-list-img">
                                                    <!--<img src="/static/adminty/files/assets/images/product-list/pro-l1.png" class="img-fluid" alt="tbl">-->
                                                    <img src="/media/{{product.product_image}}"
                                                         class="img-fluid" alt="tbl">
                                                </td>
                                                <td>{{product.product_name}}</td>
                                                <td>{{product.category}}</td>
                                                <!--                                            <td>{{product.sub_category}}</td>-->
                                                <td>{{product.weight}}</td>
                                                <td>{{product.height}}</td>
                                                <td>{{product.length}}</td>
                                                <td>{{product.width}}</td>
                                                <td>{{product.size}}</td>
                                                <td>{{product.colour}}</td>
                                                <td>{{product.quantity}}</td>
                                                <td>{{product.amount}}</td>
                                                <td>{{product.total_amount}}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="styleSelector">
    </div>
</div>
{% endblock %}