{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>




                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>
                                            {% if wallets %}
                                            <tr>
                                                <th>Sr.no</th>

                                                <th>Seller</th>
                                                <th>Cancel Amount</th>
                                                <th>Return Amount</th>
                                                <th>Order Amount</th>
                                                <th>Repayment Amount</th>

                                            </tr>
                                            </thead>


                                            {% for user, count in wallets.items %}


                                            <tr>
                                                <td>{{forloop.counter}}</td>

                                                <td><a href="/ecom/monthwise_userwallet/{{user}}/">{{user}}</a></td>
                                                <td>{{count.0}}</td>
                                                <td>{{count.1}}</td>
                                                <td>{{count.2}}</td>
                                                <td>{{count.3}}</td>

                                            </tr>

                                            {% endfor %}
                                            {% endif %}


                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


{% endblock %}
