{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<script src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js" type="text/javascript">
</script>
<script src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"
        type="text/javascript"></script>
<!--<script src="/static/cdn/js/fusioncharts.js" type="text/javascript">-->
<!--</script>-->
<!--<script src="/static/cdn/js/fusioncharts.theme.fusion.js"-->
<!--        type="text/javascript"></script>-->

<style>
.card {

  box-shadow: 0px 0px 8px 0.3px rgba(0, 0, 0, 0.5);
}

</style>

<div class="page-body">
<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <div class="card">
                <div class="col-sm-6">

                    <div class="container text-center">
                        <div id="chart-1">{{ output|safe }}</div>
                        <div id="chart-2">{{ output_2|safe }}</div>
                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                <div class="container text-center">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>State</th>
                            <th>User Count</th>
                        </tr>
                        </thead>
                        {%for state, count in data.items%}
                        <tbody>
                        <tr>
                            <th>{{state}}</th>
                            <td>{{count}}</td>
                        </tr>
                        </tbody>
                        {%endfor%}
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}