{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            {% if wallet_amount %}
                                            <tr>

                                                <th>Sr.no</th>
                                                <th>User</th>
                                                <th>Personal Name</th>
                                                <th>Wallet Amount</th>
                                            </tr>
                                            {% endif %}
                                            {% if info %}
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>User</th>
                                                <th>Name</th>
                                                <th>Amount Add</th>
                                                <th>Used Amount</th>
                                                <th>Balance Amount</th>
                                                <th>Status</th>
                                                <th>Order Details</th>
                                                <th>Created Date</th>
                                                <th>Updated Date</th>
                                            </tr>
                                            {% endif %}
                                            </thead>
                                            <tbody>

                                            {% for user, amount in wallet_amount.items %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>

                                                <td>{{user}}</td>
                                                <td>{{amount.0}}</td>
                                                <td>
                                                    <a href="/ecomapi/user_wallet_amount_details/{{user}}/">{{amount.1}}</a>
                                                </td>


                                            </tr>
                                            {% endfor %}

                                            {% if info %}
                                            {% for i in info %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>{{i.user}}</td>
                                                <td>{{user_personal}}</td>
                                                <td>{{i.amount_add}}</td>
                                                <td>{{i.used_amount}}</td>
                                                <td>{{i.balance_amount}}</td>
                                                <td>{{i.status}}</td>
                                                <td>{{i.order_details.order_text}}</td>
                                                <td>{{i.created_date}}</td>
                                                <td>{{i.updated_date}}</td>

                                            </tr>
                                            {% endfor %}
                                             {% endif %}
                                            </tbody>


                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

