{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<style>
    a:hover{
                cursor:pointer;
            }

</style>

<body onload="b1();"></body>
<div class="main-body">
    <div class="page-wrapper">
        <div class="page-body">

            <div class="row">
                <div class="col-lg-12">
                    <div class="cover-profile">
                        <div class="profile-bg-img">
                            <img class="profile-bg-img img-fluid"
                                 src="/static/ecom/assets/images/user-profile/bg-img1.jpg"
                                 alt="bg-img">
                            <div class="card-block user-info">
                                <div class="col-md-12">
                                    <div class="media-left">
                                        <a href="#" class="profile-image">
                                            <img class="user-img img-radius"
                                                 src="/static/ecom/assets/images/user-profile/user-img.jpg"
                                                 alt="user-img" style="height: 90px;" height="50" width="100">
                                        </a>
                                    </div>
                                    <div class="media-body row">
                                        <div class="col-lg-12">
                                            <div class="user-title">
                                                {% if user_profile %}
                                                <h2>{{user_profile.name}}</h2>
                                                <span class="text-white">{{user_profile.occupation}}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div>
                                            <div class="pull-right cover-btn">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">

                    <div class="tab-header card">
                        <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist" id="mytab">
                            <li class="nav-item">
                                <a class="nav-link"
                                   id="b1" onclick="b1();">Personal Info</a>
                                <div class="slide"></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " id="b2"
                                   onclick="b2();">User's
                                    Orders</a>
                                <div class="slide"></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link "
                                   id="b3" onclick="b3();">User's credits</a>
                                <div class="slide"></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link "
                                   id="b4" onclick="b4();">User's wallet</a>
                                <div class="slide"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">

                        <div class="tab-pane" id="personal" role="tabpanel">

                            <div class="card">
                                {% if user_profile %}

                                <div class="card-block">
                                    <div class="view-info">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="general-info">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-xl-6">
                                                            <div class="table-responsive">
                                                                <table class="table m-0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <th scope="row">Name

                                                                        </th>
                                                                        <td>{{user_profile.name}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">Gender
                                                                        </th>
                                                                        <td>{{user_profile.gender}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">Birth
                                                                            Date
                                                                        </th>
                                                                        <td>{{user_profile.birthdate}}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">Marital
                                                                            Status
                                                                        </th>
                                                                        <td>{{user_profile.marital_status}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">
                                                                            Education
                                                                        </th>
                                                                        <td>{{user_profile.educational}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">
                                                                            Credit Used
                                                                        </th>
                                                                        <td>{{credit_used}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">
                                                                            Balance Credit
                                                                        </th>
                                                                        <td>{{balance_credit}}</td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-12 col-xl-6">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <tbody>
                                                                    <tr>
                                                                        <th scope="row">Email
                                                                        </th>
                                                                        <td>{{user_profile.email_id}}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">Mobile
                                                                            Number
                                                                        </th>
                                                                        <td>{{user_profile.mobile_no}}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">
                                                                            Pan number
                                                                        </th>
                                                                        <td>{{user_profile.pan_number}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">Industry
                                                                            Type
                                                                        </th>
                                                                        <td>{{user_profile.industry_type}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">
                                                                            Created Date
                                                                        </th>
                                                                        <td>{{user_profile.created_date}}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">
                                                                            Credit Limit
                                                                        </th>
                                                                        <td>{{credit_limit}}
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <br>
                                    <br>
                                    {% endif %}

                                </div>



                            </div>
                              <div class="card">

                            <div class="card-block">
                            <div class="row">

                                 <div class="col-sm-12">
                                    <div class="slide"></div>

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="home7" role="tabpanel">

                                <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        <thead>
                                        <tr>
                                            <th>Sr.no</th>
                                            <th>Name</th>
                                            <th>Fathers name</th>
                                            <th>Birthdate</th>
                                            <th>Gender</th>
                                            <th>Marital status</th>
                                            <th>Occupation</th>
                                            <th>Mobile no</th>
                                            <th>Alt mobile no</th>
                                            <th>Email id</th>
                                            <th>Monthly income</th>
                                            <th>Pan number</th>
                                            <th>Type</th>
                                            <th>User</th>
                                            <th>ITR</th>
                                            <th>Mobile linked aadhaar</th>
                                            <th>Residence type</th>
                                            <th>Industry type</th>
                                            <th>Educational</th>
                                            <th>Invitations</th>

                                        </tr>
                                        </thead>
                                        {% if user_personal_info %}
                                        {% for personal_info in user_personal_info %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{personal_info.name}}</td>
                                            <td>{{personal_info.fathers_name}}</td>
                                            <td>{{personal_info.birthdate}}</td>
                                            <td>{{personal_info.gender}}</td>
                                            <td>{{personal_info.marital_status}}</td>
                                            <td>{{personal_info.occupation}}</td>
                                            <td>{{personal_info.mobile_no}}</td>
                                            <td>{{personal_info.alt_mobile_no}}</td>
                                            <td>{{personal_info.email_id}}</td>
                                            <td>{{personal_info.monthly_income}}</td>
                                            <td>{{personal_info.pan_number}}</td>
                                            <td>{{personal_info.type}}</td>
                                            <td>{{personal_info.user.username}}</td>
                                            <td>{{personal_info.itr}}</td>
                                            <td>{{personal_info.mobile_linked_aadhaar}}</td>
                                            <td>{{personal_info.residence_type}}</td>
                                            <td>{{personal_info.industry_type}}</td>
                                            <td>{{personal_info.educational}}</td>
                                            <td>{{personal_info.invitations}}</td>



                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </table>
                                </div>
                                        </div>
                                    </div>
                                 </div>

                            </div>
                        </div>
                              </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="order" role="tabpanel">

        <div class="card">

            <div class="card-block">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="slide"></div>

                        <div class="tab-content">
                            <div class="tab-pane active" id="home7" role="tabpanel">

                                <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover"
                                           class="table table-striped table-hover table-bordered nowrap">
                                        <thead>
                                        <tr>
                                            <th>Sr.no</th>
                                            <th>Order ID</th>
                                            <th>Unique Order ID</th>
                                            <th>Total Quantity</th>
                                            <th>Total Amount</th>
                                            <th>Payment Type</th>
                                            <th>Payment Mode</th>
                                            <th>Date</th>
                                            <th>Status</th>

                                        </tr>
                                        </thead>
                                        {% if user_orders %}
                                        {% for order, payment_mode in user_orders.items %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>

                                            <td><a href="/ecom/order-all-details/{{order.id}}/">{{order.order_id}}</a>
                                            </td>
                                            <td><a href="/ecom/order_related_data/{{order.id}}/">{{order.unique_order_id}}</a></td>
                                            <td><a href="/ecom/order_details_related_data/{{payment_mode.2}}/">{{order.quantity}}</a></td>
                                            <td>{{order.total_amount}}</td>
                                            <td>{{payment_mode.0}}</td>
                                            <td>{{payment_mode.1}}</td>
                                            <td>{{order.created_date}}</td>
                                            <td>{{order.status}}</td>

                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="tab-pane" id="credit" role="tabpanel">

        <div class="card">

            <div class="card-block">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="slide"></div>

                        <div class="tab-content">
                            <div class="tab-pane active" id="home8" role="tabpanel">

                                <table class="table table-bordered table-striped"
                                       id="dynamic-table-1">
                                    <thead>
                                    <tr>

                                        <th> Sr.No</th>
                                        <th> Credit</th>
                                        <th> Used Credit</th>
                                        <th> Balance Credit</th>
                                        <th> Actual Used</th>
                                        <th> Status</th>
                                        <th> Repayment Add</th>
                                        <th> Created Date</th>
                                    </tr>
                                    </thead>
                                    {% if user_credits %}
                                    {% for credit in user_credits %}
                                    <tr>

                                        <td class="pro-name">
                                            <h6>{{forloop.counter}}</h6>
                                        </td>

                                        <td> {{credit.credit}}</td>
                                        <td> {{credit.used_credit}}</td>
                                        <td> {{credit.balance_credit}}</td>
                                        <td>{{credit.actual_used}}</td>
                                        <td>{{credit.status}}</td>
                                        <td>{{credit.repayment_add}}</td>
                                        <td> {{credit.created_date}}</td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="tab-pane" id="wallet" role="tabpanel">

        <div class="card">

            <div class="card-block">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="slide"></div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home61" role="tabpanel">

                                <div class="dt-responsive table-responsive">
                                    <table id="table-style-hover11"
                                           class="table table-striped table-hover table-bordered nowrap">

                                        <thead>
                                        <tr>

                                            <th> Sr.No</th>
                                            <th> amount_add</th>
                                            <th> used_amount</th>
                                            <th> balance_amount</th>
                                            <th> payment</th>
                                            <th> order_details</th>
                                            <th> status</th>
                                            <th> created_date</th>
                                        </tr>
                                        </thead>
                                        {% if wallet %}
                                        {% for wallet in wallet %}
                                        <tr>

                                            <td class="pro-name">
                                                <h6>{{forloop.counter}}</h6>
                                            </td>

                                            <td> {{wallet.amount_add}}</td>
                                            <td> {{wallet.used_amount}}</td>
                                            <td> {{wallet.balance_amount}}</td>
                                            <td> {{wallet.payment.amount}}</td>
                                            <td>{{wallet.order_details.order_text}}</td>
                                            <td>{{wallet.status}}</td>
                                            <td> {{wallet.created_date}}</td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<script>
    function b1() {
    console.log('1111111111')

            $("#personal").show();
            $("#order").hide();
            $("#credit").hide();
            $("#wallet").hide();
  }

    function b2() {
    console.log('22222222222')
            $("#order").show();
            $("#personal").hide();
            $("#credit").hide();
            $("#wallet").hide();
    }

function b3() {

        $("#credit").show();
        $("#personal").hide();
        $("#order").hide();
        $("#wallet").hide();
  }

function b4() {
        $("#wallet").show();
        $("#personal").hide();
        $("#order").hide();
        $("#credit").hide();

  }
</script>

{% endblock %}