{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <link href="/static/cdn/css/family=Material+Icons.css" rel="stylesheet">
</head>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide">

                            </div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table class="table table-striped table-hover table-bordered nowrap"
                                               id="table-style-hover">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Username</th>
                                                <th>offer_id</th>
                                                <th>title</th>
                                                <th>Status</th>
                                                <th>is_read</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Action</th>


                                            </tr>
                                            </thead>
                                            {% if user_offer %}
                                            {% for user_offer in user_offer %}
                                            <tr>

                                                <td>{{forloop.counter}}</td>
                                                <td>{{user_offer.user.username}}</td>
                                                <td>{{user_offer.offer.offer_id}}</td>
                                                 <td>{{user_offer.offer.title}}</td>
                                                <td>{{user_offer.status}}</td>

                                                <td>{{user_offer.is_read}}</td>
                                                <td>{{user_offer.offer.start_date |date:"Y-m-d"}}</td>
                                                <td>{{user_offer.offer.end_date |date:"Y-m-d"}}</td>
                                                <td><a href="/ecom/edit_user_offer_data/{{user_offer.user.id}}/{{user_offer.offer.id}}/"><i
                                                        class="material-icons">&#xe22b;</i>

                                                </a></td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
