{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                </div>


                <form action="/ecom/wallet_recharge/">
                    <input type="submit"
                           class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                           value="Add Recharge">
                </form>

                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>


                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">

                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">

                                            <thead>
                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Order_Id</th>
                                                <th>Transaction_Id</th>
                                                <th>Date</th>
                                                <th>Created_date</th>
                                                <th>status</th>
                                                <th>amount</th>
                                                <th>edit</th>



                                            </tr>
                                            </thead>


                                            {% if data %}

                                              {% for i in data %}


                                            <tr>

                                             <td>{{forloop.counter}}</td>
                                             <td id="order_id">{{i.order_id}}</td>
                                             <td id="transaction_id">{{i.transaction_id}}</td>
                                             <td id="date">{{i.date}}</td>
                                             <td id="Created_date">{{i.created_date}}</td>
                                             <td id="re_status">{{i.re_status}}</td>
                                             <td id="amount">{{i.amount}}</td>
                                             <td>
                                                <button type="button"
                                                        class="btn btn-success btn-sm waves-effect waves-light f-center d-inline-block md-trigger"
                                                        data-target="#myModal"
                                                        data-toggle="modal"
                                                        onclick="call_modal('{{i.order_id}}','{{i.transaction_id}}','{{i.date|date:'yy-m-d'}}','{{i.re_status}}','{{i.amount}}', '{{i.id}}')"
                                                        data-modal="modal-13"><i
                                                        class="icofont icofont-plus m-r-5"></i>
                                                    Edit
                                                </button>
                                            </td>

<!--                                                <form action="/ecom/walletrecharge_data/<id>/" method="post">{% csrf_token %}-->
<!--                                             <td><button class="btn btn-success" >edit</button></td>-->
<!--                                                </form>-->

                                            </tr>




                                            {% endfor %}
                                            {% endif %}

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>







<div id="styleSelector"></div>
<!--   Remarks Modal         -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #ccc; color: blue; size: 10px">
                Edit Details
                <button class="close" data-dismiss="modal" style="color: red" type="button">&times;
                </button>
            </div>
            <form action="" class="form-horizontal" method="POST">
                {% csrf_token %}
                <!-- Modal body -->
                <div class="modal-body">
                        &nbsp <b>Update Information:</b>
                        <br>
                        <br>
                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-6">
                                    <p>Enter Order id:
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                name="order_id" id="order_id1"
                                                placeholder="Enter Order id"
                                                onkeypress="return isCharacter(event)"
                                                type="text">
                                    </p>
                                    <!--                                                                        &nbsp;&nbsp; Enter Category:-->
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Enter Transaction Id:
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                name="transaction_id" id="transacation_id1"
                                                placeholder="Enter Transaction Id"
                                                type="text">
                                    </p>
                                    <input type="hidden" id="primary_key_1" value="primary_key">
                                </div>
                                <div class="col-sm-6">
                                    <p>Date:
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                name="date" id="date1"
                                                placeholder="date"
                                                type="date" value="" required>
                                    </p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Enter Amount:
                                        &nbsp;&nbsp;&nbsp;&nbsp;<input
                                                name="amount" id="amount1"
                                                placeholder="Enter Amount"
                                                type="text"
                                                onkeypress="return isNumber(event)"
                                        required>
                                    </p>
                                </div>

                        <br>
                          <div class="row">

                            <div class="col-sm-6">
                                <p>Status:
                            <select name="re_status" id="re_status1"
                                    class="form-control form-control-primary"
                                    style="width: 100px;length: 50px;">
                                <option name="True">True
                                </option>
                                <option name="False">False
                                </option>
                            </select>
                                </p>
                        </div>
                                          <br>
                            <div class="row">
                                <div class="col-sm-6">

                                        &nbsp;&nbsp;&nbsp;&nbsp;<input type="hidden"
                                               id="id"
                                                name="order_id"
                                                onkeypress="return isNumber(event)">
                                </div>
                        <br>
                    </div>
                </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button class="fa fa-check btn btn-secondary btn btn-success" data-dismiss="modal"
                    id="btnsendmsg" name="btnsendmsg" onclick="Call_data_save()" type="button">Save
            </button>
            <button class="btn btn-secondary fa fa-times btn btn-danger" data-dismiss="modal"
                    type="button">Close
            </button>
        </div>
        <input class="col-xs-10" hidden="" id="txtrecovery_id" name="txtrecovery_id" type="text"
               value=""/>
        </form>
    </div>
</div>
</div>
<script>
function call_modal(order_id,transaction_id,date,re_status,amount, primary_key) {
    console.log("inside data")
    console.log("order_id",order_id);
    document.getElementById('order_id1').value = order_id;
    document.getElementById('primary_key_1').value = primary_key;
    document.getElementById('transacation_id1').value = transaction_id;
    document.getElementById('date1').defaultValue = date;
    document.getElementById('re_status1').value = re_status;
    document.getElementById('amount1').value =amount;

}



</script>
<script>
	<!--Recovery call data save-->
	function Call_data_save() {
	console.log("inside datata")
	    var primary_key = document.getElementById('primary_key_1').value;
	    console.log("order_id",id)
		var order_id1 = document.getElementById('order_id1').value;
		console.log("order_id-------",order_id1)
		var transacation_id1 = document.getElementById('transacation_id1').value;
		var date1 = document.getElementById('date1').value;
		var re_status1 = document.getElementById('re_status1').value;
		var amount1 = document.getElementById('amount1').value;



	    $.ajax({
	        type: "POST",
	        data: {
	            'id': primary_key,
	        	'order_id1': order_id1,
	            'transacation_id1': transacation_id1,
	            'date1': date1,
	            're_status1': re_status1,
	            'amount1': amount1,


	        },
	        url: "/ecom/updatewallet/",
	        success: function(data) {
	        console.log("--success",data);
	             document.getElementById('order_id1').value = data;
	        },
	        error: function(data) {

	        }
	    });
	}


</script>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
</div>
{% endblock %}