{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home7" role="tabpanel">
                                    <div class="dt-responsive table-responsive">
                                        <table id="table-style-hover"
                                               class="table table-striped table-hover table-bordered nowrap">
                                            <thead>

                                            <tr>
                                                <th>Sr.no</th>
                                                <th>Amount Add</th>
                                                <th>Used Amount</th>
                                                <th>Balance Amount</th>
                                                <th>Payment</th>
                                                <th>Order Details</th>
                                                <th>Order</th>
                                                <th>User</th>
                                                <th>Status</th>
                                                <th>ReStatus</th>
                                                <th>Created Date</th>
                                                <th>Updated Date</th>
                                                <th>Created By</th>
                                                <th>Updated By</th>

                                            </tr>
                                            </thead>
                                            {% if wallet %}
                                            <tr>
                                                {% for obj in wallet %}
                                                <td>{{forloop.counter}}</td>
                                                <td>{{obj.amount_add}}</td>
                                                <td>{{obj.used_amount}}</td>
                                                <td>{{obj.balance_amount}}</td>
                                                <td>{{obj.payment.amount}}</td>
                                                <td>{{obj.order_details.order_text}}</td>
                                                <td>{{obj.order.order_id}}</td>
                                                <td>{{obj.user.username}}</td>
                                                <td>{{obj.status}}</td>
                                                <td>{{obj.re_status}}</td>
                                                <td>{{obj.created_date}}</td>
                                                <td>{{obj.updated_date}}</td>
                                                <td>{{obj.created_by}}</td>
                                                <td>{{obj.updated_by}}</td>

                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

