

{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<style>
   div.polaroid {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
   }
   p {
   font-weight: bold;
   font-size: 15px;
   }
   span{
   font-weight: normal;
   font-size: 15px;
   }
</style>
<div class="page-body">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-block">

               <div class="tab-content">
                  <div class="tab-pane active" id="home7" role="tabpanel">

                     <br>
                     <br>
                     <br>
                     <div class="dt-responsive table-responsive">
                        <table id="table-style-hover"
                           class="table table-striped table-hover table-bordered nowrap">
                           <thead>
                              <tr>
                                 <th>Sr No</th>
                                 <th>Order Id</th>
                                 <th>Pay Amount</th>
                                 <th>Total Quantity</th>
                                 <th>Total Amount</th>
                                 <th>Wallet Type</th>
                                 <th>Payment Mode</th>
                                 <th>User</th>
                                 <th>Created Date</th>
                                 <th>Updated Date</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% if order_details_obj %}
                              {% for order in order_details_obj %}
                              <tr>
                                 <td>{{forloop.counter}}</td>
                                 <td><a href="/ecom/zest_money_order_data/{{order.id}}/">{{order.order_text}}</a></td>
                                 <td>{{order.pay_amount}}</td>
                                 <td>{{order.total_quantity}}</td>
                                 <td>{{order.total_amount}}</td>
                                 <td>{{order.wallet_type}}</td>
                                 <td>{{order.payment_mode}}</td>
                                 <td>{{order.user.username}}</td>
                                 <td>{{order.created_date}}</td>
                                 <td>{{order.updated_date}}</td>
                              </tr>
                              {% endfor %}
                              {% endif %}
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="styleSelector">
   </div>
</div>
{% endblock %}

