

{% extends "Ecom/test_base.html" %}
{% block username %}
{{user.username}}
{% endblock username %}
{% block content %}
<style>
   div.polaroid {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
   }
   p {
   font-weight: bold;
   font-size: 15px;
   }
   span{
   font-weight: normal;
   font-size: 15px;
   }
</style>
<div class="page-body">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-block">

               <div class="tab-content">
                  <div class="tab-pane active" id="home7" role="tabpanel">

                     <br>
                     <br>
                     <br>
                     <div class="dt-responsive table-responsive">
                        <table id="table-style-hover"
                           class="table table-striped table-hover table-bordered nowrap">
                           <thead>
                               <tr>
                                    <th>Sr.no</th>
                                    <th>Order ID</th>
                                    <th>Unique Order ID</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>
                                    <th>Total Amount</th>
                                    <th>Delivery Charges</th>
                                    <th>Convenient Fees</th>
                                    <th>Date</th>
                                    <th>Sellers Name</th>
                                    <th>Status</th>


                               </tr>
                           </thead>
                           <tbody>
                              {% if order_obj %}

                              {% for order in order_obj %}
                                {% if order %}
                                    {% for order in order %}
                              <tr>

                                <td>{{forloop.counter}}</td>
                                <td>
                                    <a href="/ecom/order-all-details/{{order.id}}/">{{order.order_id}}</a>
                                </td>
                                <td><a href="/ecom/order_related_data/{{order.id}}/">{{order.unique_order_id}}</a>
                                </td>
                                 {% if order_details_id == None %}
                                <td>{{order.product_details.product_id.name}}</td>
                                {% else %}
                                <td><a href="/ecom/order_details_related_data/{{order_details_id}}/">{{order.product_details.product_id.name}}</a></td>
                                {% endif %}
                                <td>{{order.quantity}}</td>
                                <td>{{order.amount}}</td>
                                <td>{{order.total_amount}}</td>
                                <td>{{order.delivery_charges.amount}}</td>
                                <td>{{order.convenient_fees.amount}}</td>
                                <td>{{order.date}}</td>
                                <td>{{order.product_details.user.username}}</td>
                                <td>{{order.status}}</td>

                              </tr>
                              {% endfor %}
                              {% endif %}
                              {% endfor %}
                              {% endif %}
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="styleSelector">
   </div>
</div>
{% endblock %}

