{% extends "admin/base.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .control-label{
        margin-bottom:15px;
        font-size:12px;
        border:1px solid #EDEDEE;
        display:block;
        cursor:default;
        background-color:white;
        border-radius:10px;
        padding:5px;
    }
    caption{

        font-size:15px;
        padding:3px;
    }
    .label {
        color: black;
        min-width:200px;
        text-align:right;
        float:left;
        margin-left:5px;
    }
    label{
        max-width:100%;
        font-weight:bold;
    }
    .suit-columns1{
        width:100%;
    }

    .container-fluid
    {
        padding-right:0px;
        padding-left:0px;
        *zoom:1;
    }
    .container-fluid:before,.container-fluid:after
    {
        display:table;
        content:"";
        line-height:0;
    }
    .container-fluid:after
    {
        clear:both;
    }

    .col-md-12, .col-md-4 , .col-md-3 , .col-md-6{
        position: relative;
        min-height: 1px;
        padding-right: .9375rem;
        padding-left: .9375rem;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-4, .col-md-3, .col-md-6{
        float:left;
        width: 30%;
    }
    .col-md-3 {
        width: 24%;
        padding-left:5px;
        padding-right:5px;
    }
    .col-md-6 {
        width: 45%;
    }

    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1.42857143;


    }

    .fa{
        font-size:25px;

    }
    a{
        text-decoration:none;

    }

</style>

<style>


.info-box {
    cursor: pointer;
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}
.bg-aqua {
    background-color: #00c0ef !important;
}
.info-box-content {
    text-align: center;
    vertical-align: middle;
    display: inherit;
}
.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}
.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.bg-red, .bg-yellow, .bg-aqua, .bg-green{
    color: #fff !important;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}
.bg-red {
    background-color: #dd4b39 !important;
}
.bg-green {
    background-color: #00a65a !important;
}
.info-box {
    cursor: pointer;
}
.bg-yellow {
    background-color: #f39c12 !important;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    text-align:center;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.no-padding {
    padding: 0 !important;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;

}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;

}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.box-body>.table {
    margin-bottom: 0;

}
.box-title{
    font-size:13px !important;
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
#myChart{
    width:100% !important;
    height:100% !important;
    font-size:20px !important;
    display: block;
    vertical-align: baseline;
    background-color:#fff;
}
p {
    margin: 0 0 10px;
}
.text-center{
    text-align:center;
    font-size:15px;
}
.graph_div{
    background-color: #fff;
    margin-right: 10px;
    padding-top:10px;

}
.right_graph_div{
    float: left;
    width: 40%;
    margin-left:0px;
    height:350px;
}
#piechart_3d{
    width:100%;
    height:100%;
}
g >text{
    font-size:15px;
}
.age_div{
    float: left;
    width: 100%;
    margin-top: 10px;
}
.loan_div{
    float: left;
    width: 100%;

    margin-top: 10px;
    height:400px;
}
.suit-columns1 .row.remove-padding {
    margin-left: 0 !important;
    margin-right: 0;
    padding: 0 20px;
}
</style>

<div class="suit-columns1">

        <div style="float:left;width:100%;" class="container-fluid">
            <div class=" remove-padding">


                <div class="col-md-3 col-sm-6 col-xs-12">
                     <a href="/lead/lending-all-details-datewise/" style="color:#000;">
                        <div class="info-box">
                                    <span class="info-box-icon bg-yellow">
                                        <i class="fa fa-file-text-o"></i>
                                    </span>
                            <div class="info-box-content">
                                <span class="info-box-text">
                                        Total <br/>Total Leads
                                </span>
                                <span class="info-box-number">{{lending_total_leads}}</span>
                            </div>
                        </div>
                     </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="/lead/lending-subscribed-user-datewise/" style="color:#000;">
                        <div class="info-box">
                                    <span class="info-box-icon bg-green">
                                        <i class="fa fa-check"></i>
                                    </span>
                            <div class="info-box-content">
                                <span class="info-box-text">
                                        Total<br/>Leads Subscribed
                                </span>
                                <span class="info-box-number">{{lending_total_sub}}</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="/lead/lending-approved-user-datewise/" style="color:#000;">
                        <div class="info-box">
                                    <span class="info-box-icon bg-green">
                                        <i class="fa fa-check"></i>
                                    </span>
                            <div class="info-box-content">
                                <span class="info-box-text">
                                        Total<br/>Leads Approved
                                </span>
                                <span class="info-box-number">{{lending_total_approved}}</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                     <a href="#" style="color:#000;">
                        <div class="info-box">
                                    <span class="info-box-icon bg-red">
                                        <i class="fa fa-close"></i>
                                    </span>
                            <div class="info-box-content">
                                <span class="info-box-text">
                                        Total <br/>Leads Installed

                                </span>
                                <span class="info-box-number">{{count}}</span>
                            </div>
                        </div>
                     </a>
                </div>

                 <div class="col-md-3 col-sm-6 col-xs-12">
                     <a href="/lead/lending-paid-amount-datewise/" style="color:#000;">
                    <div class="info-box">
                        <span class="info-box-icon bg-green" style="background-color: #f70d7d !important;">
                            <i class="fa fa-credit-card" aria-hidden="true"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">
                                Total Amount <br>  Pay
                            </span>
                            <span class="info-box-number">{{lending_total_paid}}</span>
                        </div>
                    </div>
                </div>
            </div>


            </div>

        </div>




</div>


{% endblock %}